{% load i18n kpi %}
{% load inplace_edit %}
{% load tutor_extras %}

{% spaceless %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html >
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


        {% include "modules/base_header.html" %}
        {% include "modules/header_meta.html" %}

        <title>
            {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud {% endblock %}
        </title>

        <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>

        {% block extra_css %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css"
              type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}v1/css/kpi.css" type="text/css"/>


    {% show_facebook_tracking %}

    </head>
    <body class="bg-sm">
    {% block base_menu %}
        {% include "modules/base_menu.html" %}
    {% endblock %}

    <div id="loading" style="display: none;"><img src="{{ STATIC_URL }}img/csb/saving.gif"> {% trans "Loading ..." %}
    </div>
    {% block landing %}{% endblock %}

    <div class="main main-top" {% block style %}{% endblock %}>
        {% block content %}
        {% endblock %}
    </div>

    {% block master_footer %}
    {% endblock %}

{#    {% if not user|is_ready %}#}
{#        <div class="alert" style="position: fixed;bottom: 0;left: 33%;z-index: 999;">#}
{#            <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#            <h4>{% trans 'Warning' %}!</h4>#}
{#            {% blocktrans %}The system is copying data. Please wait some minutes.{% endblocktrans %}#}
{#        </div>#}
{#    {% endif %}#}
    <div id="ballsWaveG" class="hide">
        <div id="ballsWaveG_1" class="ballsWaveG"></div>
        <div id="ballsWaveG_2" class="ballsWaveG"></div>
        <div id="ballsWaveG_3" class="ballsWaveG"></div>
        <div id="ballsWaveG_4" class="ballsWaveG"></div>
        <div id="ballsWaveG_5" class="ballsWaveG"></div>
        <div id="ballsWaveG_6" class="ballsWaveG"></div>
    </div>

    <script src="{{ STATIC_URL }}videolb/jquery.tools.min.js?v={{ settings.VERSION }}20140417"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.min.js?v={{ settings.VERSION }}20140417"
            type="text/javascript"></script>
    {#	<script src="{{ STATIC_URL }}videolb/videolightbox.js?v={{ settings.VERSION }}20140417" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}tooltipster/jquery.tooltipster.min.js" type="text/javascript"></script>
    {% inplace_static %}

    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $('#ballsWaveG').fadeIn();
        });
        $(document).ajaxStop(function () {
            $('#ballsWaveG').fadeOut();
        });
        $(document).mouseup(function (e) {
            var container = $("#dropdown-acc");
            if (container.has(e.target).length === 0) {
                container.hide();
            }
        });


        $(document).ready(function () {
            $('.selectpicker').selectpicker({width: '60px'});
            $('.selectpicker').change(function () {
                $('#lang-form').submit();
            });

            {# 			$(".survey").tooltipster({contentAsHTML: true,#}
            {# 				maxWidth: 450,#}
            {# 				animation: 'fade',#}
            {# 				trigger: 'hover',#}
            {# 				content: "Cloudjet Solutions (CJS) trân trọng cảm ơn anh/chị đã tin tưởng sử dụng dịch vụ của CJS trong thời gian vừa qua. <br>" +#}
            {# 						 "Nhằm mục đích cải thiện và nâng cao chất lượng phục vụ, rất mong anh/chị dành thời gian để làm khảo sát này."#}
            {##}
            {# 			});#}
            {##}
            {# 			if (!getCookie('survey') && location.pathname != "/company/home/") {#}
            {# 				$(".survey").tooltipster('show');#}
            {# 				setTimeout(function (){#}
            {# 					$(".survey").tooltipster('hide');#}
            {# 					setCookie('survey', 1, 24*2)#}
            {# 				}, 4000)#}
            {# 			}			#}
        });

        $(document).ajaxStart(function () {
            $("#xloading").show();
        });

        $(document).ajaxStop(function () {
            $("#xloading").hide();
        });
    </script>

    {% include "support.html" %}
    {% include "modules/browser-force.html" %}
    </body>
    </html>
{% endspaceless %}
