{% load i18n kpi %}

<!DOCTYPE html >

<html>
<head>
    <meta name="description" content="Cloudjet Business Solutions"/>
    <meta name="keywords" content="Cloudjet Business Solutions "/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    {% include "kpi_modules/bsc_head.html" %}
    {% include "components/supports/nps-system/index.html" %}

    <title>
        {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud{% endblock %}
    </title>

    <link rel="icon" href="{{ STATIC_URL }}favicon.ico"/>
    <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>


    {#    {% include "raven.html" %}#}

    {#     <script>#}
    {#            !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";#}
    {#                analytics.load("6OgaEJ26fgpO2GHpQ3q7ZVK3RRPZOK8w");#}
    {#                analytics.page();#}
    {#                analytics.identify();#}
    {#            }}();#}
    {#        </script>#}


    <link rel="stylesheet" href="{{ STATIC_URL }}v5/bower_components/material-icon/material-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}v1/css/kpi.css?v={{ settings.VERSION }}" type="text/css"/>
    {% block extra_css %}
    {% endblock %}
</head>

<body>

{% block vue_component_declarations %}
{% endblock %}
<div id="container">
    <!--MSG Expired-->
    <nav class="navbar navbar-default navbar-static-top" id="msg-expired"
         v-if="organization.enable_to_edit == false && is_user_system == false">
        <div class="container-fluid padding-left-10">
            <i class="fa fa-exclamation-triangle icon-warning"></i>
            <a href="/performance/schedule/" target="_blank">
                {% trans "NOTICE: The KPI has expired, please contact your system administrator if necessary" %}.
            </a>
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size:20px"
               onclick="close_msg_expired()">&times;</a>
        </div>
    </nav>
    <!--End-->
    {#    {% if user|is_kpi_acc_expired %}#}
    {#        <header id="header" class="navbar navbar-static-top" style="margin-bottom:0px;">#}
    {#            {% block header %}#}
    {#                <div class="container-fluid">#}
    {##}
    {#                    <!-- Button trigger modal -->#}
    {#                    <button type="button" class="btn btn-warning btn-block" data-toggle="modal"#}
    {#                            data-target="#kpi-acc-expire-modal" style="">#}
    {#                        <i class="fa fa-exclamation-triangle"></i>#}
    {#                        Tài khoản của công ty đã hết hạn sử dụng. Vui lòng liên hệ Cloudjet để gia hạn sử dụng.#}
    {#                    </button>#}
    {##}
    {#                </div>#}
    {#            {% endblock %}#}
    {#        </header>#}
    {#    {% endif %}#}
    <!--Menu ADD-->
    <nav class="navbar navbar-default navbar-static-top" id="nav-header-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'kpi_dashboard' %}"
                   style="background-image: url({{ STATIC_URL }}img/logo/cloudjet-kpi.png);" id="logo-cjs"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav nav-left">
                        <li id="home">
                            <a class="NAV_BTN_HOME" href="{% url 'kpi_dashboard' %}">
                                <img src="{{ STATIC_URL }}img/icn-home.svg">{% trans "Home" %}
                            </a>
                        </li>
                        <li id="team">
                            <a class="NAV_BTN_TEAM" href="/performance/team/">
                                <img src="{{ STATIC_URL }}img/icn-team.svg">{% trans "Team" %}
                            </a>
                        </li>
                        {% if user.profile.is_superuser_org %}
                            <li id="org">
                                <a class="NAV_BTN_ORG" href="{% url 'people' %}">
                                    <img src="{{ STATIC_URL }}img/icn-people.svg">{% trans "Org Chart" %}
                                </a>
                            </li>
                        {% endif %}
                        <li id="strategy">
                            <a class="NAV_BTN_STM" href="{% url 'company_strategy_map_detail_v2' %}">
                                <img src="{{ STATIC_URL }}img/icn-strategy-map.svg">{% trans "Strategy map" %}
                            </a>
                        </li>
                        <li class="dropdown" id="advanced">
                            <a href="#" class="dropdown-toggle advanced_color" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="{{ STATIC_URL }}img/icn-advance.svg">{% trans "Advanced" %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if user.profile.is_superuser_org %}
                                    <li>
                                        <a class="NAV_DDL_CS" href="{% url 'basic_view' %}">
                                            <i class="material-icons font-16">&#xE8B8;
                                                <!--setting--></i>{% trans 'Basic Setup' %}
                                        </a>
                                    </li>
                                    <li class="border-bottom NAV_DDL_SS">
                                        <a class="NAV_DDL_SS" href="{% url 'schedule' %}">
                                            <i class="material-icons font-16">&#xE916;
                                                <!--date range--></i>{% trans 'Setting Schedule' %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="NAV_DDL_ELS" href="javascript:void(0)" onclick="call_modal('score')">
                                        <i class="material-icons font-16">&#xE242;
                                            <!--format list number--></i>{% trans 'Employee List and Scores' %}
                                    </a>
                                </li>
                                <li class="border-bottom">
                                    <a href="/performance/report/" class="NAV_DDL_RE">
                                        <i class="material-icons font-16">&#xE2C4;
                                            <!--file download--></i>{% trans 'Export report' %}
                                    </a>
                                </li>
                                {% if user.profile.is_superuser_org %}
                                    <li>
                                        <a class="NAV_DDL_ATE" href="{% url 'auto_mail_view' %}">
                                            <i class="material-icons font-16">&#xE0BE;
                                                <!--email--></i>{% trans 'Auto Mail' %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="NAV_DDL_IPK" href="{% url 'import_kpis' %}" target="_blank">
                                        <i class="material-icons font-16 ">&#xE2C6;
                                            <!--file upload--></i>{% trans "Import KPI" %}
                                    </a>
                                </li>
                                {% if user.profile.is_superuser_org %}
                                    <li>
                                        <a class="NAV_DDL_IPU" href="{% url 'import_users' %}" target="_blank">
                                            <i class="material-icons font-16">&#xE2C6;
                                                <!--file upload--></i>{% trans "Import user" %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown one" id="help">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><img src="{{ STATIC_URL }}img/icn-help.svg">{% trans "help" %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#"><i class="fa fa-question" style="margin-right:5px;"></i> {% trans 'Quick Support' %}</a></li>-->
                                <li><a class="NAV_DDL_KB" href="http://kb.cjs.vn"
                                       target="_blank"> {% trans 'Support Library' %}</a></li>
                                <li><a class="NAV_DDL_HELP" href="http://help.cjs.vn"
                                       target="_blank"> {% trans 'Request' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                <hr class="divide"/>
                <ul class="nav" id="nav-bottom">
                    <li class="dropdown ">
                        {% get_current_language as language_code %}
                        {% get_language_info for language_code as lang %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="{{ STATIC_URL }}img/flags/{{ lang.code }}-sm.png" class="flag"/>
                            <p>{% trans lang.name %}</p>
                        </a>
                        <form action="/i18n/setlang/" method="post" style="display: none" id="language1"
                              class="NAV_DDL_LANG">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            {% if language_code == "en" %}
                                <input type="hidden" name="language" value="vi"/>
                            {% elif language_code == "vi" %}
                                <input type="hidden" name="language" value="en"/>
                            {% endif %}
                        </form>
                    </li>
                    <li id="personal1"><a class="NAV_DDL_PS" href="/account/setting/">
                        <img src="{{ STATIC_URL }}img/icn-personal.svg">
                        <p>{% trans "Personal" %}</p></a></li>
                    <li><a class="NAV_DDL_LOGOUT" href="/logout/">
                        <img src="{{ STATIC_URL }}img/icn-logout.svg">
                        <p>{% trans "Sign Out" %}</p></a></li>
                </ul>
                <div id="nav-right">
                    <ul class="nav navbar-nav">
                        <li id="notification" class="{{ ACTIVE_MENU }} mg-t-0">
                            <a href="#" class="dropdown-toggle icon-notification NAV_ICN_NOTI" @click="update_unread()"
                               data-toggle="dropdown">
                                <span class="badge_notification">
                                    <i class="material-icons NAV_ICN_NOTI" style="font-size: 30px">&#xe7f4;</i>
                                <span class="badge-notify" v-text="get_count_notification()"
                                      v-if="notifications.unread_list.length"></span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" id="form-notification">
                                <div class="dropdown-header">
                                    <span>{% trans "Notitfication" %}</span>
                                </div>
                                <div class="dropdown-body"
                                     :style="[notifications.data.length < 2 ? {height:'unset'} : {}]">
                                    <ul class="list-unstyled" v-if="notifications.data.length>0">
                                        <li v-for="notification in notifications.data"
                                            :class="{'unread': notifications.unread_list_now.indexOf(notification.id) != -1}"
                                            onclick="window.location.href='/performance/notifications'">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="avatar">
                                                        <img :src="notification.actor_avatar"
                                                             :alt="notification.actor_name">
                                                    </div>
                                                </div>
                                                <div class="col-md-10" style="padding-left: 0px;">
                                                    <div class="content">
                                                        <span class="display_name"
                                                              v-if="notification.type_notification == 'change_log'">
                                                            <b>{% trans 'Cloudjet KPI has new features' %}: </b></span>
                                                        <span class="display_name" v-else><b
                                                                v-text="notification.actor_name + ': '"></b></span>
                                                        <span class="action"
                                                              v-if="notification.type_notification == 'change_log'">
                                                            <span class="version">
                                                                {% trans 'Version' %}
                                                                <span v-text="notification.version"></span>
                                                            </span>
                                                            <span class="release_date">
                                                                {% trans 'updated' %}
                                                                <span v-text="notification.release_date"></span>
                                                            </span>
                                                            <span class="content_action"
                                                                  v-html="notification.description"></span>
                                                        </span>
                                                        <span class="action" id="notification-action" v-else>
                                                            <span v-html="notification.description"></span>
                                                        </span>
                                                        {#                                                        <span v-text="notification.description.split('\n')[0]"></span>#}
                                                        {#                                                        <br >#}
                                                        {#                                                        <span v-text="notification.description.split('\n')[1]"></span>#}
                                                        {#                                                                <span v-text="notification.description.split('\n')[2]"></span>#}
                                                        {#                                                        <br >#}
                                                        <!--<span class="action" v-text="notification.description"></span>-->
                                                        <!--<br>-->
                                                    </div>
                                                    <div class="time">
                                                        <small v-text="convert_date(notification.timestamp)"></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p v-if="notifications.data.length == 0 "
                                   class="message-empty">{% trans "Messages empty" %}</p>
                                <div class="dropdown-footer text-center" v-if="notifications.data.length>1">
                                    <a class="NAV_LINK_VIEWALL"
                                       href="/performance/notifications">{% trans "View all" %}</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown" id="language">
                            {% get_current_language as language_code %}
                            {% get_language_info for language_code as lang %}
                            <a href="#" class="dropdown-toggle NAV_DDL_LANG" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <img src="{{ STATIC_URL }}img/flags/{{ lang.code }}-sm.png"
                                     class="flag NAV_DDL_LANG"/><span
                                    class="caret"></span>
                                <p>{% trans lang.name %}</p>
                            </a>
                            <ul class="dropdown-menu" id="form-language">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    {% if language.code != language_code %}
                                        <li onclick="$('#form-language').submit();">
                                            <form action="/i18n/setlang/" method="post">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                                <input type="hidden" name="language" value="{{ language.code }}"/>
                                                <a><i><img
                                                        src="{{ STATIC_URL }}img/flags/{{ language.code }}-sm.png"
                                                        alt="{{ language.code }}"
                                                        class="flag"/></i><span>{% if language.code == 'vi' %}
                                                    {% trans language.name %} {% else %}
                                                    {{ language.name }} {% endif %} </span></a>
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-logo avatar" role="button" data-toggle="dropdown"
                               aria-expanded="false" aria-haspopup="true">
                                <span>
                                    <img src="{{ user.profile.get_avatar }}"/>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-right">
                                <li class="per-name">{{ user.profile.get_display_name }}</li>
                                <li id="personal2">
                                    <a href="/account/setting/" class="NAV_DDL_PS">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 16 16">
                                            <path class="per-icon" fill="#333" fill-rule="nonzero"
                                                  d="M3.84 6.755A3.394 3.394 0 0 1 .037 2.89a.203.203 0 0 1 .343-.113l1.03 1.027a1.246 1.246 0 0 0 1.765 0l.631-.631a1.246 1.246 0 0 0 0-1.765L2.78.38a.202.202 0 0 1 .113-.343A3.395 3.395 0 0 1 6.758 3.84c-.06.442.093.89.409 1.207l.8.8-.754.752-1.09-1.09a.435.435 0 0 0-.615.615l1.09 1.087-.754.75-.798-.797a1.436 1.436 0 0 0-1.206-.409zm6.272 1.207l4.659 4.656c.587.59.587 1.547-.003 2.137-.591.59-1.548.594-2.138.004l-4.662-4.66.762-.758 4.524 4.522a.44.44 0 0 0 .62-.62L9.352 8.72l.761-.758zm1.289-2.407L6.22 10.713l.95.95-3.752 3.75a2.001 2.001 0 0 1-2.831-2.828l3.753-3.75.932.928 5.178-5.159V2.701L14.26.8l.951.95-1.905 3.805h-1.905z"/>
                                        </svg>
                                        {% trans "Personal setting" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/" class="NAV_DDL_LOGOUT">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                             viewBox="0 0 15 16">
                                            <g class="per-icon" fill="#333" fill-rule="nonzero">
                                                <path d="M11 3.56V.8c0-.44-.345-.8-.767-.8H.767C.345 0 0 .36 0 .8V12.104a.82.82 0 0 0 .41.706l5.832 3.146c.256.134.563-.053.563-.36V12.53h3.428c.422 0 .767-.36.767-.8V7.359H9.465v3.173c0 .227-.166.4-.384.4H6.817V4.145a.82.82 0 0 0-.409-.706L2.968 1.6H9.08c.218 0 .384.174.384.4v1.574H11v-.014z"/>
                                                <path d="M12.567 2.263l2.22 2.647a.924.924 0 0 1 0 1.181l-2.22 2.648c-.285.339-.717.353-1.002.013-.273-.325-.239-.869.023-1.194l1.002-1.181H8.708a.631.631 0 0 1-.512-.272c-.319-.407-.24-1.127.17-1.398a.64.64 0 0 1 .342-.109h3.882s-.99-1.18-1.002-1.18c-.262-.313-.296-.87-.023-1.182.273-.326.717-.312 1.002.027z"/>
                                            </g>
                                        </svg>
                                        {% trans "Sign Out" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </nav>
    <div id="support" v-cloak>
        <el-popover
                popper-class="support_nps_popup"
                placement="right"
                width="413"
                trigger="manual"
                v-show="show_icon_nps && !show_nps"
                v-model="open_popup">
            <div class="header color_default"><b>Giúp chúng tôi phục vụ bạn tốt hơn</b></div>
            <div class="body color_default">Bằng cách chia sẻ trải nghiệm của bạn về sản phẩm.</div>
            <div class="footer">
                <div class="row">
                    <div class="col-md-6">
                        <el-button type="primary" class="btn-system" @click="handle_rate_nps()">Thực hiện đánh giá
                        </el-button>
                    </div>
                    <div class="col-md-6">
                        <el-button type="text" class="btn-system" @click="update_rate_date()"><u>Tôi sẽ đánh giá lần
                            sau</u></el-button>
                    </div>
                </div>
            </div>
            <el-button slot="reference" type="text" @click="open_popup = true"
                       class="icon_nps">
                <img src="{{ STATIC_URL }}img/supports/icon_nps_support.svg"
                     alt="Đánh giá trải nghiệm hệ thống">
            </el-button>
            <div class="btn_close">
                <button type="button" aria-label="Close" @click="open_popup = false"
                        class="el-message-box__headerbtn"><i
                        class="el-message-box__close el-icon-close"></i></button>
            </div>
        </el-popover>
        <nps-system v-if="show_nps" @completed="update_rate_date()" @rollback="show_rate_nps()"/>
    </div>
    {% include "performance/bsc/worksheet/modals/kpi_report.html" with manager_id=user.id manager=user quarters=user.get_profile.get_organization.get_all_quarter_period %}

    <script>

        var v2 = new Vue({
            el: '#report-modal',
            data: {
                current_quarter_id: '',
            },
        });

        var vue_support = new Vue({
            el: '#support',
            data: {
                show_nps: false,
                open_popup: false,
                show_icon_nps: true,
                DATE_RATE: localStorage.getItem('DATE_RATE_NPS')
            },
            created() {
                if (!this.DATE_RATE) {
                    this.DATE_RATE = new Date();
                    localStorage.setItem('DATE_RATE_NPS', this.DATE_RATE);
                }
                this.check_show_nps();
            },
            methods: {
                handle_rate_nps() {
                    this.open_popup = false;
                    this.show_icon_nps = false;
                    this.show_nps = true;
                },
                check_show_nps() {
                    if (this.DATE_RATE && this.DATE_RATE != 'accept') {
                        var date = new Date(this.DATE_RATE);
                        var now = new Date();
                        var month_sub = (now.getTime() - date.getTime()) / 2592000000;
                        /*60000*60*24*30*/
                        if (month_sub < 2) {
                            this.open_popup = false;
                            this.show_icon_nps = false;
                            this.show_nps = false;
                        }
                        return;
                    }
                    this.show_icon_nps = true;
                },
                update_rate_date() {
                    localStorage.setItem('DATE_RATE_NPS', new Date());
                    this.open_popup = false;
                    this.show_icon_nps = false;
                    this.show_nps = false;
                },
                show_rate_nps() {
                    localStorage.setItem('DATE_RATE_NPS', 'accept');
                    this.open_popup = false;
                    this.show_icon_nps = true;
                    this.show_nps = false;
                }
            }
        });

        var v1 = new Vue({
            el: '#nav-header-1',
            data: {
                notifications: {
                    data: [],
                    prev: '',
                    next: '',
                    count: '',
                    unread_list: [],
                    unread_list_now: [],
                },
                eazy_load: true,
                current_quarter_id: '',
            },
            created: function () {
                this.get_notifications();
            },
            methods: {
                get_notifications: function () {
                    var that = this;

                    cloudjetRequest.ajax({
                        url: '{% url "api_v2.notifications" request.user.id %}',
                        type: 'GET',
                        success: function (data) {
                            requestcenterHideNotification();
                            if (that.notifications && data) {
                                that.notifications.data = that.notifications.data.concat(data.results);
                                that.notifications.unread_list = data.unread_list;
                                that.notifications.unread_list_now = data.unread_list;
                                that.notifications.prev = data.previous;
                                that.notifications.next = data.next;
                                that.notifications.count = data.previous;
                            }
                        },
                        error: function () {

                        }
                    })
                },
                convert_date: function (date) {
                    var now = new Date();
                    date = new Date(date);
                    var differenceTravel = now.getTime() - date.getTime();
                    var diffmin = differenceTravel / (1000 * 60);
                    var diffHours = diffmin / (60);
                    var diffDay = diffHours / (24);
                    if (diffDay >= 1.5) {
                        return date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear() + ' {% trans "at" %} ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
                    }
                    if (diffDay < 1.5 && diffDay >= 1) {
                        return (parseInt(diffDay)) + ' {% trans "days ago" %}';
                    }
                    if (diffHours >= 1) {
                        return (parseInt(diffHours)) + ' {% trans "hours ago" %}';
                    }
                    if (diffmin < 60) {
                        return (parseInt(diffmin)) + ' {% trans "minutes ago" %}';
                    } else {
                        return '{% trans "recent" %}';
                    }
                },
                get_count_notification: function () {
                    return (this.notifications.unread_list.length > 9) ? '9+' : !this.notifications.unread_list.length ? '' : this.notifications.unread_list.length;
                },
                update_unread: function () {
                    var that = this;
                    if (!'{{ ACTIVE_MENU }}' && that.notifications.unread_list.length) {
                        cloudjetRequest.ajax({
                            url: '{% url "api_v2.notifications" request.user.id %}',
                            data: JSON.stringify({unread_list: that.notifications.unread_list}),
                            type: 'POST',
                            success: function (data) {
                                that.notifications.unread_list = []
                            },
                            error: function () {
                                console.log('update error');
                            }
                        })
                    }
                }
            }
        });
        $("#notification").on("show.bs.dropdown", function (event) {
            $('body').attr('style', 'overflow-y :scroll !important; position: fixed; width: 100%;');
        });
        $("#notification").on("hide.bs.dropdown", function (event) {
            $('body').attr('style', 'overflow-y :scroll !important; position: static; width: 100%;');
        });
        $('.dropdown-body').on('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                if (v1.notifications.next && v1.eazy_load) {
                    v1.eazy_load = false;
                    cloudjetRequest.ajax({
                        url: v1.notifications.next,
                        type: 'GET',
                        success: function (data) {
                            requestcenterHideNotification();
                            v1.notifications.data = v1.notifications.data.concat(data.results);
                            v1.notifications.prev = data.previous;
                            v1.notifications.next = data.next;
                            v1.eazy_load = true;
                        },
                        error: function () {
                            console.log('update error');
                        }
                    })
                }
            }
        });

        function close_msg_expired() {
            $("#nav-header-1").css('top', '0px');
            $("#content").css('margin-top', '70px');
            $("#msg-expired").remove();
            localStorage.setItem('status_msg_expired', true);
        }

        $(function () {
            $("#nav-header-1").addClass('navbar-fixed-top');
            $("#content").css('margin-top', '70px');
            var pathname = window.location.pathname; // Returns path only
            if (pathname.includes("strategy-map-v2")) {
                $("#strategy").addClass(' active');
                $("#msg-expired").remove();
                //$("#container").css('background','#f9f9f9');
            }
            else if (pathname.includes("performance/kpi-editor")) {
                $("#home").addClass(' active');
                $(".new-footer").show();
                if (v.organization.enable_to_edit == false && v.is_user_system == false && localStorage.getItem('status_msg_expired') == 'false') {
                    $("#msg-expired").show();
                    $("#nav-header-1").css('top', '39px');
                }
                else {
                    $("#nav-header-1").css('top', '0px');
                }
                if (v.is_user_system == true)
                    localStorage.setItem('status_msg_expired', 'true');
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 0) {
                        $("#nav-header-1").addClass('navbar-fixed-top');
                        $("#msg-expired").addClass('navbar-fixed-top');
                        $("#nav-header-1").css('top', '39px');
                        if (v.organization.enable_to_edit == true || (v.organization.enable_to_edit == false && v.is_user_system == true) || (v.organization.enable_to_edit == false && v.is_user_system == false && localStorage.getItem('status_msg_expired') == 'true') || localStorage.getItem('status_msg_expired') == 'true') {
                            $("#nav-header-1").css('top', '0px');
                        }
                    } else {
                        if (v.organization.enable_to_edit == false && v.is_user_system == false && localStorage.getItem('status_msg_expired') == 'false') {
                            $("#content").css('margin-top', '109px');
                        } else {
                            $("#content").css('margin-top', '70px');
                        }
                    }
                })
            }
            else {
                $("#msg-expired").remove();
                switch (pathname) {
                    case "/performance/team/":
                        $("#team").addClass(' active');
                        break;

                    case "/performance/people/":
                        $("#org").addClass(' active');
                        break;

                    case "/account/setting/":
                        $("#personal1").addClass('open');
                        $("#personal2").addClass('open');
                        break;

                    case "/performance/score/":
                        $("#advanced").addClass(' active');
                        break;

                    case "/performance/report/":
                        $("#advanced").addClass(' active');
                        break;

                    case "/performance/basic/":
                        $("#advanced").addClass(' active');
                        break;

                    case "/performance/schedule/":
                        $("#nav-header-1").addClass('navbar-fixed-top');
                        $("#advanced").addClass(' active');
                        break;

                    case "/performance/auto-mail/":
                        $("#advanced").addClass(' active');
                        break;
                }
            }
        });
        $('#form-language li a').click(function () {
            //alert('click');
            $(this).closest('form').submit();
        });
        $('#nav-bottom li a').click(function () {
            //alert('click');
            $('#language1').submit();
        });

        function call_modal(report_type) {
            var title = ""
            if (report_type == 'goal') {
                title = "{% trans 'Goals and Outcomes by person by round' %}";
            } else if (report_type == 'self_assessment') {
                title = "{% trans 'Self Assessment Review Status' %}";
            } else if (report_type == 'score') {
                title = "{% trans 'Employee List and Scores' %}";
                $('#popup-score-generate-report #score-modal-title').html(title);
                $('#popup-score-generate-report #score-report-type').val(report_type);
                $('#popup-score-generate-report').modal('toggle');
            } else if (report_type == 'dev_plan') {
                title = "{% trans 'Dev Plan Contents by round' %}";
            }
            $('#report-modal .modal-title').html(title);
            $('#tin-report-type').val(report_type);
            $('#report-modal').modal('toggle');
        }

        $('#report-modal').on('show.bs.modal', function () {
            get_current_quater_id();
        });

        function get_current_quater_id() {
            if (v2.current_quarter_id == '') {
                cloudjetRequest.ajax({
                    type: 'get',
                    async: false,
                    url: '{% url "quarter" %}' + '?get_current_quarter=yes',
                    success: function (data) {
                        v2.current_quarter_id = data.fields.id;
                    },
                    error: function () {
                        v2.current_quarter_id = '';
                    },
                });
            }
        };
    </script>
    <!--</div>-->

    <div id="content" class="mg-l-0">
        {% block content %} {% endblock %}
    </div>
    <div class="new-footer" style="display:none">
        <div class="row">
            <div id="info-1" class="col-lg-2 col-md-3">
                                      <span class="small version">
                                          {% trans "Version" %}
                                                        {{ settings.VERSION_SHORT }}
                                      </span>


                {#                   <img src = "{{ STATIC_URL }}images/discord-logo.png" style="width:20px;height:23px"><span style="color:#7289da"> <a target="_blank" href="https://discord.gg/MZJePBJ">{% trans "Discord support" %}</a></span>#}
            </div>
            <div id="info-2" class="col-lg-5 col-md-6 text-center">
                <span class="content">{% trans "Another support" %}</span>
                <span class="HOME_LINK_FOOTER_KB"><a class="HOME_LINK_FOOTER_KB" target="_blank"
                                                     href="http://kb.cjs.vn">{% trans 'Support Library' %}</a></span>
                <span class="HOME_LINK_FOOTER_HELP"><a class="HOME_LINK_FOOTER_HELP" target="_blank"
                                                       href="http://help.cjs.vn">{% trans "Request" %}</a></span>
                <span class="HOME_LINK_FOOTER_EMAIL"><a class="HOME_LINK_FOOTER_EMAIL" target="_blank"
                                                        href="mailto:help@cloudjetkpi.com">Email</a>
                       </span>
            </div>
            <div id="info-2" class="col-lg-4 col-md-6 text-center">
                <span class="content">{% trans "Download application" %}</span>
                <span class="HOME_LINK_FOOTER_ANDROID"><a class="HOME_LINK_FOOTER_ANDROID" target="_blank"
                                                          href="https://play.google.com/store/apps/details?id=com.mobile.cloudjet">Android</a></span>
                <span class="HOME_LINK_FOOTER_IOS"><a class="HOME_LINK_FOOTER_IOS" target="_blank"
                                                      href="https://itunes.apple.com/us/app/cloudjet-kpi/id1273667663?mt=8">iOS</a></span>
                <span class="HOME_LINK_FOOTER_WIN"><a class="HOME_LINK_FOOTER_WIN" target="_blank"
                                                      href="{{ STATIC_URL }}app/desktop/Cloudjet_KPI_Win_1.0.0.exe">Windows App</a></span>

            </div>
        </div>
    </div>
    {% block extra_js %}
    {% endblock %}
</div>
{% block landing %}{% endblock %}

<script type="text/javascript">
    $(".review_picker").selectpicker();
</script>
{##}
{#{% if user|is_kpi_acc_expired %}#}
{#    <!-- KPI account Expiration modal -->#}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="kpi-acc-expire-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#        <div class="modal-dialog modal-lg" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                            aria-hidden="true">&times;</span></button>#}
{#                    <h4 class="modal-title" id="myModalLabel">Thông báo hạn sử dụng</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <img src="{{ STATIC_URL }}kpi-img/kpi_account_expired.jpg?v={{ VERSION }}"#}
{#                         alt="Tài khoản KPI hết hạn sử dụng"#}
{#                         style="width:100%;"/>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <script type="text/javascript">#}
{#        $("#kpi-acc-expire-modal").modal('show');#}
{#    </script>#}
{#{% endif %}#}

{% include "support3.html" %}
{#{% include "support.html" %}#}
{#{% include "notifications/toastr.html" %}#}

</body>
</html>
