{% extends 'v5/base_import.html' %}
{% load i18n %}
{% load inplace_edit %}

{% block title %}{{ block.super }}{% endblock %}

{% block extra_css %}


    {% inplace_static %}
{% endblock %}

{% block content %}

    <script type="text/x-template" id="home-template">
        <div>
            <div class="col-md-12">
                <h3>{% trans "KPI Code" %}</h3>
            </div>
            <div class="col-md-4">
                <p><input v-model="code" @change="update_kpi_template(); filter_users();" class="form-control"/></p>

            </div>
            <div class="col-md-8">
                {#                <h3>Current codes </h3>#}
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="table-header">


                        <td colspan="9">
                            <a v-if="template_kpi != null" target="_blank"
                               v-bind:href="'/performance/search/?q=id:' + template_kpi.id">
                                <i class="glyphicon glyphicon-search"></i>
                                {% trans "View Template KPI:" %} <b>${ code }$</b>

                            </a>

                            <span v-if="template_kpi == null"> {% trans "Template KPI not existed" %} </span>
                        </td>


                    </tr>
                    <tr v-if="template_kpi != null">
                        <td>{% trans "Name" %}</td>
                        <td>{% trans "In Charge" %}</td>
                        <td>{% trans "Unit" %}</td>
                        <td>{% trans "Measurement" %}</td>
                        <td>{% trans "Operator" %}</td>
                        <td>Q1</td>
                        <td>Q2</td>
                        <td>Q3</td>
                        <td>Q4</td>

                    </tr>
                    <tr v-if="template_kpi != null">
                        <td>${ template_kpi.name }$</td>
                        <td>${ template_kpi.owner_email }$</td>
                        <td>${ template_kpi.unit }$</td>
                        <td>${ template_kpi.current_goal }$</td>
                        <td>${ template_kpi.operator }$</td>
                        <td>${ template_kpi.quarter_one_target }$</td>
                        <td>${ template_kpi.quarter_two_target }$</td>
                        <td>${ template_kpi.quarter_three_target }$</td>
                        <td>${ template_kpi.quarter_four_target }$</td>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <hr/>

            <div class="col-md-12">
                <p>
                    <input class="form-control" placeholder="search: queries or manager:[manager_email] "
                           v-model="query" @change="filter_users();"
                    />
                </p>
                <p>
                    <button @click="filter_users();" class="btn btn-primary">{% trans "Search" %}</button>
                </p>

            </div>

            <p>
                Page <select v-model="page" @change="filter_users()">
                <option v-for="p in total_pages">
                    ${ p }$
                </option>

            </select>
            </p>
            <table class="table table-striped table-bordered">
                <thead>

                <tr class="table-header">
                    {#                    <th>{% trans "Employee ID" %}</th>#}
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Total KPIs" %}</th>
{#                    <th>{% trans "Total Weight" %}</th>#}
                    <th>{% trans "Position" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Report To" %}</th>
                    <th>[KPI Code] ${ code }$</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in users">
                    {#                    <td><b>#}
                    {#                        ${ user.employee_code }$</b>#}
                    {#                    </td>#}
                    <td>${ user.display_name }$

                    </td>
                    <td>${ user.get_total_kpis_parent }$

                    </td>
{#                    <td>${ user.total_weighting_score }$#}
{##}
{#                    </td>#}
                    <td>${ user.title }$

                    </td>
                    <td>${ user.phone }$

                    </td>
                    <td>${ user.email }$

                    </td>
                    <td>${ user.report_to_email }$
{#                    <td>${ user.parent.user.email }$#}

                    </td>
                    <td>
                        <a v-bind:href="'/performance/search/?q=' + code + ' email:' + user.email" target="_blank"
                           v-if="user.kpi_template > 0" style="color:green;"> {% trans "KPI Added" %} &raquo; {% trans "View it" %}</a>
                        <button @click="copy_kpi(index)" class="btn" v-if="!user.kpi_template > 0"
                                style="color:red;"> {% trans "Add Template KPI" %}
                        </button>


                    </td>
                    <td>
                        <a v-bind:href="'/performance/email_redirect/?type=editor&email='+ user.email " target="_blank">{% trans "Editor" %}</a>
                    </td>
                    <td><a v-bind:href="'/performance/email_redirect/?type=team&email='+ user.email " target="_blank">{% trans "Team" %}</a>
                    </td>
                    <td><a v-bind:href="'/performance/email_redirect/?type=people&email='+ user.email " target="_blank">{% trans "People" %}</a>

                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div class="container" id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                        <a class="navbar-brand" href="#">{% trans 'General KPIs' %}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/performance/kpi-editor/">{% trans "Home page" %}</a>
                    </li>

                </ul>
            </div>
        </nav>


        <router-view></router-view>

        <script>

            var code = '';
            var query = '';
            var page = 1;
            var total_pages = 1;
            var template_kpi = null;
            var users = [];

            var is_error = false;

            var error_msg = '';


            const Home = {
                        template: '#home-template',
                        //  template : "<div>abc</div>",
                        data: function () {
                            return {users, code, is_error, template_kpi, query, page, total_pages}
                        },
                        methods: {


                            init: function () {

                                that = this;

                                //  document.getElementById('drop').addEventListener('drop', that.handleDrop, false);


                            },
                            get_total_users: function () {
                                that = this;
                                cloudjetRequest.ajax({
                                    type: "GET",
                                    url: '{% url "total_user" %}',

                                    success: function (dt) {
                                        console.log('total_user');

                                        var total = Math.ceil(dt['total_users'] / 50)
                                        that.total_pages = Array.apply(null, Array(total)).map(function (_, i) {
                                            return i + 1;
                                        });


                                    },

                                    contentType: "application/json"

                                })

                            },

                            update_kpi_template: function () {
                                that = this;
                                var data = {'command': 'kpi_template', 'code': that.code};
                                cloudjetRequest.ajax({
                                    type: "POST",
                                    url: '{% url "kpi_services" %}',
                                    data: JSON.stringify(data),
                                    success: function (dt) {
                                        console.log('kpi_services');
                                        that.template_kpi = dt;


                                    },
                                    error: function(jqXHR, textStatus){
                                        //  alert('failed');
                                    that.template_kpi = null;

                                    try {
                                        //   employee.msg = "Added failed: " + jqXHR.responseJSON['message'];
                                    } catch (err) {
                                    }
                                    },
                                    contentType: "application/json"

                                });
                            },
                            copy_kpi: function (index) {
                                that = this;

                                if (that.template_kpi == null) {
                                    alert('Chưa xác định KPI Mẫu!');
                                    return false;
                                }

                                var data = {
                                    'command': 'copy_kpi_to_user',
                                    'kpi_id': that.template_kpi.id,
                                    'user_id': that.users[index].user
                                };
                                cloudjetRequest.ajax({
                                    type: "POST",
                                    url: '{% url "kpi_services" %}',
                                    data: JSON.stringify(data),
                                    success: function (dt) {
                                        console.log('kpi_services: copy_kpi_to_user -> success');
                                        var new_kpi = dt;
                                        var user = that.users[index];
                                        user.kpi_template = new_kpi.id;
                                        that.$set(that.users, index, user);


                                    },
                                    error: function(jqXHR, textStatus){

                                    try {
                                        //   employee.msg = "Added failed: " + jqXHR.responseJSON['message'];
                                    } catch (err) {
                                    }
                                    },
                                    contentType: "application/json"

                                });
                            },
                            filter_users: function () {
                                $('body').loading({ stoppable: true,message:'{% trans "Loading..." %}'});
                                that = this;
                                var data = {'query': that.query, 'page': that.page, 'kpi_code': that.code};
                                cloudjetRequest.ajax({
                                    type: "POST",
                                    url: '{% url "filter_user" %}',
                                    data: JSON.stringify(data),
                                    success: function (dt) {
                                        $('body').loading('stop');
                                        console.log('filter_user');
                                        that.users = dt;


                                    },
                                    error: function(jqXHR, textStatus){
                                        //  alert('failed');


                                    try {
                                        //   employee.msg = "Added failed: " + jqXHR.responseJSON['message'];
                                    } catch (err) {
                                    }

                                    },
                                    contentType: "application/json"

                                });
                            },

                            add_all_employees: function () {
                                var current_index = 0;

                                for (i = 0; i < $('.add_emp').length; i++) {


                                    setTimeout(function () {
                                        //do what you need here

                                        $('.add_emp')[current_index].click();
                                        current_index += 1;


                                    }, 2000 * i);


                                }

                            },

                            //end example */
                        },
                        delimiters: ['${', '}$'],
                        created: function () {
                            // fetch the data when the view is created and the data is
                            // already being observed
                            this.get_total_users()
                        }
                        ,
                        watch: {
                            // call again the method if the route changes
                            '$route': 'init'
                        }
                    }
                    ;


            const routes = [
                {path: '/', component: Home},
//                {path: '/create-account', component: CreateAccount}
            ];

            const router = new VueRouter({
                routes // short for routes: routes
            });


            const app = new Vue({
                router,

                delimiters: ['${', '}$']

            }).$mount('#app');


        </script>
    </div>

{% endblock %}
