{% load i18n %}
<div id="edit-import-kpi" v-if="data_edit_kpi.index != -1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title text-left title-edit-target">{% trans 'Edit KPI informations' %}</p>
            </div>
            <div class="modal-body">
                <div class="form-edit">
                    <div class="content">
                        <div class="title-general-information">
                            <span>{% trans "General information" %} </span>
                            <span><i class="material-icons font-16">info_outline</i></span>
                        </div>
                        <div id="general-information" class="general-information-wrapper">
                            <div class="form-group text-left">
                                <div class="row cs-pd-row">
                                    <div class="col-md-4 cs-pd-input">
                                        <label for="kpi_code" class="code-kpi label-input">{% trans "KPI Code" %}
                                            <span class="required-star"> *</span>
                                        </label>
                                        <input type="text" class="form-control form-control-sm cus-input-40"
                                               id="kpi_code"
                                               v-model="data_edit_kpi.data.code"
                                               placeholder="">
                                        <small v-if="data_edit_kpi.data.code == ''"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "KPI Code" %} {% trans "not empty" %}
                                        </small>
                                        <small v-if="data_edit_kpi.data.code !== '' && data_edit_kpi.data.status == 'failed' && data_edit_kpi.msg.includes('{% trans "KPI Code {} existed" %}'.replace('{}',data_edit_kpi.data.code))"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            ${ "{% trans "KPI Code {} existed" %}".replace("{}",data_edit_kpi.data.code) }$
                                        </small>
                                    </div>
                                    <div class="col-md-4 cs-pd-input">
                                        <label for="kpi_type" class="label-input">{% trans "Type" %}
                                            <span class="required-star"> *</span>
                                        </label>
                                        <input type="text" class="form-control form-control-sm cus-input-40"
                                               id="kpi_type"
                                               v-model="data_edit_kpi.data.kpi_id"
                                               placeholder="{% trans "Type" %}">
                                        <small v-if="!data_edit_kpi.data.kpi_id"
                                               class="form-text text-muted error">
                                            <span>*</span>
                                            {% trans "Type" %} {% trans "not empty" %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="row cs-pd-row">
                                    <div class="cs-pd-input">
                                        <label class="label-input" for="kpi_target">{% trans "KPI targets" %} <span class="required-star"
                                                                                                                   :class="{error: !data_edit_kpi.data.goal}"> *</span></label>
                                        <textarea rows="3" type="text" class="form-control form-control-sm"
                                                  id="kpi_target"
                                                  v-model="data_edit_kpi.data.goal"
                                                  placeholder="{% trans "KPI targets" %}"></textarea>
                                        <small v-if="!data_edit_kpi.data.goal"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "KPI targets" %} {% trans "not empty" %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="row cs-pd-row">
                                    <div class="cs-pd-input">
                                        <label class="label-input" for="kpi_name">{% trans "KPI name" %} <span class="required-star"
                                                                                                               :class="{error: !data_edit_kpi.data.kpi_id}"> *</span></label>
                                        <textarea class="form-control" id="kpi_name"
                                                  v-model="data_edit_kpi.data.kpi"
                                                  placeholder="{% trans "KPI name" %}" rows="3"></textarea>
                                        <small v-if="!data_edit_kpi.data.kpi"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "KPI name" %} {% trans "not empty" %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="row cs-pd-row">
                                    <div class="col-md-8 cs-pd-input">
                                        <label class="label-input" for="kpi_unit">{% trans "Unit" %} <span class="required-star"
                                                                                                           :class="{error: !data_edit_kpi.data.unit}"> *</span></label>
                                        <input type="text" class="form-control form-control-sm cus-input-40"
                                               id="kpi_unit"
                                               v-model="data_edit_kpi.data.unit"
                                               placeholder="{% trans "Unit" %}">
                                        <small v-if="!data_edit_kpi.data.unit"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "Unit" %} {% trans "not empty" %}
                                        </small>
                                    </div>
                                    <div class="col-md-3 cs-pd-input">
                                        <label class="label-input" for="kpi_operator">{% trans "Operator" %} <span class="required-star"
                                                                                                                   :class="{error: !data_edit_kpi.data.operator}">*</span></label>
                                        <select id="select-operator" class="form-control cus-input-40 operator-option" id="kpi_operator"
                                                v-model="data_edit_kpi.data.operator">
                                            <option value=">=">≥</option>
                                            <option value="<=">≤</option>
                                            <option value="=">=</option>
                                        </select>
                                        <i class="el-select__caret el-input__icon el-icon-arrow-down new-caret" onClick="$('#select-operator').trigger('click')"></i>
                                        <small v-if="check_format_operator(data_edit_kpi.data.operator)"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "Operator" %} {% trans "not empty" %}
                                        </small>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="row cs-pd-row">
                                    <div class="cs-pd-input">
                                        <label class="label-input" for="kpi_measurement">{% trans "Measurement" %} <span class="required-star"
                                                                                                                         :class="{error: !data_edit_kpi.data.measurement}"> *</span></label>
                                        <textarea rows="3" type="text" class="form-control form-control-sm"
                                                  id="kpi_measurement"
                                                  v-model="data_edit_kpi.data.measurement"
                                                  placeholder="{% trans "Measurement" %}"></textarea>
                                        <small v-if="!data_edit_kpi.data.measurement"
                                               class="form-text text-muted error">
                                            <span class="required-star">*</span>
                                            {% trans "Measurement" %} {% trans "not empty" %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div  id="callocation-target-title" class="title-allocation-target">
                                <span>{% trans "Allocation target" %} </span>
                                <span><i class="material-icons font-16">info_outline</i></span>
                            </div>
                            <div id="callocation-target" class="callocation-target-wrapper">
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-8 cs-pd-input">
                                            <label class="label-input" for="kpi_operator">{% trans "Score calculation method" %} <span
                                                    class="required-star" :class="{error: method.indexOf(data_edit_kpi.data.score_calculation_type.trim().toLowerCase()) == -1 }"> *</span></label>
                                            <select id="calculation" class="form-control cus-input-40 calculation-type" id="kpi_score_calculation_type"
                                                    v-model="data_edit_kpi.data.score_calculation_type">
{#                                                <option value="">-</option>#}
                                                <option value="average">{% trans "Average" %} (3 {% trans "months" %})</option>
                                                <option value="sum">{% trans "Sum" %} ({% trans "accumulated" %} 3 {% trans "months" %})</option>
                                                <option value="most_recent">{% trans "Latest month" %}</option>
                                            </select>
                                            <i class="el-select__caret el-input__icon el-icon-arrow-down new-caret" onClick="$('#calculation').trigger('click')"></i>
                                            <small v-if="method.indexOf(data_edit_kpi.data.score_calculation_type.trim().toLowerCase()) == -1"
                                                   class="form-text text-muted error">
                                                <span class="required-star">*</span>
                                                {% trans "Score calculation type format is not correct" %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q1">{% trans "Year targets" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.year"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                            <small v-if="data_edit_kpi.data.check_error_year"
                                                   class="form-text text-muted error">
                                                <span class="required-star"> *</span>
                                                {% trans "Edit target follow calculation type" %}
                                            </small>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q1">{% trans "Quarter" %} 1</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40"
                                                   id="kpi_target_q1"
                                                   v-model="data_edit_kpi.data.q1"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                            <small v-if="data_edit_kpi.data.check_error_quarter_1"
                                                   class="form-text text-muted error">
                                                <span>*</span>
                                                {% trans "Edit target follow calculation type" %}
                                            </small>
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q2">{% trans "Quarter" %} 2</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40"
                                                   id="kpi_target_q2"
                                                   v-model="data_edit_kpi.data.q2"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                            <small v-if="data_edit_kpi.data.check_error_quarter_2"
                                                   class="form-text text-muted error">
                                                <span>*</span>
                                                {% trans "Edit target follow calculation type" %}
                                            </small>
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q3">{% trans "Quarter" %} 3</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40"
                                                   id="kpi_target_q3"
                                                   v-model="data_edit_kpi.data.q3"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                            <small v-if="data_edit_kpi.data.check_error_quarter_3"
                                                   class="form-text text-muted error">
                                                <span>*</span>
                                                {% trans "Edit target follow calculation type" %}
                                            </small>
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q4">{% trans "Quarter" %} 4</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40"
                                                   id="kpi_target_q4"
                                                   v-model="data_edit_kpi.data.q4"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                            <small v-if="data_edit_kpi.data.check_error_quarter_4"
                                                   class="form-text text-muted error">
                                                <span>*</span>
                                                {% trans "Edit target follow calculation type" %}
                                            </small>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q1">{% trans "January" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t1"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q2">{% trans "April" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t4"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q3">{% trans "July" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t7"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q4">{% trans "October" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40 " v-model="data_edit_kpi.data.t10"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q1">{% trans "February" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t2"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q2">{% trans "May" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t5"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q3">{% trans "August" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t8"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q4">{% trans "November" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t11"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q1">{% trans "March" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t3"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q2">{% trans "June" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t6"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q3">{% trans "September" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t9"
                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_target_q4">{% trans "December" %}</label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" v-model="data_edit_kpi.data.t12"

                                                   onkeypress='validate(event)'
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title-assigned-to">
                                <span>{% trans "Performer" %} </span>
                                <span><i class="material-icons font-16">info_outline</i>
                            </span>
                            </div>
                            <div id="assigned-to" class="assigned-to-wrapper">
                                <div class="form-group text-left">
                                    <div class="row cs-pd-row">
                                        <div class="col-md-3 cs-pd-input">
                                            <label class="label-input" for="kpi_weight">{% trans "Weight" %} <span class="required-star"
                                                                                                                   :class="{error: to_string(data_edit_kpi.data.weight)==''}"> *</span></label>
                                            <input type="number" class="form-control form-control-sm cus-input-40" min="0"
                                                   id="kpi_weight"
                                                   v-model="data_edit_kpi.data.weight"
                                                   onkeypress='validate(event)'
                                                   placeholder="{% trans "Weight" %}">
                                            <span v-if="(parseFloat(data_edit_kpi.data.weight)<=0 || to_string(data_edit_kpi.data.weight)=='' || data_edit_kpi.data.weight==NaN)"
                                                  class="form-text text-muted error">
                                            <small v-if="parseFloat(data_edit_kpi.data.weight)<=0"><span class="required-star">*</span> {% trans "Weight must be greater than 0" %}</small>
                                            <small v-if="to_string(data_edit_kpi.data.weight)=='' || data_edit_kpi.data.weight==NaN"><span class="required-star">*</span> {% trans "Weights" %} {% trans "not empty" %}</small>
                                        </span>
                                        </div>
                                        <div class="col-md-9 cs-pd-input">
                                            <label class="label-input" for="kpi_assigned_to">{% trans "Performer" %} <span class="required-star"
                                                                                                                           :class="{error: !data_edit_kpi.data.email}"> *</span></label>
                                            <input type="text" class="form-control form-control-sm cus-input-40"
                                                   id="kpi_assigned_to"
                                                   v-model="data_edit_kpi.data.email"
                                                   placeholder="{% trans "Performer" %}">
                                            <small v-if="data_edit_kpi.data.email == ''"
                                                   class="form-text text-muted error">
                                                <span class="required-star">*</span>
                                                {% trans "Assigned to" %} {% trans "not empty" %}
                                            </small>
                                            <small v-if="!extractEmails(data_edit_kpi.data.email) && data_edit_kpi.data.email != ''"
                                                   class="form-text text-muted error">
                                                <span class="required-star">*</span>
                                                email {% trans "format not correct" %}
                                            </small>
                                            <small v-if="data_edit_kpi.data.status == 'failed' && data_edit_kpi.msg.includes('{% trans "In charge Email is incorrect" %}') && extractEmails(data_edit_kpi.data.email)"
                                                   class="form-text text-muted error">
                                                <span class="required-star">*</span>
                                                email {% trans "not correct" %}
                                            </small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="nav nav-tabs">
                    <li><a id="btn-general-information" onClick="$('.modal-body').scrollTop(0);">{% trans "General information" %}</a></li>
                    <li><a id="btn-allocation-target" onClick="$('.modal-body').scrollTo($('#callocation-target-title'));">{% trans "Allocation target" %}</a></li>
                    <li><a id="btn-assigned-to" onClick="$('.modal-body').scrollTo($('#assigned-to'));">{% trans "Performer" %}</a></li>
                    <el-button class="btn-edit-import-cancle"
                            data-dismiss="modal">{% trans "Cancel" %}</el-button>
                    <el-button class="btn-edit-import-save" type="primary"
                            @click="confirm_edit_kpi()">
                        <i class="fa fa-floppy-o"aria-hidden="true"></i> {% trans "Save" %}
                    </el-button>
                </ul>

            </div>
        </div>
    </div>
</div>
