{% extends 'v5/base_import.html' %}
{% load i18n %}
{% load inplace_edit %}

{% block title %}{{ block.super }}{% endblock %}

{% block extra_css %}
    {% inplace_static %}
{% endblock %}

{% block content %}

    <script type="text/x-template" id="home-template">
        <div>
            <div class="col-md-12">
                <h3>{% trans "Cloning Actor" %}: <strong>{{ actor.email }}</strong></h3>
            </div>
            <div class="col-md-12">
                <h3>{% trans "To clone KPI from employee, please enter email of that employee" %}</h3>
            </div>
            <div class="col-md-4">
                <p><input class="form-control"
                          v-model="email"
                          placeholder="{% trans "Input employee's name" %}"
                          @change="search_user()"
                          @keydown="keyPressed($event)"
                />
                </p>
            </div>
            <div class="col-md-8">
                <table class="table table-striped table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr class="table-header">
                        <td colspan="9">
                            <a v-if="employee != null"
                               v-bind:href="'/performance/email_redirect/?type=editor&email='+ employee.email "
                               target="_blank">
                                <i class="glyphicon glyphicon-search"></i>
                                {% trans "View Template KPI:" %} <b>${ employee.email }$</b></a>
                            <span v-if="employee == null">${status_search}$</span>
                    </tr>
                    <tr v-if="employee != null">
                        <td>{% trans 'Name' %}</td>
                        <td>{% trans 'Total KPIs' %}</td>
                        <td>{% trans 'Title' %}</td>
                        <td>{% trans 'Department' %}</td>
                        <td>{% trans 'Report To' %}</td>
                    </tr>
                    <tr v-if="employee != null" style="font-weight: bold">
                        <td>${ employee.display_name }$</td>
                        <td>${ kpis.length }$</td>
                        <td>${ employee.title }$</td>
                        <td>${ employee.department }$</td>
                        <td>${ employee.report_to_email }$</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr class="table-header" style="font-weight:bold;">
                        <td>
                            <input type="checkbox" v-model="is_select_all" v-on:click="toggle_select_all()">
                            {% trans "Copy all" %}

                        </td>
                        {#                    <td> #</td>#}
                        <td>{% trans "Code" %}</td>
                        <td>{% trans "KPI name" %}</td>
                        <td>{% trans "Unit" %}</td>
                        <td>{% trans "Measurement method" %}</td>
                        <td></td>
                    </tr>
                    <tr v-for="(kpi, index) in kpis">
                        <td>
                            <input type="checkbox" v-model="kpi.checked"
                                   v-on:change="track_kpi_selecting()"
                                    {#                                   v-bind:disabled="is_select_all"#}
                            >

                        </td>
                        {#                    <td></td>#}
                        <td>${kpi.prefix_id}$</td>
                        <td>
                            {#                        <span class="small">#${kpi.id}$</span>#}
                            ${kpi.name}$
                        </td>
                        <td>${kpi.unit}$</td>
                        <td>${kpi.current_goal}$</td>
                        <td>#${kpi.id}$</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <p>
                    <textarea class="form-control"
                              placeholder="{% trans "Please enter employee’s email to copy, each email/ line" %}"
                              v-model="email_list" v-on:keyup.enter="check_email">
                    </textarea>
                <div v-for="massage in string_mgs">
                    <div class="alert alert-danger" v-if="!massage.status" style="word-break: break-all">
                        <strong></strong> ${ massage.msg }$
                    </div>
                    <div class="alert alert-success" v-if="massage.status" style="word-break: break-all">
                        <strong></strong> ${ massage.msg }$
                    </div>
                </div>
                </p>

            </div>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td colspan="8"></td>
                    <td colspan="5">

                        <input type="checkbox" v-model="all_delete_current_kpis" id="delete_all"
                               v-on:change="toggle_delete_current_kpis">
                        <label for="delete_all">{% trans "Delete all current KPIs of employee" %}</label>
                    </td>
                </tr>

                <tr class="table-header">
                    <th>Email</th>
                    <th>{% trans "Employee's name" %}</th>
                    <th>{% trans "Number of all current KPIs" %}</th>
                    <th>{% trans "Total weighting scores" %}</th>
                    <th>{% trans "Position" %}</th>
                    <th>{% trans "Phone number" %}</th>
                    <th>{% trans "Manager" %}</th>
                    <th></th>
                    <th>{% trans "Delete all current KPIs" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in users">
                    <td>${ user.email }$</td>
                    <td>${ user.display_name }$</td>
                    <td>${ user.total_kpi }$
                    </td>
                    <td>${ user.total_kpi_weight }$</td>
                    <td>${ user.title }$</td>
                    <td>${ user.phone }$</td>
                    <td>${ user.report_to_email }$</td>
                    <td>
                        <p>
                            <button @click="remove_user(index)" class="btn btn-danger">{% trans "Delete" %}</button>
                        </p>
                    </td>
                    <td>
                        <input type="checkbox" v-model="user.delete_current_kpis">
                        <span v-if="user.delete_current_kpis"> {% trans "Delete all current KPIs" %}</span>
                    </td>
                    <td>
                        <b v-if="user.copying">{% trans "Copying" %}</b>
                        <p v-if="!user.copying">${ user.msg }$</p>
                        <span v-if="employee == null">{% trans "Please choose user to copy" %} </span>
                        <button class="btn btn-primary copy-kpi" v-if="employee != null"
                                @click="copy_kpi(index)">{% trans "Clone KPIs" %}
                        </button>
                    </td>
                    <td><a v-bind:href="'/performance/email_redirect/?type=editor&email='+ user.email " target="_blank">{% trans "Editor" %}</a>
                    </td>
                    <td><a v-bind:href="'/performance/email_redirect/?type=team&email='+ user.email "
                           target="_blank">{% trans "Team" %}</a>
                    </td>
                    <td><a v-bind:href="'/performance/email_redirect/?type=people&email='+ user.email " target="_blank">{% trans "People" %}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>


    <div class="container" id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{% trans 'Copy KPI' %}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/performance/kpi-editor/">{% trans "Home page" %}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <router-view></router-view>

        <script>

            var is_select_all = true;
            var email = '';
            var string_mgs = [];
            var status_search = "{% trans "Input employee's email" %}";
            var email_list = '';
            var all_delete_current_kpis = false;
            //var page = 1;
            //var total_pages = 1;
            var employee = null;
            var kpis = [];
            var users = [];

            var is_error = false;

            var error_msg = '';
            var info_user = {};

            function extractEmails(text) {
                return text.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi);
            }

            const Home = {
                    template: '#home-template',
                    //  template : "<div>abc</div>",
                    data: function () {
                        return {
                            is_select_all,
                            users,
                            email,
                            is_error,
                            employee,
                            string_mgs,
                            email_list,
                            all_delete_current_kpis,
                            kpis,
                            status_search
                        }
                    },
                    methods: {
                        keyPressed: function (key) {
                            if (!(key.key === 'Enter') && key.repeat) {
                                this.status_search = '[Đang nhập...] Enter hoặc click ra ngoài để tìm';
                            }
                            if (key.key === 'Delete' || key.key === 'Backspace') {
                                this.status_search = "{% trans "Input employee's email" %}";
                            }

                        },
                        toggle_delete_current_kpis: function () {
                            that = this;
                            var users = that.users.map(function (user) {
                                user.delete_current_kpis = that.all_delete_current_kpis;
                                return user;
                            });
                            that.users = users;
                        },

                        init: function () {
                            that = this;

                        },
                        toggle_select_all: function () {
                            if (this.is_select_all) {
                                this.deselect_all();
                                this.is_select_all = false;
                            } else {
                                this.select_all();
                                this.is_select_all = true;
                            }

                        }
                        ,
                        track_kpi_selecting: function () {
                            let checked_kpis = this.kpis.filter(function (x) {
                                return x.checked == true
                            });

                            if (checked_kpis.length == this.kpis.length) {
                                this.is_select_all = true;

                            } else {
                                this.is_select_all = false;

                            }

                        },
                        check_email: function () {
                            that = this;
                            that.users = [];
                            that.string_mgs = [];
{#                            alert(that.email_list.toString().split('\n'));#}
                            var email_list = that.email_list.toString().split('\n');
                            email_list.pop();
                            if (email_list) {
                                email_list.map(function (element, index) {
                                    if (element == '') {
                                        that.string_mgs.push({
                                            'msg': '{% trans "Please enter email field" %} ',
                                            'status': false
                                        });
                                        return;
                                    } else {
                                        if (!extractEmails(element)) {
                                            that.string_mgs.push({
                                                'msg': 'Email: "' + element + '" {% trans "format is incorrect" %}.',
                                                'status': false
                                            });
                                            return;
                                        }
                                        else {
                                            that.check_user(element, index);
                                        }
                                    }

                                })
                            }
                        },



                    check_user: function (email, index) {
                        that = this;
                        var from_user_id=(that.employee && that.employee.user) ? that.employee.user : 0 ;
                        var data={
                            'email':email,
                            'action':'check_clone_perm',
                            'from_user_id':from_user_id,
                        };
                        cloudjetRequest.ajax({
{#                        $.ajax({#}
                            type: "POST",
                            url: '{% url "api_v2.perm_clone_kpi" %}',
{#                            url: '{% url "ProfileKPI" %}?email=' + email +'&check_clone_perm='+true+'&from_user_id='+ from_user_id,#}
{#                            data: data,#}
                            data:JSON.stringify(data),
                            success: function (dt) {
                                console.log('ProfileKPI2');
                                console.log(dt);
                                var user = dt;
                                user.delete_current_kpis = false;
                                that.$set(that.users, index, user);
                                if (email) {
                                    var msg='{% trans "Can clone kpis to" %} ' + email;
                                    if (user.is_sibling_of_source_user){
                                        msg=msg+'. {%  trans "Because of source user and target user is the same level, all KPIs up-link still reserved" %}';
                                    }
                                    that.string_mgs.push({
                                        'msg': msg,
                                        'status': true
                                    });



                                }
                            },
                            contentType: "application/json",
                            error: function (jqXHR, textStatus) {


                                that.string_mgs.push({
                                    'msg': jqXHR.responseJSON['message'],
                                    'status': false
                                })

                                var user = that.users[index];
                                user.msg = jqXHR.responseJSON['message'];

                                    that.$set(that.users, index, user);

                                }
                            })
                        },

                        search_user: function () {
                            if (this.email != null) {
                                this.status_search = "{% trans "Email does not exist" %}";
                                that = this;
                                $('body').loading({stoppable: true, message: '{% trans "Loading..." %}'});
                                cloudjetRequest.ajax({
                                    type: "GET",
                                    url: '{% url "ProfileKPI" %}?email=' + that.email,
                                    //   data: JSON.stringify(data),
                                    success: function (dt) {
                                        console.log('ProfileKPI');
                                        that.employee = dt;
                                        {#that.employee['report_to_email'] = that.get_info_user(dt)#}
                                        $('body').loading('stop');
                                        that.get_kpi(dt.user);
                                    },
                                    error: function (jqXHR, textStatus) {
                                        if (jqXHR.status == 404) {
                                            that.employee = null;
                                            that.kpis = null;
                                            $('body').loading('stop');
                                            try {

                                            } catch (err) {

                                            }
                                        }

                                    },
                                    contentType: "application/json"

                                })
                            }

                        },
                        select_all: function () {
                            that.kpis = that.kpis.map(function (elem) {
                                elem.checked = true;
                                return elem;
                            });
                        },
                        deselect_all: function () {
                            that.kpis = that.kpis.map(function (elem) {
                                elem.checked = false;
                                return elem;
                            });
                        },

                        get_kpi: function (user_id) {
                            that = this;
                            $('body').loading({stoppable: true, message: '{% trans "Loading..." %}'});

                            cloudjetRequest.ajax({
                                type: "GET",
                                url: '{% url "KpiAPI" %}?user_id=' + user_id,
                                //   data: JSON.stringify(data),
                                success: function (dt) {
                                    that.kpis = dt;
                                    that.select_all();
                                    //  console.log(that.kpis);
                                    $('body').loading('stop');
                                },
                                error: function (jqXHR, textStatus) {
                                    that.kpis = null;
                                    $('body').loading('stop');
                                    try {
                                    } catch (err) {
                                    }
                                },
                                contentType: "application/json"

                            })

                        },

                        copy_kpi: function (index) {
                            let that = this;
                            let user = that.users[index];
                            user.copying = true;
                            that.$set(that.users, index, user);

                            if (that.employee == null) {
                                alert('{% trans "KPI Pattern not defined" %}!');
                                return false;
                            }


                            if (that.is_select_all) {
                                let data = {
                                    'command': 'copy_all_kpi_to_user',
                                    'from_user_id': that.employee.user,
                                    'to_user_email': that.users[index].email,
                                    'delete_current_kpis': that.users[index].delete_current_kpis
                                };
                                cloudjetRequest.ajax({
                                    type: "POST",
                                    url: '{% url "kpi_services" %}',
                                    data: JSON.stringify(data),
                                    success: function (dt) {
                                        console.log('kpi_services: copy_all_kpi_to_user -> success');

                                        var user = dt;
                                        user.copying = false;
                                        user.msg = "Success";
                                        that.$set(that.users, index, user);


                                    },
                                    error: function (jqXHR, textStatus) {
                                        user.msg = "{% trans "Copy error" %} ";
                                        console.log(jqXHR.status)
                                        if (jqXHR.status == 404) {
                                            user.msg += " " + user.email + " not existed";
                                        }
                                        if (jqXHR.status == 500) {
                                            user.msg += jqXHR.responseJSON.message;
                                        }
                                        console.log(user.msg)
                                        user.copying = false;
                                        that.$set(that.users, index, user);


                                        try {
                                            //   employee.msg = "Added failed: " + jqXHR.responseJSON['message'];
                                        } catch (err) {
                                        }


                                    },

                                    contentType: "application/json"

                                })
                            } else {
                                let kpi_ids = that.kpis.filter(function (elm) {
                                    return elm.checked;

                                }).map(function (elm) {
                                    return elm.id
                                });
                                let data = {
                                    'command': 'copy_all_kpi_to_user',
                                    'only_kpi_ids': kpi_ids,
                                    'from_user_id': that.employee.user,
                                    'to_user_email': that.users[index].email,
                                    'delete_current_kpis': that.users[index].delete_current_kpis
                                };

                                console.log(data);
                                //    return false;
                                cloudjetRequest.ajax({
                                    type: "POST",
                                    url: '{% url "kpi_services" %}',
                                    data: JSON.stringify(data),
                                    success: function (dt) {
                                        console.log('kpi_services: copy_kpis_to_user -> success');

                                        var user = dt;
                                        user.copying = false;
                                        user.msg = "Success";
                                        that.$set(that.users, index, user);


                                    },
                                    error: function (jqXHR, textStatus) {
                                        user.msg = "Copy Error ";
                                        console.log(jqXHR.status)
                                        if (jqXHR.status == 404) {
                                            user.msg += " " + user.email + " not existed";
                                        }
                                        if (jqXHR.status == 500) {
                                            user.msg += jqXHR.responseJSON.message;
                                        }
                                        console.log(user.msg)
                                        user.copying = false;
                                        that.$set(that.users, index, user);


                                        try {
                                            //   employee.msg = "Added failed: " + jqXHR.responseJSON['message'];
                                        } catch (err) {
                                        }


                                    },

                                    contentType: "application/json"

                                })

                            }
                        },

                        remove_user: function (index) {

                            if (index > -1) {
                                that.users.splice(index, 1);
                            }

                        },

                        add_users: function () {
                            that = this;

                            var emails = extractEmails(that.email_list);
                            if (emails != null) {
                                emails.map(function (em) {
                                    that.users.push({'email': em, 'delete_current_kpis': true})
                                });

                                that.email_list = "";
                            }
                        },

                        add_all_employees: function () {
                            var current_index = 0;

                            for (i = 0; i < $('.add_emp').length; i++) {

                                setTimeout(function () {
                                    //do what you need here

                                    $('.add_emp')[current_index].click();
                                    current_index += 1;

                                }, 2000 * i);

                            }

                        }
                    },

                    delimiters: ['${', '}$'],

                    created: function () {
                        // fetch the data when the view is created and the data is
                        // already being observed
                        //this.get_total_users()
                        this.email = this.$route.query.email;
                        this.search_user();
                    },

                    watch: {
                        // call again the method if the route changes
                        '$route': 'init',

                    }
                }
            ;

            const routes = [
                {path: '/', component: Home},
//                {path: '/create-account', component: CreateAccount}
            ];

            const router = new VueRouter({
                routes // short for routes: routes
            });

            const app = new Vue({
                router,

                delimiters: ['${', '}$']
            }).$mount('#app');


        </script>
    </div>

{% endblock %}
