{% extends "bsc_base.html" %}
{% load i18n %}
{% load inplace_edit %}

{% block title %}
    Cloudjet KPI
{% endblock %}

{% block extra_css %}
    {% inplace_static %}
{% endblock %}

{% block content %}
    {% include "imports/include_base_import.html" %}
    <script src="{{ STATIC_URL }}v5/jquery.scrollTo.min.js"></script>
    <script src="{{ STATIC_URL }}v5/utils.js"></script>
    <style>
        .error {
            color: red;
        }

        html, body, * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            text-align: center;
        }

        body {
            background-color: #ffffff;
        }

        #home-template h2 {
            font-family: "Roboto", sans-serif;
            font-size: 26px;
            line-height: 1;
            color: #00b0ad;
            margin-bottom: 0;
        }

        #home-template p {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            color: #5f6982;
        }
        #home-template .icom-pull-right{
            float: right;
            color: rgba(51, 122, 183, 0.5);
        }
        .uploader {
            display: inline-block;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            margin-bottom: 10px;
        }
        .table > thead > tr >.w-col-header-80{
            max-width: 80px;
        }
        .table > thead > tr >.w-col-header-150{
            max-width: 150px;
        }
        .table > thead > tr >.w-col-header-130{
            max-width: 130px;
        }
        .table > thead > tr >.w-col-header-100{
            max-width: 100px;
        }
        .uploader label {
            float: left;
            clear: both;
            width: 100%;
            padding: 1.6rem 1.5rem;
            text-align: center;
            background: #fff;
            border-radius: 3px;
            border: solid 1px #cbcecf;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: right;
        }

        .uploader label:hover {
            border-color: #00b0ad;
        }

        .uploader label.hover {
            border: 3px solid #00b0ad;
            -webkit-box-shadow: inset 0 0 0 6px #eee;
            box-shadow: inset 0 0 0 6px #eee;
        }

        .uploader label.hover #start i.fa {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 0.3;
        }

        .uploader #start {
            float: left;
            clear: both;
            width: 100%;
        }

        .uploader #start.hidden {
            display: none;
        }

        .uploader #start i.fa {
            font-size: 50px;
            margin-bottom: 1rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        .uploader #response {
            float: left;
            clear: both;
            width: 100%;
        }

        .uploader #response.hidden {
            display: none;
        }

        .uploader #response #messages {
            margin-bottom: .5rem;
        }

        .uploader #file-image {
            display: inline;
            margin: 0 auto .5rem auto;
            width: auto;
            height: auto;
            max-width: 180px;
        }

        .uploader #file-image.hidden {
            display: none;
        }

        .uploader #notimage {
            display: block;
            float: left;
            clear: both;
            width: 100%;
        }

        .uploader #notimage.hidden {
            display: none;
        }

        .uploader progress,
        .uploader .progress {
            display: inline;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;
            height: 8px;
            border: 0;
            border-radius: 4px;
            background-color: #eee;
            overflow: hidden;
        }

        .uploader .progress[value]::-webkit-progress-bar {
            border-radius: 4px;
            background-color: #eee;
        }

        .uploader .progress[value]::-webkit-progress-value {
            background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #00b0ad));
            background: linear-gradient(to right, #393f90 0%, #00b0ad 50%);
            border-radius: 4px;
        }

        .uploader .progress[value]::-moz-progress-bar {
            background: linear-gradient(to right, #393f90 0%, #00b0ad 50%);
            border-radius: 4px;
        }

        .uploader input[type="file"] {
            display: none;
        }

{#        .uploader div {#}
{#            margin: 0 0 .5rem 0;#}
{#            color: #5f6982;#}
{#        }#}
        #home-template .input-upload-file{
            text-align: left;
            padding: 0px 20px;
        }
        .uploader #file-drag .btn {
            display: inline-block;
            margin: .5rem .5rem 1rem .5rem;
            clear: both;
            font-family: inherit;
            font-weight: 700;
            font-size: 14px;
            text-decoration: none;
            text-transform: initial;
            border: none;
            border-radius: .2rem;
            outline: none;
            padding: 0 1rem;
            height: 36px;
            line-height: 36px;
            color: #fff;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
        }

        #file-drag-success {
            width: 60%;
            padding: 0.4em 5px;
            height: 34px;
        }

        .btn-system-import {
            background: #00b0ad;
            border-color: #00b0ad;
        }

        .btn-system-edit {
            background: #989ea0;
            border-color: #989ea0;
        }

        .table > thead > tr > th {
            vertical-align: top !important;
            background-color: #f9f9f9;
        }
        .table > thead > tr > td {
            background-color: #ffffff;
        }
        .error_border {
        {#            border-bottom: 2px solid red !important;#}
        }

        .modal-dialog {
            position: fixed !important;
            left: 0px !important;
            right: 0px !important;
        }

        .cjs-alert-warning {
            border-radius: 3px !important;
            background-color: rgba(51, 122, 183, 0.15) !important;
            padding: 10px 10px ;
            margin: 15px 20px 20px 20px;
            color: #337ab7 !important;
        }
        .cjs-alert-warning h5{
            font-weight: bold;
        }

        .cjs-limit-view-td {
        {#            max-height: 200px;#}
            overflow: auto;
            text-overflow: ellipsis;
            color: #333333 !important;
        }
        {#        Css modal edit kpi#}
        #edit-import-kpi .content{
            margin: 0px 0px 20px 0px;
        }
        #edit-import-kpi .general-information-wrapper {
            border-radius: 3px;
            background-color: #f5f9fc;
            margin: 10px 0px;
            padding: 10px 15px;
        }
        #edit-import-kpi .modal-body textarea {
            height: auto;
            font-size: 14px;
            line-height: 1.29;
        }
        #edit-import-kpi .new-caret{
            position: absolute;
            top: 10px;
            right: 5px;
        }
        #edit-import-kpi .operator-option{
            -webkit-appearance: none;
        }
        #edit-import-kpi .calculation-type{
            -webkit-appearance: none;
        }
        #edit-import-kpi .callocation-target-wrapper{
            border-radius: 3px;
            background-color: #f5f9fc;
            margin: 10px 0px;
            padding: 20px;
        }
        #edit-import-kpi .assigned-to-wrapper {
            border-radius: 3px;
            background-color: #f5f9fc;
            margin: 10px 0px;
            padding: 20px;
        }
        #edit-import-kpi .title-general-information{
            color: #337ab7;
            font-size: 14px;
            font-weight: bold;
        }
        #edit-import-kpi .title-allocation-target{
            color: #337ab7;
            font-size: 14px;
            font-weight: bold;
        }
        #edit-import-kpi .title-assigned-to{
            color: #337ab7;
            font-size: 14px;
            font-weight: bold;
        }
        #edit-import-kpi .cs-pd-input{
            padding: 0px 5px;
        }
        #edit-import-kpi .cs-pd-row{
            padding: 0px 15px;
        }
        #edit-import-kpi .modal-header{
            border: none;
        }
        #edit-import-kpi .required-star{
            color: #d9534f
        }
        #edit-import-kpi .title-edit-target{
            color: #333333;
            font-size: 16px;
            font-weight: bold;
        }
        #edit-import-kpi .cs-padding-input{
            padding-right: 0px;
        }
        #edit-import-kpi .form-group{
            margin-bottom: 8px;
        }
        #edit-import-kpi .cus-input-40{
            border-radius: 3px;
            background-color: #ffffff;
            border-color: #ababab;
            box-shadow: none;
            color: #333333;
            font-size: 14px;
            height: 40px;
        }
        #edit-import-kpi .material-icons.font-16{
            bottom: -4px;
        }
        #edit-import-kpi .btn-save-edit {
            border-radius: 3px;
            box-shadow: none;
            background-color: #008b8b;
            margin: 0px 0px 0px 10px;
            color: #ffffff;
        }
        #edit-import-kpi .btn-primary:hover, #edit-import-kpi .btn-primary:focus{
            background-position: inherit;
        }
        #edit-import-kpi .modal-footer .nav>li>a{
            color: #333333;
            margin: 8px 20px 0px 0px;
            padding: 0px 0px;
            /* margin: 10px 0px; */
            font-size: 14px;
            border: none
        }
        #edit-import-kpi .modal-footer .nav>li>a:hover {
            color: #337ab7;
            border-bottom: solid 1px #337ab7;
            background-color: transparent;
            cursor: pointer;
            font-size: 14px;
        }
        #edit-import-kpi .modal-footer .nav>li>a:active {
            color: #337ab7;
            border-bottom: solid 1px #337ab7;
        }
        #edit-import-kpi .label-input{
            color: #666666;
            font-size: 12px;
            font-weight: normal;
        }
        #edit-import-kpi .modal-footer{
            background-color: #f9f9f9;
            padding: 10px 20px;
        }
        #edit-import-kpi .nav-tabs {
            border: none;
        }
        #edit-import-kpi .modal-dialog{
            height: 615px;
            min-width: 670px;
        }
        #edit-import-kpi .modal-body{
            padding: 10px 20px;
            height: 505px ;
        }
        #edit-import-kpi .modal-header{
            padding: 20px 20px 10px 20px;
        }
        #edit-import-kpi .modal-footer{
            background-color: #f9f9f9;
        }
        #edit-import-kpi .kpi-error{
            background-color: #d9534f;
        }
        #home-template .table-bordered>thead>tr>th {
            background-color: #f9f9f9;
        }
        #home-template .table-striped>tbody>tr:nth-of-type(odd){
            background-color: transparent;
        }
        .table > tbody > .success-row >td{
            background-color: #ffffff !important;
        }
        .table > tbody > .error-row-kpi >td {
            background-color: rgba(217, 83, 79,0.05);
            color: #333333;
            font-size: 12px;
        }
        .table>tbody> .row-error > td .cos-error{
            color: #e4e4e4;
            font-size: 14px;
            font-weight: bold;
            background-color: #ffffff;
        }
        .table > tbody > .row-error > td  {
            vertical-align: middle;
            border: none;
            color: #e4e4e4;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
        }
        .el-table .icons-edit-import-kpi i {
            color: #ababab;
            font-size: 20px;
            cursor: pointer;
        }
        .el-table .icons-add-kpi-import .icon-add {
            color: #008b8b;
            font-size: 20px;
            cursor: pointer;
        }
        .table >thead >th{
            background-color: #f9f9f9;;
        }
        .el-table .icons-edit-import-kpi i:hover {
            color: #008b8b;
            font-size: 20px;
        }
        .el-table tr {
            font-size: 12px;
        }
        .table > tbody > .row-error > td .msg-error-import{
            padding-left: 2px;
            font-size: 12px;
            color: #d9534f;
        }
        #home-template .title-import{
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            color: #333333;
        }
        #home-template .uploader .pull-right{
            float: right;
        }
        #home-template .tb-import-kpi{
            padding: 0px 20px;
        }
        .el-table .warning-row td{
            background: rgba(217, 83, 79, 0.05);
        }
        #home-template .el-table thead.is-group th{
            background-color: #f9f9f9;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #666666;
        }
        #home-template .el-table__expanded-cell[class*=cell]{
            text-align: left;
            color: #d9534f;
            font-size: 12px;
        }
        #home-template .el-table__expanded-cell[class*=cell] .error-msg-box{
            display: inline-flex;
            padding-right: 40px;
            font-size: 14px;
            font-weight: bold;
            color: #e4e4e4;
        }
        #home-template .el-table__expanded-cell[class*=cell] .msg-error-import-kpi{
            display: inline-flex;
        }
        #home-template .el-table .cell {
            word-break:  break-word;
        }
        #home-template td.el-table_1_column_1.el-table__expand-column > div > div{
            display: none
        }
        #home-template .uploader .pull-left {
            background: none;
            border-color: white;
            padding-left: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 80%;
            color: #666666;
            box-shadow: none;
            font-size: 14px;
        }
        #home-template .btn-insert-kpi {
            background: #008b8b;
            border-radius: 3px;
            border: 1px solid #008b8b;
            color: #ffffff;
            font-size: 12px;
            padding: 3px 0px;
            font-weight: 500;
        }
        #home-template .content-insert-kpi{
            padding-right: 0px;
            position: absolute;
            top: 3px;
            right: 4px;
            margin: 0px !important;
        }
        #home-template .int-insert-kpi{
            padding-left: 0px;
            position:  absolute;
            left: 10px;
            top: 4px;
        }
        #home-template .btn-edit-import-cancle:hover {
            background-color: #e4e4e4;
            color: #333333;
            border-color: #333333;
        }
    </style>
    <div id="home-template" v-cloak>
    <div class="form-start" v-if="!check_error_upload">
        <form id="file-upload-form" class="uploader">
            <input id="file-upload" type="file" name="fileUpload" @change="handleFile"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>

            <label for="file-upload" id="file-drag" @dragover.prevent @drop="handleDropFile" class="IPK_BTN_UP">
                <div id="start">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <div>{% trans "Choose the document or drag and drop here" %}</div>
                    <span id="file-upload-btn"
                          class="btn btn-primary btn-system-import">{% trans "Choose the document" %}</span>
                </div>
                <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                        <span>0</span>%
                    </progress>
                </div>
            </label>
        </form>
        <div class="clearfix"></div>
        <a class="IPK_BTN_DOWN" target="_blank" href="{{ STATIC_URL }}templates/{% trans "import-kpi-v6-en.xlsx" %}?v={{ settings.VERSION }}">
            <h5 style="color:#00b0ad">{% trans "Download file template" %} <i class="fa fa-file-text-o"
                                                                              aria-hidden="true"></i></h5>
        </a>
    </div>
    <div v-else class="input-upload-file">
        <div class="title-import">
            <div>{% trans "Import KPI" %}</div>
        </div>
        <form id="file-upload-form" class="uploader pull-right">
            <input id="file-upload" type="file" name="fileUpload" @change="handleFile"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            <label for="file-upload" style="position:  relative;" id="file-drag-success">
                <div class="row">
                    <div class="col-md-7 int-insert-kpi">
                                <span id="file-upload-btn" class="btn btn-primary btn-xs pull-left">
                                    ${' ' + file.name}$
                                </span>
                    </div>
                    <div class="col-md-5 content-insert-kpi">
                        <div class="button btn-insert-kpi">
                            <i class="material-icons font-14">
                                insert_drive_file
                            </i>
                            <span id="file-upload-btn"
                                  class=" IPK_BTN_REUP">{% trans "Choose the document" %}</span>
                        </div>
                    </div>
                </div>
            </label>
        </form>
    </div>
    <div v-if="is_error == true"
         class="alert alert-danger">{% trans "Please fix the error and choose new file" %}.
    </div>
    <div class="clearfix"></div>
    <div v-if="kpis != '' " >
        <div v-if="alert_import_kpi && kpis != ''" class="alert cjs-alert-warning">
            <div @click="alert_import_kpi = false" class="can-alert_import_kpi"><i class="material-icons font-20 icom-pull-right" @click="alert_import_kpi = false">clear</i></div>
            <ol class="text-left" style="padding-left: 0px;">
                <h5>{% trans "Note" %}:</h5>
                <li style="margin-left: 25px">{% trans "To import KPIs into the system, all KPI information fields must be valid" %}.</li>
                <li style="margin-left: 25px">{% trans "For a faulty KPI, you can click the `Edit` button to correct the faulty information of the KPI" %}.</li>
                <li style="margin-left: 25px">{% trans "The empty fields of each KPI will be underlined in red" %}.</li>
                <li style="margin-left: 25px">{% trans "KPIs have score calculation type is" %} <b>{% trans "Sum" %}</b> {% trans "or" %} <b>{% trans "Most recent" %}</b>, {% trans "after adding the completed KPI you need to enter that KPI to add Target for the month" %}.</li>
            </ol>
        </div>
        <div class="tb-import-kpi">
            <template class="tb-import-kpi">
                <el-table :data="kpis" style="width: 100%;" max-height="500" :row-class-name="tableRowClassName" :span-method="arraySpanMethod" :expand-row-keys="id_row_error" row-key="_uuid">
                    <el-table-column fixed type="expand" prop="_uuid">
                        <template slot-scope="props">
                                <span>
                                    <span class="error-msg-box">{% trans "Error" %}</span>
                                    <span class="msg-error-import-kpi" v-html="slice_character(props.row.msg)">

                                    </span>
                                </span>
                        </template>
                    </el-table-column>
                    <el-table-column fixed prop="code" label="{% trans "Code KPI" %}" min-width="80">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.code }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column fixed prop="kpi_id" label="{% trans "Type" %}" min-width="80">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.kpi_id }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column fixed prop="goal" label="{% trans "Target" %}" min-width="150">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.goal }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column fixed prop="kpi" label="{% trans "KPI Name" %}" min-width="150">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.kpi }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="unit" label="{% trans "Unit" %}" min-width="100">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.unit }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="measurement" label="{% trans "Measurement" %}" min-width="150">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.measurement }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="{% trans "Score calculation method" %}" min-width="180">
                        <template slot-scope="props">
                            <div class="error-msg-box text-left">${ props.row.score_calculation_type | trans_method }$</div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="operator" label="{% trans "Operator" %}" min-width="80"></el-table-column>
                    <el-table-column prop="weight" label="{% trans "Weight" %}" min-width="100"></el-table-column>
                    <el-table-column prop="email" label="{% trans "Assigned to" %}" min-width="100">
                        <template slot-scope="scope">
                            <div class="text-left">
                                ${ scope.row.email }$
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="{% trans "KPI target" %}" style="text-align: center">
                        <el-table-column prop="year" label="{% trans "Year" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t1" label="{% trans "January" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t2" label="{% trans "February" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t3" label="{% trans "March" %}" min-width="80"></el-table-column>
                        <el-table-column prop="q1" label="{% trans "Quarter" %} 1" min-width="80"></el-table-column>
                        <el-table-column prop="t4" label="{% trans "April" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t5" label="{% trans "May" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t6" label="{% trans "June" %}" min-width="80"></el-table-column>
                        <el-table-column prop="q2" label="{% trans "Quarter" %} 2" min-width="80"></el-table-column>
                        <el-table-column prop="t7" label="{% trans "July" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t8" label="{% trans "August" %}" min-width="80"></el-table-column>
                        <el-table-column prop="t9" label="{% trans "September" %}" min-width="80"></el-table-column>
                        <el-table-column prop="q3" label="{% trans "Quarter" %} 3" min-width="80"></el-table-column>
                        <el-table-column prop="t10" label="{% trans "October" %}" min-width="100"></el-table-column>
                        <el-table-column prop="t11" label="{% trans "November" %}" min-width="100"></el-table-column>
                        <el-table-column prop="t12" label="{% trans "December" %}" min-width="100"></el-table-column>
                        <el-table-column prop="q4" label="{% trans "Quarter" %} 4" min-width="100"></el-table-column>
                    </el-table-column>
                    <el-table-column fixed="right" min-width="80">
                        <template slot-scope="scope">
                            <div v-if="scope.row.status != 'success'" class="text-left fixed-side-bar-edit">
                                    <span class="icons-edit-import-kpi IPK_BTN_EDIT" @click="edit_kpi(scope.row.index)">
                                        <i  class="material-icons icon-edit">edit</i>
                                    </span>
                                <span v-if="!scope.row.msg" class="icons-add-kpi-import IPK_BTN_ADD" :id="'add_kpi' + scope.row.index" @click="add_kpi(scope.row.index)">
                                        <i class="material-icons icon-add">add_box</i>
                                    </span>
                            </div>
                            <div v-else>
                                <span>{% trans "Completed" %}</span>
                            </div>
                        </template>
                    </el-table-column>


                </el-table>
            </template>
        </div>

        <!-- Modal Edit Import KPI-->
        {% include "imports/import_modal.html" %}
    </div>
    {#    </script>#}
    <div class="container-fluid" id="app">

        <router-view></router-view>

        <script type="text/javascript">
            function extractEmails(text) {
                return text.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi);
            }

            const Home = {
                    {#                    template: '#home-template',#}
                    el: '#home-template',
                    //  template : "<div>abc</div>",
                    mounted: function(){
                        var self = this;
                        window.import_app = this;
                        /*
                        * Quick hack
                        * */



                        /* end quick hack */
                    },
                    data: function () {
                        return {
                            enable_allocation_target:  '{{ organization.enable_require_target }}' == "True",
                            alert_import_kpi: true,
                            id_row_error: [],
                            kpis: [],
                            workbook: {},
                            is_error: false,
                            error_add: '',
                            check_error_upload: false,
                            check_file: true,
                            data_edit_kpi: {
                                data: {},
                                index: -1,
                                check_error: false,
                                msg: ""
                            },
                            file: {},
                            check_total: 0,
                            method: ["sum", "average", "most_recent", "tính tổng", "trung bình", "tháng gần nhất"],
                            method_save: '',

                        }
                    },
                    filters: {
                        trans_method: function(str){
                            if(str=='sum'){
                                return '{% trans 'sum' %}';
                            }
                            if(str=='average'){
                                return '{% trans 'average' %}';
                            }
                            if(str=='most_recent'){
                                return '{% trans 'most_recent' %}';
                            }
                            return str;
                        },

                    },
                    methods: {
                        hideUnusedTableHead: function(){
                            console.log("triggered this hiding function")
                            setTimeout(function(){
                                $($('#home-template > div:nth-child(3) > div.tb-import-kpi > div > div.el-table__fixed > div.el-table__fixed-header-wrapper > table > thead > tr:nth-child(1) > th.el-table__expand-column.is-leaf').siblings('th')[0]).attr('colspan',2)
                                $('#home-template > div:nth-child(3) > div.tb-import-kpi > div > div.el-table__fixed > div.el-table__fixed-header-wrapper > table > thead > tr:nth-child(1) > th.el-table__expand-column.is-leaf').hide()
                            },100)
                        },
                        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
                            if (columnIndex === 0) {
                                return [0, 0];
                            } else if (columnIndex === 1) {
                                return [1, 2];
                            }
                        },

                        objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                            if (columnIndex === 0) {
                                if (rowIndex % 2 === 0) {
                                    return {
                                        rowspan: 2,
                                        colspan: 1
                                    };
                                } else {
                                    return {
                                        rowspan: 0,
                                        colspan: 0
                                    };
                                }
                            }
                        },

                        tableRowClassName: function ({row, rowIndex}) {
                            var self = this
                            var classText = "";
                            if (self.id_row_error.indexOf(row._uuid) !== -1) {
                                classText += "warning-row ";
                            }
                            return classText;
                        },
                        slice_character: function(str){
                            if(str.trim()[0]=='\n') {
                                str=str.slice(1,str.length-1);
                                return str.charAt(1).toUpperCase() + str.slice(2);
                            }
                            str = str.replace(/(?:\r\n|\r|\n)/g, '<br>');
                            return str;
                        },
                        trans_method: function(str){
                            if(str=='sum'){
                                return '{% trans 'sum' %}';
                            }
                            if(str=='average'){
                                return '{% trans 'average' %}';
                            }
                            if(str=='most_recent'){
                                return '{% trans 'most_recent' %}';
                            }
                            return str;
                        },
                        handleDropFile: function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            var files = e.dataTransfer.files;
                            if (!files[0].type.match('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')) {
                                swal("{% trans 'Error' %}", '{% trans "Please choose the document format excel file" %}!', "error");
                                $("#file-upload-form")[0].reset();
                                return;
                            }
                            this.handleFile(e);
                        },
                        handleFile: function (e) {
                            that = this;
                            that.kpis.length = 0;
                            that.check_file = true;
                            var files = e.target.files || e.dataTransfer.files;
                            var i, f;
                            for (i = 0, f = files[i]; i != files.length; ++i) {
                                var reader = new FileReader();
                                var name = f.name;
                                var re = /(\.xlsx|\.xls)$/i;
                                if (!re.exec(name)) {
                                    swal("{% trans 'Error' %}", '{% trans "Please choose the document format excel file" %}!', "error");
                                }
                                else {
                                    that.file = f;
                                    reader.onload = function (e) {
                                        var data = e.target.result;

                                        var workbook = XLSX.read(data, {type: 'binary'});

                                        /* DO SOMETHING WITH workbook HERE */
//                                        console.log(workbook);

                                        var sheet = workbook.Sheets[workbook.SheetNames[0]];
                                        var A = sheet.C1;

                                        if (A == undefined || sheet.AA1 == undefined || sheet.AE1 != undefined) {
                                            swal("{% trans 'Warning' %}", '{% trans "Data is incorrect, please re-check and make sure that template of file is in correct form. Data needs to be input from second line" %}!', "warning");
                                            sheet = null;
                                            that.check_error_upload = false;
                                        } else {
                                            $('body').loading({
                                                stoppable: true,
                                                message: "{% trans "Loading..." %}"
                                            });
                                            setTimeout(function () {
                                                var i = 2;
                                                var last_goal_index = 2;
                                                var last_goal = "";
                                                that.check_error_upload = true;
                                                while (A != undefined) {
                                                    try {

                                                        try {
                                                            var kpi_id = sheet["A" + i].w;
                                                        } catch (err) {
                                                            var kpi_id = '';
                                                        }

                                                        var goal = '';
                                                        try {
                                                            goal = sheet["B" + i].w;

                                                            if (goal != undefined) {

                                                                goal = goal.toUpperCase();
                                                            }

                                                        } catch (err) {

                                                        }
                                                        var check_goal = "";


                                                        var kpi = '';
                                                        try {
                                                            kpi = sheet["C" + i].w;
                                                        } catch (err) {

                                                            last_goal_index = i;
                                                        }

                                                        if (kpi.trim().length != 0 && (goal == undefined || goal == '')) {

                                                            if (last_goal == "") {
                                                                throw "KPI Goal is missing";
                                                            }
                                                            else {
                                                                console.log(kpi);
                                                                goal = last_goal;
                                                                check_goal = "Check goal"
                                                            }
                                                        } else {
                                                            last_goal = goal;
                                                        }


                                                        try {
                                                            var unit = sheet["D" + i].w;
                                                        } catch (err) {
                                                            var unit = '';
                                                        }


                                                        try {
                                                            var measurement = sheet["E" + i].w;
                                                        } catch (err) {
                                                            var measurement = '';
                                                        }

                                                        try {
                                                            var datasource = sheet["F" + i].w;
                                                        } catch (err) {
                                                            var datasource = '';
                                                        }

                                                        try {
                                                            var method = sheet["G" + i].w;
                                                        } catch (err) {
                                                            var method = '';
                                                        }

                                                        try {
                                                            var operator = sheet["H" + i].w;
                                                        } catch (err) {
                                                            var operator = '';
                                                        }


                                                        try {
                                                            var year = sheet["I" + i].w;
                                                        } catch (err) {
                                                            var year = '';
                                                        }


                                                        try {
                                                            var t1 = sheet["J" + i].w;
                                                        } catch (err) {
                                                            var t1 = '';
                                                        }


                                                        try {
                                                            var t2 = sheet["K" + i].w;
                                                        } catch (err) {
                                                            var t2 = '';
                                                        }


                                                        try {
                                                            var t3 = sheet["L" + i].w;
                                                        } catch (err) {
                                                            var t3 = '';
                                                        }


                                                        try {
                                                            var q1 = sheet["M" + i].w;
                                                        } catch (err) {
                                                            var q1 = '';
                                                        }

                                                        try {
                                                            var t4 = sheet["N" + i].w;
                                                        } catch (err) {
                                                            var t4 = '';
                                                        }

                                                        try {
                                                            var t5 = sheet["O" + i].w;
                                                        } catch (err) {
                                                            var t5 = '';
                                                        }

                                                        try {
                                                            var t6 = sheet["P" + i].w;
                                                        } catch (err) {
                                                            var t6 = '';
                                                        }

                                                        try {
                                                            var q2 = sheet["Q" + i].w;
                                                        } catch (err) {
                                                            var q2 = '';
                                                        }

                                                        try {
                                                            var t7 = sheet["R" + i].w;
                                                        } catch (err) {
                                                            var t7 = '';
                                                        }

                                                        try {
                                                            var t8 = sheet["S" + i].w;
                                                        } catch (err) {
                                                            var t8 = '';
                                                        }

                                                        try {
                                                            var t9 = sheet["T" + i].w;
                                                        } catch (err) {
                                                            var t9 = '';
                                                        }

                                                        try {
                                                            var q3 = sheet["U" + i].w;
                                                        } catch (err) {
                                                            var q3 = '';
                                                        }

                                                        try {
                                                            var t10 = sheet["V" + i].w;
                                                        } catch (err) {
                                                            var t10 = '';
                                                        }

                                                        try {
                                                            var t11 = sheet["W" + i].w;
                                                        } catch (err) {
                                                            var t11 = '';
                                                        }

                                                        try {
                                                            var t12 = sheet["X" + i].w;
                                                        } catch (err) {
                                                            var t12 = '';
                                                        }

                                                        try {
                                                            var q4 = sheet["Y" + i].w;
                                                        } catch (err) {
                                                            var q4 = '';
                                                        }

                                                        try {
                                                            var weight = sheet["Z" + i].w;
                                                        } catch (err) {
                                                            var weight = '';
                                                        }


                                                        try {
                                                            var email = extractEmails(sheet["AA" + i].w)[0];
                                                        } catch (err) {
                                                            var email = '';
                                                        }
                                                        try {
                                                            var code = sheet["AD" + i].w;
                                                        } catch (err) {
                                                            var code = '';
                                                        }





                                                        // <check-duplicated>

                                                        {#                                                    var duplicated_codes = that.kpis.filter(function (item) {#}
                                                        {#                                                        return item.code.toLowerCase().trim() == code.toLowerCase().trim()#}
                                                        {#                                                    });#}
                                                        {#                                                    if (code != "" && duplicated_codes.length > 0) {#}
                                                        {#                                                        throw "Duplicated Code";#}
                                                        {#                                                    }#}

                                                        // </check-duplicated>
                                                        that.kpis.push({
                                                            "code": code,
                                                            "kpi_id": kpi_id,
                                                            "check_goal": check_goal,
                                                            "goal": goal,
                                                            "kpi": kpi,
                                                            "unit": unit,
                                                            "measurement": measurement,
                                                            "score_calculation_type": method,
                                                            "operator": operator,
                                                            "t1": t1,
                                                            "t2": t2,
                                                            "t3": t3,
                                                            "t4": t4,
                                                            "t5": t5,
                                                            "t6": t6,
                                                            "t7": t7,
                                                            "t8": t8,
                                                            "t9": t9,
                                                            "t10": t10,
                                                            "t11": t11,
                                                            "t12": t12,
                                                            "q1": q1,
                                                            "q2": q2,
                                                            "q3": q3,
                                                            "q4": q4,
                                                            'year': year,
                                                            "weight": weight.replace('%',''),
                                                            "email": email,
                                                            "check_error_year": false,
                                                            "check_error_quarter_1": false,
                                                            "check_error_quarter_2": false,
                                                            "check_error_quarter_3": false,
                                                            "check_error_quarter_4": false,
                                                            "index": "",
                                                            "_uuid": makeid()


                                                        });
                                                        console.log(that.kpis);
                                                    } catch (err) {
                                                        that.is_error = true;
                                                        that.kpis.push({
                                                            "code": "[Error on line: " + i + "] > " + err

                                                        });

                                                    }
                                                    i += 1;

                                                    A = sheet["C" + i];
                                                    if (A == undefined) {
                                                        A = sheet["D" + i];
                                                    }
                                                    if (A == undefined) {
                                                        A = sheet["C" + (i + 1)];
                                                    }
                                                    if (A == undefined) {
                                                        A = sheet["D" + (i + 1)];
                                                    }
                                                }
                                                async.waterfall(
                                                    that.kpis.forEach(function (kpi, index) {
                                                        kpi.index = index
                                                        that.validate_kpi(index);
                                                        console.log(that.kpis[index]);
                                                        return kpi
                                                    })
                                                )
                                                that.hideUnusedTableHead()

                                            }, 200);
                                        }
                                        setTimeout(function () {
                                            $('body').loading('stop');

                                        }, 1000)
                                        //that.workbook = workbook;
                                        //debugger;
                                    };
                                    reader.readAsBinaryString(f);
                                }
                            }
                            $("#file-upload-form, #upload-form")[0].reset();
                        },
                        addRowError: function(uuid){
                            var self = this;
                            if(self.id_row_error.indexOf(uuid) === -1){
                                self.id_row_error.push(uuid)
                            }else{
                                // not thing
                            }
                            self.$set(self,'id_row_error',self.id_row_error)
                        },
                        removeRowError: function(uuid){
                            console.log(uuid)
                            console.log("hell index here")
                            var self = this;
                            if(self.id_row_error.indexOf(uuid) !== -1){
                                self.id_row_error.splice(self.id_row_error.indexOf(uuid),1)
                            }else{
                                //not thing
                            }
                            self.$set(self,'id_row_error',self.id_row_error)
                        },

                        extractEmails: function (email) {
                            if (email) {
                                return /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi.test(email);
                            }
                            return false;
                        },
                        init: function () {

                            that = this;

                            //  document.getElementById('drop').addEventListener('drop', that.handleDrop, false);


                        },
                        check_add_all: function () {
                            var count = 0;
                            for (var i = 0; i < that.kpis.length; i++) {
                                if (kpis[i].msg) return false;
                                if (kpis[i].status == 'success') count++;
                            }
                            return count == that.kpis.length ? false : true;
                        },
                        checkValidate: function(kpi,sum_q,totalQuarterArray,sum_year){
                            var self = this;
                            // Initialize pre condition

                            var quarterNeedTocheckSample = [1,2,3,4]
                            {#                            var intQuarterNumber = parseInt(quarterNumber)#}
                            var quarterNeedToCheck = []

                            // Process conditions

                            // year target bang voi tong target cac quy
                            kpi.year = !$.isNumeric(kpi.year)?null:parseFloat(kpi.year)
                            var yearTargetValid = sum_year == null
                            var isTotalyear = sum_q === null
                            if(!yearTargetValid){
                                kpi.check_error_year = true
                            }
                            //bao loi khi thang khong theo phuong phap phan quy
                            for(var i = 1;i<5; i++){
                                kpi['q' + i] = !$.isNumeric(kpi['q' + i])?null:parseFloat(kpi['q' + i])
                                if((kpi['q' + i] == totalQuarterArray[i -1]) == false){
                                    kpi['check_error_quarter_' + i] = true
                                }
                            }
                            var quarterSumsIsNotNull = totalQuarterArray.reduce(function(prevVal,element){
                                return prevVal && element === null
                            },true)
                            if (quarterSumsIsNotNull && isTotalyear){
                                kpi.check_error_year = false
                            }
                            return kpi
                        },
                        validateIsSumQuarter: function (kpi,sum_p,totalQuarterArray,sum_year) {//sum_q1,sum_q2,sum_q3,sum_q4 or average_q1,average_q2,average_q3,average_q4
                            var self = this;
                            return kpi = self.checkValidate(kpi,sum_p,totalQuarterArray,sum_year)
                        },
                        validateIsMostRecent: function (kpi,most_recent_q,totalQuarterArray,sum_year) {
                            var self = this;
                            return kpi = self.checkValidate(kpi,most_recent_q,totalQuarterArray,sum_year)
                        },
                        validateIsAverage: function (kpi,average_q,totalQuarterArray,sum_year) {
                            var self = this;
                            return kpi = self.checkValidate(kpi,average_q,totalQuarterArray,sum_year)
                        },
                        calculationScore: function(score){
                            var self = this
                            var year = score.year
                            var total_quarter =[]
                            var count_1 = 0
                            var count_2 = 0
                            var data_quarter = []
                            var all_quarter_array = []
                            for (var i =1; i<5;i++){
                                data_quarter[i] = {}
                                all_quarter_array[i] = $.isNumeric(score['q' + i])?parseFloat(score['q' + i]):null
                                data_quarter[i]['month_1'] = $.isNumeric(score['t' + ((i -1)*3 + 1)])?parseFloat(score['t' + ((i -1)*3 + 1)]):null
                                data_quarter[i]['month_2'] = $.isNumeric(score['t' + ((i -1)*3 + 2)])?parseFloat(score['t' + ((i -1)*3 + 2)]):null
                                data_quarter[i]['month_3'] = $.isNumeric(score['t' + ((i -1)*3 + 3)])?parseFloat(score['t' + ((i -1)*3 + 3)]):null
                            }
                            total_quarter[0] = self.calculationYearTotal(all_quarter_array)
                            for(var i = 1; i < 5; i ++){
                                total_quarter[i] = self.calculationQuarterTotal(data_quarter[i])
                            }
                            var total_year = total_quarter.slice().reduce(function (preVal,element) {
                                if(element.sum != null){
                                    return preVal + element.sum
                                }
                                return preVal
                            }, null)
                            total_quarter.push(total_year)
                            console.log(total_quarter)
                            return total_quarter


                        },
                        calculationYearTotal: function (all_quarter) {
                            // param la mảng chứa input 4 quý
                            // return object có chứa tổng 4 quý, trung bình 4 quý, quý gần nhất trong 4 quý
                            var count = 0
                            var total_quarter = {
                                sum: null,
                                average: null,
                                most_recent_quarter: null
                            }
                            for(var i = 1; i < 5; i ++){
                                if (all_quarter[i] != null) {
                                    count = count + 1
                                    total_quarter.sum = total_quarter.sum + all_quarter[i]
                                    total_quarter.average = total_quarter.sum / count
                                    total_quarter.most_recent_quarter = all_quarter[i]
                                } else {
                                }
                            }
                            return total_quarter
                        },
                        calculationQuarterTotal: function (data_quarter_month) {
                            //param là mảng chứa input trong 1 quý
                            // return 1 object tổng 3 tháng có giá trị , trung bình 3 tháng có giá trị trong 1 quý, tháng gần nhất có giá trị
                            var count = 0
                            var total_month = {
                                sum: null,
                                average: null,
                                most_recent_quarter: null
                            }
                            for(var index in data_quarter_month) {
                                console.log(data_quarter_month[index])
                                if (data_quarter_month[index] != null) {
                                    count = count + 1
                                    total_month.sum = total_month.sum + data_quarter_month[index]
                                    total_month.average = total_month.sum / count
                                    total_month.most_recent_quarter = data_quarter_month[index]
                                } else {
                                }
                            };
                            return total_month
                        },
                        validateTargetScoreFollowAllocationTarget: function (kpi) {
                            var self = this
                            var check_score_calculation_type = true
                            var p = self.method.indexOf(kpi.score_calculation_type.trim().toLowerCase());
                            if (p > 2 & p<6){
                                self.method_save = self.method[p-3];
                            }else if( 0<p && p<2){
                                self.method_save = self.method[p];
                            }
                            else{
                                self.method_save = self.method[p];
                                check_score_calculation_type = false
                            }
                            kpi.score_calculation_type = self.method_save;
                            var total_quarter_array = self.calculationScore(kpi)
                            if(check_score_calculation_type){
                                switch (kpi.score_calculation_type) {
                                    case "sum":
                                        // par_1 là quarter_1 + quarter_2 + quarter_3 + quarter_4
                                        // par_2 là array tông [sum_quarter_1,sum_quarter_2,sum_quarter_3,sum_quarter_4] với sum_quarter_1 = month_1 +month_2 + month_3
                                        self.validateIsSumQuarter(kpi,total_quarter_array[0].sum,[total_quarter_array[1].sum,total_quarter_array[2].sum,total_quarter_array[3].sum,total_quarter_array[4].sum],total_quarter_array[5])
                                        break;
                                    case "most_recent":
                                        // par_1 là quý có input gần nhất
                                        // par_2 là array các quý lấy tháng có input gần nhất
                                        self.validateIsMostRecent(kpi,total_quarter_array[0].most_recent_quarter,[total_quarter_array[1].most_recent_quarter,total_quarter_array[2].most_recent_quarter,total_quarter_array[3].most_recent_quarter,total_quarter_array[4].most_recent_quarter],total_quarter_array[5])
                                        break;
                                    case "average":
                                        // par_1 là trung binh các quý có input
                                        // par_2 là array các quý lấy trung binh các tháng
                                        self.validateIsAverage(kpi,total_quarter_array[0].average,[total_quarter_array[1].average,total_quarter_array[2].average,total_quarter_array[3].average,total_quarter_array[4].average],total_quarter_array[5])
                                        break;
                                    default:
                                }
                            }
                            return kpi
                        },
                        validate_kpi: function (index) {
                            var self = this
                            var that = this;
                            var operator = ['<=', '>=', '='];
                            var scores = ['q1', 'q2', 'q3', 'q4'];
                            if (index == undefined) {
                                return;
                            }
                            var kpi = self.kpis[index];
                            if (self.enable_allocation_target){
                                kpi = that.validateTargetScoreFollowAllocationTarget(kpi)
                            }
                            kpi.weight = kpi.weight.toString()
                            if(!kpi.score_calculation_type){
                                kpi.score_calculation_type = ""
                            }
                            if(!kpi.code){
                                kpi.code = ""
                            }
                            if(!kpi.kpi_id){
                                kpi.kpi_id = ""
                            }
                            if(!kpi.unit){
                                kpi.unit = ""
                            }
                            if(!kpi.measurement){
                                kpi.measurement = ""
                            }

                            kpi.msg = '';
                            that.check_file = true;
                            cloudjetRequest.ajax({
                                type: "POST",
                                url: '{% url "validate_kpi_api" %}',
                                data: JSON.stringify(kpi),
                                success: function (responseJSON, textStatus) {
                                    // console.log('yes, we can!');
                                    // router.push('/');
                                    kpi.status = null;
                                    var messages = '';
                                    if (responseJSON['status'] == 'ok') {
                                        kpi.validated = true;
                                        if (that.method.indexOf(kpi.score_calculation_type.trim().toLowerCase()) == -1){
                                            kpi.validated = false;
                                            kpi.status = responseJSON['status'];
                                            that.check_file = false;
                                            kpi.msg = kpi.msg + "\n" +"{% trans 'Score calculation type format is not correct' %}";
                                        }

                                        if (operator.indexOf(kpi.operator) == -1 && kpi.operator) {
                                            kpi.validated = false;
                                            kpi.status = responseJSON['status'];
                                            that.check_file = false;
                                            kpi.msg = kpi.msg + "\n" +"{% trans 'Operator format is not correct' %}";
                                        }
                                        if (kpi.code.trim()==''){
                                            kpi.validated = false;
                                            kpi.msg = kpi.msg + "\n" +'{% trans "Code must not be empty" %}';
                                        }

                                        scores.forEach(function (score) {
                                            if (isNaN(kpi[score])) {
                                                messages += score.toUpperCase() + ', '
                                            }
                                        });
                                        if (kpi.msg.trim()[0] == '\n') {
                                            kpi.msg = kpi.msg.slice(2, kpi.msg.length);
                                            kpi.msg = kpi.msg.charAt(0).toUpperCase() + kpi.msg.slice(1);
                                        }
                                    } else {
                                        kpi.status = responseJSON['status'];
                                        kpi.validated = false;
                                        kpi.msg = responseJSON['message'];
                                        that.check_file = false;

                                        if (kpi.unit.trim()==''){
                                            kpi.validated = false;
                                            kpi.msg = kpi.msg + "\n" +'{% trans "Unit is not formatted correctly" %}';
                                        }
                                        if (kpi.code.trim()==''){
                                            kpi.validated = false;
                                            kpi.msg = kpi.msg + "\n" +'{% trans "Code must not be empty" %}';
                                        }
                                        if (kpi.kpi_id.trim()==''){
                                            kpi.validated = false;
                                            kpi.msg = kpi.msg + "\n" +'{% trans "Type must not be empty" %}';
                                        }

                                        if (kpi.measurement.trim()==''){
                                            kpi.validated = false;
                                            kpi.msg = kpi.msg + "\n" + '{% trans "Measurement" %} {% trans "not empty" %}';
                                        }

                                        if (operator.indexOf(kpi.operator) == -1 && kpi.operator) {
                                            kpi.msg = kpi.msg + "\n" + "{% trans "Operator format is not correct" %}";
                                        }
                                        if (that.method.indexOf(kpi.score_calculation_type.trim().toLowerCase()) == -1){
                                            kpi.validated = false;
                                            kpi.status = responseJSON['status'];
                                            that.check_file = false;
                                            kpi.msg = kpi.msg + "\n" + "{% trans 'Score calculation type format is not correct' %}";
                                        }
                                        scores.forEach(function (score) {
                                            if (isNaN(kpi[score])) {
                                                messages += score.toUpperCase() + ', '
                                            }
                                        });
                                    }
                                    if (messages) {
                                        kpi.validated = false;
                                        messages = messages.slice(0, -2) + " {% trans "is not numbers" %}";
                                        kpi.msg = kpi.msg + "\n" + '{% trans "Quarter score" %} ' + messages;
                                    }
                                    kpi.weight = kpi.weight.replace(',', '.');
                                    if (isNaN(parseFloat(kpi.weight)) && kpi.weight) {
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Weights are not formatted correctly" %}';
                                    }
                                    if (parseFloat(kpi.weight) <= 0) {
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Weight must be greater than 0" %}';
                                    }
                                    if (kpi.check_error_year == true){
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Year must be follow score calculation type" %}';
                                    }
                                    if (kpi.check_error_quarter_1 == true){
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Quarter 1 must be follow score calculation type" %}';
                                    }
                                    if (kpi.check_error_quarter_2 == true){
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Quarter 2 must be follow score calculation type" %}';
                                    }
                                    if (kpi.check_error_quarter_3 == true){
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Quarter 3 must be follow score calculation type" %}';
                                    }
                                    if (kpi.check_error_quarter_4 == true){
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Quarter 4 must be follow score calculation type" %}';
                                    }
                                    if (kpi.kpi === '') {
                                        kpi.validated = false;
                                        kpi.msg = kpi.msg + "\n" +'{% trans "Name must not be empty" %}';
                                    }

                                    if (kpi.msg.trim() == '\n') {
                                        kpi.msg = kpi.msg.slice(2, kpi.msg.length);
                                        kpi.msg = kpi.msg.charAt(0).toUpperCase() + kpi.msg.slice(1);
                                    }


                                    console.log("===============xxxxxxxxx============")
                                    console.log(kpi.msg)
                                    if(kpi.msg !== ''){
                                        self.addRowError(kpi._uuid)
                                    }else{
                                        self.removeRowError(kpi._uuid)
                                    }
                                    that.$set(that.kpis, index, kpi);
                                    that.$set(that.data_edit_kpi, 'msg', kpi.msg);
                                    try{
                                        // auto scroll to error messages
                                        setTimeout(function(){
                                            $('.modal-body').scrollTo($('small.error').closest('.content'))
                                        },200)
                                    }catch(err){

                                    }

                                },
                                error: function (jqXHR, textStatus) {
                                    kpi.status = message_request;
                                    kpi.msg = null;
                                    try {
                                        kpi.msg = "Validate failed: " + jqXHR.responseJSON['message'];
                                        that.check_file = false;
                                    } catch (err) {
                                    }
                                    if(kpi.msg !== ''){
                                        self.addRowError(kpi._uuid)
                                    }else{
                                        self.removeRowError(kpi._uuid)
                                    }
                                    that.$set(that.kpis, index, kpi);
                                },
                                complete: function (data) {
                                    that.check_total++;
                                    if (that.check_total == that.kpis.length) {
                                        setTimeout(function () {
                                            $('body').loading('stop');
                                            that.check_total = 0;
                                        }, 1000)
                                    }
                                },

                                contentType: "application/json"

                            });
                            that.$set(that.kpis, index, kpi);
                        },
                        to_string: function (value) {
                            return value != null ? value.toString() : null;
                        },
                        check_kpi_child: function (code) {
                            return code.indexOf('.') != -1;
                        },
                        check_format_operator: function (_operator) {
                            var operator = ['<=', '>=', '='];
                            return operator.indexOf(_operator) == -1;
                        },
                        edit_kpi: function (index) {
                            that = this;
                            that.data_edit_kpi.check_error = false;
                            that.data_edit_kpi.msg = that.kpis[index].msg;
                            that.data_edit_kpi.data = JSON.parse(JSON.stringify(that.kpis[index]));
                            console.log(that.data_edit_kpi.data)
                            if (that.data_edit_kpi.data.score_calculation_type.trim().toLowerCase() == '' || that.data_edit_kpi.data.score_calculation_type.trim().toLowerCase()=='most recent'){
                                {#that.data_edit_kpi.data.score_calculation_type = 'most_recent';#}
                            }
                            else if (that.method.indexOf(that.data_edit_kpi.data.score_calculation_type.trim().toLowerCase())>-1){
                                that.method_save = that.data_edit_kpi.data.score_calculation_type;
                                p = that.method.indexOf(that.data_edit_kpi.data.score_calculation_type.trim().toLowerCase());
                                if(p>2){
                                    that.data_edit_kpi.data.score_calculation_type = that.method[p-3];
                                }
                                if(p<3){
                                    that.data_edit_kpi.data.score_calculation_type = that.method[p];
                                }
                            }
                            if (parseFloat(that.data_edit_kpi.data.weight) != NaN) {
                                that.data_edit_kpi.data.weight = parseFloat(that.data_edit_kpi.data.weight);
                            }
                            that.data_edit_kpi.index = index;
                            setTimeout(function () {
                                $('#edit-import-kpi').modal('show');
                                $('.modal-dialog .modal-body').attr('style', 'max-height:' + parseInt(screen.height * 0.6) + 'px !important; overflow-y: auto');
                            }, 200)
                        },
                        resetErrorMsg: function(kpi){
                            kpi.check_error_year = false;
                            kpi.check_error_quarter_1 = false;
                            kpi.check_error_quarter_2 = false;
                            kpi.check_error_quarter_3 = false;
                            kpi.check_error_quarter_4 = false;
                        },
                        confirm_edit_kpi: function () {
                            var that = this;
                            that.resetErrorMsg(that.kpis[that.data_edit_kpi.index])
                            {#                              that.data_edit_kpi.check_error = true;#}
                            that.data_edit_kpi.data.weight = that.data_edit_kpi.data.weight;
                            that.kpis[that.data_edit_kpi.index] = that.data_edit_kpi.data;
                            that.data_edit_kpi.data.msg = '';
                            that.validate_kpi(that.data_edit_kpi.index)
                            that.data_edit_kpi.data = that.kpis[that.data_edit_kpi.index]
                            setTimeout(function () {
                                if (!$('.text-muted').length) {
                                    $("body.bg-sm").removeAttr("style");
                                    setTimeout(function () {
                                        $('#edit-import-kpi').modal('hide');
                                        swal({
                                            title: "{% trans "Success" %}",
                                            text: "{% trans "Edit import KPI success" %}!",
                                            type: "success",
                                            timer: 2000,
                                            confirmButtonColor: "#43ABDB"
                                        });
                                    }, 200)
                                    return;
                                }
                            }, 1000)
                            if(that.method.indexOf(that.data_edit_kpi.data.score_calculation_type.trim().toLowerCase())!=-1) that.data_edit_kpi.data.score_calculation_type = that.trans_method(that.data_edit_kpi.data.score_calculation_type);

                        },
                        format_number_edit: function (keys, id) {
                            if (isNaN(keys.key)) {
                                data_edit_kpi.data[id] = data_edit_kpi.data[id].slice(0, -1);
                            }
                        },
                        convertNewStructData: function(kpi){
                            var data_import_kpi= {
                                year_target: kpi.year,
                                q1: kpi.q1,
                                q2: kpi.q2,
                                q3: kpi.q3,
                                q4: kpi.q4,
                                check_goal: kpi.check_goal,
                                goal: kpi.goal,
                                kpi: kpi.kpi,
                                kpi_id: kpi.kpi_id,
                                unit: kpi.unit,
                                measurement: kpi.measurement,
                                score_calculation_type: kpi.method,
                                operator: kpi.operator,
                                weight: kpi.weight,
                                email: kpi.email,
                                code: kpi.code,
                                year_data: {
                                    months_target: {
                                        quarter_1: {
                                            month_1: kpi.t1,
                                            month_2: kpi.t2,
                                            month_3: kpi.t3
                                        },
                                        quarter_2: {
                                            month_1: kpi.t4,
                                            month_2: kpi.t5,
                                            month_3: kpi.t6
                                        },
                                        quarter_3: {
                                            month_1: kpi.t7,
                                            month_2: kpi.t8,
                                            month_3: kpi.t9
                                        },
                                        quarter_4: {
                                            month_1: kpi.t10,
                                            month_2: kpi.t11,
                                            month_3: kpi.t12
                                        }
                                    }
                                }

                            }
                            return data_import_kpi
                        },
                        add_kpi: function (index) {
                            var that = this;
                            $('#error_modal').modal('hide');
                            if (index == undefined) {
                                return;
                            }
                            //   console.log(index);

                            var kpi = that.kpis[index];

                            kpi.status = "adding";
                            if ((kpi.score_calculation_type.trim().toLowerCase() == '' || kpi.score_calculation_type.trim().toLowerCase() == 'most recent') && that.check_kpi_child(kpi.kpi_id)) kpi.score_calculation_type = 'most_recent';
                            that.$set(that.kpis, index, kpi);

                            var p = that.method.indexOf(kpi.score_calculation_type.trim().toLowerCase());
                            if (p > 2){
                                that.method_save = that.method[p-3];
                            }
                            else{
                                that.method_save = that.method[p];
                            }
                            kpi.score_calculation_type = that.method_save;

                            if (that.to_string(kpi.q1) == '') {
                                kpi.q1 = null;
                            }
                            if (that.to_string(kpi.q2) == '') {
                                kpi.q2 = null;
                            }
                            if (that.to_string(kpi.q3) == '') {
                                kpi.q3 = null;
                            }
                            if (that.to_string(kpi.q4) == '') {
                                kpi.q4 = null;
                            }
                            if (that.to_string(kpi.year) == '') {
                                kpi.year = null;
                            }
                            var kpi_data_import = that.convertNewStructData(kpi)
                            cloudjetRequest.ajax({
                                type: "POST",
                                url: '{% url "import_kpi_api" %}',
                                data: JSON.stringify(kpi_data_import),
                                success: function (data) {
                                    //console.log('yes, we can!');
                                    // router.push('/');
                                    kpi.status = "success";
                                    that.$set(that.kpis, index, kpi);
                                    kpi.score_calculation_type = that.method[p];
                                },
                                error: function (jqXHR) {
                                    //alert('failed');
                                    requestcenterHideNotification();
                                    var html = ''
                                    if (jqXHR.responseJSON['exception']) {
                                        html = '<ol class="text-left">\n';
                                        Object.keys(jqXHR.responseJSON['exception']).forEach(function (key) {
                                            html += '<li>"' + key + '": ' + jqXHR.responseJSON['exception'][key] + '</li>\n';
                                        });
                                        html += '</ol>\n';
                                    }
                                    swal({
                                        title: '<h4 class>' + jqXHR.responseJSON['message'] + '</h4>',
                                        html: html,
                                        type: 'error',
                                        animation: false
                                    });
                                    try {
                                        kpi.msg = jqXHR.responseJSON['message'];
                                    } catch (err) {
                                    }
                                    kpi.status = "failed";
                                    that.$set(that.kpis, index, kpi);
                                },

                                contentType: "application/json"

                            });

                        },
                        add_all_kpi: function () {
                            this.kpis.forEach(function (kpi, index) {
                                if (kpi.status != 'success') {
                                    $('#add_kpi' + index).click();
                                }
                            })
                        },
                        //end example */
                    },
                    delimiters: ['${', '}$'],
                    created: function () {
                        // fetch the data when the view is created and the data is
                        // already being observed
                        this.init()
                    }
                    ,
                    watch: {
                        // call again the method if the route changes
                        '$route': 'init'
                    }
                }
            ;


            const routes = [
                {path: '/', component: Home},
//                {path: '/create-account', component: CreateAccount}
            ];

            const router = new VueRouter({
                routes // short for routes: routes
            });


            const app = new Vue({
                router,

                delimiters: ['${', '}$']

            }).$mount('#app');

            function validate(evt) {
                var theEvent = evt || window.event;
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
                var regex = /[0-9]|\./;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
            }
        </script>
    </div>

{% endblock %}