
<script src="{{ STATIC_URL }}js/lib/jquery_csrf.js?v={{ settings.VERSION }}"
        type="text/javascript"></script>
<script src="{{ STATIC_URL }}v5/bower_components/jquery-loading/dist/jquery.loading.min.js?v={{ settings.VERSION }}"
        type="text/javascript"></script>
<link href="{{ STATIC_URL }}v5/bower_components/jquery-loading/dist/jquery.loading.min.css" rel="stylesheet">

<script type="text/javascript"
        src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js"></script>

{% include "raven.html" %}

<script type="text/javascript"
        src="{{ STATIC_URL }}v5/bower_components/js-xlsx/dist/jszip.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}v5/bower_components/js-xlsx/dist/xlsx.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}v5/moment.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}v5/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}v5/daterangepicker/daterangepicker.css"/>
<script src="{{ STATIC_URL }}js/async.min.js"></script>

<script src="{{ STATIC_URL }}sweetalert-master/v7.4.0/sweetalert2.all.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}v5/bower_components/material-icon/material-icons.css"/>
