{% load i18n %}
<style>
    .cjs-card-collection-component {
        margin: 6px;
        width: 200px;
        height: 90px;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        background-color: #ffffff;
    }

    .cjs-card-collection-component.active {
        background-color: #d9eeee;
        border: solid 1px #008b8b;
    }

    .cjs-card-collection-component:hover {
        border: solid 1px #008b8b;
        cursor: pointer;
    }

    .cjs-card-collection-component .card-collection-wrapper {
        padding: 13px 13px 13px 15px;
        height: 90px;
        position: relative;
    }

    .cjs-card-collection-component .card-collection-wrapper .title {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        line-height: 1!important;
    }

    .cjs-card-collection-component .card-collection-wrapper .sub-tile-wrapper {
        margin-top: 3px;
    }

    .cjs-card-collection-component .card-collection-wrapper .sub-tile-wrapper .sub-tile {
        font-size: 12px;
        font-weight: normal;
        color: #ababab
    }

    .cjs-card-collection-component .card-collection-wrapper .icon-person {
        color: #ababab
    }

    .cjs-card-collection-component .card-collection-wrapper .icon-person:hover {
        color: #008b8b
    }

    .cjs-card-collection-component .card-collection-wrapper .three-dot {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-collection-wrapper .position-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .qtip-infor-kpi {
        width: 105px;
    }

    .qtip-infor-kpi .qtip-content {
        text-align: center;
    }

</style>

<div id="card-view-wrap" style="display: none;">
    <div class="cjs-card-collection-component" :id="'card-collection-' + id"
         :class="{ active : is_active }" @click="clickCard">
        <div class="card-collection-wrapper">
            <div class="three-dot">
                <span class="title">${ title }$</span>
            </div>
            <div class="sub-tile-wrapper">
                <span class="sub-tile" v-if="sub_title == 0" style="font-style: italic;">Chưa có KPI</span>
                <span class="sub-tile" v-else>${ sub_title }$ KPI</span>
            </div>

            <div class="text-right position-icon" v-if="id_vtcd != null">
                <i class="material-icons font-18 icon-person" :id="'icon-person-'+id">person</i>
                <qtip-wrapper message="{% trans "Set KPI of <br> position" %}"
                              :class_custom="'qtip-infor-kpi'"
                              :data_toggle="'icon-person-'+id"
                              :position_my_class="'top center'"
                              :position_at_class="'bottom center'">
                </qtip-wrapper>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('card-view', {
        type: 'card-view',
        template: $('#card-view-wrap').html(),
        props: [
            'id',    //id of collection
            'title',
            'sub_title',
            'id_vtcd'
        ],
        data: function () {
            return {
                is_active: false,
            }
        },
        delimiters: ["${", "}$"],
        methods: {
            activeWhenClick: function () {
                var self = this;
                self.is_active = true;
                setTimeout(function () {
                    self.is_active = false;
                }, 200)
            },
            clickCard: function () {
                var self = this;
                self.activeWhenClick();
                self.$emit('view_detail_card', self.id, self.title);
            }
        },
        watch: {},
        filters: {},

        mounted: function () {
            window.cardView = this;
        },
    });

</script>