{% load i18n %}
<style>

    .cjs-card-detail-component{
        table-layout: fixed;
    }

    .cjs-card-detail-component tr:first-child td {
        border-top: none!important;
    }
    .cjs-card-detail-component tr td {
        border-top: 1px solid #f9f9f9!important;
        border-bottom: none;
    }
    .cjs-card-detail-component .col-sm-11:hover{
        cursor: pointer;
    }

    .cjs-card-detail-component .kpi-item {
        padding: 10px;
    }

    .cjs-card-detail-component .kpi-item td {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .cjs-card-detail-component .kpi-item h4 {
        margin-top: 0px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .cjs-card-detail-component .kpi-item a {
        color: #008b8b;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cjs-card-detail-component .kpi-item .kpi-sumary {
        font-size: 10px;
        color: #666666;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cjs-card-detail-component .kpi-item .icon-person-vtcd {
        font-size: 16px;
        color: #ababab;
        margin-top: -3px;
    }

    .cjs-card-detail-component .kpi-item .kpi-sumary i {
        font-size: 10px;
    }

    .cjs-card-detail-component .kpi-item:hover {
        background: #f9f9f9;
    }

    .cjs-card-detail-component .kpi-item .btn-add-kpi:hover {
        background-color: #008b8b;
    }

    .cjs-card-detail-component .kpi-item .btn-add-kpi:hover .icon-add {
        color: white !important;
    }

    .qtip-measurement-method .qtip-content {
        color: #000000 !important;
        background-color: #caed9d !important;
        text-align: justify;
        border-radius: 3px;
        padding: 11px 13px 11px 13px;
        width: 395px;
    }

</style>
{% include "performance/bsc/worksheet/modals/kpi_lib/component/detail-kpi.html" %}
<div id="card-detail-wrap" style="display: none;">
    <div>
        <table :id="'table-list-kpi-collection-' + id" class="table table-hover cjs-card-detail-component">
            <tbody>
            <tr class="kpi-item" v-for="t in list_kpi" v-cloak>
                <td>
                    <div>
                        <div class="row">

                            <div class="col-sm-11 col-table-11"
                                 @click="set__kpi_to_view(t)"
                                 :id="'infor-kpi-'+t.id">
                                <qtip-wrapper :message="'<strong>Phương pháp đo</strong> </br>' + t.measurement_method"
                                              :data_toggle="'infor-kpi-'+t.id"
                                              class_custom="qtip-measurement-method"
                                              delay="250"
                                              position_my_class="top center"
                                              position_at_class="bottom center">
                                </qtip-wrapper>
                                <h4>
                                    <a href="#">
                                        <span>${ t.name }$</span>
                                        <i class="material-icons icon-person-vtcd" @mouseover="mouseOver"
                                           @mouseleave="mouseLeave">person</i>
                                    </a>
                                </h4>

                                <div class="kpi-sumary">${ t.tag_item }$</div>
                            </div>
                            <div class="col-sm-1 col-table-1 no-padding text-center">
                                <button class="btn btn-normal btn-add-kpi btn-cus-5-4 w-h-34"
                                        :id="'btn-add-kpi-'+t.id"
                                        data-loading-text="...">
                                    <i class="material-icons font-20 icon-add">&#xE145;
                                        <!--add--></i>
                                </button>
                                <qtip-wrapper :message="'Thêm KPI'"
                                              :data_toggle="'btn-add-kpi-'+t.id"
                                              :position_my_class="'top center'"
                                              :position_at_class="'bottom center'">
                                </qtip-wrapper>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <detail-kpi v-model="flag_open_modal_detail" v-on:dismiss="triggerDismissModal" :kpi="kpi_to_view_detail"></detail-kpi>
    </div>


</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('card-detail', {
        type: 'card-detail',
        template: $('#card-detail-wrap').html(),
        props: [
            'id',  // id of collection
            'list_kpi',
        ],
        data: function () {
            return {
                hover_icon_person: false,
                flag_open_modal_detail: false,
                kpi_to_view_detail : {},
            }
        },
        delimiters: ["${", "}$"],
        methods: {
            mouseOver: function () {
                var self = this;
                self.hover_icon_person = true;
            },
            mouseLeave: function () {
                var self = this;
                self.hover_icon_person = false;
            },
            set__kpi_to_view: function (k) {
                var self = this;
                //self.kpi_to_view_detail = k;
                self.kpi_to_view_detail = {"id":2,
                    "objective":"Đạt được 80% độ tập trung trong công việc",
                    "name":"Tăng sự tập trung trong công việc",
                    "category":"financial",
                    "description":"Tăng độ tập trung trong công việc thông qua việc không dùng facebook cũng như các thiết bị khác",
                    "measurement_method":"Lần",
                    "operator":"=",
                    "tags":["Tập trung"],
                    "language":"vi",
                    "extra_data":{
                        "category":"financial",
                        "functions":[
                            {
                                "function_category_id":5,
                                "sub_category_id":8
                            },
                            {
                                "function_category_id":5,
                                "sub_category_id":6
                            }],
                        "unit":"Số lần"
                    },
                    "created_at":"2018-07-11T10:45:22.168534",
                    "updated_at":"2018-07-31T10:02:10.587000",
                    "function_categories":[
                        "Việc làm nhà nước › Việt nam muôn năm",
                        "Việc làm nhà nước › Làm công ăn lương"
                    ],
                    "unit":"Số lần",
                    "functions":[{
                            "function_category_id":5,
                            "sub_category_id":8
                        },
                        {
                            "function_category_id":5,
                            "sub_category_id":6
                        }],
                    "data_source":null,
                    "frequency":null,
                    "example":null,
                    "tips":null,
                    "kpi_source":null,
                    "belong_vtcd": false,
                    "sector": "Tất cả",
                    "main_function": "Tất cả",
                    "sublist" : "Có thể áp dụng từ chỉ số công ty, cấp quản lý đến nhân viên"

                };
                self.flag_open_modal_detail = true;
            },
            triggerDismissModal: function () {
                var self = this;
                self.flag_open_modal_detail = false;
                self.kpi_to_view_detail = {};
                console.log("dissmissed")
            },
        },
        watch: {},
        filters: {},

        mounted: function () {
            window.cardDetail = this;
        },
    });

</script>