{% load i18n %}
<style>
    .cjs-card-new-component {
        margin: 6px;
        width: 200px;
        height: 90px;
        border: 1px dotted #e4e4e4;
        border-radius: 4px;
        background-color: #ffffff;
        display: table;
    }

    .cjs-card-new-component.active {
        background-color: #d9eeee;
        border: dotted 1px #008b8b;
    }

    .cjs-card-new-component:hover {
        border: dotted 1px #008b8b;
        cursor: pointer;
    }

    .cjs-card-new-component:hover .icon-add {
        color: #008b8b !important;
        cursor: pointer;
    }

    .cjs-card-new-component:hover .title {
        color: #008b8b !important;
        cursor: pointer;
    }

    .cjs-card-new-component .card-new-wrapper {
        padding: 13px 13px 13px 15px;
        display: table-cell;
        height: inherit;
        vertical-align: middle;
    }

    .cjs-card-new-component .card-new-wrapper .material-icons.icon-add {
        font-size: 20px;
        color: #d9eeee;
    }

    .cjs-card-new-component .card-new-wrapper .title {
        font-size: 14px;
        font-weight: normal;
        color: #d9eeee;
    }

</style>
{% include "performance/bsc/worksheet/modals/kpi_lib/component/modal-add-edit-card.html" %}
<div id="card-new-wrap" style="display: none;">
    <div>
        <div class="cjs-card-new-component" :id="'card-new-'+uuid"
             :class="{ active : is_active }" @click="clickCard">
            <div class="card-new-wrapper">
                <div class="text-center">
                    <i class="material-icons icon-add">add_circle</i>
                </div>
                <div class="text-center">
                    <span class="title">{% trans "Create new collection" %}</span>
                </div>
            </div>
        </div>

        <new-edit-card v-model="flag_open_modal" mode="create" v-on:dismiss="triggerDismissModal" v-on:create_new_card="createNewCard"></new-edit-card>
        <alert-custom :type="type"
                      :title="title"
                      :messages="messages"
                      :nomessages="no_message"
                      :duration='duration'
                      :havebutton="have_button"
                      :textbutton="text_button"
                      :hrefbutton="href_button"
                      v-on:dismiss="dismissMessages"
                      v-model="show_mesages">
        </alert-custom>
    </div>


</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('card-new', {
        type: 'card-new',
        template: $('#card-new-wrap').html(),
        props: [],
        data: function () {
            return {
                is_active: false,
                flag_open_modal: false,

                // for alert custom
                type: 'success',
                title: '',
                messages: '',
                duration: 5,
                show_mesages: false,
                have_button: false,
                text_button: '',
                href_button: '',
                no_message: false,
                // end alert

                uuid: makeid(),
            }
        },
        delimiters: ["${", "}$"],
        methods: {
            dismissMessages: function () {
                var self = this;
                self.show_mesages = false;
            },
            callAlertCustom: function(type, title, messages, duration, havebutton, textbutton, href ,no_message) {
                var self = this;
                self.type = type;
                self.title = title;
                self.messages = messages;
                self.duration = duration;
                self.show_mesages = true;
                self.have_button = havebutton;
                self.text_button = textbutton;
                self.no_message = no_message;
                self.href_button = href;
            },
            createNewCard: function (card) {
                var self = this;
                self.$emit('add_new_card',card);
                self.callAlertCustom('success', 'Thêm thành công', 'message', 2, false, 'Đến KPI editor', '?', true);
            },
            activeWhenClick: function () {
                var self = this;
                self.is_active = true;
                setTimeout(function () {
                    self.is_active = false;
                }, 200)
            },
            clickCard: function () {
                var self = this;
                self.activeWhenClick();
                self.flag_open_modal = true;
            },
            triggerDismissModal: function () {
                var self = this;
                self.flag_open_modal = false;
                console.log("dissmissed")
            },
        },
        mounted: function () {
            window.cardNew = this;
        },
    });

</script>