{% load i18n %}
<style>

    #modal-kpi-details {
        width: 650px
    }

    #modal-kpi-details .modal-body{
        max-height: 454px;
    }

    #modal-kpi-details select.form-control {
        padding: 6px 0;
    }

    #modal-kpi-details .line-wrap {
        white-space: pre-wrap;
    }

    #modal-kpi-details .modal-title {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
    }

    #modal-kpi-details .modal-header hr {
        display: block;
        margin-top: 11px;
        margin-bottom: 0px;
        color: #979797
    }

    #modal-kpi-details .modal-header .border {
        border-bottom: solid 1px #979797;
    }

    #modal-kpi-details .modal-body .border {
        border-bottom: 1px solid #f9f9f9
    }

    #modal-kpi-details .modal-body .border-bold {
        border-bottom: solid 1px #e4e4e4;
    }

    #modal-kpi-details .modal-body .form-group {
        font-size: 12px;
        margin-bottom: 0px;
    }

    #modal-kpi-details .modal-footer {
        background-color: #f9f9f9;
        padding: 20px !important;
        border-radius: 3px;
    }

    #modal-kpi-details .icon-person {
        color: #ababab;
        margin-bottom: 5px;
    }

    .icon-alert-del-kpi {
        display: none;
    }

    .title-alert-change {
        font-size: 22px;
        font-weight: bold;
        color: #008b8b;
    }

    .alert-success-cus-el {
        width: 465px;
        background-color: white;
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .alert-success-cus-el .el-message__closeBtn {
        top: 15% !important;
    }

    .alert-success-cus-el.cus-detail .el-message__closeBtn {
        top: 6% !important;
    }


</style>

{% include "performance/bsc/worksheet/modals/kpi_lib/component/edit-kpi.html" %}
<div id="modal-kpi-detail-wrap" style="display: none;">
    <div>
        <div class="modal fade" :id="'modal-kpi-details-' + uuid" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" id="modal-kpi-details" role="document">
                <div class="modal-content" v-if="!$.isEmptyObject(kpi_to_view)">

                    <div class="modal-header no-border">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            ${ kpi_to_view.name }$
                            <i v-if="kpi_to_view.belong_vtcd == true"
                               class="material-icons font-16 icon-person">person</i>
                        </h4>
                    </div>

                    <div class="modal-body pd-t-0">
                        <div class="form-horizontal pd-lr-10">

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans 'Objectives' %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">${ kpi_to_view.objective }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans "Categories" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">${ BSC_CATEGORY[kpi_to_view.category] }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans 'Operator' %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">${ kpi_to_view.operator }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans "Measurement" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.measurement_method }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans 'Description' %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.description }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div v-if="kpi_to_view.extra_data" class="form-group"
                                 v-for="(key, value, index) in EXTRA_FIELDS_KPI">
                                <div v-if="value != 'functions'">
                                    <label class="col-sm-3 control-label text-left">${ key }$</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static line-wrap">${ kpi_to_view.extra_data[value] }$</p>
                                    </div>
                                    <div class="col-sm-12 no-padding" v-if="index == Object.values(EXTRA_FIELDS_KPI).length - 1">
                                        <div class="border-bold"></div>
                                    </div>
                                    <div class="col-sm-12" v-else>
                                        <div class="border"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans "Sector" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.sector }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans "Main Function" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.main_function }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{% trans "Sublist" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.sublist }$</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="border"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-r-12 pull-right mg-l-10"
                                        @click="add_selected_kpi"
                                        data-loading-text="{% trans 'Adding KPI...' %}">
                                    <i class="material-icons font-20">&#xE145;<!--add--></i>
                                    {% trans 'Add KPI' %}
                                </button>
                                <button class="btn btn-normal btn-cus-white btn-cus-5-7 pull-right mg-l-10 pd-lr-16"
                                        v-if="kpi_to_view.belong_vtcd != true"
                                        @click="editKPI">
                                    <i class="material-icons font-20">edit</i>
                                    <span>{% trans "Edit" %}</span>
                                </button>

                                <button class="btn btn-normal btn-cus-5-7 pull-right btn-del mg-l-10 pd-lr-16"
                                        v-if="kpi_to_view.belong_vtcd != true"
                                        @click="deleteKPI">
                                    <i class="material-icons font-20">delete_forever</i>
                                    <span>{% trans "Delete" %}</span>
                                </button>
                                <button class="btn btn-normal btn-cus-white btn-cus-5-7 pd-lr-10 pull-right mg-l-10"
                                        data-dismiss="modal">{% trans 'Close' %}
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <edit-kpi v-model="flag_open_edit_kpi" :kpi="kpi_to_view" v-on:dismiss="triggerDismissModal"></edit-kpi>
        <alert-custom :type="type"
                      :title="title"
                      :messages="messages"
                      :nomessages="no_message"
                      :duration='duration'
                      :havebutton = "have_button"
                      :textbutton="text_button"
                      :hrefbutton="href_button"
                      v-on:dismiss="dismissMessages"
                      v-model="show_mesages">
        </alert-custom>
    </div>
</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('detail-kpi', {
        type: 'detail-kpi',
        template: $('#modal-kpi-detail-wrap').html(),
        props: [
            'value',
            'mode',
            'kpi',
        ],
        data: function () {
            return {
                uuid: makeid(),
                EXTRA_FIELDS_KPI: COMMON.ExtraFields,
                BSC_CATEGORY: COMMON.BSCCategory,
                kpi_to_view: {},
                flag_open_edit_kpi: false,
                user_display_name: "{{ request.user.profile.display_name }}",

                // for alert custom
                type: 'success',
                title: '',
                messages: '',
                duration: 5,
                show_mesages: false,
                have_button : false,
                text_button : '',
                href_button : '',
                no_message: false,
                // end alert

            }
        },
        delimiters: ["${", "}$"],
        watch: {
            value: {
                handler: function (val, oldVal) {
                    if (val === true) {
                        console.log("triggered modal open")
                        this.triggerOpenModal()
                    } else {
                        this.triggerCloseModal()
                    }
                }
            },
            kpi: {
                handler: function (val, oldVal) {
                    if (val) {
                        this.kpi_to_view = val;
                    } else {
                        this.kpi_to_view = {};
                    }
                }
            }
        },
        methods: {
            dismissMessages: function () {
                var self = this;
                self.show_mesages = false;
            },
            add_selected_kpi: function () {
                var self = this;
                // thuc hien them kpi bang api


                // sau do neu thanh cong thi se show len thong bao

                var title = 'Thêm KPI thành công';
                var messages = 'KPI <strong>' + self.kpi.name + '</strong> đã được thêm thành công vào khía cạnh ' +
                    '<strong>' + self.BSC_CATEGORY[self.kpi_to_view.category] + '</strong>' +
                    ' của nhân viên ' + '<strong>' + self.user_display_name + '</strong>';
                self.callAlertCustom('success',title, messages, 5, true, 'Đến KPI editor','?', false);
                self.triggerCloseModal();
            },
             callAlertCustom: function(type, title, messages, duration, havebutton, textbutton, href ,no_message) {
                var self = this;
                self.type = type;
                self.title = title;
                self.messages = messages;
                self.duration = duration;
                self.show_mesages = true;
                self.have_button = havebutton;
                self.text_button = textbutton;
                self.no_message = no_message;
                self.href_button = href;
            },
            deleteKPI: function () {
                var self = this;
                this.$confirm('Bạn có chắc chắn xóa KPI : ' + self.kpi.name, '', {
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Đóng',
                    type: 'warning',
                    center: true,
                    customClass: 'warning-del-card'
                }).then(() => {
                    // run api del card,
                    // thực hiện delete bằng api

                    // sau do thanh cong se thay thong bao nay
                    self.callAlertCustom('success','Đã lưu thay đổi', 'message', 2, false, 'Đến KPI editor','?',true);
                    self.triggerCloseModal();

                }).catch(() => {

                });

            },
            triggerDismissModal: function () {
                var self = this;
                self.flag_open_edit_kpi = false;
                console.log("dissmissed")
            },
            editKPI: function () {
                var self = this;
                self.flag_open_edit_kpi = true;
            },
            checkModeModal: function () {
                var self = this;
                switch (self.mode) {
                    case 'create':
                        self.initDataCreate();
                        break;
                    case 'edit':
                        self.initDateEdit();
                        break;
                    default:
                        break;
                }
            },
            triggerOpenModal: function () {
                var self = this;
                console.log("triggered modal open")
                setTimeout(function () {
                    $('#modal-kpi-details-' + self.uuid).modal('show');
                    $('#modal-kpi-details-' + self.uuid).appendTo('body');

                }, 250)
            },
            triggerCloseModal: function () {
                var self = this;
                setTimeout(function () {
                    $('#modal-kpi-details-' + self.uuid).modal('hide');
                }, 250)
                self.$emit('dismiss')
            },
        },
        mounted: function () {
            var self = this;
            //self.checkModeModal();
            window.viewDetailKPI = self;
            initModalHidden('#modal-kpi-details-' + self.uuid, function () {
                self.triggerCloseModal()
            })
        },
    });

</script>