{% load i18n %}
<style>

    #modal-edit-kpi {
        width: 650px !important;
    }

    #modal-edit-kpi select.form-control {
        padding: 6px 0;
    }

    #modal-edit-kpi .add-kpi-lib-modal {
        width: 650px !important;
    }

    #modal-edit-kpi .line-wrap {
        white-space: pre-wrap;
    }

    #modal-edit-kpi .modal-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

    #modal-edit-kpi .modal-header .border {
        border-bottom: solid 1px #979797;
    }

    #modal-edit-kpi .modal-body .border {
        border-bottom: 2px solid #f9f9f9
    }

    #modal-edit-kpi .modal-body .border-bold {
        border-bottom: solid 1px #979797;
    }

    #modal-edit-kpi .modal-body .form-group {
        font-size: 12px;
        margin-bottom: 0px;
    }

    #modal-edit-kpi .modal-footer {
        background-color: #f9f9f9;
        padding: 20px !important;
    }

    #modal-edit-kpi .icon-person {
        color: #ababab;
        margin-bottom: 5px;
    }

    #modal-edit-kpi .nav-tabs {
        border: none;
    }

    #modal-edit-kpi .nav-tabs {
        border: none;
    }

    #modal-edit-kpi .option-choose-operator .btn.btn-normal.btn-lang {
        background-color: white;
        color: #666666;
        width: 50px;
        height: 34px;
        font-size: 15px;
    }

    #modal-edit-kpi .option-choose-operator .nav-tabs > li.active > button {
        border: solid 1px #008b8b;
        color: #fff !important;
        background-color: #008b8b !important;
    }

    #modal-edit-kpi .option-choose-operator .nav-tabs > li.active > button:focus {
        outline: none;
    }

    #modal-edit-kpi .option-choose-operator .nav-tabs > li.active > button:focus {
        outline: none;
    }

    #modal-edit-kpi .form-horizontal .el-input__inner {
        font-size: 12px;
    }

    #modal-edit-kpi .form-horizontal .el-cascader__label {
        font-size: 12px;
    }
    #modal-edit-kpi .modal-body textarea{
        min-height: 90px !important;
        font-size: 12px;
        border: solid 1px #ababab;
    }


</style>

<div id="modal-edit-kpi-wrap" style="display: none;">
    <div>
        <div class="modal fade" :id="'modal-edit-kpi-' + uuid"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg add-kpi-lib-modal" id="modal-edit-kpi" role="document">
                <div class="modal-content" v-if="!$.isEmptyObject(kpi_to_edit)">

                    <div class="modal-header no-border pd-bt-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans "Edit KPI" %}
                        </h4>
                    </div>

                    <div class="modal-body pd-t-0">
                        <div class="form-horizontal pd-lr-10">

                            <div class="form-group mg-t-10">
                                <label class="col-sm-3 control-label text-left">{% trans 'Objectives' %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            size="medium"
                                            placeholder="{% trans "Input target" %}"
                                            v-model="kpi_to_edit.objective">
                                    </el-input>
                                </div>
                            </div>

                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">Tên KPI</label>
                                <div class="col-sm-9">
                                    <el-input
                                            size="medium"
                                            placeholder="{% trans "Input KPI name" %}"
                                            v-model="kpi_to_edit.name">
                                    </el-input>
                                </div>
                            </div>


                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Categories" %}</label>
                                <div class="col-sm-9">
                                    <el-cascader
                                            :options="list_category"
                                            size="medium"
                                            v-model="selectedOptions"
                                            @change="">
                                    </el-cascader>
                                </div>
                            </div>


                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Unit" %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            size="medium"
                                            placeholder="{% trans "Input unit" %}"
                                            v-model="kpi_to_edit.extra_data['unit']">
                                    </el-input>
                                </div>
                            </div>


                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans 'Operator' %}</label>
                                <div class="col-sm-9 option-choose-operator">
                                    <ul class="nav nav-tabs">
                                        <li :class="{ active: kpi_to_edit.operator == '>=' }">
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-right"
                                                    data-toggle="tab" href="#" @click="">
                                                >=
                                            </button>
                                        </li>
                                        <li :class="{ active: kpi_to_edit.operator == '=' }">
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-right no-border-radius-left"
                                                    data-toggle="tab" href="#" @click="">
                                                =
                                            </button>
                                        </li>
                                        <li :class="{ active: kpi_to_edit.operator == '<=' }">
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-left"
                                                    data-toggle="tab" href="#" @click="">
                                                <=
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Measurement" %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            type="textarea"
                                            :rows="4"
                                            placeholder="{% trans "Input measurement method" %}"
                                            v-model="kpi_to_edit.measurement_method">
                                    </el-input>
                                </div>
                            </div>

                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans 'Description' %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            type="textarea"
                                            :rows="4"
                                            placeholder="{% trans "Input description" %}"
                                            v-model="kpi_to_edit.description">
                                    </el-input>
                                </div>
                            </div>


                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Data sources" %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            size="medium"
                                            placeholder="{% trans "Input data sources" %}"
                                            v-model="kpi_to_edit.extra_data['data_source']">
                                    </el-input>
                                </div>
                            </div>

                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Frequency" %}</label>
                                <div class="col-sm-9">
                                    <el-input
                                            size="medium"
                                            placeholder="{% trans "Input frequency" %}"
                                            v-model="kpi_to_edit.extra_data['frequency']">
                                    </el-input>
                                </div>
                            </div>

                            <div class="form-group mg-t-20">
                                <label class="col-sm-3 control-label text-left">{% trans "Example" %}</label>
                                <div class="col-sm-9">
                                     <el-input
                                            type="textarea"
                                            :rows="4"
                                            placeholder="{% trans "Input description" %}"
                                            v-model="kpi_to_edit.extra_data['example']">
                                    </el-input>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-r-12 pull-right mg-l-10"
                                        @click="save_edit()"
                                        data-loading-text="{% trans 'Adding KPI...' %}">
                                    <i class="material-icons font-20">&#xE145;<!--add--></i>
                                    {% trans 'Save' %}
                                </button>
                                <button class="btn btn-normal btn-cus-white btn-cus-5-7 pd-lr-10 pull-right mg-l-10"
                                        data-dismiss="modal">{% trans 'Close' %}
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <alert-custom :type="type_alert"
                      :title="title"
                      :messages="messages"
                      :nomessages="no_message"
                      :duration='duration'
                      :havebutton="have_button"
                      :textbutton="text_button"
                      :hrefbutton="href_button"
                      v-on:dismiss="dismissMessages"
                      v-model="show_mesages">
        </alert-custom>
    </div>
</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('edit-kpi', {
        type: 'edit-kpi',
        template: $('#modal-edit-kpi-wrap').html(),
        props: [
            'value',
            'kpi',
        ],
        data: function () {
            return {
                uuid: makeid(),
                EXTRA_FIELDS_KPI: COMMON.ExtraFields,
                BSC_CATEGORY: COMMON.BSCCategory,
                kpi_to_edit: {},

                list_category: [{
                    value: 'customer',
                    label: 'Khách hàng'
                }, {
                    value: 'financial',
                    label: 'Tài chính'
                }, {
                    value: 'internal',
                    label: 'Quy trình nội bộ',
                }, {
                    value: 'functions',
                    label: 'Chức năng'
                }, {
                    value: 'learninggrowth',
                    label: 'Đào tạo & phát triển'
                }, {
                    value: 'other',
                    label: 'Khác'
                }],
                selectedOptions: [],


                // for alert custom
                type_alert: 'success',
                title: '',
                messages: '',
                duration: 5,
                show_mesages: false,
                have_button: false,
                text_button: '',
                href_button: '',
                no_message: false,
                // end alert


            }
        },
        delimiters: ["${", "}$"],
        watch: {
            value: {
                handler: function (val, oldVal) {
                    if (val === true) {
                        console.log("triggered modal open")
                        this.triggerOpenModal()
                    } else {
                        this.triggerCloseModal()
                    }
                }
            },
            kpi: {
                handler: function (val, oldVal) {
                    if (val) {
                        this.kpi_to_edit = val;
                        this.selectedOptions.push(this.kpi_to_edit.category);
                    } else {
                        this.kpi_to_edit = {};
                    }
                }
            }
        },
        methods: {
            callAlertCustom: function (type, title, messages, duration, havebutton, textbutton, href, no_message) {
                var self = this;
                self.type_alert = type;
                self.title = title;
                self.messages = messages;
                self.duration = duration;
                self.show_mesages = true;
                self.have_button = havebutton;
                self.text_button = textbutton;
                self.no_message = no_message;
                self.href_button = href;
            },
            dismissMessages: function () {
                var self = this;
                self.show_mesages = false;
            },
            save_edit: function () {
                var self = this;
                self.callAlertCustom('success', 'Đã lưu thay đổi', 'message', 2, false, 'Đến KPI editor', '?', true);
                self.triggerCloseModal();
            },
            triggerOpenModal: function () {
                var self = this;
                console.log("triggered modal open")
                setTimeout(function () {
                    $('#modal-edit-kpi-' + self.uuid).modal('show');
                    $('#modal-edit-kpi-' + self.uuid).appendTo('body');

                }, 250)
            },
            triggerCloseModal: function () {
                var self = this;
                setTimeout(function () {
                    $('#modal-edit-kpi-' + self.uuid).modal('hide');
                }, 250)
                self.$emit('dismiss')
            },
        },
        mounted: function () {
            var self = this;
            window.editKPI = self;
            initModalHidden('#modal-edit-kpi-' + self.uuid, function () {
                self.triggerCloseModal()
            })
        },
    });

</script>