{% load i18n %}
<style>
    #input-new-collection {
        border: solid 1px #e4e4e4;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 40px;
    }

    .modal-add-kpi-collection .modal-header .modal-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

    .modal-add-kpi-collection .modal-footer {
        padding: 0px 20px 20px 20px;
        border-top: none
    }

    .modal-add-kpi-collection .infor-kpi-wrapper {
        background-color: #f5f9fc;
        border: solid 1px #e1ebf4;
        padding: 10px;
        height: 55px;
    }

    .modal-add-kpi-collection .infor-kpi-wrapper .title {
        font-size: 14px;
        color: #666666;
        font-weight: bold;
    }

    .modal-add-kpi-collection .infor-kpi-wrapper .main-function {
        font-size: 10px;
        color: #666666;
        font-weight: normal;
    }

    .modal-add-kpi-collection .choose-collection-wrapper .btn-add-kpi-to-collection {
        height: 40px;
        border-left: none;
        width: 100%;
        background-color: #f9f9f9;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: #008b8b;
    }

    .modal-add-kpi-collection .choose-collection-wrapper .btn-add-kpi-to-collection i {
        font-size: 20px;
    }

    .modal-add-kpi-collection .choose-collection-wrapper .btn-add-kpi-to-collection.blur {
        color: #ababab !important;
        pointer-events: none;
    }

    .modal-add-kpi-collection .choose-collection-wrapper .btn-add-kpi-to-collection:focus {
        outline: none !important;
    }

    .choose-collection-wrapper .item-collection {
        padding: 16px 20px 16px 20px;
    }

    .choose-collection-wrapper .item-collection.selected {
        background-color: #d9eeee;
    }

    .choose-collection-wrapper .item-collection.selected .text {
        color: #008b8b;
    }

    .choose-collection-wrapper .item-collection.selected:hover {
        background-color: #d9eeee;
        color: #008b8b;
    }

    .choose-collection-wrapper .item-collection.selected:hover .text {
        color: #008b8b;
    }

    .choose-collection-wrapper .item-collection:hover {
        background-color: #f9f9f9;
        cursor: pointer;
    }

    .choose-collection-wrapper .item-collection .text {
        color: #666666;
        font-size: 14px;
        font-weight: bold
    }

    .choose-collection-wrapper .item-collection:hover .text {
        color: #008b8b;
    }

    .choose-collection-wrapper .search-collection {
        border: solid 1px #e4e4e4;
        border-bottom: none;
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px
    }

    .choose-collection-wrapper .search-collection .search-collection-input {
        padding: 10px 20px 10px 20px;
        background-color: #f9f9f9
    }

    .choose-collection-wrapper .search-collection .suggest-collection {
        max-height: 190px;
        overflow: auto;
    }
</style>

<div id="add-kpi-to-collection" style="display: none;">

    <div :id="'add-kpi-to-collection-card-'+uuid" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="edit-group-label" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3 modal-add-kpi-collection" v-if="!$.isEmptyObject(kpi)">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">
                        <span>Thêm vào Bộ sưu tập</span>
                    </div>
                </div>

                <div class="modal-body pd-t-5 pd-bt-20">
                    <div class="infor-kpi-wrapper">
                        <div class="title">
                            <span> ${ kpi.name }$</span>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <div class="main-function">
                                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                     v-html="kpi.function_categories.join('&nbsp;&nbsp;|&nbsp;&nbsp;')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="choose-collection-wrapper mg-t-20">
                        <div class="mg-bt-10" style="font-size: 14px;color: #333333"><span>Chọn bộ sưu tập</span></div>
                        <div class="search-collection">
                            <div class="search-collection-input">
                                <el-input
                                        size="medium"
                                        placeholder="Tìm kiếm"
                                        v-model="input_search_collection"
                                        id="input-dropdown-search-collection"
                                        {# @focus='$("#list_kpi_suggest").show();$(".arrow-up").show();'#}
                                        {# @keyup.native="filter_history"#}
                                        {# @keyup.enter.native="status_kpi_lib = 'search';update_query_search()"#}>
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                            </div>
                            <div class="suggest-collection" id="suggest-collection-wrapper">
                                <div v-for="item in collections">
                                    <div v-if="checkSelected(item)" class="item-collection selected"
                                         @click="selectKPICollection(item)">
                                        <span class="text"> ${ item.name }$</span>
                                        <span style="float: right"><i style="font-weight: bold;"
                                                                      class="material-icons font-20">check</i></span>
                                    </div>
                                    <div v-else class="item-collection"
                                         @click="selectKPICollection(item)">
                                        <span class="text"> ${ item.name }$</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-xs-9 no-padding">
                            <el-input placeholder="Nhập tên để tạo Bộ sưu tâp mới"
                                      id="input-new-collection"
                                      v-model="name_new_collection">
                            </el-input>
                        </div>
                        <div class="col-xs-3 no-padding">
                            <button class="btn btn-normal btn-cus-5-7 btn-add-kpi-to-collection"
                                    @click="createNewCollection"
                                    :class="{ 'blur': name_new_collection.length <= 0}">
                                <i class="material-icons">add</i>
                                <span>Tạo mới</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-lr-20"
                            data-dismiss="modal"
                            aria-hidden="true">{% trans "Cancel" %}
                    </button>

                    <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="addToCollection"
                            :class="{'blur': list_collection_selected.length <= 0}">
                        <i class="material-icons font-20 pd-r-10">save<!--save--></i>{% trans "Save" %}
                    </button>
                </div>
            </div>
        </div>
        <alert-custom :type="type"
                      :title="title"
                      :messages="messages"
                      :nomessages="no_message"
                      :duration='duration'
                      :havebutton = "have_button"
                      :textbutton="text_button"
                      :hrefbutton="href_button"
                      v-on:dismiss="dismissMessages"
                      v-model="show_mesages">
        </alert-custom>
    </div>

</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('add-kpi-to-card', {
        type: 'add-kpi-to-card',
        template: $('#add-kpi-to-collection').html(),
        props: [
            'value',
            'kpi',   // kpi to add card
            'collections', // list collections to show
        ],
        data: function () {
            return {
                uuid: makeid(),
                input_search_collection: '',
                list_collection_selected: [],
                name_new_collection: '',

                // for alert custom
                type: 'success',
                title: '',
                messages: '',
                duration: 5,
                show_mesages: false,
                have_button : false,
                text_button : '',
                href_button : '',
                no_message: false,
                // end alert
            }
        },
        delimiters: ["${", "}$"],
        watch: {
            value: {
                handler: function (val, oldVal) {
                    if (val === true) {
                        console.log("triggered modal open")
                        this.triggerOpenModal()
                    } else {
                        this.triggerCloseModal()
                    }
                }
            },
        },
        methods: {
            callAlertCustom: function(type, title, messages, duration, havebutton, textbutton, href) {
                var self = this;
                self.type = type;
                self.title = title;
                self.messages = messages;
                self.duration = duration;
                self.show_mesages = true;
                self.have_button = havebutton;
                self.text_button = textbutton;
                self.href_button = href;
            },
            dismissMessages: function () {
                var self = this;
                self.show_mesages = false;
            },
            addToCollection: function () {
                var self = this;
                // sau do neu thanh cong thi se show len thong bao

                var title = gettext('Add KPI successfully');
                var messages = 'KPI <strong>' + self.kpi.name + '</strong>' + ' đã được thêm vào <strong> Bộ KPI của </strong>';
                var collect = [];

                for(var i=0; i< self.list_collection_selected.length; i++){
                    collect.push('<strong>'+self.list_collection_selected[i].name+'</strong>')
                }
                var res = collect.join(' và<strong> Bộ KPI của </strong>');
                messages += res;

                self.callAlertCustom('success', title, messages, 5, true, 'Đến Bộ sưu tập', '#', false);
                self.triggerCloseModal();

            },
            createNewCollection: function () {
                var self = this;
                // thuc hien add new collection with api. voi name colection la : name_new_collection

                var new_collection_temp = {
                    id: 10,
                    name: self.name_new_collection,
                    id_vtcd: null,
                    total_kpi: 0,
                    list_kpi: []
                }
                // Sau khi thuc hien thanh cong add collection, sau do push collection nay vao array collection tren
                self.collections.unshift(new_collection_temp);
                self.list_collection_selected.push(new_collection_temp);
                // sau do reset gia tri name_new_collection
                self.name_new_collection = '';
                $('#suggest-collection-wrapper').scrollTop(0);

            },
            checkSelected: function (id) {
                var self = this;
                if (self.list_collection_selected.indexOf(id) != -1) return true;
                return false;
            },
            selectKPICollection: function (item) {
                var self = this;

                if (self.list_collection_selected.indexOf(item) != -1) {
                    // Đã có lựa chọn này rồi, thực hiện loại bỏ lựa chọn này trong array
                    self.list_collection_selected = self.list_collection_selected.filter(function (elm) {
                        return elm != item;
                    });
                }
                else {
                    // chưa có lựa chọn này. Thực hiện thêm lựa chọn này vào array
                    self.list_collection_selected.push(item);
                }
                self.$forceUpdate();
            },
            triggerOpenModal: function () {
                var self = this;
                console.log("triggered modal open")
                setTimeout(function () {
                    $('#add-kpi-to-collection-card-' + self.uuid).modal('show');
                    $('#add-kpi-to-collection-card-' + self.uuid).appendTo('body');

                }, 250)
            },
            triggerCloseModal: function () {
                var self = this;
                setTimeout(function () {
                    $('#add-kpi-to-collection-card-' + self.uuid).modal('hide');
                }, 250)
                self.input_search_collection = '';
                self.list_collection_selected = [];
                self.name_new_collection = '';
                self.$emit('dismiss')
            },
        },
        mounted: function () {
            var self = this;
            window.addKPItoCard = self;
            initModalHidden('#add-kpi-to-collection-card-' + self.uuid, function () {
                self.triggerCloseModal()
            })
        },
    });

</script>