{% load i18n %}
<style>
    .create-new-card-modal .btn.blur {
        opacity: 0.5;
        pointer-events: none;
    }
    .create-new-card-modal .modal-content {
        width: 465px;
    }
    .create-new-card-modal .modal-title .change-name{
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
    }
    .create-new-card-modal .modal-title .text{
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
    }
    .create-new-card-modal .modal-body{
        padding-left: 20px;
        padding-right: 20px;
    }
    .create-new-card-modal .modal-footer{
        padding: 0px 20px 20px 20px;
        border-top:none
    }

</style>

<div id="new-edit-card-wrap" style="display: none;">

    <div :id="'create-new-card-'+uuid" class="modal fade mg-t-50 create-new-card-modal" tabindex="-1" role="dialog"
         aria-labelledby="edit-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title">
                        <span v-if="is_edit_task" class="text">Đổi tên Bộ sưu tập</span>
                        <span v-else class="text">Tạo bộ sưu tập mới</span>
                    </div>
                </div>

                <div class="modal-body pd-t-5">
                    <el-input v-model="input_name_card" placeholder="Nhập tên" id="input-edit-name-card">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-lr-20"
                            data-dismiss="modal"
                            aria-hidden="true">{% trans "Cancel" %}
                    </button>

                    {# Truong hop edit ten card#}
                    <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10"
                            @click="editCard"
                            v-if="is_edit_task"
                            :class="{'blur': input_name_card.length <= 0}">
                        <i class="material-icons font-14 pd-r-5">save<!--save--></i>{% trans "Save" %}

                    </button>

                    {# Truong hop tao moi card#}
                    <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="createCard"
                            :class="{'blur': input_name_card.length <= 0}" v-else>

                        <i class="material-icons font-14 pd-r-5">save<!--save--></i>{% trans "Save" %}

                    </button>
                </div>
            </div>
        </div>
        <alert-custom :type="type"
                      :title="title"
                      :messages="messages"
                      :nomessages="no_message"
                      :duration='duration'
                      :havebutton="have_button"
                      :textbutton="text_button"
                      :hrefbutton="href_button"
                      v-on:dismiss="dismissMessages"
                      v-model="show_mesages">
        </alert-custom>

    </div>

</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('new-edit-card', {
        type: 'new-edit-card',
        template: $('#new-edit-card-wrap').html(),
        props: [
            'value',
            'mode',
            'id',   // id for card to edit
            'name', // name card to edit
        ],
        data: function () {
            return {
                uuid: makeid(),
                is_edit_task: false,    // check have edit task rightnow ?
                input_name_card: '',

                // for alert custom
                type: 'success',
                title: '',
                messages: '',
                duration: 5,
                show_mesages: false,
                have_button: false,
                text_button: '',
                href_button: '',
                no_message: false,
                // end alert
            }
        },
        delimiters: ["${", "}$"],
        watch: {
            value: {
                handler: function (val, oldVal) {
                    if (val === true) {
                        console.log("triggered modal open")
                        this.triggerOpenModal()
                    } else {
                        this.triggerCloseModal()
                    }
                }
            },
        },
        methods: {
            dismissMessages: function () {
                var self = this;
                self.show_mesages = false;
            },
            callAlertCustom: function(type, title, messages, duration, havebutton, textbutton, href ,no_message) {
                var self = this;
                self.type = type;
                self.title = title;
                self.messages = messages;
                self.duration = duration;
                self.show_mesages = true;
                self.have_button = havebutton;
                self.text_button = textbutton;
                self.no_message = no_message;
                self.href_button = href;
            },
            editCard: function () {
                var self = this;
                // exec run api to edit card with id and name

                // then after execute success, we have database to new card.
                var data_temp = {
                    id: self.id,
                    name: self.input_name_card,
                }
                self.$emit('update_edit_card', self.id, self.input_name_card);

                self.callAlertCustom('success', 'Đã lưu thay đổi', 'message', 2, false, 'Đến KPI editor', '?', true);
                self.triggerCloseModal();

            },

            createCard: function () {
                // Thuc hien api add card voi name =   input_name_card
                var self = this;
                //day la data temp khi add success card
                var data_temp = {
                    id: 10,
                    name: self.input_name_card,
                    id_vtcd: null,
                    total_kpi: 0,
                    list_kpi: []
                }

                // sau khi co data . Ta se thuc hien add data nay ra ngoai su dung emit
                self.$emit('create_new_card', data_temp);
                // and then hide modal add

                self.input_name_card = '';
                self.triggerCloseModal();


            },
            checkModeModal: function () {
                var self = this;
                switch (self.mode) {
                    case 'create':
                        self.initDataCreate();
                        break;
                    case 'edit':
                        self.initDateEdit();
                        break;
                    default:
                        break;
                }
            },
            initDataCreate: function () {
                var self = this;
                self.is_edit_task = false;
                self.input_name_card = '';
            },
            initDateEdit: function () {
                var self = this;
                self.is_edit_task = true;
                self.input_name_card = self.name;
            },
            triggerOpenModal: function () {
                var self = this;
                console.log("triggered modal open")
                setTimeout(function () {
                    $('#create-new-card-' + self.uuid).modal('show');
                    $('#create-new-card-' + self.uuid).appendTo('body');

                }, 250)
            },
            triggerCloseModal: function () {
                var self = this;
                setTimeout(function () {
                    $('#create-new-card-' + self.uuid).modal('hide');
                }, 250)
                self.$emit('dismiss')
            },
        },
        mounted: function () {
            var self = this;
            self.checkModeModal();
            window.newCard = self;
            initModalHidden('#create-new-card-' + self.uuid, function () {
                self.triggerCloseModal()
            })
        },
    });

</script>