{% extends "base_iframe_performance.html" %}
{% block extra_static %}
    <script src="{{ STATIC_URL }}bower_components/ractive/ractive.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/ractive-load/dist/ractive-load.umd.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/mark.js/dist/mark.min.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/general.js"
            type="text/javascript"></script>


{% endblock %}
{% block content %}

    <style>

    </style>
    <div id='container' style="margin: 10px;">


    </div>


    <script>
        Ractive.load.baseUrl = '{{ STATIC_URL }}templates/';
        var kpis = [{'name': 'name...'}];
        {#        function getParameterByName(name, url) {#}
        {#            if (!url) url = window.location.href;#}
        {#            name = name.replace(/[\[\]]/g, "\\$&");#}
        {#            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),#}
        {#                    results = regex.exec(url);#}
        {#            if (!results) return null;#}
        {#            if (!results[2]) return '';#}
        {#            return decodeURIComponent(results[2].replace(/\+/g, " "));#}
        {#        }#}
        var user_id = getUrlParameter('user_id');


        Ractive.load('performance/composer.html?v={{ settings.VERSION }}').then(function (Composer) {



            //Ractive.DEBUG = false;
            var ractive = new Composer({
                el: '#container',
                // template: "#template",
                data: {
                    kpis: kpis,
                    user_kpis: []
                },
                get_kpis: function (user_id) {
                    //ractive.set('user_kpis', [])
                    cloudjetRequest.ajax({
                        url: '/api/kpi/?user_id=' + user_id,
                        type: 'get',
                        success: function (data) {
                            ractive.set('user_kpis', data);
                        },
                        error: function () {
                            alert('error');
                        },
                        complete: function (data) {
                            $('.add_kpi').show();
                        }
                    });
                    {% comment %} $.get('/api/kpi/?user_id=' + user_id, function (data, status) {
                           ractive.set('user_kpis', data);
                     }).error( function(data){alert('error');}).complete(function(data){

                         $('.add_kpi').show();
                     });{% endcomment %}

                },
                search_kpis: function (query) {
                    cloudjetRequest.ajax({
                        url: '/api/kpi/composer/?q=' + query,
                        type: 'get',
                        success: function (data) {
                            ractive.set('kpis', data);
                        },
                        error: function () {

                        },
                        complete: function (data) {
                            $('#query').prop("disabled", false);
                            $('#query').focus();
                            //$("body").mark($('#query').val());
                            var instance = new Mark($(".kpi-item"));
                            instance.unmark();
                            instance.mark($('#query').val());
                        }
                    });
                    {% comment %} $.get('/api/kpi/composer/?q=' + query, function (data, status) {
                         ractive.set('kpis', data);

                     }).complete(function (data) {
                         $('#query').prop("disabled", false);
                         $('#query').focus();


                         //$("body").mark($('#query').val());
                         var instance = new Mark($(".kpi-item"));
                         instance.unmark();
                         instance.mark($('#query').val());


                     });{% endcomment %}

                }
            });

            ractive.search_kpis('');


            ractive.get_kpis(user_id);
            cloudjetRequest.ajax({
                url: '/api/profile/?user_id=' + user_id,
                type: 'get',
                success: function (data) {
                    ractive.set('profile', data)
                },
                error: function () {

                }
            });
            {% comment %}$.get('/api/profile/?user_id=' + user_id, function (data, status) {
                ractive.set('profile', data)
            });{% endcomment %}

            $('#query').keypress(function (e) {
                if (e.which == 13) {
                    $('#query').prop("disabled", true);
                    ractive.search_kpis($('#query').val());
                    //ractive.search_kpis('');
                }
            });


            ractive.on('add_kpi', function (event, i) {
                //alert(ractive.get('kpis')[i].name);kpi

                $('.add_kpi').hide();
                cloudjetRequest.ajax({
                    url: '{% url 'kpi_services' %}',
                    type: 'post',
                    data: {
                        'id': ractive.get('kpis')[i].id,
                        'to_user_id': user_id,
                        'command': 'copy_to_new_user'
                    },
                    success: function (data) {
                        ractive.get_kpis(user_id);
                    },
                    error: function () {

                    },
                    complete: function (data) {
                        //$('.add_kpi').show();
                    }
                });
                {% comment %} $.post('{% url 'kpi_services' %}', {
                         'id': ractive.get('kpis')[i].id,
                         'to_user_id': user_id,
                         'command': 'copy_to_new_user'
                     }
                     , function (data, status) {
                         ractive.get_kpis(user_id);
                     }).complete(function (data) {
                     //$('.add_kpi').show();
                 });{% endcomment %}

            });


        }).catch(function (error) {

            alert(error);
        });
    </script>

{% endblock %}
{% block title %}

    KPI Composer

{% endblock %}
