{% load staticfiles humanize i18n humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ file_name }}</title>
    <style>
        @page {
            size: a4 landscape;
            @frame header_frame {
                -pdf-frame-content: header_content;
                left: 20pt; width: 800pt; top: 30pt; height: 60pt;
            }
            @frame content_frame {
                left: 20pt; width: 800pt; top: 60pt; height: 500pt;
            }

            @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: 0pt; width: 800pt; top: 565pt; height: 40pt;
            }
        }
        @font-face {
            font-family: Arial;
            src: url("{{ font }}");
        }
		@font-face {
		   font-family: Arial;
		   src: url("{{ font_bd }}");
		   font-weight: bold;
		}
		@font-face {
		   font-family: Arial;
		   src: url("{{ font_bd }}");
		   font-weight: bolder;
		}
         .content {
            -pdf-keep-with-next: false;
             font-family: Arial;
        }

        @media all {
            body {
                background-color: white;
                font-family: Arial;
            }
        }

        .employee_info {
        	width: 50%;
        	word-wrap: break-word;
            font-size: 9px;
        }
        .table_kpis {
            width: 100%;
            table-layout: fixed;
            word-wrap: break-word;
            border-spacing: 0;
            font-size: 9px;
        }

        .table_kpis th, .table_kpis td {
            border: 1px solid #DDDDDD;
            border-collapse: collapse;
            padding: 4px 1px 1px;
        }

        .table_kpis th {
            color: white;
            background-color: chocolate;
            text-align: center;
            font-size: 9px;
        }


        .number {
            text-align: right;
        }

        .logo {
            position: fixed;
            top: -100px;
            left: 8px;
        }
        .app {
            position: fixed;
            top: -40px;
            left: 28px;
        }
        .title {
            text-align: center;
            color: #E13F26;
            position: fixed;
            top: -64px;
            left: 220px;
        }
        .footer-date {
            position: fixed;
            bottom: -139px;
            left: 0;
            font-size: 10px;
        }
        .footer {
            position: fixed;
            bottom: -145px;
            left: -7px;
        }
    .small {
        font-size: 10px;
    }
    </style>
</head>
<body>

<div id="header_content" class="content-2">
	<table class="employee_info">
		<tbody>
			<tr>
				<td style="width: 100px;font-weight: bold;">{% trans 'Name' %}:</td>
				<td style="font-weight: bold;">{{ employee.full_name }}</td>
				<td style="text-align: right;width: 100px">{% trans 'Date' %}: {% now 'd/m/Y' %}</td>
			</tr>
			<tr>
				<td style="font-weight: bold;">Email:</td>
				<td style="font-weight: bold;">{{ employee.email }}</td>
				<td></td>
			</tr>
			<tr>
				<td style="font-weight: bold;">{% trans 'Position' %}:</td>
				<td style="font-weight: bold;">{{ employee.position }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="footer_content" class="content-2">
    <p style="text-align: center;">
		Trang <pdf:pagenumber> / <pdf:pagecount>
	</p>
</div>
<div class="kpis">
    <table class="table_kpis">
        <thead>
        <tr>
            <th style="width: 60px">{% trans 'UniqueID' %}</th>
            <th style="width: 60px">{% trans 'ID' %}</th>
            <th style="width: 20%">{% trans 'KPI' %}</th>
            <th style="width: 90px">{% trans 'Unit' %}</th>
            <th style="width: 90px">{% trans 'MEASUREMENT METHODS' %}</th>
            <th style="width: 100px">{% trans 'Note' %}</th>
            <th style="width: 50px">{% trans 'Operator' %}</th>
            <th style="width: 80px">{% trans 'Q.1' %}</th>
            <th style="width: 80px">{% trans 'Q.2' %}</th>
            <th style="width: 80px">{% trans 'Q.3' %}</th>
            <th style="width: 80px">{% trans 'Q.4' %}</th>
            <th style="width: 70px">{% trans 'Weighting Score' %}</th>
            <th style="width: 100px">{% trans 'Assigned to' %}</th>
            <th style="width: 70px">{% trans 'Real' %}</th>
            <th style="width: 40px">{% trans 'Performance' %}</th>
        </tr>
        </thead>
        <tbody>
        	{% for kpi in kpis %}
        	<tr>
        		<td>{{ kpi.id }}</td>
        	    <td>{{ kpi.ordering }}</td>
        	    <td>{{ kpi.name }}</td>
        	    <td>{{ kpi.unit }}</td>
        	    <td>{{ kpi.current_goal }}</td>
        	    <td>{{ kpi.future_goal }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.operator }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.quarter_one_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.quarter_two_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.quarter_three_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.quarter_four_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.weight }}</td>
        	    <td>{{ kpi.assigned_to }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.real|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ kpi.score }}</td>
        	</tr>
        		{% for child in kpi.children %}
        	<tr>
        		<td>{{ child.id }}</td>
        	    <td>{{ child.ordering }}</td>
        	    <td style="padding-left: 15px">{{ child.name }}</td>
        	    <td>{{ child.unit }}</td>
        	    <td>{{ child.current_goal }}</td>
        	    <td>{{ child.future_goal }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.operator }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.quarter_one_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.quarter_two_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.quarter_three_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.quarter_four_target|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.weight }}</td>
        	    <td>{{ child.assigned_to }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.real|floatformat|intcomma }}</td>
        	    <td class="number" style="padding-right: 2px;">{{ child.score }}</td>
        	</tr>
        		{% for c in child.children %}
	        	<tr>
	        		<td>{{ c.id }}</td>
	        	    <td>{{ c.ordering }}</td>
	        	    <td  style="padding-left: 30px">{{ c.name }}</td>
	        	    <td>{{ c.unit }}</td>
	        	    <td>{{ c.current_goal }}</td>
	        	    <td>{{ c.future_goal }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.operator }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.quarter_one_target|floatformat|intcomma }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.quarter_two_target|floatformat|intcomma }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.quarter_three_target|floatformat|intcomma }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.quarter_four_target|floatformat|intcomma }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.weight }}</td>
	        	    <td>{{ c.assigned_to }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.real|floatformat|intcomma }}</td>
	        	    <td class="number" style="padding-right: 2px;">{{ c.score }}</td>
	        	</tr>
        		{% endfor %}
        		{% endfor %}
        	{% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>