{% load i18n kpi %}

{% if public and map %}
    {% if  user.is_staff %}
        <div class="pull-right">
            <a href="{% url 'mnt-strategy-map-by-hash' org.id map.get_hash %}" title="Chỉnh sửa bản đố chiến lược">
                <i class="icon-edit"></i> Chỉnh sửa bản đố chiến lược
            </a>
        </div>
    {% endif %}
{% endif %}

<div class="clearfix">
    <h3><a href="#">{{ map.quarter_period }}</a> </h3>
</div>