<div>
    Chưa có bản đồ chiến lược. Tạo bản đồ chiến lược
    <button id="btn-create-strategy-map" class="btn btn-primary">Create</button>
</div>
<script type="text/javascript">
    $(function () {


            if (!CREATE_STRATEGY_MAP_URL){
               var CREATE_STRATEGY_MAP_URL='{% url "api_strategymap" %}';
            }

        $('#btn-create-strategy-map').click(function () {
            var ajax_options={
                url: CREATE_STRATEGY_MAP_URL,
                type: 'post',
                dataType:'json',
                data: 'action=create&quarter_period_id={{ quarter_period_id }}&organization_id={{ organization_id }}',
                success: function (jsonObj) {
                    if (!jsonObj.error) {
                        //reload page
                        location.reload();
                    } else {
                        alert("Sorry! Something error! \nPlease give us your feedback!");
                    }
                },
                error: function () {
                    console.log('Create strategy map failed');
                }
            }
            if(typeof STRATEGY_MAP_AJAX_SUCCESS == 'function'){ //for global override success function
                ajax_options.success=STRATEGY_MAP_AJAX_SUCCESS;
            }
            cloudjetRequest.ajax(ajax_options);

        });
    });
</script>