{% load i18n  %}
{% load kpi manage_tag user_tags %}
<div class="bsc-category {{ class }}" id="id-{{ category }}" style="margin-top: 20px">
    <div class="bsc-category-title">
        <div class="category-weight" id="category-weight-{{ category }}"><span class="weight-value"></span></div>
        {% trans category_name %} {{ quarter_period.year }}
    </div>
    {% if not public %}
    <div class="add_group">
        <input type="hidden" name="category" value="{{ category }}">
        <input type="hidden" name="smap_id" value="{{map.id}}"/>
        <button id="btn-add-group-{{ category }}" class="btn btn-primary btn-small" onclick="add_group('{{ category }}')">{% blocktrans %}Add Group{% endblocktrans %}</button>
    </div>
    <div class="add_kpi">
        <button id="btn-add-kpi-{{ category }}"class="btn btn-primary btn-small" onclick="create_kpi('{{ category }}')">{% blocktrans %}Add KPI{% endblocktrans %}</button>
    </div>
    {% endif %}
    <div class="group-container">
        {% for group in group_category %}
        <div class="kpi-group" id="group-{{ group.id }}">
            <div class="group-title-container">
                <div class="kpi-group-title">
                    <div class=" group-weight">
                        <span class="weight-value"></span>
                    </div>
                    {% if not public %}
                        <a href="javascript:void(0)" class="remove-btn" onclick="remove_group('{{ group.id }}')">
                            <i class="icon-remove"></i>
                        </a>
                        <a class="remove-btn"onclick="modal('{{ category }}','{{ group.name }}','{{ group.id }}')" data-toggle="modal">
                            <i class="icon-pencil"></i>
                        </a>
                    {% endif %}
                    <div class="group-title item-name">
                        {% if not public %}
                            {{ group.name }}
                        {% else %}
                            {{ group.name }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <ul class="list-goals" data-group="{{ group.id }}">
                {% for kpi in group.get_kpis %}

                <li data-kpi="{{ kpi.id }} "  id="id-kpi-{{ kpi.id }}">
                    {% if not public %}
                        <a class="remove-kpi" onclick="remove_kpi('{{ kpi.id }}')"><i class="icon-remove"></i></a>
                        <a class="edit-kpi" onclick="modal2('{{ category }}','{{ kpi.id }}','{{ kpi.get_prefix_category }}','{{ kpi.name }}','{{  kpi.weight|floatformat }}','{{ kpi.description|linebreaksbr }}','{{  kpi.ordering|floatformat  }}')">
                            <i class="icon-pencil"></i>
                         </a>
                        <div class="clearfix" style="display: table;">
{#                            {% language 'en' %}#}
                            <div class="category-goal"><span>{{ kpi.get_prefix_category }}{{ kpi.ordering|floatformat }}</span>
                            </div>
{#                            {% endlanguage %}#}
                            <div class="goal-content">
                                <div class="kpi-detail">
                                    <div class=" kpi-weight">
                                         <span style="float:right;"></span>
                                        {{ kpi.weight|floatformat:-2}}
{#                                        http://stackoverflow.com/questions/754520/what-is-the-actual-differences-between-i18n-l10n-g11n-and-specifically-what-does #}
{#                                        https://docs.djangoproject.com/en/1.10/topics/i18n/formatting/#unlocalize #}
                                    </div>
                                    <div class="item-name">{{ kpi.name }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="goal-desc">
                            {{kpi.description|linebreaksbr  }}
                        </div>
                    {% else %}
                        <div class="clearfix" style="display: table;">
{#                            {% language 'en' %}#}
                            <div class="category-goal"><span>{{ kpi.get_prefix_category }}{{ kpi.ordering|floatformat }}</span></div>
{#                            {% endlanguage %}#}
                            <div class="goal-content">
                                <div>{{ kpi.name }}</div>
                            </div>
                        </div>
                        <div class="goal-desc">
                            {{ kpi.description|linebreaksbr }}
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="ungroup-kpis">
        <ul class="list-goals" data-group=''>
{#            {% with kpis=map|kpi_ungroup:category %}#}
{#            {% for kpi in kpis %}#}
{#            <li data-kpi="{{ kpi.id }}" id="id-kpi-{{ kpi.id }}">#}
{#                {% if not public %}#}
{#                    <a class="remove-kpi" onclick="remove_kpi('{{ kpi.id }}')"><i class="icon-remove"></i></a>#}
{#                    <a class="edit-kpi" onclick="modal2('{{ category }}','{{ kpi.id }}','{{ kpi.get_prefix_category }}','{{ kpi.name }}','{{  kpi.weight|floatformat }}','{{ kpi.description|linebreaksbr }}','{{  kpi.ordering|floatformat  }}')">#}
{#                            <i class="icon-pencil"></i>#}
{#                     </a>#}
{#                    <div class="clearfix" style="display: table;">#}
{#                        {% language 'en' %}#}
{#                        <div class="category-goal"><span>{{ kpi.get_prefix_category }}{{ kpi.ordering|floatformat }}</span>#}
{#                        </div>#}
{#                        {% endlanguage %}#}
{#                        <div class="goal-content">#}
{#                            <div class="kpi-detail">#}
{#                                <div class="kpi-weight">#}
{#                                    <span style="float:right;"></span>#}
{#                                    {{  kpi.weight }}#}
{#                                </div>#}
{#                                <div class="item-name">{{ kpi.name }}</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="goal-desc">#}
{#                        {{ kpi.description|linebreaksbr  }}#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="clearfix" style="display: table;">#}
{#                        {% language 'en' %}#}
{#                        <div class="category-goal"><span>{{ kpi.get_prefix_category }}{{ kpi.ordering|floatformat }}</span></div>#}
{#                        {% endlanguage %}#}
{#                        <div class="goal-content">#}
{#                            <div>{{ kpi.name }}</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="goal-desc">#}
{#                        {{ kpi.description|linebreaksbr }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </li>#}
{#            {% endfor %}#}
{#            {% endwith %}#}
        </ul>

    </div>

</div>
<!-- Modal -->




<script>
function modal(category,name,id){
app.listid=[];
app.new_namegr={};
  if(category=='financial'){
      app.color="#ff5c00";
  }
  if(category=='customer'){
      app.color="#00a2dd";
  }
  if(category=='internal'){
      app.color="#54A413";
  }
  if(category=='learninggrowth'){
      app.color="#d79f00";
  }
  app.varri=category;
  app.groupid=id;
  if(app.namegr=='' || app.namegr=='None' ){
      app.namegr=name;
      console.log(name);
  }
  else{
      s=$('#group-'+id).find('.group-title-container .kpi-group-title').find('.item-name').html();
      $('#edit-namegr').val(remove_space(s));
      app.namegr=remove_space(s);
      console.log(remove_space(s));
  }
  $('#myModal').modal('show');
  setTimeout(function(){
    $('input').focus()
  },500);
 };

function modal2(category,kpiid,codegr,name,weight,descrition,ordering){
var regex = /<br\s*[\/]?>/gi;
descrition=descrition.replace(regex, "\n");
app.listid=[];
app.new_namegr={};
app.ungroup={"id":kpiid,"codegr":codegr,"name":name,"weight":weight.replace(',','.'),"description":descrition,"ordering":ordering};
  app.color="#eee";
  app.varri=category;
  app.namegr='None';
  $('#myModal').modal('show');
 }

 function remove_space(s){
    return s.trim();
 }
</script>


