{% load i18n %}

<div class="dropdown" style="float: right;margin-bottom: 10px">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        {% if map %}
            {{ map.quarter_period }}

        {% else %}
            -------------- Choose Strategy Map ------------------
        {% endif %}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for sm in s_maps %}
            <li>
                {% if public %}
                    <a href="{% url 'strategy_map_public_by_hash' org.get_hash sm.get_hash %}">
                        {{ sm.quarter_period }}
                    </a>
                {% else %}
                    <a href="{{ sm.get_absolute_url }}">
                        {{ sm.quarter_period }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<div style="float: right; margin-bottom:10px;margin-top: -10px;margin-right:10px" title="Xuất bản đồ chiến lược">
    <a href="{% url 'report-strategymap' %}#/?hash={{ map.hash }}" target="_blank"><img src="{{ STATIC_URL }}img/csb/1381496744_Excel_15.png"></a>
    <input id="hash" value="{{ map.hash }}" hidden>
</div>
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>