<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>KSFs</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-cached-resource/angular-cached-resource.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-xeditable/dist/js/xeditable.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
<link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/swot.css">
        <link href="{{ STATIC_URL }}bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

   {% include "common/js-test.html" %}
    </head>
    <body ng-controller="ksfCtrl">
        <div id="kff">
            <div class="container">
                <div id="swot-big-title" class="col-lg-12">
                    <p style="font-size: 24pt; color: #008cb4;">TỔNG HỢP <b>KSFs</b></p>
                    <P style="color: #7a7a7a;">CÔNG TY TRƯỜNG THẮNG</p>
                </div>
                <div class="clearfix"></div>
                <img id="add-kfs" data-toggle="modal" data-target="#add-kfs-detail" src="{{STATIC_URL}}img/add-ksf-button.svg">

                <!-- Modal -->
                <div class="modal fade" id="add-kfs-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">THÊM KFSs</h4>
                            </div>
                            <form name="addForm" ng-submit="addForm.$valid && addNewKsf(ksf)" novalidate>
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="dropdown">
                                        <div class="add-line container-fluid">
                                            <div class="ksf-dropdown-title col-md-4">Chọn danh mục KFS: </div>
                                            <div class="col-md-8">
                                                <select required="" class="btn btn-default dropdown-toggle" name="bscTypeSelect" id="button-ksf-dropdown" ng-model="ksf.fields.bsc_type">
                                                      <option value="">Tên danh mục...</option>
                                                      <option ng-repeat="type in ls_bsc_type" value="{[{type.value}]}">{[{type.name}]}</option>
                                                </select>

                                                <div ng-show="addForm.$submitted || addForm.bscTypeSelect.$touched" class="has-error">
                                                  <div ng-show="addForm.bscTypeSelect.$error.required" class="control-label">Vui lòng chọn danh mục!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="add-line container-fluid">
                                            <div class="ksf-dropdown-title col-md-4">Nhập nội dung KSF:</div>
                                            <div class="col-md-8">
                                                <textarea role="2" style="width: 100%" name="ksfName" ng-model="ksf.fields.name" required=""></textarea>
                                                <div ng-show="addForm.$submitted || addForm.ksfName.$touched" class="has-error">
                                                  <div ng-show="addForm.ksfName.$error.required" class="control-label">Vui lòng điền nội dung KSF!</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">HỦY</button>
                                    <button type="submit" class="btn btn-primary">THÊM KSF</button>
                                </div>
                            </form>
                        </div>
                  </div>
                </div>

                <div id="kfs-header">
                    <table id="ksf-table-enable" class="ksf-table">
                        <thead class="ksf-table-header">
                            <tr>
                                <th rowspan="2" colspan="2" class="mid-aglin">ID</th>
                                <th rowspan="2" colspan="2" id="nth-02">MỤC TIÊU CHIẾN LƯỢC(KSF)</th>
                                <th colspan="3" class="mid-aglin">QUAN TRỌNG</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th colspan="3" class="mid-aglin">KHẢ THI</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th rowspan="2" class="mid-aglin">PRODUCT</th>
                            </tr>
                            <tr class="mid-aglin">
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                            </tr>                        
                        </thead>
                        <tbody id="ksf-body-f">
                            <tr>
                                <td colspan="12">Tài chính (F)</td>
                                <td>
                                    <span id="hidden-f" class="hidden-button" title="Ẩn danh mục Tài Chính (F)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='f' is_hidden='false' %}
                            <tr></tr>
                        </tbody>
                        
                        
                        <tbody id="ksf-body-c">
                            <tr>
                                <td colspan="12">Khách Hàng (C)</td>
                                <td>
                                    <span id="hidden-c" class="hidden-button" title="Ẩn danh mục Khách Hàng (C)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='c' is_hidden='false' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-p">
                            <tr>
                                <td colspan="12">Quy Trình (P)</td>
                                <td>
                                    <span id="hidden-p" class="hidden-button" title="Ẩn danh mục Quy Trình (P)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='p' is_hidden='false' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-l">
                            <tr>
                                <td colspan="12">Học Tập Và Phát Triển (L)</td>
                                <td>
                                    <span id="hidden-l" class="hidden-button" title="Ẩn danh mục Học Tập Và Phát Triển (L)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='l' is_hidden='false' %}
                            <tr></tr>
                        </tbody>
                    </table>
                    
                    <!-- hidden disable button -->
                    <div id="hidden-db-btn">Hiển thị ksfs (Ẩn)</div>                    
                    <!-- disable table--> 
                    
                    <table class="ksf-table" id="disable-ksf">
                        <thead class="ksf-table-header">
                            <tr>
                                <th rowspan="2" colspan="2" class="mid-aglin">ID</th>
                                <th rowspan="2" colspan="2"id="nth-02">MỤC TIÊU CHIẾN LƯỢC(KSF)</th>
                                <th colspan="3" class="mid-aglin">QUAN TRỌNG</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th colspan="3" class="mid-aglin">KHẢ THI</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th rowspan="2" class="mid-aglin">PRODUCT</th>
                            </tr>
                            <tr class="mid-aglin">
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                            </tr>                        
                        </thead>
                        <tbody id="ksf-body-f">
                            <tr>
                                <td colspan="12">Tài chính (F)</td>
                                <td>
                                    <span id="hidden-db-f" class="hidden-button" title="Ẩn danh mục Tài Chính (F)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='f'  is_hidden='true'%}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-c">
                            <tr>
                                <td colspan="12">Khách Hàng (C)</td>
                                <td>
                                    <span id="hidden-db-c" class="hidden-button" title="Ẩn danh mục Khách Hàng (C)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='c' is_hidden='true' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-p">
                            <tr>
                                <td colspan="12">Quy Trình (P)</td>
                                <td>
                                    <span id="hidden-db-p" class="hidden-button" title="Ẩn danh mục Quy Trình (P)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='p' is_hidden='true' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-l">
                            <tr>
                                <td colspan="12">Học Tập Và Phát Triển (L)</td>
                                <td>
                                    <span id="hidden-db-l" class="hidden-button" title="Ẩn danh mục Học Tập Và Phát Triển (L)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='l' is_hidden='true' %}
                            <tr></tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
          StatusBar = $("#name-default");
          $("#name-detail-1").click(function(){
            StatusBar.html("Tài Chính (F)");
          });
          $("#name-detail-2").click(function(){
            StatusBar.html("Khách Hàng (C)");
          });
          $("#name-detail-3").click(function(){
            StatusBar.html("Quy Trình (P)");
          });
          $("#name-detail-4").click(function(){
            StatusBar.html("Học Tập & Phát Triển (L)");
            statusbar.css("backgroundColor, ");
          });
    });


        $(document).ready(function(){
            $('#hidden-db-btn').click(function(){
               $('#disable-ksf').toggle(0, function(){
                   if ($('#disable-ksf:not(:hidden)').length==0){
                   $('#hidden-db-btn').html("Hiển Thị KFS (Ẩn)");
                   }
                   else{
                    $('#hidden-db-btn').html("Ẩn KFS (Ẩn)");
                   };
               });
            });
            });

        $(document).ready(function(){
        $("#hidden-f").click(function(){
            $(".f-item").toggle(150,function(){

                if ($(".f-item:not(:hidden)").length==0){
                    $("#hidden-f").addClass("btn-down");
                }
                else{
                    $("#hidden-f").removeClass("btn-down");
                };
            });
        });
        $("#hidden-c").click(function(){
            $(".c-item").toggle(150,function(){

                if ($(".c-item:not(:hidden)").length==0){
                    $("#hidden-c").addClass("btn-down");
                }
                else{
                    $("#hidden-c").removeClass("btn-down");
                };
            });
        });
        $("#hidden-p").click(function(){
            $(".p-item").toggle(150,function(){

                if ($(".p-item:not(:hidden)").length==0){
                    $("#hidden-p").addClass("btn-down");
                }
                else{
                    $("#hidden-p").removeClass("btn-down");
                };
            });
        });
        $("#hidden-l").click(function(){
            $(".l-item").toggle(150,function(){

                if ($(".l-item:not(:hidden)").length==0){
                    $("#hidden-l").addClass("btn-down");
                }
                else{
                    $("#hidden-l").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-f").click(function(){
            $(".f-db-item").toggle(150,function(){

                if ($(".f-db-item:not(:hidden)").length==0){
                    $("#hidden-db-f").addClass("btn-down");
                }
                else{
                    $("#hidden-db-f").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-c").click(function(){
            $(".c-db-item").toggle(150,function(){

                if ($(".c-db-item:not(:hidden)").length==0){
                    $("#hidden-db-c").addClass("btn-down");
                }
                else{
                    $("#hidden-db-c").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-p").click(function(){
            $(".p-db-item").toggle(150,function(){

                if ($(".p-db-item:not(:hidden)").length==0){
                    $("#hidden-db-p").addClass("btn-down");
                }
                else{
                    $("#hidden-db-p").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-l").click(function(){
            $(".l-db-item").toggle(150,function(){

                if ($(".l-db-item:not(:hidden)").length==0){
                    $("#hidden-db-l").addClass("btn-down");
                }
                else{
                    $("#hidden-db-l").removeClass("btn-down");
                };
            });
        });
    });
    </script>
        <script>
            var app = angular.module('app', ['ngCachedResource', 'xeditable'])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{');
                $interpolateProvider.endSymbol('}]}');
            })
            .config(function ($httpProvider) {
                $httpProvider.defaults.headers.post['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
            })
            .factory('KSF', function ($resource) {
                return $resource('/api/ksf/', {},
                        {
                            create: {
                                method: 'POST',
                                url: '/api/ksf/?id=:id',
                                params: {id: '@id', name: '@name',
                                    bsc_type: '@bsc_type', product: '@product',
                                    order: '@order', important_1:'@important_1',
                                    important_2:'@important_2', important_3:'@important_3',
                                    achivable_1:'@achivable_1', achivable_2:'@achivable_2',
                                    achivable_3:'@achivable_3', is_hidden:'@is_hidden'
                                }
                            },
                            delete: {
                                method: 'DELETE',
                                url: '/api/swot/?id=:id',
                                params: {id: '@id'}
                            }
                        })
            })
            .factory('ORG', function ($resource) {
                return $resource('/api/organization')
            })
            .controller('ksfCtrl', ['$scope', 'KSF', 'ORG', function ($scope, KSF, ORG) {
                $scope.ls_bsc_type = [{value:'financial', name:'Tài chính (F)'},
                    {value:'customer', name:'Khách hàng (C)'},
                    {value:'internal', name:'Quỳ trình (P)'},
                    {value:'learninggrowth', name:'Học Tập & Phát Triển (L)'}];

                $scope.type_financial = 'financial';
                $scope.type_cus = 'customer';
                $scope.type_procedure = 'internal';
                $scope.type_learn = 'learninggrowth';


                $scope.ls_finance = KSF.query({bsc_type: $scope.type_financial});
                $scope.ls_customer = KSF.query({bsc_type: $scope.type_cus});
                $scope.ls_procedure = KSF.query({bsc_type: $scope.type_procedure});
                $scope.ls_learn = KSF.query({bsc_type: $scope.type_learn});

                $scope.organization = ORG.get();
                $scope.getListData = function($bsc_type){

                    if($bsc_type == 'f') {
                        return $scope.ls_finance;
                    }
                    if($bsc_type == 'c')
                        return $scope.ls_customer;
                    if($bsc_type == 'p')
                        return $scope.ls_procedure;
                    if($bsc_type == 'l')
                        return $scope.ls_learn;

                }
                // add swot
                $scope.addSwot = function ($swot_type) {
                    $scope.inserted = {
                        fields: {
                            name: '',
                            weighting: '',
                            swot_type: $swot_type,
                            order: ''
                        }
                    };

                    if ($swot_type == $scope.type_strength) {
                        $scope.ls_strength.push($scope.inserted);
                    } else if ($swot_type == $scope.type_weakness) {
                        $scope.ls_weakness.push($scope.inserted);
                    } else if ($swot_type == $scope.type_opportunity) {
                        $scope.ls_opportunity.push($scope.inserted);
                    } else if ($swot_type == $scope.type_threat) {
                        $scope.ls_threat.push($scope.inserted);
                    }
                }

                function queryData(bsc_type){
                    if(bsc_type == $scope.type_financial){
                        $scope.ls_finance = KSF.query({bsc_type: $scope.type_financial});
                    }else if(bsc_type == $scope.type_cus){
                        $scope.ls_customer = KSF.query({bsc_type: $scope.type_cus});
                    }else if(bsc_type == $scope.type_procedure){
                        $scope.ls_procedure = KSF.query({bsc_type: $scope.type_procedure});
                    }else if(bsc_type == $scope.type_learn){
                        $scope.ls_learn = KSF.query({bsc_type: $scope.type_learn});
                    }
                }

                function getListKsf(bsc_type){
                    if(bsc_type == $scope.type_financial){
                        return $scope.ls_finance;
                    }else if(bsc_type == $scope.type_cus){
                        return $scope.ls_customer;
                    }else if(bsc_type == $scope.type_procedure){
                        return $scope.ls_procedure;
                    }else if(bsc_type == $scope.type_learn){
                        return $scope.ls_learn;
                    }
                    return null;
                }

                function getCurrentKsf(pk, $ksf_type){
                    var ls = getListKsf($ksf_type);
                    if(ls == null) return null;
                    for(var i = 0; i < ls.length; ++i){
                        if(ls[i].pk == pk)
                            return ls[i];
                    }
                    return null;
                }
                // remove swot
                $scope.removeSwot = function (index, $swot_type) {
                    if ($swot_type == $scope.type_strength) {
                        // for edit
                        if($scope.ls_strength[index].pk){
                            return;
                        }
                        $scope.ls_strength.splice(index, 1);
                    } else if ($swot_type == $scope.type_weakness) {
                        // for edit
                        if($scope.ls_weakness[index].pk){
                            return;
                        }
                        $scope.ls_weakness.splice(index, 1);
                    } else if ($swot_type == $scope.type_opportunity) {
                        // for edit
                        if($scope.ls_opportunity[index].pk){
                            return;
                        }
                        $scope.ls_opportunity.splice(index, 1);
                    } else if ($swot_type == $scope.type_threat) {
                        // for edit
                        if($scope.ls_threat[index].pk){
                            return;
                        }
                        $scope.ls_threat.splice(index, 1);
                    }
                };

                $scope.addNewKsf = function(ksf){
                    console.log(ksf);
                    var args = ksf;
                    KSF.create(args, function(data){
                        queryData(data.fields.bsc_type);
                        $("#add-kfs-detail").modal('hide');
                    }, function(error_msg){

                    })
                }

                $scope.saveKsf = function (data, ksf_type, pk, is_hidden) {

                    var args = getCurrentKsf(pk, ksf_type);// for edit
                    if(args == null) return;
                    args.id = args['pk'];

                    if(is_hidden != null && is_hidden != undefined) // for hide or show
                        args.fields.is_hidden = !args.fields.is_hidden;

                    KSF.create(args, function(data){

                        queryData(ksf_type);

                    }, function(errormsg){

                    });
                }

                $scope.validateNotEmpty = function (val) {
                    if (!val)
                        return "Value is not valid!";
                }

                $scope.isInt = function(n){
                    console.log(Number(n) === n );
                    if(!(!isNaN(n) && n % 1 === 0))
                        return "Value is not valid!";
                }

                $scope.showstrength = false;
                $scope.showArchive = function($index, type_swot){
                    if(type_swot == $scope.type_strength) {
                        if ($scope.ls_strength[$index].fields.is_archive) {
                            $scope.ls_strength[$index].show_archive = !$scope.ls_strength[$index].show_archive;
                        } else {
                            $scope.ls_strength[$index].no_archive = !$scope.ls_strength[$index].no_archive;
                        }
                    }else if(type_swot == $scope.type_weakness){
                        if ($scope.ls_weakness[$index].fields.is_archive) {
                            $scope.ls_weakness[$index].show_archive = !$scope.ls_weakness[$index].show_archive;
                        } else {
                            $scope.ls_weakness[$index].no_archive = !$scope.ls_weakness[$index].no_archive;
                        }
                    }else if(type_swot == $scope.type_opportunity){
                        if ($scope.ls_opportunity[$index].fields.is_archive) {
                            $scope.ls_opportunity[$index].show_archive = !$scope.ls_opportunity[$index].show_archive;
                        } else {
                            $scope.ls_opportunity[$index].no_archive = !$scope.ls_opportunity[$index].no_archive;
                        }
                    }else if(type_swot == $scope.type_threat){
                        if ($scope.ls_threat[$index].fields.is_archive) {
                            $scope.ls_threat[$index].show_archive = !$scope.ls_threat[$index].show_archive;
                        } else {
                            $scope.ls_threat[$index].no_archive = !$scope.ls_threat[$index].no_archive;
                        }
                    }

                }

                $scope.deleteSwot = function(idForm, index, type_swot, $event){

                    if(type_swot == $scope.type_strength){
                         SWOT.delete({}, {id: $scope.ls_strength[index].pk}, function(data){
                             if(data.error == 'success'){
                                 $scope.ls_strength.splice(index, 1);
                             }else{
                                 alert('Error: Can not delete this swot!');
                             }})
                    }else if(type_swot == $scope.type_weakness){
                         SWOT.delete({}, {id: $scope.ls_weakness[index].pk}, function(data){
                             if(data.error == 'success'){
                                 $scope.ls_weakness.splice(index, 1);
                             }else{
                                 alert('Error: Can not delete this swot!');
                             }})
                    }else if(type_swot == $scope.type_opportunity){
                         SWOT.delete({}, {id: $scope.ls_opportunity[index].pk}, function(data){
                             if(data.error == 'success'){
                                 $scope.ls_opportunity.splice(index, 1);
                             }else{
                                 alert('Error: Can not delete this swot!');
                             }})
                    }else if(type_swot == $scope.type_threat){
                         SWOT.delete({}, {id: $scope.ls_threat[index].pk}, function(data){
                             if(data.error == 'success'){
                                 $scope.ls_threat.splice(index, 1);
                             }else{
                                 alert('Error: Can not delete this swot!');
                             }})
                    }
                }

                $scope.rearchive = function(index, type_swot){
                    if(type_swot == $scope.type_strength){
                        $scope.ls_strength[index].fields.is_archive = false;
                    }else if(type_swot == $scope.type_weakness){
                        $scope.ls_weakness[index].fields.is_archive = false;
                    }else if(type_swot == $scope.type_opportunity){
                        $scope.ls_opportunity[index].fields.is_archive = false;
                    }else if(type_swot == $scope.type_threat){
                        $scope.ls_threat[index].fields.is_archive = false;
                    }
                }

                $scope.archive = function(index, type_swot){
                    if(type_swot == $scope.type_strength){
                        $scope.ls_strength[index].fields.is_archive = true;
                    }else if(type_swot == $scope.type_weakness){
                        $scope.ls_weakness[index].fields.is_archive = true;
                    }else if(type_swot == $scope.type_opportunity){
                        $scope.ls_opportunity[index].fields.is_archive = true;
                    }else if(type_swot == $scope.type_threat){
                        $scope.ls_threat[index].fields.is_archive = true;
                    }
                }
            }]);
    app.run(function (editableOptions) {
        editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
    });
        </script>
    </body>
</html>
