{% load kpi %}
{%  createNameForm type_order is_hidden as nameForm %}
<tr class="{{ type_order }}{% if is_hidden == 'true' %}{{ '-db' }}{% endif %}-item" ng-repeat="ksf in (getListData('{{ type_order}}')|filter:{fields:{is_hidden: {{is_hidden}} }}) track by $index">
    <td>{{ type_order }}{[{ksf.fields.order}]}</td>
    <td>
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.order" e-form="{{ nameForm }}form" editable-text="ksf.fields.order">
        {[{ksf.fields.order}]}
        </span>
    </td>
    <td>
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="validateNotEmpty($data)" e-name="fields.name" e-form="{{ nameForm }}form" editable-textarea="ksf.fields.name">
            {[{ksf.fields.name}]}
        </span>
        <form editable-form id="{{ nameForm }}form{[{$index}]}"
              name="{{ nameForm }}form" onbeforesave="saveKsf($data, ksf.fields.bsc_type, ksf.pk)"
              ng-show="{{ nameForm }}form.$visible" class="form-buttons form-inline" >
                {% csrf_token %}
            <button type="submit" ng-disabled="{{ nameForm }}form.$waiting" class="btn btn-primary">
                save
            </button>
            <button type="button" ng-disabled="{{ nameForm }}form.$waiting"
                    ng-click="{{ nameForm }}form.$cancel();"
                    class="btn btn-default">
                cancel
            </button>
        </form>
    </td>
    <td>
        <span class="ksf-config dropdown">
            <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
            <ul class="dropdown-menu">
                <li ng-click="saveKsf($data, ksf.fields.bsc_type, ksf.pk, {{ is_hidden }})"><i class="fa fa-minus-circle"></i>
                    {% if is_hidden == 'false' %}Ẩn KSF{% else %}Hiện KSF{% endif %}</li>
            </ul>
        </span>
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.important_1" e-form="{{ nameForm }}form" editable-text="ksf.fields.important_1">
            {[{ksf.fields.important_1}]}
        </span>
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.important_2" e-form="{{ nameForm }}form" editable-text="ksf.fields.important_2">
        {[{ksf.fields.important_2}]}
        </span>
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.important_3" e-form="{{ nameForm }}form" editable-text="ksf.fields.important_3">
            {[{ksf.fields.important_3}]}
        </span>
    </td>
    <td class="mid-aglin">
            {[{(ksf.fields.important_1 + ksf.fields.important_2 + ksf.fields.important_3)/3 | number:2}]}
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.achivable_1" e-form="{{ nameForm }}form" editable-text="ksf.fields.achivable_1">
            {[{ksf.fields.achivable_1}]}
        </span>
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.achivable_2" e-form="{{ nameForm }}form" editable-text="ksf.fields.achivable_2">
            {[{ksf.fields.achivable_2}]}
        </span>
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.achivable_3" e-form="{{ nameForm }}form" editable-text="ksf.fields.achivable_3">
            {[{ksf.fields.achivable_3}]}
        </span>
    </td>
    <td class="mid-aglin">
            {[{ (ksf.fields.achivable_1+ksf.fields.achivable_2+ksf.fields.achivable_3)/3 | number:2}]}
    </td>
    <td class="mid-aglin">
        <span ng-click="{{ nameForm }}form.$show()" onbeforesave="isInt($data)" e-name="fields.product" e-form="{{ nameForm }}form" editable-text="ksf.fields.product">
            {[{ksf.fields.product}]}
        </span>
    </td>
</tr>
