<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>KSFs</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/swot.css">
    </head>
    <body>
        <div id="kff">
            <div class="container">
                <div id="swot-big-title" class="col-lg-12">
                    <p style="font-size: 24pt; color: #008cb4;">TỔNG HỢP <b>KSFs</b></p>
                    <P style="color: #7a7a7a;">CÔNG TY TRƯỜNG THẮNG</p>
                </div>
                <div class="clearfix"></div>
                <img id="add-kfs" data-toggle="modal" data-target="#add-kfs-detail" src="{{STATIC_URL}}img/add-ksf-button.svg">

                <!-- Modal -->
                <div class="modal fade" id="add-kfs-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">THÊM KFSs</h4>
                            </div>
                            <div class="modal-body">
                                <div class="dropdown">
                                    <div class="add-line container-fluid">
                                        <div class="ksf-dropdown-title col-md-4">Chọn danh mục KFS: </div>
                                        <div class="col-md-8">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="button-ksf-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <div><span id="name-default">Tên danh mục...</span><i id="sort-desc-ksf" class="fa fa-sort-desc"></i></div>
                                            </button>
                                            <div class="dropdown-menu" id="kfs-dropdown" aria-labelledby="#button-ksf-dropdown">
                                                <li><a id="name-detail-1">Tài Chính (F)</a></li>
                                                <li><a id="name-detail-2">Khách hàng (C)</a></li>
                                                <li><a id="name-detail-3">Quy Trình (P)</a></li>
                                                <li><a id="name-detail-4">Học Tập & Phát Triển (L)</a></li>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="add-line container-fluid">
                                        <div class="ksf-dropdown-title col-md-4">Nhập nội dung KSF:</div>
                                        <div class="col-md-8">
                                            <textarea role="2" style="width: 100%"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">HỦY</button>
                                <button type="button" class="btn btn-primary">THÊM KSF</button>
                            </div>
                        </div>
                  </div>
                </div>
                
                
                <div id="kfs-header">
                    <table id="ksf-table-enable" class="ksf-table">
                        <thead class="ksf-table-header">
                            <tr>
                                <th rowspan="2" colspan="2" class="mid-aglin">ID</th>
                                <th rowspan="2" colspan="2" id="nth-02">MỤC TIÊU CHIẾN LƯỢC(KSF)</th>
                                <th colspan="3" class="mid-aglin">QUAN TRỌNG</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th colspan="3" class="mid-aglin">KHẢ THI</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th rowspan="2" class="mid-aglin">PRODUCT</th>
                            </tr>
                            <tr class="mid-aglin">
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                            </tr>                        
                        </thead>
                        <tbody id="ksf-body-f">
                            <tr>
                                <td colspan="12">Tài chính (F)</td>
                                <td>
                                    <a id="hidden-f" data-toggle="collapse" aria-expanded="true" aria-controls="f-collapse" class="hidden-button" title="Ẩn danh mục Tài Chính (F)"></a>
                                </td>
                            </tr>

                            {% include 'performance/ksf/ksf_detail.html' with type_order='F' %}
                            <tr></tr>
                        </tbody>
                        
                        
                        <tbody id="ksf-body-c">
                            <tr>
                                <td colspan="12">Khách Hàng (C)</td>
                                <td>
                                    <span id="hidden-c" class="hidden-button" title="Ẩn danh mục Khách Hàng (C)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='C' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-p">
                            <tr>
                                <td colspan="12">Quy Trình (P)</td>
                                <td>
                                    <span id="hidden-p" class="hidden-button" title="Ẩn danh mục Quy Trình (P)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='P' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-l">
                            <tr>
                                <td colspan="12">Học Tập Và Phát Triển (L)</td>
                                <td>
                                    <span id="hidden-l" class="hidden-button" title="Ẩn danh mục Học Tập Và Phát Triển (L)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='L' %}
                            <tr></tr>
                        </tbody>
                    </table>
                    
                    <!-- hidden disable button -->
                    <div id="hidden-db-btn">Hiển thị ksfs (Ẩn)</div>                    
                    <!-- disable table--> 
                    
                    <table class="ksf-table" id="disable-ksf">
                        <thead class="ksf-table-header">
                            <tr>
                                <th rowspan="2" colspan="2" class="mid-aglin">ID</th>
                                <th rowspan="2" colspan="2"id="nth-02">MỤC TIÊU CHIẾN LƯỢC(KSF)</th>
                                <th colspan="3" class="mid-aglin">QUAN TRỌNG</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th colspan="3" class="mid-aglin">KHẢ THI</th>
                                <th rowspan="2" class="mid-aglin">AVG</th>
                                <th rowspan="2" class="mid-aglin">PRODUCT</th>
                            </tr>
                            <tr class="mid-aglin">
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                                <td>N1</td>
                                <td>N2</td>
                                <td>N3</td>
                            </tr>                        
                        </thead>
                        <tbody id="ksf-body-f">
                            <tr>
                                <td colspan="12">Tài chính (F)</td>
                                <td>
                                    <span id="hidden-db-f" class="hidden-button" title="Ẩn danh mục Tài Chính (F)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='F' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-c">
                            <tr>
                                <td colspan="12">Khách Hàng (C)</td>
                                <td>
                                    <span id="hidden-db-c" class="hidden-button" title="Ẩn danh mục Khách Hàng (C)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='C' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-p">
                            <tr>
                                <td colspan="12">Quy Trình (P)</td>
                                <td>
                                    <span id="hidden-db-p" class="hidden-button" title="Ẩn danh mục Quy Trình (P)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='P' %}
                            <tr></tr>
                        </tbody>
                        
                        <tbody id="ksf-body-l">
                            <tr>
                                <td colspan="12">Học Tập Và Phát Triển (L)</td>
                                <td>
                                    <span id="hidden-db-l" class="hidden-button" title="Ẩn danh mục Học Tập Và Phát Triển (L)"></span>
                                </td>
                            </tr>
                            {% include 'performance/ksf/ksf_detail.html' with type_order='L' %}
                            <tr></tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    <script type="text/javascript">
        $(document).ready(function(){
          StatusBar = $("#name-default");
          $("#name-detail-1").click(function(){
            StatusBar.html("Tài Chính (F)");
          });
          $("#name-detail-2").click(function(){
            StatusBar.html("Khách Hàng (C)");
          });
          $("#name-detail-3").click(function(){
            StatusBar.html("Quy Trình (P)");
          });
          $("#name-detail-4").click(function(){
            StatusBar.html("Học Tập & Phát Triển (L)");
            statusbar.css("backgroundColor, ");
          });
    });


    $(document).ready(function(){
        $('#hidden-db-btn').click(function(){
           $('#disable-ksf').toggle(0, function(){
               if ($('#disable-ksf:not(:hidden)').length==0){
               $('#hidden-db-btn').html("Hiển Thị KFS (Ẩn)");
               }
               else{
                $('#hidden-db-btn').html("Ẩn KFS (Ẩn)");
               };
           });
        });
        });

    $(document).ready(function(){
{#        $("#hidden-f").click(function(){#}
{#            $(".f-item").toggle(150,function(){#}
{##}
{#                if ($(".f-item:not(:hidden)").length==0){#}
{#                    $("#hidden-f").addClass("btn-down");#}
{#                }#}
{#                else{#}
{#                    $("#hidden-f").removeClass("btn-down");#}
{#                };#}
{#            });#}
{#        });#}
        $("#hidden-c").click(function(){
            $(".c-item").toggle(150,function(){

                if ($(".c-item:not(:hidden)").length==0){
                    $("#hidden-c").addClass("btn-down");
                }
                else{
                    $("#hidden-c").removeClass("btn-down");
                };
            });
        });
        $("#hidden-p").click(function(){
            $(".p-item").toggle(150,function(){

                if ($(".p-item:not(:hidden)").length==0){
                    $("#hidden-p").addClass("btn-down");
                }
                else{
                    $("#hidden-p").removeClass("btn-down");
                };
            });
        });
        $("#hidden-l").click(function(){
            $(".l-item").toggle(150,function(){

                if ($(".l-item:not(:hidden)").length==0){
                    $("#hidden-l").addClass("btn-down");
                }
                else{
                    $("#hidden-l").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-f").click(function(){
            $(".f-db-item").toggle(150,function(){

                if ($(".f-db-item:not(:hidden)").length==0){
                    $("#hidden-db-f").addClass("btn-down");
                }
                else{
                    $("#hidden-db-f").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-c").click(function(){
            $(".c-db-item").toggle(150,function(){

                if ($(".c-db-item:not(:hidden)").length==0){
                    $("#hidden-db-c").addClass("btn-down");
                }
                else{
                    $("#hidden-db-c").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-p").click(function(){
            $(".p-db-item").toggle(150,function(){

                if ($(".p-db-item:not(:hidden)").length==0){
                    $("#hidden-db-p").addClass("btn-down");
                }
                else{
                    $("#hidden-db-p").removeClass("btn-down");
                };
            });
        });
        $("#hidden-db-l").click(function(){
            $(".l-db-item").toggle(150,function(){

                if ($(".l-db-item:not(:hidden)").length==0){
                    $("#hidden-db-l").addClass("btn-down");
                }
                else{
                    $("#hidden-db-l").removeClass("btn-down");
                };
            });
        });
    });
    </script>
    </body>
</html>
