<!DOCTYPE html>
<html lang="en">
<head>{% include "common/js-test.html" %}
    <meta charset="UTF-8">
    <title>ASSESS POPUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>team-view</title>
    <script src="{{ STATIC_URL }}js/jquery223/jquery-2.2.3.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap3x/336/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/dragdealer.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/336/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/lato-font/latofonts.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/popup-assess/popup-assess.css">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">

</head>
<style type="text/css">
    .modle.fade{
        padding:0px!important;
    }
</style>
<body>

    <div class="assess-popup">
        <button id="test-button" type="button" class="btn btn-primary ttr-button" data-toggle="modal" data-target="#assess-popup" style="margin-top: 50px;">
            <i class="lnr lnr-pencil" style="padding: 5px;"></i>
        </button>




        <div class="modal fade bs-example-modal-lg" id="assess-popup" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg assess-modal" role="document">
                <div class="modal-content ttr-popup">

                    <!-- HEADER -->

                    <div class="modal-header assess-header">


                        <div class="col-md-6 ttr-col">
                            <div class="assess-kpi-id">
                                <div type="button" class="btn btn-default ttr-button category-button" style="border-right: 0px;">P</div>
                                <div class="btn btn-default ttr-button category-button size14" style="border-left: 0px;">01</div>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-inline"></div>
                        <div class="col-md-6 ttr-col">
                            <div class="assess-kpi-curator">
                                <div class="assess-persion" style="padding-right:0px;"><i class="fa fa-user"></i></div>
                                <div class="assess-persion assess-user-name">Trương Nguyễn Vương Tuấn</div>
                                <div class="assess-persion assess-edit-persion"><i class="fa fa-pencil-square-o"></i></div>
                            </div>
                        </div>


                        <button type="button" class="close ttr-button-hidden" data-dismiss="modal" aria-label="Close">
                            <i class="lnr lnr-cross" aria-hidden="true"></i>
                        </button>

                    </div>


                    <!-- BODY -->
                    <div class="modal-body ttr-modal-body container-fluid">
                        <div class="col-lg-12 cjs-assess-popup-control">
                            <div class="kpi-status">
                                <div class="turn-on btn btn-default ttr-button assess-ctr-button">
                                    <i class="fa fa-toggle-on assess-padding-right"></i>
                                    <span class="hidden-xs">ĐANG THỰC HIỆN</span>
                                </div>
                                <div class="turn-off btn btn-default ttr-button hidden assess-ctr-button">
                                    <i class="fa fa-toggle-off assess-padding-right"></i>
                                    <span class="hidden-xs">TẠM HOÃN</span>
                                </div>
                                <div class="dropdown assess-ctr-button" style="display: inline-block">
                                    <div class="btn btn-default dropdown-toggle assess-father-show  ttr-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-cog fa-lg ng-scope"></i>
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Chỉnh sửa KPI</a></li>
                                        <li><a href="#">Sao chép KPI</a></li>
                                        <li><a href="#">Xóa KPI</a></li>
                                        <li><a href="#">Liên kết KPI</a></li>
                                        <li><a href="#">Phân công KPI cho các thành viên</a></li>
                                        <li><a href="#">Chuyển KPI</a></li>
                                    </ul>
                                </div>
                                <div class="btn btn-default ttr-button assess-father-show assess-ctr-button">
                                    <i class="fa fa-level-up fa-lg ng-scope"></i>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="container-fluid ttr-container assess-kpi-content">
                            <div class="assess-kpi-header col-lg-12">
                                <div class="assess-kpi-name size16">TĂNG ĐỘ HIỆU DỤNG TÀI SẢN</div>
                                <div class="weighty-point">
                                    <div class="main">10/90</div>
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                            <div class="assess-perfomance col-lg-12">

                                <div class="progress assess-progress">
                                    <div id="bar-width" class="progress-bar percent-progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>



                            <!-- assess-control -->
                        <div class="period-assess col-sm-6">
                            <div class="control-titel">CHỌN CHU KỲ ĐÁNH GIÁ</div>
                            <div class="clearfix"></div>
                            <div id="quarterly" class="period pri-activate">Q<span class="hidden-sm hidden-xs">uarterly</span></div>
                            <div id="monthly" class="period">M<span class="hidden-sm hidden-xs">onthly</span></div>
                            <!--<div id="weekly" class="period">W<span class="hidden-sm hidden-xs">eekly</span></div>-->
                            <!--<div id="daily" class="period">D<span class="hidden-sm hidden-xs">aily</span></div>-->
                        </div>

                        <div class="period-assess col-sm-6  ">
                            <div class="control-titel">CHỌN CÔNG THỨC ĐÁNH GIÁ</div>
                            <div class="clearfix"></div>
                            <div id="assess-average" class="formula for-activate">T<span class="hidden-sm hidden-xs">RUNG BÌNH</span></div>
                            <div id="asess-sum" class="formula">T<span class="hidden-sm hidden-xs">ỔNG</span></div>
                            <div id="n-a" class="formula">G<span class="hidden-sm hidden-xs">ẦN NHẤT</span></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="assess-kpi-detail-ctr assess-show-kpi-detail">
                            HIỂN THỊ CHI TIẾT KPI <i class="fa fa-angle-double-down "></i>
                        </div>



                        <div class="assess-kpi-detail container-fluid ttr-container hidden"><!-- text aria -->
                            <div class="assess-note col-md-6">
                                <textarea rows="2" placeholder="Nhập phương pháp đo lường và lấy số liệu.."></textarea>
                            </div>
                            <div class="assess-note col-md-6">
                                <textarea rows="2" placeholder="Ghi chú công thức hoặc cách tính chi tiết.."></textarea>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 assess-aria">
                                <div class="assess-aria-title">Mục tiêu:</div>
                                <div class="dropdown" style="display: inline-block; position: absolute;">
                                    <button class="btn btn-default dropdown-toggle ttr-button operator-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <=
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#"><=</a></li>
                                        <li><a href="#">>=</a></li>
                                        <li><a href="#">=</a></li>
                                    </ul>
                                </div>
                                <div style="margin-left: 50px;">
                                    <input class="assess-aria-item assess-target">
                                </div>
                            </div>
                            <div class="col-sm-6 assess-aria">
                                <div class="assess-aria-title">Đơn Vị Tính:</div>
                                <input class="assess-aria-item">
                            </div>
                        </div>


                        <div class="assess-kpi-detail-ctr assess-hidden-kpi-detail hidden">
                            ẨN CHI TIẾT KPI <i class="fa fa-angle-double-up"></i>
                        </div>

                        <!-- Quarterly assess -->
                        <div id="quaterly-assess" class="ttr-modal-body container-fluid">
                            <div class="col-sm-12 result-aria">
                                <div class="assess-aria-title">Kết quả quý:</div>
                                <div class="col-sm-9"">
                                    <input class="assess-aria-item">
                                </div>
                            </div>
                        </div>


                        <!-- Monthly assess -->

                        <div id="quaterly-assess" class="ttr-modal-body container-fluid">
                            <div class="assess-aria-title">Kết quả Tháng:</div>
                            <div class="col-sm-3 result-aria">
                                <span>Tháng 1</span><input class="assess-aria-item">
                            </div>
                            <div class="col-sm-3 result-aria">
                                <span>Tháng 2</span><input class="assess-aria-item">
                            </div>
                            <div class="col-sm-3 result-aria">
                                <span>Tháng 3</span><input class="assess-aria-item">
                            </div>
                            <div class="col-sm-3 result-aria">
                                <span>{% trans "Result" %}:</span>
                            </div>
                        </div>


                        <!-- comment -->
                        <div class="ttr-modal-body container-fluid assess-comment">
                            <div class="size16" style="text-transform: uppercase;">{% trans "Notes, suggestions, reviews, improvements" %} ...</div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default ttr-button" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" class="btn btn-primary ttr-button">{% trans "Save changes" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
            $('.turn-off').click(function(){
                $('.turn-on').removeClass("hidden");
                $('.turn-off').addClass("hidden");
            });
            $('.turn-on').click(function(){
                $('.turn-off').removeClass("hidden");
                $('.turn-on').addClass("hidden");
            });
        });

        <!--
        $(document).ready(function(){
            $(".activate").click(function(){
                $.getScript("{{ STATIC_URL }}js/dragdealer.js");

                new Dragdealer('aaa', {
                    animationCallback:function(x, y) {
                        var n = Math.round(x*100) + '%'
                        $('#aaa .value').text(Math.round(x * 100));
                        $('#bar-width').width(n);
                    }
                });
            });
        });
        -->
        $(document).ready(function(){
            $('.period-assess .period').click(function(){
                $('.period-assess .period').removeClass("pri-activate");
                $(this).addClass("pri-activate");
            });
            $('.period-assess .formula').click(function(){
                $('.period-assess .formula').removeClass("for-activate");
                $(this).addClass("for-activate");
            });
            $('.assess-show-kpi-detail').click(function(){
                $('.assess-kpi-detail').removeClass("hidden");
                $('.assess-hidden-kpi-detail').removeClass("hidden");
                $(this).addClass("hidden");
            });
            $('.assess-hidden-kpi-detail').click(function(){
                $('.assess-kpi-detail').addClass("hidden");
                $('.assess-show-kpi-detail').removeClass("hidden");
                $(this).addClass("hidden");
            });
        });
    </script>
</body>
</html>