{% load i18n %}
<form class="form-horizontal" action="{{ request.path }}" method="post">
  <div class="control-group">
    <label class="control-label" for="inputEmail">{% trans 'Branch Director' %}:</label>
    <div class="controls">
      	{{ form.director }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">{% trans 'Create' %}</button>
    </div>
  </div>
</form>