{% extends "performance/timeline/timeline_base.html" %}
{% load i18n l10n %}
{% load kpi manage_tag %}
{% block title %}{% blocktrans %}Public Strategy Map{% endblocktrans %}{% endblock %}

{% block landing %}
	<div class="pane-contain" style="margin: 20px auto">
        <div class="clearfix">
        {% with map=map s_maps=s_maps org=organization  %}
            {% include "performance/bsc/map/modules/public-strategy-map-navigation.html" %}
        {% endwith %}
        </div>

        {% if map %}
            {% include "performance/bsc/map/strategy-map-main-content.html" %}
        {% else %}
            {% blocktrans %}The organization don't have the Strategy Map in this year.{% endblocktrans %}
        {% endif %}
    </div>

{% endblock %}
