{% extends "performance/bsc/bsc_base.html" %}
{% load i18n user_tags %}
{% block title %}{% blocktrans %}Strategy Map{% endblocktrans %}{% endblock %}

{% block menubar %}
{% endblock %}

{% block landing %}
    {% if not allow_edit %}
{#    Ref:    http://stackoverflow.com/questions/14372690/temporarily-disable-all-events-in-javascript#}
		{% comment %}
        <div id="blockDiv">
        <p style="text-align: center; color: yellowgreen">
            Note: You don't have permission to edit this page.</p>
        </div>
        {% endcomment %}
        <style>#blockDiv {
            position: fixed;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 999;
        }</style>

        <script>
            $("#blockDiv").click(function (e) {
                // stop propagation and prevent default by returning false
                return false;
            });
        </script>

    {% endif %}
    {% trans "Overview company goals" as descTitle %}
    {% trans "Strategy Map" as titlePage %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/strategyIcon.png"|get_static %}

    <!-- PRINT EDIT -->
    <style type="text/css">


        @media print {
            .bsc-category {
                border: 1px solid rgba(0, 0, 0, 0) !important;
            }

            #id-customer {
                display: block;
                page-break-before: always !important;
            }

            #id-internal {
                display: block;
                page-break-before: always !important;
            }

            #id-learninggrowth {
                display: block;
                page-break-before: always !important;
            }

            .add_group {
                display: none;
            }

            .add_kpi {
                display: none;
            }

            .top-toolbar {
                display: none;
            }

            .helpdesk {
                display: none;
            }

            .pane-contain {
                border: 0px !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
            }

            .home_back {
                display: none;
            }

            .logo_div {
                display: none;
            }

            .kpi-weight span {
                color: #fff !important;
            }

            .nav_bar_content .content_title {
                color: #fff !important;
                float: none;
                padding: 0.5cm 1cm;
                text-aline: center !important;
                width: 100% !important;
                margin-left: 0px;
                text-transform: uppercase;
                background-color: #3e6d8c !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .nav_title {
                color: #fff !important;
            }

            .nav_desc {
                color: #fff !important;
            }

            .pane-contain {
                margin-top: 0px !important;
            }

            .strategy-map-company .textareainplaceedit {
                text-transform: uppercase;
                color: #3e6d8c !important;
            }

            /*-------------- financial ---------------*/
            .financial .kpi-group-title {
                background-color: #ff5c00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .financial .kpi-group-title .group-weight {
                background-color: #ff5c00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .financial .group-weight {
                background-color: #FF5C00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .financial .bsc-category-title {
                color: #fff !important;
                background-color: #FF5C00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .financial .bsc-category-title .category-weight {
                color: #fff !important;
                background-color: #FF5C00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .financial .bsc-category-title .category-weight .weight-value {
                color: #fff !important;
            }

            /*-------------- customer ---------------*/
            .customer .kpi-group-title {
                background-color: #00A2CD !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .customer .kpi-group-title .group-weight {
                background-color: #00A2CD !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .customer .group-weight {
                background-color: #00A2CD !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .customer .bsc-category-title {
                color: #fff !important;
                background-color: #00A2CD !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .customer .bsc-category-title .category-weight {
                color: #fff !important;
                background-color: #00A2CD !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .customer .bsc-category-title .category-weight .weight-value {
                color: #fff !important;
            }

            /*-------------- internal-process ---------------*/
            .internal-process .kpi-group-title {
                background-color: #54a413 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .internal-process .kpi-group-title .group-weight {
                background-color: #54a413 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .internal-process .group-weight {
                background-color: #54a413 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .internal-process .bsc-category-title {
                color: #fff !important;
                background-color: #54a413 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .internal-process .bsc-category-title .category-weight {
                color: #fff !important;
                background-color: #54a413 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .internal-process .bsc-category-title .category-weight .weight-value {
                color: #fff !important;
            }

            /*-------------- learn-growth ---------------*/
            .learn-growth .kpi-group-title {
                background-color: #d79f00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .learn-growth .kpi-group-title .group-weight {
                background-color: #d79f00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .learn-growth .group-weight {
                background-color: #d79f00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .group-weight {
                color: #fff !important;
            }

            .learn-growth .bsc-category-title {
                color: #fff !important;
                background-color: #d79f00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .learn-growth .bsc-category-title .category-weight {
                color: #fff !important;
                background-color: #d79f00 !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .learn-growth .bsc-category-title .category-weight .weight-value {
                color: #fff !important;
            }

            .remove-btn {
                display: none;
            }

            .kpi-group {
                background-color: #dcdddf !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .goal-content {
                background-color: #55585f !important;
                color: #fff !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .item-name .textinplaceedit {
                color: #fff !important;
            }

            @page {
                margin: 2cm;
            }

            .group-weight {
                color: #fff !important;
                border: 3px #fff solid !important;
            }

            .group-weight .weight-value {
                color: #fff !important;
            }

            .kpi-weight {
                color: #fff !important;
                border: 3px #fff solid !important;
                background-color: #55585F !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }

            .kpi-weight .inplaceedit {
                color: #fff !important;
            }

            .pane-contain .clearfix .dropdown {
                display: none;
            }

            .print-sub-titel {
                display: block !important;
                color: #fff !important;
            }

            .nav_desc {
                display: none !important;
            }

            #stategy-map-container {
                display: none !important;
            }

        }

        .print-sub-titel {
            display: none;
        }

        .strategy-map-company .textareainplaceedit {
            line-height: 1.3 !important;
        }
    </style>

    <!-- END PRINT EDIT -->
    <div class="pane-contain" style="margin: 20px auto">
        <div class="clearfix">
            {% with map=map s_maps=s_maps org=organization %}
                {% include "performance/bsc/map/modules/strategy-map-navigation.html" %}
            {% endwith %}
        </div>

        {% if map %}
            {% include "performance/bsc/map/strategy-map-main-content.html" %}
        {% else %}
            {% with quarter_period_id=quarter_period.id organization_id=organization.id %}
                {% include "performance/bsc/map/modules/strategy-map-create.html" %}
            {% endwith %}
        {% endif %}
    </div>

    <div id="id-create-sm-branch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Create a Strategy Map for a Branch</h3>
        </div>
        <div class="modal-body">

        </div>
    </div>

    <script type="text/javascript">
        $('#id-create-sm-branch').on('hidden', function () {
            $(this).removeData('modal');
        });
    </script>
{% endblock %}



{% block js %}


    {#    <script src="{{ STATIC_URL }}app/js/strategymap_bundle.js" type="text/javascript"></script>#}



    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-v2/boostrap.min.js?v={{ settings.VERSION }}20140924"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}20140924"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>

{% endblock %}
