{% extends "performance/bsc/bsc_base.html" %}

{% load i18n l10n inplace_edit kpi user_tags %}


{% block title %}Performance Review{% endblock %}

{% block menubar %}
{% endblock %}
{#testetset#}

{% block landing %}

    {% trans " " as descTitle %}
    {% trans "Team KPI" as titlePage %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/kpi_icon.png"|get_static %}


    {% inplace_static %}
    <style>
        {#Đừng dán CSS tùm lum nếu có thể gom lại 1 nơi#}

    </style>

    <link rel="stylesheet" href="{{ STATIC_URL }}select/select2.css" type="text/css"/>

    {#    {% language 'en' %}#}
    <div class="pane-contain" style="margin: 20px auto">
        <div>
            <div class="strategy-map-company">{{ map.name }}</div>
            <div style="margin: 10px auto;width: 80%;">
                {{ map.description|urlize|linebreaksbr }}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <ul class="filter_date pull-left">
            <li {% if category == 'financial' %}class="active"{% endif %}>
                <a href="?category=financial">{% trans 'Financial' %}</a>
            </li>
            <li {% if category == 'customer' %}class="active"{% endif %}>
                <a href="?category=customer">{% trans 'Customer' %}</a>
            </li>
            <li {% if category == 'process' %}class="active"{% endif %}>
                <a href="?category=process">{% trans 'Internal Process' %}</a>
            </li>
            <li {% if category == 'learn-growth' %}class="active"{% endif %}>
                <a href="?category=learn-growth">{% trans 'Learn & Growth' %}</a>
            </li>
            <li {% if category == 'other' %}class="active"{% endif %}>
                <a href="?category=other">{% trans 'Others' %}</a>
            </li>
        </ul>
        <div class="pull-right" style="margin-top: 20px">
            <span style="margin-right: 20px"><strong style="text-decoration: underline;">{% trans 'Quarter' %}:
                {% if user|is_admin %}{% inplace_edit "map.quarter_period.quarter" %}{% else %}
                    {{ map.quarter_period.quarter }}{% endif %}</strong></span>
        </div>
    </div>
    {% with quarter=map.quarter_period %}
        <div style="padding-bottom: 20px">
            <div class="clearfix">
                <div style="margin-right: 20px" class="pull-left form-inline">
        <span class="label label-info " style="margin-right: 20px; padding:8px;">Team:
            {{ org_user.email }}</span>
                    <select name="employees" id="id-employees" style="width: auto;">
                        <option> ----</option>
                        {% for u in users %}
                            <option value="{{ u.user_id }}">{{ u.user__profile__display_name }} ({{ u.user__email }})
                            </option>
                        {% endfor %}
                    </select>
                    <button onclick="view_kpi()">Go</button>
                </div>
                <div style="margin-right: 20px" class="pull-right">
                    <input type="search" id="input-filter" size="15" placeholder="search">
                </div>

{#                <form action="{% url 'teamperformance_export' %}" method="post"#}
{#                      style="display: inline-block;">  {% csrf_token %}#}
{#                    <input type="hidden" name="user_id" value="{{ org_user.id }}" id="id_user_export">#}
{#                    <input type="hidden" name="export" value="1">#}
{#                    <button class="btn btn-primary" type="submit">{% trans 'Export to Excel' %}</button>#}
{#                </form>#}

{#                {% if user.profile.is_consultant %}#}
{#                    &nbsp;#}
{#                    <form action="." method="post" style="display: inline-block;">  {% csrf_token %}#}
{#                        <input type="hidden" name="kpi_report" value="1" id="id_kpi_report">#}
{#                        <button class="btn btn-primary" type="submit">{% trans 'KPI Report' %}</button>#}
{#                    </form>#}
{#                    &nbsp;#}
{#                    <form action="." method="post" style="display: inline-block;">  {% csrf_token %}#}
{#                        <input type="hidden" name="comment_report" value="1" id="id_comment_report">#}
{#                        <button class="btn btn-primary" type="submit">{% trans 'Comments Report' %}</button>#}
{#                    </form>#}
{##}
{#                    <form action="." method="post" style="display: inline-block;">  {% csrf_token %}#}
{#                        <input type="hidden" name="user_comment_report" value="1" id="id_comment_report">#}
{#                        <button class="btn btn-primary" type="submit">{% trans "Export user's comments" %}</button>#}
{#                    </form>#}
{#                {% endif %}#}
            </div>

            {% if category == 'financial' %}
                <div style="text-align: center; font-size: 18px; color:#fff; background-color: #ff5c00; padding:10px;">
                    {% blocktrans %}Financial Objectives{% endblocktrans %}</div>
                <table class="table table-bordered table-striped table-hover">

                    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
                    {% for kpi in financial_kpis %}
                        {% include "tobe_remove__kpi_modules/worksheet.html" %}
                    {% endfor %}
                </table>
            {% endif %}


            {% if category == 'customer' %}
                <div style="text-align: center; font-size: 18px; color:#fff; background-color: #00a2dd; padding:10px;">
                    {% blocktrans %}Customer Objectives{% endblocktrans %}</div>
                <table class="table table-bordered table-striped table-hover">

                    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
                    {% for kpi in customer_kpis %}
                        {% include "tobe_remove__kpi_modules/worksheet.html" %}
                    {% endfor %}
                </table>
            {% endif %}


            {% if category == 'process' %}
                <div style="text-align: center; font-size: 18px; color:#fff; background-color: #54a413; padding:10px;">
                    {% blocktrans %}Internal Process Objectives{% endblocktrans %}</div>
                <table class="table table-bordered table-striped table-hover">

                    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
                    {% for kpi in internal_kpis %}
                        {% include "tobe_remove__kpi_modules/worksheet.html" %}
                    {% endfor %}
                </table>
            {% endif %}


            {% if category == 'learn-growth' %}
                <div style="text-align: center; font-size: 18px; color:#fff; background-color: #d79f00; padding:10px;">
                    {% blocktrans %}Learn & Growth Objectives{% endblocktrans %}</div>
                <table class="table table-bordered table-striped table-hover">

                    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
                    {% for kpi in learning_kpis %}
                        {% include "tobe_remove__kpi_modules/worksheet.html" %}
                    {% endfor %}
                </table>
            {% endif %}


            {% if category == 'other' %}
                <div style="text-align: center; font-size: 18px; color:#fff; background-color: #888; padding:10px;">
                    {% blocktrans %}Other Objectives{% endblocktrans %}
                    <form style="display: inline" method="POST"> {% csrf_token %}<input type="hidden"
                                                                                        name="add_other_kpi"
                                                                                        value="true">
                        <input class="btn btn-default" type="submit" value="Add KPI"/></form>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
                    {% for kpi in other_kpis %}
                        {% with True as xxxxx %}
                            {% include "tobe_remove__kpi_modules/worksheet.html" %}
                        {% endwith %}
                    {% endfor %}
                </table>
            {% endif %}

        </div>
    {% endwith %}
    {#{% endlanguage %}#}

    <div id="kpicoment-modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Ã—</button>
            <h3 id="myModalLabel">{% trans 'KPI History' %}</h3>
        </div>
        <div class="modal-body">

        </div>
    </div>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.filtertable.min.js"></script>
    <script src="{{ STATIC_URL }}select/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle='modal']").click(function (ev) {
                ev.preventDefault();
                // load the url and show modal on success
                var obj = $(this);
                $(obj.attr('data-target') + " .modal-body").load(obj.attr("href"), function () {

                });
            });

            kpi_ids = $("input[name='kpi_id']").serialize();
            if (kpi_ids) {
                kpi_ids += '&count_comments=1';
            }
            $('td a span.badge').hide();
            if (kpi_ids) {
                cloudjetRequest.ajax({
                    url: "{{ request.path }}",
                    type: 'post',
                    data: kpi_ids,
                    success: function (res) {
                        if (typeof res == 'object') {
                            for (i in res) {
                                if (res[i].count_comments > 0) {
                                    $(".kpi-" + res[i].id + " td a span.badge").html(res[i].count_comments);
                                    $(".kpi-" + res[i].id + " td a span.badge").show();
                                }
                            }
                        } else {
                            alert(res);
                        }
                    },
                    error: function () {
                        console.log("Count comments failed.");
                    }
                });
                {% comment %}$.post("{{ request.path }}", kpi_ids, function (res) {

                    if (typeof res == 'object') {
                        for (i in res) {
                            if (res[i].count_comments > 0) {
                                $(".kpi-" + res[i].id + " td a span.badge").html(res[i].count_comments);
                                $(".kpi-" + res[i].id + " td a span.badge").show();
                            }
                        }
                    } else {
                        alert(res);
                    }
                }).fail(function () {
                    console.log("Count comments failed.");
                });{% endcomment %}
            }
        });

        function remove_kpi(kpi_id, key) {
            if (confirm("Are you sure?")) {
                var data = {
                    kpi_id: kpi_id,
                    unique_key: key
                };
                cloudjetRequest.ajax({
                    url: "{% url 'delete_kpi' %}",
                    type: 'post',
                    data: data,
                    success: function (res) {
                        if (res == 'ok') {
                            $('tr.kpi-' + kpi_id).remove();
                            $('tr.parent-' + kpi_id).remove();
                            $('tr.super-' + kpi_id).remove();
                        } else {
                            alert(res);
                        }
                    },
                    error: function () {
                        alert("Unable remove this KPI.");
                    }
                });
                {% comment %} $.post("{% url 'delete_kpi' %}", data, function (res) {
                     if (res == 'ok') {
                         $('tr.kpi-' + kpi_id).remove();
                         $('tr.parent-' + kpi_id).remove();
                         $('tr.super-' + kpi_id).remove();
                     } else {
                         alert(res);
                     }
                 }).fail(function () {
                     alert("Unable remove this KPI.");
                 });{% endcomment %}
            }
        }

        function update_event() {
            $("form.add-new-form .xbtn").unbind('click');
            $("form.add-new-form .xbtn").click(function () {
                var btn = this;
                $(btn).attr('disabled', 'disabled');
                var data = $(btn).parent().serialize();
                cloudjetRequest.ajax({
                    url: "{{ request.path }}",
                    type: 'post',
                    data: data,
                    success: function (res) {
                        if (res.level == '2') {
                            obj = $('tbody tr.parent-' + res.parent_id + ":last");
                            if (obj.length > 0) {
                                obj1 = $('tbody tr.super-' + res.parent_id + ".klevel3:last");
                                if (obj1.length > 0) {
                                    obj = obj1;
                                }
                            }
                        } else {
                            obj = $('tbody tr.parent-' + res.parent_id + ":last");
                        }

                        if (obj.length > 0) {
                            $(res.new_row).insertAfter(obj);
                        } else {
                            obj = $('tbody tr.kpi-' + res.parent_id);
                            $(res.new_row).insertAfter(obj);
                        }

                        $.getScript("{{ STATIC_URL }}js/jquery.json.js").done(function (script, textStatus) {
                            $.getScript("{{ STATIC_URL }}js/jquery.inplaceeditform.js").done(function (script, textStatus) {
                                var options = {
                                    "getFieldUrl": "/inplaceeditform/get_field/",
                                    "saveURL": "/inplaceeditform/save/",
                                    "successText": "{% trans "Successfully saved" %}",
                                    "eventInplaceEdit": "click",
                                    "disableClick": true,
                                    "autoSave": true,
                                    "unsavedChanges": "You have unsaved changes!",
                                    "enableClass": "enable",
                                    "fieldTypes": "input, select, textarea",
                                    "focusWhenEditing": true
                                };
                                var inplaceManager = $(".inplaceedit:not(.enable)").inplaceeditform(options);
                                inplaceManager.enable();
                            });
                        });
                        update_event();
                        $(btn).removeAttr('disabled');
                    },
                    error: function () {
                        alert("Unable add new KPI.")
                        $(btn).removeAttr('disabled');
                    }
                });
                {% comment %}$.post("{{ request.path }}", data, function (res) {
                    if (res.level == '2') {
                        obj = $('tbody tr.parent-' + res.parent_id + ":last");
                        if (obj.length > 0) {
                            obj1 = $('tbody tr.super-' + res.parent_id + ".klevel3:last");
                            if (obj1.length > 0) {
                                obj = obj1;
                            }
                        }
                    } else {
                        obj = $('tbody tr.parent-' + res.parent_id + ":last");
                    }

                    if (obj.length > 0) {
                        $(res.new_row).insertAfter(obj);
                    } else {
                        obj = $('tbody tr.kpi-' + res.parent_id);
                        $(res.new_row).insertAfter(obj);
                    }

                    $.getScript("{{ STATIC_URL }}js/jquery.json.js").done(function (script, textStatus) {
                        $.getScript("{{ STATIC_URL }}js/jquery.inplaceeditform.js").done(function (script, textStatus) {
                            var options = {
                                "getFieldUrl": "/inplaceeditform/get_field/",
                                "saveURL": "/inplaceeditform/save/",
                                "successText": "Successfully saved",
                                "eventInplaceEdit": "click",
                                "disableClick": true,
                                "autoSave": true,
                                "unsavedChanges": "You have unsaved changes!",
                                "enableClass": "enable",
                                "fieldTypes": "input, select, textarea",
                                "focusWhenEditing": true
                            };
                            var inplaceManager = $(".inplaceedit:not(.enable)").inplaceeditform(options);
                            inplaceManager.enable();
                        });
                    });
                    update_event();
                    $(btn).removeAttr('disabled');
                }).fail(function () {
                    alert("Unable add new KPI.")
                    $(btn).removeAttr('disabled');
                });{% endcomment %}
            })
        }
        {##}
        {# 	window.intercomSettings = {#}
        {#	    // TODO: The current logged in user's full name#}
        {#	    name: "{{ request.user.name }}",#}
        {#	    // TODO: The current logged in user's email address.#}
        {#	    email: "{{ request.user.email }}",#}
        {#	    // TODO: The current logged in user's sign-up date as a Unix timestamp.#}
        {#	    created_at: {{ request.user.date_joined|date:"U" }},#}
        {#	    app_id: "suselle5"#}
        {#	};#}

        update_event();
        $(document).ready(function () {
            $('table').filterTable({
                inputSelector: '#input-filter',
                minRows: 0
            });

            $("#id-employees").select2();
        });

        function view_kpi() {
            var user = $("#id-employees").select2("val");
            if (user == '') {
                alert("Please select a employee");
            }
            location.href = "/performance/kpi-worksheet/{{ hash }}/{{ year }}/" + user + "/";
        }

        function post_comment(unique_key, obj_id) {
            var content = $('#kpicommenttext' + unique_key).val();
            content = content.trim();
            var obj = $("#kpi-" + unique_key).val();
            var file_url = $("#uploaded-" + unique_key).val();
            if (content.length < 2 && (obj != '' && file_url != '')) {
                return;
            }
            var data = {
                comment: $('#kpicommenttext' + unique_key).val(),
                obj_id: obj,
                file_url: file_url
            }
            cloudjetRequest.ajax({
                url: '/performance/kpicomment/' + unique_key + '/?editor=1&id='+obj_id,
                type: 'post',
                data: data,
                success: function (response) {
                    $(response).insertBefore($('#kpicomment' + unique_key + ' > li:first-child'));
                },
                error: function () {

                }
            });
            {% comment %}$.post('/performance/kpicomment/' + unique_key + '/?editor=1', data, function (response) {
                $(response).insertBefore($('#kpicomment' + unique_key + ' > li:first-child'));

            });{% endcomment %}
            $('#kpicommenttext' + unique_key).val('');
        }
    </script>

    {% include "support.html" %}
{% endblock %}