{% load i18n %}

{% if  page %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css?v=3.0.1" type="text/css" />
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js?v=3.0.1"  type="text/javascript"></script>
{% endif %}

<table class="table">
	<colgroup>
		<col style="width: 100px"></col>
		<col style="width: auto"></col>
		<col style="width: auto"></col>
		<col style="width: auto"></col>
		<col style="width: 80px"></col>
	</colgroup>
	<tr>
	    <td>{% trans "Editor" %}</td>
	    <td>{% trans "Status" %}</td>
	    <td>{% trans "Type" %}</td>
	    <td>{% trans "Description" %}</td>
	    <td>{% trans "Date" %}</td>
	</tr>

    {% for kpi in kpi_logs %}
        <tr>
            <td>{{ kpi.editor.email }}</td>
            <td>{{ kpi.status }}</td>
            <td>{{ kpi.log_type }}</td>
            <td>{{ kpi.desciption|linebreaksbr }}</td>
            <td>{{ kpi.edited_date|date:"d-m-Y" }}</td>

        </tr>
    {% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if kpi_logs.has_previous %}
            <a href="{% url 'kpi_logs' user_id %}?page={{ kpi_logs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ kpi_logs.number }} of {{ kpi_logs.paginator.num_pages }}.
        </span>

        {% if kpi_logs.has_next %}
            <a href="{% url 'kpi_logs' user_id %}?page={{ kpi_logs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% if not page %}
<script>

    $(document).ready( function(){
       $('a').attr('target',"_blank");

    });



</script>

{% endif %}