{% load i18n %}
<header>
    <title>{% trans "KPIs Modifications" %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css?v=3.0.1"
          type="text/css"/>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js?v=3.0.1" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js"></script>
     {% include "raven.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/moment/min/moment.min.js"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
</header>
<body>


<div class="container">
    <div id="app">

        <div style="margin: 17px auto;">
          <a href="/performance/kpi-editor/">
            <button class="btn btn-link">
                &laquo;
                {% trans "Back" %}</button> </a>
            {% if user.profile.is_superuser_org %}
                <button class="btn btn-primary" @click="user_email=''; get_logs();">{% trans 'View all' %}
            {% endif %}
            </button>
        </div>
        <table class="table">

            <tr>
                <td style="width: 50% ; min-width: 300px;">{% trans "KPI" %}</td>
                <td>{% trans "Changes" %}</td>

            </tr>

            {% verbatim %}

            <tr v-if="no_result">
                <td colspan="2" style="text-align: center"> {{ translate['No results'] }}.</td>
            </tr>

            <tr v-for="(value, key, index) in logs">
                <td>{{ key }}

                </td>
                <td>

                    <div v-for="log in value">


                   <span style="color: darkcyan; font-size:10px;">
                       <a v-bind:href="'/performance/email_redirect/?type=editor&email='+ log.user_email"
                          target="_blank">
                           {{ log.user_email }}</a>

                       | {{ log.created_at|moment }}</span>
                        <br/>
                        <pre>{{ log.content }}</pre>


                    </div>


                </td>


            </tr>

            {% endverbatim %}
        </table>
        {% verbatim %}

        <div class="pagination">
        <span class="step-links">


             <a class="btn btn-success" v-if="page>1" href="#" @click="page -=1; get_logs() ">{{ translate['Previous'] }}</a>
             <a class="btn btn-success" v-if="no_result == false" href="#" @click="page +=1; get_logs() ">{{ translate['Next'] }} </a>


        </span>
        </div>


        {% endverbatim %}

    </div>
</div>
<script>

    Vue.filter('moment', function (value) {
        return moment(value).format('DD/MM/YYYY, h:mm:ss a');
    });


    var app = new Vue({

        el: '#app',
        data: {
            logs: {},
            no_result: false,
            page: 1,
            page_size: 50,
            user_email: window.location.hash.replace('#', ''),
            translate:{'No results':'{% trans "No results" %}','Previous':'{% trans "Previous" %}','Next':'{% trans "Next" %}'}
        },
        methods: {
            get_logs: function (page, page_size) {

                var self = this;
                self.logs = {};
                var load_params = {'page': self.page, 'user_email': self.user_email};
                cloudjetRequest.ajax({
                    url: '{% url "api_v2.kpis_comment" %}',
                    type: 'get',
                    data: load_params,
                    success: function (data) {
                        self.logs = data;
                        // console.log(self.logs);
                        if (Object.keys(self.logs).length === 0) {
                            self.no_result = true;
                            console.log('self.no_result = true');
                        } else {
                            self.no_result = false;
                        }



                    },
                    error: function () {


                    }
                });
            }
        }

    });

    app.get_logs();
</script>
</body>
