{% extends "bsc_base.html" %}
{% load i18n static %}

{% block title %}{% trans "CJS's KPI Library" %}{{ block.super }}{% endblock %}
{% block base_menu %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/v5.css">
    {% include 'v5/import_vuejs.html' %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}vue-input-tag/vue-input-tag.min.js?v={{ settings.VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}"></script>

    <div class="container" id="id-kpilib">
        <div class="row box-header">
            <div class="col-md-6">
                <h3 style="margin: 10px 0 0 0">{% trans "KPI Library" %}</h3>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a href="#id-kpilib-modal" data-toggle="modal" class="btn btn-primary btn-clr"
                       @click="init_kpi()"><i class="fa fa-plus"></i> {% trans 'Add KPI' %}</a>
                    <a class="btn btn-info btn-clr"><i class="fa fa-upload"></i> {% trans 'Import KPI' %}</a>
                </div>
            </div>
        </div>
        <div class="box-container">
            <div>
                <div class="btn-search">
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <i class="fa fa-search"></i>
                            <input v-model="filterKey" type="text" placeholder="{% trans 'Search KPI' %}"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <button class="btn btn-btn2"
                        style="float: right; width: 93px; height: 40px; background: rgb(255, 255, 255); color: rgb(51, 51, 51); margin-top: 20px;">{% trans 'Filters' %}
                    <i class="material-icons" style="font-size: 20px; vertical-align: middle;">tune</i></button>
            </div>
            <table class="table table-striped table-hover">
                <colgroup>
                    <col width="50">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="70">
                </colgroup>
                <thead>
                <tr>
                    <th>{% trans 'No.' %}</th>
                    <th>{% trans 'Objectives' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Unit' %}</th>
                    <th>{% trans 'Measurement method' %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody v-cloak>
                <tr v-for="(kpi, index) in filteredData">
                    <td class="number">${ index + 1}$</td>
                    <td>${ kpi.objective }$</td>
                    <td>${ kpi.name }$</td>
                    <td>${ kpi.unit }$</td>
                    <td>${ kpi.measurement_method }$</td>
                    <td>
                        <a @click="delete_kpi(kpi)" class="btn btn-danger hidden btn-xs" style="margin-right: 5px"><i
                                class="fa fa-trash"></i></a>
                        <a @click="set_selected_kpi(kpi)" class="btn btn-primary hidden btn-xs"><i
                                class="fa fa-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pagination_box" v-if="filterKey==''">
            <el-pagination background layout="prev, pager, next"
                           :total="total"
                           @size-change="handleSizeChange"
                           @current-change="handlePageChange"
                           :current-page.sync="currentPage"
                           :page-size="pageSize">
            </el-pagination>
        </div>

        <div class="modal fade bs-example-modal-lg" id="id-kpilib-modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span v-if="!kpi.id">{% trans 'Add KPI' %}</span><span
                                v-if="kpi.id">{% trans 'Update KPI' %}</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="kpilib-form">
                            <div>
                                <p class="errors" v-for="(error, name) in errors">
                                    <span>${ get_label(name) }$: ${ error[0] }$</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="id_objective">{% trans 'Objectives' %}</label>
                                <input type="email" class="form-control" id="id_objective" v-model="kpi.objective"
                                       id="exampleInputEmail1" placeholder="{% trans 'Objectives' %}">
                            </div>

                            <div class="form-group">
                                <label for="id_name">{% trans 'Name' %}</label>
                                <input type="email" class="form-control" id="id_name" v-model='kpi.name' id="id_name"
                                       placeholder="{% trans 'Name' %}">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_category">{% trans 'Category' %}</label>
                                        <select class="form-control" v-model="kpi.category" id="id_category">
                                            <option v-for="(text, key) in CATEGORY_CHOICES" v-bind:value="key">
                                                ${ text }$
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_operator">{% trans 'Operator' %}</label>
                                        <select class="form-control" v-model="kpi.operator" id="id_operator">
                                            <option value=">=">>=</option>
                                            <option value="<="><=</option>
                                            <option value="=">=</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_language">{% trans 'Language' %}</label>
                                        <select class="form-control" v-model="kpi.language" id="id_language">
                                            <option v-for="(text, key) in LANGUAGES" v-bind:value="key">
                                                ${ text }$
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_function">{% trans "Functions and categories" %}</label> <br>
                                        <el-select v-model="functions_selected" multiple filterable placeholder="{% trans 'Select' %}">
                                            <div v-for="group in FUNCTIONS">
                                                <el-option
                                                        v-for="item in group.childs"
                                                        :label='`${group.name} › ${item.name}`'
                                                        :value='`${group.name} › ${item.name}`'>
                                                    <span style="float: left">${ item.name }$</span>
                                                    <span style="float: right; color: #8492a6; font-size: 13px; padding-right: 15px;">${ group.name }$</span>
                                                </el-option>
                                            </div>
                                        </el-select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_description">{% trans 'Description' %}</label>
                                        <textarea class="form-control" id="id_description"
                                                  v-model="kpi.description"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_measurement_method">{% trans 'Measurement method' %}</label>
                                        <textarea class="form-control" id="id_measurement_method"
                                                  v-model="kpi.measurement_method"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="id_tags">{% trans 'Tags' %}</label>
                                    <v-input-tag :tags.sync="kpi.tags"></v-input-tag>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" v-for="(text, field) in EXTRA_FIELDS">
                                    <div class="form-group" v-if="field != 'functions'">
                                        <label for="exampleInputEmail1">${ text }$</label>
                                        <textarea class="form-control" v-model="kpi[field]"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" class="btn btn-primary btn-save-kpi" @click="save_kpilib"
                                data-loading-text="{% trans 'Saving...' %}">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var EXTRA_FIELDS = {{ EXTRA_FIELDS | safe }};
        var CATEGORY_CHOICES = {{ CATEGORY | safe }};
        var LANGUAGES = {{ LANGUAGES_FIELD | safe }};
        var FUNCTIONS = {{ FUNCTIONS | safe }};
        Vue.component('v-input-tag', InputTag);

        var KPIlib = new Vue({
            el: '#id-kpilib',
            data: {
                kpis: [],
                kpi: {},
                selected_kpi: null,
                EXTRA_FIELDS: EXTRA_FIELDS,
                CATEGORY_CHOICES: CATEGORY_CHOICES,
                LANGUAGES: LANGUAGES,
                FUNCTIONS: FUNCTIONS,
                filteredData: [],
                pageSize: 200,
                currentPage: 1,
                total: 0,
                errors: [],
                filterKey: '',
                functions_selected: []

            },
            created: function () {
                this.get_list_kpis()
            },
            delimiters: ['${', '}$'],
            computed: {},
            watch: {
                filterKey: function () {
                    var filterKey = this.filterKey && this.filterKey.toLowerCase();
                    var data = this.kpis;
                    if (filterKey) {
                        data = data.filter(function (row) {
                            return Object.keys(row).some(function (key) {
                                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                            })
                        })
                    }
                    this.filteredData = data
                }
            },
            methods: {
                init_kpi: function () {
                    this.kpi = {
                        description: '',
                        measurement_method: '',
                        category: 'financial',
                        language: 'vi',
                        functions: []
                    };
                    this.kpi.operator = ">=";
                    this.functions_selected = [];
                    this.errors = []
                },
                get_list_kpis: function (url) {
                    var _this = this;
                    var _url = url ? url : "{% url 'api_v2.kpilib_list' %}";
                    cloudjetRequest.ajax({
                        url: _url,
                        type: 'get',
                        success: function (data) {
                            _this.kpis = _this.kpis.concat(data.results);
                            if (data.next) {
                                _this.get_list_kpis(data.next);
                            } else {
                                _this.total = data.count;
                                _this.handlePageChange(_this.currentPage);
                            }
                        },
                        error: function () {
                            alert("Something wrong. Please try again.");
                        }
                    });
                },
                save_kpilib: function () {
                    this.errors = [];
                    _this = this;
                    var data = $.extend({}, this.kpi), _this = this;
                    delete data.extra_data;
                    data.functions = [];
                    data.tags = JSON.stringify(data.tags);
                    this.functions_selected.forEach(function(item){
                        var array_func = item.split(' › ');
                        var function_category = _this.FUNCTIONS.filter(function(item){
                            return array_func[0] == item.name
                        });
                        var sub_category = function_category[0].childs.filter(function(item){
                            return array_func[1] == item.name
                        });
                        data.functions.push({function_category_id: function_category[0].id, sub_category_id: sub_category[0].id})
                    });
                    data.functions = JSON.stringify(data.functions);
                    $(".btn-save-kpi").button("loading");
                    if (this.kpi.id) {
                        cloudjetRequest.ajax({
                            url: "/api/v2/kpilib/" + this.kpi.id + "/update/",
                            type: 'put',
                            data: data,
                            success: function (response) {
                                $(".btn-save-kpi").button("reset");
                                Object.keys(response).forEach(function (key) {
                                    _this.selected_kpi[key] = response[key];
                                });
                                _this.init_kpi();
                                _this.handlePageChange(_this.currentPage);
                                $("#id-kpilib-modal").modal('hide');
                            },
                            error: function (error) {
                                if (error.responseJSON) {
                                    _this.errors = error.responseJSON;
                                    alert("{% trans 'Please correct the errors' %}");
                                } else {
                                    alert("{% trans 'Something wrong. Please try again.' %}");
                                }
                                $(".btn-save-kpi").button("reset");
                            }
                        });
                    } else {
                        cloudjetRequest.ajax({
                            url: "{% url 'api_v2.kpilib_create' %}",
                            type: 'post',
                            data: data,
                            success: function (response) {
                                $(".btn-save-kpi").button("reset");
                                _this.kpis.unshift(response);
                                _this.init_kpi();
                                _this.handlePageChange(_this.currentPage);
                                $("#id-kpilib-modal").modal('hide');
                            },
                            error: function (error) {
                                if (error.responseJSON) {
                                    _this.errors = error.responseJSON;
                                    alert("{% trans 'Please correct the errors' %}");
                                } else {
                                    alert("{% trans 'Something wrong. Please try again.' %}");
                                }
                                $(".btn-save-kpi").button("reset");
                            }
                        });
                    }
                },
                set_selected_kpi: function (kpi) {
                    this.selected_kpi = kpi;
                    this.kpi = $.extend(true, {}, kpi);
                    this.errors = [];
                    this.functions_selected = this.kpi.function_categories;
                    $("#id-kpilib-modal").modal("show");
                },
                handlePageChange: function (val) {
                    console.log(`current page: ${val}`);
                    this.filteredData = this.kpis.slice((this.currentPage - 1) * this.pageSize, (this.currentPage - 1) * this.pageSize + this.pageSize)
                },
                handleSizeChange: function (val) {
                    console.log(`${val} items per page`);
                },
                delete_kpi: function (kpi) {
                    var _this = this;
                    if (confirm("{% trans 'Are you sure?' %}")) {
                        cloudjetRequest.ajax({
                            url: "/api/v2/kpilib/" + kpi.id + "/delete/",
                            type: 'delete',
                            success: function (response) {
                                var index = _this.kpis.indexOf(kpi);
                                if (index != -1) {
                                    _this.kpis.splice(index, 1);
                                    _this.handlePageChange(_this.currentPage);
                                }
                            },
                            error: function () {
                                alert("Something wrong. Please try again.");
                            }
                        });
                    }
                },
                get_label: function (name) {
                    return $("label[for='id_" + name + "']").text();
                }
            }
        });
    </script>
{% endblock %}

{% block extra_js %}
{% endblock %}

