{% load i18n static %}

<!-- Modal add position -->
<div id="add-position-modal" class="modal fade" role="dialog" aria-hidden="true">
    <!--Modal add employee-->
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Add position " %}</h5>
            </div>
            <div class="modal-body" style="padding:0px 20px 20px 20px;margin-top:10px;">
                <div class="form-group">
                    <label class="span1" style="color: #666666;font-weight:normal;font-size:14px;">{% trans "Manager position" %}</label>
                    <span class="text-requirement">{% trans "Requirement" %}</span>
                    <el-select v-model="new_position.parent" filterable class="el-parent-position" placeholder="">
					    <el-option
					      v-for="option in managers"
					      :key="option.id"
					      :label="option.name"
					      :value="option.id">
					    </el-option>
					</el-select>
                </div>
                <div class="form-group" >
                    <label class="span1 title-position-modal" style="">{% trans "Title position" %}</label>
                    <span style="font-weight: normal;float:right;color: #e4e4e4;font-size:14px;">{% trans "Requirement" %}</span>
                    <input  v-model="new_position.name" type="text" class="form-control infor" style="box-shadow: none;border: solid 1px #ababab;"
                           placeholder="{% trans 'Title position' %}"
                           id="position_name_add" @change="valid_position_name(new_position)">
                    <span v-if="errors.name" class="error-alert" id="error-position-name-add">{% trans "Cannot leave this blank" %}</span>
                    <span v-if="ser_errors.name_exist" class="error-alert" id="error-position-name">{% trans "This name is exist" %}</span>
                </div>
                <div class="form-group">
                    <label class="span1" style="color: #666666;font-weight:normal;font-size:14px;">{% trans "Position's type " %} <span class="title-blue-coral tooltip-detail"
                                                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top  center" }}'
                                                                           title=""
                                                                           style="margin-left:10px;">{% trans "Detail" %} <i
                            class="material-icons" style="vertical-align: top;padding-top:3px;font-size:14px">info_outline</i>
                    </span></label>
                    <el-select v-model="new_position.position_type" class="el-parent-position" placeholder="">
					    <el-option
					      v-for="option in position_types"
					      :key="option.value"
					      :label="option.text"
					      :value="option.value">
					    </el-option>
					</el-select>
                    <span v-if="errors.position_type" class="error-alert" id="error-position-name-add">{% trans "Cannot leave this blank" %}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel" data-dismiss="modal" style="line-height: 33px;">{% trans "Cancel" %}</button>
                <button type="button" class="btn-add btn-edit-position" data-loading-text="{% trans 'Adding...' %}"  id="btn-add-position" @click="add_child_node">
                     <i class="material-icons" style="vertical-align: top;padding-top:6px;font-size:20px">add</i> {% trans "Add" %}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End modal add position -->

<!-- Modal edit position -->
<div id="edit-position-modal" class="modal fade" role="dialog">
    <!--Modal add employee-->
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Edit position " %}</h5>
            </div>
            <div class="modal-body" style="padding:10px 20px 20px 20px;">
                <div class="form-group" v-if="edit_position.id != getRootNode().data.id">
                    <label class="span1 title-position-modal">{% trans "Manager position" %}</label>
                    <select class="form-control" id="edit-parent"style="box-shadow: none;border: solid 1px #ababab;" disabled>
                        <option></option>
                    </select>
                </div>
                <div class="form-group" >
                    <label class="span1 title-position-modal">{% trans "Title position" %}</label>
                    <span class="text-requirement">{% trans "Requirement" %}</span>
                    <input v-model="edit_position.name" type="text" class="form-control infor" style="box-shadow: none;border: solid 1px #ababab;"
                           placeholder="{% trans "Title position" %}"
                           id="position_name" @change="valid_position_name(edit_position)">
                    <span v-if="errors.name" class="error-alert" id="error-position-name">{% trans "Cannot leave this blank" %}</span>
                    <span v-if="ser_errors.name_exist" class="error-alert" id="error-position-name">{% trans "This name is exist" %}</span>
                </div>
                <div class="form-group">
                    <label class="span1 title-position-modal">{% trans "Position's type " %}<span class="title-blue-coral tooltip-detail"
                                                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top  center" }}'
                                                                           title=""
                                                                           style="margin-left:10px;">{% trans "Detail" %} <i
                            class="material-icons" style="vertical-align: top;padding-top:3px;font-size:14px">info_outline</i>
                    </span></label>
                    <el-select v-model="edit_position.position_type" class="el-parent-position" placeholder="" :disabled="edit_position.id == getRootNode().data.id">
					    <el-option
					      v-for="option in position_types"
					      :key="option.value"
					      :label="option.text"
					      :value="option.value">
					    </el-option>
					</el-select>
                    <span v-if="errors.position_type" class="error-alert" id="error-position-name">{% trans "Cannot leave this blank" %}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel" data-dismiss="modal" style="line-height: 33px;">{% trans "Cancel" %}</button>
                <button type="button" class="btn-add btn-edit-position" @click="edit_child_node">
                     <i class="material-icons" style="vertical-align: top;padding-top:7px;font-size:20px">save</i> {% trans "Save" %}
                </button>
            </div>
        </div>


    </div>
</div>
<!-- End modal edit position -->

<!-- Modal xoa VTCD-->
<div id="remove-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 570px;height:300px;">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Remove position " %}</h5>
            </div>
            <div class="modal-body" style="padding:30px 30px">
                <div class="choice-1" @click="confirm_remove_position(1)">
                    <div class="content-choice-1">
                        <a><i class="material-icons icon-remove-position">delete</i></a>
                        <p class="content-title">{% trans "Remove this position" %}</p>
                        <p class="content-title-2">& {% trans "move subordinates's position" %}</p>
                    </div>
                </div>
                <div class="choice-1-right" @click="confirm_remove_position(2)">
                    <div class="content-choice-1">
                        <a><i class="material-icons icon-remove-position">delete_forever</i></a>
                        <p class="content-title">{% trans "Remove this position" %}</p>
                        <p class="content-title-2">& {% trans "subordinates's position" %}</p>
                    </div>
                </div>
                <div class="or-modal">
                    {% trans "or" %}
                </div>
        	</div>
    	</div>
	</div>
</div>
<!-- End modal xoa VTCD-->

<!-- Modal confirm xoa VTCD-->
<div id="confirm1-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;height:324px;">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Confirm remove position" %}</h5>
            </div>
            <div class="modal-body">
                <div>{% trans "Please choose the new manager's position of subordinates's position" %}</div>
                <div class="mg-tp-15">
                    <div class="search-box">
                        <el-autocomplete style="width: 100%;" popper-class="emp-autocomplete"
                                         @select="handleSelectToMove"
                                         :fetch-suggestions="search_position_to_move"
                                         v-model="search_position"
                                         placeholder="{% trans "Search position" %}"
                        >
                            <template slot-scope="{ item }">
                                <div class="list-search-item">
                                    ${ item.name }$
                                </div>
                            </template>
                            <i class="el-icon-search el-input__icon" slot="prefix"></i>
                        </el-autocomplete>
                    </div>
                </div>
                <div v-if="employee_to_move != ''">{% trans "Selected position" %}: <b>${ employee_to_move.name }$</b></div>
                <div class="color-666">
                    <p class="mg-bt-10">{% trans "This action will" %}:</p>
                    <ul class="pd-l-15">
                        <li>{% trans "Remove data of position" %} “${ node_data.name }$”</li>
                        <li>{% trans "Move subordinates's position to new manager's position" %}</li>
                    </ul>
                </div>
        	</div>
            <div class="modal-footer remove-modal">
                <button type="button" class="btn-cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn-remove btn-edit-position" :disabled="employee_to_move == ''" @click="remove_or_move_employees('delete_move')">
                     <i class="material-icons">delete</i> {% trans "Delete" %}
                </button>

            </div>
    	</div>
	</div>
</div>
<!-- End modal confirm xoa VTCD-->

<!-- Modal confirm xoa 2 VTCD-->
<div id="confirm2-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;height:228px;">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Confirm remove position" %}</h5>
            </div>
            <div class="modal-body">
                <div class="color-666">
                    <p>{% trans "This action will" %}:</p>
                    <ul class="pd-l-15">
                        <li>{% trans "Remove data of current position and all subordinates's position" %}</li>
                        <li>{% trans "Remove data of employees who are taking this position" %}</li>
                    </ul>
                </div>
        	</div>
            <div class="modal-footer remove-modal">
                <button type="button" class="btn-cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn-remove btn-edit-position" @click="remove_or_move_employees('delete')">
                     <i class="material-icons" >delete_forever</i> {% trans "Delete" %}
                </button>

            </div>
    	</div>
	</div>
</div>
<!-- End modal confirm xoa VTCD-->


<!-- Modal btn-add -->
<div id="add-employee-to-position" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">{% trans "Add a performer" %}</h5>
          <hr style="border:1px solid rgba(249,249,249,0.5);margin-top:10px;margin-bottom:0px;"/>
      </div>
      <div class="modal-body">
          <!--Search-->
        <div class="form-group">
            <div class="icon-addon addon-lg">
                <select2 :options="employee_options" v-model="selected_employee">
									      	<option disabled value="0">Select one</option>
									    </select2>
				<p style="margin-top: 10px;font-size: 12px;color: red" v-if="found">{% trans 'The selected employee has already been at this position' %}</p>
            </div>
        </div>
          <!--List employees-->
        <div class="well sidebar-nav">
            <ul class="nav">
                <li class="list-group-item" v-for="emp in selected_employees">
                    <img class="img-circle ava" v-bind:src="emp.avatar_url">
                    <div style="float:left;width:305px;">
                        <span class="name">${ emp.display_name }$</span>
                        <p class="email">${ emp.user__email }$</p>
                    </div>
                    <a href="javascript:void(0)" @click="remove_employee(emp)"><img src="{% static 'img/remove.svg' %}" style="width:14px;height:14px;"></a>
                </li>
            </ul>
        </div><!--/.well -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-primary" id="btn-add-employees-to-pos" data-loading-text="{% trans 'Adding...' %}" @click="add_employees_to_position" :disabled="selected_employees.length == 0" data-dismiss="modal">{% trans "Add" %}</button>
      </div>
    </div>
  </div>
</div>
<!-- End modal btn-add-->

<!-- Modal btn-remove-->
<div class="modal fade" id="remove-employee-position" role="dialog" style="z-index: 1500">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title remove-position-title">{% trans "Remove assigned person" %}</h4>
            </div>
            <div class="modal-body" style="padding-left:20px;">
                <p v-if="remove_emp" class="content-alert">{% trans "Do you want to remove" %} ${ remove_emp.display_name }$ {% trans "from position" %} ${ node_data.name }$?</p>
            </div>
            <div class="modal-footer" style="padding-right:0px;height:54px;background:#f9f9f9;margin-top:15px">
                <button type="button" @click="remove_employee_in_position()" class="btn-delete pull-right btn-delete-person" data-loading-text="{% trans 'Deleting' %}...">
                {% trans "Delete" %}
                </button>
                <button type="button" data-dismiss="modal"  class="btn-cancel pull-right" style="border-radius:3px;line-height: 34px;margin-top:10px;background:white;width:67px;height:34px;color:#333;border: 1px solid #e4e4e4;">{% trans "Cancel" %}</button>
            </div>
        </div>

    </div>
</div>
<!-- End modal btn-remove-->

<!-- Modal nguoi dam nhiem -->
<div id="todoer-modal" tabindex="-1" class="modal fade" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 450px;height:400px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">{% trans "Assigned person" %} </h5>
        </div>
        <div class="modal-body" style="padding:0px 20px 10px 20px;">
        	<p class="title-position-name margin-top-10" id="myModalLabel">${ node_data.name }$</p>
            <div id="todoer_list" style="position:unset">
            	<el-autocomplete popper-class="emp-autocomplete" @select="handleSelect"
			  		v-model="search_staff" :fetch-suggestions="search_employees"
			  		:placeholder="node_data.people.length >= 1 && children_position.length >= 1 ? '{% trans 'This position are limited to one person' %}' : '{% trans 'Find a person to assign task' %}'"
			  		:disabled="node_data.people.length >= 1 && children_position.length >= 1">
			  		<i class="el-icon-search el-input__icon" slot="prefix"></i>
			  		<template slot-scope="{ item }">
			    		<div class="list-search-item">
                        	<span class="name-personal">${ item.display_name }$</span>
                        	<button type="button" class="btn-small-add pull-right">{% trans "Add" %}</button>
                        	<p class="name-personal-small pd-10"> ${ item.user__email }$</p>
                     	</div>
			  		</template>
				</el-autocomplete>

               	<!-- Danh sach nguoi dam nhiem co san -->
                <div class="list-group" id="list_todoer_exist" style="margin-top:10px;box-shadow:none;overflow: auto;border:none;max-height:200px;margin-bottom:0px;">
                  	<a v-for="item in node_data.people" href="javascript:void(0)" class="list-group-item" @click="set_remove_employee(item)" >
                     		<img v-bind:src="item.avatar_url" class="img-circle-2">
                     		<span class="name-personal">${ item.display_name }$</span>
                     		<i class="material-icons tooltip-delete" id="btnt-1" @click="set_remove_employee(item)" data-toggle="modal" data-target="#remove-employee-position">clear</i>
                     		<p class="name-personal-small pd-10">${ item.user__email }$</p>
                  	</a>
                	<div v-if="node_data.people.length == 0" class="empty-people">
                		{% trans "No assigned person" %}
                 	</div>
                </div>
            </div>
       	</div>
        <div class="modal-footer" style="height:54px;background:#f9f9f9;padding:10px 10px;text-align:left;position: absolute;width: 100%;bottom: 0;">
            <span style="" id="btn-history" @click="check_history_position()" data-toggle="modal" data-target="#todoer-history-modal"><i class="material-icons" style="vertical-align: top;padding-top:12px;font-size:14px">access_time</i>  Lịch sử</span>
            <button type="button" class="btn-cancel pull-right" data-dismiss="modal" style="line-height: 31px;">{% trans "Close" %}</button>
        </div>
    </div>
</div>
</div>
<!-- End modal nguoi dam nhiem-->

<!-- Modal lich su nguoi dam nhiem-->
<div id="todoer-history-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;height:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "History of assigned person" %} </h5>
            </div>
            <div class="modal-body" style="padding:0px 20px 10px 20px;" v-loading="loading_history">
                <p style="margin-top:10px;font-size:12px;font-weight:bold;color:#337ab7;margin-bottom:0px;">
                    ${node_data.name}$</p>
                <div id="list-todoer-history" style="position:unset">
                    <!-- Danh sach lich su nguoi dam nhiem-->
                    <div class="list-group" id="list-todoer" v-if="position_history.length">
                        <div v-for="position in position_history" class="list-group-item" >
                            <div class="time-todoer">${position.start_date}$ - ${position.end_date || "{% trans "Current" %}"}$</div>
                            <div class="name-todoer">
                                <a :href="'/performance/kpi-editor/emp/' + position.user_id" target="_blank" class="user_hover_tab_a">${position.employee_name}$</a>
                                <p class="email-todoer">${position.employee_email}$</p>
                            </div>
                        </div>
                    </div>
                     <!--Khong co ket qua-->
                    <div class="list-group"  v-else
                         style="height:324px;margin-bottom:0px;box-shadow: none;line-height:285px;font-size:14px;text-transform:uppercase;color:#ababab;text-align:center">
                        {% trans "No data" %}
                    </div>
                </div>
            <div class="modal-footer fotter-subordinate">
                <button type="button" class="btn-cancel pull-left"
                        onclick="$('#todoer-history-modal').modal('hide')" style="line-height: 34px;width:160px;height: 37px;"><i class="material-icons"
                                                                                              style="vertical-align: top;padding-top:7px;font-size:20px">arrow_back</i> {% trans "Assigned person" %}
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End modal lich su nguoi dam nhiem-->

<!-- Modal thong bao them thanh cong -->
<div class="modal fade" id="add-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-body" style="padding-bottom: 15px">
    			<div>
					<i class="material-icons icon-close" data-dismiss="modal" aria-label="Close">close</i>
					<p class="header-alert" style=";"><i class="material-icons ico-alert" style="">check_circle</i>   {% trans "Success" %}</p>
					<p class="content-alert" style="">{% trans "Added position" %} ${ new_position.name }$</p>
				</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- End modal thong bao them thanh cong-->

<!-- Modal thong bao them thanh cong -->
<div class="modal fade" id="add-failed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-body" style="padding-bottom: 15px">
    			<div>
					<i class="material-icons icon-close" data-dismiss="modal" aria-label="Close">close</i>
					<p class="header-alert"><i class="material-icons ico-alert">cancel</i>   {% trans "Failed!" %}</p>
					<p class="content-alert">{% trans "Add position title failed. Please try again!" %}</p>
				</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- End modal Thong bao them thanh cong-->

<!-- Modal vi tri chuc danh cap duoi-->
<div id="surbodinates-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;height:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Subordinates's position" %}</h5>
            </div>
            <div class="modal-body" style="padding:0px 20px 10px 20px;">
                <p v-if="node_data" style="margin-top:10px;font-size:12px;font-weight:bold;color:#337ab7;margin-bottom:0px;">${ node_data.name }$</p>
                <div class="search-employee" style="position:unset">
                    <div class="search-box">
                        <!-- Danh sach vi tri chuc danh cap duoi-->
                        <div class="list-group" id="list_surbodinates_position" style="margin-top:10px;box-shadow:none;overflow: auto;border:none;min-height:314px;max-height:314px;margin-bottom:0px;">
                          <a href="javascript:void(0)" class="list-group-item" v-for="(node, index) in children_position">
                             <div class="index-surbodinates-position">${ index + 1 }$</div>
                             <div class="name-surbodinates-position">
                                 <span>${ node.name }$</span>
                                <p class="users-surbodinates-position">{% trans 'Assigned' %}: <span>${ show_assigned_people(node) }$</span></p>
                             </div>
                          </a>
                        </div>
                    </div>
                </div>
	            <div class="modal-footer fotter-subordinate" style="">
	                <button type="button" class="btn-cancel pull-right" data-dismiss="modal" style="line-height: 34px;width:76px;"> {% trans "Close" %}</button>
	            </div>
        	</div>
    	</div>
	</div>
</div>
<!-- End modal vi tri chuc danh cap duoi-->

<!-- Modal hieu suat KPI -->
<div id="kpi-performance-modal" class="modal fade" role="dialog">
<div class="modal-dialog" style="width: 990px;height:570px;">
    <div class="modal-content" style="width:100%;margin-left:0px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">{% trans "KPI's Performance Position" %} </h5>
        </div>
        <div class="modal-body" style="padding:0px 20px 10px 20px;height:550px">
            <p style="margin-top:10px;font-size:12px;font-weight:bold;color:#337ab7;margin-bottom:0px;">Trưởng phòng CNTT </p>
            <div style="float:right;width:100%;margin-bottom:10px;">
                <select class="form-control select-input-kpi-performance" id="sel1">
                    <option selected="selected">Năm 2018</option>
                    <option>Năm 2019</option>
                </select>
            </div>
            <div id="chart-msline" style=""></div>
            <div class="chart-content">
                <span class="pull-right btn-hide-show" style="margin-left:10px">Hiện tất cả</span>
                <span class="pull-right btn-hide-show" >Ẩn tất cả</span>
                <div style="margin-top:20px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#ababab" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ababab" stroke="#ababab" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style="stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span style="font-size:12px;color:#ababab;font-weight:bold">Tổng hợp</span>
                    </div>
                </div>
                <div class="title-right-kpi-performance" style="color:#f5a623">
                    {% trans "Financial" %}
                </div>
                <div style="margin-top:5px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#0075c2" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="fill: none; stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ffffff" stroke="#0075c2" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style=" stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span class="kpi-active">Thời gian giải quyết sai sót trong kỳ thanh toán lương</span>
                    </div>
                </div>
                <div style="margin-top:3px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#9cdb58" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ffffff" stroke="#9cdb58" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style="stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span class="kpi-active">% quản lý có kế hoạch phát triển khả năng lãnh đạo/ tổng số vị trí quản lý</span>
                    </div>
                </div>
                <div class="title-right-kpi-performance" style="color:#337ab7">
                    {% trans "Customer" %}
                </div>
                <div style="margin-top:3px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#ababab" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ababab" stroke="#ababab" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style="stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span style="font-size:12px;color:#ababab">Chỉ số ngày vắng mặt của nhân viên</span>
                    </div>
                </div>

                <div class="title-right-kpi-performance" style="color:#008a37">
                    {% trans "Quy trình nội bộ" %}
                </div>
                <div style="margin-top:3px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#ababab" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ababab" stroke="#ababab" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style="stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span class="kpi-not-active">% Nhân viên tiến bộ kỹ năng sau 6 tháng</span>
                    </div>
                </div>
                <div class="title-right-kpi-performance" style="color:#f27577">
                    {% trans "Đào tạo và phát triển" %}
                </div>
                <div style="margin-top:3px;">
                    <div style="float:left">
                        <svg class="svg-image">
                            <path d="M7,12.5L18,12.5" fill="none" stroke="#ababab" stroke-linecap="round" stroke-width="2" stroke-opacity="1" style="stroke-linecap: round; stroke-opacity: 1; cursor: pointer;"></path>
                            <path d="M9.2,12.5A3.3,3.3,0,0,0,15.8,12.5A3.3,3.3,0,0,0,9.2,12.5Z" fill="#ababab" stroke="#ababab" stroke-linecap="round" stroke-opacity="1" fill-opacity="1" stroke-width="1" style="stroke-linecap: round; cursor: pointer; stroke-opacity: 1; fill-opacity: 1;"></path>
                        </svg>
                    </div>
                    <div style="padding-top:3px;">
                        <span class="kpi-not-active">Tỷ lệ chi phí phú lợi so với chi phí lương</span>
                    </div>
                </div>
            </div>
        <div class="modal-footer fotter-subordinate kpi-modal">
            <span style="color:#ababab;font-size:14px;" class="pull-left">Xem theo</span>
            <el-radio class="text-uppercase" v-model="radio_test" label="1" style="margin-left:10px;">{% trans "Quarter" %}</el-radio>
            <el-radio class="text-uppercase" v-model="radio_test" label="2" style="margin-left:5px;">{% trans "Month" %}</el-radio>
            <button type="button" class="btn-cancel pull-right" data-dismiss="modal" style="line-height: 31px;width:76px;">
                {% trans "Close" %}
            </button>
            <span class="pull-right btn-export">
                <i class="material-icons" style="vertical-align: middle;font-size: 20px;margin-right:5px">&#xE2C4;
                    <!--file download--></i>{% trans 'Export report' %}
            </span>

        </div>
    </div>
</div>
</div>
</div>
<!-- End modal hieu suat KPI-->


<!-- Modal change position manager -->
<div id="modal-change-position-manager" class="modal fade" role="dialog" aria-hidden="true">
    <!--Modal add employee-->
    <div class="modal-dialog">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{% trans "Change position manager" %}</h5>
            </div>
            <div class="modal-body" style="padding:0px 20px 20px 20px;margin-top:10px;">
                <p class="m-top-20 m-btm-10">{% trans 'Please select a new position manager for the position' %} “${node_data.name}$”</p>
                
                <el-autocomplete popper-class="position-autocomplete"
                                 @select="handleSelectSearch"
                                 :fetch-suggestions="handleSearch"
                                 v-model="selected_position"
                                 :trigger-on-focus="false"
                                 clearable
                                 placeholder="{% trans 'Search new manager position' %}">
                    <template slot-scope="{ item }">
                        <div class="list-search-item pos-item-search">
                            <div><strong>${ item.name }$</strong></div>
                            <div>${ get_level_text(item.position_type) }$</div>
                        </div>
                    </template>
                    <i class="el-icon-search el-input__icon" slot="prefix"></i>
                    <i v-if="selected_position" @click="clear_selection()" class="el-icon-close el-input__icon" slot="suffix"></i>
               	</el-autocomplete>
               	
               	<p class="warning-notice m-top-20 m-btm-5">{% trans "Caution! This aciton will" %}:</p>
               	<ul class="notice-ul">
               		<li class="li-bullet">
               			<div class="warning-notice">{% blocktrans %}Move the Position Title “${ node_data.name }$” and below Position Title (if any) to new Manager Position Title{% endblocktrans %}</div>
               		</li>
               	</ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel" data-dismiss="modal" style="margin-right: 5px;">{% trans "Cancel" %}</button>
                <button type="button" :disabled="!selected_position || !selected_position_obj" class="btn-add btn-change-position cjs-btn-warning" data-loading-text="{% trans 'Adding...' %}"  id="btn-add-position" @click="move_position()">
                     {% trans "Change" %}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End modal change position manager  -->


<!-- Modal thong bao them chuyen cong -->
<div class="modal fade" id="move-pos-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-body" style="padding-bottom: 15px">
    			<div>
					<i class="material-icons icon-close" data-dismiss="modal" aria-label="Close">close</i>
					<p class="header-alert" style=";"><i class="material-icons ico-alert" style="">check_circle</i>   {% trans "Success" %}</p>
					<p class="content-alert" style="">{% trans "Change position successfully" %}</p>
				</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- End modal thong bao chuyen thanh cong-->

<!-- Modal thong bao chuyen that bai -->
<div class="modal fade" id="move-pos-failed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-body" style="padding-bottom: 15px">
    			<div>
					<i class="material-icons icon-close" data-dismiss="modal" aria-label="Close">close</i>
					<p class="header-alert"><i class="material-icons ico-alert">cancel</i>   {% trans "Failed!" %}</p>
					<p class="content-alert">{% trans "Change position failed. Please try again!" %}</p>
				</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- End modal Thong bao chuyen that bai -->