<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
<head>{% include "common/js-test.html" %}
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Swot online</title>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATiC_URL }}bootstrap3x/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-cached-resource/angular-cached-resource.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    {#    <script src="{{ STATIC_URL }}bower_components/jspdf/dist/jspdf.min.js"></script>#}
    {#        <script src="{{ STATIC_URL }}bower_components/html2canvas/build/html2canvas.min.js"></script>#}
    <script src="{{ STATIC_URL }}js/es6-promise.min.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/css/bootstrap.min.css">
    <link href='{{ STATIC_URL }}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}swot/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}swot/css/swot.css">
    <link href="{{ STATIC_URL }}bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
{#    {% include "common/js-test.html" %}#}
</head>
<body>

<div id="swot-online" ng-controller="swotCtrl">
    <div class="container">
        <div id="swot-big-title" class="col-lg-12">
            <p style="font-size: 24pt; color: #008cb4;">PHÂN TÍCH <b>SWOT</b></p>

            <P style="color: #7a7a7a;text-transform: uppercase">{[{ organization.fields.name }]}</p>
        </div>
        <div>
            <div class="col-md-6">

                <table class="table swot-table" id="strength">
                    <colgroup>
                        <col style="text-align: center;">
                        <col>
                        <col style="text-align: center;">
                    </colgroup>
                    <thead>
                    <tr id="str-header" class="tb-header">
                        <th>
                            <button class="plus-button" id="str-button" ng-click="addSwot(type_strength)"><i
                                    class="fa fa-plus-circle"></i></button>
                        </th>
                        <th>STRENGTH</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="strength in ls_strength track by $index"
                        ng-class="!strength.fields.is_archive?'':'dark'">
                        <td>
                            <span ng-click="rowform.$show()">S</span><span ng-click="rowform.$show()"
                                                                           onbeforesave="isInt($data)"
                                                                           e-name="fields.order" e-form="rowform"
                                                                           editable-text="strength.fields.order">{[{ strength.fields.order }]}</span>
                        </td>
                        <td><span e-name="fields.name" e-form="rowform" ng-click="rowform.$show()"
                                  editable-textarea="strength.fields.name"
                                  onbeforesave="validateNotEmpty($data)"
                                  e-required>{[{strength.fields.name || '' }]}</span>
                            <i class="fa fa-cog ico-setting" ng-click="showArchive($index, type_strength)"></i>
                            <form editable-form name="rowform" id="rowform{[{ $index }]}"
                                  onbeforesave="saveSwot($data, type_strength, $index)"
                                  ng-show="rowform.$visible"
                                  class="form-buttons form-inline" shown="inserted == strength">
                                {% csrf_token %}
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting"
                                        ng-click="rowform.$cancel();removeSwot($index, type_strength)"
                                        class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div ng-show="ls_strength[$index].show_archive">
                                <input type="hidden" ng-model="strength.fields.is_archive">
                                <button type="submit" class="btn btn-default"
                                        ng-click="deleteSwot('rowform'+ $index, $index, type_strength)">Delete
                                </button>
                                <button type="submit" class="btn btn-default"
                                        ng-click="rearchive($index, type_strength)" form="rowform{[{$index}]}">
                                    Reactivate
                                </button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default" ng-show="ls_strength[$index].no_archive"
                                        ng-click="archive($index, type_strength)" form="rowform{[{$index}]}">Archive
                                </button>
                            </div>
                        </td>
                        <td><span e-name="fields.weighting" e-form="rowform" ng-click="rowform.$show()"
                                  editable-text="strength.fields.weighting"
                                  onbeforesave="isInt($data)"
                                  e-required>{[{ strength.fields.weighting }]}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table swot-table" id="weakness">
                    <colgroup>
                        <col style="text-align: center;">
                        <col>
                        <col style="text-align: center;">
                    </colgroup>
                    <thead>
                    <tr id="wns-header" class="tb-header">
                        <th>
                            <button class="plus-button" id="str-button" ng-click="addSwot(type_weakness)">
                                <i class="fa fa-plus-circle"></i></button>
                        </th>
                        <th>WEAKNESS</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="weak in ls_weakness track by $index" ng-class="!weak.fields.is_archive?'':'dark'">
                        <td>
                            <span ng-click="rowformweak.$show()">W</span><span ng-click="rowformweak.$show()"
                                                                               onbeforesave="isInt($data)"
                                                                               e-name="fields.order"
                                                                               e-form="rowformweak"
                                                                               editable-text="weak.fields.order">{[{ weak.fields.order }]}</span>
                        </td>
                        <td><span e-name="fields.name" e-form="rowformweak" e-required ng-click="rowformweak.$show()"
                                  onbeforesave="validateNotEmpty($data)" editable-textarea="weak.fields.name">{[{ weak.fields.name }]}</span>
                            <i class="fa fa-cog ico-setting" ng-click="showArchive($index, type_weakness)"></i>
                            <form editable-form id="rowformweak{[{$index}]}" name="rowformweak"
                                  onbeforesave="saveSwot($data, type_weakness, $index)"
                                  ng-show="rowformweak.$visible"
                                  class="form-buttons form-inline" shown="inserted == weak">
                                {% csrf_token %}
                                <button type="submit" ng-disabled="rowformweak.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowformweak.$waiting"
                                        ng-click="rowformweak.$cancel();removeSwot($index, type_weakness)"
                                        class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div ng-show="ls_weakness[$index].show_archive">
                                <input type="hidden" ng-model="weak.fields.is_archive">
                                <button type="submit" class="btn btn-default"
                                        ng-click="deleteSwot('rowformweak'+ $index, $index, type_weakness)">Delete
                                </button>
                                <button type="submit" class="btn btn-default"
                                        ng-click="rearchive($index, type_weakness)" form="rowformweak{[{$index}]}">
                                    Reactivate
                                </button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default" ng-show="ls_weakness[$index].no_archive"
                                        ng-click="archive($index, type_weakness)" form="rowformweak{[{$index}]}">Archive
                                </button>
                            </div>
                        </td>
                        <td><span e-name="fields.weighting" e-form="rowformweak" e-required
                                  ng-click="rowformweak.$show()"
                                  onbeforesave="isInt($data)" editable-text="weak.fields.weighting">{[{ weak.fields.weighting }]}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="clearfix"></div>
        </div>

        <div>
            <div class="col-md-6">
                <table class="table swot-table" id="opportunity">
                    <colgroup>
                        <col style="text-align: center;">
                        <col>
                        <col style="text-align: center;">
                    </colgroup>
                    <thead>
                    <tr id="opt-header" class="tb-header">
                        <th>
                            <button class="plus-button" id="str-button" ng-click="addSwot(type_opportunity)"><i
                                    class="fa fa-plus-circle"></i></button>
                        </th>
                        <th>OPPORTUNITY</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="opportunity in ls_opportunity track by $index"
                        ng-class="!opportunity.fields.is_archive?'':'dark'">
                        <td>
                            <span ng-click="rowformopp.$show()">O</span><span ng-click="rowformopp.$show()"
                                                                              onbeforesave="isInt($data)"
                                                                              e-name="fields.order" e-form="rowformopp"
                                                                              editable-text="opportunity.fields.order">{[{ opportunity.fields.order }]}</span>

                        </td>
                        <td><span e-name="fields.name" e-form="rowformopp" e-required ng-click="rowformopp.$show()"
                                  onbeforesave="validateNotEmpty($data)" editable-textarea="opportunity.fields.name">{[{ opportunity.fields.name }]}</span>
                            <i class="fa fa-cog ico-setting" ng-click="showArchive($index, type_opportunity)"></i>

                            <form editable-form id="rowformopp{[{$index}]}" name="rowformopp"
                                  onbeforesave="saveSwot($data, type_opportunity, $index)"
                                  ng-show="rowformopp.$visible"
                                  class="form-buttons form-inline" shown="inserted == opportunity">
                                {% csrf_token %}
                                <button type="submit" ng-disabled="rowformopp.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowformopp.$waiting"
                                        ng-click="rowformopp.$cancel();removeSwot($index, type_opportunity)"
                                        class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div ng-show="ls_opportunity[$index].show_archive">
                                <input type="hidden" ng-model="opportunity.fields.is_archive">
                                <button type="submit" class="btn btn-default"
                                        ng-click="deleteSwot('rowformopp'+ $index, $index, type_opportunity)">Delete
                                </button>
                                <button type="submit" class="btn btn-default"
                                        ng-click="rearchive($index, type_opportunity)" form="rowformopp{[{$index}]}">
                                    Reactivate
                                </button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default"
                                        ng-show="ls_opportunity[$index].no_archive"
                                        ng-click="archive($index, type_opportunity)" form="rowformopp{[{$index}]}">
                                    Archive
                                </button>
                            </div>
                        </td>
                        <td><span e-name="fields.weighting" e-form="rowformopp" e-required ng-click="rowformopp.$show()"
                                  onbeforesave="isInt($data)" editable-text="opportunity.fields.weighting">{[{ opportunity.fields.weighting }]}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table swot-table" id="threat">
                    <colgroup>
                        <col style="text-align: center;">
                        <col>
                        <col style="text-align: center;">
                    </colgroup>
                    <thead>
                    <tr id="thr-header" class="tb-header">
                        <th>
                            <button class="plus-button" id="str-button" ng-click="addSwot(type_threat)"><i
                                    class="fa fa-plus-circle"></i></button>
                        </th>
                        <th>THREAT</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="threat in ls_threat track by $index" ng-class="!threat.fields.is_archive?'':'dark'">
                        <td>
                            <span ng-click="rowformthreat.$show()">T</span><span ng-click="rowformthreat.$show()"
                                                                                 onbeforesave="isInt($data)"
                                                                                 e-name="fields.order"
                                                                                 e-form="rowformthreat"
                                                                                 editable-text="threat.fields.order">{[{ threat.fields.order }]}</span>
                        </td>
                        <td><span e-name="fields.name" e-form="rowformthreat" e-required
                                  ng-click="rowformthreat.$show()"
                                  onbeforesave="validateNotEmpty($data)" editable-textarea="threat.fields.name">{[{ threat.fields.name }]}</span>
                            <i class="fa fa-cog ico-setting" ng-click="showArchive($index, type_threat)"></i>

                            <form editable-form id="rowformthreat{[{$index}]}" name="rowformthreat"
                                  onbeforesave="saveSwot($data, type_threat, $index)"
                                  ng-show="rowformthreat.$visible"
                                  class="form-buttons form-inline" shown="inserted == threat">
                                {% csrf_token %}
                                <button type="submit" ng-disabled="rowformthreat.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowformthreat.$waiting"
                                        ng-click="rowformthreat.$cancel();removeSwot($index, type_threat)"
                                        class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div ng-show="ls_threat[$index].show_archive">
                                <input type="hidden" ng-model="threat.fields.is_archive">
                                <button type="submit" class="btn btn-default"
                                        ng-click="deleteSwot('rowformthreat'+ $index, $index, type_threat)">Delete
                                </button>
                                <button type="submit" class="btn btn-default" ng-click="rearchive($index, type_threat)"
                                        form="rowformthreat{[{$index}]}">Reactivate
                                </button>
                            </div>
                            <div>
                                <button type="submit" ng-show="ls_threat[$index].no_archive"
                                        ng-click="archive($index, type_threat)" form="rowformthreat{[{$index}]}">Archive
                                </button>
                            </div>
                        </td>
                        <td><span e-name="fields.weighting" e-form="rowformthreat" e-required
                                  ng-click="rowformthreat.$show()"
                                  onbeforesave="isInt($data)" editable-text="threat.fields.weighting">{[{ threat.fields.weighting }]}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('app', ['ngCachedResource', 'xeditable'])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{');
                $interpolateProvider.endSymbol('}]}');
            })
            .config(function ($httpProvider) {
                $httpProvider.defaults.headers.post['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
            })
            .factory('SWOT', function ($resource) {
                return $resource('/api/swot/', {},
                        {
                            create: {
                                method: 'POST',
                                url: '/api/swot/?id=:id',
                                params: {
                                    id: '@id',
                                    name: '@name',
                                    swot_type: '@swot_type',
                                    weighting: '@weighting',
                                    order: '@order'
                                }
                            },
                            delete: {
                                method: 'DELETE',
                                url: '/api/swot/?id=:id',
                                params: {id: '@id'}
                            }

                        })
            })
            .factory('ORG', function ($resource) {
                return $resource('/api/organization')
            })
            .controller('swotCtrl', ['$scope', 'SWOT', 'ORG', function ($scope, SWOT, ORG) {
                //var SWOT = $resource('/api/swot/');
                $scope.type_opportunity = 'opportunity';
                $scope.type_strength = 'strength';
                $scope.type_weakness = 'weakness';
                $scope.type_threat = 'threat';


                $scope.ls_opportunity = SWOT.query({type_swot: $scope.type_opportunity});
                $scope.ls_strength = SWOT.query({type_swot: $scope.type_strength});
                $scope.ls_weakness = SWOT.query({type_swot: $scope.type_weakness});
                $scope.ls_threat = SWOT.query({type_swot: $scope.type_threat});

                $scope.organization = ORG.get();

                // add swot
                $scope.addSwot = function ($swot_type) {
                    $scope.inserted = {
                        fields: {
                            name: '',
                            weighting: '',
                            swot_type: $swot_type,
                            order: ''
                        }
                    };

                    if ($swot_type == $scope.type_strength) {
                        $scope.ls_strength.push($scope.inserted);
                    } else if ($swot_type == $scope.type_weakness) {
                        $scope.ls_weakness.push($scope.inserted);
                    } else if ($swot_type == $scope.type_opportunity) {
                        $scope.ls_opportunity.push($scope.inserted);
                    } else if ($swot_type == $scope.type_threat) {
                        $scope.ls_threat.push($scope.inserted);
                    }
                }

                function getCurrentSwot(index, $swot_type) {
                    if ($swot_type == $scope.type_strength) {
                        // for edit
                        console.log($scope.ls_strength[index]);
                        if ($scope.ls_strength[index].pk) {
                            return $scope.ls_strength[index];
                        }
                    } else if ($swot_type == $scope.type_weakness) {
                        // for edit
                        if ($scope.ls_weakness[index].pk) {
                            return $scope.ls_weakness[index];
                        }
                    } else if ($swot_type == $scope.type_opportunity) {
                        // for edit
                        if ($scope.ls_opportunity[index].pk) {
                            return $scope.ls_opportunity[index];
                        }
                    } else if ($swot_type == $scope.type_threat) {
                        // for edit
                        if ($scope.ls_threat[index].pk) {
                            return $swot_type == $scope.type_threat[index];
                        }
                    }

                    return null;
                }

                // remove swot
                $scope.removeSwot = function (index, $swot_type) {
                    if ($swot_type == $scope.type_strength) {
                        // for edit
                        if ($scope.ls_strength[index].pk) {
                            return;
                        }
                        $scope.ls_strength.splice(index, 1);
                    } else if ($swot_type == $scope.type_weakness) {
                        // for edit
                        if ($scope.ls_weakness[index].pk) {
                            return;
                        }
                        $scope.ls_weakness.splice(index, 1);
                    } else if ($swot_type == $scope.type_opportunity) {
                        // for edit
                        if ($scope.ls_opportunity[index].pk) {
                            return;
                        }
                        $scope.ls_opportunity.splice(index, 1);
                    } else if ($swot_type == $scope.type_threat) {
                        // for edit
                        if ($scope.ls_threat[index].pk) {
                            return;
                        }
                        $scope.ls_threat.splice(index, 1);
                    }
                };

                $scope.saveSwot = function (data, swot_type, index) {

                    var args = getCurrentSwot(index, swot_type);// for edit

                    if (!args) {// for create
                        args = {
                            name: data['fields.name'],
                            swot_type: swot_type,
                            weighting: data['fields.weighting'],
                            order: data['fields.order']
                        };
                    } else {
                        args.id = args['pk'];
                    }
                    SWOT.create(args, function (data) {

                        if (swot_type == $scope.type_strength) {
                            $scope.ls_strength = SWOT.query({type_swot: $scope.type_strength});
                        } else if (swot_type == $scope.type_weakness) {
                            $scope.ls_weakness = SWOT.query({type_swot: $scope.type_weakness});
                        } else if (swot_type == $scope.type_opportunity) {
                            $scope.ls_opportunity = SWOT.query({type_swot: $scope.type_opportunity});
                        } else if (swot_type == $scope.type_threat) {
                            $scope.ls_threat = SWOT.query({type_swot: $scope.type_threat});
                        }
                    }, function (errormsg) {

                    });
                }

                $scope.validateNotEmpty = function (val) {
                    if (!val)
                        return "Value is not valid!";
                }

                $scope.isInt = function (n) {
                    console.log(Number(n) === n);
                    if (!(!isNaN(n) && n % 1 === 0))
                        return "Value is not valid!";
                }

                $scope.showstrength = false;
                $scope.showArchive = function ($index, type_swot) {
                    if (type_swot == $scope.type_strength) {
                        if ($scope.ls_strength[$index].fields.is_archive) {
                            $scope.ls_strength[$index].show_archive = !$scope.ls_strength[$index].show_archive;
                        } else {
                            $scope.ls_strength[$index].no_archive = !$scope.ls_strength[$index].no_archive;
                        }
                    } else if (type_swot == $scope.type_weakness) {
                        if ($scope.ls_weakness[$index].fields.is_archive) {
                            $scope.ls_weakness[$index].show_archive = !$scope.ls_weakness[$index].show_archive;
                        } else {
                            $scope.ls_weakness[$index].no_archive = !$scope.ls_weakness[$index].no_archive;
                        }
                    } else if (type_swot == $scope.type_opportunity) {
                        if ($scope.ls_opportunity[$index].fields.is_archive) {
                            $scope.ls_opportunity[$index].show_archive = !$scope.ls_opportunity[$index].show_archive;
                        } else {
                            $scope.ls_opportunity[$index].no_archive = !$scope.ls_opportunity[$index].no_archive;
                        }
                    } else if (type_swot == $scope.type_threat) {
                        if ($scope.ls_threat[$index].fields.is_archive) {
                            $scope.ls_threat[$index].show_archive = !$scope.ls_threat[$index].show_archive;
                        } else {
                            $scope.ls_threat[$index].no_archive = !$scope.ls_threat[$index].no_archive;
                        }
                    }

                }

                $scope.deleteSwot = function (idForm, index, type_swot, $event) {

                    if (type_swot == $scope.type_strength) {
                        SWOT.delete({}, {id: $scope.ls_strength[index].pk}, function (data) {
                            if (data.error == 'success') {
                                $scope.ls_strength.splice(index, 1);
                            } else {
                                alert('Error: Can not delete this swot!');
                            }
                        })
                    } else if (type_swot == $scope.type_weakness) {
                        SWOT.delete({}, {id: $scope.ls_weakness[index].pk}, function (data) {
                            if (data.error == 'success') {
                                $scope.ls_weakness.splice(index, 1);
                            } else {
                                alert('Error: Can not delete this swot!');
                            }
                        })
                    } else if (type_swot == $scope.type_opportunity) {
                        SWOT.delete({}, {id: $scope.ls_opportunity[index].pk}, function (data) {
                            if (data.error == 'success') {
                                $scope.ls_opportunity.splice(index, 1);
                            } else {
                                alert('Error: Can not delete this swot!');
                            }
                        })
                    } else if (type_swot == $scope.type_threat) {
                        SWOT.delete({}, {id: $scope.ls_threat[index].pk}, function (data) {
                            if (data.error == 'success') {
                                $scope.ls_threat.splice(index, 1);
                            } else {
                                alert('Error: Can not delete this swot!');
                            }
                        })
                    }
                }

                $scope.rearchive = function (index, type_swot) {
                    if (type_swot == $scope.type_strength) {
                        $scope.ls_strength[index].fields.is_archive = false;
                    } else if (type_swot == $scope.type_weakness) {
                        $scope.ls_weakness[index].fields.is_archive = false;
                    } else if (type_swot == $scope.type_opportunity) {
                        $scope.ls_opportunity[index].fields.is_archive = false;
                    } else if (type_swot == $scope.type_threat) {
                        $scope.ls_threat[index].fields.is_archive = false;
                    }
                }

                $scope.archive = function (index, type_swot) {
                    if (type_swot == $scope.type_strength) {
                        $scope.ls_strength[index].fields.is_archive = true;
                    } else if (type_swot == $scope.type_weakness) {
                        $scope.ls_weakness[index].fields.is_archive = true;
                    } else if (type_swot == $scope.type_opportunity) {
                        $scope.ls_opportunity[index].fields.is_archive = true;
                    } else if (type_swot == $scope.type_threat) {
                        $scope.ls_threat[index].fields.is_archive = true;
                    }
                }
            }]);
    app.run(function (editableOptions) {
        editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
    });

</script>
</body>
</html>
