{% extends "bsc_base.html" %}
{% load i18n %}
{% block title %}{% trans "KPI Mindmap" %}{% endblock %}


{% block content %}
    {% load i18n %}
    <script src="{{ STATIC_URL }}bower_components/gojs/release/go.js"></script>

    <style type="text/css">
        #column-left {
            display: none !important;
        }

    </style>
    <script id="code">
        function init() {
            //  if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
            var $ = go.GraphObject.make;

            myDiagram =
                $(go.Diagram, "myDiagram",
                    {
                        // when the user drags a node, also move/copy/delete the whole subtree starting with that node
                        "commandHandler.copiesTree": true,
                        "commandHandler.deletesTree": true,
                        "draggingTool.dragsTree": true,
                        initialContentAlignment: go.Spot.Center,  // center the whole graph
                        "undoManager.isEnabled": true
                    });

            // when the document is modified, add a "*" to the title and enable the "Save" button
            myDiagram.addDiagramListener("Modified", function (e) {
                var button = document.getElementById("SaveButton");
                if (button) button.disabled = !myDiagram.isModified;
                var idx = document.title.indexOf("*");
                if (myDiagram.isModified) {
                    if (idx < 0) document.title += "*";
                } else {
                    if (idx >= 0) document.title = document.title.substr(0, idx);
                }
            });

            // a node consists of some text with a line shape underneath
            myDiagram.nodeTemplate =
                $(go.Node, "Vertical",
                    {selectionObjectName: "TEXT"},
                    //    new go.Binding("fill", "brush"),
                    $(go.TextBlock,
                        {
                            name: "TEXT",
                            minSize: new go.Size(30, 18),
                            editable: false //TODO:?
                        },
                        // remember not only the text string but the scale and the font in the node data
                        new go.Binding("text", "text").makeTwoWay(),
                        new go.Binding("scale", "scale").makeTwoWay(),
                        new go.Binding("font", "font").makeTwoWay()),

                    $(go.Shape, "RoundedRectangle",
                        {
                            stretch: go.GraphObject.Horizontal,
                            strokeWidth: 3, height: 3,
                            // this line shape is the port -- what links connect with
                            portId: "", fromSpot: go.Spot.LeftRightSides, toSpot: go.Spot.LeftRightSides
                        },
                        new go.Binding("stroke", "brush"),
                        new go.Binding("background", "brush"),
                        // make sure links come in from the proper direction and go out appropriately
                        new go.Binding("fromSpot", "dir", function (d) {
                            return spotConverter(d, true);
                        }),
                        new go.Binding("toSpot", "dir", function (d) {
                            return spotConverter(d, false);
                        })),


                    // remember the locations of each node in the node data
                    new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                    // make sure text "grows" in the desired direction
                    new go.Binding("locationSpot", "dir", function (d) {
                        return spotConverter(d, false);
                    })
                );

            // selected nodes show a button for adding children
            myDiagram.nodeTemplate.selectionAdornmentTemplate =
                $(go.Adornment, "Spot",
                    $(go.Panel, "Auto",
                        // this Adornment has a rectangular blue Shape around the selected node
                        $(go.Shape, {fill: null, stroke: "dodgerblue", strokeWidth: 3}),
                        $(go.Placeholder, {margin: new go.Margin(4, 4, 0, 4)})
                    ),
                    // and this Adornment has a Button to the right of the selected node
                    $("Button",
                        {
                            alignment: go.Spot.Right,
                            alignmentFocus: go.Spot.Left,
                            click: addNodeAndLink  // define click behavior for this Button in the Adornment
                        },
                        $(go.TextBlock, "+",  // the Button content
                            {font: "bold 8pt sans-serif"})
                    )
                );

            // the context menu allows users to change the font size and weight,
            // and to perform a limited tree layout starting at that node
            myDiagram.nodeTemplate.contextMenu =
                $(go.Adornment, "Vertical",
                    $("ContextMenuButton",
                        $(go.TextBlock, "Bigger"),
                        {
                            click: function (e, obj) {
                                changeTextSize(obj, 1.1);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Smaller"),
                        {
                            click: function (e, obj) {
                                changeTextSize(obj, 1 / 1.1);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Bold/Normal"),
                        {
                            click: function (e, obj) {
                                toggleTextWeight(obj);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Layout"),
                        {
                            click: function (e, obj) {
                                var adorn = obj.part;
                                adorn.diagram.startTransaction("Subtree Layout");
                                layoutTree(adorn.adornedPart);
                                adorn.diagram.commitTransaction("Subtree Layout");
                            }
                        }
                    )
                );

            // a link is just a Bezier-curved line of the same color as the node to which it is connected
            myDiagram.linkTemplate =
                $(go.Link,
                    {
                        curve: go.Link.Bezier,
                        fromShortLength: -2,
                        toShortLength: -2,
                        selectable: false
                    },
                    $(go.Shape,
                        {strokeWidth: 3},
                        new go.Binding("stroke", "toNode", function (n) {
                            if (n.data.brush) return n.data.brush;
                            return "black";
                        }).ofObject())
                );

            // the Diagram's context menu just displays commands for general functionality
            myDiagram.contextMenu =
                $(go.Adornment, "Vertical",
                    $("ContextMenuButton",
                        $(go.TextBlock, "Undo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.undo();
                            }
                        },
                        new go.Binding("visible", "", function (o) {
                            return o.diagram.commandHandler.canUndo();
                        }).ofObject()),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Redo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.redo();
                            }
                        },
                        new go.Binding("visible", "", function (o) {
                            return o.diagram.commandHandler.canRedo();
                        }).ofObject()),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Save"),
                        {
                            click: function (e, obj) {
                                save();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Load"),
                        {
                            click: function (e, obj) {
                                load();
                            }
                        })
                );


            myDiagram.addDiagramListener("SelectionMoved", function (e) {
                var rootX = myDiagram.findNodeForKey(0).location.x;
                myDiagram.selection.each(function (node) {
                    if (node.data.parent !== 0) return; // Only consider nodes connected to the root
                    var nodeX = node.location.x;
                    if (rootX < nodeX && node.data.dir !== "right") {
                        node.data.dir = 'right';
                        myDiagram.model.updateTargetBindings(node.data);
                        layoutTree(node);
                    } else if (rootX > nodeX && node.data.dir !== "left") {
                        node.data.dir = 'left';
                        myDiagram.model.updateTargetBindings(node.data);
                        layoutTree(node);
                    }
                });
            });

            // read in the predefined graph using the JSON format data held in the "mySavedModel" textarea
            load();
        }

        function spotConverter(dir, from) {
            if (dir === "left") {
                return (from ? go.Spot.Left : go.Spot.Right);
            } else {
                return (from ? go.Spot.Right : go.Spot.Left);
            }
        }

        function changeTextSize(obj, factor) {
            var adorn = obj.part;
            adorn.diagram.startTransaction("Change Text Size");
            var node = adorn.adornedPart;
            var tb = node.findObject("TEXT");
            tb.scale *= factor;
            adorn.diagram.commitTransaction("Change Text Size");
        }

        function toggleTextWeight(obj) {
            var adorn = obj.part;
            adorn.diagram.startTransaction("Change Text Weight");
            var node = adorn.adornedPart;
            var tb = node.findObject("TEXT");
            // assume "bold" is at the start of the font specifier
            var idx = tb.font.indexOf("bold");
            if (idx < 0) {
                tb.font = "bold " + tb.font;
            } else {
                tb.font = tb.font.substr(idx + 5);
            }
            adorn.diagram.commitTransaction("Change Text Weight");
        }

        function addNodeAndLink(e, obj) {
            var adorn = obj.part;
            var diagram = adorn.diagram;
            diagram.startTransaction("Add Node");
            var oldnode = adorn.adornedPart;
            var olddata = oldnode.data;
            // copy the brush and direction to the new node data
            var newdata = {text: "idea", brush: olddata.brush, dir: olddata.dir, parent: olddata.key};
            diagram.model.addNodeData(newdata);
            layoutTree(oldnode);
            diagram.commitTransaction("Add Node");
        }

        function layoutTree(node) {
            if (node.data.key === 0) {  // adding to the root?
                layoutAll();  // lay out everything
            } else {  // otherwise lay out only the subtree starting at this parent node
                var parts = node.findTreeParts();
                layoutAngle(parts, node.data.dir === "left" ? 180 : 0);
            }
        }

        function layoutAngle(parts, angle) {
            var layout = go.GraphObject.make(go.TreeLayout,
                {
                    angle: angle,
                    arrangement: go.TreeLayout.ArrangementFixedRoots,
                    nodeSpacing: 5,
                    layerSpacing: 20
                });
            layout.doLayout(parts);
        }

        function layoutAll() {
            var root = myDiagram.findNodeForKey(0);
            if (root === null) return;
            myDiagram.startTransaction("Layout");
            // split the nodes and links into two collections
            var rightward = new go.Set(go.Part);
            var leftward = new go.Set(go.Part);
            root.findLinksConnected().each(function (link) {
                var child = link.toNode;
                if (child.data.dir === "left") {
                    leftward.add(root);  // the root node is in both collections
                    leftward.add(link);
                    leftward.addAll(child.findTreeParts());
                } else {
                    rightward.add(root);  // the root node is in both collections
                    rightward.add(link);
                    rightward.addAll(child.findTreeParts());
                }
            });
            // do one layout and then the other without moving the shared root node
            layoutAngle(rightward, 0);
            layoutAngle(leftward, 180);
            myDiagram.commitTransaction("Layout");
        }

        {#  // Show the diagram's model in JSON format#}
        {#  function save() {#}
        {#    document.getElementById("mySavedModel").value = myDiagram.model.toJson();#}
        {#    myDiagram.isModified = false;#}
        {#  }#}


        var mindmap_data = {
            "class": "go.TreeModel",
            "nodeDataArray": []
        };
        function load() {

            myDiagram.model = go.Model.fromJson(mindmap_data);
            layoutAll();
        }

    </script>
    </head>
    <body onload="init()">

    <div style="position: absolute; top: 5px; right: 10px; z-index:1000;">
        <div style="float:right;">
            <button onclick="$('#mindmap_menu').toggle();">{% trans "Menu" %}</button>
        </div>
        <div class="clearfix"></div>

        <ul id="mindmap_menu" style="display:none">
            <li>
                <a style="padding:3px; background:#F76D00; color:#fff; display: block; " href="#"
                   onclick="get_kpis('financial')">
                    {% trans "Financial" %}</a>
                <a style="" href="#" onclick="get_kpis('financial', true)">
                    ({% trans "Hide Children" %}) </a>
            </li>
            <li>
                <a style="padding:3px; background:#2EA2DC; color:#fff; display: block; " href="#"
                   onclick="get_kpis('customer')">
                    {% trans "Customer" %}</a>
                <a style="" href="#" onclick="get_kpis('customer', true)">
                    ({% trans "Hide Children" %}) </a>
            </li>
            <li>
                <a style="padding:3px; background:#6D9C12; color:#fff; display: block; " href="#"
                   onclick="get_kpis('internal')">
                    {% trans "Internal Process" %}</a>
                <a style="" href="#" onclick="get_kpis('internal', true)">
                    ({% trans "Hide Children" %}) </a>
            </li>
            <li>
                <a style="padding:3px; background:#CF8602; color:#fff; display: block; " href="#"
                   onclick="get_kpis('learninggrowth')">
                    {% trans "Learn & Growth" %}</a>
                <a style="" href="#" onclick="get_kpis('learninggrowth', true)">
                    ({% trans "Hide Children" %}) </a>
            </li>
            <li>
                <a style="padding:3px; display: block; " href="#" onclick="get_kpis('', true)">
                    {% trans "Hide Children" %}</a>
            </li>
        </ul>

    </div>
    <div id="sample">

        <div id="myDiagram" style="width:100%; height:850px; margin-top: -65px"></div>

    </div>

    <script>

        function name_breakdown(old_name) {
            var new_name = "";
            if (old_name) {

                var i = 1;

                old_name.split(' ').forEach(function (value) {

                    new_name += " " + value;

                    i += 1;
                    if (i % 8 == 0) {
                        new_name += "\r\n";
                    }

                });
            }


            return new_name;

        }
        ;

        function get_kpis(category, hide_children) {

            hide_children = typeof hide_children !== 'undefined' ? hide_children : false;
            mindmap_data['nodeDataArray'] = [];
            mindmap_data['nodeDataArray'].push(
                {"key": 0, "text": "{{ kpi_user.profile.display_name }}", "loc": "0 0"}
            );

            cloudjetRequest.ajax({
                url: '/api/kpi/?user_id=' + {{ kpi_user.id }} +'&category=' + category,
                type: 'get',
                success: function (data) {
                    i = 0;
                    data.forEach(function (kpi) {
                        i += 1;
                        var dir = "right";
                        var brush = "grey";
                        if (i % 2 == 0) {
                            dir = "left";
                        }

                        if (kpi.bsc_category == 'financial') {
                            brush = '#F76D00';
                        }

                        if (kpi.bsc_category == 'customer') {
                            brush = '#2EA2DC';
                        }

                        if (kpi.bsc_category == 'internal') {
                            brush = '#6D9C12';
                        }

                        if (kpi.bsc_category == 'learninggrowth') {
                            brush = '#CF8602';
                        }

                        mindmap_data['nodeDataArray'].push(
                            {"key": kpi.id, "parent": 0, "brush": brush, "dir": dir, "text": name_breakdown(kpi.name)}
                        );

                        if (!hide_children) {
                            cloudjetRequest.ajax({
                                url: '/api/kpi/?parent_id=' + kpi.id,
                                type: 'get',
                                success: function (chilren) {
                                    chilren.forEach(function (child) {

                                        mindmap_data['nodeDataArray'].push(
                                            {
                                                "key": child.id,
                                                "parent": kpi.id,
                                                "dir": dir,
                                                "brush": brush,
                                                "text": name_breakdown(child.name_mindmap)
                                            }
                                        );

                                        load();
                                    });
                                },
                                error: function () {

                                }
                            });
                            {% comment %}$.get('/api/kpi/?parent_id=' + kpi.id).success(function (chilren) {

                                chilren.forEach(function (child) {

                                    mindmap_data['nodeDataArray'].push(
                                        {
                                            "key": child.id,
                                            "parent": kpi.id,
                                            "dir": dir,
                                            "brush": brush,
                                            "text": name_breakdown(child.name_mindmap)
                                        }
                                    );

                                    load();
                                });
                            });{% endcomment %}
                        }

                    });


                    load();
                },
                error: function () {

                }
            });
            {% comment %}$.get('/api/kpi/?user_id=' + {{ kpi_user.id }} + '&category=' + category).success(function (data) {
                i = 0;
                data.forEach(function (kpi) {
                    i += 1;
                    var dir = "right";
                    var brush = "grey";
                    if (i % 2 == 0) {
                           dir = "left";
                    }

                    if (kpi.bsc_category == 'financial'){
                        brush = '#F76D00';
                    }

                    if (kpi.bsc_category == 'customer'){
                        brush = '#2EA2DC';
                    }

                    if (kpi.bsc_category == 'internal'){
                        brush = '#6D9C12';
                    }

                    if (kpi.bsc_category == 'learninggrowth'){
                        brush = '#CF8602';
                    }

                    mindmap_data['nodeDataArray'].push(
                            {"key": kpi.id, "parent": 0, "brush":brush, "dir": dir, "text": name_breakdown(kpi.name)}
                    );

                    if (! hide_children){
                        $.get('/api/kpi/?parent_id=' + kpi.id).success(function (chilren) {

                            chilren.forEach(function (child) {

                                mindmap_data['nodeDataArray'].push(
                                        {"key": child.id, "parent": kpi.id, "dir": dir,"brush":brush,  "text": name_breakdown(child.name_mindmap)}
                                );

                                   load();
                            });
                        });
                     }

                });


                load();
            });{% endcomment %}
        };


        $(document).ready(function () {

            get_kpis('');

        })
        ;

    </script>
{% endblock %}




