<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/js-test.html" %}
    <meta charset="UTF-8">
    <title>Cloudjet KPI - Review</title>

    		{% include "modules/header_meta.html" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>team-view</title>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/lato-font/latofonts.css">
{#    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>#}
{#    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/cjs-mobile-assess.css">-->

</head>
<style>
    #cjs-mb-as{
        font-family: "LatoWebMedium";
        text-align: center;
        font-size: 16px;
    }
    .cjs-message{
        margin-top: 5px;
    }
    .message-box{
        overflow: scroll;
        max-width: 800px;
        padding-bottom: 15px;
        overflow-x: hidden;
    }
    .cjs-ctn{
        text-align: left;
        max-width: 75% !important;
        float: left;
        color: #2c2c2c;
        background-color: #ebebeb;
        display: inline-block;
        padding: 5px 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 5px;
    }
    .cjs-avatar{
        float: left;
    }

    .user-message{
        margin-top: 5px;
    }
    .user-ctn{
        text-align: right;
        max-width: 75% !important;
        float: right;
        color: #fff;
        background-color: #007cb0;
        display: inline-block;
        padding: 5px 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 5px;
    }

    .cjs-mes-time{
        color: #515151;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ms-text-input{
        text-align:center;
        height: 49px;
        border-top: 1px #ccc solid;
    }
    .ms-input-margin{
        margin-right: 100px;
    }
    .ms-input{
        margin-top: 4px;
        padding-right: 200px;
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 10px;
    }
    .ms-input-margin input:focus{
        outline: 0px !important;
    }
    .import-button{
        border-radius: 3px;
        margin-top: 6px;
        cursor: pointer;
        padding: 8px 10px;
        float: right;
        background-color: #007cb0;
        color: #fff;
        font-family: LatoWebBlack;
        transition: background 0.3s;
    }
    .import-button:hover{
        background-color: #36a6d5;
        transition: background 0.3s;
    }
    .mobile-kpis{
        width: 50%;
        cursor: pointer;
        border: 1px #ccc solid;
        font-size: 12px;
        display: inline-block;
        float: left;
        border-right: 0px;
        padding: 5px;
    }
    .mobile-kpis:hover{
        background-color: #ececec;
    }
    .mobile-icon{
        font-size: 16px;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
</style>
<body>

    <div id="cjs-mb-as">
        <div class="message-box container">
            <div class="cjs-mes-time">21:04 29 TH 3</div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Chào bạn! Đến với hệ thống đánh giá KPI trên SmatPhone</div>
            </div>
            <div class="clearfix"></div>

            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Khách hàng của chúng tôi thông thường rất ngu, vậy bạn có ngu không?</div>
            </div>
            <div class="clearfix"></div>

            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Nhập "khong" nếu có, nhập "co" nếu không</div>
            </div>
            <div class="clearfix"></div>
            <div class="user-message col-lg-12">
                <div class="user-ctn">co</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-mes-time">HIỆN TẠI</div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Chào bạn! Đến với đợt đánh giá TH 5/2016 <br> Kết thúc ngày 05 TH 6/2016</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Bạn đang ở KPI: "TĂNG NGUỒN VỐN DOANH NGHIỆP"; <br> Toán tử: =><br> Mục tiêu: 500 <br>  Đơn vị: Tỉ đồng <br> Tình trạng: Chưa đánh giá</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Vui lòng nhập số liệu thực tế để đánh giá KPI này:</div>
            </div>
            <div class="clearfix"></div>
            <div class="user-message col-lg-12">
                <div class="user-ctn">453 tỷ</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Opps! số liệu thực tế chỉ nhận chữ số, bạn vui lòng nhập lại!</div>
            </div>
            <div class="clearfix"></div>
            <div class="user-message col-lg-12">
                <div class="user-ctn">453</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Chúc mừng bạn đã đánh giá thành công!<br>Hiệu suất KPI này của bạn là: 86%</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Bạn có muốn đánh giá lại KPI này không?<br> Nhập "co" nếu muốn <br> Nhập "khong" nếu không</div>
            </div>
            <div class="clearfix"></div>
            <div class="user-message col-lg-12">
                <div class="user-ctn">khong</div>
            </div>
            <div class="clearfix"></div>
            <div class="cjs-message col-lg-12">
                <div class="cjs-avatar"></div>
                <div class="cjs-ctn">Chúc mừng! bạn đã hoàn thành việc đánh giá KPI này<br>Click chọn nút "KPI KẾ TIẾP" bên dưới để đánh giá KPI tiếp theo</div>
            </div>
        </div>
        <div class="ms-text-input">
            <div class="container" style="max-width: 800px;">
                <div class="import-button">NHẬP</div>
                <div class="ms-input-margin">
                    <input class="ms-input" placeholder="Nhập tin nhắn..">
                </div>
            </div>
            <div class="container" style="max-width: 800px;">
                <!--<div class="mobile-kpis">-->
                    <!--<i class="fa fa-bars mobile-icon"></i><br>-->
                    <!--KPIs-->
                <!--</div>-->
                <div class="mobile-kpis" style="border-right: 1px #ccc solid; width:100%">
                    <i class="fa fa-chevron-right mobile-icon"></i><br>
                    KPI TIẾP THEO
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( window ).ready(function() {
            var a = $(window).height();
            var b = a-97;
            $('.message-box').css("height", b);
        });
        $( window ).resize(function() {
            var a = $(window).height();
            var b = a-97;
            $('.message-box').css("height", b);
        });
    </script>

</body>
</html>