{% load user_tags humanize %}
<style type="text/css">
    @media all and (max-width: 480px) {
        .cloudjet-logo {
            height: 38px;
        }
    }

    div {
        font-family: arial, helvetica, sans-serif;
        color: #333;
    }
</style>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;text-align: inherit;background-color: #eef0f1; padding: 20px;width: 100%" border="0">
  <tr>
    <td style="padding: 20px">
    	<center>
	    	<table style="max-width: 600px;width: 100%;border-spacing: 0;" border="0">
	    		<tr>
	    			<td>
	    				<table style="max-width: 600px;width: 100%;border-spacing: 0;" border="0">
	    					<tr>
	    						<td style="background-color: rgba(29, 83, 116, 0.21);padding: 10px 0">
	    							<center style="height: 50px;">
	    								<a href="{{ settings.DOMAIN }}"><img style="display: table;margin: 0 auto;" alt="cloudjet-logo"
	                                                             class="cloudjet-kpi"
	                                                             {# src="http://88.cjs.vn/logo/logo-kpi.png" #}
	                                                             ></a>
	    							</center>    							
	    						</td>
	    					</tr>
	    					<tr>
	    						<td style="background-color: #fff;padding: 0 20px 20px 20px">
	    							<h2 style="margin-bottom: 0px;margin-top: 0;padding-top: 15px">
						                {% block header-title %}
						                {% endblock %}
						            </h2>
						            <hr style="border: none;border-bottom: 1px solid #ccc;">
						            <div>
						                {% block content %}
						                {% endblock %}
						            </div>						            
	    						</td>
	    					</tr>
	    					<tr>
	    						<td style="background-color: rgba(29, 83, 116, 0.21);padding: 10px 0">
	    							<center style="height: 50px;">
	    							<a href="{{ settings.DOMAIN }}"><img style="display: table;margin: 0 auto;" alt="cloudjet-logo"
	                                                             class="cloudjet-logo"
	                                                             
	                                                           {#  src="http://88.cjs.vn/img/logo/cloudjet-small.png" #}
	                                                             
	                                                             ></a>
	                                </center>
	    						</td>
	    					</tr>
	    				</table>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>
	    				{% block footer %}
{#	    				<b>Lưu ý</b>: Đây là một email thông báo, sau khi bạn đọc xong và có những hành động tiếp theo cụ thể thì bạn#}
{#	        			nên xoá email này để làm gọn gàng inbox của mình hơn.#}
	        			{% endblock %}
	    			</td>
	    		</tr>
	    		
	    		<tr>
	    			<td>
	    				{% block learning_box %}
{#			            {% load tip_tags %}#}
			            <div style="padding: 8px; border: 1px dashed #b8b8b8; margin:8px; margin-top: 28px;">
{#			                <h3 style="color: #006dcc">Learning box</h3>#}
{#			                {% tip_tag %}#}
			                <br>
			                <br>
			            </div>
			            {% endblock %}
					</td>
	    		</tr>
	    		
	    	</table>
    	</center>
    </td>
  </tr>
</table>