{% extends 'performance/mails/kpi_base.html' %}

{% block header-title %}
Nhắc nhở đánh giá KPI
{% endblock %}


{% block content %}
<p>Chào {{ full_name }}</p>

<p>Dưới đây các KPI cần được đánh giá mỗi {{ review_type }}:</p>
<ul>
	{% for kpi in kpis %}
	<li>
		<a href="">{{ kpi.name }}</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}