{% extends 'performance/mails/kpi_base.html' %}

{% block header-title %}
Đợt đánh giá mới
{% endblock %}


{% block content %}
<p>Chào anh/chị,</p>

<p>Hệ thống Cloudjet KPI đã tự động lưu trữ đợt đánh giá quá hạn và mở đợt đánh giá mới. Đợt đánh giá mới này sẽ kết thúc vào ngày {{ due_date|date:'d-m-Y' }}.

<p>Anh/chị vui lòng vào hệ thống Cloudjet KPI để <strong>chỉnh sửa và thiết lập lại mục tiêu</strong> cho từng KPI trong đợt đánh giá mới này.</p>

<p>Sau 7 ngày kể từ khi nhận được mail này, hệ thống sẽ khoá chức năng chỉnh sửa KPI.</p>

<p style="margin-top: 15px">Chúc anh/chị một ngày tốt lành.<br>
Trân trọng,<br>
<strong>Cloudjet Solutions</strong></p>

{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}