{% extends 'performance/mails/kpi_base.html' %}

{% block header-title %}
Nhắc nhở đánh giá
{% endblock %}


{% block content %}
<p>Chào anh/chị,</p>
<p>Đợt đánh giá của công ty anh/chị sẽ <strong style="color: red;">kết thúc vào ngày {{ due_date|date:'d-m-Y' }}</strong>.</p>
<p>Trong <strong>hôm nay</strong>, nếu anh/chị vẫn <strong>chưa hoàn thành việc đánh giá</strong> đối với các nội dung KPIs cho mình và nhân viên, <strong style="color: red;">hệ thống sẽ tự động khóa chức năng đánh giá</strong>.</p>
<p>Vì vậy kết quả của những KPI chưa được đánh giá sẽ <strong style="color: red;">tự động đánh là 0</strong>. Điều đó sẽ ảnh hưởng trực tiếp đến kết quả  đánh giá hiệu suất công việc của anh/ chị và phòng ban trong đợt đánh giá này cũng như kết quả tổng kết cuối năm.</p>

<p style="margin-top: 15px">Chúc anh/chị một ngày tốt lành.<br>
Trân trọng,<br>
<strong>Cloudjet Solutions</strong></p>

{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}