{% extends 'performance/mails/kpi_base.html' %}

{% block header-title %}
Nhắc nhở mở đợt đánh giá mới
{% endblock %}


{% block content %}
<p>Chào anh/chị,</p>
<p>Đợt đánh giá của công ty anh/chị đã <strong>kết thúc 5 ngày trước</strong>. Vui lòng vào hệ thống Cloudjet KPI để 
lưu trữ đánh giá và mở đợt đánh giá mới.</p>

<p>Nếu công ty bạn vẫn chưa thực hiện xong đánh giá trong đợt đánh giá này vui lòng vào lịch đánh giá để <strong>chỉnh lại thời hạn kết thúc đánh giá</strong>.</p>

<p>Sau 3 ngày kể từ ngày nhận được email này, nếu công ty bạn vẫn chưa mở đợt đánh giá mới thì hệ thống Cloudjet KPI 
sẽ <strong>tự động lưu trữ đợt đánh giá quá hạn và sẽ mở đợt đánh giá mới</strong>.</p>


<p style="margin-top: 15px">Chúc anh/chị một ngày tốt lành.<br>
Trân trọng,<br>
<strong>Cloudjet Solutions</strong></p>

{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}