{% extends 'performance/mails/kpi_base.html' %}

{% block header-title %}
Nhắc nhở đánh giá
{% endblock %}


{% block content %}
<p>Chào anh/chị,</p>
<p>Đợt đánh giá của công ty anh/chị sẽ <strong style="color: red;">kết thúc vào ngày {{ due_date|date:"d-m-Y" }}</strong>. Anh/chị <strong style="color: red;">còn 7 ngày</strong> để thực hiện việc đánh giá KPI của mình và nhân viên trên hệ thống Cloudjet KPI.  
<p>Anh/chị vui lòng sắp xếp công việc để tiến hành đánh giá các nội dung KPIs trước thời hạn quy định.</p>

<p style="margin-top: 15px">Chúc anh/chị một ngày tốt lành.<br>
Trân trọng,<br>
<strong>Cloudjet Solutions</strong></p>
{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}