{% extends 'performance/mails/kpi_base.html' %}
{% load kpi %}

{% block header-title %}
Thống kê tình hình hiệu suất nhân viên
{% endblock %}


{% block content %}
<p>Chào anh/chị,</p>
<p>Kỳ đánh giá hiện tại đã kết thúc, đây là thống kê tổng thể tình hình thực hiện đánh giá của nhân viên và 
quản lý trong đợt đánh giá này.</p> 


<br>
<p><strong>Tình hình thực hiện đánh giá của nhân viên:</strong></p>
<table style="width: 100%;border: 1px solid #ccc;" rules="all">
	<thead>
		<tr>
	    	<th></th>
	    	<th style="padding: 5px;text-align: center;">Tự đánh giá</th>
{#	    	<th style="padding: 5px;text-align: center;">Quản lý đánh giá</th>#}
	  	</tr>
	</thead>
	<tbody>
	  	<tr>
	    	<td style="padding: 5px">Chưa đánh giá</td>
	    	<td style="padding: 5px;text-align: right;{% if employee_not_review %}color: red;font-weight: bold;{% endif %}">{{ employee_not_review }}</td>
{#	    	<td style="padding: 5px;text-align: right;{% if manager_not_review %}color: red;font-weight: bold;{% endif %}">{{ manager_not_review }}</td>#}
	  	</tr>
	  	<tr>
	    	<td style="padding: 5px">Chưa hoàn thành đánh giá</td>
	    	<td style="padding: 5px;text-align: right;">{{ employee_not_finished_review }}</td>
{#	    	<td style="padding: 5px;text-align: right;">{{ manager_not_finished_review }}</td>#}
	  	</tr>
	  	<tr>
	    	<td style="padding: 5px">Hoàn thành đánh giá</td>
	    	<td style="padding: 5px;text-align: right;">{{ employee_finished_review }}</td>
{#	    	<td style="padding: 5px;text-align: right;">{{ manager_finished_review }}</td>#}
	  	</tr>
	</tbody>
</table>

<br>
<p><strong>Tình hình hiệu suất của toàn công ty:</strong></p>
<center>
<div style="display: table;">
<p style="text-align: left;margin-bottom: 0"><strong>KPI</strong></p>
<table rules="all" style="border-left: 2px solid #2AC42A;border-bottom: 2px solid #2AC42A;border-spacing: 0;" >
	<tbody>
	  	<tr>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Có hiệu suất tốt</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_3_1|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Đạt tới thành công</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_3_2|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Xuất sắc</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_3_3|statistic }}</p>
	    	</td>
	  	</tr>
	  	<tr>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Có hiệu suất</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_2_1|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Đang đóng góp</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_2_2|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Có triển vọng</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_2_3|statistic }}</p>
	    	</td>
	  	</tr>
	  	<tr>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Hiệu suất kém</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_1_1|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Đóng góp ít</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_1_2|statistic }}</p>
	    	</td>
	    	<td style="height: 150px;width: 150px;border: 1px dashed #ccc;vertical-align: top;">
	    		<span style="color: #4A852A">Tiềm năng lớn</span>
	    		<p style="text-align: center;margin-top: 40px;">{{ people_1_3|statistic }}</p>
	    	</td>
	  	</tr>
	</tbody>
</table>
<p style="text-align: center;margin-top: 0"><strong>Năng lực</strong></p>
</div>
</center>

<p>
	Nếu bạn có thắc mắc, hoặc những vấn đề cần giải quyết, vui lòng liên hệ Cloudjet tại địa chỉ <a href="mailto:tickets@cloudjetsolutions.uservoice.com">tickets@cloudjetsolutions.uservoice.com</a>
</p>
<p style="margin-top: 15px">Chúc anh/chị một ngày tốt lành.<br>
Trân trọng,<br>
<strong>Cloudjet Solutions</strong></p>

{% endblock %}


{% block footer %}
{% endblock %}

{% block learning_box %}
{% endblock %}