{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>User onboarding: Step 4</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/onboarding-ui.css">
        <script src="{{STATIC_URL}}js/onboarding-ui.js"></script>
{% include "common/js-test.html" %}
{% load tutor_extras %}
{% show_tracking %}
    </head>
    <body>
    <style type="text/css">
        #img-introduce-01{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-01.jpg);
            width: 100%;
        }
        #img-introduce-02{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-02.jpg)
        }
        #img-introduce-03{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-03.jpg)
        }
        #img-introduce-04{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-04.jpg)
        }
        #img-introduce-05{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-05.jpg)
        }
        #img-introduce-06{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-06.jpg)
        }
        #img-introduce-07{
            background-image: url({{STATIC_URL}}img/on-boarding/introduce-07.jpg)
        }
    </style>
    <style>
        #arrowicon {
          position: relative;
          position: fixed;
          animation: mymove 2s infinite;
          -webkit-animation: mymove 2s infinite;
            font-size: 120px; color: red;
            bottom: 55px;
            right:10px;
                z-index: 999;

        }
        @keyframes mymove {
            from {bottom: 100px;}
            to {bottom: 55px;}
        }
        @-webkit-keyframes mymove {
            from {bottom: 100px;}
            to {bottom: 55px;}
        }

    </style>
        <div>
            <div class="img-introduce" id="img-introduce-01">
                <i id="arrowicon" class="fa fa-long-arrow-down" style=""></i>
                <div class="img-ctr row">
                    <div class="col-lg-2"></div>
                    <div class="img-ctr-title col-lg-8">{% trans "OVERVIEW" %} <b>KPI EDITOR</b></div>
                    <div class="col-lg-2"><div class="next-btn" id="next-01">{% trans "CLICK TO CONTINUE" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-02">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-02">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "MENU SYSTEM" %}</div>
                    <div class="col-lg-2 block"><div class="next-btn" id="next-02">{% trans "CONTINUE" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-03">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-03">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "DETAILS OF THE OVERVIEW MENU" %}</div>
                    <div class="col-lg-2 block"><div class="next-btn" id="next-03">{% trans "NEXT" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-04">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-04">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "DETAILS OF REVIEW MENU" %}</div>
                    <div class="col-lg-2 block"><div class="next-btn" id="next-04">{% trans "NEXT" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-05">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-05">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "DETAILS OF REPORT MENU" %}</div>
                    <div class="col-lg-2 block"><div class="next-btn" id="next-05">{% trans "NEXT" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-06">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-06">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "DETAILS OF ADMINISTRATION MENU" %}</div>
                    <div class="col-lg-2 block"><div class="next-btn" id="next-06">{% trans "NEXT" %}</div></div>
                </div>
            </div>
            <div class="img-introduce background-invi" id="img-introduce-07">
                <div class="img-ctr row">
                    <div class="col-lg-2"><div class="preview-btn" id="back-07">{% trans "WATCH AGAIN" %}</div></div>
                    <div class="img-ctr-title col-lg-8">{% trans "DETAILS OF LEARN CLOUDJET KPI MENU" %}</div>
                    <div class="col-lg-2 block"><a href="{% url 'onboarding-step-5' %}"><div class="in-box-button yes-btn" style="margin: 0px; float: right; font-size: 14pt;text-transform: uppercase">{% trans "Complete" %}</div></a></div>
                </div>
            </div>
        </div>
    </body>
</html>