{% load i18n %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>User onboarding: Step 7</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/onboarding-ui.css">
        <script src="{{STATIC_URL}}js/onboarding-ui.js"></script>

        {% include "common/js-test.html" %}
{% load tutor_extras %}
{% show_tracking %}
    </head>
    <body>
        <div class="container" style="background-color: #fff; text-align: center;">
            <div class="step-progress">
                <div class="step-prg-title" style="text-transform: uppercase">{% trans "Process:" %}</div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                </div>
            </div>
            <div class="ui-ob-title" style="font-size: 20pt; padding-top: 50px;">{% trans "LET DO THE EXERCISE TO HAVE MORE KNOWLEDGE ABOUT SMART KPI!" %}</div>
            <img id="smart-kpi-img" src="{{STATIC_URL}}img/on-boarding/smat-kpi.svg">
            <div class="clearfix"></div>
            <div id="ob-chesk-box">
                <div class="kpi-question">
                    <span class="kpi-question-title">2 {% trans "WHAT ARE THE KPI WHICH IS SMART KPI?" %}</span>
                    <div class="kpi-chesk">
                        <label class="fl">
                            <input type="checkbox"><span class="checkbox-padding">{% trans "Increase customer satisfaction." %}</span>
                        </label>
                    </div>
                    <div class="kpi-chesk">
                        <label class="tr">
                            <input type="checkbox"><span class="checkbox-padding">{% trans "Reduce downtime by 10% over the same period." %}</span>
                        </label>
                    </div>
                    <div class="kpi-chesk">
                        <label class="fl">
                            <input type="checkbox"><span class="checkbox-padding">{% trans "Reduce raw material costs." %}</span>
                        </label>
                    </div>
                    <div class="kpi-chesk">
                        <label class="fl">
                            <input type="checkbox"><span class="checkbox-padding">{% trans "Reduce employee retrenchment rates." %}</span>
                        </label>
                    </div>
                    <div class="kpi-chesk">
                        <label class="tr">
                            <input type="checkbox"><span class="checkbox-padding">{% trans "Increase 5% profit over the same period." %}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="ob-fl-noti">{% trans "Your answer is wrong! Please check again." %}</div>
            <div class="clearfix"></div>
            <div id="ob-tr-noti">{% trans "Congratulation! Your answer is correct. CLick <b>Complete</b> to KPI Editor page" %}.</div>
            <div class="clearfix"></div>
            <div class="in-box-button yes-btn" id="onboarding-tess-button" style="margin-bottom: 30px;">{% trans "Check" %}</div>
            <a href="/performance/kpi-editor/"><div class="in-box-button yes-btn" id="onboarding-tess-fn" style="margin-bottom: 30px; display: none;">{% trans "Complete" %}</div></a>
        </div>
    </body>
</html>
