{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>User onboarding: Step 2</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/onboarding-ui.css">
        <script src="{{STATIC_URL}}js/onboarding-ui.js"></script>
{% include "common/js-test.html" %}
{% load tutor_extras %}
{% show_tracking %}
    </head>

    <body>
        <div class="container-fluid ob-full-box">
            <div class="step-progress">
                <div class="step-prg-title" style="text-transform: uppercase">{% trans "Process:" %}</div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">20%</div>
                </div>
            </div>
            <div class="ob-big-icon">
                <img class="ob-user-icon" src="{{STATIC_URL}}img/on-boarding/user-icon.svg">
            </div>
            
            <div class="ui-ob-title">{% trans "User guide for new account" %}</div>
            <div class="ui-ob-box">
                <div class="in-box-title">{% trans "Please click the button below to add new employee" %}.</div>
                <a href="/performance/team-performance/" target="_blank"><div class="in-box-button ob-btn">{% trans "Add employee" %}</div></a>
                <div class="clearfix"></div>
                <img id='img-hd-step-02' src="{{STATIC_URL}}img/on-boarding/add-user.gif">
                <div class="clearfix"></div>
                <a href="{% url 'onboarding-step-3' %}"><div class="in-box-button yes-btn">{% trans "Complete" %}</div></a>
            </div>
        </div>
    </body>
</html>