{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>User onboarding: Step 1</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/onboarding-ui.css">
        <script src="{{STATIC_URL}}js/onboarding-ui.js"></script>

        {% include "common/js-test.html" %}

{% load tutor_extras %}
{% show_tracking %}
    </head>
    <body>
<style>

    .helpdesk {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }


</style>
        <div class="container-fluid ob-full-box">
            <div class="step-progress">
                <div class="step-prg-title" style="text-transform: uppercase;">{% trans "Progress:" %}</div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                </div>
            </div>
            <div class="ob-big-icon">
                <img class="ob-user-icon" src="{{STATIC_URL}}img/on-boarding/user-icon.svg">
            </div>
            
            <div class="ui-ob-title">{% trans "Cloudjet KPI User Guide" %}</div>
            <div id="step-01-sup">"{% trans " Please take 2 minutes to learn the system features, to use the most effective Cloudjet KPIs."  %}"</div>
            <div id="step-01-sup-2">{% trans "Complete the tutorial to continue using the system, <br>to get started please answer the question below." %}</div>
            <div class="ui-ob-box">
                <div class="in-box-title">{% trans "Do you have subordinates?" %}</div>
                <a href="{% url 'onboarding-step-2' %}"><div class="in-box-button yes-btn">{% trans "Yes" %}</div></a>
                <a href="{% url 'onboarding-step-3-2' %}"><div class="in-box-button no-btn">{% trans "No" %}</div></a>
            </div>
        </div>
    </body>

<div class="helpdesk not-show-when-group">
	<a href="#popup1" data-toggle="modal"></a>
</div>

<div id="popup1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.89);">
    <div class="modal1 mfp-hide" id="myModal1">

        <div class="row sp">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 centered" style="top: 180px;">


                <div class="btn-group btn-group-justified sp-btn-group btn-entry" role="group" style="margin-bottom: 25px; height: 60px;">
                    <a class="btn btn-lg sp-btn btn-primary" data-dismiss="modal" aria-hidden="true">
                         {% trans "View user guide" %} </a>
                </div>
                 <div class="btn-group btn-group-justified sp-btn-group btn-entry" role="group" style="margin-bottom: 25px; height: 60px;">
                    <a class="btn btn-lg sp-btn btn-primary" href="{% url 'kpi_dashboard' %}?noonboard=true">
                         {% trans "View individual KPIs" %} </a>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
			setTimeout(function(){
				$('a[href="#popup1"]').trigger('click');
			}, 1000);

	</script>


    </div>
  	<button type="button" style="right: -55px;top: 0px;" class="close" data-dismiss="modal" aria-hidden="true">×</button>

</html>
