{% extends "base_performace.html" %}
{% load i18n %}
{% block title %}{% trans "Planning" %}{{ block.super }}{% endblock %}


{% block landing %}

    <form method="get">
        {% csrf_token %}
        <input name="q" value="" placeholder="email or username">
        <button type="submit" class="btn btn-success"> Search</button>

    </form>
    <table>
        {% for user in users %}

            <tr>
                <td>
                    <a href="{{  user.get_profile.get_kpi_url }}">

                        {{ user.username }} | {{ user.email }}
                   </a>

                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}