{% load i18n %}
<style>
    .sm-scale-button {
        border-radius: 3px;
        box-sizing: border-box;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }

    .sm-submit {
        color: rgb(253, 253, 253);
        background-color: rgb(47, 177, 44);
        padding: 8px 14px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        border: none;
        border-radius: 0px;
        min-width: 100px;
        width: initial;
        margin: initial;
        zoom: 1;
        line-height: normal;
        white-space: nowrap;
        vertical-align: baseline;
        text-align: center;
        user-select: none;
        font-family: inherit;
        text-decoration: none;
    }

    .feedback textarea {
        width: 100%;
        border: 1px solid rgb(219, 219, 219);
        color: rgb(51, 51, 51);
        background-color: rgb(253, 253, 253);
        box-shadow: rgba(10, 10, 10, 0.1) 0px 1px 2px inset;
        outline: none;
        border-radius: 3px;
        font-size: 14px;
        padding: 8px;
        resize: vertical;
        box-sizing: border-box;
        transition: border 200ms ease 0s;
        height: initial;
        margin: initial;
        zoom: 1;
        line-height: normal;
        white-space: normal;
        vertical-align: baseline;
        text-align: initial;
        user-select: none;
        font-family: inherit;
        text-decoration: none;
        direction: ltr;
    }

    .parent-submit {
        margin: auto;
        padding: 0px 20px 20px;
        display: flex;
        flex-direction: row-reverse;
    }

    .sm-survey {
        font-size: 14px;
        box-sizing: border-box;
    }

    .child-survey {
        position: fixed;
        z-index: 2147483647;
        bottom: 0px;
        right: 50%;
        transform: translate(50%, 0px);
    }

    .width-popup {
        width: auto;
        min-width: 300px;
    }

    .init_style_popup {
        background-color: rgb(253, 253, 253);
        color: rgb(51, 51, 51);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
        box-sizing: border-box;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
    }

    .init_content {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .text-overflow {
        overflow: auto;
    }

    .init-row {
        padding: 20px;
        margin: auto;
    }

    .init-title {
        margin-bottom: 8px;
        margin-right: 20px;
    }

    .title {
        line-height: 1.6;
        font-size: 16px;
    }

    .sm-scale {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -2px;
        margin-right: -2px;
        user-select: none;
    }

    div[class^=nps-bottom-] {
        padding: 0px 2px;
        flex: 1 1 0%;
    }
</style>
<div id="cjs-survey" style="display: none">
    <div class="sm-survey" v-if="show_rate">
        <div class="child-survey">
            <div class="width-popup">
                <div class="init_style_popup">
                    <div class="init_content">
                        <div class="text-overflow">
                            <div>
                                <div class="init-row">
                                    <div class="init-title">
                                        <div dir="ltr" class="title">
                                            ${title}$
                                        </div>
                                    </div>
                                    <div class="rate" v-if="step">
                                        <div class="sm-scale" dir="ltr">
                                            <div v-for="n in max+1" :class="'nps-bottom-' + n"
                                                 @mouseover="hover_rate(n)"
                                                 @mouseleave="hover_rate_out()"
                                                 @click="rate(n)">
                                                <div class="sm-scale-button"
                                                     :style="`background-color:${background_color_default};color:${color_text_rate_default}`">
                                                    ${n-1}$
                                                </div>
                                            </div>
                                        </div>
                                        <div dir="ltr"
                                             style="display: flex; flex-wrap: nowrap; justify-content: space-between; font-style: italic; font-size: 12px; color: rgb(132, 132, 132); margin-top: 8px;">
                                            <div>Not at all likely</div>
                                            <div>Extremely likely</div>
                                        </div>
                                    </div>
                                    <div class="feedback" v-if="!step">
                                        <div style="max-height: 100vh; display: flex; flex-direction: column;">
                                            <div style="overflow: auto;">
                                                <div>
                                                    <div>
                                                        <div style="padding: 20px; margin: auto;">
                                                            <div>
                                                                <div style="margin-bottom: 8px; margin-right: 20px;">
                                                                    <div class=""
                                                                         style="font-size: 16px; line-height: 1.6;"
                                                                         dir="ltr">
                                                                        ${request_data.question}$
                                                                    </div>
                                                                </div>
                                                                <textarea autofocus="true" rows="4"
                                                                          v-model="request_data.feedback">
                                                                                    </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="parent-submit">
                                                        <button class="sm-submit"
                                                                @click="submit()">
                                                            Gửi phản hồi
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="flex-shrink: 0;"></div>
                    </div>
                    <div class="btn_close">
                        <button type="button" aria-label="Close" @click="close_popup()"
                                class="el-message-box__headerbtn"><i
                                class="el-message-box__close el-icon-close"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.getScript('{{ STATIC_URL }}js/clientjs/client.min.js');
    var nps_system = Vue.extend({
        type: 'nps_system',
        template: $('#cjs-survey').html(),
        props: {
            title: {
                default: 'Từ 0-10 điểm (10 là tốt nhất), anh/chị đánh giá chất lượng phần mềm Cloudjet KPI bao nhiêu điểm?',
                type: String
            },
            max: {
                default: 10,
                type: Number
            },
            background_color_default: {
                default: '#caf1d6',
                type: String
            },
            background_color_hover: {
                default: '#2fb12c',
                type: String
            },
            color_text_rate_default: {
                default: '#324c32'
            },
            color_text_rate_hover: {
                default: 'white'
            },
            value: {}
        },
        data: function () {
            return {
                step: true,
                show_rate: true,
                request_data: this.init_data_request()
            }
        },
        watch: {},
        methods: {
            init_data_request() {
                return {
                    question: 'Chúng tôi cần làm gì để hệ thống tốt hơn?',
                    feedback: '',
                    rate_point: 0,
                    type_os: '',
                    device_os: '',
                    ip: '',
                    client: null,
                    timestamp: new Date
                }
            },
            hover_rate(n) {
                for (i = 0; i <= n; i++) {
                    $(`.nps-bottom-${i} .sm-scale-button`).css({
                        'background-color': this.background_color_hover,
                        'color': this.color_text_rate_hover
                    })
                }
            },
            hover_rate_out() {
                for (i = 0; i <= this.max + 1; i++) {
                    $(`.nps-bottom-${i} .sm-scale-button`).css({
                        'background-color': this.background_color_default,
                        'color': this.color_text_rate_default
                    })
                }
            },
            rate(n) {
                this.step = false;
                this.request_data.rate_point = n - 1;
            },
            submit() {
                that = this;
                cloudjetRequest.ajax({
                    type: 'post',
                    url: 'https://hooks.zapier.com/hooks/catch/3578689/ghbwp0/',
                    data: {
                        "value1": this.request_data.timestamp,
                        "value2": "{{ request.user.profile.organization.name }}",
                        "value3": "{{ request.user.profile.display_name }}",
                        "value4": "{{ request.user.email }}",
                        "value5": "{{ request.user.profile.phone }}",
                        "value6": this.request_data.rate_point,
                        "value7": this.request_data.question,
                        "value8": this.request_data.feedback,
                        "value9": this.request_data.ip,
                        "value10": this.client.isMobile() ? 'Mobile' : 'Desktop',
                        "value11": this.client.getOS()
                    },
                    success: function (data) {
                        that.$message({
                            message: 'Cảm ơn bạn đã đóng góp ý kiến, chúng tôi sẽ cố gắng cải thiện hệ thống!',
                            type: 'success'
                        });
                    },
                    error: function () {
                        that.$message({
                            message: 'Đã có lỗi xảy ra vui lòng liên hệ với chúng tôi!',
                            type: 'error'
                        });
                    },
                    complete: function () {
                        that.$emit('completed')
                    }
                })
            },
            close_popup() {
                that = this;
                this.show_rate = false;
                this.$confirm('Bạn có muốn huỷ bỏ kết quả đánh giá này?', '{% trans "Warning" %}', {
                    confirmButtonText: '{% trans "OK" %}',
                    cancelButtonText: '{% trans "Close" %}',
                    type: 'warning'
                }).then(function () {
                    that.data_request = that.init_data_request();
                    that.$emit('rollback')
                }).catch(function () {
                    that.show_rate = true;
                });
            }
        },
        delimiters: ["${", "}$"],
        computed: {},
        mounted: function () {
            that = this;
            window.nps_system = this;
            $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {
                if (data) {
                    that.request_data.ip = data.ip;
                }
            });
            $.getJSON(`https://raw.githubusercontent.com/vuongductuanktmt/file/master/question.json?version=${new Date().toUTCString()}`, function (data) {
                if (data) {
                    that.request_data.question = data.question;
                }
            });
        },
        created() {
            this.client = new ClientJS();
        }
    })
    Vue.component('nps-system', nps_system);

</script>
<style>

</style>