{% load inplace_edit i18n %}
<tr>
    <td>
        <div class="schedule_left_item schedule_black" style="cursor: pointer;"
             ng-click="get_schedule_review('{{ due.id }}')">
            <div class="schedule_date">
                <div class="schedule_month">{{ due.due_date|date:'M' }}</div>
                <div class="schedule_day">{{ due.due_date|date:'d' }}</div>
                <div class="schedule_year">{{ due.due_date|date:'Y' }}</div>
            </div>

            <div class="clear"></div>
        </div>
    </td>
    <td>


        <h5> Q{{ due.quarter }} - {{ due.year }}
            <br/>
            #{{ due.id }} {% inplace_edit "due.quarter_name" %}
        </h5>

    </td>
    <td>
        <p><span
                style="font-weight: bold; padding-left: 5px">{{ due.completion }}%</span>
        </p>

    </td>
    <td>

        <p style="color:#aaa">{% trans "Created at" %}: {{ due.created_at }}
            <br/>

            {% trans "KPIs copied from:" %}
            #{{ due.clone_from_quarter_period.id }} {{ due.clone_from_quarter_period.quarter_name }}
        </p>
        {% if due.status != 'DELETED' %}
            <button ng-click="reactivate({{ due.id }})" onclick="$(this).prop('disabled', true);"
                    class="btn btn-warning btn-mini SS_BTN_ACTIVATE_SCHEDULE"> {% trans 'Re-activate' %} </button>
        {% endif %}
        {% if due.status == 'AR' %}
            <button ng-click="delete({{ due.id }})" onclick="$(this).prop('disabled', true);"
                    class="btn btn-danger btn-mini SS_BTN_DEL_SCHEDULE"> {% trans 'Delete' %} </button>
        {% endif %}
        {% if due.status == 'DELETED' %}
            <button ng-click="restore({{ due.id }})" onclick="$(this).prop('disabled', true);"
                    class="btn btn-info btn-mini "> {% trans 'Restore' %} </button>
        {% endif %}
    </td>
</tr>