{% load i18n %}

<div class="dropdown">
    <a class="btn btn-normal btn-cus-add btn-cus-5-7 dropdown-toggle STM_DDL_SCHEDULE" data-toggle="dropdown" role="button" aria-expanded="false">
        {% if map %}
            {{ map.quarter_period }}

        {% else %}
            -------------- {% trans "Choose Strategy Map" %} ------------------
        {% endif %}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for sm in s_maps %}
            <li>
                {% if public %}
                    <a href="{% url 'strategy_map_public_by_hash' org.get_hash sm.get_hash %}">
                        {{ sm.quarter_period }}
                    </a>
                {% else %}
                    <a href="{{ sm.get_absolute_url_v2 }}">
                        {{ sm.quarter_period }}
                    </a>
                {% endif %}
                <input type="hidden" value="{{sm.quarter_period.id}}">
            </li>
        {% endfor %}
    </ul>
</div>
<div class="down-strategy" title="{% trans "Export strategy map" %}">
    <a class="btn btn-normal btn-cus-5-7 STM_BTN_EXPORT" id="btn-report-map" href="{% url 'report-strategymap' %}#/?hash={{ map.hash }}&quarter_id={{map.quarter_period.id}}" target="_blank">
        <i class="material-icons font-20">&#xE2C4;<!--file download--></i>
        {% trans "Export strategy map" %}
    </a>
    <input id="hash" value="{{ map.hash }}" hidden>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>
