{% load i18n  %}
{% load kpi manage_tag user_tags %}
<div class="bsc-category-component">
    <div v-if="bsc_category_ready" class="bsc-category" :id="'id-' + category" style="margin-top: 20px">
        <div class="bsc-category-title">
            <div class="category-weight" :id="'category-weight-' + category"><span class="weight-value">
                ${ category_weight() }$
            </span></div>
            {#                    {% trans category_name %} {{ quarter_period.year }}#}
            ${ category_name }$ ${ current_quarter.year }$
        </div>
        {% if allow_edit %}
        <div class="add_group">
            <button :id="'btn-add-group-' + category" class="btn btn-primary btn-small" @click="add_group()">{% blocktrans %}Add Group{% endblocktrans %}aaa</button>
        </div>
        <div class="add_kpi">
            <button :id="'btn-add-kpi-' + category" class="btn btn-primary btn-small" @click="create_kpi()">{% blocktrans %}Add KPI{% endblocktrans %}</button>
        </div>
        {% endif %}
        
        <div class="group-container">

            <div v-for="group,group_index in bsc_data['group_kpis']" class="kpi-group" :id="'group-' + group.id" style="margin-right: 20px;width: 378px;left: 20px;top: 20px;">
                <div class="group-title-container">
                    <div class="kpi-group-title">
                        <div class=" group-weight">
                            <span class="weight-value">${ group_weight(group) }$</span>
                        </div>
                        {% if allow_edit %}
                        <a href="javascript:void(0)" class="remove-btn" @click="remove_group(group.id,group_index)">
                            <i class="icon-remove"></i>
                        </a>
                        <a class="remove-btn" @click="modal(category,group.name,group.id)" data-toggle="modal">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                        <div class="group-title item-name">
                            ${ group.name }$
                        </div>
                    </div>
                </div>

                <ul class="list-goals" :data-group="group.id">

                    <li v-for="kpi,index in group.kpis" :data-kpi="kpi.id"  :id="'id-kpi-' + kpi.id">
                    	{% if allow_edit %}
                        <a class="remove-kpi" @click="remove_kpi(kpi.id,'group_kpis',group_index)"><i class="icon-remove"></i></a>
                        <a class="edit-kpi" @click="modal2(category,kpi.id,kpi.prefix_id,kpi.name,kpi.weight,kpi.description,kpi.ordering)">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                        <div class="clearfix" style="display: table;">
                            {% language 'en' %}
                                <div class="category-goal"><span>${ kpi.prefix_id|prefix_bsc }$${ kpi.ordering }$</span>
                                </div>
                            {% endlanguage %}
                            <div class="goal-content">
                                <div class="kpi-detail">
                                    <div class=" kpi-weight">
                                        <span style="float:right;"></span>
                                        ${ kpi.weight }$
                                        {#                                        http://stackoverflow.com/questions/754520/what-is-the-actual-differences-between-i18n-l10n-g11n-and-specifically-what-does#}
                                        {#                                        https://docs.djangoproject.com/en/1.10/topics/i18n/formatting/#unlocalize#}
                                    </div>
                                    <div class="item-name">${ kpi.name }$</div>
                                </div>
                            </div>
                        </div>
                        <div class="goal-desc" style="white-space: pre-wrap;">
                            ${ kpi.description|trim }$
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ungroup-kpis">
            <ul v-for="group,group_index in bsc_data['ungroup_kpis']" class="list-goals" data-group=''>
                <li v-for="kpi,index in group.kpis" :data-kpi="kpi.id" :id="'id-kpi-'+  kpi.id">
                	{% if allow_edit %}
                    <a class="remove-kpi" @click="remove_kpi(kpi.id,'ungroup_kpis',group_index)"><i class="icon-remove"></i></a>
                    <a class="edit-kpi" @click="modal2(category,kpi.id,kpi.prefix_id,kpi.name,kpi.weight,kpi.description,kpi.ordering)">
                        <i class="icon-pencil"></i>
                    </a>
                    {% endif %}
                    <div class="clearfix" style="display: table;">
                        {% language 'en' %}
                            <div class="category-goal"><span>${ kpi.prefix_id|prefix_bsc }$${ kpi.ordering }$</span>
                            </div>
                        {% endlanguage %}
                        <div class="goal-content">
                            <div class="kpi-detail">
                                <div class="kpi-weight">
                                    <span style="float:right;"></span>
                                    ${  kpi.weight }$
                                </div>
                                <div class="item-name">${ kpi.name }$</div>
                            </div>
                        </div>
                    </div>
                    <div class="goal-desc" style="white-space: pre-wrap;">
                        ${ kpi.description|trim }$
                    </div>

                </li>
            </ul>

        </div>

        <!-- Modal -->
    </div>

</div>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
{#<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>#}

<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
{#<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>#}
<script type="text/javascript">

    Vue.component('bsc-category',{
        level:'child',
        delimiters: ["${","}$"],
        props: ['category','category_name'],
        template: $('div.bsc-category-component').html(),
        data: function() {
            return {
                bsc_category_ready: true,
                bsc_data: {},
                organization: {},
                current_quarter: {},
                s_map: {}
            }
        },
        filters:{
            'prefix_bsc':function(prefix_id){
                return prefix_id[0];
            },
            'trim': function(description){
                if (description != null)
                    return description.trim();
                return description;
            }
        },
        watch: {
            'bsc_data': {
                handler: function(){
                    var that = this;
                    setTimeout(function(){
                        $(document).trigger('strategy-map-ready-' + that.category);
                    },1000)
                }

            }
        },
        computed:{

        },
        methods:{
            {#            update_group_weight: function () {#}
            {#                $('.kpi-group .kpi-group-title .group-weight').each(function () {#}
            {#                    var group = $(this).closest('.kpi-group');#}
            {#                    var group_weight = 0;#}
            {#                    $(group).find('.kpi-weight').each(function () {#}
            {#                        group_weight += isNaN(parseFloat($(this).get_text())) ? 0 : parseFloat($(this).get_text().replace(",","."));#}
            {#                    });#}
            {#                    group_weight = group_weight.toFixed(2);#}
            {#                    $(this).children('.weight-value').html(group_weight);#}
            {#                });#}
            {#            },#}
            {#            update_category_weight: function () {#}
            {#                $('.bsc-category').each(function () {#}
            {#                    var category_weight = 0;#}
            {#                    $(this).find('.kpi-weight').each(function () {#}
            {#                        category_weight += isNaN(parseFloat($(this).get_text())) ? 0 : parseFloat($(this).get_text().replace(",","."));#}
            {#                    });#}
            {#                    category_weight = category_weight.toFixed(2);#}
            {#                    $(this).find('.bsc-category-title .category-weight').find('.weight-value').html(category_weight)#}
            {#                });#}
            {#            },#}
            trigger_pull_bsc_data: function(){
                var that = this
                EventBus.$emit('pullGroupCategoryData',{
                    sender: that,
                    category: that.category
                })
            },
            group_weight: function(group){
                var that = this;
                console.log(group)
                try {
                    var _total_group_weight = group.kpis.reduce(function (prevValue, elem) {
                        return prevValue + elem.weight;
                    },0)

                    var total_group_weight = isNaN(_total_group_weight) ? 0 : _total_group_weight;

                }catch(e){
                    var total_group_weight = 0;
                    console.log(e.toString())
                }
                return total_group_weight;
            },
            category_weight: function(){
                var that = this;
                var total_weight = 0;
                var bsc_data = that.bsc_data;
                try {
                    var _total_group_weight = bsc_data.group_kpis.reduce(function(prevValue,group){
                        return that.group_weight(group) + prevValue;
                    },0)
                    var total_group_weight = isNaN(_total_group_weight) ? 0 : _total_group_weight;
                }catch(e){
                    var total_group_weight = 0;
                    console.log(e.toString())

                }
                try{
                    var _total_ungroup_weight = bsc_data.ungroup_kpis.reduce(function(prevValue,group){
                        return that.group_weight(group) + prevValue;
                    },0)
                    var total_ungroup_weight = isNaN(_total_ungroup_weight) ? 0 : _total_ungroup_weight;
                }catch(e){
                    var total_ungroup_weight = 0;
                    console.log(e.toString())


                }
                total_weight = total_group_weight + total_ungroup_weight;
                console.log(total_weight)
                return total_weight;
            },
            remove_group:  function (group_id, group_index) {
                var that = this
                if (confirm("{% trans 'Are you sure you want to delete this group' %}?")) {
                    cloudjetRequest.ajax({
                        url: DELETE_GROUP_URL,
                        type: 'post',
                        data: {group_id: group_id, action: 'delete_group'},
                        success: function (response) {
                            if (!response.error) {
                                {#                                $("#group-" + group_id).remove();#}
                                {#                                //refresh layout or reload page#}
                                {#                                if (response.redirect == 'reload')#}
                                {#                                    location.reload();#}
                                                                that.trigger_pull_bsc_data();
{#                                var kpi_list = that.bsc_data['group_kpis'][group_index].kpis.slice();#}
{#                                that.bsc_data['group_kpis'].splice(group_index,1);#}
{#                                that.bsc_data['ungroup_kpis'][0].kpis.concat(kpi_list);#}
{#                                that.bsc_data['ungroup_kpis'][0].kpis.sort(function(kpi1,kpi2){#}
{#                                    return kpi1.ordering - kpi2.ordering#}
{#                                })#}
{#                                that.$set(that,'bsc_data',that.bsc_data)#}
                            }
                            console.log('ok')
                        },
                        error: function () {
                            alert("Update data failed.");
                            ajaxerror_handler(res);
                        }
                    });
                }
            },
            modal: function (category,name,id){
                app.listid=[];
                app.new_namegr={};
                if(category=='financial'){
                    app.color="#ff5c00";
                }
                if(category=='customer'){
                    app.color="#00a2dd";
                }
                if(category=='internal'){
                    app.color="#54A413";
                }
                if(category=='learninggrowth'){
                    app.color="#d79f00";
                }
                app.varri=category;
                app.groupid=id;
                if(app.namegr=='' || app.namegr=='None' ){
                    app.namegr=name;
                    console.log(name);
                }
                else{
                    s=$('#group-'+id).find('.group-title-container .kpi-group-title').find('.item-name').html();
                    $('#edit-namegr').val(remove_space(s));
                    app.namegr=remove_space(s);
                    console.log(remove_space(s));
                }
                $('#myModal').modal('show');
                setTimeout(function(){
                    $('input').focus()
                },500);
            },
            modal2:  function (category,kpiid,codegr,name,weight,descrition,ordering){
                var regex = /<br\s*[\/]?>/gi;
                descrition=descrition.replace(regex, "\n");
                app.listid=[];
                app.new_namegr={};
                app.ungroup={"id":kpiid,"codegr":codegr,"name":name,"weight":weight.toString().replace(',','.'),"description":descrition,"ordering":ordering};
                app.color="#eee";
                app.varri=category;
                app.namegr='None';
                $('#myModal').modal('show');
            },
            remove_kpi: function (kpi_id,type,group_index) {
                var that = this;
                if (confirm("{% trans "Are you sure?" %}")) {

                    cloudjetRequest.ajax({
                        url: '/api/v2/kpi/',
                        type: 'delete',
                        dataType: 'json',
                        data: JSON.stringify({kpi_id: kpi_id}),
                        success: function (response) {
                            if (!response.error) {
                                {#                                $("#id-kpi-" + kpi_id).remove();#}
                                {#                                that.trigger_pull_bsc_data();#}
                                {#                                console.log(type)#}
                                var kpi_index = that.bsc_data[type][group_index].kpis.map(function(elem){
                                    return elem.id
                                }).indexOf(kpi_id);

                                {#                                console.log(kpi_index)#}
                                that.bsc_data[type][group_index].kpis.splice(kpi_index,1);

                                that.$set(that.bsc_data,type,that.bsc_data[type]);
                                {#                                console.log('ok')#}
                            }
                        },
                        error: function (res) {
                            alert("Remove data failed.")
                            ajaxerror_handler(res);
                        }
                    });
                }
            },
            add_group: function() {
                var that = this;
                cloudjetRequest.ajax({
                    url: CREATE_GROUP_URL,
                    type: 'post',
                    data: 'action=create_group&smap_id=' + that.s_map.id + '&category=' + that.category,
                    dataType: 'json',
                    success: function (jsonObj) {
                        {#                        location.reload();#}
                        {#                        console.log(jsonObj)#}
                        that.trigger_pull_bsc_data();
                        setTimeout(function(){
                            $(document).trigger('strategy-map-ready-' + that.category);
                        },1000)

                    },
                    error: function (res) {
                        console.log('Add group failed!');
                        ajaxerror_handler(res);
                    }
                });
            },
            create_kpi: function () {
                var that = this;
                cloudjetRequest.ajax({
                    url: '/api/v2/kpi/create/',
                    type: 'post',
                    data: JSON.stringify({
                        org_id: that.organization.id,
                        smap_id: that.s_map.id,
                        strategymap: true,
                        category: that.category
                    }),
                    dataType: 'json',
                    success: function (jsonObj) {
                        location.reload();
                        {#                        that.trigger_pull_bsc_data();#}

                        {#                        console.log(jsonObj)#}
                    },
                    error: function (res) {
                        ajaxerror_handler(res);
                    }
                });
            }
        },
        created: function(){
            var that = this

            // Fetch Organization Data
            EventBus.$on('fetchOrganizationData',function(data){
                that.$set(that,'organization',data)
                {#                console.log(that.organization)#}
            })
            // Fetch Current Quarter Data
            EventBus.$on('fetchCurrentQuarter',function(data){
                that.$set(that,'current_quarter',data)
                console.log(that.current_quarter)
            })
            // Fetch Strategy Map Data
            EventBus.$on('fetchStrategyMap',function(data){
                that.$set(that,'s_map',data)
                console.log(that.s_map)
            })


        }
    });
</script>


