    {% extends "bsc_base.html" %}
    {% load i18n user_tags %}
    {% block title %} Cloudjet KPI
{#    	{% if not map.director_id %}#}
{#    	{% blocktrans %}Strategy Map{% endblocktrans %}#}
{#    	{% else %}#}
{#    	{% blocktrans %}Personal Goal{% endblocktrans %}#}
{#    	{% endif %}#}
    {% endblock %}

    {% block menubar %}
    {% endblock %}


    {% block extra_js %}
        <!--<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>-->
        <!--<script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>-->
        <!--<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>-->
        <!--<script type="text/javascript"-->
                <!--src="{{ STATIC_URL }}bootstrap-v2/boostrap.min.js?v={{ settings.VERSION }}20140924"></script>-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}20140924"></script>
        <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/async.min.js"></script>
    {% endblock %}
    {% block extra_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css?v={{ settings.VERSION }}"
              type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css?v={{ settings.VERSION }}"
              type="text/css"/>
        <link href="{{ STATIC_URL }}css/kpi_editor.css?v={{ settings.VERSION }}" rel="stylesheet">
    {% endblock %}
    {% block content %}
        <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js">
        </script>

        <!--
        {% if not allow_edit %}
            {#    Ref:    http://stackoverflow.com/questions/14372690/temporarily-disable-all-events-in-javascript#}
            <div id="blockDiv">
                <p>
                    {% trans "Note: You don't have permission to edit this page." %}</p>
            </div>

            <script>
                $("#blockDiv").click(function (e) {
                    // stop propagation and prevent default by returning false
                    return false;
                });
            </script>

        {% endif %}
        -->

        {% trans "Overview company goals" as descTitle %}
        {% trans "Strategy Map" as titlePage %}
        {% include 'performance/nav_bar.html' with logoLink="img/csb/strategyIcon.png"|get_static %}

        <!-- PRINT EDIT -->
        <style>
            #container{
                background: #f9f9f9;
            }
        </style>
        <!-- END PRINT EDIT -->
        <div class="strategy-box">
            <div class="sellect-strategy">
                {% with map=map s_maps=s_maps org=organization %}
                    {% include "performance/bsc/map-v2/modules/strategy-map-navigation.html" %}
                {% endwith %}
            </div>
            <div class="pane-contain">
            	{% if not map.director_id %}
                <h4>
                    {% trans "Company Vision & Mission" %}
                </h4>
                {% endif %}
                {% include "performance/bsc/map-v2/strategy-map-main-content.html" %}
            </div>
        </div>

    {% endblock %}


