{% load i18n inplace_edit %}
{% load kpi manage_tag user_tags %}

{% inplace_static %}
<script type="text/javascript">
    var EventBus = new Vue({
        level: 'bus'
    });
    // This is for using event
    //console.log(EventBus)

</script>
<style>
    .dragArea {
        min-height: 50px;
    }

    .inplaceedit.textareainplaceedit {
        word-wrap: break-word;
    }
    .down-strategy .btn-normal {
        background-color: #fff;
        padding: 5px 15px;
    }
    .btn-white {
        background-color: #fff;
    }
    .font-normal {
        font-weight: normal;
    }
</style>
<div id="app">
    {#	{% if not map.director_id %}#}
    <div v-if="s_map.director === organization.ceo" class="strategy-com-box">
        <div class="rows-table-sm">
            <div class="col-sm-4 col-table-4">
                <div class="strategy_logo">
                    <img v-bind:src="organization.get_logo" class="img-responsive"/>
                </div>
            </div>
            <div class="col-sm-8 col-table-8">
                <div class="strategy-com-box-content">
                    <div class="strategy-map-company">{% inplace_edit "map.name" , adaptor="tiny" %}</div>

                    <div id="stategy-map-container">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE  == 'vi' %}
                            {% if allow_edit %}
                                {% inplace_edit "map.description" edit_empty_value='Mô tả ...', adaptor="tiny" %}
                            {% else %}
                                {{ map.description|safe }}
                            {% endif %}

                        {% else %}
                            {% if allow_edit %}
                                {% inplace_edit "map.description" edit_empty_value='Description...', adaptor="tiny" %}
                            {% else %}
                                {{ map.description|safe }}"
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    {% endif %}#}

    <div id="main-content" class="">
        <div class="top-toolbar" style="text-align:right;">
                        <h4 v-if="s_map.director === organization.ceo">{% trans "Strategy Map" %}</h4>
                        <h4 v-else>{% trans "Goal of" %} {{ map.director.profile.display_name }}</h4>
            <button class="btn btn-normal btn-collapse btn-white btn-cus-5-7 STM_BTN_CO" id="btn-collapse-group">
                <i class="material-icons font-16">remove</i>
                {% blocktrans %}Hide Group{% endblocktrans %}
            </button>

            <div class="clear"></div>
        </div>

        <div v-if="_bsc_groups" v-for="bsc_data,category in _bsc_groups" :class=" ' bsc-category-component'">
            <div :class="bsc_class[category] + ' bsc-category'" :data-bsc="category" :id="'id-' + category"
                 style="margin-top: 20px">
                <div class="rows-table-sm">
                    <div class="col-sm-2 col-table-2 strategy-first-col no-padding">
                        <div class="bsc-category-title">
                            <div class="category-weight" :id="'category-weight-' + category">
                                <span class="weight-value">
                                    ${ category_weight(category).toFixed(2) }$ <span class="font-normal">(${ to_percent(category_weight(category), total_weight) }$)</span>
                                </span>
                            </div>
                            <div style="display: table;margin: 0 auto;">
                                <div style="width: 137px;text-align: center;padding-bottom: 8px;">
                                    ${ category_name(category) }$ ${ current_quarter.year }$
                                </div>
                            </div>
                        </div>
                        {% if allow_edit %}
                            <div class="add_group">
                                <button :id="'btn-add-group-' + category"
                                        class="btn btn-normal btn-width-120 btn-cus-white STM_BTN_ADD_GROUP"
                                        style="padding:4px 10px" @click="add_group(category)">
                                    {% blocktrans %}Add Group{% endblocktrans %}</button>
                            </div>
                            <div class="add_kpi">
                                <button :id="'btn-add-kpi-' + category"
                                        class="btn btn-normal btn-width-120 btn-cus-white STM_BTN_ADD_KPI"
                                        style="padding:4px 10px" @click="create_kpi(category)">
                                    {% blocktrans %}Add KPI{% endblocktrans %}</button>
                            </div>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                    <div class="col-sm-10 col-table-10">
                        <div class="bsc-category-content">
                            <div class="group-container" style="display: block;column-gap: 0;">
                                <div v-for="group,group_index in bsc_data['group_kpis']" class="kpi-group"
                                     :id="'group-' + group.id">
                                    <div class="group-title-container">
                                        <div class="kpi-group-title">
                                            <div class=" group-weight">
                                                <span class="weight-value">${ group_weight(category,group).toFixed(2) }$ <span class="font-normal">(${ to_percent(group_weight(category,group), total_weight) }$)</span></span>
                                            </div>
                                            {% if allow_edit %}
                                                <div class="edit-group-box">
                                                    <div class="dropdown-toggle" data-toggle="dropdown" >
                                                        <i class="material-icons font-16">&#xE5D4;<!--more vert--></i>
                                                    </div>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <li class="STM_BTN_EDIT_GROUP">
                                                            <a class="STM_BTN_EDIT_GROUP"
                                                               @click="open_modal_edit_group(category,group)"
                                                               data-toggle="modal">
                                                                <i class="material-icons font-16">&#xE3C9;
                                                                    <!--edit--></i>
                                                                {% trans "Edit group" %}
                                                            </a>
                                                        </li>
                                                        <li class="STM_BTN_DEL_GROUP">
                                                            <a href="javascript:void(0)" class="remove-btn STM_BTN_DEL_GROUP"
                                                               @click="remove_group(category,group.id,group_index)">
                                                                <i class="material-icons font-16 remove">&#xE872;
                                                                    <!--delete--></i>
                                                                {% trans "Delete group" %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            <div class="group-title item-name" tooltip="">
                                                ${ group.name }$

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <ul class="list-goals" :data-group="group.id">
                                        <draggable v-model="group.kpis" class="dragArea" :options="{'group':'kpis'{% if not allow_edit %},'disabled':'True'{% endif %}}"
                                                   :move="checkMove"
                                                   @change="update_kpi_group($event, group)"
                                                   @start="start_update_group" @end="moveDone">
                                            <li style="transition: all 1s;" v-for="kpi,index in group.kpis"
                                                :data-kpi="kpi.id" :id="'id-kpi-' + kpi.id" :key="kpi.ordered">
                                                ${ mapping_group(kpi.id,group.id,category) }$
                                                <div class="clearfix" style="display: table;">
                                                    <div class="goal-content">
                                                        <div class="kpi-detail">
                                                            <div class="kpi-weight">
                                                                <span style="float:right;"></span>
                                                                ${ kpi.weight }$ <span class="font-normal">(${ to_percent(kpi.weight, total_weight) }$)</span>
                                                                {#                                        http://stackoverflow.com/questions/754520/what-is-the-actual-differences-between-i18n-l10n-g11n-and-specifically-what-does#}
                                                                {#                                        https://docs.djangoproject.com/en/1.10/topics/i18n/formatting/#unlocalize#}
                                                            </div>
                                                            <div class="item-name">
                                                                {% language 'en' %}
                                                                    <b>${ kpi.prefix_id|prefix_bsc }$${ kpi.ordering
                                                                        }$</b> -
                                                                {% endlanguage %}
                                                                ${ kpi.name|prettify_text }$
                                                            </div>
                                                            {% if allow_edit %}
                                                                <div class="edit-group-box">
                                                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                                                        <i class="material-icons font-16">&#xE5D4;
                                                                            <!--more vert--></i>
                                                                    </div>
                                                                    <ul class="dropdown-menu"
                                                                        aria-labelledby="dropdownMenu2">
                                                                        <li class="STM_BTN_EDIT_KPI">
                                                                            <a class="edit-kpi STM_BTN_EDIT_KPI"
                                                                               @click="open_modal_edit_kpi(category,kpi);">
                                                                                <i class="material-icons font-16">&#xE3C9;
                                                                                    <!--edit--></i>
                                                                                {% trans "Edit KPI" %}
                                                                            </a>
                                                                        </li>
                                                                        <li class="STM_BTN_DEL_KPI">
                                                                            <a class="remove-kpi STM_BTN_DEL_KPI"
                                                                               @click="remove_kpi(category,kpi.id,'group_kpis',group_index)">
                                                                                <i class="material-icons font-16 remove">&#xE872;
                                                                                    <!--delete--></i>
                                                                                {% trans "Delete KPI" %}
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            {% endif %}
                                                            <div v-if="kpi.description != null && kpi.description.trim().length > 0"
                                                                 v-settooltip class="edit-group-box goal-desc-tooltip">
                                                                <span class="tooltip-content">
                                                                    ${ kpi.description|trim|prettify_text }$
                                                                </span>
                                                                <i class="material-icons font-16">&#xE88F;
                                                                    <!--info outline--></i>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                        </draggable>
                                    </ul>
                                    <p style="color: whitesmoke">#${ group.id }$</p>
                                </div>
                            </div>
                            <div class="ungroup-kpis" style="">
                                <ul v-for="group,group_index in bsc_data['ungroup_kpis']" class="list-goals"
                                    data-group=''>
                                    <draggable v-model="group.kpis" class="dragArea" :options="{'group':'kpis'}{% if not allow_edit %},'disabled':'True'{% endif %}"
                                               :move="checkMove"
                                               :group-id="group.id" @change="update_kpi_group($event, group)"
                                               @start="start_update_group" @end="moveDone">
                                        <li v-for="kpi,index in group.kpis" :data-kpi="kpi.id" :id="'id-kpi-'+  kpi.id">
                                            ${ mapping_group(kpi.id,group.undefined,category) }$
                                            <div class="clearfix" style="display: table;">
                                                <div class="goal-content">
                                                    <div class="kpi-detail">
                                                        <div class="kpi-weight">
                                                            <span style="float:right;"></span>
                                                            ${ kpi.weight }$ <span class="font-normal">(${ to_percent(kpi.weight, total_weight) }$)</span>
                                                        </div>
                                                        <div class="item-name">
                                                            {% language 'en' %}
                                                                <b>${ kpi.prefix_id|prefix_bsc }$${ kpi.ordering }$</b>-
                                                            {% endlanguage %}
                                                            ${ kpi.name|prettify_text }$
                                                        </div>
                                                        {% if allow_edit %}
                                                            <div class="edit-group-box">
                                                                <div class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="material-icons font-16">&#xE5D4;
                                                                        <!--more vert--></i>
                                                                </div>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenu2">
                                                                    <li>
                                                                        <a class="edit-kpi"
                                                                           @click="open_modal_edit_kpi(category,kpi)">
                                                                            <i class="material-icons font-16">&#xE3C9;
                                                                                <!--edit--></i>
                                                                            {% trans "Edit KPI" %}
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="remove-kpi"
                                                                           @click="remove_kpi(category,kpi.id,'ungroup_kpis',group_index)">
                                                                            <i class="material-icons font-16 remove">&#xE872;
                                                                                <!--delete--></i>
                                                                            {% trans "Delete KPI" %}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        {% endif %}
                                                        <div v-if="kpi.description != null && kpi.description.trim().length > 0"
                                                             v-settooltip class="edit-group-box goal-desc-tooltip">
                                                                <span class="tooltip-content">
                                                                    ${ kpi.description|trim|prettify_text }$
                                                                </span>
                                                            <i class="material-icons font-16">&#xE88F;
                                                                <!--info outline--></i>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    </draggable>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
    </div>
    <div class="alert alert-success fade-alert "
         style="display:none;position:fixed;right:10px;top: 10px;z-index: 999999;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{% trans "Successful" %}!</strong> {% trans "The data has been updated" %}.
    </div>
    <div class="alert alert-danger fade-alert "
         style="display: none;position:fixed;right:10px;top: 10px;z-index: 999999;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{% trans "Error" %}, </strong> {% trans "group's name cannot be empty" %}!.
    </div>

    <div id="edit-modal-group" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="edit-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" :style="'background-color:'+ color">
                    <div id="edit-group-label"
                         :style="'color:white;background-color:'+color+';font-size:30px;width:90%;border:none;text-align:center'"></div>
                </div>
                <div class="modal-body" style="text-align:left">
                    <label for="text"
                           style="font-size:30px;text-align:left;display:none ">{% trans "Group name" %}</label>
                    <input autofocus id="edit-namegr" type="text"
                           style="font-size:30px;min-height: 35px;width:98%;margin-top:10px" v-model="group_temp.name"
                           maxlength="100">
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                            @click="reset_modal()">{% trans "Close" %}</button>
                    <button id="btn-update-group" class="btn btn-primary"
                            @click="update_group_information()">{% trans "Update " %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-modal-kpi" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="edit-kpi-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" :style="'background-color:'+ color">
                    <div id="edit-kpi-label"
                         :style="'color:white;background-color:'+color+';font-size:30px;width:90%;border:none;text-align:center'"></div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:20%">{% trans "KPI Code (Max 4 characters)" %}</th>
                                <th>{% trans "KPI Name" %}</th>
                                <th style="width:10%">{% trans "Weighting" %}</th>
                                <th>{% trans "Description" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span>${ kpi_temp.prefix_id|prefix_bsc }$     </span> <input class="form-control"
                                                                                                 v-model=kpi_temp.ordering
                                                                                                 type="number"
                                                                                                 style="display: inline-block;margin-top: 8=0px;width:40%;margin-left:0px">
                                    <div v-if="kpi_temp.ordering && kpi_temp.ordering.toString().length > 3">
                                <span style="color:darkred;font-size: 10px;font-weight: bold;">{% trans "KPI Code ${ kpi_temp.prefix_id|prefix_bsc }$${ kpi_temp.ordering }$ too long (more than 4 characters), just take 4 characters" %}

                                    </div>
                                </td>
                                <!-- Limit length 500 -->
                                <td><input class="form-control" id="kpi-name" v-model=kpi_temp.name type="text"
                                           style="width:90%" maxlength="500"></td>
                                <td>
                                    <input class="form-control" v-model=kpi_temp.weight type="number" step="any"
                                           style="width:80% "></td>
                                <td>
                                    <textarea class="form-control" v-model=kpi_temp.description id="kpi-content"
                                              class="form-control" rows="5" maxlength="1000"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                            @click="reset_modal()">{% trans "Close" %}</button>
                    <button id="btn-update-kpi" class="btn btn-primary"
                            @click="update_kpi_information()">{% trans "Update" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#btn-collapse-group').click(function () {
            if ($('#main-content').is('.group-collapse')) {
                $('#main-content').removeClass('group-collapse');
                $('#btn-collapse-group').html('<i class="material-icons font-16">remove</i> {% trans "Hide Group" %}');
            } else {
                $('#main-content').addClass('group-collapse');
                $('#btn-collapse-group').html('<i class="material-icons font-16">drag_handle</i> {% trans "Show Group" %}');
            }

            {#            $('.group-container').elasticColumns('refresh');#}
        });
    });
</script>


<script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/Sortable/Sortable.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}v5/bower_components/vue.draggable/dist/vuedraggable.min.js"></script>
<script  src="{{ STATIC_URL }}todo/detail-task/js/vuex-globle-parameter.js"></script>

<script type="text/javascript">
    function cloneObject(object){
        return JSON.parse(JSON.stringify(object))
    }
    const router = new VueRouter();
    var app = new Vue({
        el: '#app',
        level: 'root',
        router: router,
        data: {
            color: '',
            varri: '',
            namegr: '',
            cate: [],
            groups: {},
            ungroup: {},
            export_search: false,
            debug: true,
            group_id: '',
            kpi_id: '',
            bsc_category_ready: false,
            organization: {},
            current_quarter: {},
            s_map: {},
            bsc_groups: {},
            bsc_class: {
                'internal': 'internal-process',
                'financial': 'financial',
                'customer': 'customer',
                'learninggrowth': 'learn-growth'
            },
            bsc_order: {
                'financial': 1,
                'customer': 2,
                'internal': 3,
                'learninggrowth': 4
            },
            map_group: {},
            old_group: {},
            group_temp: {},
            kpi_temp: {},
            unit: { // this is to trigger reorder event
                'financial': 0,
                'customer': 0,
                'internal': 0,
                'learninggrowth': 0
            },
            smap_hash: "{{ map.hash }}",

        },
        computed: {
            //https://vuex.vuejs.org/guide/modules.html
            userActor: function(){
                var self = this;
                return self.$store.getters.userActor
            },
            organization: function(){
                var self = this;
                return self.$store.getters.organization
            },
            _bsc_groups: function () {
                var that = this
                var result = {}
                for (var key in that.bsc_order) {
                    result[key] = that.bsc_groups[key];
                    if (that.bsc_groups[key] === undefined) {
                        return false;
                    }
                }
                return result;
            },
            total_weight: function () {
                var _this = this;
                total = 0;
                Object.keys(this.bsc_order).forEach(function (bsc) {
                    total += _this.category_weight(bsc);
                })
                return total;
            }
        },
        watch: {
            'bsc_groups': {
                handler: function () {

                }
            },
            'unit': {
                handler: function (oldVal, newVal) {
                    var that = this;
                    // To check progress of every bsc group, if anygroup is fully loaded, then re order bsc group
                    try {
                        for (var key in that.unit) {
                            if (that.bsc_groups[key].group_kpis.length === that.unit[key]) {
                                that.$emit('reorder_group', key)
                            }
                        }
                    } catch (e) {
                        console.log(e)
                    }

                },
                deep: true
            }
        },
        filters: {
            'prefix_bsc': function (prefix_id) {
                if (prefix_id)
                    return prefix_id[0];
                else return prefix_id;
            },
            'trim': function (description) {
                if (description != null) {
                    return description.trim();
                    //console.log(description)
                }
                return description;
            },
            'prettify_text': function (text) {
                var regex = /<br\s*[\/]?>/gi;
                if (text)
                    return text.replace(regex, "\n");
                else return text;
            },
        },
        delimiters: ['${', '}$'],
        methods: {
            fetchUserActor: function(){
                var self = this;
                cloudjetRequest.ajax({
                    url: '/api/profile/',
                    success: function(data){
                        self.$store.dispatch('userActorActions',data)
                    }
                })
            },
            fetchOrganization: function(){
                var self = this;
                cloudjetRequest.ajax({
                    url: '/api/v2/organization/',
                    success: function(data){
                        self.$store.dispatch('organizationActions',data)
                    }
                })
            },
            to_percent: function (val, total) {
                if (total == 0) {
                    return "0.00%";
                }
                return (val / total * 100).toFixed(2) + "%";
            },
            sort_group_with_lowest_kpi_ordering: function (bsc_category) {
                var that = this;
                // This is gonna be called when bsc_group is fully loaded
                var _result = jQuery.extend(true, {}, that.bsc_groups[bsc_category])
                _result.group_kpis.sort(function (g1, g2) {
                    var _g1 = 0;
                    var _g2 = 0;
                    if (g1.kpis.length > 0) {
                        {#                        g1.kpis = that.sort_kpi_with_lowest_ordering(g1.kpis);#} // No need to sort here
                        _g1 = g1.kpis[0].ordering;
                    }
                    if (g2.kpis.length > 0) {
                        {#                        g2.kpis = that.sort_kpi_with_lowest_ordering(g2.kpis);#} // no need to sort here
                        _g2 = g2.kpis[0].ordering;
                    }
                    return _g1 - _g2;
                })
                return _result;
            },
            sort_kpi_with_lowest_ordering: function (kpi_list) {
                // This is gonna be called when group kpi is fully loaded
                var that = this;
                var _result = kpi_list.slice()
                _result.sort(function (k1, k2) {
                    return k1.ordered - k2.ordered
                })
                return _result;
            },
            get_kpi_place: function (bsc_category, group_id, kpi_id) {
                var that = this;
                if (group_id !== undefined) {
                    var group_index = that.bsc_groups[bsc_category].group_kpis.map(function (group) {
                        return group.id
                    }).indexOf(group_id);
                    var kpi_index = that.bsc_groups[bsc_category].group_kpis[group_index].kpis.map(function (kpi) {
                        return kpi.id
                    }).indexOf(kpi_id);
                    return {
                        group_index: group_index,
                        kpi_index: kpi_index
                    }
                } else {
                    var kpi_index = that.bsc_groups[bsc_category].ungroup_kpis[0].kpis.map(function (kpi) {
                        return kpi.id
                    }).indexOf(kpi_id);
                    return {
                        group_index: 0,
                        kpi_index: kpi_index
                    }
                }
            },
            update_kpi_information: function () {
                var that = this;
                var data = JSON.stringify({
                    'id': that.kpi_temp.id,
                    "name": that.kpi_temp.name,
                    "weight": that.kpi_temp.weight,
                    "description": that.kpi_temp.description,
                    "ordering": that.kpi_temp.ordering.toString().slice(0, 3),
                });
                cloudjetRequest.ajax({
                    url: '{% url "api_v2.kpi" %}',
                    type: 'post',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        var kpi_data = data;
                        $(".alert-success").addClass("in");

                        // Get group_id and bsc_category
                        var bsc_category = that.map_group[kpi_data.id].bsc_category;

                        // if group_id is undefined, which means kpi is in ungroup block
                        if (that.map_group[kpi_data.id].group_id !== undefined) {
                            var group_id = that.map_group[kpi_data.id].group_id;


                            // get kpi place
                            var kpi_place = that.get_kpi_place(bsc_category, group_id, kpi_data.id);

                            // Update kpi
                            that.$set(that.bsc_groups[bsc_category]['group_kpis'][kpi_place.group_index].kpis, kpi_place.kpi_index, kpi_data)
                        }
                        else {
                            // kpi ungroup
                            var kpi_place = that.get_kpi_place(bsc_category, group_id, kpi_data.id);
                            that.$set(that.bsc_groups[bsc_category]['ungroup_kpis'][kpi_place.group_index].kpis, kpi_place.kpi_index, kpi_data)

                        }

                        that.reset_modal()
                        setTimeout(function () {
                            $(".alert-success").removeClass("in").addClass("out");
                        }, 1000);
                        //that.set_tooltip();
                    },
                    error: function (res) {
                        // ajaxerror_handler(res);
                    }
                });

            },
            set_tooltip: function () {

                $('.goal-desc-tooltip').each(function () {
                    var txt = $(this).children('.tooltip-content').text();
                    if (txt != null) {
                        txt = txt.trim();
                    }
                    $(this).qtip({
                        content: {
                            text: txt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
                        },
                        style: {
                            classes: 'qtip-green'
                        },
                        position: {
                            my: 'bottom right',  // Position my top left...
                            at: 'bottom left', // at the bottom right of...
                            target: $(this) // my target
                        }
                    })
                });
            },
            reset_modal: function () {
                var that = this;
                $('#edit-modal-group').modal('hide');
                $('#edit-modal-kpi').modal('hide');
                that.group_temp = {};
                that.kpi_temp = {};
            },
            update_group_information: function () {
                var that = this;
                var _data = {
                    'action': 'create_group',
                    'smap_id': that.s_map.id,
                    'category': that.group_temp.category,
                    'id': that.group_temp.id,
                    'name': that.group_temp.name
                }
                cloudjetRequest.ajax({
                    url: CREATE_GROUP_URL,
                    type: 'post',
                    {#data: 'action=create_group&smap_id=' + that.s_map.id + '&category=' + that.group_temp.category +'&id='+that.group_temp.id+'&name='+that.group_temp.name,#}
                    data: _data,
                    dataType: 'json',
                    success: function (data) {
                        {#                $('#group-'+id).find('.group-title-container .kpi-group-title').find('.item-name').html(name);#}
                        {#                        that.getGroup()#}
                        that.reset_modal()
                        var group_index = that.bsc_groups[data.category].group_kpis.map(function (group) {
                            return group.id
                        }).indexOf(data.id)
                        that.$set(that.bsc_groups[data.category].group_kpis[group_index], 'name', data.name)
                        {#                        console.log(data)#}

                        $(".alert-success").addClass("in");
                        setTimeout(function () {
                            $(".alert-success").removeClass("in").addClass("out");
                        }, 1000);
                    },
                    error: function (res) {
                        console.log('Failed!');
                        // ajaxerror_handler(res);
                    }
                });
            },
            start_update_group: function (event) {
                // Important: start change group, then update old_group
                // only update old_group
                var that = this;
                var kpi_id = $(event.item).attr('data-kpi')
                var old_group_mapped = that.map_group[kpi_id]
                // Important step: building old group mapping
                that.$set(that.old_group, kpi_id, old_group_mapped)
            },
            mapping_group: function (kpi_id, group_id, bsc_category) {
                // Note: generate new map group when bsc_groups changed
                var that = this;
                that.map_group[kpi_id] = {
                    group_id: group_id,
                    bsc_category: bsc_category
                }
                that.$set(that, 'map_group', that.map_group)
            },
            update_kpi_group: function (event, group) {
                // When updated group kpi, rebuild map kpi
                var that = this

                if (event.added) {
                    var kpi_id = event.added.element.id;

                    // Extract old group id and old bsc_category
                    // In case not in group_kpis
                    var old_group_id = null;
                    var old_bsc_category = null;
                    // In case in group_kpis
                    if (that.old_group[kpi_id]) {
                        old_group_id = that.old_group[kpi_id].group_id
                        old_bsc_category = that.old_group[kpi_id].bsc_category
                    }
                    //console.log('old group: ' + old_group_id)
                    //console.log('old bsc_category: ' + old_bsc_category)

                    // Extract new group id, important: must extract from ui
                    var new_group_id = $('#id-kpi-' + kpi_id).parent().parent().attr('data-group');
                    var new_bsc_category = $('#id-kpi-' + kpi_id).parent().parent().closest('.bsc-category').attr('data-bsc');
                    //console.log('new_bsc_category ' + new_bsc_category)
                    //console.log("new group: " + new_group_id)

                    // Important: rebuild new group mapping,new bsc_category
                    that.mapping_group(kpi_id, new_group_id, new_bsc_category)

                    // now is to pull new data
                    that.update_group_kpi(kpi_id, old_group_id, new_group_id, new_bsc_category)
                    that.update_order(group.kpis)
                } else if (event.moved) {
                    that.update_order(group.kpis)
                }
            },

            update_order: function (kpis) {
                var kpi_ids = []
                kpis.forEach(function (kpi) {
                    kpi_ids.push(kpi.id);
                })
                var data = {
                    kpi_ids: JSON.stringify(kpi_ids)
                }

                cloudjetRequest.ajax({
                    url: "{% url 'order_kpi' %}",
                    type: 'post',
                    data: data,
                    success: function (response) {
                        console.log('ok')
                    },
                    error: function () {
                        console.log("Order Error");
                        // ajaxerror_handler(res);
                    }
                });

            },
            category_name: function (category) {
                switch (category) {
                    case 'financial':
                        return ('{% trans  "FINANCIAL" %}').toUpperCase()
                    case 'customer':
                        return ('{% trans 'customer' %}').toUpperCase()
                    case 'internal':
                        return ('{% trans 'INTERNAL PROCESS' %}').toUpperCase()
                    case 'learninggrowth':
                        return ('{% trans 'Learn & Growth' %}').toUpperCase()
                    default:
                        break;
                }
            },
            group_weight: function (bsc_category, group) {
                var that = this;
                //console.log(group)
                try {
                    var _total_group_weight = group.kpis.reduce(function (prevValue, elem) {
                        return prevValue + parseFloat(elem.weight);
                    }, parseFloat(0))

                    var total_group_weight = parseFloat(isNaN(_total_group_weight) ? 0 : _total_group_weight);

                } catch (e) {
                    var total_group_weight = parseFloat(0);
                    console.log(e.toString())
                }
                return total_group_weight;
            },
            category_weight: function (bsc_category) {
                //console.log(bsc_category)
                var that = this;
                var total_weight = parseFloat(0);
                var bsc_data = that.bsc_groups[bsc_category];
                try {
                    var _total_group_weight = bsc_data.group_kpis.reduce(function (prevValue, group) {
                        return parseFloat(that.group_weight(bsc_category, group)) + prevValue;
                    }, parseFloat(0))
                    var total_group_weight = parseFloat(isNaN(_total_group_weight) ? 0 : _total_group_weight);
                } catch (e) {
                    var total_group_weight = parseFloat(0);
                    console.log(e.toString())

                }
                try {
                    var _total_ungroup_weight = bsc_data.ungroup_kpis.reduce(function (prevValue, group) {
                        return parseFloat(that.group_weight(bsc_category, group)) + prevValue;
                    }, parseFloat(0))
                    var total_ungroup_weight = parseFloat(isNaN(_total_ungroup_weight) ? 0 : _total_ungroup_weight);
                } catch (e) {
                    var total_ungroup_weight = parseFloat(0);
                    console.log(e.toString())
                }
                total_weight = total_group_weight + total_ungroup_weight;
                //console.log(total_weight)
                //console.log(total_ungroup_weight)
                //console.log(total_group_weight)
                //console.log(isNaN(total_weight))
                return total_weight;
            },
            remove_group: function (bsc_category, group_id, group_index) {
                var that = this;
                swal({
                    title: "{% trans "Group deleted can not be restored" %}",
                    text: "{% trans "Are you sure?" %}",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "{% trans "Cancel" %}",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans "OK" %}",
                    closeOnConfirm: false
                }, function () {
                    cloudjetRequest.ajax({
                        url: DELETE_GROUP_URL,
                        type: 'post',
                        data: {group_id: group_id, action: 'delete_group'},
                        success: function (response) {
                            if (!response.error) {
                                //  that._getGroup(bsc_category);
                            }
                            that.bsc_groups[bsc_category].group_kpis.splice(group_index, 1);
                            console.log('ok');
                            swal("{% trans "Success" %}", "{% trans "Group is successfully deleted" %}", "success");
                        },
                        error: function (res) {
                            swal("{% trans "Unsuccess" %}", res.responseJSON ? res.responseJSON.message : '{% trans "Can not delete group" %}', "error");
                            // ajaxerror_handler(res);
                        }
                    });
                });
            },
            open_modal_edit_group: function (bsc_category, group) {
                var that = this;

                if (bsc_category == 'financial') {
                    that.color = "#ff5c00";
                }
                if (bsc_category == 'customer') {
                    that.color = "#00a2dd";
                }
                if (bsc_category == 'internal') {
                    that.color = "#54A413";
                }
                if (bsc_category == 'learninggrowth') {
                    that.color = "#d79f00";
                }
                var group_cloned = jQuery.extend(true, {}, group);// avoid data cannot rollback

                that.$set(that, 'group_temp', group_cloned)
                $('#edit-modal-group').modal('show');
            },
            open_modal_edit_kpi: function (bsc_category, kpi) {
                var that = this;
                that.color = "#eee";
                if (bsc_category == 'financial') {
                    that.color = "#ff5c00";
                }
                if (bsc_category == 'customer') {
                    that.color = "#00a2dd";
                }
                if (bsc_category == 'internal') {
                    that.color = "#54A413";
                }
                if (bsc_category == 'learninggrowth') {
                    that.color = "#d79f00";
                }

                var kpi_cloned = jQuery.extend(true, {}, kpi);// avoid data cannot rollback
                that.$set(that, 'kpi_temp', kpi_cloned)
                $('#edit-modal-kpi').modal('show');
            },
            remove_kpi: function (bsc_category, kpi_id, type, group_index) {
                var that = this;
                swal({
                    title: "{% trans "KPI deleted can not be restored" %}",
                    text: "{% trans "Are you sure?" %}",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "{% trans "Cancel" %}",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans "OK" %}",
                    closeOnConfirm: false
                }, function () {
                    cloudjetRequest.ajax({
                        url: '/api/v2/kpi/',
                        type: 'delete',
                        dataType: 'json',
                        data: JSON.stringify({kpi_id: kpi_id}),
                        success: function (response) {
                            if (!response.error) {
                                {#                                $("#id-kpi-" + kpi_id).remove();#}
                                {#                                that.trigger_pull_bsc_data();#}
                                {#                                console.log(type)#}
                                var kpi_index = that.bsc_groups[bsc_category][type][group_index].kpis.map(function (elem) {
                                    return elem.id
                                }).indexOf(kpi_id);

                                console.log(kpi_index)
                                that.bsc_groups[bsc_category][type][group_index].kpis.splice(kpi_index, 1);

                                that.$set(that.bsc_groups[bsc_category], type, that.bsc_groups[bsc_category][type]);
                                console.log('ok')
                                {#                                that.getGroup();#}
                                swal("{% trans "Success" %}", "{% trans "KPI is successfully deleted" %}", "success");
                            }
                        },
                        error: function (res) {
                            swal("{% trans "Unsuccess" %}", res.responseJSON ? res.responseJSON.message : '{% trans "Can not delete KPI" %}', "error");
                            // ajaxerror_handler(res);
                        }
                    });
                });
            },
            add_group: function (bsc_category) {
                var that = this;
                cloudjetRequest.ajax({
                    url: CREATE_GROUP_URL,
                    type: 'post',
                    data: 'action=create_group&smap_id=' + that.s_map.id + '&category=' + bsc_category,
                    dataType: 'json',
                    success: function (data) {
                        {#                        location.reload();#}
                        {#                        console.log(jsonObj)#}
                        {#                        that.getGroup()#}
                        var group_kpis = that.bsc_groups[bsc_category].group_kpis;
                        group_kpis.push(data)
                        that.$set(that.bsc_groups[bsc_category], 'group_kpis', group_kpis)
                    },
                    error: function (res) {
                        console.log('Add group failed!');
                        // ajaxerror_handler(res); Why lo
                    }
                });
            },
            create_kpi: function (bsc_category) {
                var that = this;
                cloudjetRequest.ajax({
                    url: '/api/v2/kpi/create/',
                    type: 'post',
                    data: JSON.stringify({
                        org_id: that.organization.id,
                        smap_id: that.s_map.id,
                        strategymap: true,
                        category: bsc_category
                    }),
                    dataType: 'json',
                    success: function (data) {
                        {#                        location.reload();#}
                        {#                        that.trigger_pull_bsc_data();#}
                        {#                        that.getGroup()#}
                        that.bsc_groups[bsc_category].ungroup_kpis[0].kpis.push(data);
                        // var tmp = that.bsc_groups[bsc_category].ungroup_kpis[0].kpis;
                        //     tmp.push(data);
                        // that.$set(that.bsc_groups[bsc_category].ungroup_kpis[0],'kpis',tmp);
                        //console.log(ungroup_kpis)
                        //ungroup_kpis.push(data)
                        // that.$set(that.bsc_groups[bsc_category], ungroup_kpis)
                        // {#                        console.log(jsonObj)#}
                    },
                    error: function (res) {
                        // ajaxerror_handler(res);
                    }
                });
            },

            fetchGroupData: function (group, bsc_category) {
                var self = this;
                cloudjetRequest.ajax({
                    method: "GET",
                    url: "/api/v2/strategy-map/group/" + group.id + "/kpis/?include_children=false",

                    success: function (data) {
                        if (data) {
                            var result = self.sort_kpi_with_lowest_ordering(data) // Sort kpi with lowest ordering
                            var group_index = self.bsc_groups[bsc_category].group_kpis.map(function (_group) {
                                return _group.id
                            }).indexOf(group.id)
                            self.$set(self.bsc_groups[bsc_category].group_kpis[group_index], 'kpis', result);


                            // Reorder group

                            {#                            var bsc_group = that.sort_group_with_lowest_kpi_ordering(bsc_category);#}
                            {#                            self.$emit('reorder_group',bsc_category);#}
                            self.$set(self.unit, bsc_category, self.unit[bsc_category] + 1)
                            //console.log('=== fetching group data ===')
                            //console.log(data)
                        }
                    },
                    error: function () {
                        console.error('strategy-map-main-content:1029');
                        //  alert('error');
                        {#                        $('body').loading('stop');#}
                    }
                })
            },
            getGroup: function () {
                console.info('get financial groups');
                this._getGroup('financial');
                this._getGroup('customer');
                this._getGroup('internal');
                this._getGroup('learninggrowth');
            },

            _getGroup: function (bsc_category) {
                var self = this;
                cloudjetRequest.ajax({
                    method: "GET",
                    url: "/api/v2/strategy-map/group/",

                    data: {
                        'hash': $("#hash").val(),
                        'bsc_category': bsc_category,
                        'include_kpi': false
                    },

                    success: function (data) {
                        if (data) {
                            self.$set(self.bsc_groups, bsc_category, data[bsc_category]);
                            console.info('==== self.bsc_groups ====');
                            console.info(self.bsc_groups);
                            // Get group data
                            if (self.bsc_groups[bsc_category].group_kpis) {
                                async.map(self.bsc_groups[bsc_category].group_kpis, function (group, callback) {
                                    self.fetchGroupData(group, bsc_category);
                                    callback(null, 'no-need-to-return-data')
                                }, function (err, results) {
                                    {#                                    console.log(err)#}
                                    {#                                    console.log(result)#}
                                    console.log("========== done getting group ==========")
                                })
                            }
                        }
                    },
                    error: function () {
                        console.error('strategy-map-main-content:1074');
                        //alert('error');
                        {#                        $('body').loading('stop');#}
                    }
                })
            },
            getdata: function (id) {
                if ($.inArray("'" + id + "'", self.listid) == "-1") {
                    self.listid = "'" + id + "'";
                }

            },
            update_group_kpi: function (kpi_id, old_group_id, new_group_id, new_bsc_category) {
                var that = this;
                var data = {
                    'old_group_id': old_group_id,
                    'new_group_id': new_group_id,
                    'kpi_id': kpi_id,
                    'new_bsc_category': new_bsc_category,
                    'action': 'update_group'
                };

                cloudjetRequest.ajax({
                    url: UPDATE_GROUP_URL,
                    type: 'post',
                    data: data,
                    success: function (response) {
                        var _new_group_id = parseInt(new_group_id);
                        var group_index = 0;
                        if (!isNaN(_new_group_id)) {
                            group_index = that.bsc_groups[new_bsc_category].group_kpis.map(function (group) {
                                return group.id
                            }).indexOf(_new_group_id)
                            var _kpi_id = parseInt(kpi_id);
                            var kpi_index = that.bsc_groups[new_bsc_category].group_kpis[group_index].kpis.map(function (kpi) {
                                return kpi.id
                            }).indexOf(_kpi_id);
                            that.$set(that.bsc_groups[new_bsc_category].group_kpis[group_index].kpis, kpi_index, response)
                        } else {
                            var _kpi_id = parseInt(kpi_id);
                            var kpi_index = that.bsc_groups[new_bsc_category].ungroup_kpis[group_index].kpis.map(function (kpi) {
                                return kpi.id
                            }).indexOf(_kpi_id);
                            that.$set(that.bsc_groups[new_bsc_category].ungroup_kpis[group_index].kpis, kpi_index, response)
                        }

                    },
                    error: function (jqXHR, exception) {
                        alert(jqXHR.responseText);
                        // ajaxerror_handler(res);
                    }
                });
            },

            get_current_organization: function () {
                var that = this;
                cloudjetRequest.ajax({
                    type: 'get',
                    url: '{% url 'organizationAPI' %}',
                    success: function (data) {
                        that.$set(that, 'organization', data);
                        // Dispatch event for children
                        EventBus.$emit('fetchOrganizationData', data)
                    },
                    error: function () {
                        alert('error getting organization');
                    },
                    complete: function () {

                    }
                });

            },
            get_current_quarter: function () {
                var that = this;
                cloudjetRequest.ajax({
                    type: 'get',
                    url: '{% url 'quarter' %}?get_current_quarter=yes',
                    success: function (data) {

                        that.$set(that, 'current_quarter', data['fields']);

                    },
                    error: function () {
                        // alert('error');
                        console.error('strategy-map-main-content:1158');
                    },
                    complete: function (data) {
                        $('.add_kpi').show();
                    }
                });
            },
            get_strategy_map: function () {
                var that = this;
                cloudjetRequest.ajax({
                    type: 'get',
                    url: '/api/v2/strategy-map/?hash=' + $("#hash").val(),
                    success: function (data) {
                        that.$set(that, 's_map', data);
                    },
                    error: function () {
                        //  alert('error');
                        console.error('strategy-map-main-content:1176');
                    }
                });
            },
        },
        created: function () {
            var that = this;

            that.$on('reorder_group', function (bsc_category) {
                // This is for reordering bsc_category when bsc_cateogry is fully loaded
                var result = that.sort_group_with_lowest_kpi_ordering(bsc_category);
                that.$set(that.bsc_groups, bsc_category, result)
            })

            that.get_current_organization();
            that.get_current_quarter();
            that.get_strategy_map();
            that.getGroup();
        },
        mounted: function () {
            var self = this;
            self.fetchUserActor()
            self.fetchOrganization()
        }
    });

    Vue.directive('settooltip', function (el) {
        var txt = $(el).children('.tooltip-content').text();
        if (txt != null || txt.length > 0) {
            txt = txt.trim();
        }

        $(el).qtip({
            content: {
                text: txt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
            },
            style: {
                classes: 'qtip-green'
            },
            position: {
                my: 'bottom center',  // Position my top left...
                at: 'top center', // at the bottom right of...
                target: $(el) // my target
            }
        });
    });

    $.fn.get_text = function () {
        var text = $(this)
            .clone()    //clone the element
            .children() //select all the children
            .remove()   //remove all the children
            .end()  //again go back to selected element
            .text();
        return text;
    };
</script>


<script type="text/javascript">
    var UPDATE_GROUP_URL = '',
        DELETE_GROUP_URL = '',
        DELETE_KPI_URL = '',
        CREATE_GROUP_URL = '',
        CREATE_KPI_URL = '',
        CREATE_STRATEGY_MAP_URL = '';

    UPDATE_GROUP_URL = '{% url "api_strategymap" %}';
    DELETE_GROUP_URL = '{% url "api_strategymap" %}';
    DELETE_KPI_URL = '{% url "api_strategymap" %}';
    CREATE_GROUP_URL = '{% url "api_strategymap" %}';
    CREATE_KPI_URL = '{% url "api_strategymap" %}';
    CREATE_STRATEGY_MAP_URL = '{% url "api_strategymap" %}';
    UPDATE_INFO_URL = '{% url "api_strategymap" %}';


    function ajaxerror_handler(res) {
        if (res.status == 403) {
            location.href = '/logout';
        }
        //console.log('create_kpi failed!');
    }

    function enable_edit_kpi() {
        cloudjetRequest.ajax({
            url: "{% url 'enable-edit-kpi' %}",
            type: 'post',
            data: {sm: true},
            success: function (response) {
                if (response == "ok") {
                    location.reload();
                }
                console.log('ok')
            },
            error: function () {
                alert("Something wrong. Please try again.");
                ajaxerror_handler(res);
            }
        });

    }

</script>

<script type="text/javascript">
    function checkMove() {
        $('.navbar.navbar-default.navbar-static-top.navbar-fixed-top').css('position','absolute');
    }
    function moveDone(){
        $('.navbar.navbar-default.navbar-static-top.navbar-fixed-top').css('position','fixed');
    }
</script>

