{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h1>{% blocktrans %}KPI Name Here{% endblocktrans %}</h1>

<!--<img src="https://s3.amazonaws.com/f.cl.ly/items/3d1s1Q0S2r2U220k003u/Screen%20Shot%202015-04-04%20at%2011.52.56%20PM.png"/>-->

<h2>{% blocktrans %}Add new data{% endblocktrans %}</h2>
<table class="table">

    <tr>
        <td>Date</td>
        <td>
            April 4, 2015
        </td>
    </tr>
    <tr>
         <td>Value</td>
        <td>
            <input />
        </td>
    </tr>
</table>

</body>
</html>