{% extends 'v5/base_import.html' %}
{% load i18n %}
{% load inplace_edit %}

{% block title %}{{ block.super }}{% endblock %}

{% block extra_css %}
    {% inplace_static %}
{% endblock %}

{% block content %}

    <script type="text/x-template" id="home-template">
        <div>

            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="month_dest">
                            Chọn tháng dữ liệu nguồn
                        </label>
                        <input type="text" name="daterange" class="form-control" value="01/01/2015 - 01/31/2015"/>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="month_dest">
                            Chọn tháng dữ liệu đến
                        </label>
                        <select class="form-control" v-model="month_dest">
                            <option value=" " v-for="month in months" v-bind:value="month.order">
                                ${ month.name }$
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr class="table-header" style="font-weight:bold;">
                        <td>ID</td>
                        <td>Code</td>
                        <td>Tên dịch vụ</td>
                        <td>Thao tác</td>
                        <td>Mô tả</td>
                    </tr>
                    <tr v-for="(service, index) in services">
                        <td>${service.id}$</td>
                        <td>${service.code}$</td>
                        <td>${service.name}$</td>
                        <td>
                            <button v-if="!hasGotData" id="btnAction" class="btn" @click="get_data(service.code)"
                                    v-bind:class="[hasGotData ? 'btn-success' : 'btn-primary']">${btnAction}$
                            </button>
                            <button v-if="hasGotData" id="btnAction" class="btn" @click="check_data(service.code)"
                                    v-bind:class="[hasGotData ? 'btn-success' : 'btn-primary']">${btnAction}$
                            </button>

                        </td>
                        <td>${service.description}$</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </hr>


            <div class="col-md-12" v-if="hasGotData == true">
                <table class="table table-striped table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr class="table-header" style="font-weight:bold;">
                        <td>username</td>
                        <td>donVi</td>
                        <td>thoiGianTrungBinh</td>
                        <td>tenNhanVien</td>
                        <td>soTruongHop</td>
                        <td>tongThoiGianSuaDien</td>
                        <td>Thông báo</td>
                    </tr>
                    <tr v-for="(user, index) in users_data">
                        <td>${user.username}$</td>
                        <td>${user.donVi}$</td>
                        <td>${user.thoiGianTrungBinh}$</td>
                        <td>${user.tenNhanVien}$</td>
                        <td>${user.soTruongHop}$</td>
                        <td>${user.tongThoiGianSuaDien}$</td>
                        <td>${user.status}$</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </script>

    <div class="container" id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Tích hợp nguồn dữ liệu</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/">Trang chủ</router-link>
                    </li>
                </ul>
            </div>
        </nav>

        <router-view></router-view>

        <script>
            var services = [];
            var btnAction = 'Lấy dữ liệu';
            var employee = null;
            var kpis = [];
            var users = [];
            var users_data = [];
            var is_error = false;
            var hasGotData = false;
            var error_msg = '';
            var months = [];
            var date_from = '';
            var date_to = '';
            var month_dest = '';

            const Home = {
                    template: '#home-template',
                    //  template : "<div>abc</div>",
                    data: function () {
                        return {
                            services,
                            users_data,
                            hasGotData,
                            users,
                            months,
                            date_from,
                            date_to,
                            month_dest
                        }
                    },
                    methods: {
                        get_services: function () {
                            that = this;
                            $('body').loading({ stoppable: true,message:'{% trans "Loading..." %}'});

                            cloudjetRequest.ajax({
                                type: "GET",
                                {#url: '{% url "IntegrationDashboard" %}',#}
                                //   data: JSON.stringify(data),
                                success: function (dt) {
                                    that.services = dt['data']['services'];
                                    console.log(that.services);
                                    $('body').loading('stop');
                                },
                                error: function(qXHR, textStatus){
                                     //  alert('failed');
                                that.kpi = null;
                                try {
                                } catch (err) {
                                }
                                },
                                contentType: "application/json"

                            });
                        },

                        get_month_list: function () {
                            that = this;
                            months = [];
                            cloudjetRequest.ajax({
                                type: "GET",
                                url: '{% url "quarter" %}' + '?get_current_quarter=1',
                                success: function (dt) {
                                    if (dt) {
                                        if (dt.fields) {
                                            quarter = dt.fields.quarter;
                                            months.push({order: (quarter - 1) * 3 + 1, name: dt.month_1_name});
                                            months.push({order: (quarter - 1) * 3 + 2, name: dt.month_2_name});
                                            months.push({order: (quarter - 1) * 3 + 3, name: dt.month_3_name});
                                            that.$set(that, 'months', months);
                                        }

                                    }
                                    console.log(that.months);
                                }
                            })
                        },

                        get_data: function (code) {
                            if (this.month_source == '') alert('Vui lòng chọn Chọn tháng dữ liệu nguồn');
                            else {
                                that = this;
                                $('body').loading({ stoppable: true,message:'{% trans "Loading..." %}'});
                                tuNgay = that.date_from;
                                denNgay = that.date_to;

                                cloudjetRequest.ajax({
                                    type: "GET",
                                    {#url: '{% url "IntegrationDashboard" %}' + '?code=EVN_CJS_CRM&tuNgay=' + tuNgay + '&denNgay=' + denNgay + '&loaiThoiGian=ngayHoanTat&donVi=PE0100',#}
                                    success: function (dt) {
                                        data = dt['data'];
                                        if (data) {
                                            dt = [];

                                            data.forEach(function (user, index) {
                                                user['email'] = user['username'] + '@hcmpc.com.vn';
                                            });
                                            that.users_data = data;
                                            that.hasGotData = true;
                                            that.btnAction = 'Nhập dữ liệu';
                                        }
                                        console.log(that.users_data);
                                        $('body').loading('stop');
                                    },
                                    error: function(jqXHR, textStatus){
                                        //  alert('failed');
                                    that.kpi = null;
                                    try {
                                    } catch (err) {
                                    }
                                    },
                                    contentType: "application/json"

                                });
                            }
                        },

                        check_data: function (user) {
                            if (this.month_dest == '') alert('Vui lòng Chọn tháng dữ liệu đến');
                            else {
                                that = this;
                                $('body').loading({ stoppable: true,message:'{% trans "Loading..." %}'});

                                that.users_data.forEach(function (user, index) {
                                    data = {
                                        'email': user.email,
                                        'kpis': [
                                            {'code': 'EVN_STHSD', 'real': user.soTruongHop},
                                            {'code': 'EVN_TTGSD', 'real': user.tongThoiGianSuaDien}
                                        ]
                                    };

                                    cloudjetRequest.ajax({
                                        type: "POST",
                                        {#url: '{% url "validate_datasource" %}',#}
                                        data: JSON.stringify(data),
                                        success: function (dt) {
                                            if (dt) {
                                                console.log(dt);
                                                if (dt['status'] == "failed") {
                                                    that.$set(that.users_data[index], 'status', dt['message']);
                                                    console.log(that.users_data[index]);
                                                }
                                            }

                                            console.log(that.users_data);
                                            $('body').loading('stop');
                                        },
                                        error: function(jqXHR, textStatus){
                                             //  alert('failed');
                                        that.kpi = null;
                                        try {
                                        } catch (err) {
                                        }
                                        },
                                        contentType: "application/json"

                                    });
                                })
                            }
                        }
                    },

                    delimiters: ['${', '}$'],

                    created: function () {
                        this.get_services();
                        this.get_month_list();
                        that = this;
                        $(function () {
                            $('input[name="daterange"]').daterangepicker(
                                {
                                    locale: {
                                        format: 'DD-MM-YYYY'
                                    },
                                    startDate: '01-01-2017',
                                    endDate: '01-01-2017'
                                },
                                function (start, end, label) {
                                    {#                                alert("A new date range was chosen: " + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY'));#}
                                    that.date_from = start.format('DD/MM/YYYY');
                                    that.date_to = end.format('DD/MM/YYYY');
                                });

                        });
                    }
                    ,

                    watch: {
                        // call again the method if the route changes
                        '$route': 'init'
                    }
                }
                ;

            const routes = [
                {path: '/', component: Home},
//                {path: '/create-account', component: CreateAccount}
            ];

            const router = new VueRouter({
                routes // short for routes: routes
            });

            const app = new Vue({
                router,

                delimiters: ['${', '}$']
            }).$mount('#app');

        </script>
    </div>

{% endblock %}
