{% extends "base_iframe_performance.html" %}
{% block extra_static %}
    <script src="{{ STATIC_URL }}bower_components/lodash/dist/lodash.min.js" type="text/javascript"></script>
    {#    <script src="{{ STATIC_URL }}bower_components/js-cookie/src/js.cookie.js" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}bower_components/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/ractive/ractive.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/ractive-load/dist/ractive-load.umd.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/general.js"
            type="text/javascript"></script>


{% endblock %}
{% block content %}


    <div id='container' style="margin: 10px;">


    </div>


    <script>
        //var update_timeout;
        Ractive.load.baseUrl = '{{ STATIC_URL }}templates/';
        var kpis = [{'name': 'name...'}];

        var user_id = getUrlParameter('user_id');


        Ractive.load('performance/mobile-review.html?v={{ settings.VERSION }}').then(function (Composer) {



            //Ractive.DEBUG = false;
            var ractive = new Composer({
                    el: '#container',
                    // template: "#template",
                    data: {
                        kpis: kpis,
                        user_kpis: [],
                        user_kpis_temp: [],
                        month_1_name: 'January',
                        month_1_name: 'February',
                        month_1_name: 'March',
                        moment: moment,
                        allow_review_kpi: true,
                        VERSION: '{{ settings.VERSION }}'

                    },

                    get_kpis: function (user_id) {
                        //ractive.set('user_kpis', [])
                        cloudjetRequest.ajax({
                            url: '/api/kpi/?user_id=' + user_id,
                            type: 'get',
                            success: function (data) {
                                ractive.set('user_kpis_temp', _.cloneDeep(data));
                                ractive.set('user_kpis', data);
                            },
                            error: function () {
                                alert('error');
                            },
                            complete: function (data) {
                                $('.add_kpi').show();
                            }
                        });
                        {% comment %}$.get('/api/kpi/?user_id=' + user_id, function (data, status) {
                            ractive.set('user_kpis_temp', _.cloneDeep(data));
                            ractive.set('user_kpis', data);
                        }).error(function (data) {
                            alert('error');
                        }).complete(function (data) {

                            $('.add_kpi').show();
                        });{% endcomment %}

                    },

                    update_timeout: function () {
                    },
                    get_profile: function () {
                        cloudjetRequest.ajax({
                            url: '/api/profile/?user_id=' + user_id,
                            type: 'get',
                            success: function (data) {
                                ractive.set('profile', data)
                            },
                            error: function () {

                            }
                        });
                        {% comment %}$.get('/api/profile/?user_id=' + user_id, function (data, status) {
                            ractive.set('profile', data)
                        });{% endcomment %}
                    },

                    update_kpi: function (kpi) {
                        //  console.log(ractive.get('user_kpis_temp'));
                        // console.log(ractive.get('user_kpis'));
                        //   console.log(_.isEqual(ractive.get('user_kpis_temp'), ractive.get('user_kpis')));

                        if (kpi.children.length == 0 && !_.isEqual(ractive.get('user_kpis_temp'), ractive.get('user_kpis'))) {

                            console.log(kpi);
                            console.log(kpi.children);

                            clearTimeout(ractive.update_timeout);
                            ractive.update_timeout = setTimeout(function () {

                                cloudjetRequest({
                                    url: '{% url 'kpi_update_score' %}',
                                    type: 'post',
                                    data: kpi,
                                    success: function (data) {
                                        //   ractive.set('user_kpis', data);
                                        ractive.get_kpis();
                                    },
                                    error: function () {
                                        //alert('error');
                                    },
                                    complete: function (data) {
                                        ractive.get_profile();
                                    }
                                });
                                {% comment %} $.post('{% url 'kpi_update_score' %}', kpi, function (data, status) {
                                     //   ractive.set('user_kpis', data);
                                     ractive.get_kpis();


                                 }).error(function (data) {
                                     //alert('error');
                                 }).complete(function (data) {

                                     ractive.get_profile();
                                 });{% endcomment %}

                            }, 500);
                        }
                    },
                    get_current_quarter: function () {
                        cloudjetRequest.ajax({
                            url: '{% url 'quarter' %}?get_current_quarter=yes',
                            type: 'get',
                            success: function (data) {
                                ractive.set('current_quarter', data['fields']);
                                ractive.set('month_1_name', data['month_1_name']);
                                ractive.set('month_2_name', data['month_2_name']);
                                ractive.set('month_3_name', data['month_3_name']);
                            },
                            error: function () {
                                alert('error');
                            },
                            complete: function (data) {
                                $('.add_kpi').show();
                            }
                        });
                        {% comment %} $.get('{% url 'quarter' %}?get_current_quarter=yes', function (data, status) {
                             ractive.set('current_quarter', data['fields']);
                             ractive.set('month_1_name', data['month_1_name']);
                             ractive.set('month_2_name', data['month_2_name']);
                             ractive.set('month_3_name', data['month_3_name']);
                         }).error(function (data) {
                             alert('error');
                         }).complete(function (data) {

                             $('.add_kpi').show();
                         });{% endcomment %}

                    }

                })
            ;


            ractive.get_kpis(user_id);
            ractive.get_current_quarter();
            ractive.get_profile();
            cloudjetRequest.ajax({
                url: '{% url 'organizationAPI' %}',
                type: 'get',
                success: function (data) {
                    ractive.set('organization', data);
                    //console.log(data);
                },
                error: function () {

                },
                complete: function (data) {

                }
            });
            {% comment %} $.get('{% url 'organizationAPI' %}', function (data, status) {
                 ractive.set('organization', data);
                 //console.log(data);

             }).error(function (data) {
                 alert('error');
             }).complete(function (data) {


             });{% endcomment %}

            cloudjetRequest.ajax({
                url: '{% url 'allow_review_kpi' %}?user_id=' + user_id,
                type: 'get',
                success: function (data) {
                    ractive.set('allow_review_kpi', data['data']['allow_review_kpi']);

                    console.log(ractive.get('allow_review_kpi'));
                },
                error: function () {
                    alert('error');
                },
                complete: function (data) {

                }
            });
            {% comment %}$.get('{% url 'allow_review_kpi' %}?user_id=' + user_id, function (data, status) {
                ractive.set('allow_review_kpi', data['data']['allow_review_kpi']);

                console.log(ractive.get('allow_review_kpi'));

            }).error(function (data) {
                alert('error');
            }).complete(function (data) {


            });{% endcomment %}


            ractive.observe('user_kpis.*.children.*', function (newValue, oldValue, keypath) {
                // app.user.name = newValue;
                //console.log(newValue);
                //console.log('y');
                ractive.update_kpi(newValue);

            });

            ractive.observe('user_kpis.*', function (newValue, oldValue, keypath) {
                // app.user.name = newValue;
                //console.log('xx');
                ractive.update_kpi(newValue);

            });


        }).catch(function (error) {

            alert(error);
        });
    </script>

{% endblock %}
{% block title %}

    KPI Review

{% endblock %}