{% load i18n %}

{% include "performance/bsc/worksheet/modals/kpi_lib/component/card-view.html" %}
{% include "performance/bsc/worksheet/modals/kpi_lib/component/card-detail.html" %}
{% include "performance/bsc/worksheet/modals/kpi_lib/component/card-new.html" %}
{% include "performance/bsc/worksheet/modals/kpi_lib/component/modal-add-kpi-to-collection.html" %}
{% include "performance/bsc/worksheet/modals/kpi_lib/component/utils/alert-success-custom.html" %}
{% include "todo/utils/qtip/layout.html" %}
<script  src="{{ STATIC_URL }}todo/detail-task/js/main.js"></script>
<div id="content-modal-kpi-lib">
    <div class="modal fade" id="modal-kpi-lib" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg add-kpi-lib-modal" role="document">
            <div class="modal-content">
                <div id="kpi-lib-modal-wrapper">
                    <div class="modal-header">
                        <div class="row">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <div class="col-xs-6" id="option-choose-kpi" style="padding-left: 30px">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" @click="change_tab('kpi-lib')" href="#tab-kpi-lib" style="margin-right: 35px">
                                            <span>{% trans "KPI LIBRARY" %}</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" @click="change_tab('kpi-collection')"
                                           href="#tab-kpi-collection">
                                            <span>BỘ SƯU TẬP</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="col-xs-5" id="option-choose-lang" v-if="activeTab == 'kpi-lib'">
                                <div class="wrap">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-right"
                                                    data-toggle="tab" href="#" @click="language_search = ''">
                                                {% trans "All" %}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-right no-border-radius-left"
                                                    data-toggle="tab" href="#" @click="language_search = 'vi'">
                                                {% trans "Vietnamese" %}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-normal btn-cus-0-7 btn-lang no-border-radius-left"
                                                    data-toggle="tab" href="#" @click="language_search = 'en'">
                                                English
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content mg-t-0">
                            <div id="tab-kpi-lib" class="tab-pane fade in active">
                                <div class="menu-search">
                                    <div class="container col-xs-12 wraper-contain">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3 pd-r-0 mg-t-10 pd-l-5">
                                                    <el-cascader
                                                            expand-trigger="hover"
                                                            size="medium"
                                                            class="cascader-func-cate"
                                                            popper-class="dropdown-func-cate"
                                                            :options="options"
                                                            placeholder="{% trans "Functions and categories" %}"
                                                            v-model="selectedOptions"
                                                            @change="update_query_search">
                                                    </el-cascader>
                                                </div>

                                                <div class="col-xs-7 pd-l-10 pd-r-0 mg-t-10">
                                                    <div class="search-kpi no-padding">
                                                        <el-input
                                                                placeholder="{% trans 'Search KPI' %}"
                                                                size="medium"
                                                                v-model="query_kpilib_modal"
                                                                id="input-search-kpi"
                                                                @focus='$("#list_kpi_suggest").show();$(".arrow-up").show();'
                                                                @keyup.native="filter_history"
                                                                @keyup.enter.native="status_kpi_lib = 'search';update_query_search()">
                                                            <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                                        </el-input>
                                                    </div>

                                                    <div id="list_kpi_suggest">
                                                        <ul class="list-group mg-bt-0">
                                                            <li class="list-group-item no-hover format-display pd-bt-0 header"
                                                                v-if="storage_kpis_template.length > 0">
                                                                <span class="text-title">{% trans "Recent searches" %}</span>
                                                                <span class="clear-history"
                                                                      onclick="clear_history_kpi()">{% trans "Clear all" %}</span>
                                                            </li>
                                                            <li class="list-group-item format-display"
                                                                v-for="k_history in storage_kpis_template"
                                                                v-if="storage_kpis_template.length > 0"
                                                                @click="handle_click_search_history(k_history)"
                                                                class="history-kpi">
                                                                <span class="name" v-text="k_history"></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="arrow-up" style="display:none;"></div>
                                                </div>

                                                <div class="col-xs-2 pd-l-0 mg-t-10 pd-r-5">
                                                    <el-cascader
                                                            popper-class="proper-type-search"
                                                            size="medium"
                                                            id="input-type-search"
                                                            expand-trigger="hover"
                                                            :options="type_find"
                                                            :show-all-levels="false"
                                                            placeholder="{% trans "Search By" %}"
                                                            v-model="value_type_search">
                                                    </el-cascader>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 child-category-show "
                                                 :class="{ 'can-hover': show_icon_carret }"
                                                 id="show-child-cate"
                                                 v-if="child_cate_to_show.length > 0">
                                                <div class="col-xs-12 content-show pd-lr-0">
                                                    <ul class="list-inline mg-bt-0">
                                                        <li v-for="t in child_cate_to_show">

                                                            <a href="javascript:void(0);"
                                                               class="item-child-cate active"
                                                               v-text="t.label"
                                                               v-if="t.value==selectedOptions[1]">
                                                            </a>

                                                            <a href="javascript:void(0);"
                                                               class="item-child-cate"
                                                               v-text="t.label"
                                                               @click="selected_sub_menu(t.value)"
                                                               v-else>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-1 pd-lr-0 mg-t-10 caret-show"
                                                     v-if="show_icon_carret">
                                                    <span class="caret float-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="child-category">
                                    <div class="wraper">
                                        <div class="col-xs-10 pd-lr-0 mg-t-3">
                                            <div class="content">
                                                <div v-if="!isLoading">
                                                        <span class="infor-cate-kpi pd-l-10" v-html="info_search">
                                                        </span>
                                                </div>
                                                <div v-else>
                                                    <span v-if="status_kpi_lib != 'sort'"
                                                          class="infor-cate-kpi pd-l-10">{% trans "Searching..." %}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 pd-lr-0">
                                            <div class="content text-right">

                                                <div id="btn-sort-icon" data-toggle="dropdown">
                                                    <span class="pd-l-10 pd-r-4">{% trans "Sort" %}</span>
                                                    <i class="material-icons icon-sort pd-r-10">sort</i>
                                                </div>

                                                <ul class="dropdown-menu dropdown-sort">
                                                    <li class="item">
                                                        <a href="javascript:void(0)"
                                                           @click="sort_type = 'name'">{% trans "Name" %}</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="javascript:void(0)"
                                                           @click="sort_type = '-created_at'">{% trans "Recently added" %}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="kpi-library-box">
                                    <table id="table-list-kpi-search" class="table table-hover"
                                           :class="{'load': isLoading}">
                                        <div class="loader" v-if="isLoading"></div>
                                        <tbody>
                                        <tr class="kpi-search-item" v-for="t in searched_kpis_lib" v-cloak>
                                            <td>
                                                <div class="row">
                                                    <div class="col-sm-10 col-table-11" @click="set__kpi_to_view(t)" v-settooltip>
                                                        <h4>
                                                            <a href="#"
                                                               v-text="t.name">
                                                            </a>
                                                        </h4>
                                                        <span class="tooltip-content" v-text="t.measurement_method"></span>
                                                        <span v-if="t.function_categories.length>0"
                                                              class="kpi-sumary"
                                                              v-html="t.function_categories.join('&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;')">
                                                        </span>
                                                        <span v-else class="kpi-sumary dont-have">
                                                            Chưa có chức năng và danh mục
                                                        </span>
                                                    </div>

                                                    <div class="col-sm-1 col-table-1 no-padding text-right">
                                                        <button
                                                                @click="add_kpi_to_collection(t)"
                                                                class="btn btn-normal btn-add-kpi btn-cus-5-4 w-h-34"
                                                                :id="'btn-add-collection-' + t.id"
                                                                data-loading-text="...">
                                                            <i class="material-icons font-20 icon-add">bookmark_border</i>
                                                        </button>
                                                        <qtip-wrapper :message="'Thêm vào<br>Bộ sưu tập'"
                                                                      :data_toggle="'btn-add-collection-' + t.id"
                                                                      :class_custom="'text-center'"
                                                                      :position_my_class="'top center'"
                                                                      :position_at_class="'bottom center'">
                                                        </qtip-wrapper>
                                                    </div>


                                                    <div class="col-sm-1 col-table-1 no-padding text-center">
                                                        <button @click="add_selected_kpilib(t)"
                                                                class="btn btn-normal btn-add-kpi btn-cus-5-4 w-h-34"
                                                                :id="'btn-add-kpi-in-kpilib-' + t.id"
                                                                data-loading-text="...">
                                                            <i class="material-icons font-20 icon-add">&#xE145;
                                                                <!--add--></i>
                                                        </button>
                                                        <qtip-wrapper :message="'Thêm KPI'"
                                                                      :data_toggle="'btn-add-kpi-in-kpilib-' + t.id"
                                                                      :position_my_class="'top center'"
                                                                      :position_at_class="'bottom center'">
                                                        </qtip-wrapper>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="tab-kpi-collection" class="tab-pane fade">
                                <div class="menu-search">
                                    <div class="wraper-contain">
                                        <div class="search-kpi" v-if="!is_card_detail">
                                            <el-input
                                                    placeholder="{% trans "Find collections" %}"
                                                    id="input-search-collection">
                                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                            </el-input>
                                        </div>
                                        <div class="top-controller" v-else>
                                            <div>
                                                 <div class="col-xs-8 bread-crumb-wrap">
                                                    <span class="menu-collection" @click="clickBackCollection">{% trans "Collections" %}</span>
                                                    <span><i class="material-icons arrow-right">keyboard_arrow_right</i></span>
                                                    <span id="hover-detail-card-name" class="bread-card-name">${ card_detail_name }$</span>
                                                </div>
                                                <qtip-wrapper v-if="card_detail_name.length > 55"
                                                        :message="card_detail_name"
                                                        :data_toggle="'hover-detail-card-name'"
                                                        :position_my_class="'top center'"
                                                        :position_at_class="'bottom center'">
                                                </qtip-wrapper>
                                                <div class="col-md-4 col-xs-8 no-padding wrap-button">

                                                    <button class="btn btn-normal btn-cus-white btn-cus-5-7 pull-right btn-change-name"
                                                            @click="openEditCard">
                                                        <i class="material-icons font-16">edit</i>
                                                        <span>{% trans "Change name" %}</span>
                                                    </button>

                                                    <button class="btn btn-normal btn-cus-5-7 pull-right btn-del mg-r-10 btn-del-card"
                                                            @click="deleteCard">
                                                        <i class="material-icons font-16">delete_forever</i>
                                                        <span>{% trans "Delete" %}</span>
                                                    </button>

                                                </div>
                                                <new-edit-card v-model="flag_open_modal"
                                                               mode="edit"
                                                               :id="card_detail_id"
                                                               :name="card_detail_name"
                                                               v-on:update_edit_card="updateEditCard"
                                                               v-on:dismiss="triggerDismissModal">
                                                </new-edit-card>
                                            </div>
                                        </div>


                                        <div class="sort text-right">
                                            <div class="wrapper">
                                                <div class="btn-sort-collection-icon" data-toggle="dropdown">
                                                    <div class="sort-collection-wrap">
                                                        <span class="pd-l-10 pd-r-4">{% trans "Sort" %}</span>
                                                        <i class="material-icons icon-sort pd-r-10">sort</i>
                                                    </div>
                                                </div>

                                                <ul class="dropdown-menu dropdown-sort-collection">
                                                    <li class="item" >
                                                        <a href="javascript:void(0)" class="item-sort"
                                                           @click="">{% trans "Default" %}</a>
                                                    </li>
                                                    <li class="item" >
                                                        <a href="javascript:void(0)" class="item-sort"
                                                           @click="">{% trans "Name" %}</a>
                                                    </li>
                                                    <li class="item" >
                                                        <a href="javascript:void(0)"  class="item-sort"
                                                           @click="">{% trans "Latest" %}</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="javascript:void(0)" class="item-sort"
                                                           @click="">{% trans "Oldest" %}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="kpi-collection-box">
                                    <div class="list-card" v-if="!is_card_detail">

                                        <card-new v-on:add_new_card="addNewCard"></card-new>
                                        <div class='list-card-collection' v-for="(card,index) in list_collection">
                                            <card-view :id='card.id' v-on:view_detail_card="clickViewCard"
                                                       :title="card.name" :sub_title="card.total_kpi"
                                                       :id_vtcd="card.id_vtcd">
                                            </card-view>
                                        </div>
                                    </div>

                                    <div class="detail-card-collection" v-else>
                                        <card-detail :id="card_detail_id" :list_kpi="card_detail_list_kpi"></card-detail>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" v-if="activeTab == 'kpi-lib'">
                        <div class="text-center">
                            <div v-if="data_kpi_editor" class="">
                                <el-pagination
                                        popper-class="pagi-kpi-search"
                                        :current-page.sync="currentPage"
                                        :page-size="pageSize"
                                        :pager-count="pageCount"
                                        layout='prev, pager, next, jumper'
                                        @current-change="handleCurrentChange"
                                        :total="total_page">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <add-kpi-to-card v-model="flag_add_kpi_to_card"
                     :kpi="kpi_to_add_card"
                     :collections="list_collection"
                     v-on:dismiss="triggerDismissModalAddKPI">

    </add-kpi-to-card>

    <div class="modal fade" id="modal-kpi-lib-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg add-kpi-lib-modal" role="document">
            <div class="modal-content">
                <div class="modal-header no-border pd-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" v-text="kpi_to_view.name"></h4>
                    <div class="col-sm-12 no-padding">
                        <div class="border"></div>
                    </div>
                </div>
                <div class="modal-body pd-t-0">
                    <div class="form-horizontal pd-lr-10">


                        <div class="form-group">
                            <label class="col-sm-3 control-label text-left">{% trans 'Objectives' %}</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">${ kpi_to_view.objective }$</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="border"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label text-left">{% trans "Categories" %}</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">${ BSC_CATEGORY[kpi_to_view.category] }$</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="border"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label text-left">{% trans 'Operator' %}</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">${ kpi_to_view.operator }$</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="border"></div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label text-left">{% trans "Measurement" %}</label>
                            <div class="col-sm-9">
                                <p class="form-control-static line-wrap">${ kpi_to_view.measurement_method }$</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="border"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label text-left">{% trans 'Description' %}</label>
                            <div class="col-sm-9">
                                <p class="form-control-static line-wrap">${ kpi_to_view.description }$</p>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="border-bold"></div>
                            </div>
                        </div>

                        <div v-if="kpi_to_view.extra_data" class="form-group"
                             v-for="(key, value) in EXTRA_FIELDS_KPI">
                            <div v-if="value != 'functions'">
                                <label class="col-sm-3 control-label text-left">${ key }$</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static line-wrap">${ kpi_to_view.extra_data[value] }$</p>
                                </div>
                            </div>
                            <div v-else>
                                <label class="col-sm-3 control-label text-left">{% trans "Functions and categories" %}</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">
                                    <span class="kpi-sumary" v-for="func in kpi_to_view.function_categories">
                                        ${func}$
                                    </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-normal btn-cus-white btn-cus-5-7 pd-lr-10"
                                    data-dismiss="modal">{% trans 'Close' %}
                            </button>

                            <button class="btn btn-normal btn-cus-add btn-cus-5-4 w-h-34" @click="add_kpi_to_collection(kpi_to_view)">
                                <i class="material-icons font-20">bookmark_border</i>
                            </button>

                            <span class="vertical-line">|</span>

                            <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-r-12"
                                    @click="add_selected_kpilib(kpi_to_view)"
                                    data-loading-text="{% trans 'Adding KPI...' %}">
                                <i class="material-icons font-20">&#xE145;<!--add--></i>
                                {% trans 'Add KPI' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var kpi_lib = new Vue({
        delimiters: ['${', '}$'],
        el: '#content-modal-kpi-lib',
        data: {
            // kpilib ver 2
            activeTab: 'kpi-lib', // have 2 option: kpi-lib, kpi-collection

            flag_open_modal: false, // flag to open modal edit card
            flag_add_kpi_to_card: false, // flag to open modal add kpi to card collection
            is_card_detail: false, // check xem có card nào đang xem detail hay không. mặc định chưa có
            card_detail_id: null,
            card_detail_list_kpi: [],
            card_detail_name: '',
            kpi_to_add_card : {},

            list_collection: [{
                id: 1,
                name: 'UX designer',
                id_vtcd: 1,
                total_kpi: 5,
                list_kpi: []

            }, {
                id: 2,
                name: 'Graphic Designer',
                id_vtcd: 2,
                total_kpi: 5,
                list_kpi: []

            }, {
                id: 3,
                name: 'Customer Service',
                id_vtcd: 3,
                total_kpi: 5,
                list_kpi: []

            },{
                id: 4,
                name: 'Tôi tạo tùy ý',
                id_vtcd: null,
                total_kpi: 5,
                list_kpi: []

            }],
            //end kpilib ver 2

            BSC_CATEGORY: '',
            EXTRA_FIELDS_KPI: [],
            show_icon_carret: false,
            resultSearch_infor: false,
            isLoading: false,
            currentPage: 1,
            pageSize: 25,
            pageCount: 5,
            status_kpi_lib: 'all',
            total_page: 0,
            storage_kpis: [],
            storage_kpis_template: [],
            data_kpi_editor: null,
            query_kpilib_modal: '',
            searched_kpis_lib: [],
            query_search_kpi_lib: '',
            selectedOptions: [],
            language_search: '',
            selectedOptionToShow: '',
            selectedParentOption: '',
            child_cate_to_show: [],
            options: [],
            kpi_to_view: {},
            info_search: '{% trans "All KPIs" %}',
            type_find: [{
                value: 'all',
                label: gettext('All')
            }, {
                value: 'name',
                label: gettext('KPI name')
            }, {
                value: 'measurement_method',
                label: gettext('Measurement methods')
            }, {
                value: 'objective',
                label: gettext('Target')
            }],
            value_type_search: '',
            sort_type: ''
        },
        watch: {
            selectedOptions: {
                handler: function (val, oldVal) {
                    if (val.length) {
                        this.resultSearch_infor = true;
                        this.status_kpi_lib = 'search_category'
                    }
                    this.get_option_to_show(val);
                    this.get_parent_option_to_display();
                    this.create_info_search();
                },
            },
            language_search: {
                handler: function (val, oldVal) {
                    this.status_kpi_lib = 'search';
                    if (!val) {
                        if (!this.check_field_search()) {
                            this.status_kpi_lib = 'all';
                            v.get_data_kpilib(null);
                        } else {
                            this.update_query_search()
                        }
                    } else {
                        this.update_query_search()
                    }
                }
            },
            sort_type: {
                handler: function (val, oldVal) {
                    this.status_kpi_lib = 'sort';
                    this.update_query_search()
                }
            },
            value_type_search: {
                handler: function (val, oldVal) {
                    if (this.query_kpilib_modal.trim())
                        this.update_query_search()
                }
            },
            total_page: {
                handler: function (val, oldVal) {
                    this.create_info_search()
                }
            },
            status_kpi_lib: {
                handler: function (val, oldVal) {
                    this.create_info_search()
                }
            },
            storage_kpis: {
                handler: function (val, oldVal) {
                    localStorage.setItem('history_search_kpi', JSON.stringify(val));
                }
            }
        },
        updated: function () {
            this.check_icon_carret_show();
            getQtip();
        },
        created: function () {
            this.storage_kpis = JSON.parse(localStorage.getItem('history_search_kpi')) || [];
            this.storage_kpis_template = this.storage_kpis;
        },
        methods: {
            // Function for kpi collection
            add_kpi_to_collection: function(kpi){
                var self = this;
                self.flag_add_kpi_to_card = true;
                self.kpi_to_add_card = kpi;
            },
            deleteCard: function(){
                var self = this;
                this.$confirm('Bạn có chắc chắn xóa '+ self.card_detail_name , '', {
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Đóng',
                    type: 'warning',
                    center: true,
                    customClass: 'warning-del-card'
                    }).then(function(){
                        // run api del card,

                        //then delete current
                        var data_temp = self.list_collection.filter(function (elm) {
                            return elm.id != self.card_detail_id;
                        });
                        self.list_collection = data_temp;
                        // then callback to list_card
                        self.clickBackCollection();

                    });
            },
            triggerDismissModal: function () {
                var self = this;
                self.flag_open_modal = false;
                console.log("dissmissed")
            },
            triggerDismissModalAddKPI: function (){
                var self = this;
                self.flag_add_kpi_to_card = false;
                console.log("dissmissed")
            },
            updateEditCard: function(id, name){
                // update in list_card
                var self = this;
                var _index = null;
                self.list_collection.filter(function(elm,index){
                    if( elm.id === id) _index = index;
                })
                self.list_collection[_index].name = name;

                // update in current_view_card
                self.card_detail_name = name;

            },
            openEditCard: function(){
                var self = this;
                self.flag_open_modal = true;
            },
            addNewCard: function(card){
                var self = this;
                self.list_collection.push(card);
            },
            clickBackCollection: function(){
                var self = this;
                self.card_detail_id = null;
                self.card_detail_list_kpi = [];
                self.card_detail_name = '';
                self.is_card_detail = false;

            },
            clickViewCard: function (id,name) {
                // run api to get list kpi for collection vtcd
                // now I set datatemp for list_kpi for a collection

                var self = this;
                var data_temp = [{
                    id: 1,
                    name: '% quản lý có kế hoạch phát triển khả năng lãnh đạo/ tổng số vị trí quản lý',
                    tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                    measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                    belong_vtcd: true,
                }, {
                    id: 2,
                    name: 'Chỉ số ngày vắng mặt của nhân viên',
                    tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                    measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hà',
                    belong_vtcd: true,
                }, {
                    id: 3,
                    name: 'Chỉ số ngày vắng mặt của nhân viên',
                    tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                    measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                    belong_vtcd: true,
                },
                    {
                        id: 4,
                        name: 'Tỷ lệ trả lời khiếu nại khách hàng trong khoảng thời gian chuẩn',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        belong_vtcd: true,
                    },
                    {
                        id: 5,
                        name: 'Tỷ lệ nghỉ việc bắt buộc',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        belong_vtcd: false,
                    }, {
                        id: 6,
                        name: '% quản lý có kế hoạch phát triển khả năng lãnh đạo/ tổng số vị trí quản lý',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        belong_vtcd: true,
                    }, {
                        id: 7,
                        name: 'Chỉ số ngày vắng mặt của nhân viên',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là ',
                        belong_vtcd: true,
                    }, {
                        id: 8,
                        name: 'Chỉ số ngày vắng mặt của nhân viên',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        belong_vtcd: true,
                    },
                    {
                        id: 9,
                        name: 'Tỷ lệ trả lời khiếu nại khách hàng trong khoảng thời gian chuẩn',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        belong_vtcd: true,
                    },
                    {
                        id: 10,
                        name: 'Tỷ lệ nghỉ việc bắt buộc',
                        tag_item: 'Kế toán > Lập kế hoạch và báo cáo',
                        measurement_method: 'Đây là số lần nhân viên của bạn bị ốm hoặc không xuất hiện (Lưu ý: đây không phải là các kỳ nghỉ có thông báo trước hoặc hình thức nghỉ có trả lương) Những nhân viên vắng mặt thường không hài lòng với nơi họ làm việc. Thước đo này sẽ hữu ích nhất cho các tổ chức có hoạt động có thể bị ảnh hưởng đáng kể do tình hình nghỉ việc của nhân viên.',
                        belong_vtcd: false,
                    }];
                //self.list_collection[id].list_kpi = data_temp; save to list_kpi in local to avoid reload when have database
                self.card_detail_id = id;
                self.card_detail_name = name;
                self.card_detail_list_kpi = data_temp;
                self.is_card_detail = true;
                // then show to card_detail

            },


            change_tab: function (value) {
                var self = this;
                self.activeTab = value;
            },
            create_info_search: function () {
                switch (this.status_kpi_lib) {
                    case 'all':
                        this.info_search = '{% trans "All KPIs" %}';
                        break;
                    case 'search_category':
                        this.info_search = `{% trans "KPI belongs to " %} ${this.selectedOptionToShow}`;
                        break;
                    case 'sort':
                        break;
                    case 'search':
                        this.info_search = `{% trans "Found" %} <b>${this.total_page}</b> {% trans "results" %}`;
                        break;
                }
            },
            init_kpi_lib: function () {
                $("#option-choose-lang ul li:first").tab('show');
                this.query_search_kpi_lib = '';
                this.language_search = '';
                this.value_type_search = [];
                this.sort_type = '';
                this.query_kpilib_modal = '';
                this.searched_kpis_lib = [];
                this.selectedOptions = [];
                this.child_cate_to_show = [];
                this.resultSearch_infor = false;
                this.status_kpi_lib = 'all';
                this.language_search = '';
                this.selectedOptionToShow = '';
                this.info_search = '{% trans "All KPIs" %}';
                setTimeout(function () {
                    $('#tab-kpi-lib .cascader-func-cate .el-cascader__label').text('');
                }, 100);
            },
            handleCurrentChange: function (val) {
                if (this.status_kpi_lib == 'all') {
                    v.get_data_kpilib(val);
                } else {
                    v.search_kpi_library(val);
                }
            },
            handle_click_search_history: function (history) {
                this.status_kpi_lib = 'search';
                this.query_kpilib_modal = history;
                this.update_query_search();
            },
            filter_history: function () {
                that = this;
                this.storage_kpis_template = this.storage_kpis.filter(function (item) {
                    return item.indexOf(that.query_kpilib_modal) != -1;
                });
            },
            check_field_search: function () {
                return this.query_kpilib_modal || this.selectedOptions.length || this.language_search;
            },
            update_query_search: function () {
                this.isLoading = true;
                this.currentPage = 1;
                this.searched = true;
                v.next_url_kpi_lib = '';
                this.query_search_kpi_lib = $.param({
                    extend_type: this.value_type_search.length ? this.value_type_search[0] : 'all',
                    extend_value: this.query_kpilib_modal,
                    sub_category: this.selectedOptions.length ? this.selectedOptions[1] : '',
                    lang: this.language_search,
                    sort: this.sort_type
                });
                if (this.query_search_kpi_lib.split('=&').length - 1 == 4 && !this.sort_type) {
                    v.get_data_kpilib();
                    this.status_kpi_lib == 'all'
                } else {
                    v.search_kpi_library();
                    this.resultSearch_infor = true;
                    if (this.storage_kpis.indexOf(this.query_kpilib_modal) == -1 && this.query_kpilib_modal.trim()) this.storage_kpis.push(this.query_kpilib_modal);
                }
            },
            selected_sub_menu: function (sub_id) {
                this.selectedOptions[1] = sub_id;
                this.status_kpi_lib = 'search_category';
                this.get_parent_option_to_display();
                this.create_info_search();
                this.update_query_search();
            },
            check_icon_carret_show: function () {
                if ($('#show-child-cate .list-inline').height() > 28) {
                    this.show_icon_carret = true;
                }
                else {
                    this.show_icon_carret = false;

                }
            },
            handleChange: function(value) {
                console.log(value)
            },
            set__kpi_to_view: function (k) {
                this.kpi_to_view = k;
                $('#modal-kpi-lib-details').modal('show');
                $('#modal-kpi-lib-details').appendTo('body');
            },
            add_selected_kpilib: function (k) {
                v.add_selected_kpilib(k);
            },
            get_option_to_show: function (selected) {

                this.child_cate_to_show = this.options.filter(function (item) {
                    return item.value == selected[0]
                })
                this.child_cate_to_show = this.child_cate_to_show.length ? this.child_cate_to_show[0].children : [];
            },
            get_parent_option_to_display: function () {
                var self = this;
                this.options.forEach(function (item) {
                    if (item.value == self.selectedOptions[0]) {
                        self.selectedParentOption = item.label;
                        item.children.forEach(function (_item) {
                            if (_item.value == self.selectedOptions[1]) {
                                self.selectedOptionToShow = _item.label.replace(_item.label.match(/\(\d+\)/), '');
                            }
                        })
                    }
                });
                setTimeout(function () {
                    $('#tab-kpi-lib .cascader-func-cate .el-cascader__label').text(self.selectedParentOption);
                }, 0);
            },
            setLocalStorage: function () {
                var text = this.query_kpilib_modal;
                if (this.query_kpilib_modal.length > 0) {
                    var local_store = (JSON.parse(localStorage.getItem('history_search_kpi')) != null) ? JSON.parse(localStorage.getItem('history_search_kpi')) : [];
                    local_store.push(text);
                    localStorage.setItem('history_search_kpi', JSON.stringify(local_store));
                    this.storage_kpis = JSON.parse(localStorage.getItem('history_search_kpi'));
                }
            }
        }
    });

    function getQtip() {
        Vue.directive('settooltip', function (el) {
            var text = "<div><span class='pd-bt-5'><strong>" + gettext('Measurement methods') + "</strong></span><br/>";
            var txt = $(el).children('.tooltip-content').text();
            if (txt != null || txt.length > 0) {
                txt = txt.trim();
                txt = '<span>' + txt + '</span>';
                txt = text + txt + '</div>';
            }
            $(el).qtip({
                content: {
                    text: txt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
                },
                style: {
                    classes: 'qtip-green qtip-custom'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                    target: $(el),
                    adjust: {
                        x: 10
                    }
                },
                show:{
                    delay : 250
                }
            });
        });
    }

    getQtip();
    $('#input-search-kpi').focusout(function () {
        setTimeout(function () {
            $("#list_kpi_suggest").hide();
            $(".arrow-up").hide();
        }, 200);
    });

    function clear_history_kpi() {
        kpi_lib.storage_kpis = [];
        kpi_lib.storage_kpis_template = [];
        localStorage.setItem('history_search_kpi', null);
        $(".history-kpi").hide();
    }

</script>