{% extends "base_performace.html" %}
{% load humanize user_tags %}

{% load i18n %}
{% block title %}{% trans "KPI Aligment Status" %}{{ block.super }}{% endblock %}


{% block landing %}
    <style>
        .basic_content {
            margin-left: 80px;
            color: #137eb5;
        }
        .basic_content input{
            margin-bottom: 0px;
        }
        .basic_head{
            border-bottom: 2px dotted #ddd;
            padding-bottom: 30px;
        }    
        .basic_name{
            float: left;
            margin-top: 20px;
            padding-bottom: 30px;
        }
        .basic_upload{
            float: left;
        }
        .basic_upload .basic_logo_box{
            border-radius: 3px;
            box-shadow: 0px 0px 8px 0px #999;
            width: 110px;
            height: 60px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin-bottom: 10px;
        }
        .basic_upload .basic_logo_box img{
            max-width: 110px;
            max-height: 60px;
        }
        .basic_upload .bt_basic_upload{
            border: none;
            background: url('{{ STATIC_URL }}kpi-img/icon/menu-imgs.png') no-repeat;
            background-position: -29px 0px;
            width: 120px;
            height: 25px;
            color: #fff;
            font-size: 11px;
        }
        .basic_upload .bt_basic_upload:hover{
            background-position: -30px -33px;
        }
        .basic_title{
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }
        .basic_right {
            margin: 0;
            padding: 0;
        }
        .basic_right li{
            float: left;
            margin: 0 10px;
            border: 2px solid #0e76b9;
            border-radius: 5px;
            height: 170px;
        }
        .basic_right li .basic_img{
            display: table-cell;
            vertical-align: middle;
            text-align:center ;
            width: 125px;
            height: 125px;
        }
        .basic_right li .basic_img img{
            max-height: 125px;
            max-width: 125px;
        }
        .basic_right .basic_item_content{
            margin: 0 10px;
            font-size: 11px;
            color: #000;
            width: 105px;
            line-height: 15px;
            margin-bottom: 10px;
        }
        .basic_right_box{
            float: left;
            padding-right: 20px;
            border-right: 2px solid #0e76b9;
        }
        .basic_left_box .basic_right{
            margin-left: 20px;
        }
        .basic_left_box .basic_right li{
            height: 127px;
            border-right: 2px solid transparent;
            border-radius: 5px 0px 0 5px;
            background: #eaf1f8;
            border-spacing: 1px;
            box-shadow:inset 0px 0px 0px 2px #fff;
            margin-left: 1px;
        }
        .basic_left_box .basic_right li:first-child{
            margin-left: 30px;
        }
        .basic_left_box .basic_right li .li_content{
            margin-right: -25px;
            margin-top: -2px;
            background: url('{{ STATIC_URL }}kpi-img/icon/right-border-curve.png') no-repeat right top;
            background-origin: border-box;
            width: 140px;
            height: 131px;
            z-index: 1;
            position: relative;
        }
        .basic_left_box .basic_right li .basic_img{
            height: 80px;
        }
        .basic_left_box .basic_right li .basic_img img{
            max-width: 115px;
            max-height: 75px;
        }
        .basic_left_box .basic_right li .basic_item_content{
            font-size: 16px;
            color: #137eb5;
            font-weight: bold;
            line-height: 18px;
            margin-left: 15px;
        }
        .popover {
			width: 300px;
		} 
		.popover-content {
			font-size: 12px;
		}
		.popover-title {
			padding: 4px 14px;
			font-weight: bold;
			font-size: 13px;
			color: #000;
		}
		.close_btn {
			cursor: pointer;
			float: right;
			background-color: #ccc;
			border-radius: 7px;
		}
		.workflow-help {
			list-style: disc;
			margin-left: 5px;
		}
    </style>
{#    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" type="text/css" />#}
    {% trans 'KPI Aligment Status' as titlePage %}
    {% trans 'Review current KPI Alignment Status' as descTitle %}
    {% include "performance/nav_bar.html" with logoLink="kpi-img/icon/checklist.png"|get_static kpi_alignment_video=1 %}
    <div class="item_contain">
        &nbsp;
        <div class="basic_content">

            <div class="basic_head">


                <div class="clear"></div>
                <div class="form-inline date-settings" style="margin: 10px 0 0;">

                {% if notice %}
                    <div class="alert">
                    {{ notice }}</div>
                {% endif %}

{##}
                <div style="margin-bottom: 18px;">
                    Lưu ý: Bạn có thể xem những email mẫu
                    <<a href="#email_template" data-toggle="modal" >
                    tại đây. </a>>

                </div>
                <h1>Danh Sách Nhân Viên Chưa Thiết lập KPI - KPI Alignment ({{ employees_count }} nhân viên) </h1>
                	<div>
{#                		#}
{#                		<div class="pagination pagination-right pagination-mini">#}
{#							<ul>#}
{#							   {% if employees.has_previous %}#}
{#								<li><a href="?page={{ employees.previous_page_number }}">«</a></li>#}
{#							{% endif %}	    #}
{#							   {% for index in employees.paginator.page_range %}  #}
{#							   <li {% if index == employees.number  %}class="active"{% endif %}><a href="?page={{ index }}">{{ index }}</a></li>#}
{#							   {% endfor %}#}
{#							   {% if employees.has_next %}#}
{#								<li><a href="?page={{ employees.next_page_number }}">»</a></li>#}
{#							      {% endif %}#}
{#							</ul>#}
{#						</div>#}
                	</div>
					
					
                    <table class="table table-bordered">
                        <tr class="info" style="color: #006dcc;">
	                        <th style="width: 20%">
	                            Employee
	                        </th>	                        
	                        <th>History</th>
	                        <th>Last Login</th>
{#	                        <th>Manager Status</th>#}
{#	                        <th>Employee Status</th>#}
	                        <th>Action</th>
                        </tr>
                        {% for user in employees %}
                        <tr>
                            <td>
                                <a href="{{ user.get_profile.get_kpi_url }}" target="_blank" >
                                <b class="btn">{{ user|display_name }}</b></a>
                                <br/>
                                {{ user.email }}
                                <div style="border: #b8b8b8 1px dashed; padding: 8px; margin-top: 10px;">
                                    <p style="text-align: center">Manager</p>
                                    {%  if user.get_profile.parent %}
                                 <b>{{ user.get_profile.parent.user|display_name }}</b><br/>
                                {{ user.get_profile.parent.user.email }}
                                    {% endif %}
                                    </div>


                            </td>
                            <td>
                               {%  for noti in user.get_profile.current_kpi_notification %}
                                   <p>{{ noti.get_phase_display }} |
                                    <span style="color: #888888">
                                   {{ noti.created_at | naturaltime }} </span></p>
                                   {% endfor %}
                            </td>
                            <td>
                                {{ user.last_login | naturaltime  }}

                            </td>
{#                            <td>#}
{##}
{#                                {{ user.get_profile.current_kpi_approval.get_manager_status_display }}#}
{#                            </td>#}
{#	                        <td>{{ user.get_profile.current_kpi_approval.get_employee_status_display }}</td>#}
	                        <td>
	
{#	                            <a href="#send_notification" onclick="$('#employee_id').val({{ user.id }});$('#send_reminder_to').html('{{ user.email }}, {{ user.get_profile.report_to.email }}');" class="btn btn-info"  data-toggle="modal" >#}
	                            <a href="#send_notification" onclick="$('#employee_id').val({{ user.id }});$('#send_reminder_to').html('{{ user.email }}, {{ user.get_profile.parent.user.email }}');" class="btn btn-info"  data-toggle="modal" >

	
	
	                                Send Reminder
	                            </a>
	
	                        </td>
                        </tr>
                        {% endfor %}
                    </table>
{#                    <div class="pagination pagination-right pagination-mini">#}
{#						<ul>#}
{#						   {% if employees.has_previous %}#}
{#							<li><a href="?page={{ employees.previous_page_number }}">«</a></li>#}
{#						{% endif %}	    #}
{#						   {% for index in employees.paginator.page_range %}  #}
{#						   <li {% if index == employees.number  %}class="active"{% endif %}><a href="?page={{ index }}">{{ index }}</a></li>#}
{#						   {% endfor %}#}
{#						   {% if employees.has_next %}#}
{#							<li><a href="?page={{ employees.next_page_number }}">»</a></li>#}
{#						      {% endif %}#}
{#						</ul>#}
{#					</div>#}
                </div>                
            </div>



        </div>

    </div>


<!-- Modal -->
<div id="send_notification" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Gửi nhắc nhở tới Manager & Employee</h3>
    </div>

    <div class="modal-body">
        <form method="post" id="send_form" action="/performance/kpi_approval/send_reminder/">

                <p>To: <b><span id="send_reminder_to"></span></b></p>
            <p>
                <textarea style="width: 100%" name="content" placeholder="Nội dung thông báo"></textarea>
                <input type="hidden" name="employee_id" id="employee_id" value="&#123&#123person.user_id&#125&#125"/>

            </p></form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button onclick="send_form_submit();" class="btn btn-success">Gửi Thông Báo</button>

    </div>
</div>


   <!-- Modal -->
<div id="email_template" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Email template</h3>
    </div>

    <div class="modal-body">
        <table class="table table-bordered">
            {% for noti_message in noti_messages  %}
            <tr>
                <h3>{{ noti_message.get_phase_display }}</h3>
                <div style="padding: 6px; border: #888888 1px solid; width: 88%;">{{ noti_message.content|safe  }}</div>
            </tr>

            {% endfor %}

        </table>

    {% if request.user.is_staff %}
        <a href="/admin/performance/kpiapprovalnotificationmessage/">[Edit]</a>
    {% endif %}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
{#        <button onclick="send_form_submit();" class="btn btn-success">Gửi Thông Báo</button>#}

    </div>
</div>


    <div style="height: 50px"></div>
    
{#    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/locales/bootstrap-datepicker.vi.js" charset="UTF-8"></script>#}



<script>
    function send_form_submit() {
         //alert('Thank you for your commexx!');
        $('#send_form').ajaxSubmit(function () {
            alert('Gửi thành công!');
        });

        $('#send_notification').modal('toggle');
    }
    </script>
{% endblock %}