<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Cloudjet KPI Quotation</title>

    <!--<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-cached-resource/angular-cached-resource.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    {#    <script src="{{ STATIC_URL }}bower_components/jspdf/dist/jspdf.min.js"></script>#}
    <script src="{{ STATIC_URL }}bower_components/html2canvas/build/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <link href="{{ STATIC_URL }}bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

    {#    <script src="{{ STATIC_URL }}bower_components/angular-route/angular-route.min.js"></script>#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
    <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}pricing/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}pricing/css/price-kpi.css">
    <script src="{{ STATIC_URL }}js/lib/general.js?v=3"></script>
{% include "common/js-test.html" %}

{% load tutor_extras %}
{% show_tracking %}
</head>
<body>

<div id="price-kpi" ng-controller="BeerCounter">
<form method="post" enctype="multipart/form-data" id="file_form">
    {% csrf_token %}
 <div style="display: none;">
                 <input type="file" id="uploadfile" onchange="$('#file_form').submit();" /></div></form>
<form editable-form name="editableForm" onaftersave="saveUser()">
{% csrf_token %}
<!-- header -->
<div class="container-fluid" style="padding: 0px;">
    <div class="col-xs-2" id="line-01"></div>
    <div class="col-xs-3" id="line-02"></div>
    <div class="col-xs-7" id="line-03"></div>
    <div id="header">
        <img id="logo-01" src="{{ STATIC_URL }}pricing/img/cjs-logo.svg">

        <div id="cjs-name">Công ty cổ phần cloudjet solutions</div>
        <div class="clear-fix"></div>
        <div id="head-titel">
            <span style="font-size: 24pt; letter-spacing: 5px;">bảng <br
                    class="visible-xs-inline">báo giá</span><br><span style="border-bottom: 2px #fff solid;">cloudjet kpi</span>
        </div>
    </div>
</div>
<!-- Thông tin -->
<div class="container">
    <!-- thông tin khách hàng -->
    <div class="col-md-7">
        <div id="box-logo-ctm">
{#            <img id="logo-02" src="{{ STATIC_URL }}pricing/img/logo-footer-retina.png" onclick='$("#uploadfile").click();'>#}


        </div>
        <div class="ctm-cjs-titel" style="margin-top: 0px;">khách hàng</div>
        <table class="table" style="margin-bottom: 0px;">
            <thead>
            <tr style="background-color: #e6eff5;">
                <th>Công ty:</th>
                <th>
                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.client_name">{[{ quotation.fields.client_name || 'Báo giá dành cho doanh nghiệp 200 nhân viên (click sửa)' }]}</span>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Đại diện liên hệ:</b></td>
                <td><b>


                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.client_contact">{[{ quotation.fields.client_contact ||
                        'Click để sửa' }]}</span>
                </b></td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td><span ng-click="editableForm.$show()" editable-text="quotation.fields.client_phone">{[{ quotation.fields.client_phone ||
                    'Click để sửa' }]}</span></td>
            </tr>
            </tbody>
        </table>
        <table class="table" id="ctm-ct">
            <thead style="border-top: 3px #ccc solid;">
            <tr>
                <th>BIẾN SỐ</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Tổng số lượng nhân viên:</td>
                <td>

                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.employees">{[{ quotation.fields.employees || '0' }]}</span>


                </td>
            </tr>
            <tr>
                <td>Tổng số công ty con (nếu có):</td>
                <td>{[{ quotation.fields.subsidary }]}</td>
            </tr>
            <tr>
                <td>Số lượng nhân viên thuộc cấp quản lý:</td>
                <td>

                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.managers">{[{ quotation.fields.managers || '0' }]}</span>
                </td>
            </tr>
            <tr>
                <td>Số lượng nhân viên thuộc cấp nhân viên:</td>
                <td>

                    {[{ non_managers }]}</span>

                </td>
            </tr>
            <tr>
                <td>Tổng số lượng chức danh:</td>
                {#                                <td>{{quotation.job_descriptions}}</td>#}
                <td>
                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.job_descriptions">{[{ quotation.fields.job_descriptions
                        || '0' }]}</span>


                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Gói dịch vụ lựa chọn:</td>
                <td class="premium-price">PREMIUM</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- thông tin chuyên viên cjs -->
    <div class="col-md-5">
        <div id="box-logo-02">
{#            <img id="logo-02" src="{{ STATIC_URL }}pricing/img/cjs-logo.svg">#}
        </div>
        <div class="ctm-cjs-titel" style="margin-top: 0px;">đại diện cloudjet solutions</div>
        <table class="table">
            <thead>
            <tr>
                <th><b>Chuyên viên:</b></th>
                <th><b>
                    {#                                    Anh Long Phạm#}
                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.consultant_name">{[{ quotation.fields.consultant_name ||
                        'Click để sửa' }]}</span>

                </b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Điện thoại:</td>
                <td>


                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.consultant_phone">{[{ quotation.fields.consultant_phone
                        || 'Click để sửa' }]}</span>
                    {#                                    (+84) 918 642 234#}
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <span ng-click="editableForm.$show()" editable-text="quotation.fields.consultant_email">{[{ quotation.fields.consultant_email
                        || 'Click để sửa' }]}</span>

                    {#                                    long@cjs.vn / long@cjs.sg#}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
<div class="col-lg-12">
<table class="table" id="kpi-package">
<colgroup>
    <col>
    <col style="background-color: #f7fcff;">
    <col style="background-color: #f7fff4;">
    <col style="background-color: #faf3f5;">
</colgroup>
<thead>
<tr>
    <th id="package">GÓI DỊCH VỤ</th>
    <th id="training">TRAINING</th>
    <th id="standard">STANDARD</th>
    <th id="premium">PREMIUM</th>
</tr>
</thead>
<tbody>
<tr class="titel">
    <td>XÂY DỰNG KPI CẤP CÔNG TY VÀ PHÒNG BAN</td>
    <td>15.000.000 VNĐ</td>
    <td>30.000.000 VNĐ</td>
    <td>80.000.000 VNĐ</td>
</tr>
<tr>
    <td class="dad-list">Thu thập và phân tích dữ liệu doanh nghiệp</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Chuẩn hoá hệ thống mục tiêu doanh nghiệp theo mô hình Thẻ Điểm Cân Bằng (BSC)</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Xây dựng văn hoá KPI:</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td class="kid-list">Các hoạt động xây dựng sự quyết tâm và đồng lòng của lực lượng nhân sự nòng cốt</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="kid-list">Đồng hành xuyên suốt quá trình tư vấn</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Tổng hợp thư viện KPI cấp công ty và phòng ban</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Cam kết hiệu quả tư vấn</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr class="tfooter">
    <td style="vertical-align: middle;">Ghi chú</td>
    <td>
          <span contenteditable ng-model="quotation.fields.commitment_1">
            </span>
    </td>
    <td>
          <span contenteditable ng-model="quotation.fields.commitment_2">
            </span>
    </td>
    <td>
          <span contenteditable ng-model="quotation.fields.commitment_3">
            </span>
    </td>
</tr>
<tr class="titel">
    <td>XÂY DỰNG KPI CẤP NHÂN VIÊN THEO VỊ TRÍ CHỨC DANH</td>
    <td>
        {[{ quotation.fields.package_training_1| number:0 }]} VNĐ
    </td>
    <td>
        {[{ quotation.fields.package_standard_1| number:0 }]} VNĐ
    </td>
    <td>{[{ quotation.fields.package_premium_1| number:0 }]} VNĐ</td>
</tr>
<tr>
    <td class="dad-list">Tập huấn phân bổ mục tiêu theo tiêu chí SMART</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Tổng hợp hệ thống mục tiêu từng vị trí chức danh</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Hỗ trợ tinh chỉnh và ứng dụng thực tế</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Cam kết hiệu quả tư vấn</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr class="tfooter">
    <td style="vertical-align: middle;">Ghi chú</td>
    <td>
          <span contenteditable ng-model="quotation.fields.commitment_4">
            </span>
    </td>
    <td>

          <span contenteditable ng-model="quotation.fields.commitment_5">
            </span>
    </td>
    <td>
          <span contenteditable ng-model="quotation.fields.commitment_6">
            </span>
    </td>
</tr>
<tr class="titel">
    <td>ĐỒNG HÀNH CÙNG DOANH NGHIỆP VÀ TỐI ƯU NĂNG SUẤT CÔNG VIỆC THÔNG QUA ỨNG DỤNG KPI</td>
    <td>0 VNĐ</td>
    <td>0 VNĐ</td>
    <td>{[{ quotation.fields.package_premium_2| number:0 }]} VNĐ</td>
</tr>
<tr>
    <td class="dad-list">Hỗ trợ theo dõi và đánh giá kết quả KPI toàn công ty hàng quý (do 1 chuyên viên KPI của CJS
        chuyên trách)
    </td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Thực hiện các báo cáo tổng hợp kết quả KPI và đưa ra những đề xuất cải tiến hàng quý để giúp
        công ty vận hành hiệu quả hơn
    </td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Liên tục hỗ trợ, soát xét KPI hàng quý để thúc đẩy hoạt động của bộ máy nhân sự bám sát những
        chi tiêu KPI
    </td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Hỗ trợ xây dựng KPI cho tối đa 5 vị trí mới</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Cam kết cải thiện năng suất lao động</td>
    <td><i class="fa fa-times non-check"></i></td>
    <td><i class="fa fa-times non-check"></i></td>
    <td style="text-align: left;">

        <span contenteditable ng-model="quotation.fields.commitment_8">
            </span>


    </td>
</tr>
<tr class="titel">
    <td>CHI PHÍ THUÊ PHẦN MỀM CLOUDJET KPI MỖI QUÝ</td>
    <td>{[{ quotation.fields.package_app| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_app| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_app| number:0 }]} VNĐ</td>
</tr>
<tr>
    <td class="dad-list">Tập huấn sử dụng hệ thống</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Đánh giá KPI giai đoạn thử nghiệm</td>
    <td><span class="free">FREE</span></td>
    <td><span class="free">FREE</span></td>
    <td><span class="free">FREE</span></td>
</tr>
<tr>
    <td class="dad-list">Đánh giá KPI chính thức đợt 1 (Quý thứ 1)</td>
    <td><span class="free">FREE</span></td>
    <td><span class="free">FREE</span></td>
    <td><span class="free">FREE</span></td>
</tr>
<tr>
    <td class="dad-list">Bản quyền sử dụng mỗi quý<br>(giảm 15% nếu thanh toán theo năm)</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr>
    <td class="dad-list">Quản trị, bảo trì server, bảo mật thông tin và back-up dữ liệu</td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
    <td><i class="fa fa-check checked"></i></td>
</tr>
<tr class="price-count" style="border-top: 3px #ccc solid;">
    <td>TỔNG CHI PHÍ TƯ VẤN VÀ PHẦN MỀM</td>
    <td>{[{ quotation.fields.package_training_total| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_standard_total| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_premium_total| number:0 }]} VNĐ</td>

</tr>
<tr class="price-count">
    <td>CHI PHÍ QUẢN LÝ DỰ ÁN (10%)</td>
    <td>{[{ quotation.fields.package_training_total * 0.1| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_standard_total * 0.1| number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_premium_total * 0.1| number:0 }]} VNĐ</td>
</tr>
<tr class="price-count-total">
    <td>TỔNG CHI PHÍ DỰ ÁN (ĐÃ BAO GỒM VAT)</td>
    <td>{[{ quotation.fields.package_training_total * 1.1 | number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_standard_total * 1.1 | number:0 }]} VNĐ</td>
    <td>{[{ quotation.fields.package_premium_total * 1.1 | number:0 }]} VNĐ</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container-fluid" id="footer">
    <div class="col-md-3">
        <div id="footer-titel-1">Giải đáp thắc mắc</div>
        <div class="footer-ct">Vui lòng liên hệ thông tin chuyên viên trong bảng báo giá này để được hỗ trợ nhanh
            nhất.
        </div>
    </div>
    <div class="col-md-3">
        <div id="footer-titel-2">Trụ sở Việt Nam</div>
        <div class="footer-ct-2"><b>Toà nhà MB Bank Tower</b><br> Tầng 13, Cách Mạng Tháng 8 Phường 11, Quận 3, TP.HCM
        </div>
    </div>
    <div class="col-md-3">
        <div id="footer-titel-3">Văn phòng Singapore</div>
        <div class="footer-ct-2"><b>Toà nhà Far East Finance</b><br>14 Robinson Road Singapore, 048545</div>
    </div>
    <div class="col-md-3">
        <div id="footer-titel-2">Văn phòng Malaysia</div>
        <div class="footer-ct-2"><b>Malaysian Global Innovation & Creativity Centre,</b><br>Block 3730 APEC, 63000
            Cyberjaya, Malaysia 3 8324 4800
        </div>
    </div>
    <div class="col-md-12" id="version">© 2015 Cloudjet Solutions, Inc. All rights reserved. CJS, Cloudjet Solutions,
        Social Retarget, SaleUP CRM are trademarks of Cloudjet Solutions, Inc.
    </div>
</div>

</form>
<div class="container-fluid" id="download-fixed">
    <div class="save-as" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">

        <button class="save-as-button"><i class="fa fa-pencil-square-o spacing"></i>Sửa Thông Tin</button>
    </div>
    <div class="save-as" ng-show="!editableForm.$visible">
        <button class="save-as-button" onclick="download_pdf()"><i class="fa fa-file-pdf-o spacing"></i>Download PDF
        </button>
    </div>
    {#    <div class="save-as" ng-show="!editableForm.$visible">#}
    {#        <button class="save-as-button"><i class="fa fa-envelope-o spacing"></i>Send to Email</button>#}
    {#    </div>#}

    <div class="save-as" ng-show="editableForm.$visible">
        <button type="submit" class="save-as-button" ng-disabled="editableForm.$waiting"
                ng-click="editableForm.$save()"
                ><i
                class="fa fa-floppy-o spacing"></i>Save
        </button>
    </div>
    <div class="save-as" ng-show="editableForm.$visible">
        <button class="save-as-button" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()"><i
                class="fa fa-times-circle-o spacing"></i>Cancel
        </button>
    </div>
</div>


</div>


<script>
    function upload_logo (){
        var id = getUrlParameter('id');

    }
    var app = angular.module('app', ['ngCachedResource', 'xeditable'])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{');
                $interpolateProvider.endSymbol('}]}');
            })
            .config(function ($httpProvider) {
                $httpProvider.defaults.headers.post['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
            })

            .controller('BeerCounter', function ($scope, $cachedResource, $location) {

                $scope.id = getUrlParameter('id');
                if ($scope.id == undefined) {
                    $scope.id = ''
                }

                var Quotation = $cachedResource('quotation', '/api/quotations/');
                $scope.quotation = Quotation.get({id: $scope.id});

                $scope.quotation.$promise.then(function () {

                    //  $location.path('id/' + $scope.quotation.fields.hash + '/');
                    var url = '/performance/pricing/?id=' + $scope.quotation.fields.hash;
                    if ($scope.id == '') {
                        location.href = url ;// '/performance/pricing/?id=' + $scope.quotation.fields.hash;
                    }

                    $('#file_form').attr('action','/api/quotations?id=' + $scope.quotation.fields.hash);

                    //  history.replaceState({}, 'KPI Pricing', '/performance/pricing/?id=' + $scope.quotation.fields.hash );

                });

                $scope.$watch('quotation', function (newVal, oldVal) {
                    //if (newVal !== oldVal)
                    {
                        var usd_vnd = 22480;
                        $scope.non_managers = $scope.quotation.fields.employees - $scope.quotation.fields.managers;
                        $scope.quotation.fields.package_training_1 = 1000000 * $scope.quotation.fields.job_descriptions;
                        $scope.quotation.fields.package_standard_1 = 1800000 * $scope.quotation.fields.job_descriptions;
                        $scope.quotation.fields.package_premium_1 = 2300000 * $scope.quotation.fields.job_descriptions;
                        $scope.quotation.fields.package_premium_2 = 35 * usd_vnd * 4 * $scope.quotation.fields.managers; //35$ per quarter x 4 quarter
                        $scope.quotation.fields.package_app = $scope.quotation.fields.employees * 1 * 3 * usd_vnd + $scope.quotation.fields.managers * 3 * 3 * usd_vnd;
                        $scope.quotation.fields.package_training_total = 15000000 + $scope.quotation.fields.package_app + $scope.quotation.fields.package_training_1;
                        $scope.quotation.fields.package_standard_total = 35000000 + $scope.quotation.fields.package_app + $scope.quotation.fields.package_standard_1;
                        $scope.quotation.fields.package_premium_total = 80000000 + $scope.quotation.fields.package_app + $scope.quotation.fields.package_premium_1 + $scope.quotation.fields.package_premium_2;

                        $scope.quotation.$save();
                    }
                }, true);

            });

    app.run(function (editableOptions) {
        editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
    });


    app.filter('nl2br', function ($sce) {
        return function (msg, is_xhtml) {
            var is_xhtml = is_xhtml || true;
            var breakTag = (is_xhtml) ? '<br />' : '<br>';
            var msg = (msg + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
            return $sce.trustAsHtml(msg);
        }


    });


    app.directive("contenteditable", function () {
        return {
            restrict: "A",
            require: "ngModel",
            link: function (scope, element, attrs, ngModel) {

                function read() {
                    ngModel.$setViewValue(element.html());
                }

                ngModel.$render = function () {
                    element.html(ngModel.$viewValue || "");
                };

                element.bind("blur keyup change", function () {
                    scope.$apply(read);
                });
            }
        };
    });


    // We'll make our own renderer to skip this editor

    var specialElementHandlers = {
        '#download-fixed': function (element, renderer) {
            return true;
        }
    };


    function download_pdf() {
        $('#download-fixed').hide();
        html2canvas(document.body, {
            onrendered: function (canvas) {
                //document.body.appendChild(canvas);
//                img = canvas.toDataURL("image/jpeg");

//                download(img, "cloudjet_kpi.jpg", "image/jpeg");

                 var win = window.open();
                win.document.write('<img src="'+canvas.toDataURL("image/png")+'"/>');
                $('#download-fixed').show();
            }
        });
    }
</script>
</body>

</html>
