<div id="kpi-score-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nhập đánh giá KPI bằng file Excel(cho công nhân)</h3>
  </div>
  <div class="modal-body">
  	<p><a target="_blank" href="{% url 'import-file-check' %}">Kiểm tra kết quả nhập file đánh giá</a></p>
    <form action="{% url 'vpg-import-kpi-score' %}" method="post" enctype="multipart/form-data" id='kpi-score-importer'> {% csrf_token %}
    	<div class="form-inline">
    		<label style="width: 100px;">Kỳ đánh giá:</label>
	    	<select name="quarter_period">
	    		{% for q in quarter_periods %}
	    		<option {% if q.id == quarter_period.id %}selected="selected"{% endif %} value="{{ q.id }}">{{ q.due_date|date:"d-m-Y" }}{% if q.quarter_name %} - {{ q.quarter_name }}{% endif %}</option>
	    		{% endfor %}
	    	</select> 
    	</div>
    	
    	<div class="form-inline" style="margin-top: 10px">
	    	<label style="width: 100px">File đánh giá:</label>
	    	<input type="file" name="kpi_data" required="required">
    	</div>
    	<small>
	  		<div>Mẫu file nhập điểm đánh giá KPI cho nhân viên xem <a target="_blank" href="{{ STATIC_URL }}templates/VPG/Vinh_Phat_-_KPIs_cho_nhan_vien.xls?v=1">tại đây</a></div>
	  		<div><strong>Lưu ý</strong>: File nhập điểm phải đúng định dạng theo mẫu. Những nhân viên có mã số không có trong hệ thống sẽ bị bỏ qua.</div>  
	  	</small>
	  	
    	<div style="margin-top: 25px;float: right;">
	    	<button class="btn btn-primary btn-kpi-score" type="submit">Lưu</button>
	    	<button class="btn" data-dismiss="modal" aria-hidden="true">Huỷ</button>
	    </div>
    </form>
  </div>
</div>

<div id="competency-score-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nhập đánh giá năng lực bằng file Excel(cho công nhân)</h3>
  </div>
  <div class="modal-body">
    <form action="{% url 'vpg-import-competency-score' %}" method="post" enctype="multipart/form-data" id='competency-score-importer'> {% csrf_token %}
    	<div class="form-inline">
    		<label style="width: 100px;">Kỳ đánh giá:</label>
	    	<select name="quarter_period">
	    		{% for q in quarter_periods %}
	    		<option value="{{ q.id }}">{{ q.due_date|date:"d-m-Y" }}{% if q.quarter_name %} - {{ q.quarter_name }}{% endif %}</option>
	    		{% endfor %}
	    	</select> 
    	</div>
    	
    	<label>File đánh giá:</label>
    	<input type="file" name="competency_data" required="required">
    	
    	<small>
	  		<div>Mẫu file nhập điểm đánh giá năng lực cho nhân viên xem <a target="_blank" href="{{ STATIC_URL }}templates/VPG/Vinh_Phat_-_Danh_gia_nang_luc_cho_nhan_vien_.xls">tại đây</a></div>
	  		<div><strong>Lưu ý</strong>: File nhập điểm phải đúng định dạng theo mẫu. Những nhân viên có mã số không có trong hệ thống sẽ bị bỏ qua.</div> 
	  	</small>
  	
    	<div style="margin-top: 25px;float: right;">
		    <button class="btn btn-primary" type="submit">Lưu</button>
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Huỷ</button>
	  	</div>
    </form>
  </div>
</div>