{% extends "performance/timeline/timeline_base.html" %}
{% load i18n l10n %}
{% load kpi manage_tag %}
{% block title %}Performance Review{% endblock %}

{% block landing %}
<div class="pane-contain" style="margin: 20px auto">	
	<h4>Import log</h4>
	<div class="clearfix">
		<div class="pull-left">Date: {{ import_date|date:'d-m-Y' }}</div>
		<div class="pull-right">
			<div class="dropdown" style="display: inline-block;">
			  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ quarter_period.due_date|date:"d-m-Y" }}{% if quarter_period.quarter_name %} - {{ quarter_period.quarter_name }}{% endif %}</a> <b class="caret"></b>
			  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			  		{% for q in quarters %}
			  		<li><a href="{% url 'quarter-import-file-check' q.id %}">{{ q.due_date|date:"d-m-Y" }}{% if q.quarter_name %} - {{ q.quarter_name }}{% endif %}</a></li>
			  		{% endfor %}
			  	</ul>
			</div> &nbsp;&nbsp;
			{% if imported_file %}
			<a href="?download=1" class="btn btn-primary btn-small">Tải file điểm</a>
			{% endif %}
		</div>
	</div>
	<table class="table table-bordered">
		<colgroup>
			<col width="20%">
			<col width="12%">
			<col width="auto">
		</colgroup>
		<thead>
			<tr>
				<th>Tên nhân viên</th>
				<th>Mã nhân viên</th>
				<th>Trạng thái</th>
			</tr>
		</thead>
		<tbody>
			{% for log in logs %}
			<tr>
				<td>{{ log.employee_name }}</td>
				<td>
					{{ log.employee_code }}
					{% with log_user=log.employee_code|get_user %}
						{% if log_user %}
						 - <a target="_blank" href="{% url 'all_kpi' %}?team_id={{ log_user.id }}">View KPI</a>
						{% endif %}
					{% endwith %} 
				</td>
				<td>{{ log.description|linebreaksbr }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(document).ready(function () {
	
});
</script>
{% endblock %}
