{% extends "base_performace.html" %}
{% load i18n user_tags %}

{% block title %}{% trans '360 Invites' %}{{ block.super }}{% endblock %}
{% block landing %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/spacetree.css?v={{ settings.VERSION }}20130821" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>

    {% include 'performance/nav_bar.html' with logoLink="kpi-img/icon/360deg-invite.png"|get_static %}
    <div class="item_contain">
        <div class="invite_title">{% trans "360 Invites" %}</div>
        <div class="invite_box">
        	{% if reviews %}
        	<table class="table">
        		<tr class="invite_head">
        			<th>{% trans 'Name' %}</th>
        			<th>{% trans 'Completion status' %}</th>
        			<th>{% trans 'Mark as complete' %}</th>
        			<th>{% trans 'Review due on' %}</th>
        			<th></th>
        		</tr>
        		{% for review in reviews %}
        		<tr>
        			<td style="vertical-align: middle;">
        				<img src="{{ review.reviewee.profile.get_avatar }}" style="height: 30px"> 
        				{{ review.reviewee|display_name }}
        			</td>
        			<td>
        				<div style="position: relative;">
        					<span style="position: absolute;margin-left: 100px">{% if review.is_complete %}Complete{% else %}{{ review.completion }}%{% endif %}</span>
	        				<div class="progress progress-success" style="margin: 5px 0 0 0">
							  <div class="bar" style="width: {% if review.is_complete %}100{% else %}{{ review.completion }}{% endif %}%"></div>
							</div>
						</div>
        			</td>
        			<td>
        				<input {% if review.is_complete %}checked="checked"{% endif %} type="checkbox" name="mark_as_complete" style="margin: 7px 30px;" onchange="update_status(this, {{ review.id }})" >
					</td>
        			<td>
        				<p style="margin-top: 5px">{{ quarter_period.due_date|date:"d M Y" }}</p>
        			</td>
        			<td>
        				<a target="_blank" class="btn {% if review.is_complete %}disabled{% endif %}" href="{% if review.is_complete %}{% else %}{% url 'review_360' %}?hash_key={{ review.get_hash_key }}{% endif %}" style="font-size: 13px;padding: 3px 12px;">{% trans 'Do review' %}</a>
					</td>
        		</tr>
        		{% endfor %}
            </table>
        	{% else %}
            <div class="invite_head" style="height: 40px;"></div>
            <div class="invite_content">
                <p>{% trans "If you had some invitations to do 360 reviews (reviews of other people), they'd display here, and you could click on them to do those reviews." %}</p>

                <p>{% trans "Currently you don't have any reviews, so you don't need to worry." %}</p>
            </div>
            {% endif %}         
        </div>
    </div>
    <div id="waiting"><img src="{{ STATIC_URL }}img/csb/saving.gif"> {% trans "Saving ..." %} </div>
    <style>
		.invite_head {
			color: #fff;
			text-align: left;
			vertical-align: middle;
			font-size: 16px;
			height: 20px;
		}
	</style>
	<script type="text/javascript">
		function update_status(obj, id) {
			cloudjetRequest.ajax({
		        type: 'POST',
		        data: {
		      		'review_id': id 			        
		        },
		        url: "{% url '360_invite' %}",
		        beforeSend:function() {
		        	$("#waiting").show();
		        },
		        success:function(data) {
		        	$("#waiting").hide();
		        	window.location.reload();
		        },
		        error:function(jqXHR, textStatus, errorThrown) {	
		        	$("#waiting").hide();
		        	console.log("Quá trình cập nhật bị lỗi. Hãy thử lại");
		        }
			});
		}
	</script>
{% endblock %}