{% load i18n user_tags %}
<!DOCTYPE html>
<html ng-app="cjet">
<head>
    <meta charset="UTF-8">
    <title>360 review | Cloudjet - Talent Management & Performance on Cloud</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v={{ settings.VERSION }}20131009" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/360.css" type="text/css"/>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-v2/boostrap.min.js?v={{ settings.VERSION }}20140924"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}20131009"></script>
</head>
<body>
{% include "fix_style_css.html" %}
<div class="menu-bar">
    <div class="main">
        <div class="sm-menu">
            <div class="sm-menu-left">
                <a href="/"><img src="{{ STATIC_URL }}img/logo/cloudjet.png" alt="Cloudjet"></a>
                {#	          		<span style="margin-left: 3em;"><i class="thin">Nâng tầm </i><i class="bold">hiệu suất</i></span>#}
            </div>
            <div class="right">
                <div class="title-right">
                    {% blocktrans with quarter_period.due_date|date:"d M Y" as due_date %}360 Review, due on
                        {{ due_date }}{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if valid %}
    <div style="margin: 20px 0" ng-controller="Review360Ctrl">
        <div class="main">
            <div class="clearfix" style="margin-bottom: 20px">
                <div class="left user_info">
                    <img src="{{ reviewee.profile.get_avatar }}" style="height: 100px" align="left">
                    <span class="username"><strong>{{ reviewee|display_name }}</strong></span><br>
                    <span style="font-size: 13px;">{% trans 'Position' %}: {{ reviewee.profile.current_job_title.name }}</span><br>
                    <span style="font-size: 13px;">{{ organization.name }}</span>
                </div>
                <div class="right progress-note">
                    <div>
                        <div style="position: relative;">
                            <span class="complete_text">{% if review.is_complete %}{% trans 'Complete' %}{% else %}
                                &#123&#123total_progress()&#125&#125%{% endif %}</span>
                            <span>{% trans 'Completion status' %}: </span>
                            <div class="progress progress-success progress-status">
                                <div class="bar" style="width: 0%"></div>
                            </div>
                        </div>
                        <div>
                            <p>
                                {% blocktrans %}This review will save automatically as you complete it. You can close
                                    the window at any time and start again from where you left off. Click the 'Mark
                                    review as complete' button if you have completed your review and it is ready to
                                    submit.{% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button ng-click="update_status()"
                                class="btn {% if review.is_complete %}btn-warning{% else %}btn-primary{% endif %} right"
                                style="padding: 2px 12px">{% if review.is_complete %}{% trans 'Edit review' %}{% else %}
                            {% trans 'Mark review as complete' %}{% endif %}</button>
                    </div>
                </div>
            </div>

            <div class="review" ng-repeat="competency in person.competencies">
                <div class="review-title">
                    <strong><span class="num">&#123&#123$index + 1&#125&#125.</span> &#123&#123competency.name&#125&#125</strong>
                </div>
                <div class="review-obj" ng-repeat='child in competency.children'>
                    <p>&#123&#123child.name&#125&#125</p>
                    <div class="rating">
                        <div class="rate-bar">
                            <div style="position: relative;">
                                <a {% if not review.is_complete %}draggable{% endif %} class="drag-marker"
                                   data-parent="&#123&#123competency.id&#125&#125" data-type='comp'
                                   data-id='&#123&#123child.id&#125&#125' ng-style="position(child.score,5.4,65)">
                                    <img src="{{ STATIC_URL }}img/csb/marker.png">
                                </a>
                                <div class="progress-bar">
                                </div>
                                <div style="width: 615px;margin: 0 auto;">
                                    <span class="not-rate">{% trans "Not rate" %}</span>
                                </div>
                                <div>
                                    <div class="rate-level level-1">
                                        0&#37;
                                    </div>
                                    <div class="rate-level level-2">
                                        {% trans "Sometimes" %} (50&#37;)
                                    </div>
                                    <div class="rate-level level-3">
                                        {% trans "Usually" %} (100&#37;)
                                    </div>
                                    <div class="rate-level level-4">
                                        {% trans "Always" %} (120&#37;)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-obj">
                    <p><strong>{% trans 'Comments and Evidence' %}</strong></p>
                    <div>
                        <textarea ng-model='competency.comment_evidence' {% if review.is_complete %}disabled="disabled"
                                  {% else %}ng-focus="store_comment(competency.comment_evidence)"
                                  ng-blur="update_note(competency.comment_evidence, competency.id, person.user_id)" {% endif %}
                                  placeholder="{% trans 'Please record relevant comments, evidence and/or the outcome of the performance discussion here.' %}">&#123&#123competency.comment_evidence&#125&#125</textarea>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom: 30px">
                <div class="right progress-note" style="display: none;">
                    <div>
                        <div style="position: relative;">
                            <span class="complete_text">{% if review.is_complete %}{% trans 'Complete' %}{% else %}
                                &#123&#123total_progress()&#125&#125%{% endif %}</span>
                            <span>{% trans 'Completion status' %}: </span>
                            <div class="progress progress-success progress-status">
                                <div class="bar" style="width: 0%"></div>
                            </div>
                        </div>
                        <div>
                            <p>
                                {% blocktrans %}This review will save automatically as you complete it. You can close
                                    the window at any time and start again from where you left off. Click the 'Mark
                                    review as complete' button if you have completed your review and it is ready to
                                    submit.{% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button ng-click="update_status()"
                                class="btn {% if review.is_complete %}btn-warning{% else %}btn-primary{% endif %} right"
                                style="padding: 2px 12px">{% if review.is_complete %}{% trans 'Edit review' %}{% else %}
                            {% trans 'Mark review as complete' %}{% endif %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="waiting"><img src="{{ STATIC_URL }}img/csb/saving.gif"> {% trans "Saving ..." %} </div>
    <div id="loading" style="display: block;"><img src="{{ STATIC_URL }}img/csb/saving.gif"> {% trans "Loading ..." %}
    </div>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angularjs/ctrl-360.js?v={{ settings.VERSION }}20131219"></script>
    <script src="{{ STATIC_URL }}js/angularjs/module-360.js?v={{ settings.VERSION }}20131013"></script>
{% else %}
    <div>
        <div class="main small_corners" style="min-height: 600px;margin: 20px auto;">
            <div>
                <p style="color: red;font-size: 16px;text-align: center;">
                    Đường link đã bị hỏng hoặc lời mời đánh giá đã bị xoá vui lòng kiểm tra lại. Sau đó thực hiện việc
                    đánh giá.
                </p>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>