{% extends "bsc_base.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Auto Mail" %}{{ block.super }}{% endblock %}
{% load inplace_edit %}
{% block content %}
    {% trans 'Auto Mail' as titlePage %}
    {% trans 'Set up send email evaluation for company' as descTitle %}
    <div class="item_contain">
        &nbsp;
    </div>
    <script src="{{ STATIC_URL }}bower_components/tinymce/js/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}customize-v5/customize-v5.css?v={{ settings.VERSION }}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/kpi_editor.css" type="text/css" media="screen"/>

    <style>
        h3{
            font-size:18px;
            font-weight: bold;
        }
    </style>
    <div id="app">
        <div class="row no-padding-no-margin">
        {% if not create_template %}
            <div class="col-sm-10 col-sm-offset-1 no-padding">
                <div class="alert alert-infor-v5 alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{% trans 'Guide' %}:</strong>
                    <p>{% trans "Step 1 : Write the title for the email." %}</p>
                    <p>{% trans "Step 2 : Select the email template available in the library." %}</p>
                    <p>{% trans "Step 3 : Review email and send." %}</p>
                    <p>- {% trans "Click 'Send me' will send Email for you to check first." %}</p>
                    <p>- {% trans "Click 'Send all' will send Email all organization." %}</p>
                </div>
            </div>
        {% else %}
            <div class="col-sm-10 col-sm-offset-1 no-padding">
                <div class="alert alert-infor-v5 alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{% trans 'Guide' %}:</strong>
                    <p>- {% trans "To create a new email template, enter a name for the template, the content, and click save." %}</p>
                    <p>- {% trans "Select email templates available for viewing, editing or deleting." %}</p>
                </div>
            </div>
        {% endif %}

            <div class="col-sm-5 col-sm-offset-1 column-automail-left">
                <div class="row">
                    {% if not create_template %}
                    <div class="col-sm-12 column-title-header">
                        <h3 class="text-center mg-bt-15 mg-t-15 text-title-header">
                            {% trans 'Send Email evaluation' %}
                        </h3>
                    </div>
{#                    <div class="col-sm-3">#}
{#                        <a href="{% url 'auto_mail_view' %}?create_template=true">#}
{#                            <button type="button" class="btn btn-success pull-right" style="margin-top: 15%;">#}
{#                                <span class="glyphicon glyphicon-triangle-right"></span> {% trans 'Create or Edit' %}#}
{#                            </button>#}
{#                        </a>#}
{#                    </div>#}
                    {% else %}

                        <div class="col-sm-12 column-title-header">
                        <a href="{% url 'auto_mail_view' %}">
                            <button type="button" class="btn btn-normal btn-cus-white btn-cus-5-7 pull-left mg-t-7">
                                <i class="font-20 material-icons">&#xE5C4;</i> {% trans 'Back' %}
                            </button>
                        </a>
                        <h3 class="text-center mg-bt-15 mg-t-15 pd-r-50 text-title-header">
                            {% trans 'Email template library' %}
                        </h3>
                    </div>
{#                    <div class="col-sm-10">#}
{#                        <h3 class="text-center">{% trans 'Email template library' %}</h3>#}
{#                    </div>#}
                    {% endif %}
                </div>
                <div>

                    {% if not create_template  %}
                        <div class="form-group form-group-sm mg-t-20">
                            <label for="title_email_id" class="mg-bt-10">{% trans 'Tilte email' %}</label>
                            <input type="text" class="input-choose-mail form-control ATE_INP_TITLE" id="title_email_id"
                                   placeholder="{% trans 'Tilte email' %}" v-model="title_email">
                        </div>
                    {% endif %}
                    <div class="input-group mg-t-20 w-100 ATE_BTN_SEND_ME">
                        <label class="mg-bt-10">{% trans 'Choose an email template' %}</label>
                    <div class="row mg-bt-20">
                    {% if create_template %}
                    <div class="col-sm-12 col-md-12">
                        {% else %}
                    <div class="col-sm-12 col-md-7 col-xs-12">
                        {% endif %}
                        <select class="custom-select d-block my-3 select-choose-mail form-control w-100 ATE_DDL_TEMP" id="select_template_id"
                                v-model="select_template"
                                @change="find_template_id();">
                            <option v-if="template.length == 0" value="0">{% trans 'Empty email template' %}</option>
                            <option v-for="(template_select,index) in template" v-text="template_select.title"
                                    :value="template_select.id"></option>

                        </select>
                    </div>
                    {% if not create_template %}
                     <div class="col-md-5 col-sm-12 col-xs-12">
                        <a class="ATE_BTN_LIB" href="{% url 'auto_mail_view' %}?create_template=true">
                            <button type="button" class="btn btn-normal btn-cus-add btn-cus-5-7" style="width: 100%">
                                <i class="fa fa-envelope" aria-hidden="true"></i> {% trans 'Email library' %}
                            </button>
                        </a>
                    </div>
                        {% endif %}
                    </div>
                        {% if create_template %}
{#                            <div class="alert alert-info alert-dismissable fade in"#}
{#                             v-if="select_template == 0">#}
{#                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
{#                            <strong>{% trans 'Guide' %}!</strong> {% trans 'Please select template, you can view or edit, delete!' %}#}
{#                        </div>#}
{#                            <span class="input-group-btn" v-if="select_template != 0">#}
                        {% endif %}
                    </div>
                    {% if not create_template %}
                        <div class="pd-bt-20">
                             <button :title="(!title_email || select_template== 0)?'{% trans "Title Email field and Email template cannot be empty" %}':''" class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7" :disabled="!title_email || select_template== 0" id="btn-mail-test" @click="send_mail_test()" style="boder-radius:3px;">
                                <i class="fa fa-user" aria-hidden="true"></i> {% trans 'Send me' %}
                            </button>
                            <button class="btn btn-normal btn-cus-add btn-cus-5-7 ATE_BTN_SEND_ALL" id="btn-mail-all"
                                    :disabled="!title_email || select_template== 0"
                                    @click ="send_all_email()"
                                    :title="(!title_email || select_template== 0)?'{% trans "Title Email field and Email template cannot be empty" %}':''"><i class="fa fa-users" aria-hidden="true"></i> {% trans 'Send all' %}
                            </button>
                        </div>
                {% endif %}
                </div>
            {% if create_template %}
                <div  class="pd-bt-5" v-if="template.length>0" >
                    <div class="panel panel-default panel-email"
                         v-html="render_html">
                    </div>
                </div>
                <div class="frame-button" v-if="template.length>0">
                    <button class="btn btn-normal btn-cus-del btn-cus-5-7" type="button"
                            @click="delete_template(select_template)"><i class="fa fa-trash" aria-hidden="true"></i> {% trans "Delete" %}</button>
                    <button class="btn btn-normal btn-cus-add btn-cus-5-7" type="button"
                            @click="edit_template(select_template)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans "Edit" %}</button>
                    </span>
                </div>
            {% endif %}
            </div>
            <div class="pd-r-25">
            <div class="col-sm-5 column-automail-left">
                {% if create_template %}
                    <div class="row">
                    <div class="col-sm-12 column-title-header-1">
                    <h3 class="text-center mg-bt-15 mg-t-15 text-title-header"
                        v-text="enable_edit ? '{% trans 'Edit Template Email' %}' : '{% trans 'Create Template Email' %}'"></h3>
                    </div>
                    </div>
                        <div class="form-group form-group-sm mg-t-20">
                            <label for="title_email" class="mg-bt-10">{% trans 'Typing title email' %}</label>
                            <input type="text" class="form-control input-choose-mail" id="title_email"
                                   placeholder="{% trans 'Tilte email' %}" v-model="create_template.data.title"
                                   oninput="(($('#title_email').val().length>0&&tinymce.get('content1').getContent().length > 7)?$('#btn-save').prop('disabled', false):$('#btn-save').prop('disabled', true))">
                            <div class="alert alert-danger alert-dismissable" v-if="create_template.message.title">
                                <strong>{% trans 'Error' %}! </strong> <span
                                    v-text="create_template.message.title"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content">{% trans 'Content email' %}</label>
                            <textarea class="form-control content" rows="5" id="content1" name="content1"></textarea>
                            <div class="alert alert-danger alert-dismissable mg-t-10" v-if="create_template.message.content">
                                <strong>{% trans 'Error' %}! </strong> <span
                                    v-text="create_template.message.content"></span>
                            </div>
                        </div>
                        <div style="float:right;">
                            <button v-if="!enable_edit" class="btn btn-normal btn-cus-add btn-cus-5-7 mg-bt-10"
                                    @click="create_email_template()" disabled id="btn-save"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}
                            </button>
                            <button v-if="enable_edit" class="btn btn-normal btn-cus-add btn-cus-5-7 mg-bt-10"
                                    @click="confirm_edit()" disabled id="btn-save"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12 column-title-header-1">
                            <h3 class="text-center mg-bt-15 mg-t-15 text-title-header">
                                {% trans "Email template will be send" %}
                            </h3>
                        </div>
                    </div>
                    <div class="mg-t-20 mg-bt-5">
                        <label class="" v-text="(select_template>0)?title:'{% trans "Please choose a email template" %}'" style="font-weight: bold;font-size: 14px"></label>
                    </div>
                        <div class="panel panel-default panel-email-1" v-if="select_template != 0"
                             v-html="render_html">
                        </div>

                {% endif %}
            </div>
            </div>
        </div>
    </div>
    <script>
        var v = new Vue({
            el: '#app',
            data: {
                template: {
                    title: '',
                    content: ''
                },
                create_template: {
                    message: {
                        title: '',
                        content: ''
                    },
                    data: {
                        title: '',
                        content: ''
                    }
                },
                select_template: 0,
                render_html: '',
                enable_edit: false,
                edit_id: '',
                title_email: '',
                disable_send_all: false,
                title: ''
            },
            created: function (){
                this.get_all_template();
            },
            methods: {
                create_email_template: function () {
                    that = this;
                    that.create_template.message.title = '';
                    that.create_template.message.content = '';
                    that.create_template.data.content = tinymce.get('content1').getContent();
                    if (that.create_template.data.title.length > 0 && that.create_template.data.content.length > 7) {
                        cloudjetRequest.ajax({
                            type: 'put',
                            url: "{% url 'auto_mail_view' %}",
                            data: JSON.stringify({
                                title: that.create_template.data.title,
                                content: that.create_template.data.content
                            }),
                            success: function (data) {
                                that.get_all_template();
                                that.create_template.data.content = '';
                                that.create_template.data.title = '';
                                $('#btn-save').prop('disabled', true);
                                tinymce.get('content1').setContent('');
                                swal("{% trans "Create successfull" %}", '', "success");
                            },
                            error: function () {
                                $("#popup-progress").hide();
                                swal("{% trans "Unsuccess" %}", '{% trans "Title email are available" %}', "error");
                            }
                        })
                    } else {
                        if (that.create_template.data.title.length == 0) {
                            $('#title_email').focus();
                            $('#btn-save').prop('disabled', true);
                            that.create_template.message.title = '{% trans 'Please typing title template!' %}';
                        }else{
                        if (that.create_template.data.content.length == 0) {
                            that.create_template.message.content = '{% trans 'Please typing content template!' %}';
                            $('#btn-save').prop('disabled', true);
                        }
                    }}
                },
                get_all_template: function () {
                    self = this;
                    cloudjetRequest.ajax({
                        type: 'get',
                        async: false,
                        url: "{% url 'auto_mail_view' %}" + '?get_all=true',
                        success: function (data) {
                            self.template = data;
                            if (self.template.length != 0){
                                self.select_template = data[0].id;
                                self.render_html = data[0].content;
                                self.title = data[0].title;
                            }
                             $("#popup-progress").show();
                        },
                        error: function () {

                        }
                    })
                },
                delete_template: function (id) {
                    self = this;
                    var confirms = confirm('{% trans 'Do you want delete template?' %}');
                    if (confirms) {
                        cloudjetRequest.ajax({
                            type: 'delete',
                            url: "{% url 'auto_mail_view' %}" + '?id=' + id,
                            success: function (data) {
                                swal("{% trans "Delete successfull" %}", '', "success");
                                self.get_all_template();
                                self.select_template = (self.template.length > 0)?self.template[0].id:'0';
                            },
                            error: function () {

                            }
                        })
                    }
                },
                edit_template: function (id) {
                    that = this;
                    that.create_template.message.title = '';
                    that.create_template.message.content = '';
                    that.enable_edit = true;
                    that.template.forEach(function (item, index) {
                        if (parseInt(that.select_template) == parseInt(item.id)) {
                            that.edit_id = item.id;
                            that.render_html = '<b> {% trans 'Please Edit success and view!' %} </b>'
                            that.create_template.data.title = item.title;
                            tinymce.get('content1').setContent(item.content);
                        }
                    })
                },
                confirm_edit: function () {
                    that = this;
                    that.create_template.message.title = '';
                    that.create_template.message.content = '';
                    that.create_template.data.content = tinymce.get('content1').getContent();
                    if (that.create_template.data.title && that.create_template.data.content) {
                        cloudjetRequest.ajax({
                            type: 'post',
                            data: JSON.stringify({
                                title: that.create_template.data.title,
                                content: that.create_template.data.content
                            }),
                            url: "{% url 'auto_mail_view' %}" + '?id=' + that.edit_id,
                            success: function (data) {
                                that.get_all_template();
                                that.enable_edit = false;
                                that.create_template.data.title = '';
                                tinymce.get('content1').setContent('');
                                $('#btn-save').prop('disabled', true);
                                swal("{% trans "Successfully saved" %}", '', "success");
                                setTimeout(function () {
                                    that.find_template_id();
                                }, 100);
                            },
                            error: function () {
                                swal("{% trans "Unsuccess" %}", '', "error");
                            }
                        })
                    } else {
                        if (that.create_template.data.title == '') {
                            $('#btn-save').prop('disabled', true);
                            that.create_template.message.title = '{% trans 'Please typing title template!' %}';
                        }
                        if (that.create_template.data.content == '') {
                            that.create_template.message.content = '{% trans 'Please typing content template!' %}';
                        }
                    }
                },
                find_template_id: function () {
                    that = this;
                    that.template.forEach(function (item, index) {
                        if (parseInt(that.select_template) == parseInt(item.id)) {
                            that.render_html = item.content;
                            self.title = item.title;
                            return;
                        }
                    })
                },
                send_all_email: function () {
                    that = this;
                    cloudjetRequest.ajax({
                        type: 'post',
                        data: JSON.stringify({
                            id: that.select_template,
                            title: that.title_email
                        }),
                        url: "{% url 'auto_mail_view' %}" + '?set_remind_evaluation=' + true,
                        success: function (data) {
                            that.disable_send_all = true;
                        },
                        error: function () {

                        }
                    })
                },
                send_mail_test: function () {
                    that = this;
                    cloudjetRequest.ajax({
                        type: 'post',
                        data: JSON.stringify({
                            id: that.select_template,
                            title: that.title_email
                        }),
                        url: "{% url 'auto_mail_view' %}" + '?set_remind_evaluation=' + true + '&test=' + true,
                        success: function (data) {
                        },
                        error: function () {

                        }
                    })
                }
            }
        })
        $(document).ready(function () {
            tinyMCE.init({
               setup:function(ed) {
                   ed.on('input', function(e) {
                        if(ed.getContent().length>7){
                            $('#btn-save').prop('disabled', false);
                        }
                        else{
                            $('#btn-save').prop('disabled', true);
                        }
                   });
               },
                selector: 'textarea#content1',
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
            });
        });
    </script>
    <style>
        hr {
            border-top: 1px dashed #8c8b8b;
        }
    </style>
{% endblock %}
