{% extends "bsc_base.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Basic Setup" %}{{ block.super }}{% endblock %}
{% load inplace_edit %}


{% block extra_css %}
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}clipboard.js-master/clipboard.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.css">
    <script src="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.js"></script>

{% endblock %}

{% block content %}
    <style>

        .basic_content input {
            margin-bottom: 0px;
        }

        .basic_head {
            padding-bottom: 30px;
        }

        .basic_name {
            margin-top: 20px;
        }

        .basic_upload .basic_logo_box {
            border-radius: 3px;
            box-shadow: 0px 0px 8px 0px #999;
            width: 110px;
            height: 60px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin-bottom: 10px;
        }

        .basic_upload .basic_logo_box img {
            max-width: 110px;
            max-height: 60px;
        }

        .basic_upload .bt_basic_upload {
            border: none;
            width: 120px;
            font-size: 11px;
            padding: 0 !important;
        }

        .basic_title {
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }

        .basic_right {
            margin: 0;
            padding: 0;
        }

        .basic_right li {
            float: left;
            margin: 0 10px;
            border: 2px solid #0e76b9;
            border-radius: 5px;
            height: 170px;
        }

        .basic_right li .basic_img {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 125px;
            height: 125px;
        }

        .basic_right li .basic_img img {
            max-height: 125px;
            max-width: 125px;
        }

        .basic_right .basic_item_content {
            margin: 0 10px;
            font-size: 11px;
            color: #000;
            width: 105px;
            line-height: 15px;
            margin-bottom: 10px;
        }

        .basic_right_box {
            float: left;
            padding-right: 20px;
            border-right: 2px solid #0e76b9;
        }

        .basic_left_box .basic_right {
            margin-left: 20px;
        }

        .basic_left_box .basic_right li {
            height: 127px;
            border-right: 2px solid transparent;
            border-radius: 5px 0px 0 5px;
            background: #eaf1f8;
            border-spacing: 1px;
            box-shadow: inset 0px 0px 0px 2px #fff;
            margin-left: 1px;
        }

        .basic_left_box .basic_right li:first-child {
            margin-left: 30px;
        }

        .basic_left_box .basic_right li .li_content {
            margin-right: -25px;
            margin-top: -2px;
            background: url('{{ STATIC_URL }}kpi-img/icon/right-border-curve.png') no-repeat right top;
            background-origin: border-box;
            width: 140px;
            height: 131px;
            z-index: 1;
            position: relative;
        }

        .basic_left_box .basic_right li .basic_img {
            height: 80px;
        }

        .basic_left_box .basic_right li .basic_img img {
            max-width: 115px;
            max-height: 75px;
        }

        .basic_left_box .basic_right li .basic_item_content {
            font-size: 16px;
            color: #137eb5;
            font-weight: bold;
            line-height: 18px;
            margin-left: 15px;
        }

        .popover {
            width: 300px;
        }

        .popover-content {
            font-size: 12px;
        }

        .popover-title {
            padding: 4px 14px;
            font-weight: bold;
            font-size: 13px;
            color: #000;
        }

        .close_btn {
            cursor: pointer;
            float: right;
            background-color: #ccc;
            border-radius: 7px;
        }

        .workflow-help {
            list-style: disc;
            margin-left: 5px;
        }

        .link_reg {
            color: red;
        }

        .basic_hash b {
            color: #fff;
            background: darkcyan;
            padding: 3px 8px;
            border-radius: 2px;
        }

        .warrap-inplaceedit {
            color: #fff;
            background: darkcyan;
            padding: 3px 8px;
            border-radius: 2px;
        }

        .common-schedule-setting {
            border: 2px solid gray;
            padding: 3px;
            border-radius: 10px;
            box-shadow: 0 0 1px 1px #ccc;
        }

        .common-schedule-setting-body {
            padding: 10px;
        }

        input, select {
            margin: 0px !important;
        }

        @media (max-width: 1024px) {
            button.apply {
                margin: 0em 0.2em 0em 3em !important;
            }
        }

        .item_contain {
            width: 100% !important;
        }

        .common-schedule-setting {
            width: 50% !important;
            margin: 0 auto;
        }

        .title_box {
            background: darkcyan;
            border-radius: 6px 6px 0 0;
            color: #fff;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            min-height: 20px;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" type="text/css"/>
    {% trans 'Basic setup' as titlePage %}
    {% trans 'Set up specific settings for company' as descTitle %}
    {% include "performance/nav_bar.html" with logoLink="kpi-img/icon/checklist.png"|get_static %}
    <div class="item_contain schedule_contain ">
        <div class="common-schedule-setting" id="schedule_setting">
            <div class="title_box">{% trans "Detail" %}</div>
            <div class="common-schedule-setting-body">
                <div class="item_contain container">
                    &nbsp;
                    <div class="basic_content">
                        <div class="basic_upload row" style="margin: 10px 0 0;">
                            <div class="col-md-6">
                                <label>{% trans 'Upload your logo' %}</label>
                            </div>
                            <div class="col-md-6 CS_BTN_LOGO">
                                <div class="basic_logo_box">
                                    <img src="{{ organization.get_logo }}">
                                </div>
                                <div style="margin-top: 10px; margin-left: -5px">
                                    <span id="file-upload-btn" style="background: darkcyan;"
                                          class="btn btn-success btn-xs bt_basic_upload">{% trans "Choose file" %}</span>
                                    <form action="." method="post" enctype="multipart/form-data" id="id-upload-logo"
                                          style="display: none;">{% csrf_token %}
                                        <input type="file" name="logo" accept="image/*" style="display: none;"
                                               id='id_logo'>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="basic_name row" style="margin: 10px 0 0;">
                            <div class="col-md-6">
                                <label>{% trans "Company Name" %}</label>
                            </div>
                            <div class="col-md-6 CS_INP_NAME">
                                <div>
                                    <input value="{{ organization.name }}" class="CS_INP_NAME" type="text" disabled
                                           style="margin-left: 30px; width: 220px;"
                                           name="company_name" id="id_company_name"/>
                                    <img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_saving"
                                         style="display: none;">
                                    <img src="{{ STATIC_URL }}img/csb/tick.png" id="id_saved"
                                         style="display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="basic_hash row" style="margin: 10px 0 0;">
                            <div class="col-md-6">
                                <label>{% trans "Company's hash-code" %}</label>
                            </div>
                            <div class="col-md-6">
                                <b>{{ organization.hash }}</b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="excore row" style="margin: 10px 0 0;"><label
                                class="col-md-6">
                            {% trans 'Extrascore feature' %}
                        </label>&nbsp;
                            <div class="col-md-5 ">
                                <div class="form-check form-check-inline"
                                     style="display:inline-block"><label
                                        class="form-check-label"><input class="form-check-input CS_RDB_EXTRA_ON" disabled name="delay"
                                                                        type="radio" value="1"
                                        {% if organization.exscore %}
                                                                        checked
                                        {% endif %}
                                ><span> {% trans 'On' %} </span></label>
                                </div>
                                <div class="form-check form-check-inline"
                                     style="display:inline-block; margin: 0 0 0 15px"><label
                                        class="form-check-label"><input class="form-check-input CS_RDB_EXTRA_OFF" disabled name="delay"
                                                                        type="radio"
                                                                        value="0"
                                        {% if not organization.exscore %}
                                                                        checked
                                        {% endif %}

                                ><span> {% trans 'Off' %} </span></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="abc-feature row" style="margin:10px 0 0;">
                            <label class="col-md-6">
                                {% trans 'Edit weight by ABC'%}
                            </label>
                            <div class="col-md-5">
                                 <div class="form-check form-check-inline" style="display:inline-block;">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input CS_RBD_ABC_ON" disabled name="abc_feature" value="1"
                                            {% if organization.enable_abc_feature %}
                                               checked
                                            {% endif %}
                                        ><span> {% trans 'On' %}</span>
                                    </label>
                                </div>
                                 <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input CS_RBD_ABC_OFF" disabled name="abc_feature" value="0"
                                            {% if not organization.enable_abc_feature %}
                                               checked
                                            {% endif %}
                                        ><span> {% trans 'Off' %}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                            <div class="enable-require-target row" style="margin:10px 0 0;">
                                <label class="col-md-6">
                                    {% trans 'Monthly/quarterly/yearly targets must follow the measurement method'%}
                                </label>
                                <div class="col-md-5">
                                     <div class="form-check form-check-inline" style="display:inline-block;">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" disabled name="enable-require-target" value="1"
                                                {% if organization.enable_require_target %}
                                                   checked
                                                {% endif %}
                                            ><span> {% trans 'Yes' %}</span>
                                        </label>
                                    </div>
                                     <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" disabled name="enable-require-target" value="0"
                                                {% if not organization.enable_require_target %}
                                                   checked
                                                {% endif %}
                                            ><span> {% trans 'No' %}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>
                <div style="height: 50px"></div>
                <div class="edit-form container">
                    <button class="btn btn-success CS_BTN_EDIT" id="btn-edit-form" onclick="edit_form()"
                            style="background: darkcyan; margin: 0 0 0 15px">
                        <span> <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</span>
                    </button>
                    <button class="btn btn-success" id="btn-save-change"
                            onclick="update_edit_form()"
                            style="background:darkcyan; margin: 0 0 0 15px; display:none">
                        <span>  <i class="fa fa-floppy-o"></i> {% trans 'Save change' %}</span>
                    </button>
                    <button class="btn btn-default" id="btn-discard" onclick="window.location.reload()"
                            style="background:transparent;  margin: 0 0 0 15px; display:none">
                        <span> {% trans 'Discard' %}</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        var html_self = '<li><div class="li_content" id="box-self">' +
            '<div class="basic_img"><img src="{{ STATIC_URL }}img/csb/self-assessment.png">' +
            '</div><div class="basic_item_content">{% trans "Self assessment" %}' +
            '</div></div></li>';
        var html_360 = '<li><div class="li_content" id="id-360-review">' +
            '<div class="basic_img"><img src="{{ STATIC_URL }}img/csb/360-review.png">' +
            '</div><div class="basic_item_content">{% trans "Invite 360 Reviewers" %}' +
            '</div></div></li>';
        function edit_form() {
            $('.basic_name input, .excore input, .abc-feature input, .enable-require-target input').removeAttr('disabled');
            $('#btn-save-change, #btn-discard').show(),
            $('#btn-edit-form').hide()
        };
        function reset_form(){
            $('.basic_name input, .excore input, .abc-feature input, .enable-require-target input').attr('disabled', true);
            $('#btn-save-change, #btn-discard').hide();
            $('#btn-edit-form').show();

        }
        function update_edit_form() {
            cloudjetRequest.ajax({
                type: 'POST',
                data: {
                    exscore: $('.form-check-input[name=delay]:checked').val(),
                    name: $('#id_company_name').val(),
                    abc_feature: $('.form-check-input[name=abc_feature]:checked').val(),
                    enable_require_target: $('.form-check-input[name=enable-require-target]:checked').val()
                },
                url: "{% url 'basic_view' %}",
                success: function (data) {
                    reset_form();
                    success_requestcenter('{% trans "Update successful!" %}');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".date-settings #id_saving").hide();
                }
            });
        };
        $(document).ready(function () {
            <!--$('#dp3').datepicker({-->
            <!--format: 'dd-mm-yyyy',-->
            <!--language: 'vi',-->
            <!--autoclose: true-->
            <!--}).on('changeDate', function (ev) {-->
            <!--update_edit_to_date();-->
            <!--});-->
            $('.bt_basic_upload').click(function () {
                $('#id_logo').click();
            });
            $('#id_logo').change(function () {
                $('#id-upload-logo').submit();
            });
        });
    </script>
    <script>
        var clipboardDemos = new Clipboard('.link_reg');
    </script>
    <script>
        var app = angular.module('cloudjet', ['720kb.tooltips']);
    </script>
{% endblock %}