{% extends "base_performace.html" %}
{% load humanize %}

{% load i18n user_tags %}
{% block title %}{% trans "Broadcast" %}{{ block.super }}{% endblock %}


{% block landing %}
    <style>
        .basic_content {
            margin-left: 80px;
            color: #137eb5;
        }
        .basic_content input{
            margin-bottom: 0px;
        }
        .basic_head{
            border-bottom: 2px dotted #ddd;
            padding-bottom: 30px;
        }    
        .basic_name{
            float: left;
            margin-top: 20px;
            padding-bottom: 30px;
        }
        .basic_upload{
            float: left;
        }
        .basic_upload .basic_logo_box{
            border-radius: 3px;
            box-shadow: 0px 0px 8px 0px #999;
            width: 110px;
            height: 60px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin-bottom: 10px;
        }
        .basic_upload .basic_logo_box img{
            max-width: 110px;
            max-height: 60px;
        }
        .basic_upload .bt_basic_upload{
            border: none;
            background: url('{{ STATIC_URL }}kpi-img/icon/menu-imgs.png') no-repeat;
            background-position: -29px 0px;
            width: 120px;
            height: 25px;
            color: #fff;
            font-size: 11px;
        }
        .basic_upload .bt_basic_upload:hover{
            background-position: -30px -33px;
        }
        .basic_title{
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }
        .basic_right {
            margin: 0;
            padding: 0;
        }
        .basic_right li{
            float: left;
            margin: 0 10px;
            border: 2px solid #0e76b9;
            border-radius: 5px;
            height: 170px;
        }
        .basic_right li .basic_img{
            display: table-cell;
            vertical-align: middle;
            text-align:center ;
            width: 125px;
            height: 125px;
        }
        .basic_right li .basic_img img{
            max-height: 125px;
            max-width: 125px;
        }
        .basic_right .basic_item_content{
            margin: 0 10px;
            font-size: 11px;
            color: #000;
            width: 105px;
            line-height: 15px;
            margin-bottom: 10px;
        }
        .basic_right_box{
            float: left;
            padding-right: 20px;
            border-right: 2px solid #0e76b9;
        }
        .basic_left_box .basic_right{
            margin-left: 20px;
        }
        .basic_left_box .basic_right li{
            height: 127px;
            border-right: 2px solid transparent;
            border-radius: 5px 0px 0 5px;
            background: #eaf1f8;
            border-spacing: 1px;
            box-shadow:inset 0px 0px 0px 2px #fff;
            margin-left: 1px;
        }
        .basic_left_box .basic_right li:first-child{
            margin-left: 30px;
        }
        .basic_left_box .basic_right li .li_content{
            margin-right: -25px;
            margin-top: -2px;
            background: url('{{ STATIC_URL }}kpi-img/icon/right-border-curve.png') no-repeat right top;
            background-origin: border-box;
            width: 140px;
            height: 131px;
            z-index: 1;
            position: relative;
        }
        .basic_left_box .basic_right li .basic_img{
            height: 80px;
        }
        .basic_left_box .basic_right li .basic_img img{
            max-width: 115px;
            max-height: 75px;
        }
        .basic_left_box .basic_right li .basic_item_content{
            font-size: 16px;
            color: #137eb5;
            font-weight: bold;
            line-height: 18px;
            margin-left: 15px;
        }
        .popover {
			width: 300px;
		} 
		.popover-content {
			font-size: 12px;
		}
		.popover-title {
			padding: 4px 14px;
			font-weight: bold;
			font-size: 13px;
			color: #000;
		}
		.close_btn {
			cursor: pointer;
			float: right;
			background-color: #ccc;
			border-radius: 7px;
		}
		.workflow-help {
			list-style: disc;
			margin-left: 5px;
		}
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" type="text/css" />
    {% trans 'Broadcast' as titlePage %}
    {% trans 'Send information to all employees' as descTitle %}
    {% include "performance/nav_bar.html" with logoLink="kpi-img/icon/checklist.png"|get_static %}
    <div class="item_contain">
        &nbsp;
        <div class="basic_content">

            <div class="basic_head">


                <div class="clear"></div>
                <div class="form-inline date-settings" style="margin: 10px 0 0;">

                {% if notice %}
                    <div class="alert">
                    {{ notice }}</div>
                {% endif %}

                <div>

                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="inputEmail">Title</label>
    <div class="controls">
      <input  name='title' type="text" id="inputEmail" style="width: 680px;" placeholder="Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Content</label>
    <div class="controls">
      <textarea name='content' placeholder="Your messsage...." style="width: 680px; height: 280px;" ></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </div>
</form>

                </div>
                    <table class="table">
                        <tr><th style="width: 20%">
                            Date
                        </th>
                        <th>Content</th>
                        </tr>

                              {% for m in broadcasts %}
                        <tr>

                            <td>
                                {{ m.create_date | naturaltime  }}
{#                                <p>by: {{ m.user }}</p>#}
                            </td>
                            <td>

                                <h4><a href="javascript:void(0)" onclick="$('#content{{ m.id }}').show();">{{ m.title }}</a></h4>
                                <p id="content{{ m.id }}" style="display: none;">{{ m.content|safe }}</p>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                </div>
                
            </div>



        </div>

    </div>
    <div style="height: 50px"></div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/locales/bootstrap-datepicker.vi.js" charset="UTF-8"></script>
    
    <script type="text/javascript">
    	var html_self = '<li><div class="li_content" id="box-self">' +
    					'<div class="basic_img"><img src="{{ STATIC_URL }}img/csb/self-assessment.png">' +
    					'</div><div class="basic_item_content">{% trans "Self assessment" %}' +
						'</div></div></li>';
		var html_360 = '<li><div class="li_content" id="id-360-review">' +
						'<div class="basic_img"><img src="{{ STATIC_URL }}img/csb/360-review.png">' +
						'</div><div class="basic_item_content">{% trans "Invite 360 Reviewers" %}' +
						'</div></div></li>';
						
		function update_edit_to_date() {
			cloudjetRequest.ajax({
		        type: 'POST',
		        data: {
		        	enable_edit: $('#id_enable_edit').is(':checked'),
		        	date: $("#id_edit_to_date").val()
		        },
		        url: "{% url 'basic_view' %}",
		        beforeSend:function() {
		        	$(".date-settings #id_saving").show();
		        	$(".date-settings #id_saved").hide();
		        },
		        success:function(data) {
		        	$(".date-settings #id_saving").hide();
		        	$(".date-settings #id_saved").show();
		        },
		        error:function(jqXHR, textStatus, errorThrown) {	
		        	$(".date-settings #id_saving").hide();
		        }
			});
		}
		
		function save_workflow(type, value) {
			cloudjetRequest.ajax({
		        type: 'POST',
		        data: {
		        	workflow: type,
		        	value: value
		        },
		        url: "{% url 'basic_view' %}",
		        beforeSend:function() {
		        	$(".options #id_saving").show();
		        	$(".options #id_saved").hide();
		        	$("#id-chk-self-assessment").enable(false);
		        	$('#id-chk-360-preview').enable(false);
		        },
		        success:function(data) {
		        	$(".options #id_saving").hide();
		        	$(".options #id_saved").show();
		        	$("#id-chk-self-assessment").enable(true);
		        	$('#id-chk-360-preview').enable(true);
		        },
		        error:function(jqXHR, textStatus, errorThrown) {	
		        	$(".options #id_saving").hide();
		        	$("#id-chk-self-assessment").enable(true);
		        	$('#id-chk-360-preview').enable(true);
		        }
			});
		}
		$(document).ready(function (){
			$('#dp3').datepicker({
	    		 format: 'dd-mm-yyyy',
	    		 language: 'vi',
	    		 autoclose: true
	    	}).on('changeDate', function(ev){
	    		update_edit_to_date();
	    	});
			
			$('#id_enable_edit').click(function (){
				update_edit_to_date();
			});
	    	
			$('.bt_basic_upload').click(function (){
				$('#id_logo').click();
			});
			$('#id_logo').change(function (){
				$('#id-upload-logo').submit();
			});
			$("#id-chk-self-assessment").click(function () {
				if ($(this).is(':checked')) {
					$('.workflows').prepend(html_self);
					save_workflow('self-assessment', 1);
				} else {
					$('#box-self').hide('slow', function(){ $(this).parent().remove(); });
					save_workflow('self-assessment', 0);
				}
				
			});
			$('#id-chk-360-preview').click(function () {
				if ($(this).is(':checked')) {
					if ($('.workflows li #box-self').length > 0) {
						$(".workflows li:first").after(html_360).slideDown();
					} else {
						$('.workflows').prepend(html_360);
					}	
					save_workflow('360-preview', 1);
				} else {
					$('#id-360-review').hide('slow', function(){ $(this).parent().remove(); });
					save_workflow('360-preview', 0);
				}
			});
			$('#id_company_name').change(function (){
				$cloudjetRequest.ajax({
			        type: 'POST',
			        data: {
			        	company_name: $('#id_company_name').val()
			        },
			        url: "{% url 'basic_view' %}",
			        beforeSend:function() {
			        	$(".basic_name #id_saving").show();
			        	$(".basic_name #id_saved").hide();
			        },
			        success:function(data) {
			        	$(".basic_name #id_saving").hide();
			        	$(".basic_name #id_saved").show();
			        },
			        error:function(jqXHR, textStatus, errorThrown) {	
			        	$(".basic_name #id_saving").hide();
			        }
				});				
			});
			
			$('#basic-help').popover({
    			html: true,
	    		title: "{% trans 'Detail' %} <i class='icon-remove close_btn' style='cursor: pointer' onclick=\"$('.btn_help').popover('hide')\" title=\"Close\"></i>",
	    		content: "{% blocktrans %}We need a bit of standard information so that we can begin tailoring system to your company.{% endblocktrans %}"
	    	});
			$('#workflow-setting').popover({
    			html: true,
	    		title: "{% trans 'Workflow options' %} <i class='icon-remove close_btn' style='cursor: pointer' onclick=\"$('.btn_help').popover('hide')\" title=\"Close\"></i>",
	    		content: "<ul class='workflow-help'><li>{% blocktrans %}In Cloudjet managers are responsible for employee’s final ratings, as well as setting goals.{% endblocktrans %}</li>" +
	    				 "<li>{% blocktrans %}Most organizations run Employee Self Assessments also. This give employees their chance to have a say on their own performance, and edit their goals.{% endblocktrans %}</li>" +
	    				 "<li>{% blocktrans %}Managers may also want to get other people’s input. Selecting 360° Feedback allows managers to invite an employee’s peers, staff or even customers to contribute feedback.{% endblocktrans %}</li>" +
	    				 "<li>{% blocktrans %}Adding or removing these elements will change the work flow for your review process.{% endblocktrans %}</li></ul>"
	    	});
		});
	</script>
{% endblock %}