{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Core value setup" %}{{ block.super }}{% endblock %}


{% block landing %}

{% trans 'Core values' as titlePage %}
{% trans "Set up company's core values" as descTitle %}
{% include "performance/nav_bar.html" with  logoLink="img/csb/core-value.png"|get_static %}

<div class="item_contain">
    &nbsp;
    <div class="basic_content" style="margin-bottom: 30px">
    	{% if user_org.is_superuser or user_org.is_admin %}
    	<form action="." method="post"> {% csrf_token %}
    		<div class="clearfix" style="margin: 0 auto;display: table;">
	    		<div class="left" style="width:490px;{% if organization.id == 31 %}border-right: 1px solid #ccc;{% endif %}min-height: 470px">
		    		<div style="margin-bottom: 20px">
		    			<label>
		    				<img alt="" src="{{ STATIC_URL }}img/cjet/vision-mission.png">
		    				<strong class="core-title">{% trans "Mission & Vision" %}</strong>
		    			</label>
		    			<textarea name='mission' id='id-mission' required="required">{{ core_value.mission }}</textarea>
		    		</div>
		    		<label>
		    			<img alt="" src="{{ STATIC_URL }}img/cjet/core-values.png">
		    			<strong class="core-title">{% trans "Core values" %}</strong>
		    		</label>
		    		<ul class="values-list">
		    			{% if core_value.core_values %}
		    			{% for core in core_value.core_values %}
		    			<li class="form-inline">
		    				<label>{{ forloop.counter }}.</label>
		    				<input type="text" name="value{{ forloop.counter }}" value="{{ core }}">
		    			</li>
		    			{% endfor %}
		    			{% else %}
		    			<li class="form-inline">
		    				<label>1.</label>
		    				<input type="text" name="value1" required="required">
		    			</li>
		    			{% endif %}
		    		</ul>
		    		<button type="button" style="height: 35px;" id='id-add-core'><i class="icon-plus"></i></button>
		    		<label class="checkbox">
		    			<input type="checkbox" name="apply-for-employee" {% if core_value.apply_all %}checked="checked"{% endif %}>{% trans "Use core-values as must-have competencies for all employees" %}
		    		</label>
	    		</div>
	    		<div class="left" style="width:480px;{% if organization.id != 31 %}display:none{% endif %}">
	    			<div style="margin-bottom: 20px;padding-left: 20px">
		    			<label>
		    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
		    				<strong class="core-title">Kế hoạch năm</strong>
		    			</label>
		    			<textarea name='plan_for_year' id='id-plan-for-year'>{{ core_value.plan_for_year }}</textarea>
		    		</div>

		    		<div style="margin-bottom: 20px;padding-left: 20px">
		    			<label>
		    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
		    				<strong class="core-title">Kế hoạch cho các phòng ban</strong>
		    			</label>
		    			<textarea name='plan_for_dept' id='id-plan-for-dept'>{{ core_value.plan_for_dept }}</textarea>
		    		</div>
	    		</div>
    		</div>
    		<div>
    			<button type="submit" class="btn btn-primary" style="width: 100px;margin: 0 auto;display: table;">{% trans 'Save' %}</button>
    		</div>
    	</form>
    	{% else %}
    	<div style="width: 500px;margin: 0 auto;">
    		<div style="margin-bottom: 20px;padding-left: 20px">
    			<label>
    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
    				<strong class="core-title">Kế hoạch năm</strong>
    			</label>
    			<div>
    				{{ core_value.plan_for_year|linebreaks }}
    			</div>
    		</div>

    		<div style="margin-bottom: 20px;padding-left: 20px">
    			<label>
    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
    				<strong class="core-title">Kế hoạch cho các phòng ban</strong>
    			</label>
    			<div>
    				{{ core_value.plan_for_dept|linebreaks }}
    			</div>
    		</div>
    	</div>
    	{% endif %}
    </div>
</div>
<div style="height: 50px"></div>
<style>
.core-title {
	font-size: 18px;
	color: #1B3C78;
	text-decoration: underline;
}
#id-mission {
	width: 400px;
	height: 100px;
}
.values-list {
	margin-left: 0;
	display: inline-block;
}
.values-list li {
	width: 430px;
	margin-bottom: 10px;
}
.values-list li label {
	display: inline-block;
	width: 20px;
}
.values-list li input[type='text'] {
	width: 380px;
	height: 25px;
}
#id-plan-for-dept, #id-plan-for-year {
	width: 410px;
	height: 170px;
}
</style>
<script type="text/javascript">
$(document).ready(function (){
	$('#id-add-core').click(function (){
		if ($('.values-list li').length < 10) {
			var id_name = $('.values-list li:last input').attr('name').substr(5);
			if (id_name == "" || isNaN(id_name)) {
				id_name = $('.values-list li').length;
			} else if (!isNaN(id_name)) {
				id_name = parseInt(id_name) + 1;
			}
			$(".values-list").append("<li class='form-inline'><label>"+id_name+".</label><input type='text' name='value"+id_name+"' required='required'> <img class='img-remove' onclick='removeItem(this);' alt='Xoá' title='Xoá' src='{{ STATIC_URL }}img/delete.gif'></li>");
		} else {
			$('#id-add-core').addClass('disabled');
		}
		if ($('.values-list li').length == 10) {
			$('#id-add-core').addClass('disabled');
		}
	});
});

function removeItem(item) {
	var parent = $(item).parent();
	if ($(parent).find('input').val() != "") {
		var status = confirm("Xoá core value này sẽ ảnh hưởng đến toàn bộ nhân viên. Bạn có muốn xoá core value này không?")
		if (!status) {
			return;
		}
	}
	parent.remove();
	if ($('#values-list li').length < 10) {
		$('#id-add-core').removeClass('disabled');
	} else {
		$('#id-add-core').addClass('disabled');
	}
};
</script>
{% endblock %}