{% load i18n %}

<style>
    .btn_help {
        display: inline-block;
        width: 25px;
        height: 20px;
        background: url('{{ STATIC_URL }}kpi-img/icon/menu-imgs.png') no-repeat;
        background-position: 1px 1px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .btn_help:hover {
        background-position: 1px -21px;
        text-decoration: none;
    }

    .nav_bar {
        height: 55px;
    {#        background: url("{{ STATIC_URL }}kpi-img/icon/vertical-bar.gif");#} background-repeat: repeat-x;
        background-position: 0px 0px;
        background: #ededed;

        background-image: linear-gradient(#fcfcfc, #dfdfdf);
    }

    .nav_bar_content {
        width: 960px;
        height: 100%;
    {#        background: url('{{ STATIC_URL }}kpi-img/icon/cloud.gif') no-repeat 0 0;#} margin: 0 auto;
    }

    .nav_bar_content .per_logo {
        display: table-cell;
        width: 218px;
        height: 55px;
        text-align: center;
        vertical-align: middle;
    }

    .nav_bar_content .per_logo img {
        max-width: 110px;
        margin-left: 20px;
    }

    .nav_bar_content .logo_div {
        float: left;
    }

    .home_back {
        float: left;
        width: 52px;
        display: block;
        margin: 5px 5px 10px 30px;
        border-radius: 5px;
        border: 1px solid transparent;
    }

    .home_back:hover {
        border: 1px solid #afc2d8;
    }

    .home_back a {
        display: table-cell;
        line-height: 15px;
        vertical-align: middle;
        text-align: center;
        width: 52px;
    }

    .home_back a:hover {
        text-decoration: none;
    }

    .home_back a .icon_back {
    {#        background: url('{{ STATIC_URL }}kpi-img/icon/menu-imgs.png') no-repeat;#}{#        background-position: -441px -34px;#}{#        width: 35px;#}{#        height: 32px;#} background: url('{{ STATIC_URL }}img/button/back-btn.png') no-repeat;
        width: 35px;
        height: 35px;
        margin: 5px auto 0px;
        margin: 5px auto 0px;
    }

    .home_back a:hover .icon_back {
{#        background-position: -441px 0px;#}
    }

    .home_back a .content_back {
        font-size: 11px;
        padding: 3px 0;
        border-radius: 0 0 5px 5px;
    }

    .home_back a:hover .content_back {
        background: #e6eef9;
    }

    .nav_bar_content .content_title {
        width: 300px;
        margin-left: 30px;
        margin-top: 2px;
        float: left;
        color: #00a8a9;

    }

    .nav_bar_content .content_title .nav_title {
        font-size: 20px;
        font-weight: bold;
    }

    .nav_bar_content .content_title .nav_desc {
        margin-top: 3px;
        line-height: 15px;
    }

    .nav_bar_content .nav_login {
        float: right;
        height: 100%;
        border-left: 1px dotted #9cbbda;
    }

    .nav_bar_content .nav_login .home_back a .icon_back {
        background-position: -338px -98px;
    }

    .item_contain {
        width: 980px;
        margin: 0 auto;
        font-size: 12px;
    }

    #reportHeader {
        float: right;
    }

    #xls {
        background: url("/static/img/csb/1381496744_Excel_15.png") no-repeat;
        display: block;
        width: 38px !important;
        height: 38px;
        text-indent: -9999px;
        background-position: center;
        margin-top: 20px;
    }

    #xls :hover {
        background-position: center;
    !important
    }

    .export-report {
        cursor: pointer;
        width: 45px;
    }

    .export-report:hover {
        padding: 2px 0 0 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .bootstrap-select {
        margin: 12px 50px !important;
    }
</style>

<div class="nav_bar">
    <div class="nav_bar_content">
        <div class="logo_div">
            {#            <a class="per_logo" href="#"><img src="{{ logoLink }}" style="height: 55px"/></a>#}
        </div>

        <div class="home_back">
            <a id="back_to" onclick="return false;">
                <div class="icon_back">
                </div>
                <div class="content_back">
                </div>
            </a>
        </div>

        <div class="content_title">
            <div class="nav_title">{{ titlePage }}</div>
            <div class="nav_desc">{{ descTitle }}</div>
        </div>

        <div>
            <select class="selectpicker quarter_period" ng-change="load_data()" ng-model="quarter_period">
                {% for quarter_period in quarter_periods %}
                    <option value="{{ quarter_period.due_date|date:'d-m-Y' }}"
                            {% if current_quarter_period == quarter_period %}selected="selected"{% endif %}>{{ quarter_period.due_date|date:'d M Y' }}</option>
                {% endfor %}
            </select>
        </div>

        {% comment %}
        <div class="nav_login">
            <div class="home_back">
            	
            </div>
        </div>
        {% endcomment %}

        <div class="clear"></div>
    </div>
</div>
{##}
<script type="text/javascript">

    $('#back_to').click(function () {


        if (document.referrer == "") { //alternatively, window.history.length == 0
            window.location = "/";
        } else {
            window.location = document.referrer;
        }


        {##}
        {#            if (localStorage.getItem('use_old_ui')) {#}
        {#                location.href = "/performance/home/";#}
        {#            } else {#}
        {#                location.href = "/performance/kpi-editor/";#}
        {#            }#}
    });
</script>
