{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% load static %}
{% block title %}{% trans 'Helicopter' %}{{ block.super }}{% endblock %}

{% block base_menu %}
{% endblock %}

{% block landing %}
<link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">

<div ng-controller="HelicopterCtrl">
	
	{% trans "Company's big picture and next steps" as descTitle %}
	{% trans "Helicopter view" as titlePage %}
	
	{% include 'performance/helicopter_nav_bar.html' with logoLink="img/csb/helicopter.png"|get_static %}
	
	
	
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-select/bootstrap-select.min.css" />
	
	<div class="item_contain">
		<div style="margin:8px; clear:both "></div>
			<div class="people_left" style="width: 250px;">
				<div class="people_box">
	      			<div class="title_box">
	          			{% trans "Search for employee by name" %}
	      			</div>
	
					<div style="float:left;padding:10px 5px 10px">
						<input type="text" class="input-medium search-query" style="width: 200px" placeholder="{% trans 'Employee search' %}" ng-model="query" ng-change="search()">
					</div>
	   				<div class="clear"></div>
				</div>
	    	</div>
	
	    	<div class="people_right" style="margin-left: 38px; margin-bottom: 68px;">
	        	<div id="helicop_wrap" style=" background: #f3f3f3; position: relative; width: 568px; height: 568px;">
	                 <div ng-repeat="p in filteredPeople" class="helicop_m_person" id="person123{{ person.id }}" ng-style="show_person(p)" data-title="&#123&#123p.name&#125&#125" data-toggle="tooltip" tooltip data-index="&#123&#123 $index &#125&#125" helicopterpopover>
	                     &nbsp;
	                 </div>
	            	
		            <div style="position: absolute; top: 0px; left: -36px;">

		                <img style="height: 568px;" src="{% static 'storages/35273d44-3010-4bc3-8736-4caabff016ad-performance_pole.png' %}"/>
		            </div>
		            <div style="position: absolute; top: 568px; width: 568px; ">
		                <img style="width: 588px;max-width: 588px !important;" src="{% static 'storages/3088b983-f7f6-4a9f-bc69-8ded8fff8039-Screen%20Shot%202013-08-28%20at%2010.19.57%20PM.png' %}"/>

		            </div>
	            	<div class="helicop_box">
	                	<p>{% trans "Performing/Delivering" %}</p>
	                </div>
		            <div class="helicop_box"><p>{% trans "Achieving" %}</p></div>
		            <div class="helicop_box"><p>{% trans "Starring" %}</p></div>
		
		            <div class="helicop_box"><p>{% trans "Processing" %}</p></div>
		            <div class="helicop_box"><p>{% trans "Contributing" %}</p></div>
		            <div class="helicop_box"><p>{% trans "Promising" %}</p></div>
	
		            <div class="helicop_box"><p>{% trans "Under-Performing" %}</p></div>
		            <div class="helicop_box"><p>{% trans "Under-Contributing" %}</p></div>
		            <div class="helicop_box"><p>{% trans "Latent" %}</p></div>
	        	</div>
	    	</div>
	    <div class="clear"></div>
	</div>
</div>

<style>
<!--
.popover {
	width: 340px;
	max-width: none;
} 
.popover-content {
	font-size: 12px;
}
.popover-title {
	padding: 4px 14px;
	font-size: 13px;
	font-weight: bold;
}
.close_btn {
	cursor: pointer;
	float: right;
	background-color: #ccc;
	border-radius: 7px;
}
.close_btn:hover {
	background-color: #ddd;
}
.person-info label {
	margin-bottom: 0;
	font-size: 12px;
}
.person-info .p-avatar {
	height: 75px;
	width: 75px;
	padding: 0 5px 0 0;
}
.quarter_period {
	width: 150px !important;
}
-->
</style>

<script src="{{ STATIC_URL }}angular-file-upload/angular-file-upload-shim.min.js"></script>
<script src="{{ STATIC_URL }}v1/bower_components/angular/angular.min.js"></script>
<script src="{{ STATIC_URL }}v1/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="{{ STATIC_URL }}angular-file-upload/angular-file-upload.min.js"></script>
<script src="{{ STATIC_URL }}js/angularjs/helicopter.js"></script>
<script src="{{ STATIC_URL }}js/angularjs/module.js?v={{ settings.VERSION }}20140322"></script>
<script src="{{ STATIC_URL }}bootstrap-select/bootstrap-select.min.js"></script>
 
 
 
<script type="text/javascript">
$('#loading').show();
var current_quarter = '{{ current_quarter_period.due_date|date:'d-m-Y' }}';
$(document).ready(function() {
});
</script>

{% endblock %} 