<!--Create by Duan Huynh-->
<!--9/5/2017-->
{% load i18n %}
<header>
    <title>{% trans "History Deleted KPI" %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css?v=3.0.1"
          type="text/css"/>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js?v=3.0.1" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js"></script>
     {% include "raven.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/moment/min/moment.min.js"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
</header>
<body>


<div class="container">
    <div id="app">
        <div style="margin: 17px auto;">
            <a href="/performance/kpi-editor/">
            <button class="btn btn-link" >
                {% trans "Back" %} </button></a>
            </button>
        </div>
        <table class="table">
            <tr>
                <td></td>
                <td style="width: 50% ; min-width: 300px;"><b>{% trans "KPI" %}</b></td>
                <td><b>{% trans "Owner" %}</b></td>
                <td><b>{% trans "Deleted time" %}</b></td>

            </tr>

{#            <tr v-for="(value, key, index) in logs">#}
                        {% for log in logs %}
                            <tr style="font-size:15px">
                                <td></td>
                                <td>
                                    {{ log.description }}
                                </td>
                                <td>{{ log.editor.email }}</td>
                                <td>{{ log.edited_time }} {{ log.edited_date }}</td>
                            </tr>
                        {% endfor %}
{#            </tr>#}


        </table>

    </div>

</div>

</body>
