{% extends "performance/timeline/timeline_base.html" %}
{% load i18n l10n %}
{% load static %}
{% load kpi manage_tag %}
{% block title %}Performance Review{% endblock %}

{% block landing %}
<div class="pane-contain" style="margin: 20px auto">	
	<h4>Import KPI for Employee</h4>
	<div class="clearfix">
		<form action="." method="post" enctype="multipart/form-data">
			{% if messages %}
			{% for msg in messages %}
				<p style="color: green">{{ msg }}</p>
			{% endfor %}
			{% endif %}
			<ul class="setup-form">
				{{ form.as_ul }}
				<li class="clearfix">
					<button class="pull-left" type="submit">Submit</button>
					<a style="margin-left: 20px;margin-top: 5px;" class="pull-left" href="{% static 'templates/template_import_kpi.xlsx' %}"><i class="fa fa-cloud-download" aria-hidden="true"></i> File dữ liệu mẫu</a>
				</li>
			</ul>
		</form>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select/select2.css"/>
<script src="{{ STATIC_URL }}select/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {
	$("#id_employee").select2();
});
</script>
{% endblock %}
