<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v={{ settings.VERSION }}" type="text/css" />
{% include "fix_style_css.html" %}
<link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css?v={{ settings.VERSION }}" rel="stylesheet">

<style>
li .goal-desc {
	display: none;
}
li:hover .goal-desc {
	display: block;
}
.setup-form {
	margin: 0;
}
.setup-form li label {
	display: inline-block;
	width: 140px;
}
.setup-form li {
	margin-bottom: 15px;
}
.errorlist {
	list-style: none;
	margin-left: 0;
	color: red;
	font-size: 13px;
}
</style>
<h4>Import KPI for Employee</h4>
<div class="clearfix">
	<form action="." method="post" enctype="multipart/form-data">
		{% if messages %}
		{% for msg in messages %}
			<p style="color: green">{{ msg }}</p>
		{% endfor %}
		{% endif %}
		<ul class="setup-form">
			{{ form.as_ul }}
			<li>
				<button type="submit" class="btn btn-primary">Submit</button>
				<a target="_blank" class="pull-right" style="font-size: 12px" href="{{ STATIC_URL }}templates/template_import_kpi.xlsx"><i class="fa fa-file-text"></i> Template import KPI sample</a>
			</li>
		</ul>
	</form>
</div>
