{#{% extends "performance/bsc/bsc_base.html" %}#}
{#{% load manage_tag humanize user_tags %}#}
{#{% load inplace_edit %}#}
{##}
{#{% block title %}KPI Quality Control{{ block.super }}{% endblock %}#}
{##}
{#{% block landing %}#}
{#    {% inplace_static %}#}
{#<style>#}
{#<!--#}
{#.pane-contain {#}
{#    width: 960px;#}
{#    margin: 0 auto;#}
{#    padding-top: 40px;#}
{#    height: 100%;#}
{#    background-color: #e3edf9;#}
{#}#}
{##}
{#.pane-contain {#}
{#	border-radius: 4px;#}
{#	-webkit-border-radius: 4px;#}
{#	-moz-border-radius: 4px;#}
{#	border: 1px solid #CCC;#}
{#	background: #fff;#}
{#	padding: 8px;#}
{#	padding-top: 28px;#}
{#	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.75);#}
{#	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.75);#}
{#	box-shadow: 0 1px 5px rgba(0,0,0,.75);#}
{#}#}
{#th {#}
{#	text-align: center;#}
{#}#}
{#-->#}
{#</style>#}
{#<div class="pane-contain" style="margin: 20px auto">#}
{#    <div>Note: {{ org.cjs_note|linebreaksbr }}</div>#}
{#	#}
{#	<form action="." method="post">{% csrf_token %}#}
{#		<button type="submit" class="btn btn-primary">Export</button>#}
{#	</form>#}
{##}
{#    <table class="table table-strip">#}
{#    	<colgroup>#}
{#    		<col width="20%">#}
{#    		<col width="auto">#}
{#    		<col width="auto">#}
{#    		<col width="5%">#}
{#    		<col width="5%">#}
{#    		<col width="25%">#}
{#    		<col width="10%">#}
{#    	</colgroup>#}
{#        <tr>#}
{#            <th>Employee</th>#}
{#            <th>Manager</th>#}
{#            <td></td>#}
{#            <th>First Check</th>#}
{#            <th>Second Check</th>#}
{#            <th>CJS note</th>#}
{#            <th>Client note</th>#}
{#        </tr>#}
{#        {% for uo in user_organizations %}#}
{#        <tr>#}
{#            <td>#}
{#            	<strong>{{ uo.user|display_name }}</strong><br>#}
{#            	{{ uo.user.email }}#}
{#            </td>#}
{#            <td>#}
{#            	{% with manager=uo.user|manager %}#}
{#            	{% if manager %}#}
{#            	{{ manager|display_name }}#}
{#            	{% endif %}#}
{#            	{% endwith %}#}
{#            </td>#}
{#            <td>#}
{#            	KPI parent: {{ uo.user|count_kpi_parent:quarter }}<br>#}
{#				KPI children: {{ uo.user|count_kpi_children:quarter }}<br>#}
{#            </td>#}
{#            <td style="text-align: center;">#}
{#                {{ uo.cjs_check_kpi_firsttime|icon_status|safe }}#}
{#            </td>#}
{#            <td style="text-align: center;">#}
{#                {{ uo.cjs_check_kpi_secondtime|icon_status|safe }}#}
{#            </td>#}
{#        	<td style="font-size: 13px">#}
{#              	{{ uo.kpi_qc_note|default:''|linebreaksbr }}#}
{#        	</td>#}
{#        	<td style="font-size: 13px">#}
{#        		{% inplace_edit "uo.client_note|default:'Viết ghi chú của bạn.'|linebreaksbr" %}#}
{#        	</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{##}
{#    </table>#}
{#</div>#}
{#{% endblock %}#}