{% load i18n %}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Goal setting wizard." %}</h4>
    </div>
    <div class="modal-body">
    	<form id="goal-form">
	    	<ul id="myTab" class="nav nav-tabs" role="tablist">
			    <li class="active"><a href="#specific" role="tab" data-toggle="tab"><b>S</b>pecific</a></li>
			    <li class=""><a href="#measurable" id="btn-measurable" role="tab" data-toggle="tab"><b>M</b>easurable</a></li>
			    <li class=""><a href="#attainable" id="btn-attainable" role="tab" data-toggle="tab"><b>A</b>ttainable</a></li>
			    <li class=""><a href="#relevant" id="btn-relevant" role="tab" data-toggle="tab"><b>R</b>elevant</a></li>
			    <li class=""><a href="#time-bound" id="btn-time-bound" role="tab" data-toggle="tab"><b>T</b>ime-bound</a></li>
			</ul>
			
			<div id="myTabContent" class="tab-content" style="margin-top: 18px;">
			
			    <div class="tab-pane active" id="specific">
			        <p>
			        	<div class="errors specific-error"></div>
			            <textarea id="textarea-specific" class="typeahead form-control" name="specific"
			                      style="width: 100%; border: 2px #00a8a9 solid;"
			                      placeholder="{% trans "Hint: To see suggestions from the Goal Library, start typing action or subject key words, such as create, increase, inventory, sales." %}"></textarea>
					
					<div class="form-horizontal">
						<div class="form-group" style="padding: 10px;margin-bottom:0;">
							<div class="errors category-error"></div>
						    <label class="col-sm-2 control-label" style="text-align: left;width:auto;">{% trans "Category" %}: </label>
						    <div class="col-sm-6">
					      		<select class="form-control col-xs-4" name="category">
									<option value="">----</option>
									<option value="financial">{% trans 'Financial' %}</option>
									<option value="customer">{% trans 'Customer' %}</option>
									<option value="internal">{% trans 'Internal Process' %}</option>
									<option value="learninggrowth">{% trans 'Learning & Growth' %}</option>
								</select>
						    </div>
					    </div>
					</div>
					
					<div class="clearfix"></div>
			        <p>
			            <a class="btn btn-info btn-sm" onclick="$('#btn-measurable').click();">Next</a>
			        </p>
			    </div>
			    <div class="tab-pane fade" id="measurable">
			        <p>
			
			        <h3>{% trans "How will you measure this goal?" %}</h3>
			        <div class="errors measurable-error"></div>
			        
			        {% trans 'Target' %} 
					<select class="input-choice" name="operator" id="id-operator" style="height: 26px;">
						<option value=""></option>
						<option value=">="> >= </option>
						<option value="<="> <= </option>
						<option value="="> = </option>
					</select>  
					<input type="text" class="input-mini input-review" placeholder="{% trans 'Target' %}" name="target" >
					<input type="text" class="input-mini input-review" placeholder="{% trans 'Unit' %}" name="unit">
			       
			        <hr>			
			        <p>
			            {% blocktrans %}Tips: If you can't measure it, you can't manage it. Choose goals with
			                measurable progress and establish concrete criteria for measuring the success of
			                your goal.{% endblocktrans %}
			        </p>
			
			        <p>
			            <a class="btn btn-info btn-sm" onclick="$('#btn-attainable').click();">Next</a>
			        </p>
			    </div>
			    <div class="tab-pane fade" id="attainable">
			        <p style="text-align: center">
			
			        <h3>
			            {% trans "Is this goal attainable?" %}
			        </h3>
			        <img src="{{ STATIC_URL }}img/smart-goals-law-firm.jpg" style="height: 180px;"/>
					
					<div class="checkbox">
				        <label>
				          <input type="radio" id="no" name="goal_attainable" value="no"> No
				        </label>
				    </div>
				    
				    <div class="checkbox">
				        <label>
				          <input type="radio" id="Yes" name="goal_attainable" value="yes"> Yes
				        </label>
				    </div>
				    
			        <hr/>
			        <p>
			            {% blocktrans %}Tips: Goals must be within your capacity to reach. If goals are set too
			                far out of your reach, you cannot commit to accomplishing them. Goals need to
			                stretch you slightly so you feel you can do it and it will need a real commitment
			                from you. Success in reaching attainable goals keeps you
			                motivated.{% endblocktrans %}
			        </p>
			
			        <p>
			            <a class="btn btn-info btn-sm" onclick="$('#btn-relevant').click();">Next</a>
			        </p>
			    </div>
			    <div class="tab-pane fade" id="relevant">
			
			        <p style="text-align: center">
			
			        <h3>
			            {% trans "Is this goal relevant?" %}
			        </h3>
			        <img src="{{ STATIC_URL }}img/Problem_solving.jpg" style="height: 180px;"/>
					
					<div class="checkbox">
				        <label>
				          <input type="radio" id="no" name="goal_relevant" value="no"> No
				        </label>
				    </div>
				    
				    <div class="checkbox">
				        <label>
				          <input type="radio" id="Yes" name="goal_relevant" value="yes"> Yes
				        </label>
				    </div>
			        
			        <hr/>
			        <p>
			            {% blocktrans %}Tips: Goals should be relevant. Make sure each goal is consistent with
			                your other goals and aligned with the goals of the company, your manager, or your
			                department.{% endblocktrans %}
			        </p>
			
			        <p>
			            <a class="btn btn-info btn-sm" onclick="$('#btn-time-bound').click();">Next</a>
			        </p>
			    </div>
			    <div class="tab-pane fade in" id="time-bound">
			        <p>
			
			        <h3>
			            {% trans "What is your timeline?" %}
			        </h3>
			        <p>
			             {% trans "Deadline" %}
			            <br/>
			            <div class="errors deadline-error"></div>
			            <input id="deadline" name="deadline" type="text" placeholder="dd-mm-yyyy">
			        </p>
			
			        <p>
			            {% blocktrans %}Tips: Set a timeframe for the goal: for next week, in three months, end
			                of the quarter. Putting an end point on your goal gives you a clear target to work
			                towards. Without a time limit, there's no urgency to start taking action
			                now.{% endblocktrans %}
			        </p>
			        {% if year_goal %}
			        <input type="hidden" name="year_goal" value="{{ year_goal }}">
			        {% endif %}
			    </div>		    
			</div>
		</form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" id="id-btn-goal-new" onclick="new_goal()">{% trans 'Save' %}</button>
    </div>
</div>

<script type="text/javascript">
var substringMatcher = function (strs) {
    return function findMatches(q, cb) {
        var matches, substrRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function (i, str) {
            if (substrRegex.test(str['name'])) {
                // the typeahead jQuery plugin expects suggestions to a
                // JavaScript object, refer to typeahead docs for more info
                matches.push({ value: str['name'] });
            }
        });

        cb(matches);
    };
};

$(document).ready(function () {
	$('.typeahead').typeahead({
	    hint: true,
	    minLength: 1,
	    highlight: true
	},
	{
	   name: 'goals',
	   source: substringMatcher(goal_lib)
	});
})

</script>