{% extends "bsc_base.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Basic Setup" %}{{ block.super }}{% endblock %}
{% load inplace_edit %}


{% block extra_css %}
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js" xmlns:v-bind="http://www.w3.org/1999/xhtml"
            xmlns:v-bind="http://www.w3.org/1999/xhtml"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}clipboard.js-master/clipboard.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.css">
    <script src="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


{% endblock %}

{% block content %}

    <div id="intro">

        <table>
            <tr>
                <th>Kpi:</th>
                <th>Tên Kpi:</th>
                <th>Email:</th>
                <th>Đơn vị:</th>
                <th>Toán tử:</th>
                <th>PP đo lường:</th>
                <th>Q1:</th>
                <th>Q2:</th>
                <th>Q3:</th>
                <th>Q4:</th>
            </tr>
            <tr v-for=" kpi in kpis">
                <td>${kpi.kpi_id}$</td>
                <td>${kpi.name}$</td>
                <td>${kpi.owner_email}$</td>
                <td>${kpi.unit}$</td>
                <td>${kpi.current_goal}$</td>
                <td>${kpi.operator}$</td>
                <td>${kpi.quarter_one_target}$</td>
                <td>${kpi.quarter_two_target}$</td>
                <td>${kpi.quarter_three_target}$</td>
                <td>${kpi.quarter_four_target}$</td>
                <td>
                    <button type="button" @click="current_kpi = kpi" class="btn btn-primary" data-toggle="modal"
                            data-target="#myModal">
                        Edit KPI
                    </button>
                </td>
            </tr>
        </table>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            Tên KPI: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                            name="text_kpi" v-model="current_kpi.name"><br>
                            Đơn vị: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                           name="text_kpi" v-model="current_kpi.unit"><br>
                            Toán tử: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                            name="text_kpi" v-model="current_kpi.current_goal"><br>
                            PP đo lường: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                                name="text_kpi" v-model="current_kpi.operator"><br>
                            Q1: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                       name="text_kpi" v-model="current_kpi.quarter_one_target"><br>
                            Q2: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                       name="text_kpi" v-model="current_kpi.quarter_two_target"><br>
                            Q3: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                       name="text_kpi" v-model="current_kpi.quarter_three_target"><br>
                            Q4: <input type="text" class="form-control" id="text_kpi" placeholder="Enter kpi"
                                       name="text_kpi" v-model="current_kpi.quarter_four_target"><br>
                        </div>
                    </div>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" @click="get_current_kpi_list"
                                data-dismiss="modal">Submit
                        </button>
                        <testcomponent></testcomponent>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            Vue.component('testcomponent', {
                template: '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
            });

            var vm = new Vue({
                el: '#intro',
                delimiters: ['${', '}$'],
                data: {
                    kpis: [],
                    current_kpi: {},
                    current_kpi2: {},
                },
                created: function () {
                    this.get_kpis_list();
                },
                methods: {
                    get_kpis_list: function () {
                        that = this;
                        cloudjetRequest.ajax({
                            type: 'GET',
                            url: "{% url 'api_v2.users_kpi_list' user.id %}",
                            success: function (data) {
                                that.kpis = data;
                            },
                            error: function () {
                            }
                        })
                    },

                    get_current_kpi_list: function () {
                        that = this;
                        data = {};
                        data['id'] = that.current_kpi.id;
                        data['name'] = that.current_kpi.name;
                        data['owner_email'] = that.current_kpi.owner_email;
                        data['unit'] = that.current_kpi.unit;
                        data['current_goal'] = that.current_kpi.current_goal;
                        data['operator'] = that.current_kpi.operator;
                        data['quarter_one_target'] = that.current_kpi.quarter_one_target;
                        data['quarter_two_target'] = that.current_kpi.quarter_two_target;
                        data['quarter_three_target'] = that.current_kpi.quarter_three_target;
                        data['quarter_four_target'] = that.current_kpi.quarter_four_target;
                        cloudjetRequest.ajax({
                            type: "POST",
                            url: '{% url 'api_v2.kpi' %}',
                            data: JSON.stringify(data),
                            success: function (data) {
                                that.current_kpi = data;
                                that.$message({
                                    message: 'Sửa dữ liệu thành công!',
                                    type: 'success'
                                });
                                console.log("success"); 
                            },
                            error: function () {
                                that.$message({
                                    message: 'Đã có lỗi xảy ra!',
                                    type: 'error'
                                })
                            }
                        });
                    },
                    get_current_kpi_list2: function (current_kpi) {
                        that = this;
                        current_kpi.command = 'update_quarter_target';
                        cloudjetRequest.ajax({
                            type: "POST",
                            url: COMMON.LinkKPISevices,
                            data: JSON.stringify(current_kpi),
                            success: function (data) {
                                that.current_kpi2 = data;
                            }
                        })
                    }
                }
            });
        </script>
{% endblock %}