{% extends "base_performace.html" %}
{% load i18n user_tags %}

{% block title %}KPI Review{{ block.super }}{% endblock %}

{% block landing %}
    <link href="{{ STATIC_URL }}plugins/date-datetimeker-editable.css" rel="stylesheet"/>
       <div class="main">
        <!--<a href="{% url 'kpi-stage-review' hash=hash  %}?filter=all" class="btn btn-default">All KPIs</a>-->
       </div>
    <!--TODO: bổ sung Tên, avatar, link click về KPI editor của user này -->
    {% for kpi in kpis %}
        <div class="main" ng-controller="KpiReviewController">
        	<h3 style="text-decoration: underline;"><span>{{ kpi.parent.name }}</span></h3>
            <h4 style="line-height: 20px;color: #2d8fab ; margin-left:15px;"> &raquo; [<span ng-bind="kpi.prefix_id"> </span>] <span ng-bind="kpi.name"> </span></h4>


            <p style="color: #999;font-size: 12px;margin-top: -5px;margin-left:15px;">{% trans "In charge" %}: <span ng-bind="get_in_charge(data_kpi)"></span></p>
            <!--TODO: bổ sung tên KPI cha ở đây  -->
            <strong>{% trans 'Auto result calculation' %}:</strong>
             <span style="color:green;"
                                                           ng-click='change_score_calculation_type(kpi)'> &#123&#123
                                                         kpi.score_calculation_type || 'N/A' &#125&#125 ({% trans 'Change' %})</span>
            <p>

                <span ng-show="kpi.score_calculation_type == 'sum'" >Sum:  <b ng-bind="sum"></b> </span>
                <span ng-show="kpi.score_calculation_type == 'average'">Average: <b ng-bind="average.toFixed(2)"></b> </span>
                <span ng-show="kpi.score_calculation_type != 'sum' && kpi.score_calculation_type != 'average'">Latest result: <b ng-bind="latest_result"></b> </span>
                 &nbsp;<span ng-bind="kpi.unit"></span>
            </p>
            <p>
                Target: <b ng-bind="kpi.target"></b>&nbsp;<span ng-bind="kpi.unit"></span>
            </p>

            <div>
                <div class="clearfix">
                    <a class="btn btn-primary btn-small pull-left" href="#add-kpi-modal"
                       data-toggle="modal">{% trans 'Add Data' %}</a>

                    <div class="pull-right">
                        <span><strong>{% trans 'Review' %}</strong>: {{ kpi.get_review_type_display }}</span>
                    </div>
                </div>
                <div>
                    <div class="clearfix">
                        <div class="pull-left" style="width: 380px">
                            <table class="table">
                            	<colgroup>
                            		<col width="auto">
                            		<col width="auto">
                            		<col width="auto">
                            		<col width="30">
                            	</colgroup>
                                <thead>
                                <tr>
                                    <th>
                                    {% trans 'Date' %}</td>
                                    <th>{% trans 'Data' %}</td>
                                    <th>{% trans 'Note' %}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="kpi in data_kpi.sub_kpis | orderBy: '-review_date.$date' | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                    <td><span ng-bind="kpi.review_date.$date | date:'dd-MM-yyyy'"></span></td>
                                    <td><span ng-bind="kpi.real | number:0"></span></td>
                                    <td ng-bind="kpi.note"></td>
                                    <td><a href="javascript:void(0)" ng-click="remove_kpi(kpi)"><i
                                            class="icon-remove"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                            	<button style="margin-right: 10px" class="btn btn-info btn-small" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">< {% trans 'Previous' %}</button>
								<button class="btn btn-info btn-small" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">{% trans 'Next' %} ></button>
                            </div>
                        </div>
                        <div class="pull-left">
                            <div id="id-kpi-chart" style="width: 600px;height: 400px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add-kpi-modal" class="modal hide fade">
                <div class="modal-header" style="padding: 2px 15px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            style="font-size: 20px;">&times;</button>
                    <h3 id="id-modal-title">{% trans 'Add Data' %}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" ng-submit="add_kpi()">
                        <div class="control-group">
                            <label class="control-label" for="input-date">{% trans 'Review date' %}:</label>

                            <div class="controls">
                                <input datepicker type="text" ng-init="reset_form()" ng-model='review_date' required="required" id="input-date"
                                       placeholder="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input-date">{% trans 'Real' %}:</label>

                            <div class="controls">
                                <input type="text" id="input-real" ng-model="real" placeholder="{% trans 'Real' %}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input-note">{% trans 'Note' %}:</label>

                            <div class="controls">
                            	<textarea style="height: 50px" id="input-note" ng-model="note" placeholder="{% trans 'Note' %}"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="btn-add-kpi" type="submit"
                                        class="btn btn-primary">{% trans 'Save' %}</button>
                                <img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_kpi_saving" style="display: none;">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}


    <script src="{{ STATIC_URL }}plugins/date-datetimeker-editable.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
<script src="{{ STATIC_URL }}v1/bower_components/angular/angular.min.js"></script>

<script>
    var kpi_id = '{{kpi.hash}}';
</script>
    <script src="{{ STATIC_URL }}v1/js/stage_ctrl.js?tttt=1"></script>
    <script src="{{ STATIC_URL }}v1/js/stage_module.js"></script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        var chart_data = [];
        function drawChart() {
            var kpi_data = new google.visualization.DataTable();

            kpi_data.addColumn('date', gettext('Date'));
            kpi_data.addColumn('number', gettext('Data'));
            kpi_data.addRows(chart_data);

            var options = {
                title: 'KPI Performance',
                hAxis: {title: 'Date', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('id-kpi-chart'));
            chart.draw(kpi_data, options);
        }
    </script>
{% endblock %}