{% extends "bsc_base.html" %}
{#{% load markdown_deux_tags %}#}

{% load i18n %}

{% block title %}KPI editor{% endblock %}



{% block content %}

	<div class="container-fluid">
		 <h2 class="text-info">{% trans 'KPI Learning' %}</h2>
        <p><a target="_blank" href="https://docs.google.com/document/d/18Yest5RJ5prtSneoqbcqgJ32RTDtP7KWXUauFD3e4vU/pub">Click to Download</a></p>
		 <div style="overflow: hidden;">
		 	<iframe src="https://versal.com/c/rldtpc/learn?embed=true" height="527" width="100%" scrolling="no" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="margin:0; margin-top:-40px;padding:0;border:1px solid #f2f1ed ;box-shadow: 0 0 3px 0 rgba(199,195,190,0.5);" ></iframe>
		 </div>
		
	</div>
   
{% endblock %}
