{#{% load i18n %}#}
{#{% load kpi %}#}
{##}
{#<div id="popup-role-list">#}
{#	<ul class="nav nav-tabs" id="my-roles-tab">#}
{#		{% for j in job_categories %}#}
{#		<li {% if forloop.first %}class="active"{% endif %}><a href="#category-{{ j.id }}" data-toggle="tab">{{ j.name }}</a></li>#}
{#		{% endfor %}#}
{#	</ul>#}
{#	 #}
{#	<div class="tab-content">#}
{#		{% for category in job_categories %}#}
{#		<div class="tab-pane {% if forloop.first %}active{% endif %}" id="category-{{ category.id }}">#}
{#			<div id='tab-innner-content'>#}
{#				<ul class="list-jobs">#}
{#					{% for job in category|get_jobs_title %}#}
{#					<li id='job-title-{{ job.id }}'>#}
{#						<div class="job-card">#}
{#							<p class="job-title-name" style="cursor: pointer;" title="{{ job.name }}">{{ job.name|truncatewords:8 }}</p>#}
{#							<div class="job-description">#}
{#								<p>{{ job.description }}</p>#}
{#								<div style="padding-top: 20px">#}
{#									<p><strong>{% trans 'Factors measured' %}:</strong></p>#}
{#									<p>{{ job.factors }}</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					{% endfor %}#}
{#				</ul>#}
{#			</div>#}
{#		</div>#}
{#		{% endfor %}#}
{#	</div>#}
{#	<div class="clearfix" style="margin-top: 5px;">#}
{#		<div class="right">#}
{#			<button class="mango_bt" style="height: 30px;margin-right: 10px;" id='save-selected-role'>{% trans "Save" %}</button>#}
{#			<button class="mango_bt" style="height: 30px;margin-right: 10px;" id='cancel-selected-role'>{% trans "Cancel" %}</button>#}
{#		</div>		#}
{#	</div>#}
{#</div>#}