{% extends "bsc_base.html" %}
{% load i18n user_tags static %}

{% block title %}{% trans 'People ' %}{{ block.super }}{% endblock %}
{% block base_menu %}
{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js?v={{ settings.VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}sweetalert-master/v7.4.0/sweetalert2.all.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/locales/bootstrap-datepicker.vi.js"#}
{#            charset="UTF-8"></script>#}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'vi' %}
    <script type="text/javascript" src="{{ STATIC_URL }}datepicker/locales/bootstrap-datepicker.vi.js" charset="UTF-8"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxfileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jit-yc.js"></script>
    {#    <script type="text/javascript" src="{{ STATIC_URL }}js/jit.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}sweetalert-master/dist/sweetalert.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/tree-init.js?v={{ settings.VERSION }}"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}select/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}limitless/js/plugins/pagination/bs_pagination.min.js"></script>
    {% if LANGUAGE_CODE == 'vi' %}
    <script type="text/javascript" src="{{ STATIC_URL }}select/select2_locale_vi.js"></script>
    {% endif %}

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/spacetree.css?vg=20130821" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}select/select2.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/kpi_editor.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/v5-people.css">
<style>
    .exist_position {
        background: url({{ STATIC_URL }}img/to_exist_position.svg) no-repeat;
        background-position: 50% 20%;
        position: relative;
    }
    .new_position {
        background: url({{ STATIC_URL }}img/to_new_position.svg) no-repeat;
        background-position: 50% 20%;
        position: relative;
    }
    .exist_position:hover {
        background: url({{ STATIC_URL }}img/to_exist_position_hover.svg) no-repeat center;
        background-color: #19aaaa;
        background-position: 50% 20%;
        position: relative;
        cursor: pointer;
    }
    .new_position:hover {
        background: url({{ STATIC_URL }}img/to_new_position_hover.svg) no-repeat center top;
        background-color: #19aaaa;
        background-position: 50% 20%;
        position: relative;
        cursor: pointer;
    }
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
    }
    #unmanaged-employee-list thead tr .header {
        background-color:transparent;
        background-image: url({{ STATIC_URL }}img/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }
    #unmanaged-employee-list theead tr .headerSortUp {
        background-image: url({{ STATIC_URL }}img/asc.gif);
    }
    #unmanaged-employee-list thead tr .headerSortDown {
        background-image: url({{ STATIC_URL }}img/desc.gif);
    }
	.list-group .list-group-item {
		text-align: left !important;
	}
</style>
{% endblock %}
{% block content %}
    {% include 'v5/import_vuejs.html' %}
    {% trans "Establish company mangement system with specific roles" as descTitle %}
    {% trans "People " as titlePage %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/organization-tree.png"|get_static people=True people_video=1 %}

    <div id="peopleApp">
        <div class="item_contain" style="width: 100%">
            <div class="people_left">
                    <div id='id-person-info'>
                    	<div class="people_box">
	                    	<div class="people_icon">
	                             <div class="image_box">
	                                 <a id="btnupload" class="avatar_box OCA_BTN_UPLOAD_AVA" href="javascript:void(0)">
	                                     <img id="id-avatar" class="img_ava"
	                                      src="{{ STATIC_URL }}img/people/person.png">
	                                      <span class="fa fa-camera fa-2x middle"></span>
	                                      <i class="material-icons green font14 stick bstooltip" v-if="current_node.active" data-original-title="{% trans 'Active' %}">check_circle</i>
	                                      <i class="material-icons red font14 stick bstooltip" v-if="!current_node.active" data-original-title="{% trans 'Inactive' %}">remove_circle</i>
	                                 </a>
	                             </div>
	                             <div>
	                                 <form method="post" name="avatar" id="uploadimage" enctype="multipart/form-data">
	                                     <input type="file" name="file" value="avatar" accept="image/*" id="file" class="upload-file">
	                                     <input type="submit" name="myfile" class="btn btn-submit" value="{% trans "Update avatar" %}" id="submit_ava">
	                                 </form>
	                             </div>

	                             <div id="loading-ava">
	                                 <img class="image-loading" src="{{ STATIC_URL }}img/csb/loading_circle.gif">
	                                 <span class="text-loading" >{% trans "Loading" %}...</span>
	                             </div>
	                             <b><p id="message-ava">{% trans "Successful" %}</p></b>
	                         </div>

	                         <div class="personal-info">
		                         <p id="id-employee-name"></p>
		                         <p id="id-email-employee"></p>
		                         <p class="is-admin" v-if="current_node.is_admin">{% trans 'Admin' %} <i class="material-icons font14" style="color: #f5a623">stars</i></p>
	                         </div>

	                         <div class="toolbox-emp">

                                 <a class="toolbox-item bstooltip OCA_BTN_VIEW_KPI" target="_blank" v-bind:href="'/performance/kpi-editor/emp/' + current_node.user_id + '/'" title="{% trans 'View KPIs' %}"><i class="material-icons icon">format_list_bulleted</i></a>
                                 <a class="toolbox-item bstooltip OCA_BTN_EDIT_INFO" href="javascript:void(0)" id="btn-edit-employee" title="{% trans 'Edit information' %}" @click="set_mode('edit');show_modal_edit_infor()"><i class="material-icons icon">mode_edit</i></a>
                                 <a class="toolbox-item bstooltip OCA_BTN_CHANGE_POS" href="javascript:void(0)" title="{% trans 'Change position' %}" @click="show_modal_move_position"><i class="material-icons icon">compare_arrows</i></a>
                                 <a class="toolbox-item bstooltip OCA_BTN_ADD_USER" href="javascript:void(0)" id='add-sub-person' title="{% trans 'Add employee' %}" @click="set_mode('add');show_modal_add_employee()"><i class="material-icons icon">person_add</i></a>

                                {% if can_delete %}
	                         	<a class="toolbox-item bstooltip OCA_BTN_DEL_USER" href="javascript:void(0)" v-if="!check_user_request() && !current_node.is_superuser" id='btn-delete-employee' title="{% trans 'Delete employee' %}"><i class="material-icons red icon">delete</i></a>
	                         	{% endif %}
	                         </div>

	                        <!-- Start Employee Information -->
	                        <div class="emp-info">
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Position" %}</div>
		                        	<div id="id-position" class="info-value"></div>
	                        	</div>
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Phone" %}</div>
		                        	<div id="id-phone" class="info-value"></div>
	                        	</div>
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Employee code" %}</div>
		                        	<div id="id-employee" class="info-value"></div>
	                        	</div>
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Department" %}</div>
		                        	<div id="id-department" class="info-value"></div>
	                        	</div>
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Unit code" %}</div>
		                        	<div id="id-unit_code" class="info-value"></div>
	                        	</div>
	                        	<div class="info-item">
		                        	<div class="info-label">{% trans "Status" %}</div>
		                        	<div id="id-department-code" class="info-status">
		                        		<span v-if="current_node.active" class="green">{% trans 'Active' %}</span>
		                        		<i v-if="current_node.active" class="material-icons green font14">check_circle</i>

		                        		<span v-if="!current_node.active" class="red">{% trans 'Inactive' %}</span>
		                        		<i v-if="!current_node.active" class="material-icons red font14">remove_circle</i>
		                        	</div>
	                        	</div>

	                        	<div class="info-item mg-t-25" style="">
		                        	<div class="info-label">{% trans "Advanced functions" %}</div>
		                        	<div class="info-functions">
		                        		<a id="send-password" class="OCA_LINK_LOGIN_LINK" href="#reset-password-modal" data-target="#reset-password-modal" data-toggle="modal"><i class="material-icons font14">email</i> {% trans "Send new password" %}</a>
		                        		<a id="send-group-password" class="OCA_LINK_TEAM_LINK" href="#send-group-password-modal" data-target="#send-group-password-modal" data-toggle="modal"><i class="material-icons font14">email</i> {% trans "Send password to your group" %}</a>
		                        		{% if user_organization.is_superuser or user_organization.is_admin %}
		                        		<a id="id_login_as" class="OCA_LINK_CEO_LINK" href="javascript:void(0)"><i class="material-icons font14">person</i> {% trans "Login as" %} CEO</a>
		                        		{% endif %}

		                        		{% if user_organization.organization_id == 1 or user_organization.organization_id == 47 %}
		                        		<a id="id_login_as_employee" href="javascript:void(0)"><i class="material-icons font14">input</i> {% trans "Login as" %} <span class="employee_name"></span></a>
		                        		{% endif %}
		                        		
		                        		<a v-if="!current_node.is_admin" class="OCA_LINK_SET_ADMIN" @click="toggle_admin('true')" href="javascript:void(0)"><i class="material-icons font14">stars</i> {% trans "Administrator access" %}</a>
		                        		<a v-if="current_node.is_admin && current_node.user_id != {{ user.id }}" class="OCA_LINK_DIS_ADMIN" @click="toggle_admin('false')" href="javascript:void(0)"><i class="material-icons font14">stars</i> {% trans "Administrator disable" %}</a>
		                        		<a v-if="current_node.is_admin && current_node.user_id == {{ user.id }}" href="javascript:void(0)"><i class="material-icons font14">stars</i> {% trans "You are an administrator" %}</a>
		                        	</div>
	                        	</div>
	                        </div>
	                        <!-- End Employee Information -->
                         </div>
                    </div>

                    <div class="modal fade bs-example-modal-md" id="add-employee-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  	<div class="modal-dialog modal-md" role="document">
					    	<div class="modal-content">
					      		<div class="modal-header no-border">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel" v-if="mode == 'add'">{% trans 'Add subordinate' %}</h4>
							        <h4 class="modal-title" id="myModalLabel" v-if="mode == 'edit'">{% trans 'Edit information' %}</h4>
					      		</div>
							    <div class="modal-body">
							        <div class="form-horizontal v5-form">
							        	<div class="form-group" v-show="mode == 'edit'">
										    <label for="inputEmail3" class="col-sm-4 control-label">{% trans "Status" %}</label>
										    <div class="col-sm-8 form-inline">
										      	<div class="radio radio-primary" style="max-width: 150px;width: 100%;">
										      		<input type="radio" name="emp_status" id="emp_active_1" v-model="emp_status" value="1">
											        <label for="emp_active_1" class="OCA_RDB_EDIT_AT">
											           {% trans 'Active' %}
											        </label>
											   	</div>

											   	<div class="radio radio-primary">
											   		<input type="radio" name="emp_status"  id="emp_active_0" v-model="emp_status" value="0">
											        <label for="emp_active_0" class="OCA_RDB_EDIT_UAT">
											          {% trans 'Inactive' %}
											        </label>
											   	</div>
										    </div>
										</div>
                                        <div class="form-group" id="reason_box">
										    <div class="col-sm-12">
                                                <textarea type="text" class="form-control" name="reason" id="id-employee-reason" placeholder="{% trans "Reason delay (required)" %}"></textarea>
										    </div>
										</div>

							        	<div class="form-group">
										    <label for="id-employee-name-edit" class="col-sm-4 control-label">{% trans "Full name" %} *</label>
										    <div class="col-sm-8">
										      	<input type="text" class="form-control OCA_INP_EDIT_NAME" name="name" id="id-employee-name-edit" maxlength="30">
										    </div>
										</div>

										<div class="form-group">
										    <label for="id-email-employee-edit" class="col-sm-4 control-label">{% trans "Email" %} *</label>
										    <div class="col-sm-8">
										      	<input type="email" name="email" class="form-control OCA_INP_EDIT_EMAIL" id="id-email-employee-edit" maxlength="100">
										    </div>
										</div>

										<div class="form-group">
										    <label for="id-employee-phone-edit" class="col-sm-4 control-label">{% trans "Phone" %}</label>
										    <div class="col-sm-8">
										      	<input type="text" name="phone" class="form-control OCA_INP_EDIT_PHONE" id="id-employee-phone-edit" maxlength="80" onkeypress="check_number(event)">
										    </div>
										</div>

										<div class="form-group">
										    <label for="id-employee-edit" class="col-sm-4 control-label">{% trans "Employee code" %}</label>
										    <div class="col-sm-8">
										      	<input class="form-control OCA_INP_EDIT_CODE" id='id-employee-edit' type="text" maxlength="80">
										    </div>
										</div>

										<div class="form-group">
										    <label for="id-position-edit" class="col-sm-4 control-label">{% trans "Position" %} *</label>
										    <div class="col-sm-8">
										      	<input id='id-position-edit' maxlength="100" class="form-control OCA_INP_EDIT_POS">
										    </div>
										</div>

										<div class="form-group">
										    <label for="id-department-edit" class="col-sm-4 control-label">{% trans "Department" %}:</label>
										    <div class="col-sm-8">
										      	<input id='id-department-edit' maxlength="100" class="form-control OCA_INP_EDIT_DEPT">
										    </div>
										</div>

										<div class="form-group">
										    <label for="listuc" class="col-sm-4 control-label">{% trans "Unit code" %}:</label>
										    <div class="col-sm-8">
										      	<select class="form-control OCA_INP_EDIT_UCODE" id="listuc" v-model="unitcode">
			                                        <option value="">-------</option>
			                                        {% for i in list_uc %}
			                                            <option v-bind:value="'{{ i.code }}'">{{ i.code }} - {{ i.name }} </option>-
			                                        {% endfor %}
			                                    </select>
										    </div>
										</div>

										<div class="form-group" v-if="mode == 'add'">
										    <label for="send_pass" class="col-sm-4 control-label">{% trans "Password" %}:</label>
										    <div class="col-sm-8">
										      	<div class="checkbox checkbox-primary">
										      		<input type="checkbox" id="id_send_new_pass">
											        <label for="id_send_new_pass">
											           {% trans 'Send password to employee' %}
											        </label>
											   	</div>
										    </div>
										</div>
							        </div>
							        <div class="item_people_input">
		                                <p>{% trans "Manager" %}</p>
		                                <select id="id-managers">
		                                </select>
		                            </div>
							    </div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7" data-dismiss="modal">{% trans 'Close' %}</button>
					        		<button type="button" id='add-save-new-person' class="btn btn-normal btn-cus-add btn-cus-5-7" v-show="mode == 'add'">
					        			<i class="material-icons font14">person_add</i> {% trans 'Add employee' %}
					        		</button>
					        		<button type="button" id="id-edit-save" class="btn btn-normal btn-cus-add btn-cus-5-7 OCA_BTN_EDIT_SAVE" v-show="mode == 'edit'">
					        			<i class="material-icons font14 OCA_BTN_EDIT_SAVE">save</i> {% trans 'Save changes' %}
					        		</button>
					      		</div>
					    	</div>
					  	</div>
					</div>
                </div>
            </div>
            <div class="people_right">
            	<div class="search-employee">
	            	<div class="search-box">
	              		<input v-if="tab_mode == 'tab1'" data-step="9" v-model="search_staff" style="height:40px;width:300px;box-shadow:none;border-radius:3px;margin-right:-15px;" class="input-search-staff mango_search_input bg-search-staff form-control not-show-when-group OCA_INP_SEARCH"
	              			placeholder="{% trans 'Find Staff' %}">
	              		<input v-if="tab_mode == 'tab2'" data-step="9" v-model="search_unmanaged_staff" style="height:40px;width:300px;box-shadow:none;border-radius:3px;margin-right:-15px;" class="input-search-staff mango_search_input bg-search-staff form-control not-show-when-group OCA_INP_SEARCH"
	              			placeholder="{% trans 'Find Staff' %}">
	              		<i class="fa fa-search" id="ico-search"></i>
	              	</div>

			        <!--No result-->
			        <div class="list-group no-data">
			          <a href="#" class="list-group-item">
			            {% trans "No data found" %}
			          </a>
			        </div>
			        <!--Result Search-->
			        <div class="arrow-up" style="display:none;"></div>
			        <div class="list-group" id="result_searched" style="display: none;">
			          <a href="javascript:void(0)" class="list-group-item OCA_LINK_SEARCH_ITEM" v-for="(user, index) in list_user_searched" @click="click_searched_person(user)">
			             <span class="name-personal" v-if="user.display_name">${ user.display_name }$</span>
			             <span class="name-personal pd-10" v-if="user.display_name"> </span>
			             <p class="position-personal">${ user.email }$ </p>
			          </a>
			        </div>
              	</div>
                <ul class="nav nav-tabs v5-tabs">
                  <li class="active OCA_TAB_ORG"><a class="OCA_TAB_ORG" data-toggle="tab" href="#organization-chart" onclick="clear_search('tab1')">{% trans "Organization chart" %}</a></li>
                  <li class="OCA_TAB_UEMP"><a class="OCA_TAB_ORG" data-toggle="tab" href="#unmanaged-employee" onclick="clear_search('tab2')">{% trans "Unmanaged employee" %}</a></li>
                </ul>
                <div class="tab-content">
                  <div id="organization-chart" class="tab-pane fade in active">
                    <div class="form-inline tree-options">
                    	<div class="radio radio-primary">
                    		<input class="options OCA_RDB_SVIEW" type="radio" name="treeview" value="1"
	                                   checked="checked" id='id_options_1'>
	                        <label class="radio" for="id_options_1">
	                            {% trans 'Smart view' %}
	                        </label>
                        </div>
						<div class="radio radio-primary mg-l-10">
							<input class="options OCA_RBD_FVIEW" type="radio" name="treeview" value="2" id='id_options_2'>
	                        <label class="radio" for="id_options_2">
	                           	{% trans 'Full chart' %}
	                        </label>
	                    </div>
                    </div>

                    <div id="infovis" onmousedown="this.style.cursor='move';" onmouseup="this.style.cursor='move';"
                         style="cursor: move!important;" class="disable-select"></div>
                  </div>
                  <div id="unmanaged-employee" class="tab-pane fade unmanaged-employee"   style="font-size:14px;" >
                   	<!--Unmanaged emloyee list-->
                      <h2 id="msg-loading">{% trans "Loading...." %}</h2>
                     <table id="unmanaged-employee-list" class="table table-hover">
                        <thead>
                          <tr>
                          	<td class="tr-th" style="width:40px">{% trans "No." %}</td>
                            <td class="tr-th" style="width:20%">{% trans "Full name" %}</td>
                            <td class="tr-th" style="width: 200px">Email</td>
                            <td class="tr-th" style="width:150px">{% trans 'Phone' %}</td>
                            <td class="tr-th"></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  v-for="(i, index) in view_user_backup.slice((currentPage -1) * pageSize, (currentPage - 1) * pageSize + pageSize)"  v-on:click="load_user_backup(i.user);">
                          	<td>${ (currentPage -1) * pageSize + index + 1 }$</td>
                            <td>${ i.display_name}$</td>
                            <td style="vertical-align: middle;">${ i.email }$ </td>
                            <td style="vertical-align: middle;">${ i.phone }$ </td>
                            <td>
                            	<a @click="delete_forever(i)" class="hover delete-forever pull-right OCA_BTN_DEL4EVER" href="javascript:void(0)"><i class="material-icons font14">delete_forever</i> {% trans 'Delete forever' %}</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      	<div class="text-center">
                     		<el-pagination :page-size="pageSize" background layout="prev, pager, next"
                                           :total="view_user_backup.length"
                                           :current-page.sync="currentPage"></el-pagination>
                  		</div>
                      </div>
                </div>
                <!-- Tabs -->
            <div id="log" ></div>
            <div class="clear"></div>
        </div>

        <div id='reset-password-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>{% trans "Reset password" %}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>{% trans "This will e-mail a new password to" %} <strong id='email-reset'></strong>.<br>
                                {% trans "Next time they log on they will have to use the new password" %}.</p>

                            <p>{% trans "The password will valid for the next 48 hours" %}.</p>
                            <input type="hidden" name="user_id" id="id-user-id">
                            <input type="hidden" name="username" id="id-username">
                            <input type="hidden" name="email" id="id-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <img alt="" src="{{ STATIC_URL }}img/csb/468.gif" style="display: none" class="mg-r-5"
                             id="icon-processing">
                        <a href="#" class="btn btn-primary" id='btn-send-email'>{% trans "Send Email" %}</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </div>
        </div>


         <div id='send-group-password-modal' class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>{% trans "Reset password" %}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>{% trans "These accounts will be sent new password" %}:
                            <ul class="email-list">

                            </ul>
                            <p>{% trans "Next time they log on they will have to use the new password" %}.</p>

                            <p>{% trans "The password will valid for the next 48 hours" %}.</p>
                            <input type="hidden" name="user_id" id="id-user-id">
                            <input type="hidden" name="username" id="id-username">
                            <input type="hidden" name="email" id="id-email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <img alt="" src="{{ STATIC_URL }}img/csb/468.gif" style="display: none" class="mg-r-5"
                             id="icon-processing1">
                        <a href="#" class="btn btn-primary" id='btn-send-group-email'>{% trans "Send Email" %}</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="node-loading">{% trans "Loading" %} ...</div>


        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans "Confirm Delete" %}
                        </h4>
                    </div>

                    <div class="modal-body">

                        <p class="alert alert-danger">{% trans "Please notice that this action can not be reversed. All data will be deleted after you confirm the action. " %}</p>

                        <p><b>{% trans "Please insert" %} <span class="ready-delete-employee">${ current_node.email }$</span> {% trans "to confirm employee that will be delete:" %} </b></p>

                        <input v-if="status_confirm==true" type="email" placeholder="{% trans "Re-enter Email..." %}" name="email" id="email_confirm" v-model="email_confirm" disabled>

                        <input v-if="status_confirm==false" type="email" name="email" id="email_confirm"  v-model="email_confirm" autofocus>

                        <button v-if="status_confirm==true" type="button" class="btn btn-success btn-confirm" onclick="check_email()" disabled>
                            <span class="fa fa-check"></span>
                        </button>

                        <button v-if="status_confirm==false" type="button" class="btn btn-success btn-confirm" onclick="check_email()">
                            <span class="fa fa-check"></span>
                        </button>

                        <p id="alert_confirm">{% trans "Error, email does not exist" %}</p>

                        <p v-if="status_confirm==true">
                            {% trans "You have 2 options" %}:
                        </p>

                        <p><a class="btn btn-danger " id="btn-delete-only-user">
                            {% trans "Delete user but not deleting KPIs belong to this user" %}
                        </a></p>

                        <p><a class="btn btn-danger " id="btn-delete-user-with-kpis">
                            {% trans "Delete user and KPIs belong to this user" %}
                        </a></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="position_options_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
		    	<div v-if="step==1" class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{% trans "Change manager" %}</h4>
		      		</div>
		      		<div class="modal-body">
		      			<div style="padding: 0 30px;">
			        		<div class="row">
			        			<div class="col-md-6">
			        				<a v-on:click="selected_option_position('exist_position')">
                                        <div class="position-box exist_position">
                                            <div class="text-position"><span class="text-content">{% trans "Move to existing position" %}</span>
                                            </div>
                                        </div>
                                    </a>

			        			</div>
			        			<div class="col-md-6">
			        				<a v-on:click="selected_option_position('new_position')">
                                        <div class="position-box new_position">
                                              <div class="text-position"><span class="text-content">{% trans "Move to new position" %}</span>
                                            </div>
                                        </div>
                                    </a>
			        			</div>
			        		</div>
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
		      		</div>
		    	</div>
		    	
		    	<div v-if="step == 2 && position_type == 'exist_position'" class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{% trans "Switch the employee to the available position" %}</h4>
		      		</div>
		      		<div class="modal-body">
		        		<div class="change-pos-emp">
		        			<div>
		        				<p class="bold">{% trans "Change employee position:" %}</p>
		        				<div class="mg-l-50">
		        					<div class="infor-emp">
										<div class="avatar">
											<img alt="" v-bind:src="current_node.avatar">
										</div>
										<div class="infor">
											<p class="mg-bt-0">
												<span style="font-weight: bolder;">${ current_node.name }$</span><br/>
												<span>${ current_node.email }$</span><br/>
												<a target="_blank" v-bind:href="'/performance/kpi-editor/emp/' + current_node.user_id + '/'">» {% trans "See KPI" %}</a>
											</p>
										</div>		        					
			        				</div>
			        				<div>
			        					<div class="checkbox">
			        						<input type="checkbox" v-model="keep_kpi_history" id="id_keep_kpi_history">
										    <label for="id_keep_kpi_history">
										      {% trans "Accompany the history KPI has evaluated" %}
										    </label>
									  	</div>
			        				</div>
		        				</div>
		        			</div>
		        			
		        			<div>
		        				<p class="bold">{% trans "To the staff position" %}</p>
		        				<div class="mg-l-50">
		        					<div>
		        						<select2 :options="employee_options" v-model="selected_employee">
									      	<option disabled value="0">Select one</option>
									    </select2>
									    
									    <div v-if="selected_employee_obj" class="mg-t-10">
									    	<div class="infor-emp">
												<div class="avatar">
													<img alt="" v-bind:src="selected_employee_obj.avatar_url">
												</div>
												<div class="infor">
													<p class="mg-bt-0">
														<span style="font-weight: bolder;">${ selected_employee_obj.display_name }$</span><br/>
														<span>${ selected_employee_obj.user__email }$</span><br/>
														<a target="_blank" v-bind:href="'/performance/kpi-editor/emp/' + selected_employee_obj.user_id + '/'">» {% trans "See KPI" %}</a>
													</p>
												</div>		        					
				        					</div>
									    </div>
		        					</div>
		        				</div>
		        			</div>
		        			
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
				        <button type="button" class="btn btn-primary" id="btn-submit-change-position" data-loading-text="{% trans 'Processing...' %}" v-bind:disabled="!selected_employee" @click="move_to_exist_position">{% trans "Move position" %}</button>
		      		</div>
		    	</div>
		    	
		    	<div v-if="step == 2 && position_type == 'new_position'" class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{% trans "Switch the employee to new position" %}</h4>
		      		</div>
		      		<div class="modal-body">
		        		<div class="change-pos-emp">
		        			<div>
		        				<p class="bold">{% trans "Change employee position:" %}</p>
		        				<div class="mg-l-50">
		        					<div class="infor-emp">
										<div class="avatar">
											<img alt="" v-bind:src="current_node.avatar">
										</div>
										<div class="infor">
											<p class="mg-bt-0">
												<span style="font-weight: bolder;">${ current_node.name }$</span><br/>
												<span>${ current_node.email }$</span><br/>
												<a target="_blank" v-bind:href="'/performance/kpi-editor/emp/' + current_node.user_id + '/'">» {% trans "See KPI" %}</a>
											</p>
										</div>		        					
			        				</div>
			        				<div>
			        					<div class="radio">
			        						<input type="radio" name="move_everything" id="moveOption-1" value="false" v-model="move_everything">
											<label for="moveOption-1">
											  {% trans "Reserve KPIs and subordinates" %}
											</label>
											<a href="javascript:void(0)" data-toggle="tooltip" id='help-1'><i class="fa fa-question-circle mg-l-10" aria-hidden="true"></i></a>
										</div>
										<div class="radio">
											<input type="radio" name="move_everything" id="moveOption-2" value="true" v-model="move_everything">
											<label for="moveOption-2">
											  {% trans "Move KPIs and subordinates" %}
											</label>
											<a href="javascript:void(0)" data-toggle="tooltip" id='help-2'><i class="fa fa-question-circle mg-l-10" aria-hidden="true"></i></a>
										</div>
			        				</div>
		        				</div>
		        			</div>
		        			
		        			<div class="mg-bt-15">
		        				<p class="bold">{% trans "To the position being managed by:" %}</p>
		        				<div class="mg-l-50">
		        					<div>
		        						<select2 :options="employee_options" v-model="selected_employee">
									      	<option disabled value="0">Select one</option>
									    </select2>
									    
									    <div v-if="selected_employee_obj" class="mg-t-10">
									    	<div class="infor-emp">
												<div class="avatar">
													<img alt="" v-bind:src="selected_employee_obj.avatar_url">
												</div>
												<div class="infor">
													<p class="mg-bt-0">
														<span style="font-weight: bolder;">${ selected_employee_obj.display_name }$</span><br/>
														<span>${ selected_employee_obj.user__email }$</span><br/>
														<span v-if="selected_employee_obj.position" class="position">${ selected_employee_obj.position }$</span><br/>
													</p>
												</div>		        					
				        					</div>
									    </div>
		        					</div>
		        				</div>
		        			</div>
		        			
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
				        <button type="button" class="btn btn-primary" id="btn-submit-change-position" data-loading-text="{% trans 'Processing...' %}" v-bind:disabled="!selected_employee" @click="move_to_new_position">{% trans "Change position" %}</button>
		      		</div>
		    	</div>
		    	
		    	<div v-if="step == 3 && position_type == 'new_position' && !migration_failed" class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{% trans "Switch the employee to new position" %}</h4>
		      		</div>
		      		<div class="modal-body">
		        		<div class="change-pos-emp">
		        			<div class="icon-success">
		        				<i class="fa fa-check-circle-o fa-3" aria-hidden="true"></i>
		        			</div>
		        			
		        			<p class="bold" class="text-success">{% trans "Successfully relocate" %}</p>
		        			<div class="infor-text-success">
		        				<p>{% trans "Employee " %}<span class="bold">${ current_node.name }$</span>{% trans " has been moved to a new location managed by " %}<span class="bold">${ selected_employee_obj.display_name }$</span> </p>
		        				<p v-if="move_everything == 'false'">{% trans "Not included with KPI and subordinate " %} </p>
		        				<p v-if="move_everything == 'true'">{% trans "Move the KPI and subordinate " %}</p>
		        			</div>         			
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
		      		</div>
		    	</div>
		    	<div v-if="step == 3 && position_type == 'exist_position' && !migration_failed" class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{% trans "Switch the employee to the available position" %}</h4>
		      		</div>
		      		<div class="modal-body">
		        		<div class="change-pos-emp">
		        			<div class="icon-success">
		        				<img src="{{ STATIC_URL }}img/loading.gif">
		        			</div>
							<div class="processing">
								<p class="bold" class="text-success">{% trans "System is processing" %}...</p>
							</div>
		        			<div class="infor-text-success">
		        				<p>{% trans "Employee " %}<span class="bold">${ current_node.name }$</span>{% trans " moving to a new location managed by " %}<span class="bold">${ new_manager }$</span> </p>
		        				<p>{% trans "Employee " %}<span class="bold">${ selected_employee_obj.display_name }$</span>{% trans " will be save to the archive list" %}</p>
		        			</div>         			
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
		      		</div>
		    	</div>
		    	<div v-if="step == 3 && migration_failed" class="modal-content">	
		      		<div class="modal-body">
		        		<div class="change-pos-emp">
		        			<div class="icon-fail">
		        				<i class="fa fa-exclamation-circle fa-3" aria-hidden="true"></i>
		        			</div>
		        			<p class="bold" class="text-fail">{% trans "Execution failed" %}</p>
		        			<div class="infor-text-fail">
		        				<p>{% trans "There was a problem causing the transfer operation to fail" %}</p>
		        				<p>{% trans "You can do it again or contact us for assistance if needed" %}</p>
		        				<button class="btn btn-primary" @click="turn_back">{% trans "Do it again " %}<i class="fa fa-repeat" aria-hidden="true"></i></button>
		        			</div>         			
		        		</div>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		
        <div class="modal fade" id="change-manager" tabindex="-1" role="dialog" aria-labelledby="myModalLabelManager"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans "Change manager" %}
                        </h4>
                    </div>

                    <div class="modal-body">

                        <p class="alert alert-danger">{% trans "Please notice that this action will affect the history data for this user" %}</p>

                        <p>
                            <select v-model="change_mode" class="form-control">

                                <option value="">{% trans "Please choose your option" %}</option>
                                <!-- inline object literal -->
                                <option value="rotating">

                                    {% trans "Rotate to existing management level position " %}
                                </option>
                                <option value="moving">
                                    {% trans "Moving to brand new position " %}
                                </option>
                            </select>

                        </p>

                        <div v-if="change_mode == 'rotating'">

                            {% trans "To move this employee (A) to existed position (B), you will need to archive current employee (A) and then manually change the email & profile of existing employee (B) into (A). " %}


                            <p><br/>
                                <button @click="archive_user" class="btn btn-danger">{% trans "Archive" %} ${
                                    current_node.email }$
                                </button>
                            </p>

                        </div>
                        <div v-if="change_mode == 'moving'">

                            <div class="panel panel-info">
                                <div class="panel-heading">{% trans "Step 1" %}: {% trans "Choose new manager for" %} ${
                                    current_node.name }$ (<b>${ current_node.email }$</b>)
                                </div>
                                <div class="panel-body">
                                    <div class="input-group">

                                        <input v-on:change="change_manager_email" v-model="new_manager_email"
                                               class="form-control"
                                               placeholder="{% trans 'New manager email' %}"/>

                                        <div class="input-group-addon">

                                            {% trans "Search" %}
                                        </div>

                                    </div>
                                    <p></p>

                                    <p v-if="new_manager_email != '' && new_manager_email_correct === false"
                                       class="alert alert-warning">{% trans 'Incorrect manager email' %}</p>
                                    <p v-if="new_manager_email != '' && new_manager_email_correct === true"
                                       class="alert alert-success">{% trans 'Correct manager email' %}</p>

                                </div>
                            </div>

                            <div class=" panel panel-info" v-if="new_manager_email_correct === true">
                                <div class="panel-heading">{% trans "Step 2" %}: {% trans "You have 2 options" %}</div>
                                <div class="panel-body">
                                    <div v-if="message != ''">
                                        <p class="alert alert-warning">
                                            ${ message }$
                                        </p>
                                    </div>

                                    <div v-if="!loading">
                                        <div class="col-sm-6">


                                            {% trans "Only moving the user, all the kpis and subordinates remain the same. No data & KPIs loss" %}
                                            <p><a v-on:click="clone_user" class="btn btn-success "
                                                  id="btn-delete-user-with-kpis">
                                                {% trans "Only move user" %}
                                            </a></p>

                                        </div>
                                        <div class="col-sm-6">


                                            {% trans "Move current user, all kpis and all subordinates of this user into new postion. This can not be undone." %}
                                            <p><a v-on:click="migrate_user" class="btn btn-danger "
                                                  id="btn-delete-only-user">
                                                {% trans "Move everything" %}
                                            </a></p>
                                        </div>
                                    </div>


                                    <div></div>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Inactive" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{% trans "Inactive employee" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">{% trans "Reasons for being inactive employees" %}:</label>
                            <textarea class="form-control" style="font-size:20px;" id="message-text" maxlength="200"
                                      v-model="reason"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-inact" class="btn btn-success" data-dismiss="modal" disabled="disabled">
                            {% trans "Confirm" %}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>
    <script type="text/html" id="employee-info">
        <div class="clearfix employee-info">
            <div style="float: left;">
                <img class="img-circle team-member-avatar" alt="<%= node.data.name %>" src="<%= node.data.avatar %>">
            </div>
            <div style="float:left;max-width:300px">
                <div><strong><%= node.data.name %></strong></div>
                {#                    <% if (node.data.job_title_name != '' && node.data.job_title_name != null) { %>#}
                {#                    <div>{% trans 'Role type:' %} <%= node.data.job_title_name %></div>#}
                {#                    <% } %>#}
                <% if (node.data.position != '' && node.data.position != null) { %>
                <div>{% trans 'Position:' %} <%= node.data.position %></div>
                <% } %>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="select2-template">
  		<input > 
	</script>
    <script>
    	var employee_options = [];
    	Vue.component('select2', {
    	  props: ['options', 'value'],
    	  template: '#select2-template',
    	  mounted: function () {
    	    var vm = this
    	    $(this.$el)
    	      // init select2
    	      .select2({
    	    	  placeholder: gettext("Search by name or email"),
    	    	  width: '100%',
    	    	  ajax: {
    	    		  url: '{% url "search-employees" %}',
    	    		  delay: 250,
    	    		  dataType: 'json',
    	    		  data: function (params) {
    	    		      var query = {
    	    		        q: params
    	    		      }
    	    		      // Query parameters will be ?search=[term]&type=public
    	    		      return query;
    	    		 },
    	    		 results: function (data) {
    	    			 employee_options = data;
    	    			 var results = $.map(data, function (obj) {
   	    				  	obj.text = obj.display_name + " | " + obj.user__email; // replace name with the property used for the text
   	    				  	return obj;
   	    				});
    	    		    return {
    	    		        results: data
    	    		    };
    	    		 }
    	    	  }
    	      })
    	      .val(this.value)
    	      .trigger('change').on('change', function () {
    	        	vm.$emit('input', this.value)
    	      })
    	  },
    	  watch: {
    	    value: function (value) {
    	      // update value
    	      $(this.$el).val(value)
    	    },
    	    options: function (options) {
    	      // update options
    	      $(this.$el).empty().select2({ data: options })
    	    }
    	  },
    	  destroyed: function () {
    	    $(this.$el).off().select2('destroy')
    	  }
    	})
        var peopleApp = new Vue({
            el: '#peopleApp',
            data: {
                current_node: {},
                new_manager_email: "",
                new_manager_email_correct: null,
                loading: false,
                message: "",
                change_mode: '',
                existing_employee_email: '',
                reason: '',
                unitcode: '',
                email_confirm:null,
                status_confirm:null,
                position_type: null,
                step: 1,
                employee_options: [],
                selected_employee: null,
                move_everything: 'false',
                new_manager: null,
                migration_failed: false,
                list_user_backup: [],
                view_user_backup: [],
                permission: true,
                total_pages: 1,
                page: 1,
                from_page: 0,
                mode: 'add',
                search_staff: '',
                currentPage: 1,
                pageSize: 10,
                list_user_searched: [],
                emp_status: '1',
                search_unmanaged_staff: '',
                tab_mode: 'tab1'
            },
            created: function () {
                this.get_list_backup_user();
            },
            delimiters: ['${', '}$'],
            computed: {
            	selected_employee_obj: function () {
            		var selected_employee = this.selected_employee;
            		var selected = null;
            		if (selected_employee) {
            			employee_options.forEach(function (obj) {
            				if (obj.id == selected_employee) {
            					selected = obj;		
            				}
            			});
            		} else {
            			selected = null;
            		}
            		return selected;
            	}
            },
            watch: {
            	selected_employee: function (val) {
                  this.selected_employee = val;
                },
                list_user_backup: function (users) {
                	var _this = this;
                	if (this.search_staff) {
                		var filtered_data = users.filter(function (row) {
                          	return Object.keys(row).some(function (key) {
                            	return String(row[key]).toLowerCase().indexOf(_this.search_staff) > -1;
                          	})
                        })
                        this.view_user_backup = filtered_data;
                	} else {
                		this.view_user_backup = users;
                	}
                },
                search_staff: function (filterKey) {
                	this.search_user_limit();
                },
                search_unmanaged_staff: function (filterKey) {
                	var filtered_data = this.list_user_backup.filter(function (row) {
                      	return Object.keys(row).some(function (key) {
                        	return String(row[key]).toLowerCase().indexOf(filterKey.toLowerCase()) > -1;
                      	})
                    })
                    this.view_user_backup = filtered_data;
                }
            },
            methods: {
                subscribe_email_kpi: function () {
                    var current_user = this.current_node;
                    var subscribe_email_kpi = null;
                    if ($('#subscribe_email_kpi').is(":checked"))
                        subscribe_email_kpi = 'true';
                    else subscribe_email_kpi = 'false';

                    cloudjetRequest.ajax({
                        url: "{% url 'ProfileKPI' %}",
                        type: 'post',
                        data: JSON.stringify({
                            user_id: current_user.user_id,
                            subscribe_email_kpi: subscribe_email_kpi
                        }),
                        success: function (response) {
                        },
                        error: function () {
                            alert("Something wrong. Please try again.");
                        }
                    });

                },
                check_user_request: function(){
                  var current_user = this.current_node;
                  return (current_user.user_id == {{ user_request.id }} || '{{ target_user_id_rule_by_actor }}' == current_user.user_id) ? true : false;
                },
                set_mode: function(mode) {
                	this.mode = mode;
                },
                inactive_user: function () {
                    var current_user = this.current_node;
                    cloudjetRequest.ajax({
                        type: "POST",
                        data: {
                            'reason': $("#message-text").val(),
                            'user_id': current_user.user_id
                        },
                        url: "{% url 'inactive_user' %}",
                        beforeSend: function () {
                            $("#id_saved").hide();
                            $("#id_saving").show();
                        },
                        success: function (data) {
                            $("#id_saving").hide();
                            $("#id_saved").show();
                            current_user.active = data.active;
                            console.log(" current"+current_user.id);
                            var profile_id=data.profile_id

                            node = st.graph.getNode('u' + profile_id);


                            $('#' + node.id + ' > img').attr('src', data.STATIC_URL + 'img/people/inactive-person.png')
                            if (data.active == false) {
                                $('#' + node.id + ' > span').css('text-decoration', 'line-through')
                            }
                            else {
                                $('#' + node.id + ' > spawn').css('text-decoration', 'normal')
                            }
                            $('#message-text').val('');
                            $("#id-inactive").prop("checked", true);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#id_saving").hide();
                            $("#id_saved").hide();
                            var value = $("input[name='actgroup']:checked").val();
                            if (value == 'active') {
                                $("#id-inactive").prop("checked", true);
                            } else {
                                $("#id-active").prop("checked", true)
                            }
                        }
                    })
                },

                change_manager: function () {

                    //this.$set();

                    this.new_manager_email = "";
                    this.new_manager_email_correct = null;

                    $('#change-manager').modal();

                },
                
                show_modal_move_position: function () {
                    this.selected_employee = null;
                    this.step = 1;
                    this.migration_failed = false;
                    this.new_manager = null;
                    this.keep_kpi_history = true;
                    $('#position_options_modal').modal();
                },
                show_modal_edit_infor: function(){
                    $('#add-employee-modal').modal();
                },
                show_modal_add_employee: function(){
                    $('#add-employee-modal').modal();
                },
                selected_option_position: function (position_type) {
                	this.step = 2;
                	this.selected_employee_obj = null;
                	this.position_type = position_type;
                	setTimeout(function () {
                		$("#help-1").tooltip({
			            	html: true,
			            	title: "<img src='{% static 'img/group-13.png' %}'><br><p class='tooltip-text'>Để lại vị trí trống sau khi nhân viên này chuyển đi</p>",
			            	placement: 'bottom'
			            })
			            
			            $("#help-2").tooltip({
			            	html: true,
			            	title: "<img src='{% static 'img/group-14.png' %}'><br><p class='tooltip-text'>Xóa luôn vị trí hiện tại sau khi nhân viên này chuyển đi</p>",
			            	placement: 'bottom'
			            })
                	}, 500);
                },
                
                getEmployeeOptions: function (search, loading) {
                	this.$http.get('{% url "search-employees" %}', {
               	       q: search
               	    }).then(resp => {
               	       this.employee_options = resp.data;
               	       loading(false)
               	    })
                },
                
                move_to_new_position: function () {
                    if (confirm('{% trans "Are you sure"%}')) {

                        that = this;
                        that.loading = true;
                        that.message = '{% trans "Loading" %}';

                        data = {
                            'user_id': this.current_node.user_id,
                            'new_manager_email': this.selected_employee_obj.user__email,
                            'move_everything': this.move_everything == 'true' ? true: false 
                        };
                        $("#btn-submit-change-position").button("loading");
                        postJSON("{% url 'manager_change' %}", data)
                            .done(function (data) {
                            	$("#btn-submit-change-position").button("reset");
                              	that.step = 3;
                              	setTimeout(function () {
                            		location.reload();
                            	}, 3000);
                              	that.get_list_backup_user();
                            }).fail(function (response, status) {
                            	$("#btn-submit-change-position").button("reset");
                            	that.step = 3;
                            	that.migration_failed = true;
                            }).always(function () {
                                //do something useful in either case
                                //like remove the spinner
                                //  that.loading = false;
                            });
                    }
                },
                
                move_to_exist_position: function () {
                	var that = this;
                	var data = {
                		user_id: this.current_node.user_id,
                		keep_kpi_history: this.keep_kpi_history,
                		to_user: this.selected_employee_obj.user_id
                	}
                	console.log(data)
                	if (confirm('{% trans "Are you sure" %}')) {
                		$("#btn-submit-change-position").button("loading");
                		cloudjetRequest.ajax({
                            type: "POST",
                            url: "{% url 'move-to-exist-position' %}",
                            data: JSON.stringify(data),
                            success: function (data) {
                            	$("#btn-submit-change-position").button("reset");
                            	that.step = 3;
                            	that.new_manager=  data.new_manager;
                            	that.check_cache();
                            },
                            error: function (data) {
                                $("#btn-submit-change-position").button("reset");
                            	that.step = 3;
                            	that.migration_failed = true;
                            },
                            contentType: "application/json",
                        });

                	}
                },

				check_cache: function () {
					var that = this;
					that.moving_interval = setInterval(function () {
						cloudjetRequest.ajax({
                            type: "GET",
                            url: "{% url 'api_v2.check_cache' %}",
							data: {
                              'key': 'start_thread' +  that.current_node.user_id,
							},
                            success: function (data) {
                            	$("#btn-submit-change-position").button("reset");
                            	if (data.key == 'moved'){
                            	    that.step = 3;
									that.get_list_backup_user();
									clearInterval(that.moving_interval);
									$('#position_options_modal').modal('hide');
									swal({
										type: 'success',
										title: gettext("Successfully relocate"),
										showConfirmButton: true,
									});
									setTimeout(function () {
                            			location.reload();
                            		}, 3000);
								}
                            },
                            error: function (data) {
                            	$("#btn-submit-change-position").button("reset");
                            	that.step = 3;
                            	that.migration_failed = true;
                            },
                        });
                    }, 2000)

                },

                get_list_backup_user: function () {
                    var that = this;
                    cloudjetRequest.ajax({
                            type: "GET",
                            url: "{% url 'move-to-exist-position' %}",
                            // data: JSON.stringify(data),
                            success: function (data) {
                                that.list_user_backup = data;
                                // jQuery("#unmanaged-employee-list").updateAll({resort:true})
                                // var config = $( '#unmanaged-employee-list' )[ 0 ].config,
                                //   // applies or reapplies a sort to the table; use false to not update the sort
                                //   resort = true, // or [ [0,0], [1,0] ] etc
                                //   callback = function( table ) {
                                //     // do something
                                //   };
                                // $.tablesorter.updateAll( config, resort, callback );
                                // $('#unmanaged-employee-list').html(this.list_user_backup).trigger('updateAll');
                                $("#msg-loading").hide();
                                that.total_pages = parseInt(data.length / 9);
                                if(that.total_pages * 9 < data.length){
                                    that.total_pages += 1;
                                }
                                $('.sync-pagination').show();
                                $('.sync-pagination').twbsPagination({
                                    totalPages: that.total_pages,
                                    onPageClick: function (evt, page) {
                                        that.page = page;
                                        if(page>1){
                                            that.from_page = (page-1) * 9;
                                        }
                                        $("#unmanaged-employee-list").trigger("update");
                                        $(".sync-pagination .prev a").text("{% trans 'Previous' %}");
                                        $(".sync-pagination .first a").text("{% trans 'First' %}");
                                        $(".sync-pagination .next a").text("{% trans 'Next' %}");
                                        $(".sync-pagination .last a").text("{% trans 'Last' %}");
                                }});
                                $(".sync-pagination .prev a").text("{% trans 'Previous' %}");
                                $(".sync-pagination .first a").text("{% trans 'First' %}");
                                $(".sync-pagination .next a").text("{% trans 'Next' %}");
                                $(".sync-pagination .last a").text("{% trans 'Last' %}");
                            },
                            error: function (data) {

                            },
                            contentType: "application/json",
                        });
                },
                load_user_backup: function(id) {
                    var that = this;
                    var str = (!that.check_per())?'&req=true':'';
                    cloudjetRequest.ajax({
                            type: "GET",
                            url: "{% url 'move-to-exist-position' %}"+"?user_id="+ id + str,
                            success: function (res) {
                                init_node(res);
                                that.check_per();
                                $('html,body').animate({
                                scrollTop: $(".people_box").offset().top},
                                'slow');
                            },
                            error: function (res) {
                                // alert('haha');
                            },
                            contentType: "application/json",
                        });
                },
                check_per: function(){
                    var that = this;
                    if('{{user_request.profile.is_admin }}' == 'True'  || '{{user_request.profile.is_superuser }}' == 'True' || '{{user_request.profile.is_ceo }}' == 'True'){
                        that.permission = true;
                        $("#add-sub-person").hide();
                    }
                    else {
                        that.permission = false;
                    }
                    // this.hide_btn(self.permission);
                },
                // hide_btn: function(permission){
                //     $("#add-sub-person").show()
                //     $("#btn-edit-employee").show();
                //     $("#tr-hide").show();
                //     if(permission==false){
                //         $("#add-sub-person").hide()
                //         $("#btn-edit-employee").hide();
                //         $("#tr-hide").hide();
                //     }
                // },
                turn_back: function () {
                	this.step = 2;
                	this.migration_failed = false;
                },
                
                archive_user: function () {
                    var current_user = this.current_node;
                    var new_email = "[bk" + current_user.user_id + "]" + current_user.email;
                    var new_name = "[bk" + current_user.user_id + "]" + current_user.name;

                    cloudjetRequest.ajax({
                        type: "POST",

                        url: '/api/profile/',
                        data: JSON.stringify({'user_id': current_user.user_id, 'display_name': new_name}),

                        success: function (data) {

                            cloudjetRequest.ajax({
                                type: "POST",
                                url: '/api/profile/',
                                data: JSON.stringify({'user_id': current_user.user_id, 'email': new_email}),
                                success: function (data) {
                                    location.reload();

                                },
                                error: function (data) {

                                    alert("Error: " + data);
                                },

                                contentType: "application/json",

                            });
                        },
                        error: function (data) {

                            alert("Error: " + data);
                        },
                        contentType: "application/json",

                    });

                },

                change_manager_email: function () {
                    that = this;

                    data = {
                        'user_id': this.current_node.user_id,
                        'new_manager_email': this.new_manager_email,

                    };


                    postJSON("{% url 'manager_validate' %}", data)
                        .done(function (data) {

                            that.new_manager_email_correct = true;
                        })
                        .fail(function (response, status) {

                            that.new_manager_email_correct = false;

                        })
                        .always(function () {

                        });
                },

                migrate_user: function () {
                    if (confirm('{% trans "Are you sure"%}')) {

                        that = this;
                        that.loading = true;
                        that.message = '{% trans "Loading" %}';

                        data = {
                            'user_id': this.current_node.user_id,
                            'new_manager_email': this.new_manager_email,
                            'move_everything': true
                        };

                        postJSON("{% url 'manager_change' %}", data)
                            .done(function (data) {
                                that.message = '{% trans "Successful. Please reload to see your changes" %}';
                                that.loading = true;
                            })
                            .fail(function (response, status) {
                                that.message = '{% trans "Not successful. Please check your data" %}';
                                that.loading = false;

                            })
                            .always(function () {
                                //do something useful in either case
                                //like remove the spinner
                                //  that.loading = false;
                            });
                    }
                },

                clone_user: function () {
                    if (confirm('{% trans "Are you sure"%}')) {

                        that = this;
                        that.loading = true;
                        that.message = '{% trans "Loading" %}';

                        data = {
                            'user_id': this.current_node.user_id,
                            'new_manager_email': this.new_manager_email,
                            'move_everything': false
                        };

                        postJSON("{% url 'manager_change' %}", data)
                            .done(function (data) {
                                that.message = '{% trans "Successful. Please reload to see your changes" %}';
                                that.loading = true;
                            })
                            .fail(function (response, status) {
                                that.message = '{% trans "Not successful. Please check your data" %}';
                                that.loading = false;

                            })
                            .always(function () {
                                //do something useful in either case
                                //like remove the spinner
                                // that.loading = false;
                            });
                    }
                },
                toggle_admin: function (is_checked) {
                	var _this = this;
                	if (confirm(gettext("Are you sure?"))) {
                    	cloudjetRequest.ajax({
                            type: 'POST',
                            data: {
                                user_id: _this.current_node.user_id,
                                username: _this.current_node.username,
                                is_checked: is_checked
                            },
                            url: "/performance/people/",
                            beforeSend: function () {
                            },
                            success: function (data) {
                                _this.current_node.is_admin = is_checked == 'true' ? true : false;
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("{% trans 'Error' %}");
                            }
                        });
                    }
                },

                delete_forever: function (p) {
                	var _this = this;
                	if (confirm(gettext("Are you sure?"))) {
                		cloudjetRequest.ajax({
                            type: 'POST',
                            data: JSON.stringify({
                                user_id: p.user,
                                delete_kpis: true
                            }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: "{% url 'delete_people' %}",
                            success: function (data) {
                            	var index = _this.list_user_backup.indexOf(p);
                            	if (index != -1) {
                            		_this.list_user_backup.splice(index, 1);
                            	}
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("{% trans 'Error' %}");
                            }
                        });
                	}
                },

                search_user_limit: function() {
                	var self = this;
                    clearTimeout(self.timeout);
                    self.timeout = setTimeout(function () {
	                    if(self.search_staff.length > 1) {
	                         $(".arrow-up").hide();
	                         $("#list_user_suggest").hide();
	                         $("#result_searched").show();
	                         $("#ico-clear").show();
	                         $("#ico-search").hide();
	                         $("#popup-progress").hide();
	                         cloudjetRequest.ajax({
	                             method: "GET",
	                             dataType: 'json',
	                             url: "{% url "api_v2.searchable_peoplelist" %}" + '?all_sublevel=1&limit=10&search_term='+self.search_staff,
	                             success: function (data) {
	                                 self.list_user_searched = data.suggestions;
	                                 if(self.list_user_searched.length < 1) {
	                                     $(".no-data").show();
	                                     $("#result_searched").hide();
	                                 }
	                                 else{
	                                     $(".no-data").hide();
	                                     $("#result_searched").show();
	                                 }
	                                 $(".arrow-up").show();
	                             }
	                         })
	                     } else {
	                         $("#list_user_suggest").show();
	                         self.list_user_searched = [];
	                         $(".no-data").hide();
	                         $(".arrow-up").hide();
	                         $("#ico-clear").hide();
	                         $("#ico-search").show()
	                     }
	                 }, 300);
              	},

              	click_searched_person: function (user) {
              		search_person(user.user_id);
              	}
            },
        });

    </script>
    <script type="text/javascript">
	    $(document).ready(function() {
	    	$("#btn-inact").on('click', function () {
	    		peopleApp.inactive_user();
	    	})

	    	$( ".mango_search_input" ).focusout(function() {
	            setTimeout(function () {
	                $("#list_user_suggest").hide();
	                $(".no-data").hide();
	                $(".arrow-up").hide();
	                $("#result_searched").hide();
	            }, 200);
	            setTimeout(function () {
	                    $("#popup-progress").show();
	            }, 1000)
	        });

	    	$( ".mango_search_input" ).focus(function() {
	            if(peopleApp.search_staff.length == 0) {
	                $("#list_user_suggest").show();
	                $(".arrow-up").show();
	            }else if(peopleApp.list_user_searched.length == 0){
	                $(".no-data").show();
	                $(".arrow-up").show();
	            } else {
	                $("#result_searched").show();
	            }
	         });
	    })
        var ORG_ID = '{{ organization.id }}';
        var json_data = {{ json_data|safe  }};
        $('#infovis').css('width', $(window).width() - 320 + "px");
        $('#unmanaged-employee').css('width', $(window).width() - 320 + "px");
        $(document).ready(function () {
        	$( window ).resize(function() {
        		$('#infovis').css('width', $(window).width() - 320 + "px");
                $('#unmanaged-employee').css('width', $(window).width() - 320 + "px");
       		});
            init();
            $('#loading-ava').hide();
            $("#id-managers").select2();

            $("#submit_ava").hide();
            $("#message-ava").hide();
            $('#btnupload').click(function () {
            	$("#uploadimage")[0].reset();
                $('#file').click();
            });

			$('#file').change(function () {
				$('#submit_ava').show();
            })

            $('#uploadimage').on('submit', function (e) {
                e.preventDefault();
                var formData=new FormData(this);
                formData.append("user_id", peopleApp.current_node.user_id);
                $.ajax({
                    url: '/performance/people/',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $('#loading-ava').show();
                        setTimeout(function () {
                            $('#loading-ava').hide();
                            $('#message-ava').show();
                            setTimeout(function () {
                                $('#message-ava').hide();
                            }, 2000);
                        },4000);
                        $('#id-avatar').attr('src', e.target.result);
                        $('#submit_ava').hide();
                    }
                })
            });

            $(function() {
                $("#file").change(function() {
                    $("#message").empty(); // To remove the previous error message
                    var file = this.files[0];
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                });
            });

            function imageIsLoaded(e) {
                $('#id-avatar').attr('src', e.target.result);
            };

            $('#id-role-date-picker').datepicker({
                format: 'dd-mm-yyyy',
                language: 'vi',
                autoclose: true
            });
            $('#id-start-date-picker').datepicker({
                format: 'dd-mm-yyyy',
                language: 'vi',
                autoclose: true
            });

            $('#id-edit-cancel').click(function () {
                $('#id-edit-person').hide();
                $('#id-person-info').fadeIn();
                $("#id-edit-save").show();
                $('#add-save-new-person').hide();
                $('#add-save-new-person').enable(false);
                $("#id-employee-phone-edit").css('border','1px solid #ccc');
                $("#err-msg").hide();
            });

            $('#choose-role').popover({
                html: true,
                title: "Cloudjet Roles",
                content: $("xmp").text()
            });

            $('#choose-role').click(function () {
                $('#popup-role-list #tab-innner-content').slimScroll({
                    height: '540px'
                });

                var id_role_type = $('#id-role-type').val();
                if (!isNaN(id_role_type) && id_role_type != "") {
                    $("#job-title-" + id_role_type).addClass('active');
                }

                $("#cancel-selected-role").click(function () {
                    $('#choose-role').popover('hide');
                });

                $('.list-jobs li').click(function () {
                    $('.list-jobs li').removeClass('active');
                    $(this).addClass('active');
                    var id = $(this).attr('id');
                    var job_id = id.replace('job-title-', '');
                    var job_name = $('#' + id + ' .job-card .job-title-name').attr('title');
                    $('#save-selected-role').click(function () {
                        var short_name = job_name.substring(0, 20);
                        if (job_name.length > short_name.length) {
                            $('#id-role-name').html(short_name + '...');
                        } else {
                            $('#id-role-name').html(job_name);
                        }

                        $('#id-role-name').attr('title', job_name);
                        $('#id-role-type').val(job_id);
                        $('#choose-role').popover('hide');
                    });
                })
            });

            $(".tree-options .options").change(function () {
                option = $(this).val();
                if (option == "1") {
                    st.config.constrained = true;
                    st.onClick(st.root);
                } else if (option == '2') {
                    st.config.constrained = false;
                    st.onClick(st.root);
                }
            });

            $("#id_login_as").click(function () {
                cloudjetRequest.ajax({
                    url: "{% url 'login-ceo' %}",
                    type: 'post',
                    data: {},
                    success: function (response) {
                        if (response == "ok") {
                            location.href = "{% url 'home_view' %}";
                        } else {
                            alert("Login failed.")
                        }
                    },
                    error: function () {
                        alert("Something wrong. Please try again.");
                    }
                });
                {% comment %}$.post("{% url 'login-ceo' %}", {}, function (response) {
                    if (response == "ok") {
                        location.href = "{% url 'home_view' %}";
                    } else {
                        alert("Login failed.")
                    }
                }).fail(function () {
                    alert("Something wrong. Please try again.");
                });{% endcomment %}
            });

            $('.mango_search_input').keypress(function (e) {
                if (e.which == 13) {
                    search_person(this.value);
                }
            });


            $(".reports").click(function () {
                $('#id_form_report').submit();
            });

            $('#id-inactive').change(function () {
                if ($(this).is(':checked') && $(this).val() == 'inactive') {
                    $('#Inactive').modal('show');
                }
                if ($('#Inactive').is(':hidden')) {
                    $('#id-active').prop('checked', true);
                }
            });

            $('#message-text').keyup(function () {
                if ($.trim($(this).val()) == '') {
                    $('#btn-inact').prop('disabled', true);
                } else {
                    $('#btn-inact').prop('disabled', false);
                }
            });


        });



        function export_data() {
            var user_id = $("#id_user_export").val();
            if (user_id != '' && !isNaN(user_id)) {
                $('#id_report').submit();
            } else {
                alert("{% trans "Please choose employee!" %}")
            }
        }
        function check_email(){
            var email=$('#id-email-employee').text();
            if (peopleApp.email_confirm.length==email.length && peopleApp.email_confirm==email){
                $('#alert_confirm').css('display','none');
                //peopleApp.email_confirm=true;
                $('#btn-delete-user-with-kpis').css('display','block');
                $('#btn-delete-only-user').css('display','block');
                peopleApp.status_confirm=true;
            }
            else{
                peopleApp.status_confirm=false;
                $('#alert_confirm').css('display','block');
                $('#email_confirm').focus();
            }
        }
        function check_number(e){
            var _number = String.fromCharCode(e.keyCode);
            if ('0123456789'.indexOf(_number) !== -1) {
                 $("#id-employee-phone-edit").css('border','1px solid #ccc');
                return _number;
            }
            e.preventDefault();
            return false;
        }
        function clear_search(mode) {
        	peopleApp.search_staff = '';
        	peopleApp.search_unmanaged_staff = '';
        	peopleApp.tab_mode = mode;
        }
    </script>
    <script>
    $( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $('.bstooltip').tooltip();
        $("#unmanaged-employee-list").tablesorter();
    });
    </script>
{% endblock %}

