{% extends "bsc_base.html" %}
{% load i18n user_tags static %}

{% block title %}{% trans 'Position chart' %}{{ block.super }}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/v5.css">
<link rel="stylesheet" href="{{ STATIC_URL }}select/select2.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bs-multiselect/bs-multiselect.css"/>

<script type="text/javascript"
            src="{{ STATIC_URL }}bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js?v={{ settings.VERSION }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bs-multiselect/bs-multiselect.js"></script>

{% endblock %}

{% block content %}
<!--pagination su dung link vuejs tren-->
<script type="text/javascript" src="{{ STATIC_URL }}orgchart/getorgchart.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js/jit-yc.js"></script>
<link href="{{ STATIC_URL }}fonts/open_sans/open_sans.css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js/tree-init2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}select/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}semantic/semantic.min.css">

<script src="{{ STATIC_URL }}fusionchart/fusioncharts.js"></script>
<script src="{{ STATIC_URL }}fusionchart/fusioncharts.charts.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/position-chart.css">


{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'vi' %}
<script type="text/javascript" src="{{ STATIC_URL }}select/select2_locale_vi.js"></script>
{% endif %}
<div class="container-fluid" id="position-chart">
    <div class="row chart-container">
        <!--Left Content-->
        <div id="position-chart-left" class="flex-left">
            <div id="left-content" v-loading="loading">
                <div style="text-align:center;margin-top:30px;font-weight:bold;">
                    <span v-cloak class="type-name" v-bind:class="[ true ? 'pos-name-' + node_data.position_type: '' ]">${ node_data.name }$</span>
                    <div v-cloak class="type-position" v-bind:class="[ true ? ' position-level-' + node_data.position_type: '' ]">${ get_level_text(node_data.position_type) }$</div>
                </div>
                <div class="list-left-content">
                    <div class="row-icon">
                        <div class="icon-circle" style="margin-left:0px;">
                            <a data-toggle="modal" target="_blank" :href="'/performance/position/'+ node_data.id + '/kpis'"><i class="material-icons format-icon" data-original-title="{% trans "View position's KPI" %}">list</i></a>
                        </div>
                        <div class="icon-circle">
                            <a data-toggle="modal" @click="set_init_edit_modal()" data-target="#edit-position-modal"><i class="material-icons format-icon" style=""  data-original-title="{% trans 'Edit position' %}" >mode_edit</i></a>
                        </div>
                        <div class="icon-circle">
                            <a @click="clear_selection()" data-toggle="modal" data-target="#modal-change-position-manager"><i class="material-icons format-icon" data-original-title="{% trans 'Move position ' %}">compare_arrows</i></a>
                        </div>
                        <div class="icon-circle">
                            <a data-toggle="modal" @click="reset_form()" data-target="#add-position-modal"><i class="material-icons format-icon" data-original-title="Thêm vị trí chức danh cấp dưới" style="">add</i></a>
                        </div>
                        <div class="icon-circle  delete-icon">
                            <a @click="remove_position()"><i class="material-icons format-icon" data-original-title="{% trans 'Delete position' %}">delete</i></a>
                        </div>
                    </div>
                </div>
                <div id="info-position-user">
                    <span class="title-small">{% trans "Line manager's position" %}</span><a @click="clear_selection()" data-toggle="modal" data-target="#modal-change-position-manager"><span class="button-without-background" style="float:right;" >{% trans "Edit" %}</span></a>
                    <div style="float:left;">
                        <i class="material-icons icon-menu-left" >account_box</i>
                        <span class="title-menu-left">${ parent_position_name }$</span>
                        <hr class="hr-light"/>
                    </div>

                    <p class="title-small">{% trans "Functions and categories" %}</p>
                    <div style="float:left;">
                        <i class="material-icons icon-menu-left" >show_chart</i>
                        <span class="title-menu-left">{% trans "KPI Performance" %}</span>
                        <span class="button-without-background" data-toggle="modal" data-target="#kpi-performance-modal">{% trans "View" %}</span>
                        <hr class="hr-light"/>
                    </div>
                    <div style="float:left;" v-if="node_data && node_data.position_type != '3'">
                        <i class="material-icons icon-menu-left" >assignment</i>
                        <span class="title-menu-left">{% trans "Strategy map" %}</span>
                        <span class="button-without-background">{% trans "View" %}</span>
                        <hr class="hr-light"/>
                    </div>
                    <div style="float:left;" v-if="node_data && node_data.position_type != '3'">
                        <i class="material-icons icon-menu-left" >assignment</i>
                        <span class="title-menu-left">{% trans "Contribution matrix" %}</span>
                        <span class="button-without-background">{% trans "View" %}</span>
                        <hr class="hr-light"/>
                    </div>
                    <div style="float:left;">
                        <i class="material-icons icon-menu-left" >account_box</i>
                        <span class="title-menu-left">{% trans "Subordinates's positions" %}</span>
                        <span class="button-without-background" data-toggle="modal" data-target="#surbodinates-position-modal">{% trans "View" %}</span>
                        <hr class="hr-light"/>
                    </div>
                    <span class="title-small">{% trans "Assigned person" %}</span><span class="button-without-background" style="float:right;" data-toggle="modal" data-target="#todoer-modal">{% trans "Change" %}</span>
                    <div class="list_assigned_people">
                    	<div class="person-row" v-for="emp in employees">
	                    	<div style="display: flex;">
	                    		<div class="p-per-left">
		                    		<img v-bind:src="emp.avatar_url" style="height:30px; width:30px; border-radius:50%;margin-right:5px;">
		                    	</div>
		                        <div class="p-per-right">
		                        	<span class="title-menu-left" style="vertical-align: top;display:block;margin-bottom:-4px;" ><a :href="'/performance/kpi-editor/emp/' + emp.user_id" target="_blank" class="user_hover_tab_a">${ emp.display_name }$</a></span>
		                        	<span class="title-menu-left tile-email" style="">${ emp.user__email }$</span>
		                        	<span class="title-blue-coral" v-if="node_data.position_type != '3' ">{% trans "Achievement sync" %} <i class="material-icons" style="vertical-align: top;font-size:16px;padding-top:2px;">insert_link</i></span>
		                        </div>
	                    	</div>
	                    </div>
                    </div>
                </div>
                </div>
                {% include 'performance/position-chart/modal.html' %}
            </div>
            <!--Strategy map-->
            <div id="strategymap" class="flex-right">
                <div id="tab-content">
                    <div class="ui pointing secondary menu" style="border-bottom:none">
                        <a class="item first active" style="" onclick="showTab(1)">{% trans "Position chart" %}</a>
                        <a class="item second" onclick="showTab(2)">{% trans "Position list" %}</a>
                        <button class="btn btn-btn2" v-if="false" id="btn-filter" style=""><i
                                class="material-icons">tune</i> {% trans "Filters" %}</button>
                        <div class="search-employee" v-if="tab == 1">
                            <div class="search-box">
                                <el-autocomplete popper-class="emp-autocomplete"
                                                 @select="handleSelect"
                                                 :fetch-suggestions="search_position"
                                                 v-model="search_staff"
                                                 placeholder="{% trans "Search position" %}">
                                    <template slot-scope="{ item }">
                                        <div class="list-search-item">
                                            ${ item.name }$
                                        </div>
                                    </template>
                                    <i class="el-icon-search el-input__icon" slot="prefix"></i>
                                </el-autocomplete>
                            </div>
                        </div>
                        <div class="search-employee" v-if="tab == 2">
                            <div class="search-box">
                                <el-input
                                        placeholder="{% trans "Search position" %}"
                                        @keyup.native="handleSearch()"
                                        v-model="search_staff">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                            </div>
                        </div>
                    </div>
                    <div class="ui tab segment first active" style="padding:0px">
                        <div id="right-content">
                            <div class="view-options">
                                <label class="radio-inline"><input type="radio" class="options" name="view_option"
                                                                   value="1" checked>{% trans "Smart" %}</label>
                                <label class="radio-inline"><input type="radio" class="options" name="view_option"
                                                                   value="2">{% trans "Full" %}</label>
                            </div>
                            <div id="org-chart"></div>
                        </div>
                    </div>

                    <div class="ui tab segment second" style="padding:0px;">
                        <div class="col-md-12" id="strategymap-2" v-loading="loading"
                             style="box-shadow:none;padding-left:0px;padding-right:0px;">
                            <div style="height: 30px;background:#f9f9f9;padding:0px 10px 0px 10px;line-height:30px;">
                                <span style="font-size: 14px;color: #ababab;">{% trans "Position's type" %}</span>
                                <select id="select-type-postion-box" multiple="multiple">
                                    <option v-for="(value, key) in list_type" :value="key">{% trans "Type" %} ${ value }$
                                    </option>
                                </select>
                                <label class="checkbox-inline" style="color:#333333;"><input type="checkbox" value=""
                                                                                             @change="handleSearch()"
                                                                                             style="margin-top:8px;"
                                                                                             v-model="has_assigned_person">{% trans "No assigned person" %}
                                </label>
                            </div>
                            <table class="table table-striped table-responsive" style="margin-bottom:10px"
                                   id="user-config">
                                <thead>
                                <tr>
                                    <th class="font-weight-bold text-center th-index">#</th>
                                    <th class="font-weight-bold th-ptitle">{% trans "Position title" %}</th>
                                    <th class="font-weight-bold th-pmanager">{% trans "Manager position" %}</th>
                                    <th style="color:#333333;"
                                        class="font-weight-bold">{% trans "Assigned person" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(u, index) in show_page"
                                    style="height:50px;" class="position-row">
                                    <td class="text-center" @click="get_node(u.id)"> ${ (index + 1) + pageSize*(current_page-1) }$</td>
                                    <td @click="get_node(u.id)">
                                        ${ u.name }$
                                        <p class="table-text-small">{% trans "Type" %} ${
                                            list_type[u.position_type]}$</p>
                                    </td>
                                    <td @click="get_node(u.id)"> ${ u.parent__name }$</td>
                                    <td> <span v-for="assign__name in u.assigns__name">
                                        <a :href="'/performance/kpi-editor/emp/' + assign__name.user_id"
                                           class="user_hover_tab_a"
                                           target="_blank">${assign__name.display_name}$</a>
                                        <br>
                                    </span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center;">
                                <el-pagination
                                        background
                                        @current-change="handleCurrentChange"
                                        layout="prev, pager, next"
                                        :page-size="pageSize"
                                        :current-page.sync="current_page"
                                        :total="total_page">
                                </el-pagination>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <!--Employee list-->
        <div class="container-flux" id="list_employee" >
            <div id="add-position" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Ví trí chức danh đảm nhận</h5>
                  </div>
                  <div class="modal-body">
                    <div style="text-align:center;color:#337ab7;font-weight: 600">
                        <p style="font-size:16px;margin-bottom:0px;">${ profile.display_name }$</p>
                        <p>${ profile.email }$</p>
                    </div>
                      <!--Search-->
                    <div class="form-group">
                        <label class="span1">Vị trí chức danh</label>
                        <select2-position v-model="selected_position"></select2-position>
                    </div>
                      <!--List employees-->
                    <div class="sidebar-nav" v-for="pos in profile.positions">
                        <ul class="nav">
                            <li>
                                <div>
                                    <span>${ pos.name }$</span>
                                    <a href="javascript:void(0)" v-on:click="delete_postion(pos.id)"><i style="padding: 5px" class="fa fa-trash"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div><!--/.well -->
                  </div>
                  <div class="modal-footer" style="margin-top:20px;">
                    <button type="button" class="btn-cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" :disabled="!selected_position" v-on:click="add_postiion()" class="btn-add" data-dismiss="modal">{% trans "Add" %}</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>




<!-- Modal btn-add employees -->

<!-- End modal btn-add employees-->
<!-- Modal btn-add -->

{% get_current_language as LANGUAGE_CODE %}

<!-- End modal btn-add-->
<script type="text/x-template" id="select2-template">
    <input >
</script>
{#<script src="{{ STATIC_URL }}bootstrap3x/js/bootstrap.min.js"></script>#}
<script>


    FusionCharts.ready(function() {
        var revenueChart = new FusionCharts({
            "type":"msline",
            "renderAt":"chart-msline",
            "dataFormat":"json",
            "width":"640",
            "height":"430",
            "dataSource": {
                "chart": {
                    "caption": "",
                    "subCaption": "",
                    "captionFontSize": "14",
                    "subcaptionFontSize": "14",
                    "subcaptionFontBold": "0",
                    "paletteColors": "#0075c2,#1aaf5d",
                    "bgcolor": "#ffffff",
                    "showBorder": "0",
                    "showShadow": "0",
                    "showCanvasBorder": "0",
                    "usePlotGradientColor": "0",
                    "legendBorderAlpha": "0",
                    "legendShadow": "0",
                    "showAxisLines": "0",
                    "showAlternateHGridColor": "0",
                    "divlineThickness": "1",
                    "divLineDashed": "1",
                    "divLineDashLen": "1",
                    "showValues": "0",
                    "numberSuffix": "%",
                    "yAxisMaxValue": "150",
                    "yAxisMinValue": "0",
                    "legendPosition": "right",
                    "showLegend": "0",
                    "toolTipBgColor":"333333"
                },
                "categories": [
                    {
                        "category": PositionApp.list_month
                    }
                ],
                "dataset": [
                    {
                        "seriesname": PositionApp.kpi_performance[0].kpi_name,
                        "data": [
                            {
                                "value": PositionApp.kpi_performance[0].kpi_data[0].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[0].kpi_data[1].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[0].kpi_data[2].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[0].kpi_data[3].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                        ]
                    },
                    {
                        "seriesname": PositionApp.kpi_performance[1].kpi_name,
                        "data": [
                            {
                                "value": PositionApp.kpi_performance[1].kpi_data[0].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[1].kpi_data[1].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[1].kpi_data[2].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                            {
                                "value": PositionApp.kpi_performance[1].kpi_data[3].value,
                                "tooltext": "<div class='title-tooltip-kpi-performance'>" +
                                "<div class='pull-left content-tooltip-kpi-performance'>Thành tích<br>Trọng số<br>Đảm nhận</div>" +
                                "<div class='pull-left content-2-tooltip-kpi-performance'>100%<br>5%<br>Lê Viết Hồng</div></div>"
                            },
                        ]
                    }
                ],
                "trendlines": [
                    {
{#                        "line": [#}
{#                            {#}
{#                                "startvalue": "0",#}
{#                                "color": "#6baa01",#}
{#                                "valueOnRight": "1",#}
{#                                "displayvalue": "Average"#}
{#                            }#}
{#                        ]#}
                    }
                ]
            }
        })
        revenueChart.render();
    })

    function showTab(element){
        if(element==1){
            $('#btn-filter').hide();
            $('#tab-content .menu .first').addClass('active');
            $('#tab-content .menu .second').removeClass('active');
            $('#tab-content .second').removeClass('active');
            $('#tab-content .first').addClass('active');
        }
        if(element==2){
            $('#btn-filter').show();
            $('#tab-content .menu .second').addClass('active');
            $('#tab-content .menu .first').removeClass('active');
            $('#tab-content .second').addClass('active');
            $('#tab-content .first').removeClass('active');
        }
        strategyApp.tab = element;
    }
    function show(TH){
        if (TH=='1'){
            $("#todoer_list .no-data").hide();
            $("#todoer_list #result_searched").show();
        }
        if (TH=='2'){
            $("#todoer_list #result_searched").hide()
            $("#todoer_list #list_todoer_exist").show();
        }
        if(TH=='3'){
            $("#todoer_list #list_todoer_exist").hide();
            $("#todoer_list .one-todoer").show();
            $("#todoer_list .search-box input").prop( "disabled", true );
            $("#todoer_list .search-box input").val('{% trans "This position are limited to one person" %}');

        }
    }
    function add_position(){
        if($("#position_name_add").val().trim().length == 0){
            $("#position_name_add").css('border','1px solid #d9534f');
            $("#error-position-name-add").show();
            {#$("#add-employee .close").click();#}
            $("#add-error").show();
            setTimeout(function(){ $("#add-error").hide(); }, 2000);
        }
        else{
            $("#position_name_add").css('border','');
            $("#error-position-name-add").hide();
            $("#add-success").show();
            setTimeout(function(){ $("#add-success").hide(); }, 2000);
        }
    }
    function edit_position(){
        if($("#position_name").val().trim().length == 0){
            $("#position_name").css('border','1px solid #d9534f');
            $("#error-position-name").show();
        }
        else{
            $("#position_name").css('border','');
            $("#error-position-name").hide();
        }
    }
    function confirm_delete(){
        $("#todoer-modal .close").click();
        $("#remove-employee-position").modal('show');
    }
$(document).ready(function(){
    $('#confirm1-position-modal').on('hidden.bs.modal', function () {
        PositionApp.employee_to_move = '';
        PositionApp.search_position = '';
    })
    $('#add-position-modal').on('shown.bs.modal', function (e) {
        $("#position_name_add").css('border','');
        $("#error-position-name-add").hide();
      $('.tooltip-detail').qtip({
            content: {
                text: '<ul><li><b>{% trans 'Type' %} I</b>: {% trans 'CEO, Director, Subsidiary Director and equivalent positions' %}<br>' +
                '</li><li><b>{% trans 'Type' %} II</b>: {% trans 'Managements level such as Head of department, Manager, Leader and equivalent positions' %}<br>' +
                '</li><li><b>{% trans 'Type' %} III</b>: {% trans 'Another positions' %}</li></ul>'
            },
            style: {
                classes: 'qtip-green'
            }
        });
    })

    $('.format-icon').tooltip();
    $('#edit-position-modal').on('shown.bs.modal', function (e) {
        $("#position_name").css('border','');
        $("#error-position-name").hide();
      $('.tooltip-detail').qtip({
            content: {
                text: '<ul><li><b>{% trans 'Type' %} I</b>: {% trans 'CEO, Director, Subsidiary Director and equivalent positions' %}<br>' +
                '</li><li><b>{% trans 'Type' %} II</b>: {% trans 'Managements level such as Head of department, Manager, Leader and equivalent positions' %}<br>' +
                '</li><li><b>{% trans 'Type' %} III</b>: {% trans 'Another positions' %}</li></ul>'
            },
            style: {
                classes: 'qtip-green'
            }
        });
    })
    $('#todoer-modal').on('shown.bs.modal', function (e) {
      $('.tooltip-delete').qtip({
            content: {
                text: '{% trans 'Delete' %}'
            },
            style: {
                classes: 'qtip-light'
            }
        });
    })
    $('#select-type-postion-box').multiselect({
        buttonClass: 'btn-multiselect',
        nonSelectedText: '{% trans "None" %}',
        allSelectedText: '{% trans "All" %}',
        selectAllText: '{% trans "All" %}',
        includeSelectAllOption: true,
        onChange: function ($option) {
            strategyApp.handleSearch();
        },
        onSelectAll: function () {
            strategyApp.handleSearch(true);
        },
    });
    $('#select-type-postion-box').multiselect('selectAll', false);
    $('#select-type-postion-box').multiselect('updateButtonText');
    $("#btn-back").hide();
    $("#edit-employee").hide();
    $("#btn-edit-emp").click(function () {
        console.log('=====')
        $("#edit-employee").show();
    });
    $("#btn-views").click(function() {
        $("#left-content").hide();
        $("#left-content-2").show();
        $("#left-content-2").css('border','2px solid #008b8b');
        $("#strategymap").hide();
        $("#strategymap-2").css('display', 'block');
        $("#btn-views").hide();
        $("#btn-back").show();
        $("#title-list-employee").show();
        $("#container").css('background','#f9f9f9');
    });
    $("#btn-back").click(function() {
      $("#left-content").show();
      $("#left-content-2").hide();
      $("#strategymap").show();
      $("#strategymap-2").hide();
      $("#btn-views").show();
      $("#btn-back").hide();
      $("#title-list-employee").hide();
      $("#container").css('background','#fff');
    });

    $(".view-options .options").change(function () {
        option = $(this).val();
        if (option == "1") {
            st.config.constrained = true;
            st.onClick(st.root);
        } else if (option == '2') {
            st.config.constrained = false;
            st.onClick(st.root);
        }
    });

    $('#message-text').keyup(function () {
        if ($.trim($(this).val()) == '') {
            $('#btn-inact').prop('disabled', true);
        } else {
            $('#btn-inact').prop('disabled', false);
        }
    });

});

var dataSource = {{ chart | safe }};
$("#btn-back").hide();

    Vue.component('select2-position', {
    props: ['options', 'value'],
    template: '#select2-template',
    mounted: function () {
        var vm = this
        $(this.$el)
          // init select2
          .select2({
              placeholder: "Tìm kiếm theo vị trí",
              width: '100%',
              ajax: {
                  url:  '/api/v2/position/search/',
                  delay: 250,
                  dataType: 'json',
                  data: function (params) {
                      var query = {
                        query: params
                      }
                      // Query parameters will be ?search=[term]&type=public
                      return query;
                 },
                 results: function (data) {
                     position = data;
                     var results = $.map(data, function (obj) {
                            obj.text = obj.name
                            return obj;
                        });
                    return {
                        results: data
                    };
                 }
              }
          })
          .val(this.value)
          .trigger('change').on('change', function () {
                vm.$emit('input', this.value)
          })
    },
    watch: {
        value: function (value) {
            // update value
            $(this.$el).val(value)
        },
        options: function (options) {
          // update options
          $(this.$el).empty().select2({ data: options })
        }
    },
    destroyed: function () {
        $(this.$el).off().select2('destroy')
    }
});

var strategyApp = new Vue({
    el: "#strategymap",
    data: {
        list_position: [],
        show_page: [],
        list_position_temp: [],
        list_type: { '1': ' I',  '2': ' II', '3': ' III'},
        has_assigned_person: false,
        pageSize: 25,
        current_page: 1,
        total_page: 0,
        i: 0,
        search_staff: '',
        loading: true,
        tab: 1
    },
    mounted: function () {
        this.get_employees_position_pagination();
    },
    delimiters: ['${', '}$'],
    methods: {
        get_employees_position_pagination: function (url_next) {
            that = this;
            var url = url_next ? url_next : '/api/v2/position/';

        },
        filter_position: function (exclude=false, data = null) {
            that = this
            var selected = $('#select-type-postion-box').val();
            if (selected && !exclude) {cloudjetRequest.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    that.list_position = that.list_position.concat(data.results);
                    if (data.next) {
                        that.get_employees_position_pagination(data.next);
                    } else {
                        that.list_position_temp = that.list_position;
                        that.total_page = data.count;
                        that.handleSearch();
                        that.loading = false;
                    }
                },
                error: function () {

                }
            })
                that.list_position = (data ? data : that.list_position_temp).filter(function (item) {
                    return (selected.indexOf(item.position_type) != -1) && (that.has_assigned_person ? !item.assigns__name.length : true);
                })
            } else {
                that.list_position = (data ? data : that.list_position_temp).filter(function (item) {
                    return (that.has_assigned_person ? !item.assigns__name.length : true);
                });
            }
            that.total_page = that.list_position.length;
            that.list_position.sort(function (a, b) {
                return a.name.toLowerCase().trim().localeCompare(b.name.toLowerCase().trim());
            });
            that.handleCurrentChange();
        },
        handleCurrentChange: function (val) {
        	if (!val) {
        		this.current_page = 1;
        	}
            var size_start = (this.current_page - 1) * this.pageSize
            this.show_page = this.list_position.slice(size_start, size_start + this.pageSize)
        },
        handleSearch: function (exclude=false) {
            if (that.search_staff) {
                that.list_position = that.list_position_temp.filter(function (item) {
                    return item.name.toLowerCase().indexOf(that.search_staff.toLowerCase().trim()) != -1;
                })
            } else {
                that.list_position = that.list_position_temp;
            }
            that.filter_position(exclude, that.list_position);
        },
        search_position: function (queryString, callback) {
            var that = this;
            var query = that.search_staff || '';
            cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/position/search/?query=" + query,
                success: function (res) {
                    callback(res);
                }
            });
        },
        handleSelect: function (item) {
            PositionApp.loading = true;
            console.log(item);
            search_position(item.id)
        },
        get_node: function (id) {
            PositionApp.loading = true;
            search_position(id);
            $('html,body').animate({ scrollTop: 0 }, 'slow');
        }
    }
})

function clickNode(node_id) {
    PositionApp.node_data = node.data;
    PositionApp.loading = false;
    var node = st.graph.getNode(node_id);
    init_node(node);
}

function init_form_by_node_id(node_id) {
	var node = st.graph.getNode(node_id);
    init_node(node);
}

function show_popup_add_position(node_id) {
	init_form_by_node_id(node_id);
    $('#add-position-modal').modal({show:'true'});
}

function add_child_node(node_id) {
    var node = st.graph.getNode(node_id);
    alert("add_child");
}

var dataSource = {{ chart | safe }};
$("#btn-back").hide();

Vue.component('select2', {
    props: ['options', 'value'],
    template: '#select2-template',
    mounted: function () {
        var vm = this
        $(this.$el)
          // init select2
          .select2({
              placeholder: "Tìm kiếm theo tên hoặc email",
              width: '100%',
              ajax: {
                  url: '{% url "search-employees" %}',
                  delay: 250,
                  dataType: 'json',
                  data: function (params) {
                      var query = {
                        q: params
                      }
                      // Query parameters will be ?search=[term]&type=public
                      return query;
                 },
                 results: function (data) {
                     employee_options = data;
                     var results = $.map(data, function (obj) {
                            obj.text = obj.display_name + " | " + obj.user__email; // replace name with the property used for the text
                            return obj;
                        });
                    return {
                        results: data
                    };
                 }
              }
          })
          .val(this.value)
          .trigger('change').on('change', function () {
                vm.$emit('input', this.value)
          })
    },
    watch: {
        value: function (value) {
            // update value
            $(this.$el).val(value)
        },
        options: function (options) {
          // update options
          $(this.$el).empty().select2({ data: options })
        }
    },
    destroyed: function () {
        $(this.$el).off().select2('destroy')
    }
});
var employee_options = [];
// Org chart focus node doesn't work
var PositionApp = new Vue({
   el: '#position-chart-left',
   data: {
       node_data: {},
       dataSource: dataSource,
       chart: null,
       parent_selected: null,
       managers: [],
       new_position: {
    	   name: null,
    	   parent: null,
    	   position_type: null
       },
       parent_position_name: null,
       selected_parent: null,
       edit_position: {
    	   name: null,
    	   position_type: null
       },
       employee_options: [],
       selected_employee: null,
       selected_employees: [],
       employees: [],
       search_staff: null,
       filterKey: null,
       position_history: [],
       loading: false,
       loading_history: false,
       found: false,
       remove_emp: null,
       radio_test: '1',
       position_types: [
  	      { text: '{% trans "Type" %} I', value: '1' },
  	      { text: '{% trans "Type" %} II', value: '2' },
  	      { text: '{% trans "Type" %} III', value: '3' }
  	    ],
  	  	errors: {},
  	  	ser_errors: {},
  	  	searched_emps: [],
  	  	children_position: [],
        type_remove: '',
        query:'',
        search_position:'',
        employee_to_move:'',
        selected_position: null,
		selected_position_obj: null,
		list_month: [{'label':'T1'}, {'label':'T2'}, {'label':'T3'}, {'label':'T4'},{'label':'T5'},{'label':'T6'},{'label':'T7'},{'label':'T8'},{'label':'T9'},{'label':'T10'},{'label':'T11'},{'label':'T12'}],
		kpi_performance:[{'kpi_name':'Thời gian giải quyết sai sót trong kỳ thanh toán lương',
		 'kpi_data':[{
		     'value': '5%',
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 10
		 },
		 {
		     'value': '15%',
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 20
		 },
		 {
		     'value': '25%',
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 30
		 },
		 {
		     'value': '35%',
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 40
		 },
		 ]},{'kpi_name':'% quản lý có kế hoạch phát triển khả năng lãnh đạo/ tổng số vị trí quản lý',
		 'kpi_data':[{
		     'value': 5,
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 10
		 },
		 {
		     'value': 5,
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 20
		 },
		 {
		     'value': 5,
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 30
		 },
		 {
		     'value': 5,
		     'assigned_person': 'Lê Việt Hồng',
		     'result': 40
		 },]}],
   },
   created: function () {
        this.init_position_chart();
        var node = st.graph.getNode(st.root);
        this.node_data = node.data;
        setTimeout(function () {
            init_node(node);
        }, 1000);
        ELEMENT.locale(ELEMENT.lang['{{ LANGUAGE_CODE }}']);
   },
   delimiters: ['${', '}$'],
   watch: {
        selected_employee: function (val) {
            this.selected_employee = val;
            this.found = false;
            var selected = null;
            if (this.selected_employee) {
                employee_options.forEach(function (obj) {
                    if (obj.id == val) {
                        selected = obj;

                    }
                });
            }
            var found = false
            this.employees.forEach(function (obj) {
                if (obj.id == selected.id) {
                    found = true;
                }
            })
            if (selected && !found) {
                this.selected_employees.push(selected);
            }
            this.found = found;
        },

   },
   methods: {
       	handleSelectToMove: function (item) {
        	this.employee_to_move = item;
        },
        getRootNode: function () {
        	return st.graph.getNode(st.root);
        },
        search_position_to_move: function (queryString, callback) {
            var that = this;
            var query = that.search_position || '';
            cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/position/search/?query=" + query,
                success: function (res) {
                    callback(res);
                }
            });
        },
        confirm_remove_position: function(type){
            var that = this;
            $("#remove-position-modal").modal('hide');
            $("#confirm"+type+"-position-modal").modal();
        },
        init_position_chart: function () {
            var _this = this;
            init();
        },
        reset_form: function () {
        	this.errors = {};
      	  	this.ser_errors = {};
        },
        init_node: function (node) {
        	this.node_data = node.data;
        	this.parent_position_name = node.getParents().length > 0 ? node.getParents()[0].data.name : '---';

        	this.edit_position.name = node.data.name;
        	this.edit_position.id = node.data.id;
        	this.edit_position.position_type = node.data.position_type;
        	this.edit_position.parent = node.getParents().length > 0 ? node.getParents()[0].data.id : null;

        	this.new_position.name = "";
        	this.new_position.position_type = "3";
        	this.new_position.parent = node.data.id;
        	this.errors = {};
        	this.ser_errors = {};
            $("#edit-parent option").html(this.parent_position_name);

        	this.get_employees_position();
            this.managers = get_managers_for_new_person(node);
            this.get_children_position();
            
            setTimeout(function () {
        		$('.add-position-tree').tooltip({container: 'body'});
                $('.edit-position-tree').tooltip({container: 'body'});
        	},500);
        },
       	get_level_text: function (level) {
       		var levels = {
       			null: '------',
       			'1': gettext("Type") + " I",
       			'2': gettext("Type") + " II",
       			'3': gettext("Type") + " III",
       		}
       		return levels[level];
       	},
        get_list_user: function () {
        },
        set_init_edit_modal: function () {
        	$("#edit-parent option").html(this.parent_position_name);
        	this.edit_position.name = this.node_data.name;
        	this.edit_position.position_type = this.node_data.position_type;
        },
       	valid_input: function (pos) {
       		var root = st.graph.getNode(st.root)
       		var is_valid = true;
       		if (!pos.name.trim()) {
       			this.errors['name'] = true;
       			is_valid = false;
       		}

       		if (!pos.parent && this.node_data.id != root.data.id) {
     			this.errors['parent'] = true;
        		is_valid = false;
       		}

       		if (!pos.position_type) {
       			this.errors['position_type'] = true;
       			is_valid = false;
       		}
       		return is_valid;
       	},
        add_child_node: function () {
            var _this = this;
            this.errors = {};
            if (!this.valid_input(_this.new_position)) {
            	return;
            }
            var data = {
                name: _this.new_position.name.trim(),
                position_type: _this.new_position.position_type,
                parent: _this.new_position.parent
            }
            $("#btn-add-position").button("loading");
            cloudjetRequest.ajax({
                method: "POST",
                url: "/api/v2/position/",
                data: data,
                async: false,
                success: function (res) {
                    console.log("Added");
                    cloudjetRequest.ajax({
                        method: "GET",
                        url: "/api/v2/position-chart/node/?node="+_this.new_position.parent,
                        data: data,
                        async: false,
                        success: function (res) {
                            st.addSubtree(res, 'replot', {
                                hideLabels: false,
                                onComplete: function () {
                                	clickNode('u' + _this.new_position.parent)
                                }
                            });
                        }
                    });
                    $("#btn-add-position").button("reset");
                    $('#add-position-modal').modal('hide');

                    _this.new_position.name = "";
                	_this.new_position.position_type = "3";
                    setTimeout(function () {
                    	$("#add-success-modal").modal('show');
                    }, 500);
                    setTimeout(function () {
                    	$("#add-success-modal").modal('hide');
                    	$('.title').tooltip();
                    }, 2000);
                },
                error: function (error, status) {
                	if (error.status == 403 && error.responseJSON) {
                		alert(error.responseJSON.message);
                	}
                	if (error.status == 400) {
                		_this.ser_errors = {name_exist: true};
                	}
                	$("#btn-add-position").button("reset");
                }
            });
        },
        remove_position: function () {
        	$("#remove-position-modal").modal();
        },
       	remove_or_move_employees: function(type){
            var that = this;
            var node = st.graph.getNode('u' + that.node_data.id)
            var parent_node_id = node.getParents().length > 0 ? node.getParents()[0].id : null;
            // Xóa toàn bộ
            if(type=='delete'){
                cloudjetRequest.ajax({
                    method: "DELETE",
                    url: "/api/v2/position/" + that.node_data.id + "/",
                    data: {},
                    success: function (res) {
                        $("#confirm2-position-modal").modal('hide');
                        st.removeSubtree(node.id, true, 'replot', {
                            onComplete: function() {
                                clickNode('u' + parent_node_id);
                            }
                        });
                    }
               })}
           // Xóa vị trí cha và chuyển hết các vị trí con sang vị trí khác
           else{
                cloudjetRequest.ajax({
                    method: "DELETE",
                    url: "/api/v2/position/" + that.node_data.id + "/",
                    data: {'move_subordinates':'True','to_new_position':PositionApp.employee_to_move.id},
                    success: function (res) {
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
               });
            }
       },
        edit_child_node: function () {
        	var _this = this;
        	var node = st.graph.getNode('u' + this.node_data.id)
            this.errors = {};
            if (!this.valid_input(this.edit_position)) {
            	return;
            }

            var data = {
                name: this.edit_position.name.trim(),
                position_type: this.edit_position.position_type,
                parent: node.getParents().length > 0 ? node.getParents()[0].data.id : null
            }
            cloudjetRequest.ajax({
                method: "PUT",
                url: "/api/v2/position/" + node.data.id + "/",
                data: data,
                success: function (res) {
                    $("#" + node.id + " .title").html(res.name);
                    $("#" + node.id + " .title").attr("data-original-title", res.name);
                    node.data.name = res.name;
                    $("#" + node.id).removeClass('position-level-' + node.data.position_type);
                    node.data.position_type = res.position_type;
                    $("#" + node.id).addClass('position-level-' + node.data.position_type);
                    node.name = res.name;
                    $("#edit-position-modal").modal("hide");
                },
                error: function (error) {
                	if (error.status == 403 && error.responseJSON) {
                		alert(error.responseJSON.message);
                	}
                	if (error.status == 400) {
                		_this.ser_errors = {name_exist: true};
                	}
                	console.error(error);
                }
            });
        },
        add_employees_to_position: function () {
            var ids = [], _this = this;
            this.selected_employees.forEach(function (obj) {
                ids.push(obj.id)
            });
            var data = {
                employees: JSON.stringify(ids)
            }
            $("#btn-add-employees-to-pos").button("loading");
            cloudjetRequest.ajax({
                method: "POST",
                url: "/api/v2/position/" + this.node_data.id + "/employees/add/",
                data: data,
                success: function (res) {
                    _this.get_employees_position();
                    _this.node_data.people = res;
                    var node = st.graph.getNode('u' + _this.node_data.id)
                    var html = create_inner_html(node);
                    $("#" + node.id).html(html);
                    $("#btn-add-employees-to-pos").button("reset");
                }
            });
        },
        remove_employee: function (emp) {
            var index = this.selected_employees.indexOf(emp);
            if (index != -1) {
                this.selected_employees.splice(index, 1);
            }
        },
        set_remove_employee: function (emp) {
            this.remove_emp = emp;
        },
        remove_employee_in_position: function () {
            var data = {
                'delete': true,
                'user_id': this.remove_emp.user_id,
                'position_id': this.node_data.id
            };
            var _this = this;
            $("#btn-delete-person").button("loading");
            cloudjetRequest.ajax({
                method: "POST",
                url: "/api/v2/employee/update-position/",
                data: data,
                success: function (res) {
                	$("#btn-delete-person").button("reset");
                    var index = _this.node_data.people.indexOf(_this.remove_emp);
                    if (index != -1) {
                    	_this.node_data.people.splice(index, 1)
                    }
                    var node = st.graph.getNode('u' + _this.node_data.id)
                    var html = create_inner_html(node);
                    $("#" + node.id).html(html);
                    $("#remove-employee-position").modal('hide');
                    _this.get_employees_position();
                },
                error: function (error) {
                	if (error.status == 403 && error.responseJSON) {
                		alert(error.responseJSON.message);
                	}
                	$("#btn-delete-person").button("reset");
                }
            });
        },
        clear_data: function () {
            this.selected_employees = [];
        },
        get_employees_position: function () {
            var _this = this;
            this.employees = [];
            cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/position/" + this.node_data.id + "/employees/",
                success: function (res) {
                    _this.employees = res
                }
            });
        },
        search_employees: function (queryString, callback) {
        	var _this = this;
        	var query = _this.search_staff || '';
        	cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v1/employees/search/?q=" + query,
                success: function (res) {
                	callback(res);
                }
            });
        },
        handleSelect: function (item) {
        	this.selected_employees = [item];
        	this.add_employees_to_position();
        },
        clear_selection: function () {
        	this.selected_position = null;
        	this.selected_position_obj = null;
        },
        handleSearch: function (queryString, callback) {
            var that = this;
            cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/position/search/?query=" + queryString,
                success: function (res) {
                    callback(res);
                }
            });
        },
        handleSelectSearch: function (item) {
        	this.selected_position = item.name;
        	this.selected_position_obj = item;
        },
        show_assigned_people: function (position) {
        	var node = st.graph.getNode('u' + position.id);
        	var data = [];
        	if (node) {
        		node.data.people.forEach(function (obj) {
            		data.push(obj.display_name);
            	})
        	}
        	return data.join(", ");
        },
        valid_position_name: function (pos) {
        	if (!this.valid_input(pos)) {
            	return;
            }

        	var _this = this;
        	var url = "{% url 'position-valid-name' %}?name=" + pos.name + "&pos_id=" + pos.id;
        	cloudjetRequest.ajax({
                method: "GET",
                url: url,
                success: function (res) {
                	_this.ser_errors = res;
                }
            });
        },
        get_subnodes: function() {
        	var node = st.graph.getNode('u' + this.node_data.id)
        	return node.getSubnodes([node._depth,node._depth+ 1])
        },
        get_children_position: function () {
        	var _this = this;
        	_this.children_position = [];
        	cloudjetRequest.ajax({
                method: "GET",
                url: '/api/v2/position/' +_this.node_data.id+ '/children/',
                success: function (res) {
                	_this.children_position = res;
                }
            });
        },
       get_history_position_current: function (async) {
            that = this;
            cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/position/" + this.node_data.id + "/history/",
                async: async,
                success: function (data) {
                    that.position_history = data;
                    that.loading_history = false;
                },
                error: function () {

                }
            });
        },
        check_history_position: function () {
            this.loading_history = true;
            this.get_history_position_current();
            $('#todoer-modal').modal('show');

        },
        move_position: function () {
        	var data = {
        		'position_manager': this.selected_position_obj.id
        	}
			var _this = this;
        	cloudjetRequest.ajax({
                method: "POST",
                url: "/api/v2/position/" + this.node_data.id + "/change-position-manager/",
                data: data,
                success: function (res) {
                	$("#modal-change-position-manager").modal('hide');
                    $("#move-pos-success-modal").modal('show');
                    _this.refresh_chart(_this.selected_position_obj.id)
                    setTimeout(function () {
                    	$("#move-pos-success-modal").modal('hide');
                    }, 2000);
                    
                },
                error: function (error) {
                	if (error.responseJSON && error.responseJSON.message) {
                		alert(error.responseJSON.message);
                	} else {
                		$("#move-pos-failed-modal").modal('show');
                	}
                }
            });
        },
        refresh_chart: function (reach_node_id) {
        	data_node = {};
        	var root_id = st.root.substr(1, st.root.length - 1);
        	cloudjetRequest.ajax({
                method: "GET",
                url: "/api/v2/company/" + root_id + "/chart-data/",
                success: function (res) {
                	if (res.data) {
                		st.loadJSON(res.data);  
                		//compute node positions and layout  
                		st.compute();  
                		//optional: make a translation of the tree  
                		st.geom.translate(new $jit.Complex(-100, 0), "current");
                		//emulate a click on the root node.  
                		search_position(reach_node_id);
                	}
                },
                error: function (error) {
                	if (error.responseJSON && error.responseJSON.message) {
                		alert(error.responseJSON.message);
                	}
                }
            });
        }
    }
});

</script>
{% endblock %}
