{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Planning" %}{{ block.super }}{% endblock %}


{% block landing %}

{% trans 'Planning' as titlePage %}
{% trans 'Kế hoạch cho công ty và từng phòng ban' as descTitle %}
{% include "performance/nav_bar.html" with  logoLink="img/cjet/plan-cloud.png"|get_static %}

<div class="item_contain">
    &nbsp;
    <div class="basic_content" style="margin-bottom: 30px">
    	<div style="width: 600px;margin: 0 auto;">
    		<div style="margin-bottom: 20px;padding-left: 20px">
    			<label>
    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
    				<strong class="core-title">Kế hoạch năm</strong>
    			</label>
    			<div>
    				{{ core_value.plan_for_year|linebreaks }}
    			</div>    			
    		</div>
    		
    		<div style="margin-bottom: 20px;padding-left: 20px">
    			<label>
    				<img alt="" src="{{ STATIC_URL }}img/cjet/plan-icon.png">
    				<strong class="core-title">Kế hoạch cho các phòng ban</strong>
    			</label>
    			<div>
    				{{ core_value.plan_for_dept|linebreaks }}
    			</div>    			
    		</div>
    	</div>
    </div>
</div>
<div style="height: 50px"></div>
<style>
.core-title {
	font-size: 18px;
	color: #1B3C78;
	text-decoration: underline;
}
#id-mission {
	width: 400px;
	height: 100px;
}
.values-list {
	margin-left: 0;
	display: inline-block;
}
.values-list li {
	width: 430px;
	margin-bottom: 10px;
}
.values-list li label {
	display: inline-block;
	width: 20px;
}
.values-list li input[type='text'] {
	width: 380px;
	height: 25px;
}
#id-plan-for-dept, #id-plan-for-year {
	width: 410px;
	height: 170px;
}
</style>
{% endblock %}