{% extends "bsc_base.html" %}
{% load inplace_edit %}
{% load i18n user_tags %}
{% block extra_js %}
    {#            <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>#}

{% endblock %}

{% block title %}{% trans 'Schedule' %}{{ block.super }}{% endblock %}

{% block content %}
    <div ng-app="cloudjet" xmlns="http://www.w3.org/1999/html">
        <style>
            .form-horizontal .control-group {
                margin-bottom: 10px;
            }
            .title_box_n{
                background: darkcyan;
                border-radius: 6px 6px 0 0;
                color: #fff;
                padding: 5px;
                font-size: 14px;
                font-weight: bold;
                min-height: 20px;
            }
            #dp3{
                display: inline-block;
            }
            .people_box{
                border: 1px solid #bbb;
                border-radius: 10px;
                box-shadow: 0 0 1px 1px #ccc;
                padding: 3px;
            }
            .tab-content{
                border: 1px solid #bbb;
                border-radius: 7px;
                margin-top: 0;
                margin-left: 2px;
                margin-right: 2px;
                margin-bottom: 2px;
                padding: 5px;
                width: auto;
            }
            .nav-tabs.blue_bg li.active a {
                background: #fff;
                color: darkcyan;
                border-color: #333333;
                border-bottom-color: transparent;
            }
            .nav_header_box .nav-tabs li a {
                padding: 0 7px 0;
                border-color: #333333;
                border-bottom-color: transparent;
                font-size: 11px;
                text-transform: uppercase;
                line-height: 17px;
                background: darkcyan;
                color:white;
                margin-left:5px;
            }
            .schedule_left_item .schedule_date {
                width: 62px;
                padding: 2px;
                margin-right: 10px;
                border-radius: 5px;
                float: left;
                cursor: pointer;
            }
            .schedule_left_item.active {
                border: 2px solid #94c94c;
                background: #cde6ac;
            }
            .schedule_left_item {
                padding: 5px;
                border-radius: 4px;
            }
            .schedule_left_item .schedule_month {
                text-align: center;
                background: darkcyan;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 5px;
                line-height: 15px;
            }
            .schedule_left_item .schedule_day {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: darkcyan;
                margin-top: 3px;
            }
            .schedule_left_item .schedule_year {
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                color: darkcyan;
                line-height: 15px;
            }
            .schedule_left_item .schedule_date {
                border: 2px solid darkcyan;
                padding: 3px;
                border-radius: 5px;
                background: #fff;
                background: -moz-linear-gradient(top,#fff 60%,#bfd4ed 100%);
                background: -webkit-gradient(linear,left top,left bottom,color-stop(60%,#fff),color-stop(100%,#bfd4ed));
                background: -webkit-linear-gradient(top,#fff 60%,#bfd4ed 100%);
                background: -o-linear-gradient(top,#fff 60%,#bfd4ed 100%);
                background: -ms-linear-gradient(top,#fff 60%,#bfd4ed 100%);
                background: linear-gradient(to bottom,#fff 60%,#bfd4ed 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#bfd4ed',GradientType=0);
            }
            .mango_bt {
                font-size: 11px;
                color: #fff;
                box-shadow: 0 0 5px 1px #aaa;
                border-radius: 3px;
                border: 1px solid #fff;
                line-height: 15px;
                cursor: pointer;
                background: #00a8a9;
                background: -moz-linear-gradient(top,#b9d4ec 0%,#00a8a9 100%);
                background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b9d4ec),color-stop(100%,#00a8a9));
                background: -webkit-linear-gradient(top,#b9d4ec 0%,#00a8a9 100%);
                background: -o-linear-gradient(top,#b9d4ec 0%,#00a8a9 100%);
                background: -ms-linear-gradient(top,#b9d4ec 0%,#00a8a9 100%);
                background: linear-gradient(to bottom,#b9d4ec 0%,#00a8a9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9d4ec',endColorstr='#00a8a9',GradientType=0);
            }
            .mango_bt:hover {
                background: #4396d0;
                background: -moz-linear-gradient(top,#b2ceea 0%,#4396d0 100%);
                background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b2ceea),color-stop(100%,#4396d0));
                background: -webkit-linear-gradient(top,#b2ceea 0%,#4396d0 100%);
                background: -o-linear-gradient(top,#b2ceea 0%,#4396d0 100%);
                background: -ms-linear-gradient(top,#b2ceea 0%,#4396d0 100%);
                background: linear-gradient(to bottom,#b2ceea 0%,#4396d0 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2ceea',endColorstr='#4396d0',GradientType=0);
            }
            .btn-mini {
                padding: 0 6px;
                font-size: 10.5px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .schedule_left_item.schedule_black .schedule_date {
                border-color: #59595b;
                background: #fff; /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */

                background: -moz-linear-gradient(top, #fff 60%, #dbdcde 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(100%, #dbdcde)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #fff 60%, #dbdcde 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #fff 60%, #dbdcde 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #fff 60%, #dbdcde 100%); /* IE10+ */
                background: linear-gradient(to bottom, #fff 60%, #dbdcde 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dbdcde', GradientType=0); /* IE6-8 */
            }

            .schedule_left_item.schedule_black .schedule_month {
                background: #59595b;
            }

            .schedule_left_item.schedule_black .schedule_day,
            .schedule_left_item.schedule_black .schedule_year,
            .schedule_left_item.schedule_black .schedule_left_content {
                color: #59595b;
            }
            .schedule_left_item.schedule_black.active {
                width:80px;
                height:90px;
            }
            #id_due_date, #id_year, #id_quarter, #id_quarter_name{
                display: block;
                width: 50%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
            .label_n{
                float:left;
                width: 30%;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/spacetree.css?v={{ settings.VERSION }}20130821"
              type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ng-grid.css" type="text/css"/>
        <link href="{{ STATIC_URL }}sweetalert-master/dist/sweetalert.css" rel="stylesheet" type="text/css">
        <script src="{{ STATIC_URL }}sweetalert-master/dist/sweetalert.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>

        {% inplace_static %}

        {% trans "Where to track the progress of performance reviews" as descTitle %}
        {% trans "Schedule" as titlePage %}
        {% include 'performance/nav_bar.html' with logoLink="kpi-img/icon/calendar.png"|get_static schedule_video=1 %}
        <div class="clear"></div>


        <div class="item_contain schedule_contain " style="font-size:14px">
            <div class="common-schedule-setting" id="schedule_setting">
                <div class="title_box_n">{% trans 'Common Schedule Settings' %}</div>
                <div class="common-schedule-setting-body">
                    <div class=" row form-inline competency-settings" style="margin: 10px 0 0;">

                        <label class="col-md-6">
                            {% trans 'Due for manager to review KPI' %}
                        </label>&nbsp;
                        <div class="col-md-5">
                            <label style="margin:0 0 0 15px" id ="due-date-value" title="#{{current_due.id}} {{current_due.quarter_name}}"><b>{{current_due.due_date|date:'d/m/Y'}}</b></label>
                        </div>

                    </div>

                    <div class=" row form-inline competency-settings" style="margin: 10px 0 0;">
                        <label class="col-md-6">
                            {% trans 'Due for employees to review KPI' %}
                        </label>&nbsp;
                        <div class="col-md-5" style="margin: 0 0 0 15px"    >
                            <div class="input-append date" id="dpk"
                             data-date="{{ organization.self_review_date|date:'d/m/Y'|default:'' }}"
                             data-date-format="dd/mm/yyyy">
                            <input class="span2 form-control SS_DTP_EMP_REVIEW" size="16" type="text"
                                       value="{{ organization.self_review_date|date:'d/m/Y'|default:'' }}"
                                   id="id_self_review" style="height: 26px;">
                            <span class="add-on" style="padding:1px 3px 1px 3px"><i class="fa fa-calendar" style="display: inline;position: relative;left:-33px"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="row form-inline date-settings" style="margin: 10px 0 0 0">
                        <label class="col-md-6">
                            {% trans 'Due for edit KPI' %}
                        </label>
                        <!---->
                        <div class="col-md-5" style="margin: 0 0 0 15px">
                        <div class="input-append date" id="dp3"
                             data-date="{{ organization.edit_to_date|date:'d/m/Y'|default:'' }}"
                             data-date-format="dd/mm/yyyy">
                            <input class="span2 form-control SS_DTP_EDIT_KPI" size="16" type="text"
                                   value="{{ organization.edit_to_date|date:'d/m/Y'|default:'' }}"
                                   id="id_edit" style="height: 26px;">
                            <span class="add-on"><i class="fa fa-calendar" style="display: inline;position: relative;left:-30px"></i></span>
                        </div>
                        </div>
                    </div>


                    <div class="row form-inline competency-settings" style="margin: 10px 0 0 0;">

                        <label class="col-md-6">
                            {% trans 'KPI max score' %} (%)
                        </label>&nbsp;
                        <div class="col-md-5" style="margin: 0 0 0 15px">
                            <input type="text" maxlength="3" style = "width:55px;height:26px" value="{{ organization.max_score }}" id="max_score" class="form-control SS_INP_MAX_SCORE">
                        </div>

                    </div>
{#                    <div class="row form-inline competency-settings" style="margin: 10px 0 0;">#}
{#                        <label class="col-md-6">#}
{#                            {% trans "Allow edit how to reference KPIs" %}#}
{#                        </label>&nbsp;#}
{#                         <div class="col-md-5 ">#}
{#                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">#}
{#                                <label class="form-check-label"><input class="form-check-input" name="allow-switch-kpi-parent-score-mode" type="radio" value = 1 >#}
{#                                    <span> {% trans 'Allow' %}</span>#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">#}
{#                                <label class="form-check-label"><input class="form-check-input" name="allow-switch-kpi-parent-score-mode" type="radio" value = 0 >#}
{#                                    <span> {% trans 'Not allow' %}</span>#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="row form-inline competency-settings" style="margin: 10px 0 0;">
                        <label class="col-md-6">
                            {% trans 'Allow user to delay KPI' %}
                        </label>&nbsp;
                        <div class="col-md-5 ">
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">

                                <label class="form-check-label"><input class="form-check-input SS_RDB_DELAY_ON"  name="delay" type="radio" value = 1  {{organization.allow_delay_kpi|yesno:"checked,"}} >
                                    <span> {% trans 'Allow' %}</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_DELAY_OFF" name="delay" type="radio" value = 0  {{organization.allow_delay_kpi|yesno:",checked"}}>
                                    <span> {% trans 'Not allow' %} </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-inline competency-settings" style="margin: 10px 0 0;">
                        <label class="col-md-6">
                            {% trans 'Allow modify monthly targets' %}
                        </label>&nbsp;
                         <div class="col-md-5 ">
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_TARGET_ON" name="monthly-target" type="radio" value = 1  {{organization.allow_edit_monthly_target|yesno:"checked,"}}>
                                    <span> {% trans 'Allow' %}</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_TARGET_OFF" name="monthly-target" type="radio" value = 0 {{organization.allow_edit_monthly_target|yesno:",checked"}}>
                                    <span> {% trans 'Not allow' %}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-inline competency-settings" style="margin: 10px 0 0;">

                        <label class="col-md-6">
                            {% trans 'Allow employee edit weighting of KPI' %}
                        </label>&nbsp;
                         <div class="col-md-5 ">
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_WEIGHT_ON" name="weight-edit" type="radio" value = 1 {{organization.enable_weight_editing|yesno:"checked,"}}>
                                    <span> {% trans 'Allow' %}</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_WEIGHT_OFF" name="weight-edit" type="radio" value = 0 {{organization.enable_weight_editing|yesno:",checked"}}>
                                    <span> {% trans 'Not allow' %}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-inline competency-settings" style = "margin: 10px 0 0 0">
                        <label class="col-md-6">
                            {% trans 'Send notification to email' %}
                        </label>
                         <div class="col-md-5 ">
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_EMAIL_ON" name="email-noti" type="radio" value = 1 {{organization.enable_email_notification|yesno:"checked,"}}>
                                    <span> {% trans 'Allow' %}</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="display:inline-block; margin: 0 0 0 15px">
                                <label class="form-check-label"><input class="form-check-input SS_RDB_EMAIL_OFF" name="email-noti" type="radio" value = 0 {{organization.enable_email_notification|yesno:",checked"}}>
                                    <span> {% trans 'Not allow' %}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div  class="edit-form" style="margin-top:15px">
                        <button class="btn btn-success SS_BTN_EDIT" id="btn-edit-form"style="background: darkcyan; margin: 0 0 0 15px">
                            <i class="fa fa-pencil-square-o"></i>
                            <span> {% trans 'Edit' %}</span>
                        </button>
                        <button class="btn btn-success" id="btn-save-change" style="background:darkcyan; margin: 0 0 0 15px; display:none" onclick="update_calendar_setting()">
                            <i class="fa fa-floppy-o"></i>
                            <span> {% trans 'Save change' %}</span>
                        </button>
                        <button class="btn btn-default" id="btn-discard" onclick="restore_form()" style="background:transparent;  margin: 0 0 0 15px; display:none">
                            <span> {% trans 'Discard' %}</span>
                        </button>
                    </div>
                </div>
                <style type="text/css">
                    .warrap-inplaceedit {
                        color: #fff;
                        background: darkcyan;
                        padding: 3px 8px;
                        border-radius: 2px;
                    }

                    .common-schedule-setting {
                        border: 2px solid gray;
                        padding: 3px;
                        border-radius: 10px;
                        box-shadow: 0 0 1px 1px #ccc;
                    }

                    .common-schedule-setting-body {
                        padding: 10px;
                    }

                    input, select {
                        margin: 0px !important;
                    }
                    @media (max-width: 1024px) {
                    	button.apply {
                    		margin: 0em 0.2em 0em 3em  !important;
                    	}
                    }
                </style>

                <script type="text/javascript">
                    $(document).ready(function(){
                        disable_form();
                        save_state();

                    });
                    function save_state(){
                         $('#schedule_setting').find('input').each(function(i, el){
                            var input = $(el);
                            if (input.attr('type')!='radio')
                                input.data('initialState', input.val());
                            else
                                input.data('initialState', input.prop('checked'));
                         });
                         console.log('save state')
                    }
                    function restore_form(){
                        $('#schedule_setting').find('input').each(function(i, el){
                            var input = $(el);
                            if (input.attr('type')=='radio') {
                                    input.prop('checked', input.data('initialState'));
                            }
                            else
                                input.val(input.data('initialState'));
                        });
                        disable_form()
                        $('#btn-save-change').hide();
                        $('#btn-discard').hide();
                        $('#btn-edit-form').show();
                    }
                    function disable_form(){
                         $('#schedule_setting').find('input').attr('disabled',true);
                         $('.add-on').hide();
                    }
                    $('#btn-edit-form').click(function(){
                        $('#schedule_setting').find('input').attr('disabled',false);
                        $('.add-on').show();
                        $('#btn-save-change').show();
                        $('#btn-discard').show();
                        $('#btn-edit-form').hide();
                    });
                    function update_calendar_setting() {
                        var self_review_date = $('#dpk input').val(),
                            edit_to_date = $('#dp3 input').val(),
                            max_score = $('#max_score').val(),
                            allow_delay_kpi = $('input:radio[name=delay]:checked').val()== 1 ? true : false,
                            allow_edit_monthly_target = $('input:radio[name=monthly-target]:checked').val()== 1 ? true : false,
                            enable_weight_edit =  $('input:radio[name=weight-edit]:checked').val()== 1 ? true : false,
                            enable_email_notification =  $('input:radio[name=email-noti]:checked').val()==1 ? true : false;
                          //  default_auto_score_parent =  $('input:radio[name=allow-switch-kpi-parent-score-mode]:checked').val()==1 ? true : false;
                            cloudjetRequest.ajax({
                            type: 'POST',
                            data: {
                                self_review_date: self_review_date,
                                edit_to_date: edit_to_date,
                                max_score: max_score,
                                allow_delay_kpi: allow_delay_kpi,
                                allow_edit_monthly_target: allow_edit_monthly_target,
                                enable_weight_edit: enable_weight_edit,
                                enable_email_notification: enable_email_notification,
                          //      default_auto_score_parent: default_auto_score_parent,
                            },
                            url: "{% url 'basic_view' %}",
                            success: function (data) {
                                $("#btn-save-change").hide(),
                                $("#btn-discard").hide(),
                                $("#btn-edit-form").show(),
                                disable_form(),
                                console.log('success!'),
                                sweetAlert("{% trans "ACTION COMPLETED" %}", "{% trans "The settings are successfully updated" %}", "success");
                                save_state();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $(".competency-settings #id_saving").hide();
                            }
                        });
                    }
                    <!--function update_edit_to_date() {-->
                        <!--cloudjetRequest.ajax({-->
                            <!--type: 'POST',-->
                            <!--data: {-->
                                <!--enable_edit: $('#id_enable_edit').is(':checked'),-->
                                <!--date: $("#id_edit_to_date").val()-->
                            <!--},-->
                            <!--url: "{% url 'basic_view' %}",-->
                            <!--beforeSend: function () {-->
                                <!--$(".date-settings #id_saving").show();-->
                                <!--$(".date-settings #id_saved").hide();-->
                            <!--},-->
                            <!--success: function (data) {-->
                                <!--$(".date-settings #id_saving").hide();-->
                                <!--$(".date-settings #id_saved").show();-->
                            <!--},-->
                            <!--error: function (jqXHR, textStatus, errorThrown) {-->
                                <!--$(".date-settings #id_saving").hide();-->
                            <!--}-->
                        <!--});-->
                    <!--}-->


                    <!--$(function () {-->
                        <!--$('#id_enable_competency').click(function () {-->
                            <!--update_edit_competency();-->
                        <!--});-->
                        <!--$('#id_enable_edit').click(function () {-->
                            <!--update_edit_to_date();-->
                        <!--});-->
                    <!--});-->

                </script>
            </div>

        </div>


        <div class="item_contain schedule_contain" ng-controller="ScheduleListCtrl">
            <div class="people_box" style="margin-top:20px;">
                <div class="title_box_n">{% trans "Schedule" %}</div>
                <div class="box_contain">


                    <div>
                        {#                <p style="font-weight: bold">{% trans "Review scheduling:" %}</p>#}

                        <div class="nav_header_box" style="margin-top:5px;">
                            <ul class="nav nav-tabs blue_bg" style="margin-bottom: 0;border-bottom: none;">
                                <li class="active SS_TAB_NOW" ng-click="clear_select('tab2')"><a href="#tab1" data-toggle="tab"
                                                                                      class="nowrap">{% trans "CURRENT" %}</a>
                                </li>
                                <li class="SS_TAB_PASS" ng-click="clear_select('tab1')"><a href="#tab2" data-toggle="tab"
                                                                                class="nowrap">{% trans "ARCHIVE" %}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- here -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                <table style="width: 100%">
                                    <tr>
                                        <td style="width:187px">
                                            {% trans 'Deadline' %}
                                        </td>
                                        <td>
                                            {% trans 'Name' %}
                                        </td>
                                        <td><span>{% trans "Completion was:" %}</span></td>
                                        <td>
                                            {% trans 'Information' %}
                                        </td>
                                    </tr>


                                    {% if current_due %}

                                        <tr>
                                            <td>
                                                <div class="schedule_left_item active"
                                                     ng-click="get_schedule_review('{{ current_due.id }}')">
                                                    <div class="schedule_date">
                                                        <div class="schedule_month">{{ current_due.due_date|date:'M' }}</div>
                                                        <div class="schedule_day">{{ current_due.due_date|date:'d' }}</div>
                                                        <div class="schedule_year">{{ current_due.due_date|date:'Y' }}</div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>
                                            </td>
                                            <td>


                                                <h5> Q{{ current_due.quarter }} - {{ current_due.year }} <br/>
                                                    #{{ current_due.id }} {% inplace_edit "current_due.quarter_name" %}
                                                </h5>

                                                <div style="margin-top: 5px">
                                                    <input type="button" class="mango_bt SS_BTN_EDIT_SCHEDULE"
                                                           value="{% trans 'Change due date' %}"
                                                           ng-click="change_due('{{ current_due.due_date|date:'d/m/Y' }}', '{{ current_due.id }}')"/>
                                                    {#                                            {{ current_due.id }}#}
                                                    {#                                                {% if pending_due %}#}
                                                    {#                                                    <input type="button" class="mango_bt" value="{% trans 'Archive' %}"#}
                                                    {#                                                           ng-click="archive_review()"/>#}
                                                    {#                                                {% endif %}#}
                                                    <!-- input type="button" class="mango_bt" value="{% trans 'Delete' %}" onclick="delete_due(this, '{{ current_quarter.id }}', '{{ current_quarter.due_date|date:'d-m-Y' }}')" style="display: none;"/> -->
                                                </div>
                                            </td>
                                            <td>

                                                <span
                                                        style="font-weight: bold; padding-left: 5px"
                                                        id="complete-prgress">{{ current_due.completion }}%</span>
                                            </td>
                                            <td>
                                                <p style="color:#aaa">{% trans 'Created at' %}: {{ current_due.created_at | date:'d/M/Y' }}
                                                    <br/>
                                                    {% trans 'Copy from' %}:
                                                    #{{ current_due.clone_from_quarter_period.id }} {{ current_due.clone_from_quarter_period.quarter_name }}
                                                </p>


                                            </td>

                                        </tr>
                                    {% endif %}


                                </table>
                                <div class="schedule_left_bottom">
                                    <input type="button" class="mango_bt SS_BTN_NEW_SCHEDULE" value="{% trans 'Schedule new review' %}"
                                           style="width:120px;text-align: center" data-toggle="modal"
                                           data-target="#new-schedule-modal"/>
                                </div>
                            </div>

                            <div class="tab-pane " id="tab2" style="max-height: 600px;overflow-y:auto">

                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            {% trans 'Deadline' %}
                                        </td>
                                        <td>
                                            {% trans 'Name' %}
                                        </td>
                                        <td><span>{% trans "Completion was:" %}</span></td>
                                        <td>
                                            {% trans 'Information' %}
                                        </td>
                                    </tr>
                                    {% for due in archived_due %}
                                        {% include "performance/schedule/quarter_row.html" %}


                                    {% empty %}
                                        <p>{% trans 'No archive found' %}</p>
                                    {% endfor %}


                                    {% if deleted_quarters %}
                                        <tr style="background-color: lightsteelblue;">
                                            <td colspan="4">
                                                <h5> {% trans "Deleted Quarters" %}</h5>
                                            </td>
                                        </tr>
                                        {% for due in deleted_quarters %}
                                            {% include "performance/schedule/quarter_row.html" %}


                                        {% endfor %}


                                    {% endif %}


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id='new-schedule-modal' class="modal fade" style="width:560px; margin:0px auto;top:80px;">
                <div class="modal-content">
                <div class="modal-header" style="padding: 5px 15px">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{% trans 'Schedule new review' %}</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <form class="form-horizontal" id="id-new-due-form" style="margin: 0" action="."
                              method="post"> {% csrf_token %}
                            <h3>{% trans 'Current quarter:' %} {{ current_due.quarter }}/{{ current_due.year }} </h3>

                            <div class="control-group form-inline">
                                <label style="padding-right:10px;" class="control-label label_n" or="id-due-date-new">{% trans 'The end date:' %}</label>

                                <div class="controls">
                                    {{ form.due_date.errors }}
                                    {{ form.due_date }}
                                </div>
                                {{ form.organization }}
                            </div>

                            <div class="control-group form-inline">
                                <label style="padding-right:10px;" class="control-label label_n" for="id-due-date-new">{% trans 'Year:' %}</label>

                                <div class="controls">
                                    {{ form.year.errors }}
                                    {{ form.year }}
                                </div>
                            </div>

                            <div class="control-group form-inline">
                                <label style="padding-right:10px;" class="control-label label_n" for="id-due-date-new">{% trans 'Quarter:' %}</label>

                                <div class="controls">
                                    {{ form.quarter.errors }}
                                    {{ form.quarter }}
                                </div>
                            </div>

                            <div class="control-group form-inline">
                                <label style="padding-right:10px;" class="control-label label_n">{% trans 'Quarter period' %}:</label>

                                <div class="controls">
                                    {{ form.quarter_name.errors }}
                                    {{ form.quarter_name }}
                                </div>
                            </div>


                            {#                       <div class="control-group form-inline">#}
                            {#					    <label class="control-label" for="id-due-date-new">{% trans 'Copy KPIs & Targets from' %}</label>#}
                            {#					    <div class="controls">#}
                            {#					    	{{ form.current_quarter.errors }}#}
                            {#					      	{{ form.current_quarter }}#}
                            {#					    </div>#}
                            {#					</div>#}
                        </form>
                        <p>
                            {% trans "Note: This review date affects everyone in the company, not just your team" %}
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-primary" id="id-save-new-due">{% trans "Save" %}</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</a>
                </div>
                </div>
            </div>

            <div id='edit-schedule-modal' class="modal fade" style="width: 450px;margin:0px auto;margin-top:80px;">
                <div class="modal-content">
                <div class="modal-header" style="padding: 5px 15px">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{% trans "Edit review" %}</h3>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 50px">
                        <form id="id-edit-due-form" style="margin: 0" action="." method="post"> {% csrf_token %}
                            {{ eform.edit_due_date.errors }}
                            <div class="control-group form-inline">
                                <label class="control-label" for="id-edit_due_date">{% trans "Due date" %}:</label>

                                <div class="controls" style="display: inline-block;">
                                    <input class="form-control SS_DTP_EDIT_SCHEDULE" required="required" type="text" name="edit_due_date" id="id-edit_due_date"
                                           style="width: 100px" value="{{ eform.edit_due_date.value|date:'d/m/Y'|default:'' }}">
                                    <input type="hidden" name="old_due" id="id-old-due" value="">
                                </div>
                            </div>
                            {{ eform.organization }}
                            {{ eform.quarter_id }}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary SS_BTN_SAVE_SCHEDULE" id="id-save-edit-due">{% trans "Save" %}</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Cancel"  %}</a>
                </div>
                </div>
            </div>


            <div id='archive-review-modal' class="modal fade" style="width: 450px;margin:0px auto;margin-top:80px;">
                <div class="modal-content">
                <div class="modal-header" style="padding: 5px 15px">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{% trans 'Archive current performance review' %}</h3>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 20px">
                        <p>{% trans 'Are you sure you want to lock and archive this review' %}?</p>

                        <p>{% trans 'All assessments in the review will automatically be shared to managers and employees.' %}</p>

                        <p>{% trans 'No-one will be able to change any assessment in this review' %}</p>

                        <form id="id-archive-review-form" style="margin: 0" action="." method="post"> {% csrf_token %}
                            <input type="hidden" name="archive_review" value="true">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" id="id-archive-btn">OK</a>
                    <a href="#" class="btn" data-dismiss="modal">{% trans 'Cancel' %}</a>
                </div>
                </div>
            </div>
        </div>


        <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
        <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'vi' %}
        <script type="text/javascript" src="{{ STATIC_URL }}datepicker/locales/bootstrap-datepicker.vi.js"
                charset="UTF-8"></script>
        {% endif %}
        <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>

        <script src="{{ STATIC_URL }}js/angularjs/ng-grid-2.0.7.min.js"></script>
        <script src="{{ STATIC_URL }}js/angularjs/controllers.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}js/angularjs/schedule-module.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}js/app/schedule.js?v={{ settings.VERSION }}.002"></script>

        <style>
            #new-schedule-modal .errorlist {
                display: inline-block;
                margin-left: 5px;
                color: red;
                margin-bottom: 0;
            }

            #edit-schedule-modal .errorlist {
                margin-left: 50px;
                color: red;
            }

            .filters li {
                display: inline-block;
                width: 210px;
            }

            .filters li .lb_title {
                font-size: 12px;
            }

            .gridStyle {
                border: 1px solid rgb(212, 212, 212);
                width: 652px;
                height: 400px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dp3').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'vi',
                    autoclose: true,
                    endDate: '{{current_due.due_date|date:'d/m/Y'}}',
                    maxDate: '0',
                });
                $('#dpk').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'vi',
                    autoclose: true,
                    endDate: '{{current_due.due_date|date:'d/m/Y'}}',
                    maxDate: '0',
                });

                $('#tab1 .schedule_left_item').click(function () {
                    $('#tab1 .schedule_left_item').removeClass('active');
                    $(this).addClass('active');
                });

                $('#tab2 .schedule_left_item').click(function () {
                    $('#tab2 .schedule_left_item').removeClass('active');
                    $(this).addClass('active');
                });

                $('#id_due_date').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'vi',
                    autoclose: true
                });

                $("#id-edit_due_date").datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'vi',
                    autoclose: true
                });

                $('#id-save-new-due').click(function () {
                    if (!$('#id_due_date').val()) {
                        alert('{% trans "Please choose due date" %}')
                    }
                    else if (!$('#id_quarter_name').val()) {
                        alert('{% trans "Please input name of review date" %}')
                    }
                    else
                        $("#id-new-due-form").submit();
                });

                {% if form.due_date.errors %}
                    $("#new-schedule-modal").modal('show');
                {% endif %}
                {% if eform.edit_due_date.errors %}
                    $("#edit-schedule-modal").modal('show');
                {% endif %}
            });

            function delete_due(obj, id, due) {
                if (confirm('{% trans "Do you want to delete this review date?" %}')) {
                    var data = {
                        'quarter_id': id,
                        'due_date': due
                    };
                    cloudjetRequest.ajax({
                        type: 'POST',
                        data: data,
                        url: "/performance/schedule/delete/",
                        beforeSend: function () {
                            $(obj).enable(false);
                        },
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $(obj).enable(true);
                            alert("{% trans "Delete review date error!" %}");
                        }
                    });
                }
            }
        </script>
    </div>
{% endblock %}
