{% load i18n %}
{% if organization.self_assessment and organization.review_360 %}
<ul class="review-steps">
	<li class="step" style="width: 23%;">
		<p><span class="big-letter-360">1</span> {% trans 'Self Assessments' %}</p>
		<div class="bar" id="id-bar-self">						
		</div>
	</li>
	<li class="step" style="width: 23%;">
		<p><span class="big-letter-360">2</span> {% blocktrans %}Invited 360<span id="upscript-360">o</span> Reviewers{% endblocktrans %}</p>
		<div class="bar" id="id-bar-360">						
		</div>
	</li>
	<li class="step" style="width: 23%;">
		<p><span class="big-letter-360">3</span> {% blocktrans %}Review my team{% endblocktrans %}</p>
		<div class="bar" id="id-bar-myteam">						
		</div>
	</li>
	<li class="step" style="width: 23%;">
		<p><span class="big-letter-360">4</span> {% blocktrans %}Share my reviews{% endblocktrans %}</p>
		<div class="bar" id="id-bar-share">						
		</div>
	</li>
</ul>
{% comment %}
<div id="self-assessments-360" style="width: 22%;margin-right: 20px">
	<p><span class="big-letter-360">1</span> {% trans 'Self Assessments' %}</p>
</div>
	
<div id="invited-360" style="width: 22%;margin-right: 20px;">
	<p><span class="big-letter-360">2</span> {% blocktrans %}Invited 360<span id="upscript-360">o</span> Reviewers{% endblocktrans %}</p>
</div>

<div id="invited-360" style="width: 22%;margin-right: 20px;">
	<p><span class="big-letter-360">3</span> {% blocktrans %}Review my team{% endblocktrans %}</p>
</div>

<div id="invited-360" style="width: 22%;">
	<p><span class="big-letter-360">4</span> {% blocktrans %}Share my reviews{% endblocktrans %}</p>
</div>
{% endcomment %}
{% endif %}