{% extends "base_performace.html" %}
{% load i18n user_tags kpi %}


{% block title %}{% trans "Team's performance reviews" %}{{ block.super }}{% endblock %}

{% block landing %}
    <div ng-app="cloudjet">
        <script src="{{ STATIC_URL }}bower_components/intro.js/intro.js" type="text/javascript"></script>
        <link href="{{ STATIC_URL }}bower_components/intro.js/introjs.css" rel="stylesheet">
        {#    <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">#}
        <script type="text/javascript">
            var share_to_manager = {% if share_to_manager %}true{% else %}false{% endif %};
            var share_to_all = {% if share_to_all %}true{% else %}false{% endif %};
        </script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/spacetree.css?v={{ settings.VERSION }}" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/modal-360.css?v={{ settings.VERSION }}"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}select/select2.css?v={{ settings.VERSION }}"/>
        <link href="{{ STATIC_URL }}css/font-awesome.css?v={{ settings.VERSION }}" rel="stylesheet">

        {% include 'performance/nav_bar.html' with logoLink="kpi-img/icon/peoplelist.png"|get_static notLogin="true" %}

        <div class="clear"></div>
        <div class="item_contain" ng-controller="PeopleListCtrl">
            <div class="menu_top">

                {#            <div class="home_back">#}
                {#            <a class="" target="_blank" href="https://drive.google.com/file/d/0B3gWJRuJ1nXTekVpYnRVbGlDQ1k/view?usp=sharing">#}
                {##}
                {#                <button  style="margin-top:7px;" type="button"#}
                {#                        class="btn btn-default btn-sm" id="btn-inline-introjs">#}
                {#                    <span class="glyphicon glyphicon-info-sign"></span> Tutorial#}
                {#                </button>#}
                {##}
                {#            </div>#}
                <script type="text/javascript">

                </script>
{#                <div id="btn-inline-introjs" class="home_back">#}
                    {#            <a class="" target="_blank" href="https://drive.google.com/file/d/0B3gWJRuJ1nXTekVpYnRVbGlDQ1k/view?usp=sharing">#}
{#                    <a target="_blank" href="https://kb.cjs.vn">#}
{#                        <div class="icon_back video">#}
{##}
{#                        </div>#}
{#                        <div class="content_back">#}
{#                            {% trans "Help" %}#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
                <!-- div class="home_back" style=" margin-right: 30px;">
            <a href="/performance/home/">
                <div class="icon_back note">
                </div>
                <div class="content_back">
                    {% trans "Notes" %}
                </div>
            </a>
        </div>
        <div class="home_back">
            <a href="/performance/home/">
                <div class="icon_back print">
                </div>
                <div class="content_back">
                    {% trans "Print" %}
                </div>
            </a>
        </div>
        <div class="home_back">
            <a href="/performance/home/">
                <div class="icon_back save">
                </div>
                <div class="content_back">
                    {% trans "Save" %}
                </div>
            </a>
        </div>
        <div class="home_back">
            <a href="/performance/home/">
                <div class="icon_back reload">
                </div>
                <div class="content_back">
                    {% trans "Reload" %}
                </div>
            </a>
        </div-->
                <div class="home_back dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="icon_back other">
                        </div>
                        <div class="content_back">
                            {% trans "Other periods" %}
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for q in quarter_periods %}
                            <li>
                                <a href="javascript:void(0)"
                                   ng-click="load_data_quarter('{{ q.due_date|date:'d-m-Y' }}')">{{ q.due_date|date:'d-m-Y' }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="home_back">
                    <a href="#devplan" data-toggle="modal">
                        <div class="dev icon_back">
                        </div>
                        <div class="content_back">
                            {% trans "Dev Plan" %}
                        </div>
                    </a>
                </div>

{#            <div class="home_back">#}
{#                <a data-toggle="modal" href="/performance/kpi_log/&#123&#123person.user_id&#125&#125/"#}
{#                   data-target="#kpi_log_modal">#}
{#                    <div class="history icon_back">#}
{#                    </div>#}
{#                    <div class="content_back">#}
{#                        {% trans "History " %}#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
            <div class="clear"></div>
        </div>

            <div class="hear_per_tab">
                <div class="nav_header_box">
                    <ul class="nav nav-tabs blue_bg">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">
                                <img src="{{ STATIC_URL }}kpi-img/icon/pef-review/performance.png"/>

                                <p style="font-weight: bold">
                                    {#                        {% trans "Step 1." %}#}
                                    <br/>
                                </p>

                                <p>{% trans "Performance" %}</p>
                            </a>
                        </li>
                        {% if organization.enable_competency %}
                            <li>
                                <a href="#tab2" data-toggle="tab">
                                    <img src="{{ STATIC_URL }}kpi-img/icon/pef-review/competency.png"/>

                                    <p style="font-weight: bold">
                                        <br/>
                                        {#                        {% trans "Step 2." %}#}
                                    </p>

                                    <p>{% trans "Competency" %}</p>
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab" onclick="setTimeout(function() {render_fix()},50)">
                                    <img src="{{ STATIC_URL }}kpi-img/icon/pef-review/performance.png"/>

                                    <p style="margin-top: 13px;">{% trans "Analysis" %}</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div>
                <div class="people_left">
                    <div>
                        <h3 style="margin: 0;line-height: 20px;color: #555">{% trans "Performance reviews"%}</h3>
                        {% with c_user|display_name as display_name %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'en' %}
                            <p style="color: #00a8a9">for {{ display_name }}'s team"</p>
                                {% else %}
                                <p style="color: #00a8a9">cho nhóm của {{ display_name }}</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="people_left people_box" style="float:none; width: 255px; margin-left: 0px">
                        {#            <div class="per_radio_box">#}
                        {#                <ul>#}
                        {#                    <li><input type="radio" name="view" checked="checked" value="1"#}
                        {#                               ng-model="choice"> {% trans "Team View" %}</li>#}
                        {#                    <li><input type="radio" name="view" value="2" ng-model="choice"> {% trans "Solo View" %}</li>#}
                        {#                    <div class="clear"></div>#}
                        {#                </ul>#}
                        {#            </div>#}

                        {#            <div class="item_people_input" style="margin: 11px 5px" ng-show="choice == '1'">#}
                        {#                <div class="lb_title" style="font-weight: normal;min-width: 30px">{% trans "Filter:" %}</div>#}
                        {#                <div class="ctr_input">#}
                        {#                    <select class="" style="width: 200px" ng-model="query" ng-change="search()">#}
                        {#                        <option value="">{% trans "Show all my people" %}</option>#}
                        {#                        {% for i in jobs_title %}#}
                        {#                            <option value="{{ i }}">{{ i }}</option>#}
                        {#                        {% endfor %}#}
                        {#                    </select>#}
                        {#                </div>#}
                        {#                <div class="clear"></div>#}
                        {#            </div>#}
                        <div>
                            <label class="checkbox" style="font-size: 12px;margin: 5px 0 0 5px">
                                <input type="checkbox" ng-click="update_profile()"
                                       ng-model='profile.get_confirm_kpis'> {% trans 'Complete editing KPIs' %}
                            </label>
                        </div>
                        <div>
                            <label class="checkbox" style="font-size: 12px;margin: 5px 0 0 5px">
                                <input type="checkbox" ng-model='hide_assigned_kpi'> {% trans 'Hide assigned KPIs' %}
                            </label>
                        </div>
                        <div class="item_people_input" style="margin: 11px 5px;height: auto;" ng-show="choice == '2'">
                            <div class="lb_title"
                                 style="font-weight: normal;min-width: 30px;margin-top: 1px;float: left;">{% trans "Show:" %}</div>
                            <div class="ctrl_input form-inline" style="float: left;width: 185px;">
                                <label class="checkbox">
                                    <input type="checkbox" name="history" ng-model='history'> {% trans "History" %}
                                </label>

                                <label class="checkbox">
                                    <input type="checkbox" name="self" ng-model='self'> {% trans "Self" %}
                                </label>
                                {% if organization.review_360 %}
                                    <label class="checkbox">
                                        <input type="checkbox" name="pre-360" ng-model='p360'> {% trans "360" %}
                                    </label>
                                {% endif %}
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div>
                            {# <a class="btn_help previous" style="color: #333">&lt;</a> #}
                            <ul class="people_slide" style="padding: 5px">
                                <li ng-repeat="u in filteredPeople">
                    	<span>
                    		{% if organization.enable_bsc %}
                                {#                    		<span style="cursor: pointer;" tooltip title="&#123&#123total_kpi_not_confirm(u)&#125&#125 {% trans 'KPIs unconfirmed' %}" class="kpi_not_confirm" ng-show="total_kpi_not_confirm(u) > 0 && u.is_active" ng-class="{active:$index==currentPerson}">&#123&#123total_kpi_not_confirm(u)&#125&#125</span>#}
                            {% endif %}
                            <a title="&#123&#123u.name&#125&#125" class="icon_people" tooltip
                               ng-class="{active:$index==currentPerson}"
                               style="display: block; width: 26px; height: 34px"
                               ng-click="changePerson($index)">

	                            <img ng-src="{{ STATIC_URL }}img/csb/&#123&#123person_icon(u)&#125&#125"
                                     src="{{ STATIC_URL }}img/csb/person-m.png"/>
                                <!-- 								<img alt="&#123&#123u.name&#125&#125" src="&#123&#123u.avatar&#125&#125" style="height: 16px;width: 16px;position: absolute;left: 4px;top: 16px;border-radius: 50%;border: 1px solid #ccc;"> -->
	                            <p class="short_name" style="bottom: 8px; font-weight: bold;left: 5px;">
	                                &#123&#123u.brief_name&#125&#125</p>
	                       	</a>
                       	</span>
                                </li>
                            </ul>


                            {# <a class="btn_help next" style="color: #333">&gt;</a> #}
                            <div class="clear"></div>
                            <button data-toggle="modal" data-target="#member-modal" class="btn btn-primary btn-mini"
                                    style="float:right">{% trans "Add employee" %}</button>


                            <div class="clear"></div>
                        </div>
                    </div>


                    <div class="people_box black_border" style="margin-top: 20px">
                        <div class="title_box profile_title">
                            &#123&#123person.name&#125&#125
                        </div>
                        <div>
                            {#                <div class="nav_header_box">#}
                            {#                    <ul class="nav nav-tabs">#}
                            {#                        <li class="active"><a href="#tabadmin1" data-toggle="tab">{% trans "Admin" %}</a></li>#}
                            {#                        <li><a href="#tabadmin2" data-toggle="tab" style="display: none;">{% trans "Reviews" %}</a></li>#}
                            {#                    </ul>#}
                            {#                </div>#}

                            <div class="tab-content" style="margin-top: 10px;">
                                <div class="tab-pane active" id="tabadmin1">
                                    <p ng-hide="person.position"><span
                                            class="head_content">{% trans "Role type:" %} </span><span>&#123&#123person.job_title_name&#125&#125</span>
                                    </p>

                                    <p ng-show="person.position"><span
                                            class="head_content">{% trans "Position" %}: </span><span>&#123&#123person.position&#125&#125</span>
                                    </p>

                                    <div class="pane-contain">
                                        <p><span class="head_content">{% trans "Employee code" %}:</span><span>&#123&#123person.employee_code&#125&#125</span>
                                        </p>

                                        <p><span class="head_content">{% trans "Start date:" %}</span><span>&#123&#123person.start_date&#125&#125</span>
                                        </p>

                                        <p><span class="head_content">{% trans "Role start:" %}</span><span>&#123&#123person.role_start&#125&#125</span>
                                        </p>
                                    </div>
                                    <div class="people_icon">
                                        <div class="image_box">
                                            <img src="&#123&#123person.get_avatar&#125&#125">
                                        </div>
                                    </div>
                                    <div class="clear"></div>

                                    <p><span class="head_content">{% trans "Phone:" %}</span><span
                                            ng-bind="person.phone"></span></p>

                                    <p><span class="head_content">{% trans "Skype:" %}</span><span
                                            ng-bind="person.skype"></span></p>
                                    <a>&#123&#123person.email&#125&#125</a>
                                    {% comment %}
                        <div ng-show="person">
                        	<label class="checkbox" style="font-size: 12px">
                        		<input ng-disabled="!current" type="checkbox" ng-checked="person.is_deputy_manager" ng-model='person.is_deputy_manager' ng-click="update_role()"> {% trans "Deputy manager" %}
                        	</label>                        	
                        </div>
                        {% endcomment %}
                                </div>

                                <div class="tab-pane" id="tabadmin2" style="display: none;">
                                    <div class="pane-contain">
                                        <p><span
                                                class="head_content">{% trans "Payband:" %}</span><span>{% trans "Payband 5" %}</span>
                                        </p>

                                        <p><span
                                                class="head_content">{% trans "Location:" %}</span><span>{% trans "Head office" %}</span>
                                        </p>

                                        <p><span
                                                class="head_content">{% trans "Leave:" %}</span><span>{% trans "Leadership" %}</span>
                                        </p>

                                        <p><span
                                                class="head_content">{% trans "Promotable:" %}</span><span>{% trans "Track" %}</span>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="form-inline" style="margin-top: 5px">
                                <label class="radio" style="margin-right: 30px">
                                    <input type="radio" value="active" ng-model="person.status"
                                           ng-click="update_status()"
                                           name="actgroup" id="id-active"/> {% trans "Active" %}
                                </label>
                                <label class="radio">
                                    <input type="radio" value="inactive" ng-model="person.status"
                                           ng-click="update_status()"
                                           name="actgroup" id="id-inactive"/> {% trans "Inactive" %}
                                </label>

                                <span style="float: right;">
            			<img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_saving" style="display: none;">
						<img src="{{ STATIC_URL }}img/csb/tick.png" id="id_saved" style="display: none;">
            		</span>
                            </div>
                        </div>
                    </div>

                    <div class="people_left people_box"
                         style="float:none; width: 255px; margin-left: 0px; margin-top: 20px">
                           {% blocktrans %}Due in {{ remain }} days{% endblocktrans %}</p>

                        <div class="item_people_input" style="margin: 11px 5px">
                            <div class="lb_title"
                                 style="font-weight: normal;min-width: 30px">{% trans "Progress:" %}</div>
                            <div class="ctr_input form-inline">
                                <div class="progress progress-success prog-view">
                                    <div class="bar" style="width: 0%"></div>
                                </div>
                                <input type="button" value="{% trans 'Detail' %}" class="float_left mango_bt"
                                       style="height: 20px; margin-left: 5px" data-toggle="modal"
                                       data-target="#modal-360">


                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div style="display: none;">
                            <div class="item_people_input" style="color: #00a8a9">
                                <label class="checkbox" style="font-size: 12px">
                                    <input ng-disabled="!current" type="checkbox" ng-model="share_to_manager"
                                           ng-checked="share_to_manager"
                                           ng-click="update_share()"/> {% trans "Share with my manager" %}
                                </label>
                            </div>
                            <div class="item_people_input" style="color: #00a8a9">
                                <label class="checkbox" style="font-size: 12px">
                                    <input ng-disabled="!current" type="checkbox" ng-model="share_to_all"
                                           ng-checked="share_to_all"
                                           ng-click="update_share()"/> {% trans "Share with all my employees" %}
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="float_left">
                    <div class="tab-content" style="min-height: 610px;overflow: visible;">
        <span style="margin-left: 10px; color:#BA1908;"><i>{% trans "Note: KPIs you do not set target, It will NOT be revew." %}</i>
        (<a href="https://infinit.io/_/SwZ23Rb" target="_blank">{% trans "View example" %}</a>)
        </span>
                        <div class="tab-pane active" id="tab1">
                            <div class="navbar" style="margin-bottom: 0;margin-left: 10px;margin-top: 10px">
                                <div class="navbar-inner" style="min-height: 30px;width: 680px;padding: 0 10px;">
                                    <div class="container">
                                        {% if subordinate_team %}
                                            <ul class="nav">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                       style="padding: 5px;">{% trans 'View subordinate group' %} <b
                                                            class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        {% for i in subordinate_team %}
                                                            <li>
                                                                <a href="{% url 'team_performance' %}?team={{ i.user_id }}">
                                                                    {% blocktrans with i.display_name as display_name %}
                                                                        {{ display_name }}'s team{% endblocktrans %}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                                </li>
                                            </ul>
                                        {% endif %}

                                        {% if organization.id == 47 or organization.id == 1 %}
                                            <ul class="nav" style="display: none;">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                       style="padding: 5px;">Nhập điểm KPI <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="#kpi-score-modal" data-toggle="modal">Điểm KPI</a>
                                                            <a href="#competency-score-modal" data-toggle="modal">Điểm
                                                                năng
                                                                lực</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        {% endif %}
                                        <a onclick="$('.tabitem2').click();$('.kpi-refresh').click();"
                                           style="margin: 4px 0 4px 15px;display: inline-table;">
                                            <i class="fa fa-refresh" style="margin-top:5px;"></i>
                                        </a>

                                        <a class="btn btn-mini  btn-primary pull-right"
                                           style="margin: 4px 0 4px 15px;display: inline-table;"
                                           ng-click="export_to_excel()"><i
                                                class="fa fa-download"></i> {% trans 'Export to Excel' %}
                                        </a>

                                        {% if organization.enable_to_edit or super_permission %}
                                            <a class="btn btn-mini  btn-primary pull-right"
                                               style="margin: 4px 0 4px 15px;"
                                               target="_blank" href="/performance/import/kpis/copy#/"><i
                                                    class="fa fa-files-o"></i> {% trans 'Duplicate KPI & competency' %}
                                            </a>

                                            {% comment %}
                            <a ng-show="current" class="btn btn-mini  btn-primary pull-right btn-small" style="margin: 4px 0 4px 15px;"
		                       data-toggle="modal" href="#import-kpi-modal"><i class="fa fa-file-text"></i> {% trans 'Import KPI' %}</a>
		                     {% endcomment %}
                                            <a ng-show="current" class="btn btn-mini  btn-primary pull-right"
                                               style="margin: 4px 0 4px 15px;"
                                               data-toggle="modal" ng-click="init_smart_kpi()" href="#kpi-wizard"><i
                                                    class="fa fa-plus"></i> {% trans 'Add KPI' %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div>
                                {% include "performance/includes/team_kpis.html" %}
                            </div>

                        </div>

                        {% if organization.enable_competency %}
                            <div class="tab-pane" id="tab2">
                                <div class="navbar" style="margin-bottom: 0;margin-left: 10px;margin-top: 10px">
                                    <div class="navbar-inner" style="min-height: 30px;width: 660px">
                                        <div class="container">
                                            <a class="btn btn-mini  btn-primary pull-right"
                                               style="margin: 4px 0 4px 15px;display: inline-table;"
                                               ng-click="export_to_excel()"><i
                                                    class="fa fa-download"></i> {% trans 'Export to Excel' %}
                                            </a>



{#                                                {% if organization.enable_edit or super_permission %}#}
                                                {% if organization.enable_to_edit or super_permission %}
                                                <a ng-show="current" class="btn btn-mini  btn-primary pull-right"
                                                   style="margin: 4px 0 4px 15px;"
                                                   data-toggle="modal" ng-click="init_people_data()"
                                                   href="#duplicate-modal"><i
                                                        class="fa fa-files-o"></i> {% trans 'Duplicate KPI & competency' %}
                                                </a>
                                                <a ng-show="current" class="btn btn-mini  btn-primary pull-right"
                                                   style="margin: 4px 0 4px 15px;"
                                                   data-toggle="modal" ng-click="load_competency()" href="#kpi-modal"><i
                                                        class="fa fa-plus"></i> {% trans 'Add competency' %}</a>

                                                <a ng-show="current" class="btn btn-mini  btn-primary pull-right"
                                                   style="margin: 4px 0 4px 15px;"
                                                   ng-click="add_basic_competency(person.user_id)" href="#"><i
                                                        class="fa fa-plus"></i> {% trans 'Basic competency' %}</a>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div>


                                    {% include "performance/includes/team_competency.html" %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="tab-pane" id="tab3"
                             style="width: 615px;height: 610px;{% if not organization.enable_competency %}display: none{% endif %}">
                            <div class="clearfix">
                                <div style="float: left;width: 350px;margin-left: 45px;font-size: 14px">
                                    <u>{% trans 'Performance score' %}</u>: <strong
                                        ng-bind="to_percent(person.kpi_final_score)"></strong></div>
                                <div style="float: left;font-size: 14px"><u>{% trans 'Potential score' %}</u>: <strong
                                        ng-bind="to_percent(person.competency_final_score)"></strong></div>
                                <div style="float: right;">
                                    <div class="btn-group">
                                        <button title="{% trans 'Display grid chart' %}"
                                                ng-click="update_chart_type('0')"
                                                type="button" class="btn btn-primary btn-small chart-options"
                                                ng-class="{active: chart_type == '0'}"><i class="fa fa-table"></i>
                                        </button>
                                        <button title="{% trans 'Display performance chart of this employee over review periods' %}"
                                                ng-click="update_chart_type('1')" type="button"
                                                class="btn btn-primary btn-small chart-options"
                                                ng-class="{active: chart_type == '1'}"><i class="icon-bar-chart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="helicopter-chart" id="id-helicopter-chart" ng-show="chart_type=='0'">
                                <div id="chart" style="width:561px;height:561px;">
                                </div>
                            </div>

                            <div class="kpi-chart" id="id-kpi-chart" ng-show="chart_type=='1'">
                                <div id="performance-chart" style="width:561px;height:561px;">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>

                <div style="margin-top: 8px;">

                    {% include "performance/includes/kpi_approval.html" %}
                </div>
                <div id="devplan" class="modal hide fade" data-backdrop="false">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <div>
                            <img src="{{ STATIC_URL }}img/user.png">
                            <strong style="font-size: 15px;"><span>&#123&#123person.name&#125&#125</span> -
                                <span>{% trans "Development Plan" %}</span></strong>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>{% trans "Short term career objective" %}</p>
                            <textarea id="short-career" ng-model="short_term_career"
                                      ng-click="update_plan(person.profile, 1)"
                                      ng-model-options="{ updateOn: 'blur' }"></textarea>
                            <input data-toggle="modal" data-target="#career-choice" type="button" class="mango_bt"
                                   value="{% trans 'Add career opportunity' %}" onclick="$('#return-value').val(1)">
                        </div>
                        <hr style="margin: 5px 0;">
                        <div>
                            <p>{% trans "Short term development activities" %}</p>
                            <textarea style="height: 130px" ng-model="short_term_development"
                                      ng-change="update_plan(person.profile, 2)"
                                      ng-model-options="{ updateOn: 'blur'}"></textarea>
                        </div>
                        <hr style="margin: 5px 0;">
                        <div>
                            <p>{% trans "Long term career objective" %}</p>
                            <textarea id="long-career" style="height: 130px" ng-model="long_term_career"
                                      ng-change="update_plan(person, 3)"
                                      ng-model-options="{ updateOn: 'blur'}"></textarea>
                            <input data-toggle="modal" data-target="#career-choice" type="button" class="mango_bt"
                                   value="{% trans 'Add career opportunity' %}" onclick="$('#return-value').val(2)">
                        </div>
                        <div>
                            <p>{% trans "Long term development activities" %}</p>
                            <textarea style="height: 130px" ng-model="long_term_development"
                                      ng-change="update_plan(person, 4)"
                                      ng-model-options="{ updateOn: 'blur'}"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding: 5px 10px;">
                        <a href="#" class="btn btn-primary" data-dismiss="modal"
                           aria-hidden="true">{% trans "Close" %}</a>
                    </div>
                </div>
                <input type="hidden" id="return-value" value="">

                <div id="career-choice" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3>{% trans "Add career opportunity" %}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="left">
                                <p>{% trans "Available snippets:" %}</p>
                                <select size="10" style="font-size: 12px;" ng-model='job_name' id="job-list">
                                    {% for i in jobs %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="left" style="margin-left: 20px;">
                                <p>{% trans "Review:" %}</p>

                                <div style="margin-top: 5px">&#123&#123job_name&#125&#125</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding: 5px 10px;">
                        <a id="add-job" href="#" class="btn btn-primary">{% trans "Add career opportunity" %}</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal"
                           aria-hidden="true">{% trans "Close" %}</a>
                    </div>
                </div>

                <div id="kpi-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans "Update KPI" %}</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="items">
                            {{ form.as_ul }}
                            <li>
                                <label>{% trans "Parent:" %}</label>
                                <select id="id_parent" name="parent"></select>
                            </li>
                            <li>
                                <input type="hidden" name="obj_id" id="id_obj_id">
                                <input type="hidden" name="person_id" id="id_person_id">
                                <input type="hidden" name="type" id="id_type">
                                <input type="button" id="id_save_change" value="{% trans 'Save' %}"
                                       class="btn btn-primary"
                                       style="width: 100px;">
                                <img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_saving" style="display: none;">
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="member-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans "Add employee" %}</h3>
                    </div>
                    <div class="modal-body">
                        <form id="id-form-member">
                            <ul class="items">
                                {{ member_form.as_ul }}
                                <li>
                                    <input type="hidden" name="report_to" id="id_report_to" value="{{ c_user.id }}">
                                    <input type="button" id="id_btn_add_member" value="{% trans 'Save' %}"
                                           class="btn btn-primary"
                                           style="width: 100px;" ng-click="add_member()">
                                    <img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_saving" style="display: none;">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>


                <div id="kpi-wizard" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'KPI Setting Wizard' %}</h3>
                    </div>
                    <div class="modal-body">
                        {% include 'performance/includes/kpi_form.html' %}
                        <input type="button" id="id_save_change" value="{% trans 'Save' %}" class="btn btn-primary"
                               style="width: 100px;float: right;" ng-click="update_kpi_wizard()">
                        <img src="{{ STATIC_URL }}img/csb/saving.gif" id="id_kpi_saving" style="display: none;">
                    </div>
                </div>

                <div id="individual-grid" class="modal hide fade" data-backdrop="false">
                    <div class="modal-header analysis-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div>
                            <img src="{{ STATIC_URL }}img/user.png">
                            <strong style="font-size: 15px;"><span>&#123&#123person.name&#125&#125</span> -
                                <span>{% trans "Individual Grid Analysis" %}</span></strong>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p><strong>Position on Grid: &#123&#123get_position_on_grid()&#125&#125</strong></p>

                            <div class="clearfix">
                                <div class="left" style="width: auto;">
                                    <div class="grid-analysis" ng-class="get_class()">
                                    </div>
                                </div>
                                <div class="left cell-description" ng-bind-html="cell_description">
                                </div>
                            </div>
                        </div>
                        <div style="border-top: 1px solid #ccc;margin: 10px 0;padding-top: 10px">
                            <p><strong>Historical Trend: No History</strong></p>

                            <div>
                                If the person is still very new to the role, then there is insufficient information to
                                provide a trend arrow. You should utilise the rest of the information on this page, but
                                do so very cautiously since there is not yet enough evidence for you to be sure of the
                                accuracy or sustainability of the assessments you have made thus far about the person's
                                performance and/or potential.
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="#" class="btn" data-dismiss="modal" style="float: right;">Close</a>
                        </div>
                    </div>
                </div>


                <div class="modal hide fade" id="modal-360" data-backdrop="false" style="z-index: 1040">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 30px;">&times;</button>
                        <h3 class="modal-title">
                            {% blocktrans with quarter_period=quarter_period.due_date|date:"d M" %}{{ quarter_period }}
                                Reviews: Due in {{ remain }} Days{% endblocktrans %},
                            &#123&#123total_progress()&#125&#125% {% trans 'Complete' %}</h3>
                    </div>
                    <div class="modal-body" id="body-360">
                        {% include "performance/steps.html" %}
                        <div class="clearfix">
                            <div class="clearfix" style="padding: 10px 0">
                                <div class="left">
                                    <select style="margin-bottom: 0" ng-model="filter_options">
                                        <option value="">{% trans 'Show all' %}</option>
                                        <option value="1">{% trans 'Show manager reviews' %}</option>
                                        <option value="2">{% trans 'Show self reviews' %}</option>
                                        <option value="3">{% trans 'Show 360&#186; reviews' %}</option>
                                    </select>
                                </div>
                                <div class="right">
                                    <label class="checkbox" style="margin-top: 5px;">
                                        <input type="checkbox" name="share_status" ng-model="share_to_manager"
                                               ng-checked="share_to_manager"
                                               ng-click="update_share()"> {% trans 'Share my self assessment with my manager' %}
                                    </label>
                                </div>
                            </div>

                            <div id="table-360">
                                <table width="100%" class="table-task">
                                    <tr id="table-header-360">
                                        <th id="begin-360">{% trans 'Person' %}</th>
                                        <th>
                                            <label class="checkbox">
                                                {% trans 'Sharing' %}
                                                <input type="checkbox" ng-model="share_to_all" disabled="disabled">
                                            </label>
                                        </th>
                                        <th><label>{% trans 'Done' %}</label></th>
                                        <th>
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="reminder_all"
                                                       ng-click="check_email_reminder()"> {% trans 'Remind' %}
                                            </label>
                                        </th>
                                        <th><label>{% trans 'Last action' %}</label></th>
                                        <th id="last-360" width="135px"><label>{% trans 'Last edited' %}</label></th>
                                    </tr>
                                    <tbody ng-repeat="p in people">
                                    <tr style="background-color: #eeeff0">
                                        <td>
                                            <a href="mailto:&#123&#123p.email&#125&#125" target="_blank"><img
                                                    src="{{ STATIC_URL }}img/cjet/mail-icon.png"> <strong
                                                    style="color: #0480ca">&#123&#123p.name&#125&#125</strong></a>
                                        </td>
                                        <td colspan="5">
                                            <label class="checkbox" style="margin-bottom: 0;">
                                                <input type="checkbox" ng-model="p.share_to_self"
                                                       disabled="disabled"> {% trans 'Share my review with' %}
                                                &#123&#123p.name&#125&#125
                                            </label>
                                        </td>
                                    </tr>
                                    <tr ng-hide="filter_options == '2' || filter_options == '3'">
                                        <td>{% trans "Manager's review" %}</td>
                                        <td>
                                            <i class="share-icon" ng-class="{'shared-icon': p.share_to_self}"></i>
                                            <span ng-hide="p.share_to_self">{% trans 'not share' %}</span>
                                            <span ng-show="p.share_to_self">{% trans 'shared' %}</span>
                                        </td>
                                        <td>&#123&#123get_round_progress(p)&#125&#125%</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-hide="filter_options == '1' || filter_options == '3'">
                                        <td>{% trans 'Self assessment' %}</td>
                                        <td>
                                            <i class="share-icon" ng-class="{'shared-icon': p.share_to_manager}"></i>
                                            <span ng-hide="p.share_to_manager">{% trans 'not share' %}</span>
                                            <span ng-show="p.share_to_manager">{% trans 'shared' %}</span>
                                        </td>
                                        <td>&#123&#123p.self_percent_finished&#125&#125%</td>
                                        <td>
                                            <input ng-click="check_email_reminder()"
                                                   ng-checked="reminder_all && filter_options != '1' && filter_options != '3' && p.self_percent_finished<100"
                                                   type="checkbox" style="margin-left: 20px" class="remind_self_review"
                                                   data-user="&#123&#123p.user_id&#125&#125"
                                                   data-name="&#123&#123p.name&#125&#125"
                                                   ng-show="p.self_percent_finished<100">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="review-360-row" ng-repeat="review in p.reviews"
                                        ng-hide="filter_options == '1' || filter_options == '2'">
                                        <td>
                                            <div>
                                                <span>&#123&#123review.reviewer&#125&#125, &#123&#123review.review_type&#125&#125</span>
                                                <span class="delete-btn" style="float: right;"><a
                                                        ng-click="remove_360_invitation(p, review)"><i
                                                        class="icon-remove"></i> {% trans 'Delete' %}</a></span>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <span ng-hide="review.is_complete">&#123&#123review.completion&#125&#125%</span>
                                            <span ng-show="review.is_complete">{% trans 'Complete' %}</span>
                                        </td>
                                        <td>
                                            <input ng-click="check_email_reminder()"
                                                   ng-checked="reminder_all && filter_options != '1' && filter_options != '2' && !review.is_complete"
                                                   type="checkbox" style="margin-left: 20px"
                                                   data-pk="&#123&#123review.id&#125&#125"
                                                   class="remind_review" data-name="&#123&#123review.reviewer&#125&#125"
                                                   ng-hide="review.is_complete">
                                        </td>
                                        <td>
                                            Invited &#123&#123review.invited_at&#125&#125
                                        </td>
                                        <td>&#123&#123review.updated_at&#125&#125</td>
                                    </tr>
                                    {% if organization.review_360 %}
                                        <tr ng-hide="filter_options == '1' || filter_options == '2'">
                                            <td colspan="6">
                                                <a ng-click="show_invitation_form(p)" role="button"
                                                   style="font-size: 12px;text-decoration: underline;">
                                                    <i class="icon-plus"></i> {% trans 'Invite 360 reviewer' %}</img>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div style="margin: 5px 0px;float: right;">
                            <button style="margin-right: 220px;" class="btn btn-primary" data-toggle="modal"
                                    id="btn-send-reminder"
                                    data-target="#reminder-modal"
                                    disabled="disabled">{% trans "Email reminders" %}</button>
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">{% trans 'Close' %}</button>
                        </div>
                    </div>
                </div>

                <div class="modal hide fade" id="inviteModal">
                    <div class="modal-header" id="popup-title-360">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><span>&#123&#123person.name&#125&#125</span>
                            - {% trans 'new 360 review invitation' %}</h3>
                    </div>
                    <div class="modal-body" id="popup-modal-body-360">
                        <h3 style="margin: 0">{% trans 'Reviewer Details' %}</h3>

                        <form id='invitation-form' style="margin: 0">
                            <ul id="inner-invitation">
                                {{ invitation_form.as_ul }}
                            </ul>
                            <input type="hidden" name="reviewee" id="id_reviewee">
                            <input type="reset" id="reset-invitation-form" style="display: none;">
                        </form>
                        <div class="clearfix">
                            <div class="right">
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader.gif" id="send_invitation"
                                     style="display: none;">
                                <button type="submit" class="btn btn-primary" ng-click="invite_review()"
                                        id="btn-send-invitation">{% trans 'Send Invitation' %}</button>
                                <button type="button" class="btn btn-primary"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="copy-kpi-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title"></h3>
                    </div>
                    <div class="modal-body">
                        <ul class="items">
                            <li>
                                <label>{% trans 'Employee' %}:</label>
                                <select select2 name="employee_to" id="id_employee_to" ng-model='employee_to'
                                        ng-change="load_kpi_by_user()">
                                    <option ng-repeat="emp in employee_choices" value="&#123&#123emp.user_id&#125&#125">
                                        &#123&#123emp.display_name&#125&#125
                                    </option>
                                </select>
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader1.gif" style="display: none;"
                                     id='employee-loading'>
                            </li>
                            <li>
                                <label class="checkbox copy-all" style="width: 450px;">
                                    <input type="checkbox" ng-model='copy_all'>
                                    <span>{% trans 'Copy all KPIs of current employee for this employee' %}</span>
                                </label>
                            </li>
                            <li class="parent-for-child">
                                <label>{% trans "Parent" %}:</label>
                                <select id="id_parent_kpi" name="parent-kpi" ng-model="selected_kpi">
                                    <option value="" selected="selected"></option>
                                    <option ng-repeat="kpi in current_kpis" value="&#123&#123kpi.id&#125&#125">
                                        &#123&#123kpi.name&#125&#125
                                    </option>
                                </select>
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader1.gif" style="display: none;"
                                     id='kpi-loading'>
                                <input type="hidden" name="kip_from" id="id_kpi_from">
                            </li>
                            <li>
                                <input type="hidden" name="obj_id" id="id_obj_id">
                                <input type="hidden" name="person_id" id="id_person_id">
                                <input type="hidden" name="type" id="id_type">
                                <input type="button" id="id_copy_btn" ng-click='process_copy()'
                                       value="{% trans 'Save' %}"
                                       class="btn btn-primary" style="width: 100px;">
                                <span id="copy-status" style="display: none;"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="reminder-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Review reminders' %}</h3>
                    </div>
                    <div class="modal-body">
                        <p class="reminder-text">{% blocktrans %}Your reminder will be sent to these
                            people{% endblocktrans %}</p>

                        <div>
                            <h5 class="reminder-text" style="margin: 0"
                                ng-show="has_self_reminder() && has_self_and_360_reminder()">{% trans "Self-assessment" %}</h5>
                            <ul class="list-people" ng-show="has_self_reminder()">
                                <li ng-repeat="item in self_reminder_list()">&#123&#123item&#125&#125,</li>
                            </ul>
                        </div>

                        <div>
                            <h5 class="reminder-text" style="margin: 0"
                                ng-show="has_360_reminder() && has_self_and_360_reminder()">{% trans "360 reviewers" %}</h5>
                            <ul class="list-people" ng-show="has_360_reminder()">
                                <li ng-repeat="item in r360_reminder_list()">&#123&#123item&#125&#125,</li>
                            </ul>
                        </div>

                        <div>
                            <p class="reminder-text">{% trans "Your message" %}:</p>
                            <textarea style="width: 450px;height: 70px;font-size: 12px" ng-model="msg_reminder"
                                      required="required"></textarea>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary" ng-click="send_reminders()"
                                    id="btn-send-reminders">{% trans 'Send reminder' %}</button>
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">{% trans "Cancel" %}</button>
                            <span class="reminder-status"></span>
                        </div>
                    </div>
                </div>

                <div id="duplicate-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Duplicate KPI & competency' %}</h3>
                    </div>
                    <div class="modal-body">
                        <label>{% trans 'Select employee' %}:</label>
                        <select class="people_choice" multiple="multiple" id="id_people_choice">
                            <option ng-repeat="emp in employee_choices" value="&#123&#123emp.user_id&#125&#125">
                                &#123&#123emp.display_name&#125&#125
                            </option>
                        </select>

                        <label class="checkbox">
                            <input type="checkbox"
                                   ng-model="delete_all_kpis"> {% trans 'Delete all KPIs and competencies of these people before copying' %}
                        </label>

                        <div class="form-inline" style="margin-top: 10px">
                            <input type="button" value='{% trans "Duplicate" %}'
                                   class="btn btn-primary duplicate-action"
                                   ng-click="duplicate_people()">
                            <span id="duplicate-status" style="display: none;margin-left: 10px"></span>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="kpi_log_modal" class="modal hide fade" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true" style="width: 650px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">{% trans 'History' %}</h3>
                    </div>

                    <div id="kpi_log_modal_body" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>

                    </div>
                </div>

                <div id="assigned-to-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Assign to' %}</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="items">
                            <li>
                                <label>{% trans 'Employee' %}:</label>
                                <select select2 name="assign_employee_to" id="id_employee_assign_to"
                                        ng-model='assign_employee_to'
                                        ng-options="emp.id as emp.value for emp in assign_employees">
                                </select>
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader1.gif"
                                     style="display: none;margin-top: -8px;" id='assign-employee-loading'>
                            </li>

                            <li>
                                <input type="button" id="id_assign_btn" ng-click='save_assign(current_kpi)'
                                       value="{% trans 'Save' %}"
                                       class="btn btn-primary" style="width: 100px;">
                                <span id="copy-status" style="display: none;"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="align-up-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Align up KPIs manager' %}</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="items">
                            <li>
                                <label>{% trans 'KPI manager' %}:</label>
                                <select name="selected_kpi" id="id_selected_kpi" ng-model='selected_kpi'
                                        ng-options="kpi.id as kpi.name for kpi in align_kpis">
                                </select>
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader1.gif"
                                     style="display: none;margin-top: -8px;" id='align-up-loading'>
                            </li>
{#                            {% if fresh_user|is_consultant or fresh_user.is_staff %}#}
{#                                <li>#}
{##}
{#                                    <input type="checkbox" id="consultant-align-by-id"> Align by KPI ID (consultant#}
{#                                    only)<br>#}
{#                                    <input type="number" id="align_to_kpi_id">#}
{#                                </li>#}
{#                            {% endif %}#}

                            <li>
                                <input type="button" id="id_align_up_btn"
                                       ng-click='save_align_up_kpi(current_kpi, person.user_id)'
                                       value="{% trans 'Save' %}"
                                       class="btn btn-primary" style="width: 100px;">
                                <span id="copy-status" style="display: none;"></span>
                            </li>
                        </ul>

                    </div>
                </div>

                <div id="transfer-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Transfer KPI' %}</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="items">
                            <li>
                                <div style="font-size: 14px">{% trans 'The selected KPI will be transfered to a selected user below' %}:</div>
                            </li>
                            <li>
                                <label>{% trans 'Transfer to' %}:</label>
                                <select name="selected_user" id="id_selected_user" ng-model='selected_user'
                                        ng-options="t.user_id as t.display_name for t in transfer_users">
                                </select>
                                <img alt="" src="{{ STATIC_URL }}img/cjet/loader1.gif"
                                     style="display: none;margin-top: -8px;" id='transfer-loading'>
                            </li>

                            <li>
                                <input type="button" id="id_transfer_btn" ng-click='transfer_kpi_to(person.user_id)'
                                       value="{% trans 'Transfer' %}"
                                       class="btn btn-primary" style="width: 100px;">
                                <span id="transfer-status" style="display: none;margin-left: 10px"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="display: none;">
{#                    <form action="{% url 'teamperformance_export' %}" method="post" style="margin-bottom: 5px;"#}
{#                          id='id_report'> {% csrf_token %}#}
{#                        <input type="hidden" name="user_id" id="id_user_export">#}
{#                        <input type="hidden" name="quarter_period" id="id_quarter_period_export">#}
{#                        <input type="hidden" name="person_export" value="1">#}
{#                    </form>#}
                </div>

                <div id="import-kpi-modal" class="modal hide fade">
                    <div class="modal-header" style="padding: 2px 15px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="font-size: 20px;">&times;</button>
                        <h3 id="id-modal-title">{% trans 'Import KPI' %}</h3>
                    </div>
                    <div class="modal-body">
                        <iframe ng-src="&#123&#123load_src_iframe(person)&#125&#125" height="250" width="450"
                                frameBorder="0"></iframe>
                    </div>
                </div>

                <div class="show-performance-score">
                    <img class="close" alt="close" src="{{ STATIC_URL }}img/close.png" ng-click="hide_score()">
                    KPI: <span ng-bind="to_percent(person.kpi_final_score)"></span>
                </div>


            </div>
        </div>

        {% comment %}
    {% if organization.id == 47 or organization.id == 1 %}
        {% include "performance/customers/vinhphat/import-kpi-score.html" %}
    {% endif %}
    {% endcomment %}

        <div id="waiting"><img src="{{ STATIC_URL }}img/csb/saving.gif"> {% trans "Saving ..." %} </div>

        <div id="tip-q"></div>

        <style>
            .show-performance-score {
                position: fixed;
                right: 0;
                top: 40%;
                background-color: #8EB3DF;
                border: 2px solid #2483b8;
                width: 100px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
            }

            .show-performance-score .close {
                position: absolute;
                background: #fff;
                opacity: 1;
                height: 14px;
                left: -10px;
                top: -8px;
            }

            #id_content {
                width: 450px;
            }

            .content_title {
                display: none;
            }

            .popover {
                width: 380px;
                max-width: none;
            }

            .popover-content {
                font-size: 11px;
            }

            .popover-title {
                padding: 4px 14px;
                font-size: 13px;
                font-weight: bold;
            }

            .close_btn {
                cursor: pointer;
                float: right;
                background-color: #ccc;
                border-radius: 7px;
            }

            .close_btn:hover {
                background-color: #ddd;
            }

            .modal-body p {
                margin-bottom: 0;
                font-weight: bold;
            }

            .modal-body textarea {
                width: 520px;
                max-width: 520px;
                height: 80px;
                font-size: 12px;
            }

            #devplan.fade.in,
            #individual-grid.fade.in {
                top: 6%;
            }

            #devplan {
                width: 570px;
                z-index: 1000;
            }

            .modal-body {
                max-height: 450px;
            }

            .modal-footer a {
                font-size: 12px;
            }

            .items li label {
                display: inline-block;
                width: 120px;
            }

            .items li #id_name {
                width: 300px;
            }

            .items li textarea {
                width: 300px;
                height: 90px;
            }

            #id_parent {
                max-width: 300px;
            }

            #individual-grid .modal-body {
                max-height: 500px;
            }

            #popup-modal-body-360 table th {
                text-align: left;
            }

            #inner-invitation {
                margin: 0;
            }

            #inner-invitation li label {
                display: inline-block;
                width: 100px;
            }

            #inner-invitation .errorlist {
                margin-left: 110px;
                color: #BA1908;
            }

            .per_item {
                max-width: 700px;
            }

            .items li img {
                margin-top: -10px;
                margin-left: 5px;
            }

            #copy-status {
                margin-left: 10px;
            }

            #copy-status {
                color: #468847;
            }

            .list-people li {
                display: inline-block;
                margin-right: 5px;
            }

            .reminder-text {
                color: #3386CA;
            }

            .reminder-status {
                color: #BA1908;
                margin-left: 20px;
            }

            .people_choice {
                min-width: 400px;
            }

            .errors {
                color: red;
            }

            .per_item.red .nav-tabs li a {
                white-space: nowrap;
            }

            .people_slide li {
                position: relative;
            }

            .autocomplete-suggestions {
                border: 1px solid #999;
                background: #FFF;
                overflow: auto;
            }

            .autocomplete-suggestion {
                padding: 2px 5px;
            }

            .autocomplete-selected {
                background: #F0F0F0;
            }

            .autocomplete-suggestions strong {
                font-weight: normal;
                color: #3399FF;
            }

            .items .errorlist {
                margin-left: 120px;
                color: red;
            }

            .warning_goal {
                border: 1px solid red;
            }

            .nav_header_box.parent_kpi .nav-tabs li {
                float: left;
            }
        </style>

        <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />-->

        <link href="{{ STATIC_URL }}plugins/date-datetimeker-editable.css?v={{ settings.VERSION }}" rel="stylesheet"/>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->

        {#<script src="{{ STATIC_URL }}bower_components/superagent/ ?v={{ settings.VERSION }}"></script>#}
        <script src="{{ STATIC_URL }}timeago/jquery.timeago.js?v={{ settings.VERSION }}"></script>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'vi' %}
            <script src="{{ STATIC_URL }}timeago/jquery.timeago.vi.js?v={{ settings.VERSION }}"></script>
        {% endif %}
        <script src="{% url 'js_info_dict' %}"></script>

        <script src="{{ STATIC_URL }}angular-file-upload/angular-file-upload-shim.min.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}bower_components/angular/angular-sanitize.js?v={{ settings.VERSION }}"
                type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-xeditable/dist/js/xeditable.min.js?v={{ settings.VERSION }}"></script>
        <link href="{{ STATIC_URL }}v1/bower_components/angular-xeditable/dist/css/xeditable.css?v={{ settings.VERSION }}"
              rel="stylesheet">
        <script src="{{ STATIC_URL }}angular-file-upload/angular-file-upload.min.js?v={{ settings.VERSION }}"></script>

        <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart'],
              'language': 'vi'}]}"></script>

        <script src="{{ STATIC_URL }}js/angularjs/controllers.js?v={{ settings.VERSION }}&aa=5"></script>
        <script src="{{ STATIC_URL }}js/app/team-review.js?v={{ settings.VERSION }}&aa=9000"></script>
        <script src="{{ STATIC_URL }}js/angularjs/module.js??v={{ settings.VERSION }}&aa=5"></script>
        <script src="{{ STATIC_URL }}js/jquery.tinycarousel.min.js?v={{ settings.VERSION }}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/chart/raphael-min.js?v={{ settings.VERSION }}"></script>
        <script type="text/javascript"
                src="{{ STATIC_URL }}js/chart/g.raphael-min.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}js/chart/chart.js?v={{ settings.VERSION }}" type="text/javascript"
                charset="utf-8"></script>
        <script type="text/javascript"
                src="{{ STATIC_URL }}js/jquery.slimscroll.min.js?v={{ settings.VERSION }}"></script>

        <script src="{{ STATIC_URL }}plugins/date-datetimeker-editable.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}select/select2.min.js?v={{ settings.VERSION }}"></script>
        <script src="{{ STATIC_URL }}js/jquery.autosize.min.js?v={{ settings.VERSION }}"></script>
        <script type="text/javascript" src="/performance/bsc.json"></script>


        <script type="text/javascript">
            google.load('visualization', '1.1', {packages: ['line']});

            $("#loading").show();
            $("#add-job").click(function () {
                var job_name = $("#job-list").val();
                if ($("#return-value").val() == '1') {
                    $("#short-career").val($("#short-career").val() + job_name);
                } else {
                    $("#long-career").val($("#long-career").val() + job_name);
                }
                $("#career-choice").modal('hide');
            })

            $(document).ready(function () {
                $('#individual-grid').draggable({
                    handle: '.analysis-header',
                    containment: [0, 10, 1024, 768],
                    cursor: 'move'
                });

                $('#table-360').slimScroll({
                    height: '390px'

                });

                $('.typeahead').autocomplete({
                    lookup: goal_lib
                });

                {% for i in cells %}
                    $('#{{ i.slug }}').popover({
                        html: true,
                        title: "{{ i.title }} <i class='icon-remove close_btn' style='cursor: pointer' onclick=\"$('#{{ i.slug}}').popover('hide')\" title=\"{% trans 'Close' %}\"></i>",
                        content: "{{ i.description|linebreaksbr }}"
                    });
                {% endfor %}

                $("#reminder-modal").on('show', function () {
                    $(".reminder-status").html("");
                });

                $(".chart-options").tooltip();
            });
        </script>
    </div>
{% endblock %}
