#ballsWaveG {
    position: fixed;
    width: 128px;
    height: 30px;
    right: 10px;
    z-index: 10000;
    bottom: 1px;
}

.ballsWaveG {
    position: absolute;
    top: 0;
    background-color: #247d0e;
    width: 16px;
    height: 16px;
    -webkit-animation-name: ballsWaveG;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -moz-animation-name: ballsWaveG;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -o-animation-name: ballsWaveG;
    -o-animation-duration: .8s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -ms-animation-name: ballsWaveG;
    -ms-animation-duration: .8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#ballsWaveG_1 {
    left: 0;
    -webkit-animation-delay: .32s;
    -moz-animation-delay: .32s;
    -o-animation-delay: .32s;
    -ms-animation-delay: .32s;

}

#ballsWaveG_2 {
    left: 16px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    -ms-animation-delay: .4s;

}

#ballsWaveG_3 {
    left: 32px;
    -webkit-animation-delay: .48s;
    -moz-animation-delay: .48s;
    -o-animation-delay: .48s;
    -ms-animation-delay: .48s;

}

#ballsWaveG_4 {
    left: 48px;
    -webkit-animation-delay: .56s;
    -moz-animation-delay: .56s;
    -o-animation-delay: .56s;
    -ms-animation-delay: .56s;

}

#ballsWaveG_5 {
    left: 64px;
    -webkit-animation-delay: .64s;
    -moz-animation-delay: .64s;
    -o-animation-delay: .64s;
    -ms-animation-delay: .64s;
}

#ballsWaveG_6 {
    left: 80px;
    -webkit-animation-delay: .72s;
    -moz-animation-delay: .72s;
    -o-animation-delay: .72s;
    -ms-animation-delay: .72s;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
    /* border-color: ... !important; */
}

/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
    cursor: help;
    margin-left: 4px;
}

.tooltipster-light {
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
}

.tooltipster-light .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
    max-width: 450px;
}

.tooltipster-base .tooltipster-content {
    overflow: hidden;
}

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -7px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
    left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
    right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
    right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-left: 9px solid;
    margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-right: 9px solid;
    margin-top: -8px;
}

/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

.tooltipster-fade-show {
    opacity: 1;
}

.tooltipster-grow {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}

.tooltipster-swing-show {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
    top: 0;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-fall-show {
}

.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0px !important;
    opacity: 0;
}

.tooltipster-slide {
    left: -40px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-slide.tooltipster-slide-show {
}

.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0px !important;
    opacity: 0;
}

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
    opacity: 0.5;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.survey {
    display: inline-block;
    background-color: #FF6222;
    color: #FFFEFE !important;
    background-position: 10px center;
    background-repeat: no-repeat;
    line-height: 25px;
    padding: 2px 15px;
    font-weight: bold;
    margin-right: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
}

.survey:hover {
    text-decoration: none;
}

.kpi_not_confirm {
    width: 15px;
    height: 15px;
    right: -2px;
    background-color: red;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    position: absolute;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    opacity: 0.7;
    z-index: 99;
    top: -5px;
}

.kpi_not_confirm.active {
    opacity: 1;
}

.people_slide li:hover .kpi_not_confirm {
    opacity: 1;
}

.kpi_delay {
    background: lightslategray;
}

.kpi_notes li {
    padding: 5px;
}

.kpi_notes {
    max-width: 590px;
    background-color: white;
    border-radius: 5px;
}

.kpi_notes li:not(.more-comments) img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.kpi_notes li .note-content {
    max-width: 530px;
    border-radius: 2px;
    /*margin: 5px 0 0 0;*/
}

.kpi_notes li .note-content p {
    margin-bottom: 0;
}

.blear {
    opacity: 0.5;
    background: #ddd;
}

.modal-body {
    /*font-size: 12px;*/
}

.modal-body textarea {
    width: 100% !important;
/ / max-width: 520 px;
    height: 40px;
    font-size: 12px;
    min-height: 0 !important;
}

.modal-body div hr {
    display: none;
}

ul.kpi_notes {
    list-style: none;
    padding-left: 0;
}

.xbtn {
    padding: 3px;
    color: #888;
    border: 1px solid #888;
    border-radius: 1px;
}

.target {
    width: 20px;
}

#somefuckingdiv.pane-contain {
    width: 100%;
    margin: 0 auto;

    height: 100%;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #CCC;
    background: #fff;
    padding: 8px;
    padding-top: 28px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
}

li .goal-desc {
    display: none;
}

li:hover .goal-desc {
    display: block;
}

.filter_date {
    margin-top: 20px;
}

.filter_date li {
    display: inline-block;
    padding: 2px 15px;
}

.filter_date .active, .filter_date li:hover {
    background-color: #E0CCCC;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.filter_date li a:hover {
    text-decoration: none;
}

.select2-container {
    margin-bottom: 0 !important;
    min-width: 200px !important;
}

.current_quarter {
    font-weight: bold;
    background-color: #00FFA5 !important;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    border-bottom: 2px solid #999;
    background-color: #eee;
    vertical-align: bottom;
}

td {
    border-bottom: 1px solid #ccc;
}

/* filter-table specific styling */
td.alt {
    background-color: #ffc !important;
    background-color: rgba(255, 255, 0, 0.2) !important;
}

/* special filter field styling for this example */
.input-filter-container {
    position: fixed;
    top: 1em;
    right: 1em;
    border: 2px solid #66f;
    background-color: #eef;
    padding: 0.5em;
}

.modal-body div hr {
    display: none;
}

.required_class {
    background-color: #83A96C !important;
}

.icon-comment {
    position: relative;
}

span.badge {
    position: absolute;
    top: -7px;
    font-size: 9px;
    line-height: 8px;
    left: 6px;
    padding-right: 4px;
    padding-left: 4px;
}

.email_user {
    float: right;
    width: 75%;
    overflow-wrap: break-word;
}

.user-thumb {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.table th, .table td {
    vertical-align: middle;
}

.comment-frame {
    border-radius: 3px;
}

.comment-header-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.comment-header {
    border-bottom: 1px solid #f9f9f9;
    padding: 17px 20px 9px 20px;
}

.comment-input {
    height: 40px !important;
    width: 99% !important;
    min-height: 40px;
    border-radius: 3px
}

.comment-avatar-right {
    width: 50px;
    float: right
}

.comment-avatar-right-hover {
    width: 30px;
    float: right
}

.comment-avatar-left {
    width: 50px;
    float: left;
}

.comment-avatar-left-hover {
    width: 30px;
    float: left;
}

.avatar-hover {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}

.comment-infor {
    margin-bottom: 3px;
    color: #ababab;
    font-size: 12px;
}

.comment-infor-hover {
    margin-bottom: 3px;
    color: #666666 !important;
    font-size: 15px;
    font-weight: 100;
}

.comment-datetime {
    color: #ababab;
    font-size: 10px;
}

.comment-send {
    padding: 7px 10px 8px 10px !important;
}

.comment-icon {
    position: relative;
    bottom: -3px;
    margin-top: -3px;
    font-size: 14px !important;
}

.comment-content-frame-right {
    word-wrap: break-word;
    max-width: 358px;
    background-color: #e1ebf4;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    margin-left: 15%;
    color: #337ab7;
    display: inline-block;
    float: right;
    position: relative;
}

.comment-content-frame-right-hover {
    word-wrap: break-word;
    background-color: #e1ebf4;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-left: 15%;
    color: #337ab7;
    display: inline-block;
    float: right;
    position: relative;
}

.comment-content-frame-left {
    word-wrap: break-word;
    max-width: 358px;
    background-color: #f3f3f3;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    margin-right: 15%;
    color: black;
    display: inline-block;
    position: relative;
}

.comment-content-frame-left-hover {
    word-wrap: break-word;
    background-color: #f3f3f3;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-right: 15%;
    color: black;
    display: inline-block;
    position: relative;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #f3f3f3 transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -10px;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #e1ebf4 transparent transparent transparent;
}

.tri-right.left-top-hover:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 10px solid;
    border-color: #f3f3f3 transparent transparent transparent;
}

.tri-right.right-top-hover:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -10px;
    top: 0px;
    bottom: auto;
    border: 10px solid;
    border-color: #e1ebf4 transparent transparent transparent;
}

div.btn-wrapper .btn span.glyphicon {
    opacity: 0;
}

div.btn-wrapper .btn.active span.glyphicon {
    opacity: 1;
}

div.btn-wrapper .btn-primary {
    color: #000;
    background-color: white;
    text-shadow: none;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

div.btn-wrapper .btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    border-bottom: 2px solid #ababab;
}

.toggle-buttons .btn.btn-primary.active {
    color: #008b8b;
    background-color: #ffffff !important;
    background-position: 0 0;
    background-image: none;
    background-repeat: repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    border-bottom: 2px solid #008b8b;
}

.toggle-button-frame {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.toggle-button-frame .line {
    border-bottom: 2px solid #ababab;
    height: 35px;
}

.toggle-button-wrapper {
    display: flex;
    width: 30%;
}

.toggle-button-hr {
    margin: 0px;
    border: 0;
    border-top: 2px solid #ababab;
}

.modal-body-hover {
    max-height: 450px;
    overflow-y: auto;
}

.btn-evidences-1 {
    width: 76px;
    background-image: none !important;
    text-shadow: none
}

.btn-evidences-2 {
    width: 76px;
    background-image: none !important;
    background-color: #767d80;
    color: #ffffff;
    text-shadow: none;
    border: none !important;
}

.evidences-icon {
    vertical-align: middle;
    font-size: 14px;
    line-height: inherit;
}

.pd-t-0 {
    padding-top: 0px;
}

.pd-t-15 {
    padding-top: 15px !important;
}

.pd-l-0 {
    padding-left: 0px !important;
}

.pd-l-5 {
    padding-left: 5px;
}

.pd-l-10 {
    padding-left: 10px !important;
}

.pd-l-15 {
    padding-left: 15px;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.pd-l-30 {
    padding-left: 30px;
}

.pd-r-0 {
    padding-right: 0px !important;
}

.pd-r-4 {
    padding-right: 4px !important;
}

.pd-r-5 {
    padding-right: 5px !important;
}

.pd-r-10 {
    padding-right: 10px !important;
}

.pd-r-12 {
    padding-right: 12px !important;
}

.pd-r-15 {
    padding-right: 15px;
}

.pd-r-20 {
    padding-right: 20px !important;
}

.pd-lr-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pd-lr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pd-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pd-bt-5 {
    padding-bottom: 5px
}

.pd-bt-15 {
    padding-bottom: 15px;
}

.pd-bt-20 {
    padding-bottom: 20px;
}

.pd-12{
    padding: 12px;
}

.pd-15 {
    padding: 15px;
}

.h-350 {
    height: 350px;
}

.h-240 {
    height: 240px;
}

.no-margin {
    margin: 0px !important;
}

.mg-l-0 {
    margin-left: 0px;
}

.mg-l-5 {
    margin-left: 5px;
}

.mg-l-10 {
    margin-left: 10px !important;

}

.mg-l-15 {
    margin-left: 15px !important;

}

.mg-l-20 {
    margin-left: 20px !important;

}

.mg-r-5 {
    margin-right: 5px;
}

.mg-r-10 {
    margin-right: 10px !important;
}

.mg-r-20 {
    margin-right: 20px;
}

.mg-t-0 {
    margin-top: 0px !important;
}

.mg-t-2 {
    margin-top: 2px;
}

.mg-t-3 {
    margin-top: 3px;
}

.mg-t-5 {
    margin-top: 5px;
}

.mg-t-8 {
    margin-top: 8px;
}

.mg-t-10 {
    margin-top: 10px;
}

.mg-t-20 {
    margin-top: 20px;
}

.mg-bt-5 {
    margin-bottom: 5px;
}

.mg-bt-10 {
    margin-bottom: 10px !important;
}

.mg-bt-20 {
    margin-bottom: 20px !important;
}

.mg-l-15-percent {
    margin-left: 15%;
}

.float-right {
    float: right !important;;
}

#header {
    margin-bottom: 15px;
}

#header > div:first-child {
    margin-top: 15px;
}

#header > div {
    margin-bottom: 15px;
}

#header > div:last-child {
    margin-bottom: 0px;
}

.user-thumb {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #D2D2D2
}

#header .nav > li > a .username {
    font-size: 14px;
    font-weight: 500;
}

#header .navbar-brand > img {
    height: 32px;
    display: inline-block;
}

#container {
    background-color: #FFF;
    border-top: 1px solid transparent;
/ / overflow: overlay;
}

#header.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

#header.navbar-inverse .navbar-brand {
    color: #fff;
}

.dropdown-menu {
    font-size: 12px;
}

#header .nav > li > a {
    color: #717171;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}

@media (min-width: 767px) {
    #header .navbar-header {
        float: left;
    }
}

#header.column-left-active #button-menu {
    width: 235px;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu div.user-avatar {

    width: 50px;
    height: 50px;
    background-color: #5c9ccc;
    border-radius: 50%;
    background-image: url({{ user.get_profile.get_avatar }});
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

#column-left {
    opacity: 0.8;
}

#column-left:hover {

    opacity: 1;
}

#nav-right {
    margin-left: 130px;
}

.navbar-brand {
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

#nav-right {
    cursor: pointer;
    text-transform: none;
    text-align: center;
}

#nav-right li {
    /*margin-right:20px;*/
    font-size: 12px;
    margin-bottom: -5px;
}

#navbar {
    height: 50px;
    color: #008b8b;
    font-size: 12px;
    text-transform: uppercase;
}

#navbar ul {
    /*margin-left:20px;*/
    background: #333333;
}

#navbar ul li a {
    text-decoration: none;
}

#navbar ul li a img {
    margin-top: -5px;
    margin-right: 8px
}

#navbar .dropdown-menu {
    font-size: 14px;
}

#navbar .material-icons.font-16 {
    margin-right: 10px;
}

.one {
    border-right: 0.1px solid rgba(255, 255, 255, 0.25);
}

.two li {
    border-left: 0.1px solid rgba(255, 255, 255, 0.25);

}

#navbar .nav-left li a {
    line-height: 20px;
    vertical-align: middle;
    border-left: 0.1px solid rgba(255, 255, 255, 0.25);
    border-right: 0.1px solid rgba(255, 255, 255, 0.25);
}

#nav-right {
    margin-left: 0px;
    float: right;
    margin-right: 50px;
}

#nav-right li a {
    vertical-align: middle;
}

#navbar .nav-left li a .fa {
    width: 20px;
    height: 16px;
}

#nav-right li a,
#navbar .nav-left li a {
    background: #333333;
    box-shadow: none;
    color: white;
    vertical-align: center;
    text-shadow: none;
}

#nav-right li a:hover,
#navbar .nav-left li a:hover, #navbar .nav-left li:hover a {
    background: #008b8b;
}

#navbar .nav-left .active {
    border-left: 0.1px solid rgba(255, 255, 255, 0.25);
    border-right: 0.1px solid rgba(255, 255, 255, 0.25);
}

#navbar .nav-left .active a {
    color: white;
    background: #008b8b;

}

#navbar .nav-left .dropdown ul li a {
    line-height: 1;
    padding: 8px 15px 8px 15px;
    text-transform: none;
}

#navbar .nav-left .open a {
    background: #008b8b;
}

#nav-right .open > a {
    background: #008b8b;
}

#nav-bottom .open > a {
    background: #008b8b;
}

#logo-cjs {
    width: 51px;
    height: 26px;
    margin: 12px 6px 12px 7px;
    padding: 0;
}

#user {
    display: none;
}

.divide {
    display: none;
}

#nav-bottom {
    display: none;
    text-transform: none;
    color: black;
    text-align: center;
    min-width: 220px;
    float: right;
    margin-top: -10px;
    margin-right: -15px;
}

#nav-bottom li a {
    padding: 10px 10px 1px;
}

#navbar li a .flag {
    width: 25px;
    height: 17px;
    border-radius: 3px;
}

#nav-bottom li a p {
    margin: 1px 0 0;
}

#nav-right li a p {
    margin: 0px;
}

#language a {
    padding: 8.5px 10px 1px 10px;
    display: inline-block;
}

#nav-header-1 .container-fluid > .navbar-header {
    margin-left: -15px;
}

#nav-header-1 {
    height: 50px;
    background: #333333;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    /*z-index: 9999999;*/
}

#navbar .nav-left .one ul {
    margin-left: 0px;
}

#nav-right-2 {
    display: none;
    float: right;
}

#content {
    margin-top: 10px;
}

.dropdown-menu::after, .dropdown-menu::before {
    display: none !important;
}

#form-language {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: white !important;
}

#nav-right #form-language li a {
    padding-bottom: 4px;
    margin-bottom: 4px;
}

#form-language li form:hover > a {
    color: #008b8b;
}

@media only screen and (max-width: 1199px) {
    .navbar-brand {
        display: none;
    }

    #nav-right {
        margin-right: 0px;
    }

    #navbar .nav-left li a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 991px) {
    .collapse.in {
        display: inline;
    }

    .navbar-nav {
        margin-top: -20px;
    }

    #nav-right {
        display: none;
    }

    #logo-cjs {
        display: block;
    }

    #nav-bottom {
        display: block;
    }

    #nav-bottom li {
        display: inline-block;
    }

    #nav-bottom li a {
        color: white;
    }

    #nav-bottom li a:hover {
        background: #008b8b;
    }
}

#navbar .nav-left .dropdown ul li a:hover, #nav-right .dropdown .dropdown-menu li a:hover {
    color: #008b8b;
}

#navbar .nav-left .dropdown .dropdown-menu li a, #navbar .nav-left .dropdown .dropdown-menu,
#nav-right .dropdown .dropdown-menu, #nav-right .dropdown .dropdown-menu li a {
    background: white;
    color: #4a4a4a;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#msg-expired {
    margin-bottom: 0px;
    min-height: 40px;
    background: #f5a623;
    border: none;
    margin-top: -1px;
    display: none;
}

#msg-expired a, #msg-expired i {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
}

#msg-expired a:hover {
    text-decoration: none;
}

#msg-expired .icon-warning {
    font-size: 20px;
    vertical-align: middle;
    color: #fff
}

.badge-notify {
    top: 8px !important;
    background: #d9534f !important;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    right: 5px;
    cursor: pointer;
}

#form-notification {
    background: white !important;
    min-width: 380px;
}

.dropdown-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-body .list-unstyled {
    background: white !important;
}

.avatar img {
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown-body .content {
    color: #0a0a0a;
}

.time small {
    color: #ababab
}

.dropdown-header {
    color: #ababab !important;
}

.dropdown-body {
    overflow-y: scroll;
    height: 340px;
    width: 380px;
}

.dropdown-body li {
    padding: 0 20px 15px 20px;
}

.dropdown-body .content {
    display: -webkit-box !important;
    max-width: 100%;
    height: 35px;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-footer a {
    color: #008b8b !important;
    background: white !important;
    padding: 0 20px;
}

.dropdown-footer a:hover {
    text-decoration: underline;
}

#form-notification {
    cursor: default;
    padding-top: 0px;
}

#nav-right .active a {
    color: white;
    background: #008b8b;
}

#nav-right .active .dropdown-menu, #nav-right .active .badge-notify {
    display: none;
}

.nav-right .active a {
    pointer-events: none;
}

.dropdown-body ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-body ul {
    margin-bottom: 1px !important;
}

.dropdown-body ul li:hover {
    background: #f1faf9 !important;
    cursor: pointer !important;
}

#nav-right li {
    margin-bottom: 0px !important;
}

.unread {
    background: #f6ffff;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.material-icons.font-18 {
    font-size: 18px;
    position: relative;
    bottom: -4px;
    margin-top: -9px;
}

.material-icons.font-20 {
    font-size: 20px;
    position: relative;
    bottom: -4px;
    margin-top: -9px;
    color: #008b8b;
}

.material-icons.font-20.icon-add {
    bottom: -4px;
    margin-top: -9px;
    color: white !important
}

.material-icons.font-20.clear {
    margin-top: -2px;
    color: #ababab;
}

.material-icons.font-20.clear:hover {
    cursor: pointer;
}

.material-icons.font-16 {
    position: relative;
    font-size: 16px;
    bottom: -2px;
    margin-top: -2px;
}

.material-icons.font-14 {
    position: relative;
    bottom: -1px;
    margin-top: -2px;
    font-size: 14px;
}

.btn-normal {
    border-radius: 3px;
    border: solid 1px #e4e4e4;
    background-color: #f9f9f9;
    font-size: 14px;
    text-align: center;
    padding: 7px 17px 8px 17px;
    color: #333;
    line-height: 22px;
}

.btn-normal .material-icons.font-20 {
    color: #333;
}

.btn-normal:hover {
    background: #e4e4e4;
}

.btn-black {
    border-radius: 3px;
    border: solid 1px #333333;
    background-color: #333333;
    font-size: 14px;
    text-align: center;
    padding: 7px 28px 8px 28px;
    color: #ffffff;
    line-height: 22px;
}

.btn-black:hover {
    background: #1a1a1a;
    color: #e6e6e6;
}

.btn-cus-add {
    background-color: #008b8b;
    color: #fff;
    border: 1px solid #008b8b;
}

.btn-cus-add .material-icons.font-20 {
    color: #fff;
}

.btn-cus-add:hover, .btn-cus-add:hover .material-icons.font-20 {
    background-color: #007777;
    color: #fff;
}

.btn-cus-add:hover {
    border: 1px solid #007777;
}

.btn-cus-utility {
    background-color: transparent;
    color: #008b8b;
    border-color: #008b8b;
}

.btn-cus-utility .material-icons.font-20 {
    color: #008b8b;
}

.btn-cus-utility:hover, .btn-cus-utility:hover .material-icons.font-20 {
    background-color: #008b8b;
    color: white;
}

.btn-cus-utility:hover {
    background-color: #008b8b;
}

.btn-cus-del {
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #d9534f;
}

.btn-cus-del .material-icons.font-20 {
    color: #fff;
}

.btn-cus-del:hover, .btn-cus-del:hover .material-icons.font-20 {
    background-color: #bc4743;
    color: #fff;
}

.btn-cus-del:hover {
    border: 1px solid #bc4743;
}

.btn-cus-white {
    background-color: #fff;
}

.btn-del {
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #e4e4e4;
    color: #333333;
}

.btn-del:hover {
    border-radius: 3px;
    background-color: #d9534f;
    border: solid 1px #d9534f;
    color: white;
}

.btn-del:hover .material-icons {
    color: white;
}

.btn-del:active {
    background-color: #c65351;
}

.btn-fullwidth {
    width: 100%;
}

.btn-cus-0-7 {
    padding: 0px 7px 0px 7px;
}

.btn-cus-5-4 {
    padding: 5px 4px 5px 4px;
}

.btn-cus-5-7 {
    padding: 5px 7px 5px 7px;
}

.btn-cus-5-9 {
    padding: 5px 9px 5px 9px;
}

.btn-cus-5-15 {
    padding: 5px 15px 5px 15px;
}

.btn-cus-3-13 {
    padding: 3px 13px 3px 13px;
}

.btn-width-120 {
    width: 120px !important;
}

.bt-mission-box {
    margin-top: 10px;
}

.text-alert-review {
    background-color: oldlace;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 4px;
}

.warningCell {
    background-color: #ffeabc;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-left-0, .kpi-table .kpi-row-heading [class*="col-table-"].padding-left-0 {
    padding-left: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-4 {
    margin-bottom: 4px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.com-per-title {
    font-size: 12px;
    color: #337ab7;
}

.com-per-pecent {
    font-size: 45px;
    color: #337ab7;
    font-weight: bold;
}

.com-per-pecent .per-com-unit {
    font-size: 30px;
    font-weight: normal;
}

.border-top {
    border-top: solid 1px rgba(219, 219, 219, 0.5);
}

#navbar .nav-left .dropdown ul li.border-bottom a {
    padding-bottom: 13px;
}

#navbar .nav-left .dropdown ul li.border-bottom + li a {
    margin-top: 5px;
}

#navbar .dropdown li.border-bottom::after {
    content: '';
    border-bottom: 1px solid #f9f9f9;
    display: block;
    margin-left: 41px;
}

#nav-right .nav-logo {
    padding: 8px;
}

#nav-right .nav-logo span {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

#nav-right .nav-logo span img {
    max-height: 100%;
    max-width: 100%;
}

#navbar #nav-right ul li a img {
    margin: 0;
}

#nav-right ul li:hover ul.dropdown-menu {
    display: block;
}

#nav-right ul li .dropdown-menu.sub-right {
    left: auto;
    right: 0;
    min-width: 210px
}

#nav-right ul li .dropdown-menu a {
    padding: 8px 15px;
}

#nav-right ul li .dropdown-menu .dropdown-footer a {
    padding: initial;
}

#nav-right ul li .dropdown-menu a svg {
    margin-bottom: -4px;
    margin-right: 5px;
}

#nav-right ul li .dropdown-menu .per-name {
    color: #ababab;
    font-weight: bold;
    border-bottom: 1px solid #f9f9f9;
    padding: 15px;
}

#nav-right .per-icon {
    fill: #333;
    margin-right: 10px;
}

#nav-right ul li .dropdown-menu a:hover .per-icon {
    fill: #008b8b;
}

#nav-right ul li .dropdown-menu .dropdown-footer {
    padding-top: 6px;
    border-top: 1px solid #eee;
}

#nav-right ul li .dropdown-menu .dropdown-header {
    border-bottom: 1px solid #eee;
}

#navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.new-footer {
    font-family: 'Helvetica';
    margin: 50px 0px 0px 0px;
    padding: 15px 15px 15px 60px;
    border-top: 1px solid #dedede;
    white-space: nowrap;
    font-weight: bold;
}

.new-footer #info-2 span:not(:nth-last-child(1)) {
    padding-right: 15px;
}

.new-footer a {
    color: inherit;
}

.new-footer a:hover {
    text-decoration: underline;
}

.new-footer #info-2 {
    color: #4a4a4a;
}

.new-footer #info-2 span:nth-child(1) {
    color: #dedede;
}

.new-footer #info-2 a:hover {
    color: #008b8b;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .new-footer {
        margin: 50px 0px 0px 0px;
        padding: 15px 15px 15px 15px;
        border-top: 1px solid #dedede;
    }
}

.kpi-expand-item-row .borderless {
    margin-left: auto !important;
}

#list_evidences {
    list-style-type: none;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #f6f7f8 !important;
    box-shadow: none;
    -webkit-box-shadow: none
}

#list_evidences li {
    background-color: transparent;
}

.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uploader label:hover {
    border-color: #00b0ad;
}

.uploader label.hover {
    border: 3px solid #00b0ad;
    -webkit-box-shadow: inset 0 0 0 6px #eee;
    box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
}

.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #start.hidden {
    display: none;
}

.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #response.hidden {
    display: none;
}

.uploader #response #messages {
    margin-bottom: .5rem;
}

.uploader #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}

.uploader #file-image.hidden {
    display: none;
}

.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

.uploader #notimage.hidden {
    display: none;
}

.uploader progress,
.uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
    background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #00b0ad));
    background: linear-gradient(to right, #393f90 0%, #00b0ad 50%);
    border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #00b0ad 50%);
    border-radius: 4px;
}

.uploader input[type="file"] {
    display: none;
}

.uploader div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
}

.uploader #file-drag .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#file-drag-success {
    width: 60%;
    padding: 0.4em 5px;
    height: 40px;
}

#notification .icon-notification {
    padding: 10.5px 10px 3px 10px;
    height: 50px;
}

.message-empty {
    color: #ababab !important;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 0px;
}

#info-1 .version {
    font-weight: lighter;
    color: gainsboro
}

#info-2 .content {
    font-weight: normal
}

.kpiprogressreview-wrapper a:hover {
    color: #007777 !important;
}

.performance-based span {
    width: 89px;
    height: 17px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4d565a;
    float: left;
}

.evidence-name {
    cursor: pointer;
}

.hide-cus {
    display: none;
}

.show-cus {
    display: block;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"]:checked + label::before, .checkbox input[type="radio"]:checked + label::before {
    background-color: #008b8b;
    border-color: #008b8b;
}

.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before, .checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #008b8b;
    border-color: #008b8b;
}

.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after, .checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after, .checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before, .checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after, .checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #008b8b;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 5px;
    height: 5px;
    left: 6px;
    top: 6px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    margin-left: 5px !important;
    position: relative !important;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio input[type="radio"]:checked + label::before {
    border-color: #008b8b;
    background-color: #008b8b;
}

.radio input[type="radio"]:checked + label::after {
    background-color: #fff;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #008b8b;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #008b8b;
    background-color: #008b8b;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #fff;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after, input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before, input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after, input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

/*=========target page=========*/
.target-page {
    text-align: center;
}

.page-title {
    font-size: 18px;
    color: #337ab7;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
}

.change-style .dropdown-menu {
    font-size: 14px;
}

.select-no-style {
    position: relative;
    top: -7px;
    padding: 5px 25px 5px 5px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" style="fill:#ababab" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path d="M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
    font-size: 14px;
}

.select-no-style:focus {
    outline: none;
}

.target-page .change-style .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);

}

.target-page .change-style .dropdown-menu li a:hover {
    background: #ffffff;
    text-align: left;
    color: #008b8b;
    font-size: 14px;
}

.tbl-target {
    margin-top: 10px;
}

.tbl-target thead tr th {
    background: transparent;
    font-weight: normal;
    color: #666666;
    border-bottom: 0px solid;
    width: 80px;
}

.tbl-target th.bold {
    font-weight: bold;
}

/*.tbl-target thead tr .el-table_1_column_1,.tbl-target thead tr .el-table_1_column_2,.tbl-target thead tr .el-table_1_column_6,.tbl-target thead tr .el-table_1_column_10,.tbl-target thead tr .el-table_1_column_14,.tbl-target thead tr .el-table_1_column_18{*/
/*font-weight: bold !important;*/
/*}*/

.tbl-target thead tr th.target_tbl_name {
    width: 320px;
}

.target_fin_title {
    background: #fef6e9;
    color: #f5a623;
    text-transform: uppercase;
}

.target_fin_title td {
    background: #fef6e9;
}

.target_fin_title td .cell {
    display: inherit;
    font-size: 14px;
}

.target_client_title {
    background: #eaf1f7;
    color: #337ab7;
    text-transform: uppercase;
}

.target_client_title td {
    background: #eaf1f7;
}

.target_client_title td .cell {
    display: inherit;
    font-size: 14px;
}

.target_internal_title {
    background: #edf5e7;
    color: #53a413;
    text-transform: uppercase;
}

.target_internal_title td {
    background: #edf5e7;
}

.target_internal_title td .cell {
    display: inherit;
    font-size: 14px;
}

.target_clean_title {
    background: #fdf1f1;
    color: #d9534f;
    text-transform: uppercase;
}

.target_clean_title td {
    background: #fdf1f1;
}

.target_internal_title td .cell {
    display: inherit;
    font-size: 14px;
}

.target_other_title {
    background: #f9f9f9;
    color: #666666;
    text-transform: uppercase;
}

.target_other_title td {
    background: #f9f9f9;
}

.target_clean_title td .cell {
    display: inherit;
    font-size: 14px;
}

.target_kpi_name_sup {
    font-size: 10px;
    color: #ababab;
    text-align: left;
}

.target_kpi_name {
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.tbl-target .material-icons {
    color: #008b8b;
    margin-left: 10px;
}

.target_kpi_table {
    margin: 20px 10px;
}

.menu-option {
    position: relative;
    top: -8px;
}

.bold {
    font-weight: bold;
}

.target-title-bold {
    font-weight: bold !important;
}

.target-page .tbl-target thead > tr th:first-child .cell,
.target-page .has-gutter > tr th:nth-child(2) .cell,
.target-page .has-gutter > tr th:nth-child(6) .cell,
.target-page .has-gutter > tr th:nth-child(10) .cell,
.target-page .has-gutter > tr th:nth-child(14) .cell,
.target-page .has-gutter > tr th:nth-child(18) .cell {
    font-weight: bold;
}

.target-page .small-tbl .tbl-target thead > tr th .cell,
.target-page .small-tbl .has-gutter > tr th .cell {
    font-weight: bold;
}

.target-page .el-table th, .target-page .el-table td {
    padding: 7px 0px;
}

.target-page .el-table .cell {
    line-height: 1.29;
}

#target .search-target-staff {
    display: inline-block;
    position: absolute;
    /* top: -20px; */
    left: 15px;
}

#target .search-target-staff #search_user {
    /*margin:0 auto;*/
    height: 40px;
    width: 300px;
    box-shadow: none;
    border-radius: 3px;
    display: inline-block;
    /*margin-right:-15px;*/
}

#target #list_user_suggest .list-group-item:hover, #target #list_user_suggest .list-group-item:focus {
    background-color: #f9f9f9;
    cursor: pointer;
}

#target #list_user_suggest .no-hover:hover {
    background: #fff;
    cursor: unset;
}

#target .no-data a {
    background: #fff;
    cursor: unset;
    color: #ccc;
}

#target .search-target-staff .no-data, #target .search-target-staff #list_user_suggest, #target .search-target-staff #result_searched {
    width: 300px;
    max-height: 205px;
    overflow: auto;
    /* left: 2px; */
    top: 48px;
    z-index: 999;
    position: absolute;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.21);
    text-align: left;
}

#target .search-target-staff #ico-search, #target .search-target-staff #ico-clear {
    left: -30px;
    color: #ababab;
    cursor: pointer;
}

#target .title-target {
    text-align: center;
}
#target .export-excel-target{
    text-align: center;
    display: inline-block;
   position: absolute;
    top:70px;
    right: 0px;
    padding-right: 20px;
}
#target .export-excel-target .btn-export-excel-target{
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 6px 12px;
}
#target .export-excel-target .btn-export-excel-target i{
    font-size: 20px !important;
    padding-right: 8px;
    top:4px;
}
#target #list_user_suggest .list-group-item {
    border: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

#target #ico-search {
    display: none;
}

#result_searched .list-group-item {
    border: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

#target .lable-box-search-target {
    font-size: 12px;
    color: #ababab;
    font-weight: bold;
}


#target .item-manager {
    padding-bottom: 10px;

}

#target .user-search-name {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

#target .user-search-email {
    font-size: 12px;
    color: #666666;
}

#target .box-no-data {
    padding-bottom: 1px;
    height: 48px;
    padding-top: 13px;
    text-align: center;
}

#target .item-surbodinates {
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-name {
    padding: 10px;
}

#target .history_user {
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-20 {
    position: relative;
    bottom: -1px;
    margin-top: -1px;
    font-size: 20px;
}

/*#target {*/
/*position: absolute;*/
/*z-index: 999999 !important;*/
/*background: #ffffff;*/
/*margin: 0px 2px;*/
/*padding: 10px;*/
/*}*/
.input-target-cell {
    margin: 11px 10px 11px 0px;
}

.modal-edit-target .option-score-calculation {
    width: 100%;
}

.modal-edit-target .kpi-name {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #337ab7;
    /* font-family: HelveticaNeue; */
}

.modal-edit-target .el-dialog__body {
    padding: 0px 20px;
}

.modal-edit-target .el-dialog__footer {
    margin: 30px 0px 0px 0px;
    padding: 10px 20px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#target .table-contain .score-target {
    display: inline-block;
}

#target .v-modal {
    z-index: 999999;
}

.edit-box-title {
    text-align: center;
    margin: 0px 2px 10px 2px;
    color: #ababab;
}

.btn-edit-box {
    text-align: center;
    margin: 10px 2px 0px 2px;
}

#target .btn-edit-target {
    display: none;
}

#target .column:hover .btn-edit-target {
    display: inline-block;
    /*float: right;*/
}

#target .column .el-popover__reference {
    min-width: 5px;
    min-height: 5px;
    display: inline-block;
}

#target .error-msg {
    color: #d9534f;
    font-size: 12px;
    /*margin-left: 10px;*/
    margin-top: 10px;
}

#target .el-table .sub-link{
    /*display: inline-block;*/
    cursor: pointer;
    position: relative;
    top: -2px;
    font-size: 10px;
    padding: 0px 3px;
    color: #008b8b;
    border-radius: 4px;
    border: 2px solid #008b8b;
    margin: 0px 3px 0px 0px;
}
#target .el-table .kpi-name{
    /*display: inline-block;*/
}
#target .content-kpi-name{
    text-align: left;
    padding-bottom: 2px;
}
.modal-edit-target .material-icons.font-20{
    position: relative;
    bottom: -4px;
    margin-top: -9px;
    color: #ffffff;
    margin-right: 8px;
}

.modal-edit-target .el-dialog__title {
    line-height: 24px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.modal-edit-target {
    text-align: left;
}

.modal-edit-target .title-input {
    color: #666666;
    font-size: 12px;
}

.modal-edit-target .input-target-cell input {
    padding: 0px 0px 0px 15px;
    color: #333333;
}

.modal-edit-target .el-button:hover {
    background-color: #e4e4e4;
    color: #333333;
    border-color: #333333;
}

.btn-edit-box .el-button:hover {
    background-color: #e4e4e4;
    color: #333333;
    border-color: #333333;
}

.modal-edit-target .el-button--primary:hover {
    background-color: #33a2a2;
    color: #fff;
    border-color: #33a2a2;
}

.btn-edit-box .el-button--primary:hover {
    background-color: #33a2a2;
    color: #fff;
    border-color: #33a2a2;
}

.input-edit-cell > input {
    text-align: center;
    padding: 0px 0px;
    color: #333333;
}

.is-row-months .input-target-cell {
    margin: 5px 10px 5px 0px !important;
}

.modal-edit-target .el-input--small .el-input__inner {
    height: 40px !important;
}

#notification-action a {
    vertical-align: inherit !important;
    background: transparent !important;
    color: black !important;
    padding: 0px !important;
}

/*----------------performance/templates/performance/kpilib/kpilib.html----------------*/
#id-kpilib .box-container {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#id-kpilib .box-header {
    margin: 10px 0;
}

#id-kpilib .number {
    text-align: right;
}

#id-kpilib textarea.form-control {
    height: 80px;
}

#id-kpilib .kpilib-form .form-group {
    margin-bottom: 8px;
}

#id-kpilib .vue-input-tag-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id-kpilib tr:hover td .hidden {
    display: initial !important;
}

#id-kpilib .errors {
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
}

#id-kpilib #id-kpilib-modal textarea.form-control {
    font-size: 14px;
}

#id-kpilib .vue-input-tag-wrapper .new-tag {
    font-size: 14px;
    color: #333;
    padding-left: 6px;
    padding-right: 6px;
}

#id-kpilib .btn-search {
    margin-top: 20px;
    width: 403px;
    display: inline-block;
}

#id-kpilib .btn-clr {
    background: rgb(0, 139, 139);
}

#id-kpilib .modal-content {
    width: auto !important;
}

#id-kpilib .pagination_box {
    padding: 18px 0;
    display: table;
    margin: 0 auto;
}

#id-kpilib .el-select {
    width: 100%;
}

#id-kpilib .el-select input {
    height: 34px;
}

.support_nps_popup {
    padding: 20px;
}

.support_nps_popup .body {
    margin-bottom: 15px;
}

#support {
    position: fixed;
    bottom: 12px;
    z-index: 10000000;
    left: 15px
}

.btn_close {
    position: absolute;
    right: -5px;
    top: -8px;
}

.btn-system {
    height: 34px;
    line-height: 10px !important;
}

.color_default {
    color: #333333;
}

[v-cloak] {
    display: none;
}