{% extends "base_performance_landing.html" %}
{% load i18n %}
{% block title %}{% trans "Loading" %}{% endblock %}

{% block content %}
    <div class="main" style="margin: 20px auto;">
        <div class="small_corners ">
            <div class="loginwrapper" style="border: none;">
                <div class="left-column">
                    <div style="text-align: center">

                        <img src=" {{ organization.get_logo }}" alt="" style="width: 275px;"></a>
                        <br/>

                        <br/>
                        <hr/>
                    </div>

                    <div style="text-align: center">


                        <h3>
                        {% trans "KPI' system is creating new review." %}   </h3>
                        <br/>

                        {% trans "This will take from 5 minutes to 30 minutes and the website will be automatically reloaded after the completion process!" %}
                        <br/>
                    <hr>
                        <ul style="list-style: decimal; font-size: 20px;">
                            <li>
                                <div>
                                    <p class="text-success text-left">{% trans 'Copying KPIs from old quarter to new quarter' %}.....</p>
                                    {% if view_progress %}
                                        <h3>{{ clonekpi_progress }}</h3>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p class="text-success text-left">{% trans 'Aligning KPIs for all users' %} ....</p>
                                    {% if view_progress %}
                                    <h3>{{ alignkpi_progress }}</h3>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p class="text-success text-left">{% trans 'Cloning stategy-maps' %} ....</p>
                                    {% if view_progress %}
                                    <h3>{{ clonemap_progress }}</h3>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>




                    </div>

                </div>

            </div>
        </div>
    </div>
    <style>
        .errorlist {
            color: red;
        }
    </style>
    <script language="javascript">
        $(document).ready(function () {
            $(".left_fold").css("width", "100%");
            $(".errorlist").css("margin-left", "0");


        });


        setTimeout(function () {
            var location='/performance/kpi-editor/';
            {% if view_progress %}
                location='/performance/creating/?progress=1';
            {% endif %}
            window.location.replace(location);

        }, 2000);


    </script>
{% endblock %}

{% block footer %}

{% endblock %}
{% block base_menu %}

{% endblock %}