{% extends "bsc_base.html" %}
{% load i18n %}
<!--suppress ALL -->
{% block title %}
    {% trans "Notification" %}
{% endblock %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js?v={{ settings.VERSION }}"
            type="text/javascript"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}customize-v5/customize-v5.css?v={{ settings.VERSION }}" type="text/css"
          media="screen"/>
{% endblock %}
{% block content %}

    <style>
        .panel-body {
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
            margin-bottom: 10px !important;
        }

        .panel-default {
            border: none !important;
        }

        #content {
            margin: 0 auto;
            padding: 0 65px;
        }

        .notification-left {
            width: 5.5% !important;
        }

        .pane-contain .title h3 {
            text-transform: uppercase;
        }

        .title_first {
            box-shadow: none !important;
            padding-left: 0px !important;
            padding-bottom: 10px !important;
            text-transform: uppercase;
        }

        .body .title p {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #333333;
            text-transform: uppercase;
            padding-top: 25px;

        }

        .item hr {
            margin: 10px 0 !important;
        }

        .body {
            padding-top: 25px;
        }

        .body .main_content {
            padding-bottom: 25px;
        }

        @media only screen and (max-width: 991px) {
            .pane-contain {
                padding: 25px;
            }
        }
    </style>

    </head>

    <body>
    <div id="app">
        <div class="title_first">
            <h3>{% trans "Your notification" %}</h3>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="body">
                    <div v-if="notifications.data">
                        <div class="main_content">
                            <div class="item" v-for="(notification, index) in notifications.data">
                                <div class="row">
                                    <div class="col-md-1 notification-left">
                                        <div class="avatar">
                                            <a target="_blank" :href="'/performance/kpi-editor/emp/'+notification.actor_object_id"><img :src="notification.actor_avatar" :alt="notification.actor_name"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-11 notification-right" style="padding-left: 0px;">
                                        <div class="content">
                                            <span class="display_name" v-if="notification.type_notification == 'change_log'"><b>{% trans 'Cloudjet KPI has new features' %}: </b></span>
                                            <span class="display_name" v-else><b v-text="notification.actor_name + ': '"></b></span>
                                            <br>
                                            <span class="action" v-if="notification.type_notification == 'change_log'">
                                                <span class="version">
                                                    {% trans 'Version' %}
                                                    <span v-text="notification.version"></span>,
                                                </span>
                                                <span class="release_date">
                                                    {% trans 'updated'  %}
                                                    <span v-text="notification.release_date"></span>
                                                </span>
                                                <span class="content_action" v-html="notification.description"></span>
                                            </span>
                                            <span class="action" v-else v-for="(line, index) in notification.description.split('\n')">
                                                <span v-html="line"></span>
                                                <br v-if="index < notification.description.split('\n').length - 1">
                                            </span>
                                        </div>
                                        <div class="time">
                                            <small v-text="v1.convert_date(notification.timestamp)"></small>
                                        </div>
                                    </div>
                                </div>
                                <hr v-if="index < notifications.data.length-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        var v = new Vue({
            el: '#app',
            data: {
                notifications: {
                    data: [],
                    prev: '',
                    next: '',
                    count: '',
                    unread_list: []
                },
                eazy_load: true,

            },
            methods: {}
        })
        v.notifications = v1.notifications;
        $(document).ready(function () {
            $('html,body').animate({scrollTop: 0}, 500);
            $('.panel-body').attr('style', 'min-height:' + parseInt($(document).height() - $('#nav-header-1').height() - $('.title_first').height()) + 'px !important');
            $(document).on('scroll', function () {
                if (v.notifications.next && v.eazy_load) {
                    v.eazy_load = false;
                    if (v.notifications.data.length) {
                        cloudjetRequest.ajax({
                            url: v.notifications.next,
                            type: 'GET',
                            success: function (data) {
                                requestcenterHideNotification();
                                v.notifications.data = v1.notifications.data.concat(data.results);
                                v.notifications.prev = data.previous;
                                v.notifications.next = data.next;
                                v.eazy_load = true;
                            },
                            error: function () {
                                console.log('load data error');
                            }
                        })
                    }
                }
            });
        })
    </script>
    </body>
{% endblock %}