{% extends "bsc_base.html" %}
{#{% load markdown_deux_tags %}#}

{% load i18n l10n inplace_edit kpi user_tags %}

{% block title %}
    {% if is_search_page %}
        {% trans "KPI Search" %}
    {% else %}
        {% trans "KPI Editor" %}
    {% endif %}
{% endblock %}



{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jspdf.min.js"></script>

    {% include "performance/bsc/worksheet/modules/kpi-app.html" %}

{% endblock %}
{% block extra_css %}

    <link href="{{ STATIC_URL }}css/kpi_editor.css?v={{ settings.VERSION }}" rel="stylesheet">
    <style>

    </style>
{% endblock %}
{% block content %}

    {% inplace_static %}


    <link href="{{ STATIC_URL }}bootstrap-switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap-switch/js/bootstrap-switch.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/app/kpi-editor.js?v={{ settings.VERSION }}"></script>



{#<div style="width: 100%; overflow-x: scroll; overflow-y: hidden; position: relative;" id="kpi-scroller">#}
<div style="width: 100%;  position: relative;" id="kpi-scroller">

    <div class="container-fluid" id="kpi-container" style="background-color: #F5F5F5; padding-top: 15px; padding-bottom: 50px;">

    <div class="clearfix" style="padding-bottom: 20px; text-align: right;">
         <a target="_blank" href="/performance/report/#/?quarter_id=${ current_quarter.id }$&q={{ search_terms }}&export_search=1" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                {% trans "Export Excel" %}
          </a>

        <form action="" method="GET" class="form-inline pull-right">
            <div class="form-group">
                <input id="input-search" type="text" name="q" value="{{ search_terms }}" class="form-control" placeholder="Search text..."/>
              </div>


            <button type="submit" class="btn btn-info">
                <i class="fa fa-search"></i>

                {% trans "Search" %}</button>
        </form>

    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-{{ category }}" >


                <div class="">
                    <div class="kpi-table">
                        {% include "performance/bsc/worksheet/modules/worksheet_header.html" %}


                        <div id="personal-kpis" class="kpi-section">

                            <div class="body">


                                {% with user_name='' section_name='' %}

                                    {% with category_key='financial' category_name='FINANCIAL' kpis=root_kpis_financial %}
                                        {% include "performance/bsc/worksheet/modules/kpis-by-category.html" %}
                                    {% endwith %}
                                    {% with category_key='customer' category_name='CUSTOMER' kpis=root_kpis_customer %}
                                        {% include "performance/bsc/worksheet/modules/kpis-by-category.html" %}
                                    {% endwith %}
                                    {% with category_key='internal' category_name='INTERNAL PROCESS' kpis=root_kpis_internal %}
                                        {% include "performance/bsc/worksheet/modules/kpis-by-category.html" %}
                                    {% endwith %}
                                    {% with category_key='learninggrowth' category_name='Learn & Growth' kpis=root_kpis_learninggrowth %}
                                        {% include "performance/bsc/worksheet/modules/kpis-by-category.html" %}
                                    {% endwith %}
                                    {% with category_key='other' category_name='Others' kpis=root_kpis_other %}
                                        {% include "performance/bsc/worksheet/modules/kpis-by-category.html" %}
                                    {% endwith %}

                                {% endwith %}
                            </div>
                        </div>
                        <script>
                            var options = {
                                "getFieldUrl": "/inplaceeditform/get_field/",
                                "saveURL": "/inplaceeditform/save/",
                                "successText": "Successfully saved",
                                "eventInplaceEdit": "click",
                                "disableClick": true,
                                "autoSave": true,
                                "unsavedChanges": "You have unsaved changes!",
                                "enableClass": "enable",
                                "fieldTypes": "input, select, textarea",
                                "focusWhenEditing": true
                            };

                        </script>
                    </div>
                </div>

        </div>

    </div>

    </div>
</div>



    <!- FUCK THIS DUPLICATED CODE BELOW -->
            <!-- deleted -->
    <!- END FUCK -->
    <script>
        KPI_EDITOR={
            kpi_search:'1',
            target_org_id:'{{ target_organization.id }}',
            public_view:'',

        }
    </script>
       <script type="text/javascript" src="{{ STATIC_URL }}js/app/kpi-editor.js?v={{ settings.VERSION }}"></script>

<!-- general scripts -->
    <script type="text/javascript">

        $.fn.reload_kpi_anchor=function(){
            if ($(this).is('[data-kpi-anchor]')){
                var obj=this;
                var kpi_id=$(this).attr('data-kpi-anchor');
                load_kpi_anchor(obj, 0, true);
            }
        };

        $(document).on('click', 'button.btn-reload-kpi-anchor', function(){
            //alert('reload');
            $(this).closest('[data-kpi-anchor]').reload_kpi_anchor();
        });



        // load kpis
        $('.kpi-anchor').each(function(){
            $(this).data({
                'loading':false,
                'loaded':false,
                'timeout_id':null
            });
        });

        load_in_kpi_anchors();



        init_toggle_kpi();

        $('.kpi-table').on('click', '.kpi-comment [data-el=\'comment-icon\']', function(){
            var remote_url=$(this).attr('data-href');
            $('#kpicoment-modal .modal-content').html('<div class="panel-body">{% trans "Loading comment and KPI history..." %}</div>');
//            $('#kpicoment-modal').modal('show');
            $.get( remote_url, function( data ) {
              $('#kpicoment-modal .modal-content').html( data );
//              alert( "Load was performed." );
            });
        });
        //language options
        $('.selectpicker').selectpicker({width: '60px'});
        $('.selectpicker').change(function () {
            $('#lang-form').submit();
        });
        //# end language options


    </script>

{% endblock %}




