{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Activity report" %}{{ block.super }}{% endblock %}

{% csrf_token %}

{% block base_menu %}
{% endblock %}

{% block landing %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css" />

{% trans "Reporting employee's login status of frequency" as descTitle %}
{% include 'performance/nav_bar.html' with logoLink="img/csb/reportIcon.png"|get_static titlePage="Activity report" %}

<style>
.filter_date {
	margin-top: 20px;
}
.filter_date li {
	display: inline-block;
	padding: 2px 15px;
}
.filter_date .active, .filter_date li:hover {
	background-color: #F1E7E7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.filter_date li a:hover {
	text-decoration: none;
}
</style>
<div class="tin-content-wrapper">
	<div class="clearfix">
		<div style="float: left;">
			<h3>{% trans 'Activity report' %}</h3>
		</div>
		<div style="float: right;">
			<ul class="filter_date">
				<li {% if date_filter == 'today' %}class="active"{% endif %}>
					<a href="?date=today">{% trans 'Today' %}</a>
				</li>
				<li {% if date_filter == 'yesterday' %}class="active"{% endif %}>
					<a href="?date=yesterday">{% trans 'Yesterday' %}</a>
				</li>
				<li {% if date_filter == 'this_week' %}class="active"{% endif %}>
					<a href="?date=this_week">{% trans 'This week' %}</a>
				</li>
				<li {% if date_filter == 'last_week' %}class="active"{% endif %}>
					<a href="?date=last_week">{% trans 'Last week' %}</a>
				</li>
				<li {% if date_filter == 'this_month' %}class="active"{% endif %}>
					<a href="?date=this_month">{% trans 'This month' %}</a>
				</li>
				<li {% if date_filter == 'last_month' %}class="active"{% endif %}>
					<a href="?date=last_month">{% trans 'Last month' %}</a>
				</li>
			</ul>
		</div>
	</div>
	<h6>{% trans 'Generated' %}: {% now "d-m-Y H:i:s" %}</h6>
{#	<h6>Số lượng:  {{ user_stats.count }}</h6>#}
	<h6>

        <form method="get" action="{{ request.get_full_path }}">
            {% csrf_token %}
            <input name="export" value="true" type="hidden">
            <input name="date" value="{{ request.GET.date }}" type="hidden">
            <button type="submit" class="btn btn-success">{% trans 'Export' %}</button>

        </form>
	</h6>


	
	<table class="table table-bordered">
		<theader>
			<th>{% trans 'Employee Name' %}</th>
			<th>{% trans 'Visits' %}</th>
			<th>{% trans 'Avg. Time on Site' %}</th>
			<th>{% trans 'Avg. Pages/Visit' %}</th>
		</theader>
		<tbody>
			{% for user in user_stats %}
	        <tr>
	            <td>{{ user|display_name }}</td>
	            <td>{{ user.visit_count }}</td>
	            <td>{{ user.time_on_site|default_if_none:"n/a" }}</td>
	            <td>{{ user.pages_per_visit|floatformat|default:"n/a" }}</td>
	        </tr>
	        {% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
