<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Report 6</title>
    <!-- Bootstrap Core CSS -->
{#    <link href="{{ STATIC_URL }}bootstrap3x/css/bootstrap.min.css" rel="stylesheet">#}
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Custom Fonts -->
{#    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"#}
{#          type="text/css">#}

{#    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>#}
    <link href='{{ STATIC_URL }}fonts/roboto-font/roboto.css' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}reports/style.css" rel="stylesheet" media="screen">
    <script type='text/javascript' src='//google.com/jsapi'></script>

     {% include "common/js-test.html" %}
</head>

<body>
<header class="header">
    <div class="">
        <div class="col-md-5 title-head">
            {% block title_1 %}
            Kết quả đánh giá{% endblock %}
        </div>
        <div class="title-head title-report">
            {% block title_2 %}
            Hiệu suất cá nhân{% endblock %}
        </div>
        <div class="clearfix"></div>
    </div>
</header>

<!-- Services Section -->
<section id="main-2">

    {% block main %}


    {% endblock %}
</section>

<!-- jQuery -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}bootstrap3x/js/bootstrap.min.js"></script>


</body>

</html>
