{% extends "report/base.html" %}

{% block main %}

    <div class="">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
{#                <tr class="rp1-head1">#}
{#                    <th colspan="7">Kết quả đánh giá</th>#}
{#                </tr>#}
                <tr class="rp1-head1">


                    <th>Nhóm 1</th>
                    <th>Nhóm 2</th>
                    <th>Nhóm 3</th>
                    <th>Nhóm 4</th>
                    <th>Nhóm 5</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rp1-head2">

                    <td><30%</td>
                    <td>30-50%</td>
                    <td>50-80%</td>
                    <td>80-100%</td>
                    <td>>100%</td>
                </tr>
                <tr style="background: darkgoldenrod;font-weight: bold;">
                    <td colspan="3" style="color: white;">KPI DELAYED/NOT MEASURED </td>
                    <td colspan="2"  style="color: white;">{{ delay_kpis_counter }}</td>
                </tr>

                </tbody>
            </table>


            <div class="chart1">
                <div class="chart-title chart2-title">Số lượng KPI từng khía cạnh BSC</div>
                <div class="chart1Container" id="chart2Container">
                </div>
            </div>


        </div>
        <div class="col-md-6">

            <div class="chart1">
                <div class="chart-title" style="margin-bottom: 30px;">Hiệu suất toàn công ty</div>

                <div class="chart1Container" id="chart1Container">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>



    <script type="text/javascript">

        /* ------------ Chart hieu suat -----------*/
        google.load('visualization', '1', {packages: ['corechart', 'bar']});
        google.setOnLoadCallback(drawBasic);

        function drawBasic() {

            {#        var data = new google.visualization.DataTable();#}
            {#        data.addColumn('string', '');#}
            {#        data.addColumn('number', ' ');#}
            {##}
            {#        data.addRows([#}
            {#            ['Nhóm 1', {{ group1 |length }},5,3,7,''],#}
            {#            ['Nhóm 2',  {{ group2 |length }},5,3,7,''],#}
            {#            ['Nhóm 3',  {{ group3 |length }},5,3,7,''],#}
            {#            ['Nhóm 4',  {{ group4 |length }},5,3,7,''],#}
            {#            ['Nhóm 5',  {{ group5 |length }},5,3,7,'']#}
            {#        ]);#}

            var data = google.visualization.arrayToDataTable([
                ['Category', 'Finance', 'Customer', 'Process', 'Learn & Growth', { role: 'annotation' } ],
                ['Nhóm 1', {{ group1_finance |length }}, {{ group1_customer |length }}, {{ group1_process |length }}, {{ group1_learnngrowth |length }}, ''],
                ['Nhóm 2', {{ group2_finance |length }}, {{ group2_customer |length }}, {{ group2_process |length }}, {{ group2_learnngrowth |length }}, ''],
                ['Nhóm 3', {{ group3_finance |length }}, {{ group3_customer |length }}, {{ group3_process |length }}, {{ group3_learnngrowth |length }}, ''],
                ['Nhóm 4', {{ group4_finance |length }}, {{ group4_customer |length }}, {{ group4_process |length }}, {{ group4_learnngrowth |length }}, ''],
                ['Nhóm 5', {{ group5_finance |length }}, {{ group5_customer |length }}, {{ group5_process |length }}, {{ group5_learnngrowth |length }}, ''],

            ]);

            var options = {
                title: 'Hiệu suất toàn công ty',
                titlePosition: 'none',
                legend: { position: 'top', maxLines: 3 },

                //legend: { position: "none" },
                vAxis: {
                    title: ' ',
                    gridlines: {count: 5}
                },
                //   tooltip: {trigger: 'none'},
                height: 480,
                bar: { groupWidth: "30%" },
                //colors: ['#4baae8'],

                isStacked: true,

            };

            var chart = new google.visualization.ColumnChart(
                    document.getElementById('chart1Container'));
            chart.draw(data, options);
        }


        /* ------------ Chart Số lượng KPI từng khía cạnh BSC -----------*/
        //google.load('visualization', '1', {packages: ['corechart', 'bar']});
        google.setOnLoadCallback(drawBasic2);

        function drawBasic2() {

            var data = new google.visualization.DataTable();
                data.addColumn('string', '');
                data.addColumn('number', ' ');

                data.addRows([
                    ['Tài chính', {{ finance | length }}],
                    ['Khách hàng', {{ customer | length }}],
                    ['Quy trình', {{ process | length }}],
                    ['Học tập & phát triển', {{ learnngrowth | length }}]
                ]);

            var options = {
                title: 'Số lượng KPI từng khía cạnh BSC',
                titlePosition: 'none',
                legend: { position: "none" },
                vAxis: {
                    title: ' ',
                    gridlines: {count: 5}
                },
                //  tooltip: {trigger: 'none'},
                height: 380,
                bar: { groupWidth: "30%" },
                colors: ['#008bb3']

            };

            var chart = new google.visualization.ColumnChart(
                    document.getElementById('chart2Container'));
            chart.draw(data, options);
        }

    </script>
{% endblock %}