{% extends "report/v3-base.html" %}
{% load i18n %}
{% block main %}
    <div ng-app="ReportOverAll" class="container">
        <h1 class="rp-title"><b>{% trans 'Individual performance' %}</b></h1>

        <div ng-controller="UserListCtrl">
            <div style="text-align: center">
                <div style="display: inline-block">
                    <h5 class="rp-title" style="font-size: 18px;float: left">{% trans 'Select review' %}&nbsp;<b><span>{[{title}]}</span></b>&nbsp;</h5>
                    <div class="dropdown" style="float: left;">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{% trans 'Select quarter' %}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
                          <li class="dropdown-submenu" ng-repeat="quarter in list_quarter">
                            <a tabindex="-1" href="javascript:void(0);">{[{quarter.quarter_name}]}</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="javascript:void(0)" ng-click="set_title($event, quarter);get_list_user(1, quarter.id, 1)">{[{quarter.month_1_name}]}</a></li>
                                <li><a tabindex="-1" href="javascript:void(0)" ng-click="set_title($event, quarter); get_list_user(1, quarter.id, 2)">{[{quarter.month_2_name}]}</a></li>
                                <li><a tabindex="-1" href="javascript:void(0)" ng-click="set_title($event, quarter); get_list_user(1, quarter.id, 3)">{[{quarter.month_3_name}]}</a></li>
                                <li><a tabindex="-1" href="javascript:void(0)" ng-click="set_title($event, quarter); get_list_user(1, quarter.id, 'all')">{% trans 'All month' %}</a></li>
                            </ul>
                          </li>
                        </ul>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="loading loading-text">
                        <p>{% trans 'Loading and waiting'%}</p>
                        <img src="{{ STATIC_URL }}img/loading.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 user-list">
                    <input ng-model="q" class="form-control" placeholder="{% trans 'Search employee' %}"
                           id="manager_filter"/><br/><br/>
                    <table class="table">
                        <thead>
                        <tr class="rp1-head2">
                            <th>#</th>
                            <th>{% trans 'Full name' %}</th>
                            <th>{% trans 'Manager' %}</th>
                            <th>{% trans 'Score' %} (%)</th>
                            <th>{% trans 'Export to excel' %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="txt-bold profile">
                            <td></td>
                            <td class="txt-red align-left">{% trans 'Company score' %}</td>
                            <td></td>
                            <td class="txt-red align-right">{[{ company_score }]}%</td>
                        </tr>

                        <tr dir-paginate="profile in profiles | filter:q | orderBy: score | itemsPerPage: 50 "

                        style="{[{ profile.active ? 'text-decoration:none':'text-decoration:line-through' }]}">

                            <td class="align-right">{[{ $index+1 }]}</td>
                            <td class="align-left" >{[{ profile.display_name }]}</td>
{#                            <td class="align-left">{[{ profile.report_to }]}</td>#}
                            <td class="align-left">{[{ profile.parent.user }]}</td>
                            <td class="align-right">{[{ profile.score | number:1 }]}</td>
                            <td class="align-right"><a href="/api/export/{[{ profile.user_id }]}/simple"><i class="fa fa-download" aria-hidden="true"></i></a></td>

                        </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls auto-hide="false"></dir-pagination-controls>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped rp2 rp3 rp3-small table-group">
                        <thead>
                        <tr class="rp1-head2">
                            <th class="align-left">{% trans "GROUP PERFORMANCE" %}</th>
                            <th>{% trans "TOTAL EMLPOYEES" %}</th>
                            <th>% {% trans "EMPLOYEES" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="txt-bold">
                            <td class="align-left">{% trans 'Group' %} 1 (0 - 30%)</td>
                            <td>{[{ group1 }]}</td>
                            <td>{[{ group1/profile_count*100 | number:2 }]}%</td>
                        </tr>
                        <tr class="txt-bold">
                            <td class="align-left">{% trans 'Group' %} 2 (31 - 50%)</td>
                            <td>{[{ group2 }]}</td>
                            <td>{[{ group2/profile_count*100 | number:2 }]}%</td>

                        </tr>
                        <tr class="txt-bold">
                            <td class="align-left">{% trans 'Group' %} 3 (51 - 80%)</td>
                            <td>{[{ group3 }]}</td>
                            <td>{[{ group3/profile_count*100 | number:2 }]}%</td>
                        </tr>
                        <tr class="txt-bold">
                            <td class="align-left">{% trans 'Group' %} 4 (81 - 100%)</td>
                            <td>{[{ group4 }]}</td>
                            <td>{[{ group4/profile_count*100 | number:2 }]}%</td>
                        </tr>
                        <tr class="txt-bold">
                            <td class="align-left">{% trans 'Group' %} 5 (101 - 120%)</td>
                            <td>{[{ group5 }]}</td>
                            <td>{[{ group5/profile_count*100 | number:2 }]}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="pieChart"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .ng-isolate-scope {
            display: block;
            text-align: center;
        }

        .user-list {
            margin-bottom: 0px;
            display: none;
        }

        .loading {
            display: block;
            text-align: center;
            color: red;
            padding: 10px;
        }

        .table-group {
            display: none;
        }

        svg {
            margin: 0 auto;
            display: block;
        }

        .txt-bold {
            font-weight: bold !important;
        }

        .txt-red {
            color: red !important;
        }

        .align-left {
            text-align: left !important;
        }

        .align-right {
            text-align: right !important;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu{
            position: relative;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu > a:after {
            display: block;
            float: right;
            width: 0;
            height: 0;
            margin-top: 5px;
            margin-right: -10px;
            border-color: transparent;
            border-left-color: #cccccc;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            content: " ";
        }
    </style>
    <script type="text/javascript">
        var app = angular.module('ReportOverAll', ['angular-loading-bar', 'ui-notification', 'angularUtils.directives.dirPagination'])
                .config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('{[{');
                    $interpolateProvider.endSymbol('}]}');
                });

        app.controller('UserListCtrl', function ($scope, $http, Notification) {
            $scope.retried = 0;
            $scope.retried_max = 10;
            $scope.profiles = [];
            $scope.company_score = null;
            $scope.list_quarter = [];
            $scope.title = '';
            
            $scope.set_title =  function ($event, quarter) {
                console.log($($event.currentTarget).text());
                console.log("abc");
                $scope.title = quarter.quarter_name + ', ' + $($event.currentTarget).text();
            }

            $scope.get_list_user = function (page, quarter_id, month_order) {
                hide_main_data();
                show_loading();
                $http.get('/api/user_score?quarter_id='+quarter_id, {timeout: 60000})
                        .then(function (res) {
                            if (res.data.status === 'ok') {
                                $scope.profiles = [];
                                $scope.company_score = res.data.data.company_kpi_score;
                                console.log(res.data);
                                var profiles = res.data.data.profiles;
                                profiles.forEach(function (profile) {
                                    $scope.profiles.push(profile);
                                });

                                hide_loading();
                                show_main_data();

                                $scope.profile_count=0;
                                $scope.group1 = 0;
                                $scope.group2 = 0;
                                $scope.group3 = 0;
                                $scope.group4 = 0;
                                $scope.group5 = 0;
                                $scope.profiles.forEach(function ($profile) {
                                    if ($profile.active){
                                        $scope.profile_count++;
                                        if(month_order == 1){
                                            $profile.score = $profile.score_m1;
                                        }else if(month_order == 2){
                                            $profile.score = $profile.score_m2;
                                        }else if(month_order == 3){
                                            $profile.score = $profile.score_m3;
                                        }
                                       if ($profile.score >= 101) {
                                            $scope.group5++;
                                        } else if ($profile.score >= 81) {
                                            $scope.group4++;
                                        } else if ($profile.score >= 51) {
                                            $scope.group3++;
                                        } else if ($profile.score >= 31) {
                                            $scope.group2++;
                                        } else {
                                            $scope.group1++;
                                        }
                                    }

                                });

                                // piechart
                                $scope.piechart = [
                                    {
                                        "label": "{% trans "Group" %} 1",
                                        "value": $scope.group1,
                                        "color": "#2780d7"
                                    },
                                    {
                                        "label": "{% trans "Group" %} 2",
                                        "value": $scope.group2,
                                        "color": "#3da035"
                                    },
                                    {
                                        "label": "{% trans "Group" %} 3",
                                        "value": $scope.group3,
                                        "color": "#e5c724"
                                    },
                                    {
                                        "label": "{% trans "Group" %} 4",
                                        "value": $scope.group4,
                                        "color": "#e67f15"
                                    },
                                    {
                                        "label": "{% trans "Group" %} 5",
                                        "value": $scope.group5,
                                        "color": "#e4380d"
                                    }
                                ];
                                var pie = new d3pie("pieChart", {
                                            "header": {
                                                "title": {
                                                    "text": "{% trans 'Individual performance chart' %}",
                                                    "fontSize": 24,
                                                    "font": "open sans"
                                                },
                                                "titleSubtitlePadding": 9,
                                            },
                                            "size": {
                                                "canvasWidth": 400,
                                                "canvasHeight": 400,
                                                "pieOuterRadius": "70%"
                                            },
                                            "data": {
                                                "sortOrder": "value-desc",
                                                "content": $scope.piechart
                                            },
                                            "labels": {
                                                "outer": {
                                                    "pieDistance": 10
                                                },
                                                "inner": {
                                                    "hideWhenLessThanPercentage": 3
                                                },
                                                "mainLabel": {
                                                    "font": "open sans",
                                                    "fontSize": 15
                                                },
                                                "percentage": {
                                                    "color": "#ffffff",
                                                    "font": "open sans",
                                                    "fontSize": 12,
                                                    "decimalPlaces": 0
                                                },
                                                "value": {
                                                    "color": "#adadad",
                                                    "fontSize": 11
                                                },
                                                "lines": {
                                                    "enabled": false
                                                },
                                                "truncation": {
                                                    "enabled": true
                                                }
                                            },
                                            "effects": {
                                                "pullOutSegmentOnClick": {
                                                    "effect": "linear",
                                                    "speed": 400,
                                                    "size": 8
                                                }
                                            },
                                            "misc": {
                                                "gradient": {
                                                    "enabled": true,
                                                    "percentage": 100
                                                }
                                            }
                                        }
                                );
                            }
                        }, function (res) {
                            $scope.retried++;
                            setTimeout(function () {
                                if ($scope.retried < $scope.retried_max) {
                                    get_list_user(page);
                                } else {
                                    swal({
                                        title: "{% trans 'Loading error' %}",
                                        type: "warning",
                                        showCancelButton: false,
                                        confirmButtonColor: "rgb(134, 204, 235)",
                                        confirmButtonText: "{% trans 'Reload' %}",
                                        cancelButtonText: "{% trans 'Cancel' %}",
                                        closeOnConfirm: false
                                    }, function () {
                                        location.reload();
                                    });
                                }
                            }, $scope.retired * 1000);
                        });
            }

            function get_list_quarter (){
                cloudjetRequest.ajax({
                    url: '/api/v2/quarter/all',
                    type: 'GET',
                    success: function(res){
                        console.log('res');
                        console.log(res);
                        $scope.$apply(function() {
                            $scope.list_quarter = res;
                        });
                        console.log($scope.list_quarter);
                    },
                    error: function(a, b, c){
                        swal({
                            title: "{% trans 'Loading error' %}",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonColor: "rgb(134, 204, 235)",
                            confirmButtonText: "{% trans 'Reload' %}",
                            cancelButtonText: "{% trans 'Cancel' %}",
                            closeOnConfirm: false
                        }, function () {
                            location.reload();
                        });
                    }
                })
            }

            function hide_loading(){
                $(".loading-img").hide();
                $(".loading").hide();
            }

            function show_loading(){
                $(".loading-img").show();
                $(".loading").show();
            }

            function show_main_data() {
                $(".user-list").show();
                $(".table-group").show();

            }

            function hide_main_data() {
                $(".user-list").hide();
                $(".table-group").hide();
                $("#pieChart").html("");
            }

            hide_loading();
            get_list_quarter();
            //get_list_user(1);
        })
        ;

    </script>

{% endblock %}