{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Perform & Reward" %}{{ block.super }}{% endblock %}

{% csrf_token %}

{% block base_menu %}
{% endblock %}


{% block landing %}
<!-- load font awesome -->

<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" />

 <!--
<link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css" />
 -->


{% trans "Pay for Performance" as descTitle %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'vi' %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/reportIcon.png"|get_static titlePage="Quỹ khen thưởng" %}
{% else %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/reportIcon.png"|get_static titlePage="Perform & Reward" %}
{% endif %}


<style type="text/css">
html, body{
 // margin:0;
  //padding:0;
  height:100%;
}
.jqstooltip{
	/*customize chart tooltip background */
 	background-color: rgba(24, 112, 193, 0.7);
 	margin-left: -20px;
}




.btn{
	margin-right:5px;
}
#months{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: overlay;
}
input#year_picker{
	margin: 0;
	width: 100px;
	font-size: 2em;
	height: 1em;
	text-align: center;
	  border: none;
  outline: none;
  box-shadow: none;
  color: rgb(179, 179, 179);
  cursor: pointer;
}
input#year_picker[readonly] {
    background:#fff;
    color: rgb(179, 179, 179);
    border: none;
  	outline: none;
}
.year-heading{

	font-size: 3em;
	color:rgb(179,179,179);
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	   height: 1em;
  line-height: 1em;
  margin-top: 10px;
  width: 120px;
  text-align: center;
  float: right;
}

.panel{
  border: 2px solid #45BDF4;
  background-color: #fff;
}
.panel-link{
  border: 2px solid #45BDF4;
  background-color: #fff;
}
.panel-unlink{
  border: 2px solid #aaa;
  background-color: #fff;
}
.panel-partial-link{
  border: 2px solid #82E3FF;
  background-color: #fff;
}


.panel .panel-heading{
	background-color:#31B0F1;
	padding:8px;
	color:#fff;
	text-transform: uppercase;
	  font-weight: 600;
	  font-size: 1.1em;
	  text-align: center;
}
.panel-link .panel-heading{
	background-color:#31B0F1;
}
.panel-unlink .panel-heading{
	background-color:#aaa;
}
.panel-partial-link .panel-heading{
	background-color:#82E3FF;
}

.panel-body{
	padding: 8px;
}
.panel-body .divider{
	border-top: 2px dashed #eee;
	margin-top: 15px;
	margin-bottom: 15px;
}
.panel-body .above{
	font-size: 1.5em;
	color:#AEAEAE;
	text-align: center;
	line-height: 1.5;
}


.sparkline-status{
	font-size: 1.5em;
	color:#838383;
}


.box-notification{
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);

	  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10000;
  padding: 20px;
  padding-right: 20px;
  background-color: rgba(253, 255, 181, 0.7);
  color: rgb(0, 169, 182);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-width: 200px;
  font-size: 1.5em;
  font-weight: 800;
  text-shadow: 1px 1px 6px #FFF, 0 0 0 #000;
  display: none;
}
.text-warning{
	color: rgb(237, 171, 0)!important;
}
.btn[disabled]{
	cursor: not-allowed!important;
}
.btn-quarter{
	margin-right: 4px;
	margin-bottom: 4px;
}

[data-show]:not([data-show="true"]){
	display: none!important;
}
/*force date-picker always show*/
#quarter-datepicker>.datepicker{
	display: block!important;
}

.fa-bind-global{
	font-size: 1.5em;
}
.fa-chain-broken{
	color:#A5A5A5;
}
tr.row-unbind{
  background-color: #FFE5B4;
}
tr[data-bind-global="0"]>td,
tr[data-bind-global="0"]>th
{
	background-color: #FFE5B4!important;
}
.table-hover tbody tr[data-bind-global="0"]:hover>td,
 .table-hover tbody tr[data-bind-global="0"]:hover>th {
  background-color: #FCF294!important;
}




#link-group .linkflag-wrap{
	position: absolute;
	bottom: 10px;
	display: inline-block;
	left: 50%;
	z-index: 101;

}
#link-group .linkflag-wrap:before{}
#link-group .linkflag-wrap:after{}

.panel .value{
	font-size: 1.5em;

}


</style>
<!-- table fixed header  -->
<style type="text/css">
/* table fixed header */
/*http://salzerdesign.com/test/fixedTable.html*/
section#main-section {
  position: relative;
  border: 1px solid #31B0F1;
  padding-top: 37px;
  background-color: #31B0F1;
}

section#main-section .main-container {
  overflow-y: auto;
  max-height: 500px;
}
section#main-section table {
  border-spacing: 0;
  width:100%;
}
section#main-section td + td {
  border-left:1px solid #eee;
}
section#main-section td,
 section#main-section th {
  border-bottom:1px solid #eee;
  color: #000;
  padding: 8px;
}
section#main-section th {
	padding: 0;
}
section#main-section td input{
	margin: 0;
}
section#main-section th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  //white-space: nowrap;
}
section#main-section th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 8px;
  top: 0;
  //margin-left: -25px;
  line-height: normal;
  background-color: #31B0F1;
  border-left: 1px solid #d8d8d8;
  cursor: help;
}
section#main-section tr.hidden-header th div{
  position: static;
  height:0;
  background: transparent;
  overflow-y:hidden;
  padding:0 8px;
  border-left: 1px solid #d8d8d8;
}
section#main-section th:first-child div{
  border: none;
}



section#main-section table tbody{
	background-color: #fff;
}

.table-wrapper{
	background-color:#eee;
	padding-bottom: 60px;
}
.table-wrapper .table{
	margin-bottom: 0;
}
</style>
<!-- custom style for xeditable -->
<style type="text/css">
/*custom style for xeditable*/
/*ref: http://ryanlanciaux.github.io/blog/2013/10/16/fake-popovers-for-angular-xeditable/*/

.item-wrapper a{
    display: inline !important;
}

.item-wrapper{
    /*display: inline;*/
    display: inline-block;
    position: relative;
}

.item-wrapper[data-editable-allow="false"] form.editable-wrap{
	display: none!important;
}
[data-hide-edit-form="1"] form.editable-wrap{
	display: none!important;
}

.item-wrapper[data-editable-allow="false"] .editable-click,
.item-wrapper[data-editable-allow="false"] a.editable-click{
	border-bottom: none;
	cursor: default;
	color: #47A000;
}

.item-wrapper form.editable-wrap {
	position: absolute;
	//top: -60px;
	bottom: 150%;
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 7px;
	width: 220px;
	display: inline-block;
	left: 50%;
	margin-left: -110px;
	z-index: 101;
}

.item-wrapper form.editable-wrap:before{
	content:"";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #AAA;
	position:absolute;
	bottom:-10px;
	left:100px;
}

.item-wrapper form.editable-wrap:after{
	content:"";
	width:0;
	height:0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid #FFF;
	position:absolute;
	bottom:-9px;
	left:101px;
}

.item-wrapper.item-wrapper-bottom form.editable-wrap{
	//top: auto;
  	//bottom: -60px;
  	top:150%;
  	bottom:auto;
}
.item-wrapper.item-wrapper-bottom form.editable-wrap:before{
	border-top: 0;
	border-bottom: 10px solid #AAA;
	top:-10px;
	bottom:auto;
	left:100px;
}

.item-wrapper.item-wrapper-bottom form.editable-wrap:after{
	border-top: 0;
	border-bottom: 9px solid #FFF;
	top:-9px;
	bottom: auto;
}

.editable-input{
     width:114px !important;
}

select.editable-input{
 width: 114px;
}

.editable-wrap .editable-error{
	white-space: normal;
	font-size: 16px;
}

[class*="editable-"]{

}
[class*="editable-"]:hover{

}
.bind_global_required:before{
 	content:'LINK:';
 	display: block;
 	 width: 220px;
 	white-space: normal;
 	  padding-bottom: 5px;
 	  line-height: 16px;
 	  font-weight: bold;
 }
.bind_global_required:after{
 	content:"{% trans "You have to turn off 'LINK' mode to enable personal editing mode" %}";
 	display: block;
 	color:red;
 	 width: 220px;
 	white-space: normal;
 	  padding-top: 5px;
	  margin-top: 10px;
	  border-top: 1px solid #ccc;
 }
 .bind_global_required+.editable-buttons{
 	display: inline-block;
 	margin-top: 21px;/*5px+16px*/
 }

</style>




<div class="" style="margin-bottom: 20px;" ng-controller="perform_reward_controller">
<!--
<button type="button" class="btn btn-warning" ng-click="allowed_edit=!allowed_edit" data-test="<< allowed_edit >>">
        Toggle Edit
 </button><span ng-bind="allowed_edit"></span>
  -->
<div id="box-notification" class="box-notification">
	 saving...
</div>

<div >
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<h3 style="color:#30AEEF; font-size: 2em;  text-transform: uppercase;font-weight: 300;">{% trans 'Perform & Reward' %}</h3>

			</div>
			<div class="span4">
				<div class="year-heading" ng-bind="quarters_year"></div>
			</div>
		</div>

	</div>




	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12" >
				<div id="months">
					<div style="float: left;">
						<input type="text" id="year_picker" readonly="readonly"  ng-model="quarters_year" />
						<input type="hidden" id="quarter_period_id" ng-model="settings.quarter_period"/>
					</div>
					<div style="float: left">
						<a ng-href="?quarter_id=<< quarter.quarter_id >>" ng-class="{ active: is_active_quarter(quarter) }" ng-repeat="quarter in quarters" class="btn btn-default" ng-bind="quarter.month"></a>
					</div>

					<div style="float:right">
						<a id="btn-choose-quarter" href="#modalSelectquarter" role="button" class="btn btn-default" data-toggle="modal">{% trans 'Select evaluation period' %}</a>
					</div>
					<!-- Modal -->
					<div id="modalSelectquarter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">{% trans 'Select evaluation period' %}</h3>
					  </div>
					  <div class="modal-body">
						    <style type="text/css">
						    	.table label{
						    		display: inline;
						    	}
						    </style>
    						<table class="table table-bordered">
    							<tbody>
    								<tr>
    									<td style="width: 50%;">
    										<div id="quarter-datepicker"></div>

    									</td>
    									<td>
    										<div><label style="text-decoration: underline;">{% trans 'Year:' %}</label> <strong id="modal-quarter-year"><< quarters_year >></strong></div>
    										<div>
    											<label style="text-decoration: underline;">{% trans 'Evaluation period' %}</label>
    											<div id="modal-quarters">
    												<a ng-href="?quarter_id=<< quarter.quarter_id >>" ng-class="{ active: is_active_quarter(quarter) }" ng-repeat="quarter in quarters" class="btn btn-default" ng-bind="quarter.month"></a>
    											</div>
    										</div>

    									</td>
    								</tr>
    							</tbody>
    						</table>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div class="container-fluid" style="margin-bottom: 40px;">
		<div class="row-fluid">
			<div class="span3">
				<div class="panel">
					<div class="panel-heading">
					{% trans 'Total salary' %}
					</div>
					<div class="panel-body">
						<div class="above">
							<div class=" value">
								<span ng-bind="format_money(total_monthly_salary_budget)"></span>
							</div>
						</div>

					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">{% trans 'Total bonus' %}</div>
					<div class="panel-body">
						<div class="above">
							<div class="value">
								<span ng-bind="format_money(get_total_final_reward())"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="panel">
					<div class="panel-heading">{% trans 'Bonus Budget' %}</div>
					<div class="panel-body">
						<div class="above" style="padding-bottom: 50px;padding-top: 50px;">

							<div class="item-wrapper value" data-editable-allow="<< allowed_edit >>">
								<a href="#" editable-number="reward_cap_amount" e-min="0" e-step="1" onbeforesave="validateGlobalField($data, 'reward_cap_amount')" ng-bind="format_money(reward_cap_amount)"></a>
							</div>
							<span style="white-space: nowrap;">
								<span class="value"> ( </span>

								<div class="item-wrapper value" data-editable-allow="<< allowed_edit >>">
									<a  href="#" editable-number="reward_cap" e-min="0" e-step="0.01" onbeforesave="validateGlobalField($data, 'reward_cap')" ng-bind="format_percent(reward_cap, 2)"></a>
								</div>

								<span> {% trans 'Total salary' %} </span>
								<span class="value"> ) </span>
							</span>
						</div>

					</div>
				</div>
			</div>

			<div class="span5">
				<div class="panel panel-<< link_status() >>">
					<div class="panel-heading">{% trans 'Bonus range' %}</div>
					<div class="panel-body">
						<div class="above">
							<div class="item-wrapper value" data-editable-allow="<< allowed_edit >>">
								<a href="#" editable-number="max_rewarding" e-min="0" e-step="any" onbeforesave="validateGlobalField($data, 'max_rewarding')" ng-bind="format_percent(max_rewarding, 0)"></a>
							</div>
							<span> {% trans 'base salary' %}</span>
							<hr>


							<span>{% trans 'From' %} </span>
							<div class="item-wrapper value"  data-editable-allow="<< allowed_edit >>" style>
								<a href="#" editable-number="start_rewarding" e-min="0" e-step="1" onbeforesave="validateGlobalField($data, 'start_rewarding')" ng-bind="format_percent(start_rewarding, 0)"></a>

							</div>

							<span>&ensp;<i class="fa fa-long-arrow-right"></i>&ensp;</span>
							<div class="item-wrapper value" data-editable-allow="<< allowed_edit >>">
								<a href="#" editable-number="end_rewarding" e-min="0" e-step="1" onbeforesave="validateGlobalField($data, 'end_rewarding')" ng-bind="format_percent(end_rewarding, 0)"></a>
							</div>
							<span> {% trans 'performance score' %}</span>
						</div>


					</div>
				</div>
				<style>
					.color-indicators{
						margin-top: 10px;
					}
					.color-indicator{
						cursor: help;
						border: 1px solid transparent;
						padding: 4px;
					}
					.color-indicator:hover{
						border-color: #ccc;
					}
					.color-indicator .color-piece{
						width: 16px;
						height: 16px;
						display: inline-block;
						color:#000;
						font-family: consolas;
					}
					.color-indicator.color-link {
						color:#45BDF4;
					}
					.color-link  .color-piece{
						background-color:#45BDF4;
					}
					.color-indicator.color-unlink{
						color:#aaa;
					}
					.color-unlink .color-piece{
						background-color:#aaa;
					}
					.color-indicator.color-partial-link{
						color:#82E3FF;
					}
					.color-partial-link .color-piece{
						background-color:#82E3FF;
					}
				</style>

				<div class="color-indicators">
					<div class="row-fluid">
						<div class="span4">
							<div class="color-indicator color-link" data-toggle="tooltip" data-html="true" title="{% trans 'All of the employees are in LINK mode' %}" ng-tooltip>
								<span class="color-piece"></span> {% trans 'Link' %}
							</div>
						</div>
						<div class="span4">
							<div class="color-indicator color-partial-link"  data-toggle="tooltip" data-html="true" title="{% trans 'Some employees are currently in personal editing mode' %}" ng-tooltip>
								<span class="color-piece"></span> {% trans 'Partial Link' %}
							</div>
						</div>
						<div class="span4">
							<div class="color-indicator color-unlink"  data-toggle="tooltip" data-html="true" title="{% trans 'All of the employees are in personal editing mode' %}" ng-tooltip>
								<span class="color-piece"></span> {% trans 'Unlink' %}
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>



	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12" style=" margin-bottom: 50px; position: relative;">
				<div style="position: relative;height: 1px;">
					<div class="ng-hide" data-show="<< allowed_edit >>" ng-show="allowed_edit" style="position: absolute; bottom: 1px; right: 0; ">
						<span class="text-warning" ng-hide="!(edited || unsaved)" style="font-size: 1.2em;font-style: italic;  background-color: aliceblue; padding: 0 8px; display: none!important;">{% trans 'Employees final bonus have not saved!' %} &nbsp;</span>
						<button class="btn btn-warning" ng-disabled="!(edited || unsaved)" style="min-width: 120px;" ng-click="save_changes()">{% trans 'Finish Editing' %}</button>
					</div>

					<div style="position: absolute; bottom: 1px; left: 0;">

						<form name="export_excel_form" action="{% url 'api-perform-reward' %}" method="post" style="margin: 0;" ng-submit="validate_export_excel($event)"  novalidate>
							{% csrf_token %}
							<input type="hidden" name="export_perform_reward" value="1"/>
							<input type="hidden" name="quarter_id" value="<< settings.quarter_period >>"/>
							<input type="submit"  ng-popover class="btn btn-success" data-toggle="popover" data-placement="top" data-trigger="click"
							 data-content="Bạn cần <strong class='text-warning' >Hoàn tất chỉnh sửa</strong> đề xuất Excel." value="{% trans 'Export Excel' %}">
						</form>

					</div>
				</div>



				<section id="main-section">

					<div class="main-container">
					<div class="table-wrapper">
						<!-- http://salzerdesign.com/test/fixedTable.html -->
					    <table class="table table-striped table-hover">
					       <thead>
					        <tr class="header">
					          <th>
					           <!-- Employee ID  -->
					            <div data-toggle="tooltip" title="{% trans 'Employee ID' %}" ng-tooltip >
					            	{% trans 'Employee ID' %}

					            </div>
					          </th>
					          <th>
					            <!-- Name -->
					            <div data-toggle="tooltip" title="{% trans 'Name' %}" ng-tooltip >{% trans 'Name' %}</div>
					          </th>
					          <th>
					            <!-- Email -->
					            <div data-toggle="tooltip" title="{% trans 'Email' %}" ng-tooltip >{% trans 'Email' %}</div>
					          </th>

					          <th>
					            <!-- Performance Score -->
					            <div data-toggle="tooltip" title="{% trans 'Performance Score' %}" ng-tooltip >{% trans 'Performance Score' %}</div>
					          </th>
					          <th>
					            <!-- NET Salary -->
					            <div data-toggle="tooltip" title="{% trans 'NET Salary' %}" ng-tooltip >{% trans 'NET Salary' %}</div>
					          </th>

					          <th>
					           	<!-- From -->
					            <div data-toggle="tooltip" title="{% trans 'From' %}" ng-tooltip >{% trans 'From' %}</div>
					          </th>
					          <th>
					            <!-- To -->
					            <div data-toggle="tooltip" title="{% trans 'To' %}" ng-tooltip >{% trans 'To' %}</div>
					          </th>
					          <th>
					            <!-- Personal bonus (%/salary)  -->
					            <div data-toggle="tooltip" title="{% trans 'Personal Bonus (&#37;/salary)' %}" ng-tooltip >{% trans 'Personal Bonus (&#37;/salary)' %}</div>
					          </th>
					           <!--
					          <th>

					            Estimated Reward

					            <div data-toggle="tooltip" title="{% trans 'Estimated Reward' %}" ng-tooltip >{% trans 'Est. Reward' %}</div>
					          </th>

					          -->
					          <th>
					            <!-- Adjusted Final bonus -->
					            <div data-toggle="tooltip" title="{% trans 'Final Bonus' %}" ng-tooltip >{% trans 'Final Bonus' %}</div>
					          </th>
					          <th>
					          <!-- Bind Global -->
					          <div data-toggle="tooltip" title="{% trans 'Link change from `Bonus Range`' %}" ng-tooltip >{% trans 'Link change from `Bonus Range`' %}</div>
					          </th>
					          <!--
					          <th>
					             Trend
					            <div data-toggle="tooltip" title="{% trans 'Trend' %}" ng-tooltip >{% trans 'Trend' %}</div>
					          </th>
					          -->
				          </tr>

					        <tr class="hidden-header">
					          <th>
					            <div>
					            	{% trans 'Employee ID' %}
					            </div>
					          </th>
					          <th>
					            <div>{% trans 'Name' %}</div>
					          </th>
					          <th>
					            <div>{% trans 'Email' %}</div>
					          </th>

					          <th>
					            <div>{% trans 'Performance Score' %}</div>
					          </th>
					          <th>
					            <div>{% trans 'NET Salary' %}</div>
					          </th>

					          <th>
					            <div>{% trans 'From' %}</div>
					          </th>
					          <th>
					            <div>{% trans 'To' %}</div>
					          </th>
					          <th>
					            <div>{% trans 'Personal Bonus (&#37;/salary)' %}</div>
					          </th>
					           <!--
					          <th>

					            <div>{% trans 'Est. Reward' %}</div>

					          </th>
					          -->


					          <th>
					            <div>{% trans 'Final Bonus' %}</div>
					          </th>
					          <th>
					          	<div>{% trans 'Link change from `Bonus Range`' %}</div>
					          </th>
					          <!--
					          <th>
					            <div>{% trans 'Trend' %}</div>
					          </th>
					           -->
				          </tr>
					      </thead>
					      <tbody>

					      	<tr  ng-repeat="emp in employees" ng-controller="employeeController" data-bind-global="<< emp.bind_global >>" id="<< emp._id.$oid >>">
								<td>
									<span ng-bind="emp.employee_code"></span>
								</td>
								<td>
									<span ng-bind="emp.employee_name"></span>
								</td>
								<td>
									<!-- email -->
								</td>


						          <td>
						          	<!-- performance score -->
						          	<span ng-bind="format_percent(emp.kpi_percent, 2)"></span>
						          </td>
						          <td  data-hide-edit-form="0">
						          		<!-- net salary -->
							          	<div class="item-wrapper item-wrapper-bottom " data-editable-allow="<< allowed_edit >>">
							          	<a  href="#" editable-number="emp.net_salary" e-min="0" e-step="1"  onbeforesave="validateEmpField($data, 'net_salary', $index)" ng-bind="format_money(emp.net_salary)"></a>
							          	</div>
						           </td>
						          <td  data-hide-edit-form="<< emp.bind_global >>">
						          		<!-- from -->
							          <div class="item-wrapper item-wrapper-bottom " data-editable-allow="<< allowed_edit >>">
							          <a ng-click="check_enable_bind_global($index)?bindGlobalForm.$show():false;"  href="#" editable-number="emp.start_rewarding" e-min="0" e-step="1" onbeforesave="validateEmpField($data, 'start_rewarding', $index)" ng-bind="format_percent(emp.start_rewarding, 0)"></a>
							           <!-- if old, get existed value -->
							           </div>
						          </td>
						          <td  data-hide-edit-form="<< emp.bind_global >>">
						          	<!-- to -->
						          	<div class="item-wrapper item-wrapper-bottom " data-editable-allow="<< allowed_edit >>">
							          	 <a ng-click="check_enable_bind_global($index)?bindGlobalForm.$show():false;"  href="#" editable-number="emp.end_rewarding" e-min="0" e-step="1" onbeforesave="validateEmpField($data, 'end_rewarding', $index)" ng-bind="format_percent(emp.end_rewarding, 0)"></a>
							          	 <!-- if old, get existed value -->
						          	 </div>
						          </td>
						          <td  data-hide-edit-form="<< emp.bind_global >>">
						          		<!-- personal bonus (% / salary) -->
							          <div class="item-wrapper item-wrapper-bottom " data-editable-allow="<< allowed_edit >>">
							          <a ng-click="check_enable_bind_global($index)?bindGlobalForm.$show():false;"  href="#" editable-number="emp.max_rewarding" e-min="0" e-step="1" onbeforesave="validateEmpField($data, 'max_rewarding', $index)" ng-bind="format_percent(emp.max_rewarding, 0)"></a>
							          <!-- if old, get existed value -->
							          </div>
						          </td>
						         <!--
						          <td>

						          	  est. reward

						          	<span ng-bind="format_money(emp.est_reward)"></span>

						          </td>
						          -->
						          <td>
						          	<!-- final bonus -->
						          	<span ng-bind="format_money(emp.final_reward)"></span>

						          </td>
						          <td data-bind-global="<< emp.bind_global >>">




						          	<!-- Link change from  `Bonus Range` -->
						          	<div class="item-wrapper item-wrapper-bottom " data-editable-allow="<< allowed_edit >>">
						          		<a  href="#" editable-radiolist="emp.bind_global" e-ng-options="s.value as s.text for s in bind_global_statuses" onbeforesave="validateEmpField($data, 'bind_global', $index)">

										    <i class="fa << showUnBindGlobalStatus(emp) >>"></i>
									  	</a>

									  	<!-- for trigger when click to edit fields of employee that bind-global=1 -->
									  	<a href="#"
									  	  e-form="bindGlobalForm"
									  	  editable-radiolist="emp.bind_global"
									  	 e-ng-options="s.value as s.text for s in bind_global_statuses"
									  	  onbeforesave="validateEmpField($data, 'bind_global', $index)"
									  	  e-class="bind_global_required"
									  	 style="width: 0;height: 0;display: inline-block;"></a>

						          	</div>

						          </td>
						          <!--
						          <td>
					          			<div class="employee-trend" ng-employeetrend > 1:7, 2:2, 3:9, 4:6 </div>
						           </td>
						           -->
							</tr>
					      </tbody>
					    </table>
					    </div>
					  </div>
				</section>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//http://stackoverflow.com/questions/149055/how-can-i-format-numbers-as-money-in-javascript
	Number.prototype.format = function(n, x) {
	    var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
	    return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
	};

</script>
<!-- date picker -->
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datepicker.css" type="text/css">
<script src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datepicker.js"></script>



<!-- angularjs -->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
	<script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
<!-- angular mock -->
<!--
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-mocks.js" type="text/javascript"></script>
 -->

<script src="{{ STATIC_URL }}v1/js/perform-reward/controller.js?xxxx=1" type="text/javascript"></script>
<script src="{{ STATIC_URL }}v1/js/perform-reward/module.js?xxx=2" type="text/javascript"></script>


<!-- sparklines chart -->
<script src="{{STATIC_URL}}js/jquery.sparkline.js"></script>
<script src="{{STATIC_URL}}v1/js/perform-reward/sparkline-chart.js"></script>

<!-- angular xeditable -->
<link href="{{ STATIC_URL }}angular-xeditable/css/xeditable.css" rel="stylesheet">
<script src="{{ STATIC_URL }}angular-xeditable/js/xeditable_customize.js"></script>

<script type="text/javascript">
/*$('#year_picker').datepicker({
	format:'yyyy',
	startView:2,
	minViewMode:2,
	autoclose: true

});*/

$('#quarter-datepicker').datepicker({
	//format:'yyyy',
	autoclose: false,
	minViewMode:2,
	maxViewMode:2,
	//defaultViewDate:{year:'1978'} //will show range of 1970-1979
})

.on('changeYear', function(e){
	 	var chosen_year = String(e.date).split(" ")[3];
       $("#modal-quarter-year").html(chosen_year);
       $('#modal-quarters').html('<span class="text-warning">Loading...</span>');
       //get quarters off the chosen year

       cloudjetRequest.ajax({
    	   url:'/performance/api/perform-reward/?get_quarters_by_year='+chosen_year,
    	   type:'get',
    	   dataType:'json',
    	   success:function(res){
    		   console.log(res);
    		   var quarters='';
    		   for(quarter in res){
    			   if(res[quarter]['quarter_id']==$('#quarter_period_id').val()){
    				   quarters +=  '<a href="?quarter_id=' + res[quarter]['quarter_id'] + '"  class="btn-quarter btn btn-default active">'+res[quarter]['month']+'</a>';
    			   }else{
    				   quarters +=  '<a href="?quarter_id=' + res[quarter]['quarter_id'] + '"  class="btn-quarter btn btn-default">'+res[quarter]['month']+'</a>';
    			   }

    		   }
    		   if(!quarters){
    			   $('#modal-quarters').html('<span class="text-warning">'+ "{% trans 'Nothing' %}" +'</span>');
    		   }else{
    			   $('#modal-quarters').html(quarters);
    		   }
    	   },
    	   error:function(){
    		   alert('Sorry, server error!');
    	   }
       });

    });


//$('#quarter-datepicker').datepicker('setDate', new Date(2008,10,16));

//$('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
</div>





{% endblock %}
