{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Report" %}{{ block.super }}{% endblock %}

{% csrf_token %}

{% block base_menu %}
{% endblock %}

{% block landing %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css"/>
    {% include 'performance/nav_bar.html' with report_type="score" report=1 manager_id=manager_id logoLink="img/csb/reportIcon.png"|get_static titlePage="Employee List and Scores" descTitle="" %}
    <div class="pagination pagination-small pagination-right " id="tin-pagination">
        <ul>
            {% if report.has_previous %}
                <li><a href="?page={{ report.previous_page_number }}">{% trans 'Prev' %}</a></li>
            {% endif %}
            {% for index in pagenum %}
                <li {% if index == current %}class="active"{% endif %}><a href="?page={{ index }}">{{ index }}</a></li>
            {% endfor %}
            {% if report.has_next %}
                <li><a href="?page={{ report.next_page_number }}">{% trans 'Next' %}</a></li>
            {% endif %}

        </ul>
    </div>

    {% if loading == True %}
        <h3 style="text-align: center; color: orangered">

            Report is calculating: {{ calculated_users }}/{{ total_users }} , please wait in some minutes...</h3>
        <script>

            setTimeout("location.reload(true);", 8000);
        </script>


    {% else %}
        <div class="tin-content-wrapper">
            <h3>Employee List and Scores</h3>
            <h6>{{ quarter_period.quarter_name }}</h6>
            <h6>{% trans 'Generated' %}: {% now "d-m-Y H:i:s" %}</h6>
            <table class="table table-bordered">
                <tr>
                    <th>Employee Name</th>
                    <th>ID</th>
                    <th>Employee Email</th>
                    <th>Manager Email</th>

                    <th>Tổng điểm trọng số</th>

                    <th>{{ quarter_period.month_1_name }}</th>
                    <th>{{ quarter_period.month_2_name }}</th>
                    <th>{{ quarter_period.month_3_name }}</th>

                    <th>{% trans "Quarter" %}</th>

                </tr>
                {% for row in report %}
                    <tr>
                        <td>{{ row.employee_name }}</td>
                        <td>{{ row.employee_code }}</td>
                        <td>{{ row.email }}</td>

                        <td>{{ row.manager_email }}</td>
                        <td>{{ row.total_weighting_score }}</td>
                        <td style="text-align: right;">{{ row.kpi_percent_m1|default:''|floatformat:1 }}</td>
                        <td style="text-align: right;">{{ row.kpi_percent_m2|default:''|floatformat:1 }}</td>
                        <td style="text-align: right;">{{ row.kpi_percent_m3|default:''|floatformat:1 }}</td>
                        <td style="text-align: right;">{{ row.kpi_percent|default:''|floatformat:1 }}</td>
{#                        <td>{{ row.grid_position }}</td>#}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}
{% endblock %}
