{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Report" %}{{ block.super }}{% endblock %}
{% block base_menu %}
{% endblock %}
{% csrf_token %}

{% block landing %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css" />
{% include 'performance/nav_bar.html' with report_type="goal" report=1 logoLink="img/csb/reportIcon.png"|get_static titlePage="Goals by person by round" descTitle="All goals entered for all employees in the selected round. Also shows if no goals have been entered." %}
<div class="pagination pagination-small pagination-right " id="tin-pagination">
    <ul>
    	{% if report.has_previous %}
			<li><a href="?page={{ report.previous_page_number }}">{% trans 'Prev' %}</a></li>
		{% endif %}	    
	   {% for index in pagenum %}  
	    <li {% if index == current %}class="active"{% endif %}><a href="?page={{index}}">{{index}}</a></li>
	    {% endfor %}
	    {% if report.has_next %}
			<li><a href="?page={{ report.next_page_number }}">{% trans 'Next' %}</a></li>
        {% endif %}
	    
    </ul>
</div>
<div class="tin-content-wrapper" >
	<h3>Entered Goals by Person</h3>
	<h6>{{ quarter_period.quarter_name }}</h6>
	<h6>{% trans 'Generated' %}: {% now "d-m-Y H:i:s" %}</h6>
	
	<table class="table table-bordered" >
		<colgroup>
			<col width="10%">
			<col width="5%">
			<col width="10%">
			<col width="auto">
			<col width="auto">
			<col width="70">
			<col width="15%">
			<col width="10%">
		</colgroup>
		<thead>
			<tr>
				{% for h in header %}
				<th>{{ h }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for row in report %}
		<tr>
			{% for item in row %}
			<td>{{ item }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
