{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Report" %}{{ block.super }}{% endblock %}

{% csrf_token %}

{% block base_menu %}
{% endblock %}

{% block landing %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css" />
{% include 'performance/nav_bar.html' with report=1  report_type="self_assessment_review_status" logoLink="img/csb/reportIcon.png"|get_static titlePage="Self Assessmnt Review Status" descTitle="The status of all employees' self assessment for the selected round. Also shows manager name and sharing status." %}
<div class="pagination pagination-small pagination-right " id="tin-pagination">
    <ul>
    	{% if report.has_previous %}
			<li><a href="?page={{ report.previous_page_number }}">{% trans 'Prev' %}</a></li>
		{% endif %}	    
	   {% for index in pagenum %}  
	    <li {% if index == current %}class="active"{% endif %}><a href="?page={{index}}">{{index}}</a></li>
	    {% endfor %}
	    {% if report.has_next %}
			<li><a href="?page={{ report.next_page_number }}">{% trans 'Next' %}</a></li>
        {% endif %}
	    
    </ul>
</div>
<div class="tin-content-wrapper">
	<h3>{% trans 'Self Assessment Review Status' %}</h3>
	<h6>{{ quarter_period.quarter_name }}</h6>
	<h6>{% trans 'Generated' %}: {% now "d-m-Y H:i:s" %}</h6>
	<table class="table table-bordered" >
		<theader>
			<th>Employee Name</th>
			<th>ID</th>
			<th>Manager Name</th>
			<th>Manager ID</th>
			<th>Completion %</th>
			<th>Sharing Status</th>
			<th>Grid Position</th>
		</theader>
		<tbody>
			{% for row in report %}
			<tr>
				<td>{{ row.employee_name }}</td>
				<td>{{ row.employee_code }}</td>
				<td>{{ row.manager_name }}</td>
				<td>{{ row.manager_code }}</td>
				<td>{{ row.completion }}</td>
				<td>{{ row.share_status }}</td>
				<td>{{ row.grid_position }}</td>
			</tr>
			{% endfor %}

		</tbody>
		
	</table>
</div>
{% endblock %}
