{% extends "base_performace.html" %}
{% load i18n user_tags %}
{% block title %}{% trans "Report" %}{{ block.super }}{% endblock %}

{% csrf_token %}

{% block base_menu %}
{% endblock %}

{% block landing %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/tin-style-modal.css" />
{% include 'performance/nav_bar.html' with report_type="dev_plan" report=1 logoLink="img/csb/reportIcon.png"|get_static titlePage="Dev Plan Contents by round" descTitle="Development plan comments and actions for all employees in the selected round. Also displays if no development plan detail has been entered." %}
<div class="pagination pagination-small pagination-right " id="tin-pagination">
    <ul>
    	{% if report.has_previous %}
			<li><a href="?page={{ report.previous_page_number }}">{% trans 'Prev' %}</a></li>
		{% endif %}	    
	   {% for index in pagenum %}  
	    <li {% if index == current %}class="active"{% endif %}><a href="?page={{index}}">{{index}}</a></li>
	    {% endfor %}
	    {% if report.has_next %}
			<li><a href="?page={{ report.next_page_number }}">{% trans 'Next' %}</a></li>
        {% endif %}
	    
    </ul>
</div>
<div class="tin-content-wrapper">
	<h3>{% trans 'Development Plan Contents' %}</h3>
	<h6>{{ quarter_period.quarter_name }}</h6>
	<h6>{% trans 'Generated' %}: {% now "d-m-Y H:i:s" %}</h6>
	<table class="table table-bordered">
		<theader>
			<th>Employee Name</th>
			<th>ID</th>
			<th>Manager Name</th>
			<th>Devplan Tab</th>
			<th>Short term career objective</th>
			<th>Short term development activities</th>
			<th>Long term career objective</th>
			<th>Long term development activities</th>
			<th>Role Type</th>
		</theader>
		{% for row in report %}
		<tbody>
			<tr>
				{% for item in row %}
				<td>{{ item }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
