{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Export data" %}/title>
    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js"></script>
     {% include "raven.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    {#    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>#}
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}v5/bower_components/jquery-loading/dist/jquery.loading.min.js"
            type="text/javascript"></script>
    <link href="{{ STATIC_URL }}v5/bower_components/jquery-loading/dist/jquery.loading.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}select/select2.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}select/select2.css">
    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
    <!-- for excel -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/exceljs.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/Blob.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/FileSaver.js"></script>
    <script src="{{ STATIC_URL }}js/async.min.js"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
    <!-- for excel -->
</head>
<body>


<script>
    Vue.filter('formatDate', function (val) {
        if (val) {
            val = new Date(val);
            return val.getDate() + '/' + val.getMonth() + '/' + val.getFullYear()
        }
    })
    // Khang add these functions for JS string utilities
    String.prototype.nextChar = function (i) {
        var n = i | 1;
        return String.fromCharCode(this.charCodeAt(0) + n);
    };
    String.prototype.prevChar = function (i) {
        var n = i | 1;
        return String.fromCharCode(this.charCodeAt(0) - n);
    };
    Object.byString = function (o, s) {
        s = s.replace(/\[(\w+)\]/g, '.$1'); // convert indexes to properties
        s = s.replace(/^\./, '');           // strip a leading dot
        var a = s.split('.');
        for (var i = 0, n = a.length; i < n; ++i) {
            var k = a[i];
            if (k in o) {
                o = o[k];
            } else {
                return;
            }
        }
        return o;
    }
    Object.defineProperty(Array.prototype, 'chunk_inefficient', {
        value: function (chunkSize) {
            var array = this;
            return [].concat.apply([],
                array.map(function (elem, i) {
                    return i % chunkSize ? [] : [array.slice(i, i + chunkSize)];
                })
            );
        }
    });

    const router = new VueRouter({
            mode: 'history'
        }
    );

    time = 5;

    var app = new Vue({
        el: '#app',
        router: router,
        data: {
            quarter_kpi: '',
            profile: '',
            quarter: '',
            user_id: null,
            organization: '',
            downloadable: false,
            retryajax: false
        },
        delimiters: ['${', '}$'],
        created: function () {
            self = this;
            self.user_id = self.$route.query.user_id;
            // DANG XET USER_ID TINH
            //this.user_id = 2;
//                self.get_profile(self.user_id);
//                self.get_kpis(self.user_id);
//                self.get_quarter();
            //this.renderExcel();
            async.waterfall([
                function (cb) {
                    self.get_profile(self.user_id, cb);
                },
                function (cb) {
                    self.get_quarter(cb);
                },
                function (cb) {
                    self.get_kpis(self.user_id, cb);
                },
                function (cb) {
                    self.getOrg(cb);
                },
                function (cb) {
                    self.renderExcel();
                }]);

        },

        methods: {
            downloadFile: function (wb, filename) {
                if (wb) wb.xlsx.writeBuffer().then(function (buffer) {
                    var filesaver = saveAs(new Blob([buffer], {
                        type: "application/octet-stream"
                    }), filename);

                    setTimeout(function () {
                        window.close();
                    }, 500);
                });
            },

            get_quarter: function (cb) {
                self = this;
                var quarter_id = getUrlVars()['quarter_id'];
                cloudjetRequest.ajax({
                    method: "GET",
                    url: "/api/quarter/?quarter_id=" + quarter_id,
                    success: function (data) {
                        if (data) {
                            self.quarter = data;
                            console.log(self.quarter);
                            try {
                                cb(null);
                            } catch (err) {

                            }
                        }

                    }
                })
            },

            get_profile: function (user_id, cb) {
                self = this;
                cloudjetRequest.ajax({
                    method: "GET",
                    url: "/api/v2/profile/" + user_id + "/",
                    success: function (data) {
                        if (data) {
                            self.profile = data;
                            console.log('===profile===');
                            console.log(self.profile);
                            try {
                                cb(null);
                            } catch (err) {

                            }
                        }

                    }
                })
            },

            get_kpis: function (user_id, cb) {
                self = this;
                cloudjetRequest.ajax({
                    method: 'GET',
                    url: "/api/export/" + user_id + "/simple/?type=json&quarter_period=" + self.quarter.id,
                    success: function (data) {
                        if (data) {
                            self.quarter_kpi = data;
                            console.log("=====data");
                            console.log(self.quarter_kpi);
                            try {
                                cb(null);
                            } catch (err) {

                            }
                        }

                    }

                })
            },
            getOrg: function (cb) {
                self = this;
                cloudjetRequest.ajax({
                    method: 'GET',
                    url: '/api/organization',
                    success: function (data) {
                        if (data) {
                            self.organization = data;
                            console.log('====Org===');
                            console.log(self.organization);
                            try {
                                cb(null);
                            } catch (err) {

                            }
                        }
                    }
                })
            },
            renderExcel: function (cb) {
                console.log('download file')
                self = this;
                var organization = self.organization;
                var profile = self.profile;
                var quarter = self.quarter;
                var quarter_kpi = self.quarter_kpi;
                var formatStruct = {
                    header: {
                        odd: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'center',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: true
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                            fill: {
                                type: 'pattern',
                                pattern: 'solid',
                                bgColor: {
                                    argb: 'FFB8CCE4'
                                },
                                fgColor: {
                                    argb: 'FFB8CCE4'
                                }
                            }
                        },
                        even: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'center',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: true
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                            fill: {
                                type: 'pattern',
                                pattern: 'solid',
                                bgColor: {
                                    argb: 'FFFFFF99'
                                },
                                fgColor: {
                                    argb: 'FFFFFF99'
                                }
                            }
                        },
                        info: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'left',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: false
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                            fill: {
                                type: 'pattern',
                                pattern: 'solid',
                                bgColor: {
                                    argb: 'FFFFFFFF'
                                },
                                fgColor: {
                                    argb: 'FFFFFFFF'
                                }
                            }
                        },
                        title: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'center',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: true
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                            fill: {
                                type: 'pattern',
                                pattern: 'solid',
                                bgColor: {
                                    argb: 'FFFFFFFF'
                                },
                                fgColor: {
                                    argb: 'FFFFFFFF'
                                }
                            }
                        }
                    },
                    body: {
                        title: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'center',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: true
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                            fill: {
                                type: 'pattern',
                                pattern: 'solid',
                                bgColor: {
                                    argb: 'FFFCD5B4'
                                },
                                fgColor: {
                                    argb: 'FFFCD5B4'
                                }
                            }
                        },
                        data: {
                            alignment: {
                                vertical: 'middle',
                                horizontal: 'center',
                                wrapText: true
                            },
                            font: {
                                name: 'Times New Roman',
                                size: 14,
                                color: {
                                    argb: 'FF000000'
                                },
                                bold: false,
                                strike: false,
                            },
                            border: {
                                top: {style: 'thin', color: {argb: 'FF000000'}},
                                left: {style: 'thin', color: {argb: 'FF000000'}},
                                bottom: {style: 'thin', color: {argb: 'FF000000'}},
                                right: {style: 'thin', color: {argb: 'FF000000'}}
                            },
                        },
                    },
                    strike: {
                        alignment: {
                            vertical: 'middle',
                            horizontal: 'left',
                            wrapText: true
                        },
                        font: {
                            name: 'Times New Roman',
                            size: 14,
                            color: {
                                argb: 'FF000000'
                            },
                            bold: true,
                            strike: false,
                        },
                        border: {
                            top: {style: 'thin', color: {argb: 'FF000000'}},
                            left: {style: 'thin', color: {argb: 'FF000000'}},
                            bottom: {style: 'thin', color: {argb: 'FF000000'}},
                            right: {style: 'thin', color: {argb: 'FF000000'}}
                        },

                    },


                };

                var header_info = {
                    column: 'A',
                    start_row: '3',
                    height: '34',
                    information_columns: [
                        {
                            id: null,
                            row: '4',
                            text: "BẢN ĐÁNH GIÁ KPI CÁ NHÂN",
                            width: '14',
                            uniname: 'quarter_score',
                        },
                        {
                            id: null,
                            row: '5',
                            text: "Họ và tên",
                            uniname: 'name',
                            width: '14',
                        },
                        {
                            id: null,
                            row: '6',
                            text: "Vị trí",
                            uniname: 'quarter_score',
                            width: '14',
                        },
                        {
                            id: null,
                            row: '7',
                            text: "Đơn vị",
                            uniname: 'quarter_score',
                            width: '14',
                        },
                        {
                            id: null,
                            row: '8',
                            text: "Kỳ đánh giá",
                            uniname: '',
                            width: '14',
                        },
                    ]

                };
                var headerData = {
                    height: 20,
                    information_columns: [
                        {
                            id: null,
                            column: 'A',
                            row: '9',
                            text: 'Mã KPI/KRI',
                            uniname: 'id',
                            width: '50',
                            slug: 'code'
                        },
                        {
                            id: null,
                            column: 'B',
                            row: '9',
                            text: 'Tiêu chí (KPI) cấp Ban/Phòng',
                            uniname: 'code',
                            width: '25.5',
                            slug: 'name',
                        },
                        {
                            id: null,
                            column: 'C',
                            row: '9',
                            text: 'Tiêu chí KPI/KRI cấp cá nhân',
                            uniname: 'name',
                            width: '20',
                            slug: 'name'
                        },
                        {
                            id: null,
                            column: 'D',
                            row: '9',
                            text: '% Trọng số của chỉ tiêu',
                            uniname: 'owner',
                            width: '13',
                            slug: 'weight',
                        },
                        {
                            id: null,
                            column: 'E',
                            row: '10',
                            text: "Kỳ này",
                            uniname: 'quarter_score',
                            width: '10',
                            slug: 'quarter_score'
                        },
                        {
                            id: null,
                            column: 'F',
                            row: '10',
                            text: "Kỳ trước",
                            uniname: 'quarter_score',
                            width: '10',
                            slug: 'quarter_score'
                        },
                        {
                            id: null,
                            column: 'G',
                            row: '10',
                            text: "Năm",
                            uniname: 'quarter_score',
                            width: '10',
                            slug: 'quarter_score'
                        },
                        {
                            id: null,
                            column: 'H',
                            row: '10',
                            text: "ĐVT",
                            uniname: 'quarter_score',
                            width: '6',
                            slug: 'quarter_score'
                        },
                        {
                            id: null,
                            column: 'I',
                            row: '9',
                            text: '% Trọng số',
                            uniname: 'owner',
                            width: '12',
                            slug: 'email',
                        },
                        {
                            id: null,
                            column: 'J',
                            row: '9',
                            text: 'Kết quả thực hiện',
                            uniname: 'owner',
                            width: '13',
                            slug: 'email',
                        },
                        {
                            id: null,
                            column: 'K',
                            row: '9',
                            text: 'Tỷ lệ thực',
                            uniname: 'owner',
                            width: '10',
                            slug: 'email',
                        },
                        {
                            id: null,
                            column: 'L',
                            row: '9',
                            text: 'Kết quả thực hiện tổng hợp',
                            uniname: 'owner',
                            width: '18',
                            slug: 'email',
                        },
                    ],

                    columns: []
                };
                // Pre-render excel, set this for exscore

                var startRow = headerData.row;
                // init wb
                var wb = new ExcelJS.Workbook();
                wb.creator = 'Cloudjet';
                var ws = wb.addWorksheet('Personal',{pageSetup:{orientation:'landscape'}});
                ws.pageSetup.margins = {
                  left: 0.2, right: 0.3,
                  top: 0.75, bottom: 0.75,
                  header: 0.3, footer: 0.3
                };
                // render header
                ws.mergeCells('A1:C2');
                setValueCell('A1', organization.name);
                setFormatCell('A1', formatStruct.header.title);
                ws.mergeCells('A4:L4');
                renderHeaderCol(headerData, formatStruct);
                renderHeaderInfo(header_info, formatStruct);
                setFormatCell('J9', formatStruct.header.even);
                setFormatCell('K9', formatStruct.header.even);
                setFormatCell('L9', formatStruct.header.even);
                setFormatCell('A4', formatStruct.title);
                setValueCell('A11', "A.");
                setValueCell('B11', "Mục tiêu cá nhân (gắn liền với KPI bộ phận)");
                setValueCell('E9', "Mục tiêu trong kỳ");
                setFormatCell('E9', formatStruct.header.odd);
                rowColor(11, 'ABCDEFGHIJKL');
                setFormatCell('B11', formatStruct.body.title);
                setValueCell('B5', profile.display_name);
                setFormatCell('B5', formatStruct.header.info);
                setValueCell('B6', profile.title);
                setFormatCell('B6', formatStruct.header.info);
                setValueCell('B7', profile.department);
                setFormatCell('B7', formatStruct.header.info);
                setValueCell('B8', quarter.quarter_name);
                setFormatCell('B8', formatStruct.header.info);

                renderKpis(headerData);

                // MergeCell
                ws.mergeCells('B11:D11');
                ws.mergeCells('E9:H9');
                ws.mergeCells('A9:A10');
                ws.mergeCells('B9:B10');
                ws.mergeCells('C9:C10');
                ws.mergeCells('D9:D10');
                ws.mergeCells('I9:I10');
                ws.mergeCells('J9:J10');
                ws.mergeCells('K9:K10');
                ws.mergeCells('L9:L10');
                currentRow = startRow;


                var date = new Date();
                var today = date.getDate() + '.' + parseInt(date.getMonth() + 1) + '.' + date.getFullYear();
                self.downloadFile(wb, 'Muc tieu ca nhan-' + profile.display_name + '-' + today + '.xlsx');

                // function for render excel
                function rowColor(row, col) {
                    col.split("").forEach(function (col) {
                        setFormatCell(col + row, formatStruct.body.title);
                    })
                }

                function setWidthCol(col, width) {
                    ws.getColumn(col).width = width;
                }

                function setHeightCol(col, height) {
                    ws.getRow(col).height = height;
                }

                function setFormatCell(cell, format) {
                    cell = ws.getCell(cell);
                    if (format) {
                        if (format.hasOwnProperty('alignment')) {
                            cell.alignment = format.alignment;
                        }
                        if (format.hasOwnProperty('font')) {
                            cell.font = format.font;
                        }
                        if (format.hasOwnProperty('fill')) {
                            cell.fill = format.fill;
                        }
                        if (format.hasOwnProperty('border')) {
                            cell.border = format.border;
                        }
                    }
                }

                function setValueCell(cell, text) {
                    cell = ws.getCell(cell);
                    cell.value = text;
                }

                function setNumFormat(cell, format) {
                    if (cell && format) {
                        ws.getCell(cell).numFmt = format;
                    }
                }

                function setResult(latest_score, weight, weight_parent) {
                    return ((latest_score / 100) * weight * weight_parent);
                }

                function setPercent_weight(weight, total_weight) {
                    if (weight == 0 && total_weight == 0) {
                        return 0;
                    }
                    else {
                        return weight / total_weight;
                    }
                }

                function renderHeaderCol(headerData, formatStruct) {
                    var self = this;
                    headerData.columns = headerData.information_columns;
                    headerData.columns.forEach(function (col) {
                        col.id = col.column;
                        setWidthCol(col.id, col.width);
                        cell = col.id + col.row;
                        setFormatCell(col.column + col.row, formatStruct.header.odd);
                        setValueCell(col.column + col.row, col.text);
                        ws.getRow(col.row).height = headerData.height;
                    });
                }

                function renderHeaderInfo(headerData, formatStruct) {
                    var self = this;
                    column = headerData.column;
                    headerData.columns = headerData.information_columns;
                    headerData.columns.forEach(function (col) {
                        col.id = col.row;
                        setWidthCol(column, col.width);
                        setHeightCol(col, headerData.height);
                        cell = column + col.id;
                        setFormatCell(cell, formatStruct.header.title);
                        setValueCell(cell, col.text);
                    });
                }


                function renderKpis() {
                    var self = this;
                    currentRow = 12;
                    total_weight_parent = 0;
                    quarter_kpi.forEach(function (kpi) {
                        total_weight_parent += kpi.weight;
                    });
                    total_all = 0;
                    var result;
                    quarter_kpi.forEach(function (kpi) {
                        _children = kpi['children'];
                        total_weight_child = 0;
                        if (_children.length) {
                            _children.forEach(function (child) {
                                total_weight_child += child.weight;
                            });
                            setValueCell('A' + currentRow, kpi.kpi_id);
                            setValueCell('B' + currentRow, kpi.name);
                            setValueCell('D' + currentRow, setPercent_weight(kpi.weight, total_weight_parent));
                            setNumFormat('D' + currentRow, '0.0%');
                            _children.forEach(function (child) {
                                result = setResult(child.latest_score, setPercent_weight(child.weight, total_weight_child), setPercent_weight(kpi.weight, total_weight_parent));
                                setValueCell('C' + currentRow, child.name);
                                setValueCell('E' + currentRow, child.target);
//                                    setCellVal('F' + currentRow, child.name);
//                                    setCellVal('G' + currentRow, child.name);
                                setValueCell('H' + currentRow, child.unit);
                                setValueCell('I' + currentRow, setPercent_weight(child.weight, total_weight_child));
                                setNumFormat('I' + currentRow, '0.0%');
                                setValueCell('J' + currentRow, child.real);
                                setValueCell('K' + currentRow, child.latest_score / 100);
                                setNumFormat('K' + currentRow, '0.0%');
                                setValueCell('L' + currentRow, result);
                                setNumFormat('L' + currentRow, '0.0%');
                                "ABDCEFGHIJKL".split("").forEach(function (col) {
                                    setFormatCell(col + currentRow, formatStruct.body.data);
                                });
                                total_all += result;
                                currentRow++;
                            })
                        } else {
                            result = (kpi.latest_score / 100) * setPercent_weight(kpi.weight, total_weight_parent);
                            setValueCell('A' + currentRow, kpi.kpi_id);
                            setValueCell('B' + currentRow, kpi.name);
                            setValueCell('C' + currentRow, kpi.name);
                            setValueCell('D' + currentRow, setPercent_weight(kpi.weight, total_weight_parent));
                            setNumFormat('D' + currentRow, '0.0%');
                            setValueCell('E' + currentRow, kpi.target);
                            setValueCell('H' + currentRow, kpi.unit);
                            //setValueCell('I' + currentRow, setPercent_weight(kpi.weight,total_weight_parent));
                            //setNumFormat('I' + currentRow, '0.0%');
                            setValueCell('J' + currentRow, kpi.real);
                            setValueCell('K' + currentRow, kpi.latest_score / 100);
                            setNumFormat('K' + currentRow, '0.0%');
                            setValueCell('L' + currentRow, result);
                            setNumFormat('L' + currentRow, '0.0%');
                            "ABDCEFGHIJKL".split("").forEach(function (col) {
                                setFormatCell(col + currentRow, formatStruct.body.data);
                            });
                            total_all += result;
                            currentRow++;
                        }
                    })
                    setValueCell('B' + currentRow, 'TỔNG ĐIỂM');
                    setValueCell('D' + currentRow, total_weight_parent / total_weight_parent);
                    setNumFormat('D' + currentRow, '0%');
                    setValueCell('L' + currentRow, total_all);
                    setNumFormat('L' + currentRow, '0.0%');
                    "ABDCEFGHIJKL".split("").forEach(function (col) {
                        setFormatCell(col + currentRow, formatStruct.body.title);
                    });
                }
            }
        }
    })

</script>
<style>
    .container {
        width: 150%;
        font-size: 10px;
    }

    .processing {
        text-align: center;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
</style>

</body>
</html>
