{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>{% include "common/js-test.html" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Report" %} 6</title>

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/roboto-font/roboto.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}angular-ui-notification-master/angular-ui-notification.min.css">
    <script src="{{ STATIC_URL }}angular-ui-notification-master/angular-ui-notification.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/sweetalert/dist/sweetalert.css">
    <script src="{{ STATIC_URL }}bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-loading-bar/build/loading-bar.min.css">
    <script src="{{ STATIC_URL }}bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angularUtils-pagination/dirPagination.js"></script>

    <script src="{{ STATIC_URL }}bower_components/d3/d3.min.js?v={{ settings.VERSION }}"></script>
    <script src="{{ STATIC_URL }}bower_components/d3pie/d3pie/d3pie.min.js"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}reports/style.css?v={{ settings.VERSION }}" rel="stylesheet" media="screen">
    {#    <script type='text/javascript' src='//google.com/jsapi'></script>#}

{#    {% include "common/js-test.html" %}#}
</head>

<body>
<header class="header">
    <div class="">
        <div class="col-md-5 title-head">
            {% block title_1 %}
                {% trans "Result of review" %}{% endblock %}
        </div>
        <div class="title-head title-report">
            {% block title_2 %}
                {% trans "PERFORMANCE PERSONAL" %}{% endblock %}
        </div>
        <div class="clearfix"></div>
    </div>
</header>

<section id="main-2">
    {% block main %}
    {% endblock %}
</section>
</body>

</html>
