{% extends "performance/timeline/timeline_base.html" %}
{% load i18n l10n %}
{% load kpi manage_tag %}

{% load inplace_edit %}
{% inplace_toolbar %}

{% block title %}Cloudjet KPI Project Timeline Detail{% endblock %}

{% block landing %}
    <style>
        .progress-bar {
            padding-top: 0;
            background-image: none;
        }

        .main-item li a {
            text-decoration: none;
        }

        .mision-box {
            width: 700px;
            font-family: 'Roboto', Helvetica, Arial, sans-serif;;
            color: #009596;
            font-size: 16px;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: 18px;
            z-index: 999;
            padding: 5px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);

            border: 1px grey dashed;
        }

        .inner-mission img {
            margin-right: 20px;
        }

        .timeline {
            display: table-row;
        }

        .timeline li {
            display: table-cell;
            width: 240px;
            padding-left: 20px;
            border-right: 2px dashed #3c6d8c;
            position: relative;
            padding-bottom: 100px;
        }

        .timeline-content {
            color: #454545;
            margin-left: 10px;
        }

        li .deadline {
            position: absolute;
            bottom: 0;
            right: -50px;
            padding: 2px 10px;
            background-color: #789b40;
            color: #fff;
            border-radius: 10px;
        }

        li .deadline.active {
            background-color: #de2a00;
            font-weight: bolder;
        }

        table.tasks {
            width: 100%;
            margin-top: 80px;
        }

        table.tasks, table.tasks tr, table.tasks th, table.tasks td {
            border: 2px solid #5ea7a7;
            color: #606060;
            padding: 4px;
        }

        table.tasks .except {
            padding: 0;
        }

        .tasks-list {
            margin-left: 0;
        }

        .tasks-list li {
            border-bottom: 2px solid #5ea7a7;
            padding: 4px;
        }

        .tasks-list li:last-child {
            border-bottom: transparent;
        }

        .time-line-next-step {
            border-left: 1px #ccc solid
        }

        .time-line-content {
            border-left: none;
            border-right: 1px #ccc solid
        }

        .time-line-content-2 {
            border-right: none;
            border-left: 1px #ccc solid
        }

        .time-line-top-container {
            position: relative;
        }

        .time-line-top-container .btn-collapse {
            position: absolute;
            left: 2px;
            bottom: 2px;
            z-index: 1000;
            cursor: pointer;
            padding: 2px 8px;
            background-color: rgba(204, 204, 204, 0.5);
            border-radius: 4px;
            color: #999;
        }

        .time-line-top-container:hover .btn-collapse {
            background-color: rgba(204, 204, 204, 0.9);
            color: #444;
        }

    </style>
    {% language lang %}
        <div class="main" style="min-height: 30px;">
            {% if mission %}
                <div class="mision-box">
                    <div class="inner-mission">
                        <img alt="" src="{{ STATIC_URL }}img/cjet/vision - mission.png?"
                             style="float: left; width: 58px;">

                        <div style="max-width: 680px;min-width: 500px">
                            <p style="text-align: center;margin-bottom: 0;font-weight: bold;">{% trans 'Vision & Mission' %}</p>
                            {{ mission|linebreaksbr }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if user.is_staff %}
            <p style="text-align:center">
                <a style="color:red;" href="/admin/company/organization/{{ organization.id }}/" target="_blank">
                    For ADMIN: Show Deadline: {% inplace_edit 'organization.show_timeline_deadline' %}</a>

                <br/>
                [ <a href="/management/organization/{{ organization.id }}/timeline/">Edit Timeline</a> ]
            </p>
        {% endif %}


{#        <div class="pane-contain">#}
{#            <div style="display:table;margin:0 auto">#}
{#                <div style="display: inline-block">#}
{#                    <h1 style="font-family: Arial;color: #3c6d8c;text-align: center;">#}
{#                        <a href="{% url 'organzation-timeline-public' hash=hash %}">#}
{##}
{#                            Timeline <i class="fa fa-link"></i></a>#}
{#                        <form action="/performance/timeline/" method="post" style="margin-left: 20px; display: inline;">#}
{#                            {% csrf_token %}#}
{#                            <input type="hidden" name="export_csv" value="1"/>#}
{#                            <input type="hidden" name="org_hash" value="{{ organization.get_hash }}" />#}
{#                            <button type="submit" class="btn btn-info"> Export Excel</button>#}
{#                        </form>#}
{#                    </h1>#}
{##}
{#                    <ul class="timeline">#}
{#                        {% for t in timeline %}#}
{#                            <li>#}
{#                                <h3 style="color: #3c6d8c;margin-bottom:0">{{ t.stage }}</h3>#}
{##}
{#                                <div class="timeline-content">#}
{#                                    {{ t.content|linebreaksbr }}#}
{#                                </div>#}
{##}
{#                                <span class="deadline {% if t.deadline <= today %}active{% endif %}">{{ t.deadline|date:'d/m/Y' }}</span>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                    <div class="progress progress-info" style="height: 30px;margin-top: -75px;">#}
{#                        {% with percent=organization|to_percent %}#}
{#                            <div class="bar" style="width: {{ percent|unlocalize }}%">{{ percent }}%</div>#}
{#                        {% endwith %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="clearfix"></div>

            {#  		<thead>#}
            {#  			<tr>#}
            {#  				<th></th>#}
            {#  				<th>{% trans 'Scope of work/ project' %}</th>#}
            {#  				<th>{% trans 'Time' %}</th>#}
            {#  				<th>{% trans 'Status' %}</th>#}
            {#  				<th style="color: #789b40;">{% trans 'Finished tasks' %}</th>#}
            {#  				<th>{% trans 'Note' %}</th>#}
            {#  			<tr>#}
            {#  		</thead>#}


        </div>

        <div class="container text-right">
            <style type="text/css">
                #btn-collapse-global {
                    position: relative;
                    top: 30px;
                }
            </style>
            <button class="btn btn-default" id="btn-collapse-global" data-state="0">
                <i class="fa fa-minus"></i> Collapse
            </button>
        </div>



{#        {% for t in tasks %}#}
{#            <div class="time-line">#}
{#                <div>#}
{#                    <div class="container time-line-top-container time-line-step-header max-width" style="padding:0px;">#}
{#                        <div class="col-md-1 time-line-step"#}
{#                             style="border-right: 1px #ccc solid; text-align: center; padding: 10px 0px;">#}
{##}
{#                            {% if step == 0 %}#}
{#                                <a href="{% url 'organzation-timeline-public' hash=hash %}?step={{ t.id }}">#}
{#                                    Bước {{ forloop.counter }} <i class="fa fa-link"></i></a>#}
{#                            {% endif %}#}
{##}
{#                        </div>#}
{#                        <div class="col-md-3" style="padding:0px;">#}
{#                            <div class="time-line-time">#}
{#                                <span class="time-line-titel">   <i>{{ t.stage }}</i></span>#}
{#                                <div class="clear-fix"></div>#}
{#                                {% if organization.show_timeline_deadline %}#}
{#                                    <div class="day-time">#}
{##}
{#                                        {% if t.date_range == '0' %}#}
{#                                            {{ t.due_date|date:'d-m-Y' }} <br>#}
{#                                            {% if t.due_time_start %}{{ t.due_time_start|date:'H:i' }} -#}
{#                                                {{ t.due_time_end|date:'H:i' }}{% endif %}#}
{#                                        {% else %}#}
{#                                            {{ t.due_date|date:'d-m-Y' }}<i class="fa fa-chevron-right"#}
{#                                                                            style="font-size: 10pt; margin: 0px 5px;"></i>#}
{#                                            {{ t.end_date|date:'d-m-Y' }}#}
{#                                        {% endif %}#}
{##}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="time-line-stage col-md-4" style="padding:0px;">#}
{#                            <div class="time-line-stage">#}
{#                                <span class="time-line-titel"><span>{{ t.name }}</span></span>#}
{#                                <div class="clear-fix"></div>#}
{##}
{##}
{#                                <br>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                        {% if  organization.show_timeline_deadline %}#}
{#                            <div class="time-line-status col-md-4" style="padding:0px;">#}
{#                                <div class="time-line-status">#}
{#                                    <div class="time-line-percent-complete">#}
{#                                        <span class="time-line-titel-percent">{{ t.finished_percentage }}%</span><span#}
{#                                            class="time-line-titel-complete">Hoàn thành</span>#}
{#                                    </div>#}
{#                                    <div class="clear-fix"></div>#}
{##}
{#                                    {% if t.finished_percentage >= t.timeline_percentage and t.remain_days < t.total_days %}#}
{#                                        <div class="status-right">#}
{#                                            <i class="fa fa-rocket"></i>#}
{#                                            <span class="">Đúng tiến độ</span>#}
{#                                        </div>#}
{#                                    {% elif t.remain_days < t.total_days %}#}
{#                                        <div class="status-late">#}
{#                                            <i class="fa fa-exclamation-triangle"></i>#}
{#                                            <span class="">Có khả năng trễ </span>#}
{#                                        </div>#}
{##}
{#                                    {% else %}#}
{##}
{##}
{#                                        <div class="status-fast">#}
{#                                            <i class="fa fa-thumbs-up"></i>#}
{#                            <span class="">#}
{##}
{#                                   {{ t.get_status_display }}#}
{#                            </span>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
{##}
{#                        <span class="btn-collapse">#}
{#                    <i class="fa fa-angle-double-down"></i>#}
{##}
{#                </span>#}
{#                    </div>#}
{#                    <div class="container "></div>#}
{#                </div>#}
{#                {% if  organization.show_timeline_deadline %}#}
{#                    <div>#}
{#                        <div class="container max-width"#}
{#                             style="padding: 0px; border-left: 1px #ccc solid; border-right: 1px #ccc solid;">#}
{#                            <div class="progress progress-magin time-line-percent-1">#}
{#                                <div class="progress-bar time-line-percent" role="progressbar" aria-valuenow="60"#}
{#                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ t.finished_percentage }}%;">#}
{#                                    Hoàn Thành: {{ t.finished_percentage }}%#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="progress progress-magin time-line-day-1">#}
{#                                <div class="progress-bar time-line-day" role="progressbar" aria-valuenow="60"#}
{#                                     aria-valuemin="0" aria-valuemax="30" style="width: {{ t.timeline_percentage }}%;">#}
{#                                    Còn: {{ t.remain_days }} ngày#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{#                <div data-collapse="1">#}
{##}
{#                    <div class="time-line-todo container max-width" style="padding: 0px; background-color: #fafdfd;">#}
{#                        <div class="col-md-6" style="padding: 0px;">#}
{##}
{#                            {% for k in t.get_kpis %}#}
{#                                <div class="to-do">#}
                                    {#                                <i class="fa fa-check-square-o to-do-fn"></i>#}
{#                                    <span>{{ k.done|icon_status|safe }}&nbsp;{{ k.name|linebreaks|urlizetrunc:30 }}</span>#}
{#                                </div>#}
{#                            {% endfor %}#}
{##}
{##}
{##}
{##}
{#                            <!--div class="to-do"><i class="fa fa-check-square-o to-do-fn"></i><span>Tài Liệu Về Bản Báo Cáo Tài Chính 8 quý gần nhất</span></div>#}
{#                            <div class="to-do"><i class="fa fa-times to-do-unfn"></i><span>Hệ Thống Mô Tả Công Việc</span></div-->#}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            <div style="padding:10px 0px;">#}
{#                                {{ t.note|default:''|urlizetrunc:40|linebreaksbr }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="time-line-next-step container max-width"#}
{#                         style="padding:0px;  border-bottom: 1px #ccc solid; border-right: 1px #ccc solid;">#}
{#                        <div class="col-md-6" style="padding:0px;">#}
{#                            <div class="time-line-meeting-mn">#}
{#                                <span class="time-line-titel">Meeting minutes</span>#}
{#                            </div>#}
{#                            <div class="time-line-content">#}
{#                                <p>#}
{#                                <div class="markdown">#}
{#                                    {{ t.meeting_minutes_html|safe }}</div>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6" style="padding:0px;">#}
{#                            <div class="time-line-meeting-mn">#}
{#                                <span class="time-line-titel">Next actions </span>#}
{#                            </div>#}
{#                            <div class="time-line-content-2">#}
{#                                <p>#}
{##}
{##}
{#                                <div class="markdown">#}
{#                                    {{ t.next_steps_html|safe }}</div>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        {% endfor %}#}
    {% endlanguage %}
    <script src="{{ STATIC_URL }}bower_components/showdown/dist/showdown.min.js"></script>
    <script>
        function SetHeight(className) {
            $("." + className).css("height", $("." + className).parent().css("height"));
        }


        var converter = new showdown.Converter();


        {#        $(".markdown").each(function (index) {#}
        {#            var text = $(this).html();#}
        {#            $(this).html(converter.makeHtml(text));#}
        {#        });#}
    </script>

    <script type="text/javascript">
        $('.time-line-top-container .btn-collapse').click(function () {
            var elm = $(this).closest('div.time-line').find('[data-collapse=1]');
            elm.toggle();
            if ($(elm).is(':hidden')) {
                $(this).html('<i class="fa fa-angle-double-right"></i>');
            } else {

                $(this).html('<i class="fa fa-angle-double-down"></i>');
            }
        });

        $('#btn-collapse-global').click(function () {
            if ($(this).attr('data-state') == '0') {//from expanse state
                $(this).attr('data-state', '1');
                $('[data-collapse=1]').hide();
                $(this).html('<i class="fa fa-th-list"></i> Uncollapse');
                $('.time-line-top-container .btn-collapse').html('<i class="fa fa-angle-double-right"></i>');

            } else {
                $(this).attr('data-state', '0');
                $('[data-collapse=1]').show();
                $(this).html('<i class="fa fa-minus"></i> Collapse');
                $('.time-line-top-container .btn-collapse').html('<i class="fa fa-angle-double-down"></i>');
            }
        });
    </script>
{% endblock %}
