{% load i18n user_tags %}
{% spaceless %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/html">
    <head>
        {% include "modules/base_header.html" %}

        <meta name="description" content="Cloudjet Business Solutions"/>

        <meta name="keywords" content="Cloudjet Business Solutions "/>
        <title>
            {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud{% endblock %}
        </title>
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico"/>
        <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>


        {% block extra_css %}
        {% endblock %}
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

{#        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
        <link href='{{ STATIC_URL }}fonts/roboto-font/roboto.css' rel='stylesheet' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
        {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}

        <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
        {#        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">#}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/time-line.css">


        {% include "common/js-test.html" %}
    </head>
    <body class="bg-sm">
    {% include "fix_style_css.html" %}
    <div class="menu-bar">
        <div class="main">
            <div class="sm-menu">
                <div class="sm-menu-left">
                    {% block logo %}
                            <a href="/"><img alt="{{ organization.name }}" src="{{ organization.get_logo }}"
                                             style="position: absolute;height: 50px;"></a>

                    {% endblock %}
                </div>

                <ul class='menu-items'>
                    {% if user.is_authenticated %}
                        <li class="item" style="position: relative;">
                            <a href="#" onclick="dropdownAccount('dropdown-acc');">
                                <img src="{{ user.get_profile.get_avatar }}" align="top" style="width:20px;height:20px">
                                {{ user.get_profile.display_name }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="dropdown-acc">
                                <li>
                                    <a href="/account/setting">Account Settings</a>
                                    <a href="/logout/">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="item" style="position: relative;">
                            <a href="/login/">Đăng nhập</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    {% block landing %}{% endblock %}
    <div class="main main-top" {% block style %}{% endblock %}>
        {% block content %}
        {% endblock %}
    </div>

    {% block master_footer %}
    {% endblock %}

    <script type="text/javascript">
        $(document).mouseup(function (e) {
            var container = $("#dropdown-acc");
            if (container.has(e.target).length === 0) {
                container.hide();
            }
        });
    </script>
    {% include "support.html" %}
    </body>
    </html>
{% endspaceless %}