{% load l10n kpi %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>KPI DELETED</title>

    <!-- Latest compiled and minified CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}

    <!-- date picker -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-datepicker/css/bootstrap-datepicker.css" type="text/css">

    <!--<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}url/URI.min.js" type="text/javascript"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="{{ STATIC_URL }}bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/django_ajax_csrf.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        table {
            font-size: 12px !important;
        }
    </style>
</head>

<div class="container-fluid">
    <h2 class="text-info text-center">DELETED KPIs</h2>
    <div>
        <img class="img-responsive" src="{{ STATIC_URL }}img/kpi-defination.png" alt="kpi-defination"/>
    </div>

    <div id="search-section">
        <form class="form-inline" onsubmit="return false;">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="kpi_name" value="{{ kpi_name }}" placeholder="KPI name..."
                           class="form-control"/>
                    <span class="input-group-btn">
		        <button type="button" class="btn btn-default" id="btn-search-kpi-name">{% trans "Search KPI" %}</button>
		      </span>
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="kpi_org" value="{{ kpi_org }}" placeholder="Organization name..."
                           class="form-control"/>
                    <span class="input-group-btn">
		        <button type="button" class="btn btn-default" id="btn-search-org-name">{% trans "Search Orgs" %}</button>
		      </span>
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="kpi_user_email" value="{{ kpi_user_email }}" placeholder="Email..."
                           class="form-control"/>
                    <span class="input-group-btn">
		        <button type="button" class="btn btn-default" id="btn-search-user-email">{% trans "Search Email" %}</button>
		      </span>
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="kpi_user_name" value="{{ kpi_user_name }}" placeholder="{% trans "Username" %}..."
                           class="form-control"/>
                    <span class="input-group-btn">
		        <button type="button" class="btn btn-default" id="btn-search-user-name">{% trans "Search" %} {% trans "Username" %}</button>
		      </span>
                </div><!-- /input-group -->
            </div>

        </form>

        <form class="form-inline" onsubmit="return false;">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{% trans "From date" %}</span>
                    <input type="text" class="form-control" value="{{ from_date_str }}" id="datepicker-from"
                           readonly="readonly" name="from_date" placeholder="Chọn ngày">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">{% trans "To date" %}</span>
                    <input type="text" class="form-control" value="{{ to_date_str }}" id="datepicker-to"
                           readonly="readonly" name="to_date" placeholder="Chọn ngày">
                </div>
                <button type="button" id="btn-search-date-range" class="btn btn-default">{% trans "Search date range" %}</button>
            </div>


        </form>


    </div>
    <br>
    <DIV>
        <strong>OPERATOR:</strong>
        <form class="form-inline">
            <div class="checkbox">
                <label><input type="radio" name="operator" value="AND"
                              {% if operator == 'AND' %}checked="checked" {% endif %}> AND</label>
            </div>
            <div class="checkbox">
                <label><input type="radio" name="operator" value="OR"
                              {% if operator == 'OR' %}checked="checked" {% endif %}> OR</label>
            </div>
            <div class="checkbox">
                <label><input type="radio" name="operator" value="NONE"
                              {% if operator == 'NONE' %}checked="checked" {% endif %}> NONE</label>
            </div>
            <button type="button" id="btn-advance-search" class="btn btn-default">Advance Search</button>
        </form>


    </DIV>

    {% if is_paginated %}


        <div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
                <a href="javascript:search_kpi('{{ page_obj.previous_page_number }}');">previous</a>
            {% endif %}

            <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

            {% if page_obj.has_next %}
                <a href="javascript:search_kpi('{{ page_obj.next_page_number }}');">next</a>
            {% endif %}
	    </span>
        </div>
    {% endif %}

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>

            <th>PREFIX</th>
            <th>KPI's type</th>
            <th>KPI Name</th>
            <th>Email/Username/Organization</th>
            <th>Deleted Date</th>
        </tr>
        </thead>
        <tbody>
        {% for k in kpis %}
            <tr>
                <td>{{ forloop.counter }}</td>

                <td>{{ k.id }}</td>


                <td>
                    <p style="background: darkmagenta; color:white; padding:5px; border-radius: 3px; font-weight: bold;">
                        {{ k.get_prefix_category }}
                        {{ k.get_prefix_id }}</p>
                    <button class="btn btn-default" onclick="restore_kpi({{ k.id }});">Restore</button>
                </td>

                <td>
                    <!-- loai KPI: cha, trung gian, con -->
                    {{ k|kpi_type }}

                </td>


                <td>
                    <p>
                        {{ k.name }}</p>
{#                    <p>VI:#}
{#                        {{ k.name_vi }}</p>#}
{#                    <p>EN:#}
{#                        {{ k.name_en }}</p>#}
                    <a href="/performance/kpi/comment/{{ k.unique_key }}/" target="_blank">View History</a>
                </td>

                <td>
                    {{ k.owner_email }}
                    <br>
{#                    {{ k.user }}<br>#}
                    {% if k.quarter_period.organization %}
                        <a href="{% url 'organization-details' k.quarter_period.organization.id %}" target="_blank">
                            {{ k.quarter_period.organization }}
                        </a>
                    {% else %}
                        {{ k.quarter_period.organization }}
                    {% endif %}
                </td>
                <td>{{ k.removed|unlocalize }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">
                    <h2 style="text-align: center;">NO RESULT!</h2>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>



    {% if is_paginated %}
        <div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
                <a href="javascript:search_kpi('{{ page_obj.previous_page_number }}');">previous</a>
            {% endif %}

            <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

            {% if page_obj.has_next %}
                <a href="javascript:search_kpi('{{ page_obj.next_page_number }}');">next</a>
            {% endif %}
	    </span>
        </div>
    {% endif %}

    <script type="text/javascript">
        function reset_all_search_box() {
            $('#search-section input[type="text"]').val('');
        }
        function search_kpi(page, search) {
            var search_text = $('#kpi_name').val();
            var uri = new URI('{{ request.build_absolute_uri|safe }}');
            // augment data through callback
            uri.search(function (data) {
                data.kpi_name = $('#kpi_name').val();
                data.kpi_org = $('#kpi_org').val();
                data.kpi_user_email = $('#kpi_user_email').val();
                data.kpi_user_name = $('#kpi_user_name').val();
                data.from = $('#datepicker-from').val();
                data.to = $('#datepicker-to').val();
                data.operator = $('input[name=operator]:checked').length ? $('input[name=operator]:checked').val() : 'NONE';
                if (page) {
                    data.page = page;
                } else {
                    data.page = 1;
                }
                if (search) {
                    data.search = search;
                } else {
                    data.search = 'advance';
                }
            });

            location.href = uri.href();
            return false;
        }
        $('form').submit(function () {
            return false;
        });

        $('#datepicker-from').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: false,
            /*minViewMode:2,
             maxViewMode:2,*/
            //defaultViewDate:{year:'1978'} //will show range of 1970-1979
        });
        $('#datepicker-to').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: false,
            /*minViewMode:2,
             maxViewMode:2,*/
            //defaultViewDate:{year:'1978'} //will show range of 1970-1979
        });

        $('#btn-search-kpi-name').click(function () {
            var search_text = $('#kpi_name').val();
            reset_all_search_box();
            $('input[name=operator]').prop('checked', false)
            $('#kpi_name').val(search_text);
            search_kpi(false, 'kpi_name');
        });
        $('#btn-search-org-name').click(function () {
            var search_text = $('#kpi_org').val();
            reset_all_search_box();
            $('input[name=operator]').prop('checked', false)
            $('#kpi_org').val(search_text);
            search_kpi(false, 'kpi_org');
        });
        $('#btn-search-user-email').click(function () {
            var search_text = $('#kpi_user_email').val();
            reset_all_search_box();
            $('input[name=operator]').prop('checked', false)
            $('#kpi_user_email').val(search_text);
            search_kpi(false, 'kpi_user_email');
        });
        $('#btn-search-user-name').click(function () {
            var search_text = $('#kpi_user_name').val();
            reset_all_search_box();
            $('input[name=operator]').prop('checked', false)
            $('#kpi_user_name').val(search_text);

            search_kpi(false, 'kpi_user_name');
        });
        $('#btn-search-date-range').click(function () {
            var from = $('#datepicker-from').val();
            var to = $('#datepicker-to').val();
            reset_all_search_box();
            $('input[name=operator]').prop('checked', false)
            $('#datepicker-from').val(from);
            $('#datepicker-to').val(to);

            search_kpi(false, 'kpi_date_range');
        });
        $('#btn-advance-search').click(function () {
            search_kpi();
        });

        function restore_kpi(kpi_id) {
            cloudjetRequest.ajax({
                url: '/api/kpi/services/',
                type: 'post',
                data: {id: kpi_id, command: "restore"},
                success: function () {
                    location.reload();
                }
            });
            {% comment %}$.post('/api/kpi/services/', {id: kpi_id, command: "restore"}).done(function () {
                location.reload();
            }){% endcomment %}
        }
    </script>


</div>