{# Created by khangtd on 11/05/2017 #}
{# TODO: full text search #}
{% load i18n %}
<script src="{{ STATIC_URL }}bower_components/latinize/latinize.js"></script>

<div class="bonus-wrapper">
    <div  class="bonus-dashboard">
        <div id="month-${ month }$" style="display: none">
            <h2  v-if="bonus_ready" class="extrascore-header">{% trans "EXTRA/ MINUS SCORE REVIEW" %}</h2>
            <div  v-if="bonus_ready" v-for="(render_data_index,render_data) in render_user_data_list">
                <div id="${ render_data.slug }$-dashboard" class="bonus-table col-lg-12">
                    <div class="detail">
                        <table class="table table-bordered">
                            <tr class="extrascore-title">
                                <td colspan="8" v-if="render_data.lan=='Language'">${ render_data.text.toUpperCase() }$ SCORE</td>
                                <td colspan="8" v-if="render_data.lan!='Language'">ĐIỂM ${ render_data.text.toUpperCase() }$</td>
                            </tr>
                            <tr class="headers">
                                <td style="width: 5%">#</td>
                                <td style="width: 15%">{% trans "Code" %}</td>
                                <td style="width: 30%;">{% trans "Name" %}</td>
                                <td style="width: 32%;">{% trans "Measurement method" %}</td>
                                <td style="width: 8%;text-align: center">{% trans "Points" %}</td>
                                {#                            <td>Điểm cộng/trừ cho quản lý (%)</td>#}
                                <td style="width: 10%"></td>
                            </tr>
                            <tr></tr>
                            <tr v-for="(index,value) in render_data.data">
                                <td v-bind:class="{ 'bonus-1st-category' : !value_is_exscore &&
                     value.category == 'first' }" v-if="value.is_exscore || value.order">${ value.order }$</td>
                                <td v-if="value.is_exscore">${ value.code }$</td>
                                <td v-if="value.is_exscore">${ value.name }$</td>
                                <td v-if="value.is_exscore">${ value.description }$</td>
                                <td v-if="value.is_exscore" class="text-center">${ value.employee_points }$</td>
                                {#                            <td v-if="value.is_exscore" class="text-center">${ value.manager_points }$</td>#}
                                <td v-if="value.is_exscore" class="text-center">

                                    <a href="javascript:void(0)" style="font-size: 30px; color:#ed5e68" @click="removeExscore(month,render_data_index,render_data.slug,value.index)">
                                        <i class="fa fa-times" aria-hidden="true"></i>

                                    </a>

                                </td>
                                <td v-bind:class="{ 'bonus-2nd-category' : !value_is_exscore && value.category == 'second',
                        'bonus-1st-category' : !value_is_exscore && value.category == 'first'

                      }" v-if="!value.is_exscore" colspan="7">${ value.name }$</td>

                            </tr>
                            <tr class="bonus-1st-category">
                                <td colspan="4">{% trans "Total" %} </td>
                                <td colspan="1"  class="text-center exscore-result"> ${ render_data.sum_score }$</td>
                                {#                            <td colspan="1" v-if="score_type != 'zero'" class="text-center exscore-result"> ${ render_data.sum_score }$</td>#}
                                {#                            <td colspan="1" v-if="score_type == 'zero'" class="text-center exscore-result">${ render_data.sum_score > 0 ? 'Đã Liệt' : 'Không liệt' }$</td>#}
                                <td colspan="1"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <h2 v-if="bonus_ready"  class="extrascore-header">{% trans "LIBRARY" %}</h2>
            <div v-if="bonus_ready"  class="filter-wrapper form-group">

                <div class="col-sm-12">
                    <label for="filter-text">{% trans "Search extra/ minus/ zero scores by CODE or NAME" %}: </label>

                    <input id="filter-text" class="form-control" type="text" placeholder="{% trans 'Please input key word or code' %}" v-model="filter_text" :debounce="200">
                </div>
            </div>

            <div v-if="bonus_ready"  v-for="(render_data_index,render_data) in render_lib_data_list">
                <div id="${ render_data.slug }$-dashboard" class="bonus-table col-lg-12">
                    <div class="detail">
                        <table class="table table-bordered">
                            <tr class="extrascore-title" style="text-align: left;">
                                <td colspan="8">${ render_data.text.toUpperCase()}$</td>
                            </tr>
                            <tr class="headers">
                                <td style="width: 5%">#</td>
                                <td style="width: 15%">{% trans "Code" %}</td>
                                <td style="width: 30%">{% trans "Name" %}</td>
                                <td style="width: 32%">{% trans "Measurement method" %}</td>
                                <td style="width: 8%;text-align: center">{% trans "Points" %}</td>
                                {#                            <td>Điểm cộng/trừ cho quản lý (%)</td>#}
                                <td style="width: 10%"></td>
                            </tr>
                            <tr></tr>
                            <tr v-for="(index,value) in render_data.data">

                                <td v-bind:class="{ 'bonus-1st-category' : !value_is_exscore &&
                     value.category == 'first' }" v-if="value.is_exscore || value.order" >${ value.order }$</td>
                                <td v-if="value.is_exscore">${ value.code }$</td>
                                <td v-if="value.is_exscore">${ value.name }$</td>
                                <td v-if="value.is_exscore">${ value.description }$</td>
                                <td v-if="value.is_exscore" class="text-center">${ value.employee_points }$</td>
                                {#                            <td v-if="value.is_exscore" class="text-center">${ value.manager_points }$</td>#}
                                <td v-if="value.is_exscore" class="text-center">
                                    {#                                <label class="bonus-switch">#}
                                    {#                                    <input index="${ value.index }$" class="bonus-input" type="checkbox" v-bind:checked="data_dict[render_data.slug][value.index].selected" v-model="data_dict[render_data.slug][value.index].selected" @click="test">#}
                                    {#                                    <div class="bonus-slider round"></div>#}
                                    {#                                </label>#}

                                    <a href="javascript:void(0)" style="font-size: 30px" @click="addExscore(month,lib_data_dict[render_data.slug][value.index])">
                                        <i class="fa fa-plus-square HOME_BTN_ADD_ETS" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td v-bind:class="{ 'bonus-2nd-category' : !value_is_exscore && value.category == 'second',
                        'bonus-1st-category' : !value_is_exscore && value.category == 'first'

                      }" v-if="!value.is_exscore" colspan="7">${ value.name }$</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

<script>

</script>
<style>
    div.bonus-dashboard.active{
        width: 100%
    }
    div.divider{
        border-bottom: 2px solid #e5e5e5;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        display: block;
    }
    .bonus-table{
        display: block;

    }
    .extrascore-title > td {
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        color: white;
        background:  #008b8b;
    }
    tr.headers td{
        font-weight: bold;
        text-align: left;
        color: white;
        background:  #008b8b;
    }
    .extrascore-header{
        text-align: center;
    }
    .bonus-table table tr.headers{
        font-weight: bold
    }
    .bonus-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .bonus-switch input.bonus-input {display:none;}

    .bonus-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .bonus-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input.bonus-input:checked + .bonus-slider {
        background-color: #2196F3;
    }

    input.bonus-input:focus + .bonus-slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input.bonus-input:checked + .bonus-slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .bonus-slider.round {
        border-radius: 34px;
    }

    .bonus-slider.round:before {
        border-radius: 50%;
    }
    {#    tr.headers td {#}
    {#        border: 1px solid white;#}
    {#        background: #008b8b;#}
    {#        color: #008b8b;#}
    {#    }#}
    td.bonus-2nd-category{
        background: #3CAAAA;
        color: white;
    {#        text-align: center;#}
    {#        font-weight: bold;#}
        text-transform: uppercase;
        padding-left: 50px!important
    }
    td.bonus-1st-category{
        background: #005858;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
    td.exscore-result{
        font-weight: bold;
        font-size: 20px;
    }
    div#bonus-ready{
        text-align:center;
    }
    div.filter-wrapper{
        display: flex;
        justify-content: center;
    }
    div.filter-wrapper input{
        width: 100%;
        height: 30px;
        border-radius: 5px
    }
    .bonus-table table{
    {#        border: 2px solid black#}
    }
</style>
