{% load i18n %}


{#<li><a href="javascript:void(0)" v-on:click="show_copy_kpi({{ kpi.id }})"><i#}
{#                                         class="glyphicon glyphicon-duplicate"></i> {% trans 'Copy' %}</a></li>#}

{#   <li><a href="javascript:void(0)"#}
{#          class="observing_display"#}
{#          onclick="duplicate({{ kpi.id }},$(this) {% if full_reload %}, true {% endif %})"><i#}
{#                                         class="glyphicon glyphicon-duplicate"></i> {% trans 'Duplicate' %}</a></li>#}