{% load i18n  %}

<li role="separator" class="divider"></li>


<li><a href="{% url 'todo-kpi'  %}?unique_key={{ kpi.get_unique_key }}" target="_blank"><i
        class="glyphicon glyphicon-th-list"></i> {% trans 'Tasks' %}</a>
</li>


<li><a href="{% url 'ecal' kpi.get_unique_key %}" target="_blank"><i
        class="glyphicon glyphicon-th"></i> {% trans 'KPI Data' %}</a>
</li>
