{% load kpi l10n i18n humanize %}

<div v-if="kpi.weight != 0" class="kpiprogress-wrapper"  data-toggle="tooltip"
     title="${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 1 }$: ${ kpi.month_1_score|scoreDisplay }$ | ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 2 }$: ${ kpi.month_2_score|scoreDisplay }$ | ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 3 }$:  ${kpi.month_3_score|scoreDisplay }$">
    <div class="row rows-table-sm rows-table-xs auto-height">
        <div class="col col-xs-6 col-table-4 kpiprogressbar-wrapper">
            <div class="kpiprogress">
                <div class="kpiprogress-baseline"></div>
                <div class="kpiprogress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="120" style="width:${ kpi.id|percent_progressbar }$%;max-width: 100%">
                </div>
            </div>
        </div>
        <div class="col col-xs-6 col-table-8">
            <div class="kpiprogresspercentage-wrapper" id="loading-gif${ kpi.id }$">
                <span class="quarter-result" v-text="kpi.latest_score|scoreDisplay"></span>
                <span class="quarter-month-result">
                    (${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 1 }$: ${kpi.month_1_score == underfined ? 0:kpi.month_1_score|scoreDisplay }$ |
                    ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 2 }$: ${kpi.month_2_score == underfined ? 0:kpi.month_2_score|scoreDisplay }$ |
                    ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 3 }$: ${kpi.month_3_score == underfined ? 0:kpi.month_3_score|scoreDisplay }$)
                    </span>
            </div>

            <div style="width: auto" class="kpiprogressreview-wrapper ">
                <div v-if="kpi.has_child">
                    <a style="margin-right: 10px" href="javascript:void(0);" class="KPI_BTN_SUB_KPI"
                       onclick=" $('#btn-kpi-toggle${ kpi.id }$').click()">

                        {% trans "Sub-KPIs" %}
                        <i class="glyphicon glyphicon-align-justify mg-l-5" style=""></i>
                    </a>
                    <a v-if="kpi.children_data.parent_score_auto === false" href="javascript:void(0);" class="KPI_BTN_REVIEW"
                       onclick="$('.reviewing${ kpi.id }$').toggleClass('hide')">
                        {% trans "Review" %}
                        <i class="glyphicon glyphicon-edit"
                           style="margin:5px; "></i>
                    </a>
                </div>

                <a v-else href="javascript:void(0);" class="KPI_BTN_REVIEW"
                   onclick="$('.reviewing${ kpi.id }$').toggleClass('hide')">
                    {% trans "Review" %}
                    <i class="glyphicon glyphicon-edit"
                       style="margin:5px; "></i>

                </a>
            </div>

            {#            {% include "performance/bsc/worksheet/modules/kpi-setting-box.html" %}#}
            <div class="feature-box">
                <div class="kpi-comment">
                    {% include "performance/bsc/worksheet/modules/kpi_config_js.html" %}
                </div>

                <div class="kpi-comment KPI_BTN_CMT">
                    <a id="${ kpi.id }$&${ kpi.unique_key }$" class="KPI_BTN_CMT"
                       href="#" data-el="comment-icon"
                       v-bind:data-href="'/performance/kpi/comment/' + kpi.unique_key + '/?id=' + kpi.id+ '&b3=1'"
                       data-toggle="modal"
                       data-target="#kpicoment-modal">
                        <i class="fa fa-comments KPI_BTN_CMT">
                        </i>
                    </a>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        <div class="clear"></div>
    </div>
    {#        {% if not kpi.has_child %}#}
    <div v-if="!kpi.has_child" class="row rows-table-sm rows-table-xs auto-height kpi-expand">
        <div class="col col-xs-6 col-table-6 no-padding"></div>
        <div class="col col-xs-6 col-table-6 reviewing${ kpi.id }$ hide">

            <div class="kpi-expand-item-row">
                <div class="col-xs-4"><span>{% trans "Duration" %}</span></div>
                <div class="col-xs-2 no-padding">${ month_1_name }$</div>
                <div class="col-xs-2 no-padding">${ month_2_name }$</div>

                <div class="col-xs-2 no-padding">${ month_3_name }$</div>
                <div class="col-xs-2">
                    <div>{% trans "Quarter" %}</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="kpi-expand-item-row" id="evidence">
                <div>
                <div class="col-xs-2 col-xs-offset-4 no-padding">
                    ${count_evidence(1, kpi.id) }$
                    <button  v-if="evidences[kpi.id][1] == 0"
                             title="{% trans 'Import evidence'%}"
                             class="btn btn-default btn-evidences-1 KPI_BTN_EVD"
                             v-on:click="showModal_e(1, kpi.id)"
                             :disabled="!organization.enable_month_1_review">
                        <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[kpi.id][1]}$
                    </button>

                    <button  v-else class="btn btn-default evidence-exist btn-evidences-2 KPI_BTN_EVD"
                             title="{% trans 'Import evidence'%}"
                             v-on:click="showModal_e(1, kpi.id)"
                             :disabled="!organization.enable_month_1_review">
                        <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[kpi.id][1]}$
                    </button>
                </div>
                <div class="col-xs-2 no-padding">
                    ${count_evidence(2, kpi.id) }$
                    <button  v-if="evidences[kpi.id][2] == 0"
                             title="{% trans 'Import evidence'%}"
                             class="btn btn-default btn-evidences-1 KPI_BTN_EVD"
                             v-on:click="showModal_e(2, kpi.id)" >
                        <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[kpi.id][2]}$
                    </button>
                    <button  v-else class="btn btn-default evidence-exist btn-evidences-2 KPI_BTN_EVD"
                             title="{% trans 'Import evidence'%}"
                             v-on:click="showModal_e(2, kpi.id)"
                             :disabled="!organization.enable_month_2_review">
                        <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[kpi.id][2]}$
                    </button>
                </div>
                <div class="col-xs-2 no-padding">
                    ${count_evidence(3, kpi.id) }$
                    <button  v-if="evidences[kpi.id][3] == 0"
                             title="{% trans 'Import evidence'%}"
                             class="btn btn-default btn-evidences-1 KPI_BTN_EVD"
                             v-on:click="showModal_e(3, kpi.id)"
                             :disabled="!organization.enable_month_3_review">
                        <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[kpi.id][3]}$
                    </button>
                    <button  v-else class="btn btn-default evidence-exist btn-evidences-2 KPI_BTN_EVD"
                             title="{% trans 'Import evidence'%}"
                             v-on:click="showModal_e(3, kpi.id)"
                             :disabled="!organization.enable_month_3_review">
                        <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[kpi.id][3]}$
                    </button>
                </div>
                <div class="col-xs-2 no-padding KPI_DDL_CAL_METHOD">
                    <select class="form-control select-type center-block dropdown-type-evaluate KPI_DDL_CAL_METHOD"
                            id="dropdown_type_evaluate_${ kpi.id }$"
                            :disabled="disable_edit_target(kpi)"
                            v-model="kpi.score_calculation_type"
                            @change="kpi_ready(kpi.id, 'update_score_calculation_type-kpi-',true)">
                        <option value="average">{% trans "Average" %} (3 {% trans "months" %})</option>
                        <option value="sum">{% trans "Sum" %} ({% trans "accumulated" %} 3 {% trans "months" %})
                        </option>
                        <option value="most_recent">{% trans "Latest month" %}</option>
                    </select>
                </div>
                </div>
                <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 no-padding" id="update_score_calculation_type-kpi-${ kpi.id }$" style="display: none;">
                        <button  class="cancel-btn" v-on:click="kpi_ready(kpi.id,'update_score_calculation_type-kpi-',false)"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <button class="save-btn" v-on:click="update_quarter_target_and_ready(kpi, 'update_score_calculation_type-kpi-',false);" >
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                </div>
                <div class="clear"></div>
            </div>

            <div class="kpi-expand-item-row">
                <div class="input-result-item">
                    <div class="col-xs-4">{% trans "Result" %}</div>
                    <div class="col-xs-2 no-padding KPI_INP_RESULT">
                        <input type="text" class="form-control borderless kq${ kpi.id }$_1 KPI_INP_RESULT"
                               :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 1)"
                               v-model="kpi.month_1|decimalDisplay"
                               @change="kpi_ready(kpi.id, 'update_score-kpi-',true)"

                               v-bind:title="get_title_tooltip(kpi,organization, 1, 1)"
                        >
                    </div>
                    <div class="col-xs-2 no-padding KPI_INP_RESULT">
                        <input type="text" class="form-control borderless kq${ kpi.id }$_2 KPI_INP_RESULT"
                                :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 2)"
                                v-model="kpi.month_2|decimalDisplay"
                                @change="kpi_ready(kpi.id, 'update_score-kpi-',true)"
                                v-bind:title="get_title_tooltip(kpi, organization, 2, 1)"
                        >
                    </div>
                    <div class="col-xs-2 no-padding KPI_INP_RESULT">
                        <input type="text" class="form-control borderless kq${ kpi.id }$_3 KPI_INP_RESULT"
                           :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 3)"
                           v-model="kpi.month_3|decimalDisplay"
                           @change="kpi_ready(kpi.id, 'update_score-kpi-',true)"
                           v-bind:title="get_title_tooltip(kpi, organization, 3, 1)"
                        >
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input type="text" class="form-control borderless"
                            :disabled="!(kpi.score_calculation_type === 'manual' && kpi.enable_edit === true)"
                            v-model="kpi.real|decimalDisplay"
                            @change="kpi_ready(${ kpi.id }$,'update_score-kpi-',true)"
                            v-bind:title="!(kpi.score_calculation_type === 'manual' && kpi.enable_edit === true) ? '{% trans "You cannot evaluate quarter performance, please ask company admin about policy" %}' : ''"
                        >
                    </div>

                    <div class="clear"></div>
                </div>
                <div>
                    <div class="col-xs-4"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                        <div id="update_score-kpi-${ kpi.id }$" style="display: none;">
                            <button class="cancel-btn" title="{% trans "Cancel" %}" v-on:click="kpi_ready(kpi.id,'update_score-kpi-',false)">
                                <i class="fa fa-times KPI_BTN_CANCEL_MRESULT" aria-hidden="true"></i>
                            </button>
                            <button class="save-btn" title="{% trans "Save" %}" v-on:click="update_score_and_ready(kpi, 'update_score-kpi-',false);">
                                <i class="fa fa-floppy-o KPI_BTN_SAVE_MRESULT" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="kpi-expand-item-row">
                <div class="input-result-item">
                    <div class="col-xs-4">{% trans "Targets" %}

                        <button class="button-file KPI_ICN_COPY_TARGET" data-toggle="tooltip"
                                title="{% trans 'Copy quarter targets into monthly targets' %}"
                                @click="copy_monthly_goal(kpi)"><span>
                        <i class="fa fa-files-o KPI_ICN_COPY_TARGET" aria-hidden="true"></i></span></button>

                        <div v-if="check_quarter_plan(kpi.id)" class="warming-note" title="{% trans "The sum of months' target is different from quarter's target" %}">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input type="text" class="form-control borderless mt${ kpi.id }$_1 KPI_INP_MTARGET"
                               title="kpi.month_1_target|decimalDisplay"
                               :disabled="disable_edit_target(kpi)"
                               v-model="kpi.month_1_target|decimalDisplay"
                               @change="kpi_ready(kpi.id,'update_month_target-kpi-',true)"
                               v-bind:title="get_title_tooltip(kpi, (!kpi.enable_edit || !organization.allow_edit_monthly_target) || ( kpi.score_calculation_type == 'average'), 1, 2)"
                        >
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input type="text" class="form-control borderless mt${ kpi.id }$_2 KPI_INP_TARGET"
                               :disabled="disable_edit_target(kpi)"
                               title="kpi.month_2_target|decimalDisplay"

                               v-model="kpi.month_2_target|decimalDisplay"
                               @change="kpi_ready(kpi.id,'update_month_target-kpi-',true)"
                               v-bind:title="get_title_tooltip(kpi, (!kpi.enable_edit || !organization.allow_edit_monthly_target) || ( kpi.score_calculation_type == 'average'), 2, 2)"
                        >
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input type="text" class="form-control borderless mt${ kpi.id }$_3 KPI_INP_TARGET"
                               :disabled="disable_edit_target(kpi)"

                               v-model="kpi.month_3_target|decimalDisplay"
                               @change="kpi_ready(kpi.id,'update_month_target-kpi-',true)"
                               v-bind:title="get_title_tooltip(kpi, (!kpi.enable_edit || !organization.allow_edit_monthly_target) || (kpi.score_calculation_type == 'average'), 3, 2)"
                        >

                    </div>
                    <div class="col-xs-2 no-padding">
                        <input type="text" class="form-control borderless"
                               :disabled="!(kpi.score_calculation_type === 'manual' && kpi.enable_edit === true)"

                               v-model="kpi.target|decimalDisplay"
                               @change="kpi_ready(${ kpi.id }$,'update_month_target-kpi-',true)"
                               v-bind:title="!(kpi.score_calculation_type === 'manual' && kpi.enable_edit === true) ? '{% trans "You cannot evaluate quarter performance, please ask company admin about policy" %}' : ''"
                    >

                    </div>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="col-xs-4"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                        <div id="update_month_target-kpi-${ kpi.id }$" style="display: none;">
                            <button class="cancel-btn" v-on:click="kpi_ready(kpi.id,'update_month_target-kpi-',false)">
                                <i class="fa fa-times KPI_BTN_CANCEL_MTARGET" aria-hidden="true">
                                </i>
                            </button>
                            <button class="save-btn" v-on:click="update_month_target_and_ready(kpi,
                                    (!kpi.enable_edit && !v.organization.allow_edit_monthly_target) || kpi.score_calculation_type == 'average','update_month_target-kpi-',false)">
                                <i class="fa fa-floppy-o KPI_BTN_SAVE_MTARGET" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="kpi-expand-item-row">
                <div class="col-xs-4">
                    <div>
                        {% trans "Achievement" %}

                        <span class="achieve-help">
                        <a href="#" data-toggle="modal"
                           data-target="#kpiscore-help">
                <i class="fa fa-question-circle-o fa-1" aria-hidden="true"></i></a></span>
                    </div>
                    <div class="performance-based" >
                        <span v-if="kpi.achievement_calculation_method !== 'topbottom'">{% trans "Ratio Based" %}</span>
                        <span v-if="kpi.achievement_calculation_method === 'topbottom'">{% trans "Threshold Based" %}</span> <i style="cursor: pointer;" class="fa fa-pencil KPI_ICN_PCAL" aria-hidden="true" @click="adjust_performance_level(kpi.id)"></i>
                    </div>
                </div>
                <div class="col-xs-2 no-padding">
                    <div>
                        <img :src="kpi.get_month_1_score_icon" style="width: 50px">
                    </div>
                    <div>
                            <span class="${kpi.month_1_score >= 80? 'good-result': kpi.month_1_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                            ${kpi.month_1_score|scoreDisplay}$
                            </span>
                    </div>
                </div>
                <div class="col-xs-2 no-padding">
                    <div>
                        <img :src="kpi.get_month_2_score_icon" style="width: 50px">
                    </div>
                    <div>
                            <span class="${kpi.month_2_score >= 80? 'good-result': kpi.month_2_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                            ${kpi.month_2_score|scoreDisplay}$
                            </span>
                    </div>
                </div>
                <div class="col-xs-2 no-padding">
                    <div>
                        <img :src="kpi.get_month_3_score_icon" style="width: 50px">
                    </div>
                    <div>
                            <span class="${kpi.month_3_score >= 80? 'good-result': kpi.month_3_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                            ${kpi.month_3_score|scoreDisplay}$
                            </span>
                    </div>
                </div>
                <div class="col-xs-2 no-padding">
                    <div>
                        <img :src="kpi.get_score_icon" style="width: 50px">
                    </div>
                    <div>
                            <span class="${kpi.latest_score >= 80? 'good-result': kpi.latest_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                            ${ kpi.latest_score|scoreDisplay }$
                            </span>
                    </div>

                </div>

                <div class="clear"></div>


            </div>

        </div>
    </div>

</div>

<div v-else class="kpiprogress-wrapper">
    <div class="col col-xs-6 col-table-6 no-border"></div>
    <div class="col col-xs-6 col-table-6">
        <div class="kpiprogressreview-wrapper ">
            <a v-if="kpi.has_child" href="javascript:void(0);"
               onclick="$('#btn-kpi-toggle${ kpi.id }$').click()">
                {% trans "Detail" %}
                <i class="glyphicon glyphicon-edit"
                   style="margin:5px; "></i></a>            &nbsp;
        </div>
        {#            {% include "performance/bsc/worksheet/modules/kpi-setting-box.html" %}#}
        <div class="feature-box">
            <div class="kpi-comment">
                {% include "performance/bsc/worksheet/modules/kpi_config_js.html" %}
            </div>

            <div class="kpi-comment">
                <a id="${ kpi.id }$&${ kpi.unique_key }$"
                   href="#" data-el="comment-icon"
                   v-bind:data-href="'/performance/kpi/comment/' + kpi.unique_key + '/?id=' + kpi.id+ '&b3=1'"
                   data-toggle="modal"
                   data-target="#kpicoment-modal">
                    <i class="fa fa-comments">
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>

{#{% include "performance/bsc/worksheet/modals/kpi_default_real.html" %}#}

