{% load inplace_edit i18n %}
{% comment %}
<div style=" position: relative; margin-top:3px; background: #fff; padding:3px; border-bottom: 1px dashed #fff; color:#888">

{#    {% trans "Note" %}#}

    <i class="glyphicon glyphicon-tasks" style="position: absolute; left: -2px; top:5px;"></i>
    <div style=" margin-left:15px; ">
    {% inplace_edit "kpi.future_goal" edit_empty_value='---', adaptor="kpi_goal", auto_height=1, auto_width=1, autoSave="1" %}</div>
    </div>
{% endcomment %}