{% load kpi l10n i18n humanize %}

{% if kpi.weight != 0 %}
    <div class="kpiprogress-wrapper"  data-toggle="tooltip"
         title="${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 1 }$: ${kpi_list[{{ kpi.id }}].month_1_score|scoreDisplay }$ | ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 2 }$: ${kpi_list[{{ kpi.id }}].month_2_score|scoreDisplay }$ | ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 3 }$:  ${kpi_list[{{ kpi.id }}].month_3_score|scoreDisplay }$">
        <div class="row rows-table-sm rows-table-xs auto-height">
            <div class="col col-xs-6 col-table-4 kpiprogressbar-wrapper">
                <div class="kpiprogress">

                    <div class="kpiprogress-baseline"></div>
                    <div class="kpiprogress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="120"
                         style="width:${kpi_list[{{ kpi.id }}].latest_score*100/120}$%; max-width: 100%">
                        {#                 style="width:${kpi_list[{{ kpi.id }}].latest_score}$%;background:rgba(255,{{ kpi.to_percent_progress.g_color }},{{ kpi.to_percent_progress.b_color }},{{ kpi.to_percent_progress.red_opacity }}); ">#}
                    </div>
                    {#            <div class="kpiprogress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"#}
                    {#                 aria-valuemax="120"#}
                    {#                 style="width: ${kpi_list[{{ kpi.id }}].latest_score}$%; background:rgba(255,{{ kpi.to_percent_progress.g_color }},{{ kpi.to_percent_progress.b_color }},{{ kpi.to_percent_progress.red_opacity }}); "></div>#}
                </div>
            </div>
            <div class="col col-xs-6 col-table-8">

                <div class="kpiprogresspercentage-wrapper" id="loading-gif{{ kpi.id }}">
                    <span class="quarter-result" v-text="kpi_list[{{ kpi.id }}].latest_score|scoreDisplay"></span>
                    <span class="quarter-month-result">
                        (${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 1 }$: ${kpi_list[{{ kpi.id }}].month_1_score == underfined ? 0:kpi_list[{{ kpi.id }}].month_1_score|scoreDisplay }$ |
                        ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 2 }$: ${kpi_list[{{ kpi.id }}].month_2_score == underfined ? 0:kpi_list[{{ kpi.id }}].month_2_score|scoreDisplay }$ |
                        ${ '{% trans "Short Month" %}'|monthDisplay current_quarter.quarter 3 }$: ${kpi_list[{{ kpi.id }}].month_3_score == underfined ? 0:kpi_list[{{ kpi.id }}].month_3_score|scoreDisplay }$)
                        </span>
                    {#        <span>#}
                    {#        Hong: remove to check if the users are using this or not #}
                    {#              <a data-toggle="modal" data-target="#default_real-modal{{ kpi.id }}">#}
                    {#                            <i class="fa fa-cog" aria-hidden="true"></i></a>#}
                    {#        </span>#}
                </div>
                <style>
                    .kpiprogressreview-wrapper a:hover{
                        color: #007777!important;
                    }
                </style>
                <div style="width: auto" class="kpiprogressreview-wrapper ">
                    {% if kpi.has_child %}
                        <a style="margin-right: 10px" href="javascript:void(0);"


                           onclick=" $('#btn-kpi-toggle{{ kpi.id }}').click()">

                            {% trans "Sub-KPIs" %}
                            <i class="glyphicon glyphicon-align-justify mg-l-5"
                               style=""></i>
                        </a>
                        <a v-if="kpi_list[{{ kpi.id }}].children_data.parent_score_auto === false" href="javascript:void(0);"

                           onclick="$('.reviewing{{ kpi.id }}').toggleClass('hide')">

                            {% trans "Review" %}
                            <i class="glyphicon glyphicon-edit"
                               style="margin:5px; "></i>

                        </a>
                    {% else %}
                        <a href="javascript:void(0);"

                           onclick="$('.reviewing{{ kpi.id }}').toggleClass('hide')">

                            {% trans "Review" %}
                            <i class="glyphicon glyphicon-edit"
                               style="margin:5px; "></i>

                        </a>

                    {% endif %}


                </div>

                {% include "performance/bsc/worksheet/modules/kpi-setting-box.html" %}
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
        </div>
        {#        {% if not kpi.has_child %}#}
        <div class="row rows-table-sm rows-table-xs auto-height kpi-expand">
            <div class="col col-xs-6 col-table-6 no-padding"></div>
            <div class="col col-xs-6 col-table-6 reviewing{{ kpi.id }} hide">

                <div class="kpi-expand-item-row">
                    <div class="col-xs-4"><span>{% trans "Duration" %}</span></div>
                    <div class="col-xs-2 no-padding">${ month_1_name }$</div>
                    <div class="col-xs-2 no-padding">${ month_2_name }$</div>
                    <div class="col-xs-2 no-padding">${ month_3_name }$</div>
                    <div class="col-xs-2">
                        <div>{% trans "Quarter" %}</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="kpi-expand-item-row" id="evidence">
                    <div>
                    <div class="col-xs-2 col-xs-offset-4 no-padding">
                        ${count_evidence(1,{{kpi.id}}) }$
                        <button  v-if="evidences[{{kpi.id}}][1] == 0"
                                 title="{% trans 'Import evidence'%}"
                                 class="btn btn-default btn-evidences-1"
                                 v-on:click="showModal_e(1,{{kpi.id}})">
                            <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[{{kpi.id}}][1]}$
                        </button>

                        <button  v-else class="btn btn-default evidence-exist btn-evidences-2"
                                 title="{% trans 'Import evidence'%}"
                                 v-on:click="showModal_e(1,{{kpi.id}})">
                            <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[{{kpi.id}}][1]}$
                        </button>
                    </div>
                    <div class="col-xs-2 no-padding">
                        ${count_evidence(2,{{kpi.id}}) }$
                        <button  v-if="evidences[{{kpi.id}}][2] == 0"
                                 title="{% trans 'Import evidence'%}"
                                 class="btn btn-default btn-evidences-1" v-on:click="showModal_e(2,{{kpi.id}})" >
                            <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[{{kpi.id}}][2]}$
                        </button>
                        <button  v-else class="btn btn-default evidence-exist btn-evidences-2"
                                 title="{% trans 'Import evidence'%}"
                                 v-on:click="showModal_e(2,{{kpi.id}})" >
                            <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[{{kpi.id}}][2]}$
                        </button>
                    </div>
                    <div class="col-xs-2 no-padding">
                        ${count_evidence(3,{{kpi.id}}) }$
                        <button  v-if="evidences[{{kpi.id}}][3] == 0"
                                 title="{% trans 'Import evidence'%}"
                                 class="btn btn-default btn-evidences-1"
                                 v-on:click="showModal_e(3,{{kpi.id}})" >
                            <i class="fa fa-file-text-o pull-left evidences-icon"></i> ${evidences[{{kpi.id}}][3]}$
                        </button>
                        <button  v-else class="btn btn-default evidence-exist btn-evidences-2"
                                 title="{% trans 'Import evidence'%}"
                                 v-on:click="showModal_e(3,{{kpi.id}})" >
                            <i class="fa fa-file-text pull-left evidences-icon"></i>${evidences[{{kpi.id}}][3]}$
                        </button>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <select class="form-control select-type center-block dropdown-type-evaluate"
                                id="dropdown_type_evaluate_{{ kpi.id }}"
                                :disabled="disable_edit_target(kpi_list[{{kpi.id}}])"
                                v-model="kpi_list[{{ kpi.id }}].score_calculation_type"
                                @change="kpi_ready({{ kpi.id }},'update_score_calculation_type-kpi-',true)">
                            <option value="average">{% trans "Average" %} (3 {% trans "months" %})</option>
                            <option value="sum">{% trans "Sum" %} ({% trans "accumulated" %} 3 {% trans "months" %})
                            </option>
                            <option value="most_recent">{% trans "Latest month" %}</option>
{#                            <option value="manual">{% trans "Manual" %}</option>#}
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 no-padding" id="update_score_calculation_type-kpi-{{ kpi.id }}" style="display: none;">
                            <button  class="cancel-btn" onclick="kpi_ready({{ kpi.id }},'update_score_calculation_type-kpi-',false)"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="save-btn" onclick="v.update_quarter_target(v.kpi_list[{{ kpi.id }}]);kpi_ready({{ kpi.id }},'update_score_calculation_type-kpi-',false);" ><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                    </div>


                    <div class="clear"></div>
                </div>

                <div class="kpi-expand-item-row">
                    <div class="input-result-item">
                        <div class="col-xs-4">{% trans "Result" %}</div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless kq{{ kpi.id }}_1" data-lpignore="true"
                                   :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 1)"
                                   v-model="kpi_list[{{ kpi.id }}].month_1|decimalDisplay"
                                   @change="kpi_ready({{ kpi.id }},'update_score-kpi-',true)"

                                   v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}],organization, 1, 1)"
                            >
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless kq{{ kpi.id }}_2" data-lpignore="true"
                                    :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 2)"
                                    v-model="kpi_list[{{ kpi.id }}].month_2|decimalDisplay"
                                    @change="kpi_ready({{ kpi.id }},'update_score-kpi-',true)"
                                    v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}], organization, 2, 1)"
                            >
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless kq{{ kpi.id }}_3" data-lpignore="true"
                               :disabled="disable_review_kpi({{user.profile.parent.user_id}}, 3)"
                               v-model="kpi_list[{{ kpi.id }}].month_3|decimalDisplay"
                               @change="kpi_ready({{ kpi.id }},'update_score-kpi-',true)"
                               v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}], organization, 3, 1)"
                            >
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless" data-lpignore="true"
                                :disabled="!(kpi_list[{{ kpi.id }}].score_calculation_type === 'manual' && kpi_list[{{ kpi.id }}].enable_edit === true)"
                                v-model="kpi_list[{{ kpi.id }}].real|decimalDisplay"
                                @change="kpi_ready({{ kpi.id }},'update_score-kpi-',true)"
                                v-bind:title="!(kpi_list[{{ kpi.id }}].score_calculation_type === 'manual' && kpi_list[{{ kpi.id }}].enable_edit === true) ? '{% trans "You cannot evaluate quarter performance, please ask company admin about policy" %}' : ''"
                            >
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="col-xs-4"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                            <div id="update_score-kpi-{{ kpi.id }}" style="display: none;">
                                <button class="cancel-btn" title="{% trans "Cancel" %}" onclick="kpi_ready({{ kpi.id }},'update_score-kpi-',false)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button class="save-btn" title="{% trans "Save" %}" onclick="v.update_score(v.kpi_list[{{ kpi.id }}]);kpi_ready({{ kpi.id }},'update_score-kpi-',false)">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="kpi-expand-item-row">
                    <div class="input-result-item">
                        <div class="col-xs-4">{% trans "Targets" %}

                            <button class="button-file" data-toggle="tooltip"
                                    title="{% trans 'Copy quarter targets into monthly targets' %}"
                                    @click="copy_monthly_goal(kpi_list[{{ kpi.id }}])"><span>
                            <i class="fa fa-files-o" aria-hidden="true"></i></span></button>

                            <div v-if="check_quarter_plan({{ kpi.id }})" class="warming-note" title="{% trans "The sum of month's target is different from quarter's target" %}">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless mt{{ kpi.id }}_1"
                                   title="kpi_list[{{ kpi.id }}].month_1_target|decimalDisplay"
                                   :disabled="disable_edit_target(kpi_list[{{kpi.id}}])"
                                   v-model="kpi_list[{{ kpi.id }}].month_1_target|decimalDisplay"
                                   @change="kpi_ready({{ kpi.id }},'update_month_target-kpi-',true)"
                                   v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}], (!kpi_list[{{ kpi.id }}].enable_edit || !organization.allow_edit_monthly_target) || ( kpi_list[{{ kpi.id }}].score_calculation_type == 'average'), 1, 2)"
                            >
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless mt{{ kpi.id }}_2"
                                   :disabled="disable_edit_target(kpi_list[{{kpi.id}}])"
                                   title="kpi_list[{{ kpi.id }}].month_2_target|decimalDisplay"

                                   v-model="kpi_list[{{ kpi.id }}].month_2_target|decimalDisplay"
                                   @change="kpi_ready({{ kpi.id }},'update_month_target-kpi-',true)"
                                   v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}], (!kpi_list[{{ kpi.id }}].enable_edit || !organization.allow_edit_monthly_target) || ( kpi_list[{{ kpi.id }}].score_calculation_type == 'average'), 2, 2)"
                            >
                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless mt{{ kpi.id }}_3"
                                   :disabled="disable_edit_target(kpi_list[{{kpi.id}}])"

                                   v-model="kpi_list[{{ kpi.id }}].month_3_target|decimalDisplay"
                                   @change="kpi_ready({{ kpi.id }},'update_month_target-kpi-',true)"
                                   v-bind:title="get_title_tooltip(kpi_list[{{ kpi.id }}], (!kpi_list[{{ kpi.id }}].enable_edit || !organization.allow_edit_monthly_target) || ( kpi_list[{{ kpi.id }}].score_calculation_type == 'average'), 3, 2)"
                            >

                        </div>
                        <div class="col-xs-2 no-padding">
                            <input type="text" class="form-control borderless"
                                   :disabled="!(kpi_list[{{ kpi.id }}].score_calculation_type === 'manual' && kpi_list[{{ kpi.id }}].enable_edit === true)"

                                   v-model="kpi_list[{{ kpi.id }}].target|decimalDisplay"
                                   @change="kpi_ready({{ kpi.id }},'update_month_target-kpi-',true)"
                                   v-bind:title="!(kpi_list[{{ kpi.id }}].score_calculation_type === 'manual' && kpi_list[{{ kpi.id }}].enable_edit === true) ? '{% trans "You cannot evaluate quarter performance, please ask company admin about policy" %}' : ''"
                        >

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="col-xs-4"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 no-padding">
                            <div id="update_month_target-kpi-{{ kpi.id }}" style="display: none;">
                                <button class="cancel-btn" onclick="kpi_ready({{ kpi.id }},'update_month_target-kpi-',false)">
                                    <i class="fa fa-times" aria-hidden="true">

                                    </i>
                                </button>
                                <button class="save-btn" onclick="v.update_month_target(v.kpi_list[{{ kpi.id }}],
                                        (!v.kpi_list[{{ kpi.id }}].enable_edit && !v.organization.allow_edit_monthly_target) || v.kpi_list[{{ kpi.id }}].score_calculation_type == 'average');kpi_ready({{ kpi.id }},'update_month_target-kpi-',false)">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="kpi-expand-item-row">
                    <div class="col-xs-4">
                        <div>
                            {% trans "Achievement" %}

                            <span class="achieve-help">
                            <a href="#" data-toggle="modal"
                               data-target="#kpiscore-help">
                    <i class="fa fa-question-circle-o fa-1" aria-hidden="true"></i></a></span>
                        </div>
                        <div class="performance-based" >
                            <span v-if="kpi_list[{{ kpi.id }}].achievement_calculation_method !== 'topbottom'">{% trans "Ratio Based" %}</span>
                            <span v-if="kpi_list[{{ kpi.id }}].achievement_calculation_method === 'topbottom'">{% trans "Threshold Based" %}</span> <i style="cursor: pointer;" class="fa fa-pencil" aria-hidden="true" @click="adjust_performance_level({{ kpi.id }})"></i>
                        </div>
                        <style>
                            .performance-based span{
                                width: 89px;
                                height: 17px;
                                font-size: 14px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: left;
                                color: #4d565a;
                                float:left;
                            }
                        </style>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <div>
                            <img :src="kpi_list[{{ kpi.id }}].get_month_1_score_icon" style="width: 50px">
                        </div>
                        <div>
                                <span class="${kpi_list[{{ kpi.id }}].month_1_score >= 80? 'good-result': kpi_list[{{ kpi.id }}].month_1_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                                ${kpi_list[{{ kpi.id }}].month_1_score|scoreDisplay}$
                                </span>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <div>
                            <img :src="kpi_list[{{ kpi.id }}].get_month_2_score_icon" style="width: 50px">
                        </div>
                        <div>
                                <span class="${kpi_list[{{ kpi.id }}].month_2_score >= 80? 'good-result': kpi_list[{{ kpi.id }}].month_2_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                                ${kpi_list[{{ kpi.id }}].month_2_score|scoreDisplay}$
                                </span>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <div>
                            <img :src="kpi_list[{{ kpi.id }}].get_month_3_score_icon" style="width: 50px">
                        </div>
                        <div>
                                <span class="${kpi_list[{{ kpi.id }}].month_3_score >= 80? 'good-result': kpi_list[{{ kpi.id }}].month_3_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                                ${kpi_list[{{ kpi.id }}].month_3_score|scoreDisplay}$
                                </span>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <div>
                            <img :src="kpi_list[{{ kpi.id }}].get_score_icon" style="width: 50px">
                        </div>
                        <div>
                                <span class="${kpi_list[{{ kpi.id }}].latest_score >= 80? 'good-result': kpi_list[{{ kpi.id }}].latest_score >= 50? 'avg-result':'bad-result' }$" v-bind:title="get_title_tooltip('', true, 1, 3)">
                                ${kpi_list[{{ kpi.id }}].latest_score|scoreDisplay}$
                                </span>
                        </div>
                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        </div>
        {#        {% endif %}#}
    </div>
{% else %}
    <div class="kpiprogress-wrapper">
        <div class="col col-xs-6 col-table-6 no-border"></div>
        <div class="col col-xs-6 col-table-6">
            <div class="kpiprogressreview-wrapper ">
                {% if kpi.has_child %}
                    <a href="javascript:void(0);"
                       onclick=" $('#btn-kpi-toggle{{ kpi.id }}').click()">
                        {% trans "Detail" %}
                        <i class="glyphicon glyphicon-edit"
                           style="margin:5px; "></i></a>
                {% endif %}
                &nbsp;
            </div>
            {% include "performance/bsc/worksheet/modules/kpi-setting-box.html" %}
        </div>
    </div>
{% endif %}
{% include "performance/bsc/worksheet/modals/kpi_default_real.html" %}

<script>
    $(document).keydown(function(event) {
        if (event.keyCode == 27) {
        $('#evidence-modal').modal('hide');
        $('#save-evidence').attr('disabled','disabled');
    }
});
    $("#evidence-modal").on("hidden.bs.modal", function(){
        $('#file-upload').val('');
        that.filename='';
        $('#e-content').val('');
    });
    $("#e-content").on("input", function(){
        var maxlength = parseInt($("#e-content").attr("maxlength"));
        if ($("#e-content").val().length>=maxlength)  {
            var tmp = $('#e-content').val().slice(0,maxlength-1);
            $('#e-content').val(tmp);
            alert("{% trans 'You have reached length limit!' %}");
        }
    })
</script>

<script type="text/javascript">
    $("#dropdown_type_evaluate_{{ kpi.id }}").hover(function () {
        var name = $("#dropdown_type_evaluate_{{ kpi.id }} option:selected").text();
        $('#dropdown_type_evaluate_{{ kpi.id }}').attr('title', name);
    });
</script>
