{% load i18n %}

 <div class="col-md-3">
     <div class="error-box">
         <div class="error-title" style="background-color: #ccc;">{% trans "Others" %}</div>
         <div class="error-list">
         	<div class="checkbox">
	         	<label>
	         		<input type="checkbox" class="fb-check"><span data-class="error-name">{% blocktrans %}Error name{% endblocktrans %}</span>
	         		<input class="fb-value" type="hidden" value="Error name"/>
	         	</label>
         	</div>
         </div>
        
     </div>
 </div>
 