{% load i18n %}

{% load kpi %}
 {% for item in data %}
 {% with cat=item|get_item:'cat' fbs=item|get_item:'fbs' %}
 <div class="col-md-3">
     <div class="error-box">
     	{% if cat %}
         <div class="error-title" style="background-color: #{{ cat.color }};"><span>{{ cat.name }}</span></div>
         {% else %}
         <div class="error-title" style="background-color: #ccc;"><span>{% trans "Others" %}</span></div>
         {% endif %}
         <div class="error-list">
         {% for fb in fbs %}
         	<div class="checkbox">
	         	<label>
	         		<input type="checkbox" class="fb-check">{{ fb.name }} 
	         		<input class="fb-value" type="hidden" value="{{ fb.name }}"/>
	         	</label>
         	</div>
         {% endfor %}
         </div>
        
     </div>
 </div>
 {% endwith %}
 {% endfor %}