{% load i18n %}
<style type="text/css">
    #kpi-error-modal {
        z-index: 999999;
    }

    @media (min-width: 768px) {
        #kpi-error-modal .modal-dialog {
            margin: 1vh;
        }
    }

    #kpi-error-modal .modal-dialog {
        width: auto;
    }

    #kpi-error-modal .modal-content {
        border: 0px;
    }

    #kpi-error-modal .modal-header {
        padding: 8px 15px;
        background-color: #1291ce;
    }

    #kpi-error-modal #myModalLabel {
        font-size: 12pt;
        color: #fff;
        padding: 0px;
    }

    #kpi-error-modal .modal-header .close {
        font-size: 24pt;
        margin-top: -5px;
    }

    #kpi-error-modal .close {
        color: #fff;
        text-shadow: none;
        opacity: 0.8;
    }

    #kpi-error-modal .modal-body {
        background-color: #e1e1e1;
        height: 70vh;
        overflow: scroll;

    }

    #kpi-error-modal .error-box {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fff;
    }

    #kpi-error-modal .error-list {
        padding: 10px 15px;
    }

    #kpi-error-modal .error-title {
        padding: 10px 15px;
        color: #fff;
        font-weight: 600;
    }

    #kpi-error-modal .col-md-6 {
        padding-right: 0.5vw;
        padding-left: 0.5vw;
    }

    #kpi-error-modal .col-lg-6 {
        padding-right: 0px;
        padding-left: 0px;
    }

    #kpi-error-modal .checkbox:hover {
        background-color: #ececec;
    }

    #kpi-error-modal .btn-comment {
        color: #fff;
        font-weight: 600;
        background-color: #558e28;
        border: 1px #3f7514 solid;
    }

    #kpi-error-modal .btn-comment:hover {
        color: #fff;
        background-color: #67a436;
    }

    #kpi-error-modal .checkbox {
        padding: 5px;
    }

    #kpi-error-modal .checkbox label {
        /*text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        */
    }

    #kpi-error-modal .form-control {
        /*border-radius: 0px;*/
    }

    #kpi-error-modal .add-error {
        display: inline-block;
        float: right;
    }

    #kpi-error-modal .add-er-btn {
        padding: 0px 5px;
    }

    #error-comment {
        resize: vertical;
    }

    #kpi-name-error-box {
        padding: 5px 15px;
        font-size: 16px;
        background-color: #fcf8e3;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="kpi-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="padding-left: 0px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{% blocktrans %}REJECT REASONS{% endblocktrans %}</h4>
            </div>
            <div id="kpi-name-error-box" class="bg-warning">

                <div class="row">
                    <div class="col-sm-8">
                        <span style="font-weight: 500;">KPI:</span>
                        <span data-class="kpi-name"></span>
                    </div>
                    <div class="col-sm-4 text-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txt-search-kpi-error"
                                           placeholder="Error name..."/>
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="modal-body row">
                    <div class="body">
                        <h2 class="bg-warning">{% trans "Loading...." %}</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="modal-footer row">
                    <div class="col-lg-9">
                        <textarea id="error-comment" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="col-md-3" style="float: right; margin-top: 10px;" id="btn-group-error-comment">
                        <button type="button" id="btn-error-reset" class="btn btn-warning">{% trans "Reset" %}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="button" class="btn btn-comment"
                                id="btn-save-error-comment">{% trans "Comment" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#kpi-error-modal').on('show.bs.modal', function (e) {
        // do something...
        $('#kpi-name-error-box [data-class="kpi-name"]').html($('#kpi-error-modal').data('kpi-name'));

    });
    $('#btn-error-reset').click(function () {
        $('#kpi-error-modal').find('input[type=checkbox].fb-check').prop('checked', false);
        $('#kpi-error-modal').find('#error-comment').val('').prop('rows', 3);
    });
    $('#kpi-error-modal').on('change', 'input[type=checkbox].fb-check', function () {
        var comment = [];
        $('#kpi-error-modal input[type=checkbox].fb-check:checked').each(function () {
            comment.push($(this).siblings('input.fb-value:hidden').val());
        });

        $('#error-comment').val(comment.join("\n"));

        //fix textarea height when many comments
        if (comment.length > 3) {
            $('#error-comment').prop('rows', comment.length);
        } else {
            $('#error-comment').prop('rows', 3);
        }
    });

    $('#btn-save-error-comment').click(function () {
        //alert('clicj');
        var kpi_unique = $('#kpi-error-modal').data('kpi_unique');
        var kpi_id = $('#kpi-error-modal').data('kpi_id');
        var data = {
            comment: $('#error-comment').val(),

        }
        $('#btn-group-error-comment button').prop('disabled', true);

        cloudjetRequest.ajax({
            url: '/performance/kpicomment/' + kpi_unique + '/',
            type: 'post',
            data: data,
            success: function (response) {
                $('#kpi-error-modal').modal('hide');
                $('#btn-group-error-comment button').prop('disabled', false);
                approve_kpi(kpi_id, 'rejected');
            }
        });
        {% comment %}$.post('/performance/kpicomment/' + kpi_unique+'/', data, function (response) {
            //$('#kpicomment' + unique_key).append(response);
            $('#kpi-error-modal').modal('hide');
            $('#btn-group-error-comment button').prop('disabled', false);
            approve_kpi(kpi_id,'rejected');

        });{% endcomment %}
    });
    {% get_current_language as LANGUAGE_CODE %}
    var language_code = '{{ LANGUAGE_CODE }}';
    cloudjetRequest.ajax({
        type: 'get',
        url: '/api/kpi_feedback/',
        success: function (res) {
            //$('#kpi-error-modal .modal-body').html(res);
            console.log(res);
            $('#kpi-error-modal .modal-body>.body').html('');
            var $cat_error_tpl = $($('#error-category-template').html());
            var $error_item_tpl = $cat_error_tpl.find('div.error-list').children().detach();
            var item, i, fbs, fb, cat;
            var $cat_error, $error_item;
            for (item in res) {
                cat = res[item].cat;
                fbs = res[item].fbs;
                $cat_error = $cat_error_tpl.clone();
                if (cat) {
                    $cat_error.find('.error-title').css('background-color', cat.color);
                    if (language_code == 'vi') {
                        $cat_error.find('.error-title').html(cat.name_vi);
                    } else {
                        $cat_error.find('.error-title').html(cat.name);
                    }
                }

                for (i in fbs) {
                    fb = fbs[i];
                    $error_item = $error_item_tpl.clone();
                    if (language_code == 'vi') {
                        $error_item.find('[data-class="error-name"]').html(fb.name_vi);
                        $error_item.find('.fb-value').val(fb.name_vi);
                    } else {
                        $error_item.find('[data-class="error-name"]').html(fb.name);
                        $error_item.find('.fb-value').val(fb.name);
                    }
                    $cat_error.find('.error-list').append($error_item);
                }
                $('#kpi-error-modal .modal-body>.body').append($cat_error);
            }
        },
        error: function (res) {
            console.log('unable load kpi feedback modal');
        }
    });

    function show_modal_error_comment(kpi_id, kpi_unique, kpi_name) {
        $('#kpi-error-modal').data('kpi_unique', kpi_unique);
        $('#kpi-error-modal').data('kpi_id', kpi_id);
        $('#kpi-error-modal').data('kpi-name', kpi_name);
        $('#kpi-error-modal').modal('show');
    }

    //fitler table
    $('#kpi-error-modal .modal-body').filterTable({
        inputSelector: '#txt-search-kpi-error',
        minRows: 0,
        autofocus: false,
        doFiltering: function (table, q) {
            var settings = $('#kpi-error-modal .modal-body').data('settings');
            var show_elms;
            var tbody = table.find('.body'); // cache the tbody element
            if (q === '') { // if the filtering query is blank
                tbody.find('.error-list>.checkbox').show().addClass(settings.visibleClass); // show all rows

            } else { // if the filter query is not blank
                tbody.find('.error-list>.checkbox').hide().removeClass(settings.visibleClass); // hide all rows, assuming none were found

                show_elms = tbody.find('.error-list>.checkbox').filter(':filterTableFind("' + q.replace(/(['"])/g, '\\$1') + '")').show().addClass(settings.visibleClass); // highlight (class=alt) only the cells that match the query and show their rows

            }
            //also show parent if exist
            if (settings.callback) { // call the callback function
                //duan add show_elms
                settings.callback(q, table, show_elms);
            }

        },

    });

</script>

