{% load kpi l10n i18n humanize %}
<div class="feature-box">
    <div class="kpi-comment">
        {% include "performance/bsc/worksheet/modules/kpi_config.html" %}
    </div>
    <!--<div class="kpi-comment">-->
                    <!--<a href="/performance/search/?q={{ kpi.name }}" target="_blank"><i-->
                            <!--class="fa fa-search"></i></a></div>-->
    <div class="kpi-comment">
    <a id="{{ kpi.id }}&{{ kpi.unique_key }}"
       href="#" data-el="comment-icon"
       data-href="{% url 'kpi-comment' kpi.unique_key %}?id={{ kpi.id }}&b3=1"
       data-toggle="modal"
       data-target="#kpicoment-modal">
        <i class="fa fa-comments">
            {#                                    <span class="badge badge-info">{% comment_count kpi=kpi %}</span>#}
        </i>
    </a>
    </div>
</div>

