{% load i18n inplace_edit kpi user_tags %}
{% load inplace_edit %}
{% load i18n user_tags %}
{% block extra_js %}
    {#            <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>#}
{% endblock %}
{% comment %}
	{% inplace_toolbar %} 	
{% endcomment %}
<style>
    #list_user_suggest{
        right:2px;
    }
    #result_searched{
       right:2px;
    }
    .no-data{
       right:2px;
    }
    .arrow-up{
        right:275px;
    }
    #more-option .material-icons{
        font-size: 20px !important;
        width: 20px !important;
        height: 20px !important;
    }
    #more-option{
        width: 34px;
        height: 34px;
    }
    #more-option:hover {
        width: 34px;
        height: 34px;
        border-radius: 3px;
        background-color: #ffffff;
        border: 1px solid #008b8b;
    }
    #more-option:hover i{
        color: #008b8b;
    }
    @media (min-width: 992px){
        .modal-md {
            width: 450px;
        }
    }
    @media (min-width: 768px){
        .modal-md {
            width: 450px;
        }
    }
    #list-option a:hover {
        color: #008b8b;

    }
    #list-option a:hover i{
        color: #008b8b;

    }
    #list-option a.danger:hover{
       color: #d9534f;
    }
    #list-option a.danger:hover i{
       color: #d9534f;
    }
    .my-modal-body{
        text-align: left;
        font-size: 14px;
    }
    .my-modal-body span{
        font-weight: bold;
    }
    .my-modal-body p{
        font-size: 12px;
        margin-top: 5px;
        height: 14px;
        color: #d9534f;
    }
    .my-modal-title{
        font-size: 16px;
        color: #333333;
        font-weight: bold;
    }
    .my-btn{
        width: 61px;
        height: 34px;
        border-radius: 3px;
        border:  1px solid #e4e4e4;
    }
    .input-email{
        height: 30px;
        width: 410px;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .input-email:focus{
        outline: none;
        border:1px solid #008b8b;
    }
    .mater-delete{
        right: 5px;
        font-size: 16px !important;
        top: 2px;
    }
    .modal-delete-kpi{
        border: none !important;
    }
    #modal-delete-all-kpi .modal-content{
        top: 200px !important;
    }
    #list-option i{
        padding-right: 5px;
        padding-left: 10px;
        font-size: 16px !important;
    }
    #row-financial th{
        background-color: rgba(245, 166, 35,0.1);
        color: #f5a623;
        text-transform: uppercase;
        border:none!important;
    }
    #row-customer th{
        background-color: #eaf1f7;
        color: #337ab7;
        text-transform: uppercase;
        border:none!important;
    }
    #row-internal th{
        background-color: #edf5e7;
        color: #53a413;
        text-transform: uppercase;
        border:none!important;
    }
    #row-learninggrowth th{
        background-color: #fdf1f1;
        color: #f27577;
        text-transform: uppercase;
        border:none!important;
    }
    #row-other th{
        background-color: #f9f9f9;
        color: #666666;
        text-transform: uppercase;
        border:none!important;
    }
    .row-no-background th{
        background:white;
        border:none!important;
        height:55px!important;
        vertical-align: middle!important;
        color:#333333;
        font-weight:normal;
        font-size:14px;
        border-bottom:1px solid #e4e4e4!important;
    }
    .row-border-bottom td{
        border:none!important;
        border-bottom:1px solid #e4e4e4!important;;
    }
	@media (max-width: 1024px){
    	.kpi-panel-body table tr td {
    		font-size: 11px;
    		vertical-align: bottom;
    	}
    	
    	.kpi-panel-body table tr td .font-20 {
		    font-size: 18px;
		}
		.kpi-panel-body table.table-per-result {
			min-height: 148px;
		}
    }
    .radio input[type="radio"] {
    	margin-left: 5px !important;
    	position: relative !important;;
    }
    .modal-export-kpi a {
    	color: #fff;
    }
    .q-score {
    	color: #008b8b;
    	font-weight: 600;
    }

    #kpiscore-avg-help {
    	color: #333;
    }
    #kpiscore-avg-help .modal-header {
    	border-bottom: none;
    	padding-bottom: 8px;
    }
    #kpiscore-avg-help .modal-footer {
    	border-top: none;
    	padding: 0 15px 15px 15px;
    }
    .help-headline {
    	color: #337ab7;
    	font-weight: bold;
    	margin-top: 20px;
    	margin-bottom: 5px;
    }
    .tb-sm tr th {
    	background-color: #fff !important;
    }
    .tb-sm tbody tr td, .tb-sm tr th {
    	padding: 6px  !important;
    }
</style>
<div class="toolbar">
    <div class="toolbar-left">
        <a href="" id="btn-back" style="display: none;" class="always-on-menu">
            &laquo; {% trans 'Back' %}
        </a>
{#        <a href="javascript:void(0);" class="not-show-when-group always-on-menu"#}
{#           v-on:click="compress_view"#}
{#           style="cursor: pointer; margin-left:15px;font-size: 15px;#}
{#    margin-top: 5px;">#}
{#            <i class="fa fa-compress"></i>#}
{#        </a>#}
        <button {% if target_organization.enable_kpi_lib %} onclick="show_modal_add_kpi()" {% else %}  onclick="show_modal_categories()"{% endif %}
        	data-toggle="modal" id="btn-add" class="btn btn-normal btn-cus-add btn-cus-5-7 HOME_BTN_ADD_KPI">
            <i class="material-icons font-20 HOME_BTN_ADD_KPI">&#xE145;<!--add--></i> {% trans 'Add KPI' %}
            <input type="hidden" name="category_key" value="None"/>
        </button>

        <button class="btn btn-normal btn-cus-add btn-cus-5-7 not-show-when-group HOME_BTN_BACKUP_KPI"
                        v-on:click="show_backup_kpi">
            {% trans 'Backup KPI' %}
        </button>

        {% if cross_review%}
            <a data-step="8" data-intro="{% trans "Proceed 360 degree review." %}"
                    class="btn btn-normal btn-cus-white btn-cus-5-7 not-show-when-group HOME_BTN_360"
               href="{% url 'kpi_editor_search' %}?q=reviewer_email:{{ user_viewed.email }}">
                    <i class="material-icons HOME_BTN_360">&#xE418;<!--rotate 90 degrees ccw--></i>
                    <span>{% trans "360 assessment" %}</span>
            </a>
        {% endif %}
        <!--Edit all KPI's Weight button-->
        <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 HOME_BTN_WEIGHT_KPI" id="btn-edit-weight" @click="edit_weight_modal">
            <i class="material-icons font-20 HOME_BTN_WEIGHT_KPI">line_weight</i>
            <span>{% trans "Weight" %}</span>
        </button>

        <button v-if="organization.enable_abc_feature" id="sort_by_group"
                class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 HOME_BTN_ABC" v-on:click="sort_by_group($event)">
            <i class="material-icons font-20 HOME_BTN_ABC">&#xE0C3;<!--import export--></i>
            <span>ABC</span>
        </button>
        <form  method="post" id="form-export-kpi" class="format-distance">  {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ org_user.id }}" id="id_user_export">
            <input type="hidden" name="export" value="1">
            <input type="hidden" name="quarter_period" v-bind:value="quarter_by_id.id">
            <!--<div class="dropdown">-->
                <!--<button class="btn btn-sm dropdown-toggle" type="button" id="ee" data-toggle="dropdown"-->
                        <!--aria-haspopup="true" aria-expanded="true">-->
                    <!--<i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans "Export Excel" %}-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
{# Note: cái này chưa chuẩn                    <li><a v-bind:href="'/performance/report/ket-qua-ca-nhan/?user_id={{ org_user.id }}&quarter_id=' + quarter_by_id.id"#}
{#                           target="_blank">#}
{#                            {% trans "Individual Performance Object" %}#}
{#                    </a></li>#}
            <div>
                <a class="btn btn-sm not-show-when-group HOME_BTN_EXPORT_KPI" aria-haspopup="true" aria-expanded="true" data-toggle="modal" aria-hidden="true" data-target="#modal-export-kpi" href="javascript:void(0)"
                           target="_blank">
                        <i class="material-icons font-14 icon-padding-bottom-3 HOME_BTN_EXPORT_KPI">&#xE24D;<!--insert drive file--></i>
                        {% trans "Export KPI" %}
                </a>

{#                    <li><a onclick="$('#form-export-kpi').submit()" target="_blank" href="javascript:void(0)">#}
{#                        {% trans "Full" %}#}
{#                    </a>#}
                    </li>
            </div>

        </form>
        <form method="post" id="form-history-kpi"
              class="format-distance">  {% csrf_token %}
            <div class="dropdown">
                <button class="btn btn-sm not-show-when-group dropbtn transparent-color" type="button">
                    <i class="material-icons font-14 icon-padding-bottom-3">&#xE889;<!--history--></i> {% trans "History KPI" %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenu1">
                    <li class="HOME_DDL_HIS_MOD"><a class="HOME_DDL_HIS_MOD" target="_blank" href="/performance/log/#{{ org_user.email }}">
                        {% trans "KPIs Modifications" %}
                    </a>
                    </li>
                    <li class="HOME_DDL_HIS_DEL"><a class="HOME_DDL_HIS_DEL" href="/performance/deleted_kpi/?user_id={{ org_user.id }}" target="_blank">
                        {% trans "Deleted KPIs" %}
                    </a></li>
                    <li class="HOME_DDL_HIS_KPI"><a class="HOME_DDL_HIS_KPI" href="" v-on:click="get_order_quarter" data-toggle="modal" data-target="#modal-order-quarter-kpi">
                        {% trans "Order Quarter KPIs" %}
                    </a></li>
                </ul>
            </div>
        </form>
        <form class="format-distance" method="post">
            <div>
                <a id="toolbar-target" class="btn btn-sm not-show-when-group transparent-color"  href="/performance/kpi-target/" >
                    <i class="material-icons font-14 icon-padding-bottom-3">gps_fixed</i>{% trans "Targets" %}
                </a>
            </div>
        </form>
        <form class="format-distance">
            <div class="dropdown">
                    <button id="more-option" class="btn btn-sm not-show-when-group dropbtn transparent-color" type="button">
                        <i class="material-icons">more_horiz</i>
                    </button>
                    <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenu1" id="list-option">
                        <a class="btn btn-sm not-show-when-group HOME_LINK_SEARCH_KPI"
                           href="{% url 'kpi_editor_search' %}"
                           target="_blank">
                            <i class="material-icons font-14 HOME_LINK_SEARCH_KPI">search</i> {% trans "Search KPI" %}
                        </a>
                        <a class="btn btn-sm not-show-when-group HOME_LINK_CLONE_KPI" id="btn-kpi-clone"
                           href="{% url 'import_kpis_copy' %}#/?email={{ org_user.email }}"
                           target="_blank">
                            <i class="material-icons font-14 HOME_LINK_CLONE_KPI">&#xE14D;<!--content copy--></i> {% trans "Clone KPI" %}
                        </a>
                        {% if  is_superuser or is_manager %}
                        <a class="btn btn-sm not-show-when-group danger HOME_LINK_DELALL_KPI" v-on:click="reset_modal_delete()"  data-toggle="modal" data-target="#modal-delete-all-kpi"
                           target="_blank">
                            <i class="material-icons font-14 HOME_LINK_DELALL_KPI">delete_sweep</i> {% trans "Delete all KPIs" %}
                        </a>
                        {% endif %}
                    </ul>
            </div>
        </form>



        <div class="group-modifier">
            <span tooltip="{% trans '# KPIs' %}">
            &nbsp;&nbsp;A (${ total_kpis_bygroup['A']}$)</span>

            <input type="number" class="form-control" value="${ get_weight_bygroup('A')}$" onchange="v.A_CHANGE= true;"
                   v-model="new_group_total['A']"/>
            <a href="javascript:void(0)" v-if="A_CHANGE" class="padding-left-5 padding-right-5"
               v-on:click="normalize_group_weight('A')">
                <i class="material-icons font-20">&#xE161;<!--save--></i>
            </a>

            &nbsp;&nbsp;B (${ total_kpis_bygroup['B']}$)
            <input type="number" class="form-control" value="${ get_weight_bygroup('B') }$" onchange="v.B_CHANGE= true;"
                   v-model="new_group_total['B']"/>
            <a href="javascript:void(0)" v-if="B_CHANGE" class="padding-left-5 padding-right-5"
               v-on:click="normalize_group_weight('B')">
                <i class="material-icons font-20">&#xE161;<!--save--></i>
            </a>

            &nbsp;&nbsp;C (${ total_kpis_bygroup['C']}$)
            <input type="number" class="form-control" value="${ get_weight_bygroup('C') }$" onchange="v.C_CHANGE= true;"
                   v-model="new_group_total['C']"/>
            <a href="javascript:void(0)" v-if="C_CHANGE" class="padding-left-5 padding-right-5"
               v-on:click="normalize_group_weight('C')">
                <i class="material-icons font-20">&#xE161;<!--save--></i>
            </a>

            &nbsp;&nbsp;G (${ total_kpis_bygroup['G']}$)
            <input type="number" class="form-control" value="${ get_weight_bygroup('G') }$" onchange="v.G_CHANGE= true;"
                   v-model="new_group_total['G']"/>
            <a href="javascript:void(0)" v-if="G_CHANGE" class="padding-left-5 padding-right-5"
               v-on:click="normalize_group_weight('G')">
                <i class="material-icons font-20">&#xE161;<!--save--></i>
            </a>

            &nbsp;&nbsp;O (${ total_kpis_bygroup['O']}$)
            <input type="number" class="form-control" value="${ get_weight_bygroup('O') }$" onchange="v.O_CHANGE= true;"
                   v-model="new_group_total['O']"/>
            <a href="javascript:void(0)" v-if="O_CHANGE" class="padding-left-5 padding-right-5"
               v-on:click="normalize_group_weight('O')">
                <i class="material-icons font-20">&#xE161;<!--save--></i>
            </a>
        </div>
    </div>

    <div class="toolbar-right">

{#        <form action="{% url 'teamperformance_export' %}" method="post" id="form-export-pdf-kpi"#}
{#              style="display: inline-block;margin: 0">  {% csrf_token %}#}
{#            <input type="hidden" name="user_id" value="{{ org_user.id }}" id="id_user_export">#}
{#            <input type="hidden" name="export" value="pdf">#}
{##}
{##}
{#        </form>#}


        <div id="modal-order-quarter-kpi" class="modal fade preview-modal" data-backdrop="" role="dialog"
             aria-labelledby="preview-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "List Order Quarter KPIs" %}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-size">
                            <tr>
                                <td class="format-col">
                                    {% trans 'Deadline' %}
                                </td>
                                <td class="format-col">
                                    {% trans 'Name' %}
                                </td>
                                <td class="format-col"><span>{% trans "Completion was:" %}</span></td>
                                <td class="format-col">
                                    {% trans 'Information' %}
                                </td>
                            </tr>
                            <tr v-for="due in quarter_list">
                                <div v-if="due.status!='DELETED'">
                                    <td>
                                        <div class="schedule_left_item schedule_black" style="cursor: pointer;"></div>
                                        <div class="schedule_date" v-if="due.id!=current_quarter.id">
                                            <span class="format-col">[{% trans "Others" %}] </span><span v-text="get_time(due.due_date,'dmy')"></span>
                                        </div>
                                        <div v-if="due.id==current_quarter.id"><span style="color: #5cb85c; font-weight: bold">[{% trans "Now" %}] </span><span v-text="get_time(due.due_date,'dmy')"></span></div>
                                        <div class="clear"></div>
                                    </td>
                                    <td>
                                        <h5>
                                            #${ due.id }$ ${due.quarter_name}$
                                        </h5>
                                    </td>
                                    <td>
                                        <p><span style="font-weight: bold; padding-left: 5px">${ due.completion }$%</span>
                                        </p>
                                    </td>
                                    <td>
                                        <a v-bind:href="get_url_order_quarter(due.id)">
                                            <button class="btn btn-success btn-mini "
                                                    v-if="due.id==current_quarter.id"> {% trans 'View' %} </button>
                                            <button class="btn btn-warning btn-mini "
                                                    v-if="due.id!=current_quarter.id"> {% trans 'View' %} </button>
                                        </a>
                                    </td>
                                </div>

                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>


        <!--<a class="btn btn-sm not-show-when-group" id="btn-kpi-history"-->
        <!--href="/performance/log/#{{ org_user.email }}">-->
        <!--<i class="fa fa-history" aria-hidden="true"></i> {% trans 'HISTORY' %}-->
        <!--</a>-->

        <!--<a class="btn btn-sm not-show-when-group" id="btn-kpi-clone"-->
           <!--href="{% url 'import_kpis_copy' %}#/?email={{ org_user.email }}"-->
           <!--target="_blank">-->
            <!--<i class="material-icons font-14">&#xE14D;&lt;!&ndash;content copy&ndash;&gt;</i> {% trans "Clone KPI" %}-->
        <!--</a>-->
{#        <a class="btn btn-sm not-show-when-group" id="btn-kpi-history" href="{% url 'import_kpis' %}"#}
{#           target="_blank">#}
{#            <i class="material-icons font-14">&#xE2C6;<!--file upload--></i></i> {% trans "KPIs" %}#}
{#        </a>#}
{#        {% if  is_superuser %}#}
{#            <a class="btn btn-sm not-show-when-group" id="btn-kpi-history" href="{% url 'import_users' %}"#}
{#               target="_blank">#}
{#                <i class="material-icons font-14">&#xE2C6;<!--file upload--></i> {% trans "Users" %}#}
{#            </a>#}
{#        {% endif %}#}

        {#        <a class="btn btn-sm btn-info"#}

        <div id="modal-export-kpi" tabindex="-1" class="modal fade preview-modal" role="dialog" aria-labelledby="preview-modal" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content m">
                    <div class="modal-header modal-delete-kpi" style="text-align: left">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons font-14">close</i>
                        </button>
                        <h4 class="modal-title my-modal-title" >{% trans "KPI Export Options" %}</h4>

                    </div>
                    <div class="modal-body my-modal-body">
                        <div class="radio">
                        	<input type="radio" name="optionExport" id="optionsExport1" value="q-m" :checked="option_export == 'q-m'" v-model="option_export">
						  	<label for="optionsExport1">
						    	{% trans 'Export quarter including months' %}
						  	</label>
						</div>
						<div class="radio">
							<input type="radio" name="optionExport" id="optionsExport2" value="q" :checked="option_export == 'q'"  v-model="option_export">
						  	<label for="optionsExport2">
						    	{% trans 'Export only quarter' %}
						  	</label>
						</div>
                    </div>
                    <div class="modal-footer modal-export-kpi">
                        <a class="btn btn-normal btn-cus-add btn-cus-5-7" @click="hide_modal('#modal-export-kpi')" target="_blank" v-bind:href="'/performance/report/#/?user_id={{ org_user.id }}&quarter_id=' + quarter_by_id.id + '&option=' + option_export">
                            {% trans "Export report" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <input id="search_user"
               type="text" class="input-search-staff bg-search-staff form-control not-show-when-group HOME_INP_SEARCH" placeholder="{% trans 'Find Staff' %}..."
               data-qtipopts='{ "position": { "my": "bottom right", "at": "top right" }}'
               v-model="query" v-on:keydown="search_user_limit();"
               />
        <i class="fa fa-search icon-search-emp HOME_INP_SEARCH" id="ico-search"></i>
        <i class="fa fa-times icon-search-emp HOME_ICN_DEL_SEARCH_TEXT" style="display:none" id="ico-clear" onclick="clear_search()"></i>
        <!--Search suggestion-->
        <div id="list_user_suggest" style="display: none;">
            <ul class="list-group mg-bt-0">
              <li class="list-group-item no-hover format-display pd-bt-0 HOME_LINK_DEL_SEARCH_HIS" v-if="storage_user.length > 0">
                  <span class="text-title">{% trans "History" %}</span>
                  <span class="clear-history" onclick="clear_history_user()">{% trans "Clear history" %}</span>
              </li>
              <li class="list-group-item format-display HOME_LINK_SEARCH_ITEM" v-for="u_history in storage_user" v-if="storage_user.length > 0"
                  @click="page_employee(u_history.id, -1)" class="history-user">
                  <span class="name">${ u_history.display_name }$</span>
                  <br/>
                  <span class="email">${ u_history.email }$</span>
              </li>

              <li class="list-group-item no-hover pd-bt-0" v-if="list_surbodinates.length > 0">
                  <span class="text-title">{% trans "Subordinator" %}</span>
              </li>
              <li class="list-group-item format-display HOME_LINK_SEARCH_ITEM" v-for="u in list_surbodinates_user_viewed" @click="page_employee(u.user, -1)"
                  >
                  <span class="name">${u.display_name}$</span>
                  <br/>
                  <span class="email">${u.email}$</span>
              </li>

              <li class="list-group-item no-hover pd-bt-0" v-if="'{{ user_viewed.profile.parent.id }}' > 0">
                  <span class="text-title">{% trans "Line Manager" %}</span>
              </li>
              <li class="list-group-item format-display pd-bt-10 HOME_LINK_SEARCH_ITEM" v-if="'{{ user_viewed.profile.parent.id }}' > 0" @click="page_employee({{user_viewed.profile.parent.user.id }}, -1)"
                  >
                  <span class="name">{{ user_viewed.profile.parent.display_name }}</span>
                  <br/>
                  <span class="email">{{ user_viewed.profile.parent.email }}</span>
              </li>
            </ul>
        </div>
        <!--No result-->
        <div class="list-group no-data">

          <a href="#" class="list-group-item notification">
            {% trans "No data found" %}
          </a>
        </div>
        <!--Result Search-->
        <div class="arrow-up" style="display:none;"></div>
        <div class="list-group" id="result_searched" style="display: none;">
          <a href="#" class="list-group-item HOME_LINK_SEARCH_ITEM" style="" v-for="(index, user) in list_user_searched" @click="page_employee(user.id, index)">
             <span class="name-personal" v-if="user.display_name.length>0">${ user.display_name }$</span>
             <span class="name-personal pd-10" v-if="user.display_name.length==0"> </span>
             <p class="position-personal">${ user.email }$ </p>
          </a>
        </div>
        <input style="display:none; background-image: url('{{ STATIC_URL }}img/icon/kpi-search.png');"
               id="input-filter" type="text"
               class="input-search-kpi bg-search-kpi"
               placeholder="{% trans 'Find KPI' %}..."/>
    </div>

    <div class="clear"></div>
</div>

<script type="text/javascript">
    Array.prototype.insert = function ( index, item ) {
        this.splice( index, 0, item );
    };
    {#if (localStorage.getItem('kpi-visit') != '1') {#}
    {#    setTimeout(function () {#}
    {#        introJs().start()#}
    {#    }, 1000);#}
    {#    localStorage.setItem('kpi-visit', '1');#}
    {#}#}
    {#if (localStorage.getItem('start-introjs') == '1') {#}
    {#    setTimeout(function () {#}
    {#        introJs().start()#}
    {#    }, 1000);#}
    {#    localStorage.setItem('start-introjs', '0');#}
    {#}#}
    $(function() {
        v.get_surbodinate();
        v.get_surbodinate_user_viewed();
        $( "#search_user" ).focus(function() {
           if(v.query.length == 0) {
               $("#list_user_suggest").show();
               $(".arrow-up").show();
           }else if(v.list_user_searched.length == 0){
               $(".no-data").show();
               $(".arrow-up").show();
           }
           else{
               $("#result_searched").show();
           }
        });
        $( "#search_user" ).focusout(function() {
            setTimeout(function () {
                $("#list_user_suggest").hide();
                $(".no-data").hide();
                $(".arrow-up").hide();
                $("#result_searched").hide();
            }, 200);
            setTimeout(function () {
                    $("#popup-progress").show();
            }, 1000)
           });
    });
    $('#edit-all-weight-modal').on('show.bs.modal',function () {
        $(this).focus();

    })
    function clear_history_user(){
        v.storage_user = [];
        var p = JSON.parse(localStorage.getItem('history_search_u'));
        var storage = JSON.parse(localStorage.getItem('history_search'));
        p.splice(p.indexOf('{{ user_request.email }}'),1);
        storage.splice(p.indexOf('{{ user_request.email }}'),1);
        localStorage.setItem('history_search', JSON.stringify(storage));
        localStorage.setItem('history_search_u', JSON.stringify(p));
        $(".history_user").hide();
    }
    function clear_search(){
        v.query = '';
        $("#ico-clear").hide();
        $("#ico-search").show()
        $(".no-data").hide();
        $("#result_searched").hide();
        setTimeout(function () {
        $("#search_user").focus();
        }, 100);
    }
    function regex_number(e){
        // alert(String.fromCharCode(e.keyCode));
        // var reg = /(\d+(\.\d+)?)/;
         if(e.keyCode == 37 || e.keyCode == 38 || e.keyCode == 39 || e.keyCode == 40 || e.keyCode == 8 || e.keyCode == 46 || e.keyCode == 110 || e.keyCode == 190) { // Left / Up / Right / Down Arrow, Backspace, Delete keys
            return;
        }
        if ((e.keyCode >= 96 && e.keyCode <= 105) || (e.keyCode >= 48 && e.keyCode <= 57)){
             return;
        }
        else{
            e.preventDefault();
        }
    }
    function show_modal_add_kpi(){
        $('#modal-add-kpi').modal();
    }
    function show_modal_categories(){
        $('#modal-categories').modal();
    }
</script>