{% load kpi inplace_edit i18n humanize %}

<div v-for="group in list_group" v-if="group.category == '{{category_key}}'" class=" kpi-group-wrapper"v-cloak>


    <div v-if="group.name">
        <div :data-group-header-slug="group.slug">
            {% include 'performance/bsc/worksheet/modules/row_inline_heading_js.html' %}
        </div>
        <div  :data-group-kpis="group.slug" style="display: none;">
            {% include 'performance/bsc/worksheet/modules/kpis-in-group.html' %}

        </div>
    </div>

    <div v-else>
        <div style="display: none">
        {% include 'performance/bsc/worksheet/modules/row_inline_heading_js.html' %}
        </div>
        <div>
            {% include 'performance/bsc/worksheet/modules/kpis-in-group.html' %}
        </div>
    </div>

</div>

