{% load i18n %}
<style>

</style>
<div class="kpi-rating"
     style=" {% if has_child %}margin-left: 20px;{% endif %}" data-id="{{ kpi.id }}">



    <div class="weighting_block" class="text-right" style="display: inline;">
            {% if not parent and level == 1 %}
        <span class="weighting_score"
                {#               data-toggle="tooltip" data-placement="bottom"#}
              title="${ kpi_list[{{ kpi.id }}].weight}$/${total_weight[{{ kpi.user_id }}] }$ ~= ${ kpi_list[{{ kpi.id }}].weight*100/total_weight[{{ kpi.user_id }}] | weightDisplay }$"
              style="display: inline-block; text-align: center">
         {% trans 'Weighting score' %}
                <span><strong>(${ kpi_list[{{ kpi.id }}].weight*100/total_weight[{{ kpi.user_id }}]| weightDisplay }$)</strong></span>
                </span>

                {% if kpi.weight > 0 %}
                    <strong>
                        <input type="number" step="any" class="form-control kpi-weight-form observing_display"
                               style="display: inline-block;width: 58px; height:28px; padding: 2px 3px; text-align: center"
                               title="{% trans 'Weighting score' %}"
                               :disabled="!kpi_list[{{ kpi.id }}].enable_edit"
                               v-on:focus="cache_weight=kpi_list[{{ kpi.id }}].weight"
                               v-model="kpi_list[{{ kpi.id }}].weight"
                               v-on:change="update_kpi(kpi_list[{{ kpi.id }}])"/>
                    </strong>
                {% endif %}
{#            {% else %}#}
{#                <span><strong>(${ kpi_list[{{ kpi.id }}].weight*100/get_total_weight(kpi_list[{{ kpi.id }}].refer_to)| weightDisplay }$)</strong></span>#}
{#                </span>#}
            {% endif %}
    </div>



    {#    <div class="text-right">{% trans 'Archivable score' %}: <strong#}
    {#            class="kpi-archivable-score-value">{{ kpi.archivable_score }}</strong></div>#}


    {# Hong remove this at 2017-07-04 #}
    {#    <div>#}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star10" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="10"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star10" title="{% trans 'Archivable score' %}: 10"#}
    {#               data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}10 star{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star9" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="9"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star9" title="{% trans 'Archivable score' %}: 9" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}9 star{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star8" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="8"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star8" title="{% trans 'Archivable score' %}: 8" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}8 star{% endblocktrans %}</label>#}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star7" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="7"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star7" title="{% trans 'Archivable score' %}: 7" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}7 star{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star6" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="6"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star6" title="{% trans 'Archivable score' %}: 6" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}6 star{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star5" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="5"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star5" title="{% trans 'Archivable score' %}: 5" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}5 stars{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star4" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="4"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star4" title="{% trans 'Archivable score' %}: 4" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}4 stars{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star3" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="3"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star3" title="{% trans 'Archivable score' %}: 3" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}3 stars{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star2" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="2"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star2" title="{% trans 'Archivable score' %}: 2" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}2 stars{% endblocktrans %}</label>#}
    {##}
    {#        <input type="radio" id="{{ kpi.id }}-{{ random_num }}-star1" name="{{ kpi.id }}-{{ random_num }}-rating"#}
    {#               value="1"/>#}
    {#        <label for="{{ kpi.id }}-{{ random_num }}-star1" title="{% trans 'Archivable score' %}: 1" data-toggle="tooltip"#}
    {#               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>#}
    {#            {% blocktrans %}1 stars{% endblocktrans %}</label>#}
    {##}
    {#        <script type="text/javascript">#}
    {#            $(function () {#}
    {#                {% if kpi.archivable_score %}#}
    {#                    $('#{{kpi.id}}-{{random_num}}-star{{ kpi.archivable_score }}').prop('checked', true);#}
    {#                {% endif %}#}
    {#            });#}
    {#        </script>#}
    {##}
    {#    </div>#}
</div>
