{% load i18n humanize %}


<!-- Tính năng approve KPI này không hữu dụng nữa, users ít sử dụng, mình khó sử dụng, không quản lý được
vì vậy tạm thời ẩn đi và sẽ bật lại khi họp lại về vấn đề này


<div id="approve_kpi_{{ kpi.id }}" style="display: inline-block">

    {% if kpi.approval_status == 'approved' %}
		{# show approved symbol for all users #}
        <i style="color: green" class="glyphicon glyphicon-ok-circle"></i>
    {% else %}

        {% if kpi.approval_status == 'rejected' %}
        	{# show rejected symbol for all users #}
            <a  style="color:red;" href="{% url 'kpi-comment' kpi.unique_key %}?id={{ kpi.id }}&b3=1"
               data-toggle="modal"
               data-target="#kpicoment-modal"><i
                    class="glyphicon glyphicon-remove-circle"
                    ></i>{% trans 'Rejected' %}</a>
        {% endif %}
        
		{% if kpi.approval_status == 'finished' %}
			{% if user.profile.org_super_permission %}
				{# show  reject & approve buttons for super users when status is finished #}
				<a href="javascript:void(0)" onclick="approve_kpi({{ kpi.id }},'approved')"  style="color: green"><i
                        class="glyphicon glyphicon-ok-circle"></i>{% trans 'Approve' %}</a>
                
                        
                <a href="#" onclick="show_modal_error_comment('{{ kpi.id }}', '{{ kpi.unique_key }}', '{{ kpi.name }}'); return false;" ><i
                        class="glyphicon glyphicon-remove-circle"  style="color: red"></i>{% trans 'Reject' %}</a>
			{% endif %}
			
			{# show pending symbol #}
			<i style="color: green" class="glyphicon glyphicon-time"></i>{% trans 'Pending' %}
			
		{% else %}
			{# show finish button for all user when status is not finished #}
			<a href="javascript:void(0)"  onclick="validate_finish_kpi('{{ kpi.id }}');" ><i
                        class="glyphicon glyphicon-floppy-saved"></i>{% trans 'Finish' %}</a>
		{% endif %}
		
    {% endif %}

</div-->

