{% load i18n kpi user_tags %}

<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <form action="." method="get" class="" >
            <div class="input-group">
              <input id="input-search" type="text" name="q" value="{{ search_terms }}" class="form-control" placeholder="{% trans "Search for" %}..." oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{% trans "This field cannot be empty" %}')" required>
              <span class="input-group-btn">
                <button class="btn btn-info"> <i class="fa fa-search"></i> {% trans "Search" %}</button>
              </span>
            </div><!-- /input-group -->
        </form>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-right">
          <a target="_blank" v-bind:href="'/performance/report/#/?quarter_id=' + quarter_by_id.id + '&q={{ search_terms }}&export_search=1'" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                {% trans "Export Excel" %}
          </a>
    </div>
</div>

