{% load kpi  i18n humanize %}
<span class="kpi-config" style="margin-right: 10px;cursor:pointer">
    <i class="fa fa-cog dropdown-toggle KPI_BTN_CONF" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top:3px;"></i>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="kpi-config-menu">

            {#  Nếu chưa assign xuống người khác thì không add KPI con được #}
            {#  TODO: chuyển thành javascript / angular để check điều kiện này #}
            <li v-if="kpi.weight != 0 && getUserById(kpi.refer_to) != kpi.user" class="KPI_LINK_ADD_KPI">
                <a href="javascript:void(0)" onclick="add_kpi(${ kpi.id }$, this)"
                   class="observing_display KPI_LINK_ADD_KPI"> <i
                        class="glyphicon glyphicon-plus KPI_LINK_ADD_KPI"></i> {% trans 'Add sub-KPI' %}</a>
            </li>

            <li v-if="kpi.weight != 0 && getUserById(kpi.refer_to) == kpi.user" >
                <a href="javascript:void(0)">
                    <i class="glyphicon glyphicon-ban-circle"> </i> {% trans 'Please change owner before creating child' %}
                </a>
            </li>


			<li v-if="!kpi.parent && !kpi.refer_to && !kpi.cascaded_from && kpi.weight > 0" class="KPI_LINK_ALIGN_KPI">
				<a class="observing_display KPI_LINK_ALIGN_KPI"
                        v-on:click="init_data_align_up_kpi(kpi.user, kpi.id, kpi.bsc_category)">
                	<i class="fa fa-level-up KPI_LINK_ALIGN_KPI"></i> {% trans 'Align KPI' %}
            	</a>
            </li>

            <li v-if="!kpi.parent && kpi.refer_to && kpi.cascaded_from" class="KPI_LINK_ULINK_KPI">
				<a class="observing_display KPI_LINK_ULINK_KPI"
                        v-on:click="unlink_align_up_kpi(kpi.user, kpi.id, kpi.bsc_category, $event)">
                	<i class="fa fa-chain-broken KPI_LINK_ULINK_KPI"></i> {% trans 'Unlink KPI' %}
            	</a>
            </li>

            <li class="KPI_LINK_DEL_KPI"><a class="observing_display KPI_LINK_DEL_KPI"
                    :class="{ 'disabled': kpi['enable_delete'] == false }"
                    {#                  :disabled="true"#}
                    onclick="remove_kpi('${ kpi.id }$', '${ kpi.unique_key }$', this)">
                <i class="glyphicon glyphicon-remove KPI_LINK_DEL_KPI"></i>{% trans 'Delete KPI' %}
            </a></li>

            <li role="separator" class="divider"></li>

            <li>
                <a href="javascript:void(0)"
                   class="observing_display" v-bind:class="[kpi.weight == 0?'KPI_LINK_DELAY_KPI':'KPI_LINK_ACTIVATE_KPI']"
                   onclick="toggle_weight_kpi('${ kpi.id }$', '${ kpi.weight }$', this)">
                    <i class="fa fa-toggle-on" aria-hidden="true"></i>

                        <span v-if="kpi.weight == 0">
                        {% trans 'Activate this KPI' %}
                        </span>
                        <span v-else>
                        {% trans 'Delay this KPI' %}
                        </span>
                </a>
            </li>


            <li role="separator" class="divider"></li>

            <li v-if="kpi.weight != 0" class="KPI_LINK_REORDER_KPI">
                <a href="javascript:void(0)"
                   class="observing_display KPI_LINK_REORDER_KPI"
                   onclick="re_order(${ kpi.id }$,  $(this))"><i
                    class="glyphicon glyphicon-sort KPI_LINK_REORDER_KPI"></i> {% trans 'Re-order' %}</a>
            </li>

            <li class="KPI_LINK_SEARCH_KPI">
                <a :href="'/performance/search/?q=' + kpi.name" target="_blank" class="KPI_LINK_SEARCH_KPI">
                    <i  class="glyphicon glyphicon-search KPI_LINK_SEARCH_KPI"></i>
                    {% trans 'Search KPI' %}
                </a>
            </li>
            <li role="separator" class="divider"></li>

            <li class="KPI_LINK_REFRESH_KPI"><a href="javascript:void(0)" id="kpi_reload${ kpi.id }$" class="KPI_LINK_REFRESH_KPI"
                   onclick="$.fn.reload_kpi_anchor.call(this)"><i
                    class="	glyphicon glyphicon-refresh KPI_LINK_REFRESH_KPI"></i> {% trans 'Reload this KPI' %}</a>
            </li>

            <li v-if="kpi.weight != 0" class="KPI_LINK_CAL">
                <a href="javascript:void(0)" class="KPI_LINK_CAL"
                   onclick="calculate_kpi_anchor(${ kpi.id }$ , $(this))">
                    <i class="fa fa-cube KPI_LINK_CAL"></i> {% trans 'Calculate Score' %}
                </a>
            </li>


            <li v-if="kpi.weight != 0" class="KPI_LINK_CHANGE_CTG">
                <a href="javascript:void(0)" v-on:click="change_category(kpi.id)" class="KPI_LINK_CHANGE_CTG"><i
                    class="fa fa-pencil KPI_LINK_CHANGE_CTG"></i> {% trans 'Change Category' %}</a>
            </li>

            <li class="KPI_LINK_COPY_DATA"><a href="javascript:void(0)" class="KPI_LINK_COPY_DATA"
                   onclick="copy_data_to_children_anchor(${ kpi.id }$, $(this))"><i
                    class="glyphicon glyphicon-paste KPI_LINK_COPY_DATA"></i> {% trans 'Copy data to children' %}</a></li>

                {#                Mobifone only#}
            <li v-if="organization.id == 2 && kpi.weight != 0"><a href="javascript:void(0)"
                   v-on:click="set_month_target_from_last_quarter_three_months_result(kpi.id, kpi.user, kpi.unique_key,'{{ last_quarter.id }}')"><i
                    class="glyphicon glyphicon-step-backward"></i>{% trans 'Set months target from average last three months results' %}</a></li>

            <li v-if="kpi.weight != 0 && kpi.has_child">
                <a href="javascript:void(0)" v-on:click="get_children_v2(kpi.id)"><i
                    class="glyphicon glyphicon-align-left"></i> {% trans 'Sub-KPIs' %}
                </a>
            </li>

            <li role="separator" class="divider"></li>

            <li class="KPI_LINK_TODO"><a href="{% url 'todo-kpi'  %}?unique_key=${ kpi.unique_key }$" target="_blank"><i
                    class="glyphicon glyphicon-th-list KPI_LINK_TODO"></i> {% trans 'Tasks' %}</a>
            </li>

            <li class="KPI_LINK_TODO"><a href="/performance/kpi/ecal/${ kpi.unique_key }$" target="_blank"><i
                    class="glyphicon glyphicon-th KPI_LINK_TODO"></i> {% trans 'KPI Data' %}</a>
            </li>

            <li role="separator" class="divider"></li>

            <li v-if="kpi.weight != 0" class="KPI_LINK_UCODE">
                <a href="#" v-on:click="show_unique_code_modal(kpi)" class="KPI_LINK_UCODE">
                    <i class="fa fa-code-fork KPI_LINK_UCODE" aria-hidden="true" style="font-size: 17px;"></i>

                    {% trans "Unique Code" %}</a>
            </li>

            <li role="separator" class="divider"></li>

            <li class="KPI_LINK"><a href="javascript:void(0)" class="KPI_LINK"
                   onclick="return false;"
                   data-kpi-unique-key="${ kpi.unique_key }$"
                   data-toggle="modal" data-target="#modal-quarter-selections">
                <i class="fa fa-history KPI_LINK" aria-hidden="true"></i>  {% trans 'KPI History' %}
            </a></li>
        </ul>
</span>

