{% load i18n inplace_edit kpi user_tags %}
<style>
.user-avatar {
    text-align:center;
    background-position: unset;
    background-size: unset;
    padding-top: unset;
}
.user-avatar>img{
    width:70px;
    height:70px;
    object-fit: cover;
}
</style>
<div v-cloak class="kpi-snapshot">
    <div id="company-kpi-snapshot" class="clearfix">
        <div class="container-fluid not-show-when-group">
            <div id="company-performance-score"
                 class="col-sm-4 col-table-4 kpi-panel text-center">
                <div class="kpi-panel-body">
                    <div class="kpi-panel-header">{% trans 'company performance' %}</div>
                    <div class="container-fluid reponsive-sm">
                        <div class="rows-table-sm text-center">
                            <div class="col-sm-6 col-table-6">
                                <div class="rows-table-sm">
                                    <div class="logo padding-top-15">
                                        <img alt="{{ target_organization.name }}"
                                                         src="{{ target_organization.get_logo }}"
                                                         title="{{ target_organization.name }}" />
                                    </div>
                                </div>
                                <div class="bt-mission-box">
                                    <button class="btn btn-normal btn-fullwidth btn-cus-5-7 HOME_BTN_VISION" id="btn-vision-misson" data-toggle="modal" data-target="#modal-vision-mission">{% trans "Vision & Mission" %}</button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-table-6" id="performance-quater">
                                <div>
                                    <span class="com-per-title">{% trans "Performance" %} - {% trans "Quarter" %}
    {#                            {% if is_superuser %}#}
                                        <span>${current_quarter.quarter}$</span>
    {#                                    <span v-if="quarter_by_id.quarter == null">${current_quarter.quarter}$</span>${quarter_by_id.quarter}$#}
    {#                            {% else %}#}
    {#                                <span id="quarter-edit" style="color:#659B34; font-weight: bold;">#}
    {#                                       {% inplace_edit "quarter.quarter" auto_height=1, auto_width=1 %}#}
    {#                                </span>#}
    {#                            {% endif %}#}
                                    </span><br>
                                    <span class="com-per-pecent">
                                        <span id="company-performance-quarter">${ company_params.performance.kpi_percent|scoreDisplay }$</span><span class="per-com-unit"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="per-border border-top" />
                    <div class="container-fluid text-left due-box reponsive-sm">
                        <div class="col-sm-6" id="">
                            <div>{% trans 'Due' %}</div>
                            <div>{% trans "Allow review" %}</div>
                        </div>
                        <div class="col-sm-6 due-date-color">
                            <div>${quarter_by_id.due_date | dateFormat}$</div>
                            <div>
                                    {% if is_superuser %}
                                            <select v-model="organization.monthly_review_lock" class="HOME_DDL_ALLOW_MONTH"
                                                    @change="update_current_organization()">
                                                <option value="allow_all">{% trans "All months" %}</option>
                                                <option value="1">${ month_1_name }$</option>
                                                <option value="2">${ month_2_name }$</option>
                                                <option value="3">${ month_3_name }$</option>
                                            </select>
                                        {% else %}
                                        <span v-if="organization.monthly_review_lock == 1"> ${ month_1_name }$</span>
                                        <span v-if="organization.monthly_review_lock == 2"> ${ month_2_name }$</span>
                                        <span v-if="organization.monthly_review_lock == 3"> ${ month_3_name }$</span>
                                        <span v-if="organization.monthly_review_lock == 'allow_all'">{% trans "All months" %}</span>
                                        {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="table-per-com-result">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>${ month_1_name }$</th>
                                    <th>${ month_2_name }$</th>
                                    <th>${ month_3_name }$</th>
                                    {#                            <td> {% trans "Quarter" %}#}
                                    {#                                <a href="#" data-toggle="modal"#}
                                    {#                                   data-target="#kpiscore-help">#}
                                    {#                                    <i class="fa fa-question-circle-o fa-1" aria-hidden="true"></i></a>#}
                                    {##}
                                    {#                            </td>#}

                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <span class="">${ company_params.performance.month_1_score|scoreDisplay }$</span>
                                </td>
                                <td>
                                    <span class="">${ company_params.performance.month_2_score|scoreDisplay }$</span>
                                </td>
                                <td>
                                    <span class="">${ company_params.performance.month_3_score|scoreDisplay }$</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="company-vision-mission-wrapper" data-step="1" data-intro="Test"
                 class="col-sm-8 col-table-8 kpi-panel">
                <div class="kpi-panel-body margin-left-15">
                    <div class="kpi-panel-header">{% trans 'Individual performance' %}</div>
                    <div class="container-fluid individual-top rows-table-sm reponsive-sm">
                        <div class="col-sm-8 col-table-8">
                            <div class="col-sm-2 no-padding">
                                <div class="user-avatar">
                                    <img :src="employee_performance.profile.get_avatar" class="img-circle">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <span id="emp_name" class="display-block">${ employee_performance.profile.display_name }$</span>
                                <span id="emp_email" class="display-block font-12">${ employee_performance.email }$</span>
                                <span id="emp_title" class="display-block font-12">${ employee_performance.profile.title }$</span>
                                {% if user_viewed.profile.parent_id > 0 %}
                                    <span class="display-block padding-top-15">{% trans "Manager" %}:&nbsp;
                                        <a class="HOME_LINK_MANAGER" href="{% url 'kpi_editor_emp' user_viewed.profile.parent.user_id %}" target="_blank">
                                            {{ report_to_user_display_name }}
                                        </a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4 col-table-4 text-center">

                                <div>
                                    <span class="com-per-title">{% trans "Performance" %} - {% trans "Quarter" %}
    {#                            {% if is_superuser %}#}
                                        <span>${current_quarter.quarter}$</span>
    {#                                    <span v-if="quarter_by_id.quarter == null">${current_quarter.quarter}$</span>${quarter_by_id.quarter}$#}
    {#                            {% else %}#}
    {#                                <span id="quarter-edit" style="color:#659B34; font-weight: bold;">#}
    {#                                       {% inplace_edit "quarter.quarter" auto_height=1, auto_width=1 %}#}
    {#                                </span>#}
    {#                            {% endif %}#}
                                    </span><br>
                                    <span class="com-per-pecent">
                                        <span id="company-performance-quarter">${ employee_performance.kpi_percent|scoreDisplay }$</span><span class="per-com-unit"></span>
                                    </span>
                                </div>
                        </div>
                    </div>
                    <div class="container-fluid rows-table-sm reponsive-sm">
                        <div class="col-sm-8 col-table-8 reponsive-table">
                            <table class="table table-bordered table-per-result">
                                <thead>
                                    <tr>
                                        <th class="text-left">{% trans "Type of point" %}</th>
                                        <th>${ month_1_name }$</th>
                                        <th>${ month_2_name }$</th>
                                        <th>${ month_3_name }$</th>
                                        <th> {% trans "Quarter" %}</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td class="head-column text-left">
                                        {% trans "Performance Scores" %}
                                    </td>
                                    <td>
                                        <span class="HOME_ICN_BACKUP_KPI">
                                            ${ employee_performance.month_1_score|scoreDisplay }$
                                           <a class="HOME_ICN_BACKUP_KPI" href="#" v-on:click="show_backup_kpi"
                                               v-show="employee_performance.month_1_backup">
{#                                            <i class="fa fa-link fa-1" aria-hidden="true" title="{% trans 'Backup result' %}"></i>#}
                                               <i class="material-icons font-20 HOME_ICN_BACKUP_KPI" title="{% trans 'Backup result' %}">&#xE1DB;<!--storage--></i>
                                           </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="">${ employee_performance.month_2_score|scoreDisplay }$
                                            <a href="#" class="HOME_ICN_BACKUP_KPI" v-on:click="show_backup_kpi"
                                               v-show=" employee_performance.month_2_backup">
{#                                            <i class="fa fa-link fa-1" aria-hidden="true" title="{% trans 'Backup result' %}"></i>#}
                                                <i class="material-icons font-20 HOME_ICN_BACKUP_KPI" title="{% trans 'Backup result' %}">&#xE1DB;<!--storage--></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="">
                                            ${ employee_performance.month_3_score|scoreDisplay }$
                                            <a class="HOME_ICN_BACKUP_KPI" href="#" v-on:click="show_backup_kpi"
                                               v-show=" employee_performance.month_3_backup">
    {#                                            <i class="fa fa-link fa-1" aria-hidden="true" title="{% trans 'Backup result' %}"></i>#}
                                                <i class="material-icons font-20 HOME_ICN_BACKUP_KPI" title="{% trans 'Backup result' %}">&#xE1DB;<!--storage--></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td rowspan="3">
                                    	<div>
                                    		<span style="font-size: 12px">{% trans 'Avg. 3 months' %}</span><br/>
                                    		<a href="#" data-toggle="modal" data-target="#kpiscore-avg-help">
                                    			<span class="q-score HOME_LINK_PERFORMANCE_AVG"> ${ average_3_month(employee_performance)|scoreDisplay }$ </span>
                                    		</a>
                                    	</div>
                                    	
                                    	<div style="margin-top: 15px">
                                    		<span style="font-size: 12px">{% trans 'By KPIs' %}</span><br/>
                                    		<a href="#" data-toggle="modal" data-target="#kpiscore-help">
                                    			<span class="q-score HOME_LINK_PERFORMANCE_KPI"> ${ employee_performance.kpi_percent|scoreDisplay }$</span>
                                    		</a>
                                    	</div>
                                    </td>
                                </tr>
                                <tr v-if="organization.exscore">
                                    <td class="head-column text-left">
                                        {% trans "Extra Scores" %}
                                        <a class="HOME_ICN_ETS" href="#" id="bonus-toggle" data-toggle="modal" data-target="#bonus-modal">
                                            <i class="material-icons font-20 HOME_ICN_ETS">&#xE02E;<!--library_add--></i>
                                        </a>
                                    </td>

                                    <td v-for="(key,score) in exscore_score | orderBy 'key'" v-if="key != 'current'">
                                        <span class="${ score.failed ? score.signal : '' }$">
                                            ${ exscore_score[key].score|scoreDisplay }$
                                        </span>
                                    </td>
                                </tr>
                                <tr v-if="organization.exscore">
                                    <td class="head-column text-left">
                                        {% trans "Total" %}
                                    </td>
                                    <td>
                                        <span>
                                            ${ employee_performance.month_1_score + exscore_score['1'].score|scoreDisplay }$
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            ${ employee_performance.month_2_score + exscore_score['2'].score|scoreDisplay }$
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            ${ employee_performance.month_3_score + exscore_score['3'].score|scoreDisplay }$
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-4 col-table-4 feature-box text-center">
                            <div class="rows-table-sm">
                                <div class="col-table-6">
                                    <a class="HOME_LINK_SUBORDINATE" href="{{ user_viewed.profile.get_subordinate_kpi_url }}"
                                       data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                       data-placement="top"
                                       id="emp_team_review_link" title='{% trans "My team" %}'>
                                                <i class="material-icons HOME_LINK_SUBORDINATE">&#xE7FB;<!--people--></i>
                                            <p>{% trans "Subordinator" %}</p>
                                    </a>
                                </div>
                                <div class="col-table-6">
                                    {% if not user_viewed.profile.is_ceo %}
                                        <a class="HOME_LINK_PERSONAL_PERFORMANCE" href="{% url 'sub_company_strategy_map_detail_v2' org_user.id %}"
                                            target="_blank" title='{% trans "Individual Performance Object" %}'>
                                            <i class="material-icons HOME_LINK_PERSONAL_PERFORMANCE">&#xE55B;<!--map--></i>
                                            <p>{% trans "Individual Performance Object" %}</p>
                                        </a>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="rows-table-sm">
                                <div class="col-table-4">
                                    <a href="{% url 'people' %}?user_id={{ user_viewed.id }}" id="emp_team_review_link"
                                       title='{% trans "People " %}'
                                       data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}' data-placement="top">
                                            <i class="fa fa-sitemap pd-bt-5 HOME_LINK_PEOPLE"></i>
                                        <p>{% trans "People" %}</p>
                                    </a>
                                </div>
                                <div class="col-table-4">
                                    <a href="{% url 'todo-lists' %}" title='Công việc'>
                                        <i class="material-icons">playlist_add_check</i>
                                        <p>Công việc</p>
                                    </a>
                                </div>
                                <div class="col-table-4" v-if="organization.enable_action_plan">
{#                                    <a href="{% url 'people' %}?user_id={{ user_viewed.id }}" id="emp_team_review_link"#}
{#                                       title='{% trans "People " %}'#}
{#                                       data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}' data-placement="top">#}
{#                                            <i class="fa fa-sitemap pd-bt-5"></i>#}
{#                                        <p>{% trans "People" %}</p>#}
{#                                    </a>#}
                                    <button class="btn btn-link HOME_LINK_ACTION_PLAN"
                                         title="{% trans 'Action plan'%}"
                                         v-on:click="showModal_kpi_action_plan()" >
                                        <i class="material-icons HOME_LINK_ACTION_PLAN">
                                        assignment
                                        </i>
                                          <p>{% trans 'Action plan' %}</p>
{#                                        ${evidences[kpi.id][1]}$#}
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div v-if="organization.exscore" id="bonus-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="bonus-modal-header" style="display: none">
                    <div class="headers" style="display: flex; justify-content: center">
                        <h4 class="modal-title">{% trans "SELECT MONTH" %} </h4>
                        <select class="HOME_DDL_ETS_MONTH" id="exscore-select-control" v-model="exscore_score.current">
                            <option value="---" selected>----</option>
                            <option value="1">${ month_1_name }$</option>
                            <option value="2">${ month_2_name }$</option>
                            <option value="3">${ month_3_name }$</option>
                        </select>
                    </div>
                    <h4 class="modal-title">{% trans "Total" %}: ${ exscore_score[exscore_score.current].score|scoreDisplay }$
                        (KPI: ${ employee_performance['month_' + exscore_score.current + '_score']|scoreDisplay }$)</h4>
                </div>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 20px;">
                    <bonus month="1"></bonus>
                    <bonus month="2"></bonus>
                    <bonus month="3"></bonus>
                    <div id="bonus-ready">
                        <h3>{% trans "Loading" %}</h3>
                        <img src="{{ STATIC_URL }}img/gears.gif"/>
                    </div>
                </div>
            </div>

            {#                <button class="btn-add" style="background: darkcyan; display: block; margin: 0 auto;" @click="updateExscore(exscore_score.current)">Chấm điểm xong</button>#}

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>

    </div>
</div>

{% include "performance/bsc/worksheet/modals/vision_mission.html" %}

