{% load kpi  i18n humanize %}
{% load allow_delay_kpi %}
<span class="kpi-config" style="margin-right: 10px;cursor:pointer">
    <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top:3px;"></i>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="kpi-config-menu">
            {% if kpi.weight != 0 %}
                {% if kpi.user != kpi.refer_to.user and kpi.weight != 0 %}
                    {#                                        Nếu chưa assign xuống người khác thì không add KPI con được #}
                    {#                                        TODO: chuyển thành javascript / angular để check điều kiện này #}

                    <li class="KPI_LINK_ADD_KPI">
                        <a href="javascript:void(0)" onclick="add_kpi('{{ kpi.id }}', this)"
                           class="observing_display"> <i
                                class="glyphicon glyphicon-plus"></i> {% trans 'Add sub-KPI' %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="javascript:void(0)"> <i
                                class="glyphicon glyphicon-ban-circle"> </i> {% trans 'Please change owner before creating child' %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% with full_reload=True %}
                {% include "performance/bsc/worksheet/modules/duplicate.html" %}
            {% endwith %}
			{% if not kpi.parent_id and not kpi.refer_to_id and not kpi.cascaded_from_id and kpi.weight > 0 %}
			<li class="KPI_LINK_ALIGN_KPI">
				<a class="observing_display"
                        v-on:click="init_data_align_up_kpi('{{ kpi.user_id }}', '{{ kpi.id }}', '{{ kpi.bsc_category }}')">
                	<i class="fa fa-level-up"></i> {% trans 'Align KPI' %}
            	</a>
            </li>
            {% elif not kpi.parent_id and kpi.refer_to_id and kpi.cascaded_from_id %}
                <li class="KPI_LINK_ULINK_KPI">
				<a class="observing_display"
                        v-on:click="unlink_align_up_kpi('{{ kpi.user_id }}', '{{ kpi.id }}', '{{ kpi.bsc_category }}', $event)">
                	<i class="fa fa-chain-broken"></i> {% trans 'Unlink KPI' %}
            	</a>
            </li>
			{% endif %}

            <li class="KPI_LINK_DEL_KPI"><a
                    class="observing_display"
                    :class="{ 'disabled': kpi_list[{{ kpi.id }}]['enable_delete'] == false }"
                    {#                  :disabled="true"#}
                    onclick="remove_kpi('{{ kpi.id }}', '{{ kpi.unique_key }}', this)">
                <i class="glyphicon glyphicon-remove"></i>{% trans 'Delete KPI' %}
            </a></li>
            {% delay_kpi kpi user as allow_delay %}
            {% if allow_delay %}
            <li role="separator" class="divider"></li>
            <li v-bind:class="[kpi.weight == 0?'KPI_LINK_DELAY_KPI':'KPI_LINK_ACTIVATE_KPI']">
                <a href="javascript:void(0)"
                   class="observing_display"
                   onclick="toggle_weight_kpi('{{ kpi.id }}', '{{ kpi.weight }}', this)">
                    <i class="fa fa-toggle-on" aria-hidden="true"></i>
                    {% if kpi.weight == 0 %}
                        {% trans 'Activate this KPI' %}
                    {% else %}
                        {% trans 'Delay this KPI' %}
                    {% endif %}

                </a>
            </li>
            {% endif %}
{#            <li>#}
{#                <a href="javascript:void(0)"#}
{#                   class="observing_display"#}
{#                   onclick="toggle_weight_kpi('{{ kpi.id }}', this, true)">#}
{#                    <i class="fa fa-toggle-on" aria-hidden="true"></i>#}
{#                    {% trans 'Delay/Active this KPI and all childrens' %}#}
{#                </a>#}
{#            </li>#}
            <li role="separator" class="divider"></li>
            {% if kpi.weight != 0 %}
            <li class="KPI_LINK_REORDER_KPI"><a href="javascript:void(0)"
                   class="observing_display "
                   onclick="re_order({{ kpi.id }},  $(this))"><i
                    class="glyphicon glyphicon-sort"></i> {% trans 'Re-order' %}</a></li>
{#            <li><a href="javascript:void(0)" onclick="export_cascaded_kpis({{ kpi.id }})"><i#}
{#                    class="glyphicons glyphicons-file-export"></i> {% trans 'Export cascaded kpis' %}</a></li>#}
            {% endif %}
            <li class="KPI_LINK_SEARCH_KPI">
                <a :href="'/performance/search/?q=' + kpi_list[{{ kpi.id }}].name" target="_blank">
                    <i  class="glyphicon glyphicon-search"></i>
                    {% trans 'Search KPI' %}
                </a>
            </li>
            <li role="separator" class="divider"></li>

            <li class="KPI_LINK_REFRESH_KPI"><a href="javascript:void(0)" id="kpi_reload{{ kpi.id }}"
                   onclick="$.fn.reload_kpi_anchor.call(this)"><i
                    class="	glyphicon glyphicon-refresh"></i> {% trans 'Reload this KPI' %}</a></li>

            {% if kpi.weight != 0 %}
                <li class="KPI_LINK_CAL">
                    <a href="javascript:void(0)"
                       onclick="calculate_kpi_anchor({{ kpi.id }} , $(this))">
                    <i class="fa fa-cube"></i> {% trans 'Calculate Score' %}
                </a>
                </li>
            {% endif %}
        {% if kpi.weight != 0 %}
            <li class="KPI_LINK_CHANGE_CTG"><a href="javascript:void(0)" v-on:click="change_category({{ kpi.id }})"><i
                    class="fa fa-pencil"></i> {% trans 'Change Category' %}</a></li>
        {% endif %}
            <li><a href="javascript:void(0)"
                   onclick="copy_data_to_children_anchor( {{ kpi.id }} , $(this))"><i
                    class="glyphicon glyphicon-paste"></i> {% trans 'Copy data to children' %}</a></li>

            {% if target_organization.id == 2 and kpi.weight != 0 %}
                {#                Mobifone only#}
                <li><a href="javascript:void(0)"
                       v-on:click="set_month_target_from_last_quarter_three_months_result('{{ kpi.id }}','{{ kpi.user.id }}','{{ kpi.unique_key }}','{{ last_quarter.id }}')"><i
                        class="glyphicon glyphicon-step-backward"></i>{% trans 'Set months target from average last three months results' %}</a></li>
            {% endif %}
            {% if  kpi.weight != 0 and kpi.has_child %}
                <li>
{#                    <a href="javascript:void(0)" v-on:click="get_children({{ kpi.id }})"><i#}
                    <a href="javascript:void(0)" v-on:click="get_children_v2({{ kpi.id }})"><i
                        class="glyphicon glyphicon-align-left"></i> {% trans 'Sub-KPIs' %}
                    </a>
                </li>
            {% endif %}

            {% include "performance/bsc/worksheet/modules/ecal-button.html" %}

            <li role="separator" class="divider"></li>
            {% if kpi.weight != 0 %}
                <li>
                    <a href="#" v-on:click="show_unique_code_modal(kpi_list[{{ kpi.id }}])">
                        <i class="fa fa-code-fork" aria-hidden="true" style="font-size: 17px;"></i>

                        {% trans "Unique Code" %}</a>
                </li>
            {% endif %}

            <li role="separator" class="divider"></li>

            <li><a href="javascript:void(0)"
                   onclick="return false;"
                   data-kpi-unique-key="{{ kpi.unique_key }}"
                   data-toggle="modal" data-target="#modal-quarter-selections">
                <i class="fa fa-history" aria-hidden="true"></i>  {% trans 'KPI History' %}
            </a></li>
        </ul>
{#    {% endif %}#}

</span>

