{% load cache %}
{% load i18n %}
{#{% cache 500 nocache kpis %}#}
    <div class="kpi-group-category group-{{ category_key }} " data-kpi-group="{{ category_key }}">

        <div class="kpi-group-heading">
            <span class="kpi-group-heading-left">
                <span class="kpi-group-heading-text">
                    {% trans category_name %}
                </span>
            </span>
        </div>
{# note: change to vuejs #}
{#        {% for kpi in kpis %}#}
{#            {% include "performance/bsc/worksheet/modules/row_container.html" with include_row=0 loading=1 %}#}
{#        {% endfor %}#}
{# end note #}
        {% include "performance/bsc/worksheet/modules/kpi_items.html" %}

        {% if kpis %}
            {% include "performance/bsc/worksheet/modules/modal-change-weight.html"%}
        {% endif %}
    </div>
