{% load kpi inplace_edit i18n humanize %}

<div v-for="kpi in kpi_list">
{#<h2>${ kpi.kpi_refer_group == group.slug }$</h2>#}
{#<h2>${ (kpi.bsc_category + kpi.kpi_refer_group ) == group.slug }$</h2>#}
{#<h2>${ getKPIParent()[kpi.id] !== undefined }$</h2>#}
{#    <div v-for="kpi in kpi_list" v-if="getKPIParent()[kpi.id] !== undefined && kpi.group_kpi == group.id"#}
    <div v-if="parentKPIs[kpi.id] !== undefined && ( kpi.bsc_category + kpi.kpi_refer_group) == group.slug"
        class="kpi-parent-wrapper" v-bind:class="'cat_' + kpi.bsc_category"
         v-bind:data-kpi-id="kpi.id" v-bind:data-kpi-group="kpi.group + '-' + kpi.kpi_id" v-cloak>

        <div class="qtip-kpi-history"></div>
{#        <div v-bind:id="'kpi-wrapper-' + kpi.id" class="${ kpi.weight > 0 ? '' : ' blear' }$ ${ kpi.has_child === true ? ' kpi-haschild' : '' }$ kpi-row row rows-table-sm rows-table-xs kpi-child-of-${kpi.group_kpi}$ kpi-${kpi.id}$"#}
        <div v-bind:id="'kpi-wrapper-' + kpi.id" class="${ kpi.weight > 0 ? '' : ' blear' }$ ${ kpi.has_child === true ? ' kpi-haschild' : '' }$ kpi-row row rows-table-sm rows-table-xs kpi-child-of-${group.slug}$ kpi-${kpi.id}$"
         data-kpi-level="1"
         v-bind:data-kpi-group="kpi.group"

        >
            <div class="col-xs-1  kpi-id col-table-1 col-align-top text-right width35 hide">
                <div class='kpi_group'
                     v-if="organization.enable_abc_feature"
                     v-on:click="change_group(kpi)"
                     v-if="is_root_kpi(kpi)">
                    ${ kpi.group }$
                    <span class="show-on-hover"> ${ get_weight_bygroup(kpi.group)*100/total_weight[kpi.user_id]| weightDisplay}$</span>
                </div>

            <div v-if="kpi.weight == 0" class="kpi_delayed">
                <i class="glyphicon glyphicon-ban-circle"></i>
            </div>

            <button v-bind:hidden="!kpi.has_child" class="btn-kpi-toggle" v-bind:id="'btn-kpi-toggle'+ kpi.id">
                <i class="fa fa-angle-double-right" ></i>
            </button>

            <div class="kpi-id-content">
                <div class="kpi-id-name">
                    <span class="kpi-id-text observing_display">
                        <input type="hidden" v-bind:value="get_prefix_category(kpi.bsc_category)"/>
{#                        {% inplace_edit "kpi.ordering|floatformat" edit_empty_value='1', adaptor="kpi_ordering", auto_height=1, autoSave="1" %}#}
                    </span>
                </div>
            <!-- Mr Hong confirm remove this 4003
                <div class="kpi-rating" v-bind:class="kpi.has_child ? 'margin-left-20':''"
                     v-bind:data-id="kpi.id">
                    <div v-if="kpi.refer_to == null || kpi.user == {{ user_viewed.id }}" class="weighting_block" class="text-right" style="display: inline;">
{#                            {% if not parent and level == 1 %}#}
                        <span class="weighting_score"
                              title="${ kpi.weight}$/${total_weight[kpi.user] }$ ~= ${ kpi.weight*100/total_weight[kpi.user] | weightDisplay }$"
                              style="display: inline-block; text-align: center">
                            {% trans 'Weighting score' %}
                            <span><strong>(${ kpi.weight*100/total_weight[kpi.user]| weightDisplay }$)</strong></span>
                        </span>
                        <strong v-if="kpi.weight > 0">
                            <input type="number" step="any" class="form-control kpi-weight-form observing_display"
                                   style="display: inline-block;width: 58px; height:28px; padding: 2px 3px; text-align: center"
                                   title="{% trans 'Weighting score' %}"
                                   :disabled="!kpi.enable_edit"
                                   v-on:focus="cache_weight=kpi.weight"
                                   v-model="kpi.weight"
                                   v-on:change="update_kpi(kpi)"/>
                        </strong>
{#                            {% endif %}#}
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="col-xs-11 col-table-11 kpi-detail">
            <div class="kpi-detail-content">
                <div class="row rows-table-sm rows-table-xs ">
                    <div class="col col-xs-4 col-table-4 kpi-name">
                        <div class="kpi_left_menu">
                               <span style="color: lightgrey">
                                   [#${ kpi.id }$] ${ kpi.unique_code }$
                               </span>

                            <div class="kpi_id_toggle" onclick="toggleKPI_ID(this);">
                            <span class="kpi_id_toggle_raquo KPI_TGL_WEIGHT">
                                &rightleftharpoons;
                                {#                        &raquo;#}
                            </span>
                                <span class="kpi_id_toggle_laquo KPI_TGL_WEIGHT" style="display: none;">
    {#                        &laquo;#}
                                    &rightleftharpoons;
                                </span>
                            </div>
                            {% if cross_review %}
                                <div class="kpi_360_review">
                                    <a data-toggle="modal"
                                       data-target="#kpi360-modal${ kpi.id }$">

                                        <i class="fa fa-street-view" aria-hidden="true"></i>
                                        <span style="text-transform: lowercase; color: grey; font-weight: normal">
                                        ${ kpi.reviewer_email }$
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="observing_display">
                                  <textarea class="kpi-weight-form KPI_INP_NAME "
                                            id="kpi_name${ kpi.id }$"
                                            v-model="kpi.name"
                                            v-on:change="update_kpi(kpi, true)"
                                            placeholder="{% trans "KPI Name" %}...">${ kpi.name }$</textarea>
                            </div>
                            <input type="hidden" name="kpi_id" :value="kpi.id">
                        </div>
                    </div>
                    <div class="col col-xs-4 col-table-4 second-group-row-box">
                        <div class="row rows-table-sm rows-table-xs second-group-row">
                            <div class="col col-xs-4 col-table-4 not_review${ kpi.id }$" data-field-name="owner_email"
                                 data-reload-on-change="1"
{#                                 data-assignable-list-from-user-id="{{ kpi|assignablelist_from_user_id }}"#}
                            >

                                <div class="cell-content content-shorten not_review KPI_INP_INCHARGE" data-toggle="tooltip"
                                     data-placement="top"
                                     data-qtipopts='{ "position": { "my": "bottom center", "at": "top  center" }}'
                                     title="${ kpi.owner_email? kpi.owner_email: '---'}$">
                                    <a title='{% trans "Go to performance review" %}' target='_blank' class="row-1" href="/performance/kpi-editor/emp/${ kpi.user }$">
                                        <img align='left' class='user-thumb' :src='employee_performance.profile.get_avatar' alt='Avatar'>
                                    </a>
                                    <div class="observing_display word_break KPI_INP_INCHARGE">
                                        ${kpi.owner_email}$
{#                                        {% inplace_edit "kpi.owner_email|default:'---'" edit_empty_value='---', adaptor="kpi_assign_user", auto_height=1, auto_width=1, autoSave="1" %}#}
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-2 col-table-2  kpi-unit not_review${ kpi.id }$ " data-field-name="unit">
                                <div class="cell-content content-shorten"
                                     v-bind:class="!kpi.unit?'required_class':''"
                                     data-toggle="tooltip" data-placement="top"
                                     data-qtipopts='{ "position": { "my": "bottom right", "at": "top right" }}'
                                     v-bind:title="kpi.unit">

                                    <div v-if="kpi.unit !== ''" class="tooltiptext ">${ kpi.unit }$</div>
                                    <div class="observing_display" style="white-space: nowrap">
										<kpi-editable class="KPI_INP_UNIT" :kpi="kpi" field="unit" v-bind:can_edit="kpi.enable_edit"></kpi-editable>
                                    </div>

                                </div>

                            </div>
                            <div class="col col-xs-4  col-table-4 kpi-current-goal not_review${ kpi.id }$"
                                 data-field-name="current_goal">
                                <div class="cell-content content-shorten not_review"
                                     v-bind:class="!kpi.current_goal ? 'required_class':''"
                                     data-toggle="tooltip" data-placement="top" data-html=true
                                     data-qtipopts='{ "position": { "my": "bottom left", "at": "top left" }}'
                                     title="${ kpi.current_goal }$">

                                    <div v-if="kpi.current_goal != ''" class="tooltiptext ">${ kpi.current_goal }$</div>
                                    <div class="observing_display" style="white-space: nowrap">
                                        <kpi-editable :kpi="kpi" class="KPI_INP_MEASURE" field="current_goal" v-bind:can_edit="kpi.enable_edit"></kpi-editable>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-xs-2  col-table-2 kpi-operator not_review${ kpi.id }$"
                                 data-field-name="operator">
                                <div class="cell-content content-shorten"
                                     v-bind:class="!kpi.operator ? 'required_class':''"
                                     data-toggle="tooltip" data-placement="top"
                                     data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>

                                    <select class="form-control observing_display KPI_DDL_OPERATOR"
                                            style=" display: inline-block; border:none; background: none; box-shadow: none;"
                                            :disabled="!kpi.enable_edit"
                                            v-model="kpi.operator"
                                            v-on:change="kpi_ready(kpi.id,'update_operator-kpi-',true)"
                                            v-on:focus="tempsave_value(kpi, 'operator', 'operator')">
                                        <option value=">=">>=</option>
                                        <option value="<="><=</option>
                                        <option value="=">=</option>

                                    </select>
                                    <div class="btn-box operator-col small-col">
                                        <div id="update_operator-kpi-${ kpi.id }$" style="display: none;">
                                            <button class="cancel-btn"
                                                    v-on:click="cancel_action(kpi, 'operator', 'update_operator-kpi-')"><i
                                                    class="fa fa-times" aria-hidden="true" title="{% trans "Cancel" %}"></i>
                                            </button>
                                            <button class="save-btn" v-on:click="save_action(kpi, 'operator', 'update_operator-kpi-')">
                                                <i class="fa fa-floppy-o" aria-hidden="true" title="{% trans "Save" %}"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div v-if="kpi.weight != 0" class="col col-xs-4  col-table-4 kpi-target not_review${ kpi.id }$">
                        <div class="row rows-table-sm rows-table-xs target-table ">
                            <div class="col-xs-3 col-table-3  year-target"
                                 v-bind:class="current_quarter.quarter == 1? 'current-target': ''"
                                 data-order="1"
                                 data-field-name="year-target">
                                <div class="content-shorten"
                                     v-bind:class="!kpi.quarter_one_target && kpi.quarter_one_target != 0 &&  kpi.user_id != company_params.ceo_id ? 'required_class':''"
                                     style="text-align: center"
                                >
                                    <input type="text"
                                           class="cell-content form-control borderless observing_display KPI_INP_QPLAN_TARGET"
                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                           id="qtip${ kpi.id }$_1"
                                           v-bind:title="kpi.quarter_one_target|decimalDisplay"

                                               :disabled="!check_disable_edit(kpi)"
                                               v-model="kpi.quarter_one_target|decimalDisplay"
                                               v-on:keydown="kpi_ready(kpi.id, 'update_quarter_target_plan-kpi-', true)"
                                               v-on:focus="tempsave_value(kpi, 'quarter_one_target', 'quarter_target')">
                                    </div>
                                </div>
                                <div class="col-xs-3 col-table-3  year-target"
                                     v-bind:class="current_quarter.quarter == 2? 'current-target': ''"
                                     data-order="2"
                                     data-field-name="year-target">
                                    <div class="content-shorten" style="text-align: center"
                                     v-bind:class="!kpi.quarter_two_target && kpi.quarter_two_target != 0 && kpi.user_id != company_params.ceo_id ? 'required_class':''">
                                        <input type="text"
                                               class="cell-content form-control borderless observing_display KPI_INP_QPLAN_TARGET"
                                               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                               id="qtip${ kpi.id }$_2"
                                               v-bind:title="kpi.quarter_one_target|decimalDisplay"
                                               :disabled="!check_disable_edit(kpi)"
                                               v-model="kpi.quarter_two_target|decimalDisplay"
                                               v-on:keydown="kpi_ready(kpi.id, 'update_quarter_target_plan-kpi-', true)"
                                               v-on:focus="tempsave_value(kpi, 'quarter_two_target', 'quarter_target')">
                                    </div>
                                </div>
                                <div class="col-xs-3 col-table-3  year-target"
                                     v-bind:class="current_quarter.quarter == 3? 'current-target': ''"
                                     data-order="3"
                                     data-field-name="year-target">
                                    <div class="content-shorten" style="text-align: center"
                                    v-bind:class="!kpi.quarter_three_target && kpi.quarter_three_target != 0 && kpi.user_id != company_params.ceo_id ? 'required_class': ''"
                                    >
                                        <input type="text" class="cell-content form-control borderless observing_display KPI_INP_QPLAN_TARGET"
                                               data-toggle="tooltip" data-placement="top"
                                               id="qtip${ kpi.id }$_3"
                                               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                               v-bind:title="kpi.quarter_three_target|decimalDisplay"

                                               :disabled="!check_disable_edit(kpi)"
                                               v-model="kpi.quarter_three_target|decimalDisplay"
                                               v-on:keydown="kpi_ready(kpi.id, 'update_quarter_target_plan-kpi-', true)"
                                               v-on:focus="tempsave_value(kpi, 'quarter_three_target', 'quarter_target')">
                                    </div>
                                </div>
                                <div class="col-xs-3 col-table-3  year-target"
                                     v-bind:class="current_quarter.quarter == 4? 'current-target': ''"
                                     data-order="4"
                                     data-field-name="year-target">
                                    <div class="content-shorten"
                                         v-bind:class="!kpi.quarter_four_target && kpi.quarter_four_target != 0 && kpi.user_id != ceo_id ? 'required_class': ''"
                                         style="text-align: center"
                                    >
                                        <input type="text" class="cell-content form-control borderless observing_display KPI_INP_QPLAN_TARGET"
                                               data-toggle="tooltip" data-placement="top"
                                               id="qtip${ kpi.id }$_4"
                                               data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                               v-bind:title="kpi.quarter_four_target|decimalDisplay"
                                               :disabled="!check_disable_edit(kpi)"
                                               v-model="kpi.quarter_four_target|decimalDisplay"
                                               v-on:keydown="kpi_ready(kpi.id, 'update_quarter_target_plan-kpi-', true)"
                                               v-on:focus="tempsave_value(kpi, 'quarter_four_target', 'quarter_target')">
                                    </div>
                                </div>
                            </div>


                        <div class="col-lg-3 col-md-3 col-sm-3 no-padding text-center">
                            <div id="update_quarter_target_plan-kpi-${ kpi.id }$" style="display: none;">
                                <button class="cancel-btn KPI_BTN_CANCEL_QLAN"
                                        v-on:click="cancel_action(kpi,'quarter_target','update_quarter_target_plan-kpi-')">
                                    <i class="fa fa-times KPI_BTN_CANCEL_QLAN" aria-hidden="true"></i>
                                </button>
                                <button class="save-btn KPI_BTN_SAVE_QPLAN"
                                        v-on:click="save_action(kpi, 'quarter_target', 'update_quarter_target_plan-kpi-')"
                                        style="color: green"><i class="fa fa-floppy-o KPI_BTN_SAVE_QPLAN" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div v-else class="col col-xs-4  col-table-4 kpi-target not_review${ kpi.id }$">
                        <div class="row rows-table-sm rows-table-xs target-table ">
                            <div class="kpiprogressreview-wrapper ">

                            </div>
                        </div>
                    </div>

                </div>
                {% include 'performance/bsc/worksheet/modules/kpi-progressbar_js.html' %}
            </div>
        </div>
    </div>
    <div class="kpi-child-container"></div>
    </div>
</div>
