{% load i18n kpi  %}
<!-- Modal -->
<div class="modal fade" id="modalReason" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" >
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{% trans "Close" %}</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {% trans 'Delay KPI' %}
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body deplay_kpi_modal">
                <div class="form-group">
                    <div v-if="!is_child">
                        <label class="center" for="">{% trans "You can edit KPIs weight" %}</label>
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th scope="col" style="width: 50px">ID</th>
                                <th scope="col">{% trans "Name" %}</th>
                                <th scope="col" style="width: 150px">{% trans "In charge" %}</th>
                                <th scope="col" style="width: 150px">{% trans "Old weight" %}</th>
                                <th scope="col" style="width: 150px">{% trans "New weight" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="kpi in filtered_kpi_level">
                                <td>#${kpi.id}$</td>
                                <td>${ kpi.name }$</td>
                                <td><div class="email_user_modal">${ kpi.owner_email }$</div></td>
                                <td><span title="${ kpi.old_weight}$/${ kpi_list | filter_total_old_weight }$ ~= ${ kpi_list | filter_cal_rate_old_weight kpi.old_weight| weightDisplay }$">
                                    ${ kpi_list | filter_cal_rate_old_weight kpi.old_weight| weightDisplay }$&nbsp;
                                </span> <input class="form-control" disabled type="text" v-model="kpi_list[kpi.id].old_weight" /></td>
                                <td>
                                    <div v-if="active_kpi_id != kpi.id" :class="{'has-error': !isNumber(kpi.weight)}">
                                        <span title="${ kpi.weight}$/${ kpi_list | filter_total_weight_exclude_delayed }$ ~= ${ kpi_list | filter_cal_rate_weight kpi.weight | weightDisplay }$">
                                        ${ kpi_list | filter_cal_rate_weight kpi.weight| weightDisplay }$&nbsp;
                                        </span>

                                        <input class="form-control" type="text" v-model="kpi.weight" @change="inputKPIWeight(kpi_id)" min="0" />

                                    </div>
                                    <div v-else>
                                        {% trans "KPI delay" %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="alert alert-danger" v-if="status_error" v-html="message_error" role="alert">
                        </div>
                    </div>
                    <label for="">{% trans "Enter The Reason Delay To KPI (Exact)" %}</label>
                    <textarea class="form-control" rows="10" style="height: 100px;"
                              v-on:keyup="check_reason(active_kpi_id)"
                              id="reason" placeholder="{% trans 'Reason Delay' %}" v-model="reason_kpi">
                    </textarea>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary"
                            :title="(reason_kpi == '') ? '{% trans 'Please Typing Reason Delay Kpi!' %}'  : '' "
                            :disabled="check_submit_reason | check_reason(active_kpi_id)" onclick="confirm_toggle_weigth_kpi(v.active_kpi_id, this)">
                        {% trans 'Delay' %}
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#modalReason').on('hide.bs.modal',function(){
        console.log("dissmissed")
        v.resume_weight()
    })

</script>