{% load i18n l10n kpi user_tags %}

{#                {{ edit_expired_msg }}#}

{#{% captureas edit_expired_msg %}#}

<!--<div v-if="organization.enable_to_edit == false" id="kpi-expired-notification" class="alert alert-warning observing_display" role="alert"-->
     <!--style="font-size: 14px;margin:0px 15px 15px 15px;">-->
   <!--<a href="/performance/schedule/" target="_blank"> <i class="fa fa-exclamation-triangle"></i>-->
    <!--{% blocktrans with basic_setup_link='/performance/schedule/' %}Time to edit KPI has expired.-->
        <!--Please contact Admin to enable Edit-->
    <!--{% endblocktrans %}-->
    <!--</a>-->
<!--</div>-->

{#{% endcaptureas %}#}


{% captureas public_permission_denied_msg %}
    <div id="kpi-expired-notification" class="alert alert-warning observing_display" role="alert"
         style="font-size: 14px;margin:15px 15px;">
        <i class="fa fa-exclamation-triangle"></i>
        {% blocktrans %}
            You do not have permission for this action
        {% endblocktrans %}
    </div>
{% endcaptureas %}

{#{% get_addressee as addressee %}#}
{#{{ addressee }}#}
