{% load kpi %}
{% if page == 'kpi-search' %}
    <style type="text/css">
        .observing_display {
            pointer-events: none;
        }

        li > a.observing_display {
            /*background-color: #cccccc;*/
        }

        #personal-kpis .kpi-section-heading {
            display: none !important;
        }

        #toolbar [data-class="kpi_editor_search_toolbar_top"].observing_display,
        #kpi-expired-notification.observing_display {
            pointer-events: auto !important;
        }

        #toolbar [data-class="kpi_editor_toolbar_top"].observing_display {
            display: none !important;
        }

        #kpi-snapshot.observing_display {
            display: none !important;
        }
        #kpi-container .kpi-table .observing_display {
            pointer-events: auto !important;
        }
    </style>
{% elif public_view %}
    <style type="text/css">
        .observing_display {
            pointer-events: none;
        }

        li > a.observing_display {
            background-color: #cccccc;
        }

        {% if target_organization.enable_to_edit %}
            #kpi-expired-notification.observing_display {
                display: none !important;
            }
        {% endif %}

        #toolbar [data-class="kpi_editor_search_toolbar_top"].observing_display {
            display: none !important;
        }

        #kpicoment-modal .observing_display {
            background-color: #cccccc;
        }
    </style>
{% else %}
    {#    kpi-editor page#}
    <style type="text/css">
        #toolbar [data-class="kpi_editor_search_toolbar_top"].observing_display {
            display: none !important;
        }

        #kpicoment-modal .observing_display {
            pointer-events: auto !important;
        }

        {% if not super_permission %}
            #emp_pub_link.observing_display {
                pointer-events: none;
                display: none;
            }
            #company-vision-mission-wrapper.observing_display {
                pointer-events: none;
            }
            {% if not target_organization.enable_to_edit %}
                .observing_display {
                    pointer-events: none;
                }
                li > a.observing_display {
                    background-color: #cccccc;
                }
                #kpi-snapshot #personal-kpi-snapshot {
                    pointer-events: auto !important;
                }
                #kpi-expired-notification.observing_display {
                    pointer-events: auto !important;
                }

            {% else %}
                #kpi-expired-notification.observing_display {
                    display: none;
                }
            {% endif %}


            {% if not perm__viewed_user_kpi %}
                [data-class="kpi_editor_toolbar_top"].observing_display {
                    pointer-events: none;
                }
            {% else %}
                [data-class="kpi_editor_toolbar_top"] #form-export-kpi {
                    pointer-events: auto !important;
                }
            {% endif %}


            [data-class="kpi_editor_toolbar_top"] #btn-advance-search {
                pointer-events: auto !important;
            }

            [data-class="kpi_editor_toolbar_top"] .input-search-staff {
                pointer-events: auto !important;
            }
            [data-class="kpi_editor_toolbar_top"] #btn-kpi-history {
                pointer-events: auto !important;
            }
            [data-class="kpi_editor_toolbar_top"] .always-on-menu {
                pointer-events: auto !important;
            }
        {% else %}
            {% if not editing_vision %}
                #company-vision-mission-wrapper.observing_display {
                    pointer-events: none;
                }
            {% endif %}
        {% endif %}


    </style>

{% endif %}

{#<style type="text/css">#}
{#    {% if not public_view %}#}
{#        {% if not target_organization.enable_to_edit %}#}
{#            #kpi-expired-notification.observing_display {#}
{#                display: none !important;#}
{#            }#}
{#        {% endif %}#}
{#    {% endif %}#}
{#</style>#}
