{% load kpi inplace_edit i18n humanize %}

<div class="qtip-kpi-history"></div>
<div id="kpi-wrapper-{{ kpi.id }}"
     class="kpi-child-of-{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }} kpi-row row rows-table-sm rows-table-xs kpi-{{ kpi.id }} {% if kpi.has_child %} kpi-haschild {% endif %} {% if kpi.weight == 0 %} blear {% endif %}"
     data-kpi-level="1"
     data-kpi-group="${ kpi_list[{{ kpi.id }}].group }$"
     v-cloak>
    <div class="col-xs-1  kpi-id col-table-1 col-align-top text-right width35 hide">

        <div class='kpi_group'
             v-if="organization.enable_abc_feature"
             v-on:click="change_group(kpi_list[{{ kpi.id }}])"
             v-if="is_root_kpi(kpi_list[{{ kpi.id }}])">
            ${ kpi_list[{{ kpi.id }}].group }$
            <span class="show-on-hover"> ${ get_weight_bygroup(kpi_list[{{ kpi.id }}].group)*100/total_weight[{{ kpi.user_id }}]| weightDisplay}$</span>
        </div>
        {% with kpi.has_child as has_child %}
            {% if kpi.weight == 0 %}
                <div class="kpi_delayed">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </div>
            {% endif %}
            {% if has_child %}
                <button class="btn-kpi-toggle" id="btn-kpi-toggle{{ kpi.id }}">
                    {% if follow_page %}
                        <i class="fa fa-angle-double-right"></i>
                    {% else %}
                        <i class="fa fa-angle-double-down"></i>
                    {% endif %}

                </button>
            {% endif %}{% endwith %}
        <div class="kpi-id-content">

            <div class="kpi-id-name">
                    <span class="kpi-id-text observing_display">
{#                        only for top-level #}
                        <input type="hidden" value="{{ kpi.get_prefix_category }}"/>

                        {% inplace_edit "kpi.ordering|floatformat" edit_empty_value='1', adaptor="kpi_ordering", auto_height=1, autoSave="1" %}
                    </span>

            </div>

            {% include 'performance/bsc/worksheet/modules/kpi_archivable_score.html' %}


        </div>

    </div>
    <div class="col-xs-11 col-table-11 kpi-detail">
        <div class="kpi-detail-content">
            <div class="row rows-table-sm rows-table-xs ">
                <div class="col col-xs-4 col-table-4 kpi-name">
                    <div class="kpi_left_menu">
                           <span style="color: lightgrey">
                               [#${ kpi_list[{{ kpi.id }}].id }$ ${ kpi_list[{{ kpi.id }}].group_kpi }$] ${ kpi_list[{{ kpi.id }}].unique_code }$
                           </span>

                        <div class="kpi_id_toggle" onclick="toggleKPI_ID(this);">
                        <span class="kpi_id_toggle_raquo">
                            &rightleftharpoons;
                            {#                        &raquo;#}
                        </span>
                            <span class="kpi_id_toggle_laquo" style="display: none;">
{#                        &laquo;#}
                                &rightleftharpoons;
                            </span>
                        </div>
                        {% if cross_review %}
                            <div class="kpi_360_review">
                                <a data-toggle="modal"
                                   data-target="#kpi360-modal{{ kpi.id }}">

                                    <i class="fa fa-street-view" aria-hidden="true"></i>
                                    <span style="text-transform: lowercase; color: grey; font-weight: normal">
                                    ${ kpi_list[{{ kpi.id }}].reviewer_email }$
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <div class="observing_display">
                              <textarea class="kpi-weight-form"
                                        id="kpi_name{{ kpi.id }}"
                                        v-model="kpi_list[{{ kpi.id }}].name"
                                        v-on:input="update_group_name(kpi_list[{{ kpi.id }}]);"
                                        v-on:change="update_kpi(kpi_list[{{ kpi.id }}], true)"
                                        placeholder="{% trans "KPI Name" %}...">{{ kpi.name }}</textarea>
                        </div>
                        <input type="hidden" name="kpi_id" value="{{ kpi.id }}">
                    </div>
                </div>
                <div class="col col-xs-4 col-table-4 second-group-row-box">
                    <div class="row rows-table-sm rows-table-xs second-group-row">
                        <div class="col col-xs-4 col-table-4 not_review{{ kpi.id }}" data-field-name="owner_email"
                             data-reload-on-change="1"
                             data-assignable-list-from-user-id="{{ kpi|assignablelist_from_user_id }}">

                            <div class="cell-content content-shorten not_review" data-toggle="tooltip"
                                 data-placement="top"
                                 data-qtipopts='{ "position": { "my": "bottom center", "at": "top  center" }}'
                                 title="{{ kpi.owner_email|default:'---' }}">
                                <div class="observing_display">
                                    {% inplace_edit "kpi.owner_email|default:'---'" edit_empty_value='---', adaptor="kpi_assign_user", auto_height=1, auto_width=1, autoSave="1" %}
                                </div>
                            </div>
                        </div>
                        <div class="col col-xs-2 col-table-2  kpi-unit not_review{{ kpi.id }} " data-field-name="unit">
                            <div class="cell-content content-shorten {% if not kpi.unit %}required_class{% endif %}"
                                 data-toggle="tooltip" data-placement="top"
                                 data-qtipopts='{ "position": { "my": "bottom right", "at": "top right" }}'
                                 title="{{ kpi.unit }}">

                                <div v-if="kpi.unit !== ''" class="tooltiptext ">{{ kpi.unit }}</div>
                                <div class="observing_display" style="white-space: nowrap">
									<kpi-editable :kpi="kpi_list[{{ kpi.id }}]" field="unit" v-bind:can_edit="kpi_list[{{ kpi.id }}].enable_edit"></kpi-editable>
                                </div>

                            </div>

                        </div>
                        <div class="col col-xs-4  col-table-4 kpi-current-goal not_review{{ kpi.id }}"
                             data-field-name="current_goal">
                            <div class="cell-content content-shorten {% if not kpi.current_goal %}required_class{% endif %} not_review"
                                 data-toggle="tooltip" data-placement="top" data-html=true
                                 data-qtipopts='{ "position": { "my": "bottom left", "at": "top left" }}'
                                 title="{{ kpi.current_goal|linebreaksbr }}">

                                <div v-if="kpi.current_goal != ''" class="tooltiptext">{{ kpi.current_goal|urlize|linebreaksbr }}</div>
                                <div class="observing_display" style="white-space: nowrap">
									<kpi-editable :kpi="kpi_list[{{ kpi.id }}]" field="current_goal" v-bind:can_edit="kpi_list[{{ kpi.id }}].enable_edit"></kpi-editable>
                                    {% include "performance/bsc/worksheet/modules/kpi-note.html" %}
                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-2  col-table-2 kpi-operator not_review{{ kpi.id }}"
                             data-field-name="operator">
                            <div class="cell-content content-shorten {% if not kpi.operator %}required_class{% endif %} "
                                 data-toggle="tooltip" data-placement="top"
                                 data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'>
                                <select class="" style="background:url({{ STATIC_URL }}images/down-chevron.png) no-repeat right;background-size: 10px 10px ;border:none;width:100%;    background-position: right 5px top 13px;; padding-top:8px;padding-bottom:8px;-moz-appearance: none;-webkit-appearance: none"
                                        :disabled="!kpi_list[{{ kpi.id }}].enable_edit"
                                        v-model="kpi_list[{{ kpi.id }}].operator"
                                        v-on:change="kpi_ready({{ kpi.id }},'update_operator-kpi-',true)"
                                        v-on:focus="tempsave_value(kpi_list[{{ kpi.id }}], 'operator', 'operator')">
                                    <option value=">=">>=</option>
                                    <option value="<="><=</option>
                                    <option value="=">=</option>

                                </select>

                                <div class="btn-box operator-col small-col">
                                    <div id="update_operator-kpi-{{ kpi.id }}" style="display: none;">
                                        <button class="cancel-btn"
                                                v-on:click="cancel_action(kpi_list[{{ kpi.id }}], 'operator', 'update_operator-kpi-')"><i
                                                class="fa fa-times" aria-hidden="true" title="{% trans "Cancel" %}"></i>
                                        </button>
                                        <button class="save-btn" v-on:click="save_action(kpi_list[{{ kpi.id }}], 'operator', 'update_operator-kpi-')">
                                            <i class="fa fa-floppy-o" aria-hidden="true" title="{% trans "Save" %}"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if kpi.weight != 0 %}
                    <div class="col col-xs-4  col-table-4 kpi-target not_review{{ kpi.id }}">
                        <div class="row rows-table-sm rows-table-xs target-table ">
                            <div class="col-xs-3 col-table-3  year-target  {% if quarter.quarter == 1 %}current-target {% endif %}"
                                 data-order="1"
                                 data-field-name="year-target">
                                <div class="content-shorten {% if not kpi.quarter_one_target and kpi.quarter_one_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}" style="text-align: center"
                                >
                                    <input type="text"
                                           class="cell-content form-control borderless observing_display"
                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                           id="qtip{{ kpi.id }}_1"
                                           v-bind:title="kpi_list[{{ kpi.id }}].quarter_one_target|decimalDisplay"

                                           :disabled="!check_disable_edit(kpi_list[{{ kpi.id }}])"
                                           v-model="kpi_list[{{ kpi.id }}].quarter_one_target|decimalDisplay"
                                           v-on:keydown="kpi_ready({{ kpi.id }}, 'update_quarter_target_plan-kpi-', true)"
                                           v-on:focus="tempsave_value(kpi_list[{{ kpi.id }}], 'quarter_one_target', 'quarter_target')">
                                </div>
                            </div>
                            <div class="col-xs-3 col-table-3  year-target  {% if quarter.quarter == 2 %}current-target{% endif %}"
                                 data-order="2"
                                 data-field-name="year-target">
                                <div class="content-shorten {% if not kpi.quarter_two_target and kpi.quarter_two_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}" style="text-align: center"
                                >
                                    <input type="text"
                                           class="cell-content form-control borderless observing_display"
                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                           id="qtip{{ kpi.id }}_2"
                                           v-bind:title="kpi_list[{{ kpi.id }}].quarter_one_target|decimalDisplay"
                                           :disabled="!check_disable_edit(kpi_list[{{ kpi.id }}])"
                                           v-model="kpi_list[{{ kpi.id }}].quarter_two_target|decimalDisplay"
                                           v-on:keydown="kpi_ready({{ kpi.id }}, 'update_quarter_target_plan-kpi-', true)"
                                           v-on:focus="tempsave_value(kpi_list[{{ kpi.id }}], 'quarter_two_target', 'quarter_target')">
                                </div>
                            </div>
                            <div class="col-xs-3 col-table-3  year-target  {% if quarter.quarter == 3 %}current-target{% endif %}"
                                 data-order="3"
                                 data-field-name="year-target">
                                <div class="content-shorten {% if not kpi.quarter_three_target and kpi.quarter_three_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}" style="text-align: center"
                                >
                                    <input type="text" class="cell-content form-control borderless observing_display"
                                           data-toggle="tooltip" data-placement="top"
                                           id="qtip{{ kpi.id }}_3"
                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                           v-bind:title="kpi_list[{{ kpi.id }}].quarter_three_target|decimalDisplay"

                                           :disabled="!check_disable_edit(kpi_list[{{ kpi.id }}])"
                                           v-model="kpi_list[{{ kpi.id }}].quarter_three_target|decimalDisplay"
                                           v-on:keydown="kpi_ready({{ kpi.id }}, 'update_quarter_target_plan-kpi-', true)"
                                           v-on:focus="tempsave_value(kpi_list[{{ kpi.id }}], 'quarter_three_target', 'quarter_target')">
                                </div>
                            </div>
                            <div class="col-xs-3 col-table-3  year-target  {% if quarter.quarter == 4 %}current-target{% endif %}"
                                 data-order="4"
                                 data-field-name="year-target">
                                <div class="content-shorten {% if not kpi.quarter_four_target and kpi.quarter_four_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}" style="text-align: center"
                                >
                                    <input type="text" class="cell-content form-control borderless observing_display"
                                           data-toggle="tooltip" data-placement="top"
                                           id="qtip{{ kpi.id }}_4"
                                           data-qtipopts='{ "position": { "my": "bottom center", "at": "top center" }}'
                                           v-bind:title="kpi_list[{{ kpi.id }}].quarter_four_target|decimalDisplay"
                                           :disabled="!check_disable_edit(kpi_list[{{ kpi.id }}])"
                                           v-model="kpi_list[{{ kpi.id }}].quarter_four_target|decimalDisplay"
                                           v-on:keydown="kpi_ready({{ kpi.id }}, 'update_quarter_target_plan-kpi-', true)"
                                           v-on:focus="tempsave_value(kpi_list[{{ kpi.id }}], 'quarter_four_target', 'quarter_target')">
                                </div>
                            </div>


                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-3 no-padding text-center">
                            <div id="update_quarter_target_plan-kpi-{{ kpi.id }}" style="display: none;">
                                <button class="cancel-btn"
                                        v-on:click="cancel_action(kpi_list[{{ kpi.id }}],'quarter_target','update_quarter_target_plan-kpi-')">
                                    <i
                                            class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button class="save-btn"
                                        v-on:click="save_action(kpi_list[{{ kpi.id }}], 'quarter_target', 'update_quarter_target_plan-kpi-')"
                                        style="color: green"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="col col-xs-4  col-table-4 kpi-target not_review{{ kpi.id }}">
                        <div class="row rows-table-sm rows-table-xs target-table ">
                            <div class="kpiprogressreview-wrapper ">

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% include 'performance/bsc/worksheet/modules/kpi-progressbar.html' %}
        </div>
    </div>


    {% include "performance/bsc/worksheet/modals/kpi_360_review.html" %}
    <script>
        autosize($('#kpi_name{{ kpi.id }}'));
    </script>
    <script>
        // Quick hack, will be removed after few motnhs
        // We trigger the event that migrate children data

        // End quick hack
        v.$set('kpi_list[{{ kpi.id }}]', JSON.parse('{{ kpi.to_json_dump|escapejs }}'));
        v.kpi_list[{{ kpi.id }}]['enable_edit'] = {{ enable_edit }};
        v.kpi_list[{{ kpi.id }}]['enable_review'] = {{ enable_review }};
        v.kpi_list[{{ kpi.id }}]['old_weight'] = v.kpi_list[{{ kpi.id }}]['weight'];
        //  v.kpi_list[{{ kpi.id }}]['enable_delete'] = {{ enable_delete }};
        {#        v.$set('kpi_list[{{ kpi.id }}].enable_review', ( v.kpi_list[{{ kpi.id }}].reviewer_email == '' || v.kpi_list[{{ kpi.id }}].reviewer_email == '{{ user.email }}' )  && {{ enable_review}} );#}
        //  alert(v.kpi_list[{{ kpi.id }}].enable_review);
        v.$set('kpi_list[{{ kpi.id }}].enable_review', v.kpi_list[{{ kpi.id }}].enable_review);

        if(v.kpi_list[{{ kpi.id }}].refer_to !== null)
        {
            if(v.kpi_list[v.kpi_list[{{ kpi.id }}].refer_to] === undefined){
                cloudjetRequest.ajax({
                    type: 'get',
                    url: '/api/v2/kpi/children_weights/' + v.kpi_list[{{ kpi.id }}].refer_to + '/',

                    success: function (data) {
                        v.$set('kpi_list[{{ kpi.id }}].parent_children_data',data.children_data);

                        try{
                            var relation_type_index = data.children_data.children_weights.map(function(elm,index){
                                return elm.kpi_id;
                            }).indexOf({{ kpi.id }});
                            v.$set('tag_list[{{ kpi.id }}]',data.children_data.children_weights[relation_type_index].relation_type);
                        }catch(e){
                            v.$set('tag_list[{{ kpi.id }}]',[] );
                        }
                        v.$compile($('#kpi-wrapper-{{ kpi.id }}').get(0));

                    },
                    error: function () {
                        {#                    alert('error when trigger children weights');#}
                    },
                    complete: function (data) {
                        $('.add_kpi').show();
                    }
                });
            }
            else{
                var parent_children_data = Object.assign({},(v.kpi_list[v.kpi_list[{{ kpi.id }}].refer_to].children_data));
                v.$set('kpi_list[{{ kpi.id }}].parent_children_data',parent_children_data);
                try{
                    var relation_type_index = parent_children_data.children_weights.map(function(elm,index){
                        return elm.kpi_id;
                    }).indexOf({{ kpi.id }});
                    v.$set('tag_list[{{ kpi.id }}]',parent_children_data.children_weights[relation_type_index].relation_type);
                }catch(e){
                    v.$set('tag_list[{{ kpi.id }}]',[] );
                }
            }
        }

        if(v.kpi_list[{{ kpi.id }}].children_data === null) {
            // if null, we will request to fetch data
            cloudjetRequest.ajax({
                type: 'get',
                url: '/api/v2/kpi/children_weights/' + {{ kpi.id }} + '/',

                success: function (data) {
                    v.$set('kpi_list[{{ kpi.id }}].children_data', data.children_data);
                    v.$compile($('#kpi-wrapper-{{ kpi.id }}').get(0));

                },
                error: function () {
                    {#                    alert('error when trigger children weights');#}
                },
                complete: function (data) {
                    $('.add_kpi').show();
                }
            });
        }
        else{
            // if not null, we need to parse  JSON
            try{
                var children_data = JSON.parse(v.kpi_list[{{ kpi.id }}].children_data);
                v.$set('kpi_list[{{ kpi.id }}].children_data', children_data);
            }catch(e){
                console.log(e)
            }

        }


        v.$compile($('#kpi-wrapper-{{ kpi.id }}').get(0));

        $('.cell-content input, .kpiprogresspercentage-wrapper input').keyup(function (e) {
            if (!(e.key % 1 === 0 || e.key == '.')) {
                this.value = this.value.replace(/[^\d.-]/g, '');
            }
            var val = this.value.split(",").join("");
            this.value = format(val);
        });

    </script>
</div>


