{% load cache %}
<div class="kpi-parent-wrapper {% if loading %}loading {% endif %}cat_{{ kpi.bsc_category }}" data-kpi-id="{{ kpi.id }}" data-kpi-group="${ kpi_list[{{ kpi.id }}].group }$ - ${ kpi_list[{{ kpi.id }}].kpi_id }$">
    {% include "performance/bsc/worksheet/modules/row_load_status.html" %}
    {% if include_row %}

            {% include "performance/bsc/worksheet/modules/row.html" %}

    {% endif %}
    <div class="kpi-child-container"></div>
</div>