{% load cache %}
{% cache 500 row_load_status %}

{% load i18n %}
<div class="load-status">
    <div class="load-status-loading"></div>
    <div class="load-status-failed">
        <span class="text-danger">{% trans "Failed!" %} </span>
        <button class="btn-reload-kpi-anchor">{% trans "Reload" %}</button>
    </div>
</div>


{% endcache %}
