{% load kpi i18n humanize %}

{#${ group.slug }$#}

{#<div v-if="group.name" :class="'kpi-refer-' + group.slug + ' ' + 'kpi-refer-group'" style="background: #efefed"#}
<div :class="'kpi-refer-' + group.slug + ' ' + 'kpi-refer-group'" style="background: #efefed"
{#     onclick="toggleKPIs('${ group.slug }$');">#}
     onclick="toggleKPIs('${ group.slug }$');">

    <div class="group-header">

        <div class="container-fluid">
            <div class="row" style=" display: flex;align-items: center;justify-content: left;flex-direction: row;">
                <div class="col-left">
                    <span id="hide" :class="'btn-kpi-toggle-refer' + group.slug">
                         <i class="fa fa-caret-down fa-2x"></i>
                    </span>
                    <span id="show" :class="'btn-kpi-toggle-refer' + group.slug">
                            <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-right" style="overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                    <span v-if="group.refer_to !== null" class="fa-stack">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-level-up fa-stack-1x"></i>
                    </span>
                    <span class="group-header-kpi-name">
                        ${ group.name }$
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
