{% load kpi i18n humanize %}

{#<h1>{{ kpi.get_kpi_refer_group }}</h1>#}
{% if kpi.group_name %}
    <div class="kpi-refer-{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }} kpi-refer-group" style="display: none; background: #efefed"
         onclick="toggleKPIs('{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }}', {{ kpi.id }});">

        <div class="group-header">

            <div class="container-fluid">
                <div class="row" style=" display: flex;align-items: center;justify-content: left;flex-direction: row;">

                    <div class="col-left KPI_DIV_DETAIL">
                        <span id="hide" class="btn-kpi-toggle-refer{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }}">
                                <i class="fa fa-caret-down fa-2x"></i>
                        </span>
                        <span id="show" class="btn-kpi-toggle-refer{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }}">
                            <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="col-right KPI_DIV_DETAIL" style="overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
                        {% if kpi.refer_to_id %}
                            <span class="fa-stack">
                              <i class="fa fa-square-o fa-stack-2x  KPI_DIV_DETAIL"></i>
                              <i class="fa fa-level-up fa-stack-1x KPI_DIV_DETAIL"></i>
                        </span>
                            {#                [{{ kpi.get_kpi_id_with_cat }}] {{ kpi.refer_to.name }}#}{% endif %}
                        {#            {% elif kpi.get_group %}#}
                        {#                {{ kpi.get_group.name }}#}
                        {#            {% else %}#}
                        <span class="group-header-kpi-name{{ kpi.id }} KPI_DIV_DETAIL">
                            {{ kpi.group_name }}
                        </span>
                        {#            {% endif %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if follow_page or  reload != '1' %}
        <script>
            collapse_kpi_group({{ kpi.id }}, '{{ kpi.refer_to_id }}', '{{ kpi.get_kpi_refer_group }}{{ kpi.bsc_category }}', is_search_page);
        </script>
    {% endif %}
{% endif %}
{#<script>#}
{##}
{#    v.$set('kpi_list[{{ kpi.id }}]', JSON.parse('{{ kpi.to_json_dump|escapejs }}'));#}
{#    v.kpi_list[{{ kpi.id }}]['enable_edit'] = {{ enable_edit }};#}
{#    v.$set('kpi_list[{{ kpi.id }}].enable_review', {{ enable_review}});#}
{##}
{##}
{#    v.$compile(v.$el);#}
{#</script>#}
