{% load i18n %}

<style>
    #kpi-uniquecode{
        font-family: 'Open sans',sans-serif;
    }
    #kpi-uniquecode .modal-title{
        color:#333333;
        font-size: 20px;
        font-weight: bold;

    }
    #kpi-uniquecode .notice-kpi-unicode{
        background-color: rgba(51, 122, 183, 0.15);
        padding:10px 10px;
        font-size:14px;
        border-radius:3px;
    }
    #kpi-uniquecode .notice-kpi-unicode p{
        margin-bottom:3px;
        color:#337ab7;
    }
    #input-unique:focus{
        border:1px solid #008b8b!important;
    }
</style>
<div id="kpi-uniquecode" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="kpicode">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 3px;padding-left:10px;padding-right:10px;">
            <div class="modal-header" style="padding-top:20px;border-bottom:0px;padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none;"><i class="material-icons font-20" style="color:#ababab">close</i></button>
                <h4 class="modal-title" id="myModalLabel" style="">{% blocktrans %}Unique Code{% endblocktrans %}
                <a class="KPI_ICN_UCODE_API" href="{% url 'api_v2.kpi.update_score_code'  %}?kpi_id=${ current_kpi.id }$" target="_blank">
                                    <i class="fa fa-plug KPI_ICN_UCODE_API"></i>
                                </a>
                </h4>
            </div>
            <div class="modal-body" id="unique-content">
                <div class="notice-kpi-unicode">
                    <span style="float:right;cursor:pointer"  onclick="hide_notice()"><i class="material-icons font-20" style="color: rgba(51, 122, 183, 0.5);">highlight_off</i></span>
                    <p>{% trans "KPIs with the same unique code will have the same target & performance results." %}</p>
                    <p>{% trans "Please make sure set the code unique avoid expected duplicated result." %}</p>
                    <p><i>{% trans "View more user guide" %} <a href="https://cloudjet.atlassian.net/wiki/spaces/CKKB/pages/1602699/I.1.15+C+p+nh+t+i+m+nhi+u+KPI+b+ng+m+n+nh+t" target="_blank" style="text-decoration:underline;color:#008b8b">{% trans "Here" %}</a></i></p>
                </div>
                <p style="font-size: 14px;color:#666666;padding-top:20px;">{% trans "Unique code of KPI" %} <span style="color: #333333;font-weight: bold">
                #${ current_kpi.id }$</span><span style="color: #333333;font-weight: bold">
                ${ current_kpi.name }$</span></p>
                <input type="text" step="any" class="form-control observing_display KPI_INP_UCODE"
                       style="width: 100%;height: 40px;border-radius: 3px;border:1px  solid  #ababab;box-shadow:none"
                       :disabled="!current_kpi.enable_edit"
                       placeholder="{% trans 'Example' %}: ma_don_nhat_123"
                       v-model="current_kpi.unique_code"
                       id="input-unique"
                       />
            </div>
            <div class="modal-footer" style="border:none;padding-top:10px;">
                <button type="button" class="btn btn-normal btn-cus-white btn-cus-5-7" data-dismiss="modal" aria-label="" style="padding:5px 15px;" v-on:click="current_kpi.unique_code = unique_code_cache">{% trans "Close" %}</button>
                <button type="button" class="btn btn-normal btn-cus-add btn-cus-5-7 KPI_BTN_UCODE_SAVE" data-dismiss="modal" aria-label="" style="padding:5px 10px;" v-on:click="update_kpi(current_kpi)"><i class="material-icons font-16 KPI_BTN_UCODE_SAVE" style="color:white">save</i>  {% trans "Change code" %}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function hide_notice(){
        $("#unique-content").css('padding-top','0px');
        $(".notice-kpi-unicode").hide();
    }
</script>
