<script type="text/x-template" id="kpi-edit-template">
	<div>
		<article @click="edit_toggle()" class="field_hover over-hide">
			${ kpi[field] }$
		</article>
		<div v-if="show_edit" class="field_editing">
			<textarea autofocus v-model="edit_value" class="form-control area-style id-text-edit" v-on:blur="save_change()"></textarea>
		</div>
	</div>
</script>