{% load  i18n kpi humanize %}
{% if kpi %}
    {% if kpi_wrapper == '1' %}
        <div class="kpi-parent-wrapper" data-kpi-id="{{ kpi.id }}">
            {% include "performance/bsc/worksheet/modules/worksheet_content.html" %}
        </div>
    {% else %}
        {% include "performance/bsc/worksheet/modules/worksheet_content.html" %}
    {% endif %}

    {% if settings.DEBUG %}
        <body></body>
    {% endif %}
{% endif %}
