{#{% load i18n kpi inplace_edit %}#}
{% load i18n kpi %}
<div class="kpi-row-heading row rows-table-sm rows-table-xs text-center not-show-when-group" id="kpi-row-heading">
	<div class="col-sm-1 col-table-1 width35 kpi_id_header no-padding">
	{% trans 'ID' %}
	</div>
	<div class="col-xs-11 col-table-11 kpi-heading-detail padding-left-0">
		<div class="row rows-table-sm rows-table-xs">
			<div class="col-xs-4 col-table-4">{% trans 'NAME' %}</div>
            <div class="col-xs-4 col-table-4 no-padding">
                <div class="row rows-table-sm rows-table-xs head-height-64">
                    <div class="col-xs-4 col-table-4">{% trans 'IN CHARGE' %}</div>
                    <div class="col-xs-2 col-table-2 ">{% trans 'UNIT' %}</div>
                    <div class="col-xs-4 col-table-4 ">{% trans 'MEASUREMENT METHODS' %}</div>
                    <div class="col-xs-2 col-table-2 no-padding" id="hover_operator" title="{% trans 'OPERATOR' %}">{% trans 'OPERATOR' %}</div>
                </div>
            </div>
            <div class="col-xs-4 col-table-4 " id="quarter-header-container">

                {% comment %}
				<input type="checkbox" id="target-switch" name="my-checkbox" checked>s
				{% endcomment %}
				
				<div class="quarter-header-text">
					{% trans 'Targets' %}
				</div>
			
				<div class="row rows-table-sm rows-table-xs "  data-quarter-start="3" id="years-target-header">
					<div id="q1-header" class="col-xs-3 col-table-3 year-target {% if quarter.quarter == 1 %}current-target{% endif %} year" data-field-name="year-target-header" data-order="1">
						 Q1
						 <div id="q1-header-year" class="q-header-year">
{#                                {{ quarter.quarter_1_year }}#}
{#                             Hong comment to increase speed #}
{#                             {% inplace_edit "quarter.quarter_1_year"  edit_empty_value='---', adaptor="kpi_quarter_year_header", target_org=target_organization.id, auto_height=1, auto_width=1, autoSave="1" %}#}

                         </div>
					 </div>
					<div id="q2-header" class="col-xs-3 col-table-3 year-target {% if quarter.quarter == 2 %}current-target{% endif %} year" data-field-name="year-target-header" data-order="2">
						Q2
                        {#                             Hong comment to increase speed #}
                        {#						<div id="q2-header-year" class="q-header-year">{% inplace_edit "quarter.quarter_2_year"  edit_empty_value='---', adaptor="kpi_quarter_year_header", target_org=target_organization.id, auto_height=1, auto_width=1, autoSave="1" %}</div>#}
                    </div>
                    <div id="q3-header"
                         class="col-xs-3 col-table-3 year-target {% if quarter.quarter == 3 %}current-target{% endif %} year"
                         data-field-name="year-target-header" data-order="3">
                        Q3
                        {#                             Hong comment to increase speed #}
                        {#						<div id="q3-header-year" class="q-header-year">{% inplace_edit "quarter.quarter_3_year" edit_empty_value='---', adaptor="kpi_quarter_year_header", target_org=target_organization.id,  auto_height=1, auto_width=1, autoSave="1" %}</div>#}
                    </div>
                    <div id="q4-header"
                         class="col-xs-3 col-table-3 year-target {% if quarter.quarter == 4 %}current-target{% endif %} year"
                         data-field-name="year-target-header" data-order="4">
                        Q4
                        {#                             Hong comment to increase speed #}
                        {#						<div id="q4-header-year" class="q-header-year">{% inplace_edit "quarter.quarter_4_year" edit_empty_value='---', adaptor="kpi_quarter_year_header", target_org=target_organization.id,  auto_height=1, auto_width=1, autoSave="1" %}</div>#}
                    </div>
                    <!--  -->
                </div>
            </div>
            {#            <div class="col-xs-4 col-table-1 " id="action-header"></div>#}

        </div>
    </div>
</div>
