{% if follow_page == '1' %}
    {% include "performance/bsc/worksheet/modules/row_inline_heading.html" %}
{% endif %}

{% if reload == '1' %}
    {#  this mean load-action  #}
    {% include "performance/bsc/worksheet/modules/row_load_status.html" %}
    {% include "performance/bsc/worksheet/modules/row.html" %}
{% else %}
    {#  expanse action  #}

{% endif %}


<div class="kpi-child-container">

    {% if follow_page == '0' %}
        {#    {% if level < 3 or reload == '0' or reload == '1' and level >= 3 and has_child_loaded == '1' %}#}
        {% if reload == '0' or reload == '1' and has_child_loaded == '1' %}
            {#        level < 3 or reload == '0' or (reload == '1' and level >= 3 and has_child_loaded == '1') #}
            {#        http://stackoverflow.com/questions/23637846/grouping-conditions-in-django-template-if-statement #}

            {% for k in kpi.get_children_refer_order %}
                {% with parent=kpi kpi=k %}
                    <div class="kpi-parent-wrapper" data-kpi-id="{{ kpi.id }}">
                        {% include "performance/bsc/worksheet/modules/row_load_status.html" %}
                        {% include "performance/bsc/worksheet/modules/row.html" %}
                        <div class="kpi-child-container">
                            {% if level == 1 %}
                                {#                            {% for k in kpi.get_children_refer_order %}#}
                                {#                                {% with parent=kpi kpi=k %}#}
                                {#                                http://stackoverflow.com/questions/11639306/assign-variables-to-child-template-in-include-tag-django #}
                                {#                                    {% include "performance/bsc/worksheet/modules/row_container.html" with include_row=1 loading=0 %}#}
                                {#                                {% endwith %}#}
                                {#                            {% endfor %}#}
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}

        {% endif %}
    {% endif %}

</div>