{% load i18n %}

<!--template to insert comment in comment hover -->
<div id="insert_comment_hover_right" style="display: none">
    <li class='user-comment-hover'>
        <div class="row no-margin">
            <div class="col-md-2 no-padding comment-avatar-left-hover float-right">
                <img class="avatar-hover" src=""/>
            </div>
            <div class="col-md-10 note-content pull-right">

                <div class="comment-content-frame-right-hover tri-right right-top-hover" id="comment-content" style="width:100%">
                <p class="comment-infor-hover text-right" style="margin-bottom:5px">
                    <span id="name_user"></span> <!--insert name user -->
                </p>
                    <span id="content_comment"></span> <!--insert content-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
</div>

<div id="insert_comment_hover_left" style="display: none">
    <li class='user-comment-hover'>
        <div class="row no-margin">
            <div class="col-md-2 no-padding comment-avatar-left-hover">
                <img class="avatar-hover" src=""/>
            </div>
            <div class="col-md-10 note-content">

                <div class="comment-content-frame-left-hover tri-right left-top-hover" id="comment-content" style="width:100%">
                <p class="comment-infor-hover" style="margin-bottom:5px">
                    <span id="name_user"></span> <!--insert name user -->
                </p>
                    <span id="content_comment"></span> <!--insert content-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
</div>

<div style="display: none" id="comment_temp">
    <div class="modal-body-hover h-240" id="comment_hover_body">
        <div ng-class="{note_columns:self && person.share_to_manager}" id="contain-comment-hover">
            <ul class="kpi_notes" id="ul-insert-code">
            </ul>
        </div>
    </div>
    <div id="insert_comment_auto_left">
        <li class='auto-comment-hover' id="id_user"> <!-- insert id user -->
            <div class="row no-margin">
                <div class="col-md-2 no-padding comment-avatar-left-hover">
                    <img class="avatar-hover" src=""/> <!-- insert avatar -->
                </div>
                <div class="col-md-10 note-content">
                    <div class="comment-content-frame-left-hover tri-right left-top-hover" style="width:100%">
                     <p class="comment-infor-hover" style="margin-bottom:5px">
                         <span id="name_user"></span> <!--insert name user -->
                    </p>
                        <span id="content_comment"></span> <!--insert content-->
                    </div>
                </div>
            </div>
     <div class="clearfix"></div>
        </li>
    </div>

    <div id="insert_comment_auto_right">
        <li class='auto-comment-hover' id="id_user"> <!-- insert id user -->
            <div class="row no-margin">
                <div class="col-md-2 no-padding comment-avatar-left-hover float-right">
                    <img class="avatar-hover" src="source_avatar"/> <!-- insert avatar -->
                </div>
                <div class="col-md-10 note-content pull-right">
                    <div class="comment-content-frame-right-hover tri-right right-top-hover" style="width:100%">
                     <p class="comment-infor-hover text-right" style="margin-bottom:5px">
                         <span id="name_user"></span> <!--insert name user -->
                    </p>
                        <span id="content_comment"></span> <!--insert content-->
                    </div>
                </div>
            </div>
     <div class="clearfix"></div>
        </li>
    </div>

     <div id="insert_comment_user_right">
        <li class='user-comment-hover' id=""> <!-- insert id user -->
            <div class="row no-margin">
                <div class="col-md-2 no-padding comment-avatar-left-hover float-right">
                    <img class="avatar-hover" src=""/> <!-- insert avatar -->
                </div>
                <div class="col-md-10 note-content pull-right">

                    <div class="comment-content-frame-right-hover tri-right right-top-hover" style="width:100%">
                    <p class="comment-infor-hover text-right" style="margin-bottom:5px">
                        <span id="name_user"></span> <!--insert name user -->
                    </p>
                        <span id="content_comment"></span> <!--insert content-->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
    </div>

    <div id="insert_comment_user_left">
        <li class='user-comment-hover' id=""> <!-- insert id user -->
            <div class="row no-margin">
                <div class="col-md-2 no-padding comment-avatar-left-hover">
                    <img class="avatar-hover" src=""/> <!-- insert avatar -->
                </div>
                <div class="col-md-10 note-content">

                    <div class="comment-content-frame-left-hover tri-right left-top-hover" style="width:100%">
                    <p class="comment-infor-hover" style="margin-bottom:5px">
                        <span id="name_user"></span> <!--insert name user -->
                    </p>
                        <span id="content_comment"></span> <!--insert content-->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
    </div>
</div>

