{% load i18n user_tags %}
{% load humanize %}

{% if note.send_from_ui == 'auto' %}
    <li class='auto-comment' id="{{ note.user_id }}" >
{% else %}
    <li class='user-comment' id="{{ note.user_id }}">
{% endif %}

<div class="row no-margin">
<div class="col-md-2 no-padding comment-avatar-right">
    <img src="{{ note.user_id|avatar }}"/>
</div>
<div class="col-md-10 note-content pull-right">
    <p class="comment-infor text-right">
        <span id="name_display">{{ note.user_id|display_name }}</span>
        <span class="mg-l-5 mg-r-5" id="icon_display" ><i class="material-icons comment-icon">&#xE0B7;<!--icon chat--></i></span>
    </p>
    <div class="comment-content-frame-right tri-right right-top">
        {{ note.content|linebreaks }}
        <div style="color: #ababab;font-size: 10px">
        {{ note.created_at|date:"H:i:s - d/m/Y" }}
        </div>
    </div>
    {% if note.file %}
    <div>
        File: <a href="{{ note.file.url }}">{{ note.get_file_name }}</a>
    </div>
    {% endif %}
</div>
</div>
<div class="clearfix"></div>
</li>