<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOBILE ALL KPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>team-view</title>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap3x/336/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/336/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/lato-font/latofonts.css">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/cjs-mobile-assess.css">-->
</head>
<style>
    #cjs-mb-as{
        font-family: "LatoWebMedium";
        text-align: center;
        font-size: 16px;
    }
    .cjs-message{
        margin-top: 5px;
    }
    .message-box{
        overflow: scroll;
        max-width: 800px;
        padding-bottom: 15px;
        overflow-x: hidden;
    }
    .mobile-kpis:hover{
        background-color: #ececec;
    }
    .mobile-icon{
        font-size: 16px;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
</style>
<body>

    <div id="cjs-mb-as">
        <div class="message-box container">

        </div>
        <div class="ms-text-input">
            <div class="container" style="max-width: 800px;">
                <div class="import-button">NHẬP</div>
                <div class="ms-input-margin">
                    <input class="ms-input" placeholder="Nhập tin nhắn..">
                </div>
            </div>
            <div class="container" style="max-width: 800px;">
                <div class="mobile-kpis">
                    <i class="fa fa-bars mobile-icon"></i><br>
                    KPIs
                </div>
                <div class="mobile-kpis" style="border-right: 1px #ccc solid">
                    <i class="fa fa-chevron-right mobile-icon"></i><br>
                    KPI Kế tiếp
                </div>
            </div>
        </div>
    </div>

</body>
</html>