{% load i18n %}
<link href="{{ STATIC_URL }}bower_components/toastr/toastr.min.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}bower_components/toastr/toastr.min.js?v={{ settings.VERSION }}"
        type="text/javascript"></script>

<script>
    var notification_list = [];

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-left",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": 0,
        "extendedTimeOut": 0,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "tapToDismiss": false
        //     "escapeHtml": false


    };

    function mark_read(id) {
        myJSObject = {'command': 'mark_read', 'id': id};
        cloudjetRequest.ajax({
            url: "{% url 'notificationAPI' %}",
            data: JSON.stringify(myJSObject),
            contentType: 'application/json',
            type: 'POST',
            success: function (data, status) {
                toastr.clear();

            }
        });
    }
    function mark_read_one(redirect) {
        if (notification_list.length > 0) {
            var noti = mark_read(notification_list[0].id);
            if (redirect == true) {
                window.location.replace(notification_list[0].link);
            }
        }
    }


    function mark_read_all() {
        myJSObject = {'command': 'mark_read_all'};
        cloudjetRequest.ajax({
            url: "{% url 'notificationAPI' %}",
            data: JSON.stringify(myJSObject),
            contentType: 'application/json',
            type: 'POST',
            success: function (data, status) {
                toastr.clear();
            }
        });
    }


    function show_notification() {
        cloudjetRequest.ajax({
            url: "{% url 'notificationAPI' %}?notification_type=user",
            type: 'get',
            success: function (data) {
                if (data.length > 0) {
                    notification_list = data;

                    toastr.options.onCloseClick = function () {
                        //console.log('close button clicked');
                        mark_read(data[0].id);
                    };
                    {#                toastr.options.onclick = function () {#}
                    {#                    //console.log('close button clicked');#}
                    {#                    //mark_read(data[0].id);#}
                    {#                    if (data[0].link != undefined) {#}
                    {##}
                    {#                        // location.href = ;#}
                    {#                        window.location.replace(data[0].link);#}
                    {##}
                    {##}
                    {#                    }#}
                    {#                    mark_read(data[0].id);#}
                    {#                };#}
                    var description = '';
                    description += '<a type="button" id="surpriseBtn" onclick="mark_read_one(true)"  style="margin: 0 8px 0 8px;">' + data[0].description.replace('\n', '<br/>').substring(0, 250) + '</a>';
                    description += '<br/><br/><a type="button" id="surpriseBtn" onclick="mark_read_one()" class="btn btn-default btn-xs" style="margin: 0 8px 0 8px; color: #888;">{% trans "Mark read" %}</a>';
                    description += '<a type="button" id="surpriseBtn" onclick="mark_read_all()" class="btn btn-default btn-xs" style="margin: 0 8px 0 8px; color: #888; margin-right:5px;">{% trans "Mark all read" %}</a>';

                    toastr.info(description, data[0].verb);
                }
            }
        });
        {% comment %} $.get("{% url 'notificationAPI' %}?notification_type=user", function (data, status) {

             if (data.length > 0) {
                 notification_list = data;

                 toastr.options.onCloseClick = function () {
                     //console.log('close button clicked');
                     mark_read(data[0].id);
                 };
 {#                toastr.options.onclick = function () {#}
 {#                    //console.log('close button clicked');#}
 {#                    //mark_read(data[0].id);#}
 {#                    if (data[0].link != undefined) {#}
 {##}
 {#                        // location.href = ;#}
 {#                        window.location.replace(data[0].link);#}
 {##}
 {##}
 {#                    }#}
 {#                    mark_read(data[0].id);#}
 {#                };#}
                 var description = '' ;
                 description += '<a type="button" id="surpriseBtn" onclick="mark_read_one(true)"  style="margin: 0 8px 0 8px;">' + data[0].description.replace('\n', '<br/>').substring(0, 250) + '</a>';
                 description += '<br/><br/><a type="button" id="surpriseBtn" onclick="mark_read_one()" class="btn btn-default btn-xs" style="margin: 0 8px 0 8px; color: #888;">{% trans "Mark read" %}</a>';
                 description += '<a type="button" id="surpriseBtn" onclick="mark_read_all()" class="btn btn-default btn-xs" style="margin: 0 8px 0 8px; color: #888; margin-right:5px;">{% trans "Mark all read" %}</a>';

                 toastr.info(description, data[0].verb);
             }

         });{% endcomment %}
    }

    $(document).ready(function () {

//        setInterval(function () {
        show_notification();
        console.log('show_notification();');
        //}, 5500);


    })

</script>