<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>{% include "common/js-test.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>BHAG</title>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link href='{{STATIC_URL}}fonts/lato-font/latofonts.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/15-year-vision.css">
{#        {% include "common/js-test.html" %}#}
    </head>
    <body>
    <style type="text/css">
        #vision-15{
            background-image: url({{STATIC_URL}}img/15-vision-background.png);
        }
    </style>
        <div id="vision-15">
            <div class="container">
                <div class="col-lg-12" style="text-align: center;">
                    <div id="big-title">TẦM NHÌN BHAG</div>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                    <div id="year-title">2030</div>
                </div>
                <div class="col-lg-12">
                    <div class="group">
                        <div class="group-title group-box">NHÓM 1</div>
                        <div class="group-body group-box">
                            <div class="input-box">
                                <div class="input-title">TIÊU ĐỀ BÀI BÁO</div>
                                <textarea class="input-width" rows="2"></textarea>
                            </div>
                            <div class="input-box">
                                <div class="input-title">TÊN TỜ BÁO</div>
                                <textarea class="input-width" rows="1"></textarea>
                            </div>
                            <div class="input-box">
                                <div class="input-title">NỘI DUNG</div>
                                <textarea class="input-width" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-title group-box">NHÓM 2</div>
                        <div class="group-body group-box">
                            <div class="input-box">
                                <div class="input-title">TIÊU ĐỀ BÀI BÁO</div>
                                <textarea class="input-width" rows="2"></textarea>
                            </div>
                            <div class="input-box">
                                <div class="input-title">TÊN TỜ BÁO</div>
                                <textarea class="input-width" rows="1"></textarea>
                            </div>
                            <div class="input-box">
                                <div class="input-title">NỘI DUNG</div>
                                <textarea class="input-width" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
