{% load cache %}

{% include "common/js-test.html" %}
{% cache 500 bsc_head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta name="google-site-verification" content="3w2kLzj2FKMRGxdAcT114l4MtzqaGyWljVUl6EFxIFs"/>
<meta property="fb:app_id" content="237235299740898"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

{% load tutor_extras %}
{% show_tracking %}

<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/tabular-grid.css?v=1442077212">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3x/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
<link href="{{ STATIC_URL }}bower_components/qtip2/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<!--<link href="{{ STATIC_URL }}stylesheet.css?v=1471860688534" rel="stylesheet" type="text/css" media="screen">-->
<link href="{{ STATIC_URL }}bower_components/intro.js/introjs.css" rel="stylesheet" type="text/css">
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap3x/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/mobile-detect/mobile-detect.js?v=1442077213"></script>
<script src="{{ STATIC_URL }}js/jquery.metadata.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}bower_components/qtip2/jquery.qtip.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}common.js?v={{ settings.VERSION }}" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}bower_components/intro.js/intro.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}sweetalert-master/dist/sweetalert.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}sweetalert-master/dist/sweetalert.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>



{#<script src="{{ STATIC_URL }}bower_components/PACE/pace.js"></script>#}
{#<link href="{{ STATIC_URL }}bower_components/PACE/themes/green/pace-theme-flash.css" rel="stylesheet"/>#}
{% include "common/pace.html" %}

{% endcache %}
