{% load i18n user_tags %}
{% load humanize %}
 {% if note.send_from_ui == 'auto' %}
	            <li class='auto-comment'>
	        {% else %}
	        <li class='user-comment'>
	        {% endif %}   <div style="width: 45px;  float:left;">
       <img src="{{ note.user_id|avatar }}"/>
   </div>
   <div class="note-content">
       <p style="color: #006dcc;font-weight: 800;margin-bottom: 5px;">{{ note.user_id|display_name }}
{% if note.send_from_ui == 'auto' %} <span class="comment-sign">auto</span> {% else %}
                     
                     <span class="comment-sign"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    
                    {% endif %}        
       <span style="color: #bbb;margin-left: 20px;font-weight: normal;">{{ note.created_at|date:"H:i:s - d/m/Y" }}</span></p>
       <div>{{ note.content|linebreaks }}</div>
       {% if note.file %}
       <div>
		File: <a href="{{ note.file.url }}">{{ note.get_file_name }}</a>
       </div>
       {% endif %}
    </div>
    <div class="clearfix"></div>
</li>