   <table class="table table-bordered table-striped table-hover">

    {% include "tobe_remove__kpi_modules/worksheet_header.html" %}
    {% for kpi in kpis %}
        <tr id="kpi-anchor-{{ kpi.id }}" class='kpi-anchor' data-kpi-id="{{ kpi.id }}"></tr>
{#        {% include "kpi_modules/worksheet.html" %}#}
    {% endfor %}
    </table>

<script>$('.kpi-anchor').each(function(i, obj) {
    alert(obj.attr('data-kpi-id'));
    //test
});

</script>