{% load i18n user_tags %}
{% load humanize %}

<div ng-class="{note_columns:self && person.share_to_manager}">
    <hr/>
 <div class="toggle-buttons" data-toggle="buttons" style="display: block; width: 100%;">
            <div class="btn-wrapper btn-groups" style="display: flex; width: 30%;">
                <label class="btn btn-primary comment" style="flex: 1;" onclick="toggle_user()">
                    {% trans "Comment" %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none">
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
                <label class="btn btn-primary auto" style="flex: 1;" onclick="toggle_auto()">
                    {% trans "Auto" %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none">
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
                <label class="btn btn-primary all active" style="flex: 1;" onclick="toggle_all()">
                    {% trans "All" %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none" checked>
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
            </div>
        </div>
    <ul class="kpi_notes" id="kpicomment{{ unique_key }}">
        {% for note in notes %}
           {% if note.send_from_ui == 'auto' %}
	            <li class='auto-comment'>
	        {% else %}
	        <li class='user-comment'>
	        {% endif %}
                <div style="width: 45px;  float:left;">
                    <img src="{{ note.user_id|avatar }}"/>
                </div>
                <div class="note-content">
                    <p style="color: #006dcc;font-weight: bold;margin-bottom: 5px;">{{ note.user_id|display_name }}
                    
                    {% if note.send_from_ui == 'auto' %} <span class="comment-sign">{% trans "Auto" %}</span> {% else %}
                     
                     <span class="comment-sign"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    
                    {% endif %} 
                    
                    
                    <span style="color: #bbb;margin-left: 20px;font-weight: normal;">{{ note.created_at|date:'H:i:s - d/m/Y' }}</span></p>
                    <div>{{ note.content|linebreaks }}</div>
                    {% if note.file %}
	                <div>
	                	File: <a href="{{ note.file.url }}">{{ note.get_file_name }}</a>
	                </div>
	                {% endif %}
                </div>
                <div class="clearfix"></div>
                
                
                
            </li>
        {% endfor %}
    </ul>

    <div>
        <textarea autosize
                  id="kpicommenttext{{ unique_key }}"
                  class="comment-note"
                  style="width: 603px;min-height: 70px" placeholder="{% trans "Write your note..." %}"></textarea>
        <div id="uploaded-file-{{ unique_key }}">
        </div>
        <input type="hidden" name="{{ unique_key }}" id="kpi-{{ unique_key }}">
        <a href="javascript:void(0)"
        	onclick="post_comment('{{ unique_key }}',  '{{ kpi_id }}')" class="btn btn-success btn-small">{% trans 'Save' %}</a>
    </div>

</div>
<style>
    div.btn-wrapper .btn span.glyphicon {
        opacity: 0;
    }

    div.btn-wrapper .btn.active span.glyphicon {
        opacity: 1;
    }

    div.btn-wrapper .btn-primary {
        color: #000;
        background-color: #f6f7f8;
        text-shadow: none;
    }

    div.btn-wrapper .btn {
        border: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4;
        border-radius: 0px;
        padding: 2px 5px;
        -webkit-font-smoothing: subpixel-antialiased;
    {#    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;#} transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    }

   .toggle-buttons .btn.btn-primary.active,
    .toggle-buttons .btn.btn-primary:hover {
        color: #000;
        background-color: #c4c4c4!important;
        background-position: 0 0;
        background-image: none;
        background-repeat: repeat-x;
        font-weight: bold;
    {#    background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%);#}{#    background-image: -o-linear-gradient(top, #5cb85c 0, #419641 100%);#}{#    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5cb85c), to(#419641));#}{#    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);#}{#    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);#}{#    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);#} background-repeat: repeat-x;
    }

</style>