{% load i18n user_tags %}
{% load humanize %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">{% trans "KPI's History" %}</h4>
</div>
<div class="modal-body">
	<div ng-class="{note_columns:self && person.share_to_manager}">

	    <hr/>
        <div class="observing_display">
            <p style="color:red" id="error-msg"></p>
	        <textarea autosize
	                  id="kpicommenttext{{ unique_key }}"
	                  class="comment-note form-control"
	                  style="width: 603px;min-height: 70px" placeholder="{% trans "Write your note..." %}" maxlength="500" oninput="hide_error('{{ unique_key }}')"></textarea>
	        <div id="uploaded-file-{{ unique_key }}">
	        </div>
	        <input type="hidden" name="{{ unique_key }}" id="kpi-{{ unique_key }}">
            <div class="text-right">
                <a href="javascript:void(0)"
	        	onclick="post_comment('{{ unique_key }}', '{{ kpi_id }}')" class="btn btn-success btn-sm " style="background-image:none;border-radius:0;margin-top: 5px" >{% trans 'Save note' %}</a>
            </div>

	    </div>
        <div class="toggle-buttons" data-toggle="buttons" style="display: block; width: 100%;">
            <div class="btn-wrapper btn-groups" style="display: flex; width: 30%;">
            	<label class="btn btn-primary all active KPI_TAB_CMT_ALL" style="flex: 1;" onclick="toggle_all()">
                   	{% trans 'All' %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none" checked>
                </label>
                <label class="btn btn-primary comment KPI_TAB_CMT_NOTE" style="flex: 1;" onclick="toggle_user()">
                    <i class="fa fa-comments" aria-hidden="true"></i> {% trans 'Notes' %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none">
                </label>
                <label class="btn btn-primary auto KPI_TAB_CMT_AUTO" style="flex: 1;" onclick="toggle_auto()">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {% trans 'Automatic recordings' %}
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none">
                </label>
            </div>
        </div>


	    <ul class="kpi_notes" id="kpicomment{{ unique_key }}">
	        {% for note in notes %}
	        {% if note.send_from_ui == 'auto' %}
	            <li class='auto-comment'>{% else %}<li class='user-comment'>
	        {% endif %}
	                <div style="width: 45px;  float:left;">
	                    <img src="{{ note.user_id|avatar }}"/>
	                </div>
	                <div class="note-content">
	                    <p style="color: #006dcc;font-weight: bold;margin-bottom: 5px;">
	                    {{ note.user_id|display_name }}
	                    {% if note.send_from_ui == 'auto' %}
	                    <span class="comment-sign"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
	                    {% else %}
                     	<span class="comment-sign"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    	{% endif %}

	                    <span style="color: #bbb;margin-left: 20px;font-weight: normal;">{{ note.created_at|date:"H:i:s - d/m/Y" }}</span></p>
	                    <div style="margin-left: 45px;word-break: break-all;word-wrap: break-word">{{ note.content|linebreaks }}</div>
	                    {% if note.file %}
		                <div>
		                	File: <a href="{{ note.file.url }}">{{ note.get_file_name }}</a>
		                </div>
		                {% endif %}
	                </div>
	                <div class="clearfix"></div>
	            </li>
	        {% endfor %}
	    </ul>


	</div>
</div>
<style>
    div.btn-wrapper .btn span.glyphicon {
        opacity: 0;
    }

    div.btn-wrapper .btn.active span.glyphicon {
        opacity: 1;
    }

    div.btn-wrapper .btn-primary {
        color: #fff;
        background-color: darkcyan;
        text-shadow: none;
        background-image: none;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    div.btn-wrapper .btn {
        border: none;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4;
        border-radius: 0px;
        padding: 2px 5px;
        -webkit-font-smoothing: subpixel-antialiased;
    {#    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;#} transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    }

    .toggle-buttons .btn.btn-primary.active
    {
        color: #fff;
        background-color: #419641!important;
        background-position: 0 0;
        background-image: none;
        background-repeat: repeat-x;
    {#    background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%);#}{#    background-image: -o-linear-gradient(top, #5cb85c 0, #419641 100%);#}{#    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5cb85c), to(#419641));#}{#    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);#}{#    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);#}{#    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);#} background-repeat: repeat-x;
    }
</style>
<script>
        function hide_error(id){
             $("#error-msg").hide()
             $("#kpicommenttext" + id).css('border','1px solid #ccc');
        }
</script>
