{% load i18n %}
{% load humanize %}
{##}
{#<div style="margin-top: 10px;">#}
{#    <hr/>#}
{#    <h3>Tiến độ & Sự cam kết trong việc thực hiện đánh giá KPI </h3>#}
{#    <table class="table table-bordered">#}
{#        <tr style="width: 100%">#}
{##}
{##}
{#            <td style="width: 300px; color:#008dcc">Điểm cam kết thực hiện KPI: {{ review_progress.kpi_score }}</td>#}
{#            <td style="width: 300px; color: green;">Điểm Ghi chú, góp ý, cải tiến: {{ review_progress.note_score }}</td>#}
{#             <td style="color: red;">  Điểm bị trừ vì trễ {{ review_progress.late_score }}</td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    <div style="border-radius: 3px; border: 1px solid #cccccc; width:980px; height: 30px;">#}
{#        <div style=" height: 30px; width: {{ review_progress.get_score_bar }}px; background: {{ review_progress.get_color }};">#}
{#<p style=" padding:8px; font-weight: 800; color:#fff;">#}
{#             {{ review_progress.score }} ĐIỂM#}
{#    </p>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}