{% load kpi inplace_edit i18n %}
<tr class="parent-{{ parent.id }} kpi-{{ kpi.id }} klevel2">
    <td></td>
    <td>
         <form class="add-new-form" method="POST"> {% csrf_token %}
         <input type="hidden" name="parent_kpi" value="{{ kpi.id }}">
         <input type="hidden" name="level" value="3">
         <input class="xbtn btn" type="button" value="+" /></form>
    </td>

    <td colspan="2">
    	{% if user.is_staff %}[<a target="_blank" href="/admin/performance/kpi/{{ kpi.id }}/">{{ kpi.id }}</a>]{% endif %} 
    	{% inplace_edit "kpi.name" adaptor="kpi_name", loads="kpi" %}
    	{% if user|can_remove_kpi:kpi %}
       	<a href="javascript:remove_kpi('{{ kpi.id }}', '{{ kpi.unique_key }}')"><i class="icon-remove"></i></a>
       	{% endif %}
    </td>
    <td >{% inplace_edit "kpi.owner_email" edit_empty_value='---', adaptor='kpi_assign_user', auto_height=1, auto_width=1 %}</td>
    <td>{% inplace_edit "kpi.unit" edit_empty_value='---', adaptor="kpi_unit_operator" %}</td>
    <td>{% inplace_edit "kpi.current_goal" edit_empty_value='---', adaptor="kpi_goal" %}</td>
    <td>{% inplace_edit "kpi.operator" edit_empty_value='---', adaptor="kpi_unit_operator" %}</td>
    <td>{% inplace_edit "kpi.year_target|show_zero" edit_empty_value='---', loads="kpi" %}</td>
    <td>{% inplace_edit "kpi.quarter_one_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td>{% inplace_edit "kpi.quarter_two_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td>{% inplace_edit "kpi.quarter_three_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td>{% inplace_edit "kpi.quarter_four_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
</tr>