{% load kpi inplace_edit i18n %}
<tr class="kpi-{{ kpi.id }} klevel1">
    <td>
        {% if not xxxxx %}
        <span>{{ kpi.get_prefix_category }}{{ kpi.ordering|floatformat }}</span>
        {% else %}
            N/A
        {% endif %}

      <form class="add-new-form" method="POST"> {% csrf_token %}
      	<input type="hidden" name="parent_kpi" value="{{ kpi.id }}">
      	<input type="hidden" name="level" value="2">
        <input class="xbtn btn" type="button" value="+" /></form>
    </td>

    <td colspan="3">
    	{% if user.is_staff %}[<a target="_blank" href="/admin/performance/kpi/{{ kpi.id }}/">{{ kpi.id }}</a>]{% endif %} 
    	{% inplace_edit "kpi.name" adaptor="kpi_name" %}
    	&nbsp;
    	<a href="{% url 'kpi-comment' kpi.unique_key %}?id={{ kpi.id }}" data-toggle="modal" data-target="#kpicoment-modal"><i class="icon-comment"><span class="badge badge-info"></span></i></a>
    	{% if user|can_remove_kpi:kpi and can_edit %}
       	<a style="margin-left: 5px;" href="javascript:remove_kpi('{{ kpi.id }}', '{{ kpi.unique_key }}')"><i class="icon-remove"></i></a>
       	{% endif %}
       	<input type="hidden" name="kpi_id" value="{{ kpi.id }}">
    </td>
    <td >
    	{% inplace_edit "kpi.owner_email|default:'---'" edit_empty_value='---', adaptor="kpi_assign_user", auto_height=1, auto_width=1 %}
    	
   	</td>
    <td class="{% if not kpi.unit and kpi.user_id != ceo_id %}required_class{% endif %}">{% inplace_edit "kpi.unit" edit_empty_value='---', adaptor="kpi_unit_operator" %}</td>
    <td class="{% if not kpi.current_goal and kpi.user_id != ceo_id %}required_class{% endif %}">{% inplace_edit "kpi.current_goal" edit_empty_value='---', adaptor="kpi_goal" %}</td>
    <td class="{% if not kpi.operator and kpi.user_id != ceo_id %}required_class{% endif %}">{% inplace_edit "kpi.operator" edit_empty_value='---', adaptor="kpi_unit_operator" %}</td>
    <td>{% inplace_edit "kpi.year_target|show_zero" edit_empty_value='---', loads="kpi" %}</td>
    <td class="{% if quarter.quarter == 1 %}current_quarter {% if not kpi.quarter_one_target and kpi.quarter_one_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}{% endif %}">{% inplace_edit "kpi.quarter_one_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td class="{% if quarter.quarter == 2 %}current_quarter {% if not kpi.quarter_two_target and kpi.quarter_two_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}{% endif %}">{% inplace_edit "kpi.quarter_two_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td class="{% if quarter.quarter == 3 %}current_quarter {% if not kpi.quarter_three_target and kpi.quarter_three_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}{% endif %}">{% inplace_edit "kpi.quarter_three_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
    <td class="{% if quarter.quarter == 4 %}current_quarter {% if not kpi.quarter_four_target and kpi.quarter_four_target != 0 and kpi.user_id != ceo_id %}required_class{% endif %}{% endif %}">{% inplace_edit "kpi.quarter_four_target|show_zero|intcomma" edit_empty_value='---', loads="kpi humanize", adaptor='kpi_quarter_target' %}</td>
</tr>
