{% load i18n %}
<thead style="font-size: 15px; font-weight: bold; background: #fefefe; color:#333;">
<tr>
    <td class="target">ID</td>


    <td colspan="3">{% trans "Name" %}</td>
    <td>{% blocktrans %}In Charge (email only){% endblocktrans %}</td>
    <td>{% trans "Unit" %}</td>
    <td>{% blocktrans %}Measurement Methods{% endblocktrans %} <br/> {% blocktrans %}or Description{% endblocktrans %}</td>
    <td>Operator</td>
    <td class="target">{% blocktrans %}Year Target{% endblocktrans %}</td>
    <td class="target {% if quarter.quarter == 1 %}current_quarter{% endif %}">{% blocktrans %}Q1 Target{% endblocktrans %}</td>
    <td class="target {% if quarter.quarter == 2 %}current_quarter{% endif %}">{% blocktrans %}Q2 Target{% endblocktrans %}</td>
    <td class="target {% if quarter.quarter == 3 %}current_quarter{% endif %}">{% blocktrans %}Q3 Target{% endblocktrans %}</td>
    <td class="target {% if quarter.quarter >= 4 %}current_quarter{% endif %}">{% blocktrans %}Q4 Target{% endblocktrans %}</td>
</tr></thead>