{% load i18n kpi %}
{% spaceless %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
    <head>
        {% include "common/js-test.html" %}
        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js?v={{ settings.VERSION }}"
                type="text/javascript"></script>


        <script src="{{ STATIC_URL }}js/lib/jquery_csrf.js?v={{ settings.VERSION }}"
                type="text/javascript"></script>
            <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>



        <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}customize-v5/customize-v5.css?v={{ settings.VERSION }}" type="text/css" media="screen"/>

        <meta name="description" content="Cloudjet Business Solutions"/>

        <meta name="keywords" content="Cloudjet Business Solutions "/>
        <title>
            {% block title %}Cloudjet KPI{% endblock %}
        </title>
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico"/>
        <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>

        {% block vue_js %}
            <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js"></script>
            <script type="text/javascript"
                src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js"></script>

        {% endblock %}



{#        {% include "raven.html" %}#}


        {% block js_lib %}





        {% endblock %}

        {% block extra_css %}
        {% endblock %}




        {% load tutor_extras %}
        {% show_tracking %}

    </head>
    <body class="bg-sm">


    {% block content %}
    {% endblock %}

    </body>
    </html>
{% endspaceless %}