
        <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue/dist/vue.min.js?v={{ settings.VERSION }}"></script>
        {#    <script type="text/javascript"#}
        {#                src="{{ STATIC_URL }}management/bower_components/vue-validator/dist/vue-validator.min.js"></script>#}
        <script type="text/javascript"
                src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js"></script>
         {% include "raven.html" %}
        <script type="text/javascript"
                src="{{ STATIC_URL }}v5/bower_components/js-xlsx/dist/jszip.js"></script>
        <script type="text/javascript"
                src="{{ STATIC_URL }}v5/bower_components/js-xlsx/dist/xlsx.min.js"></script>
