{% extends "bsc_base.html" %}
{% load i18n user_tags %}
{% block title %}
        {% blocktrans %}KPI For Position{% endblocktrans %}
{% endblock %}

{% block menubar %}
{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/kpi_editor.css?v={{ settings.VERSION }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/vue-router/dist/vue-router.min.js"></script>
    {% trans "KPI position" as titlePage %}
    {% include 'performance/nav_bar.html' with logoLink="img/csb/strategyIcon.png"|get_static %}

    <div class="kpi-position-box">
        <div class="pane-contain no-shadow">
            {% include "performance/bsc/kpi_position/kpi_position_content.html" %}
        </div>
    </div>
{% endblock %}