{% load i18n %}

<div id="app-kpi-pos">
    <div id="main-content">
        <div class="top-toolbar-position text-right">
            <p class="position-respond">{% trans "SET OF KPI FOR POSITION" %} <span class="title">${ position_title }$</span></p>
            <button class="btn btn-normal btn-collapse btn-cus-white btn-cus-5-7" id="btn-collapse-group-kpi">
                <i class="material-icons font-16">remove</i>
                {% blocktrans %}Hide Group{% endblocktrans %}
            </button>
            <div class="clear"></div>
        </div>

        <div v-if="_bsc_groups" v-for="bsc_data,category in _bsc_groups" :class=" ' bsc-category-component'">
            <div :class="bsc_class[category] + ' bsc-category mg-t-20'" :data-bsc="category" :id="'id-' + category">
                <div class="rows-table-sm">
                    <div class="col-sm-2 col-table-2 strategy-first-col no-padding">
                        <div class="bsc-category-title">
                            <div class="category-weight" :id="'category-weight-' + category">
                                <span class="weight-value">
                                    ${ category_weight(category).toFixed(2) }$ <span class="font-normal">(${ to_percent(category_weight(category), total_weight) }$)</span>
                                </span>
                            </div>
                            <div class="format-group-title">
                                <div class="content">
                                    ${ category_name(category) }$
                                </div>
                            </div>
                        </div>

                        <div class="add_group">
                            <button :id="'btn-add-group-' + category"
                                    class="btn btn-normal btn-width-90 btn-cus-white"
                                    @click="open_modal_add_group_kpi(category)">
                                {% trans "Add Target" %}
                            </button>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div class="col-sm-10 col-table-10">
                        <div class="bsc-category-content solid-border">
                            <div class="group-container">
                                <div v-for="group,group_index in bsc_data" class="kpi-group"
                                     :id="'group-' + group.id">
                                    <div class="group-title-container">
                                        <div class="kpi-group-title">
                                            <div class=" group-weight">
                                                <span class="weight-value">${ group_weight(category,group).toFixed(2) }$ <span
                                                        class="font-normal">(${ to_percent(group_weight(category,group), total_weight) }$)</span></span>
                                            </div>

                                            <div class="edit-group-box">
                                                <div class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="material-icons font-20">&#xE5D4;<!--more vert--></i>
                                                </div>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <li>
                                                        <a class=""
                                                           @click="open_modal_method_add_kpi(category,group_index)"
                                                           data-toggle="modal">
                                                            <i class="material-icons font-16">&#xE145;<!--add--></i>
                                                            {% trans "Add KPI" %}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class=""
                                                           @click="open_modal_edit_group_kpi(group_index, category)"
                                                           data-toggle="modal">
                                                            <i class="material-icons font-16">&#xE3C9;
                                                                <!--edit--></i>
                                                            {% trans "Edit group" %}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" class="remove-btn"
                                                           @click="remove_group(group_index)">
                                                            <i class="material-icons font-16 remove">&#xE872;
                                                                <!--delete--></i>
                                                            {% trans "Delete group" %}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="group-title item-name">
                                                ${ group_index }$
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <ul class="list-goals-position-kpi" :data-group="group_index" :data-category="category">
                                        <draggable v-model="group.kpis" class="dragArea"
                                                   :options="{'group':'kpis',}"
                                                   @end="update_kpi_group($event)">
                                            <li class="transition" v-for="kpi,index in group"
                                                :data-kpi="kpi.kpilib_unique_id" :id="'id-kpi-' + kpi.kpilib_unique_id" :key="kpi.ordered">
                                                <div class="clearfix display-table">
                                                    <div class="goal-content">
                                                        <div class="kpi-detail">
                                                            <div class="kpi-weight">
                                                                <span class="float-right"></span>
                                                                ${ kpi.weight }$ <span class="font-normal">(${ to_percent(kpi.weight, total_weight) }$)</span>
                                                            </div>
                                                            <div class="item-name">
                                                                ${ kpi.name|prettify_text }$
                                                            </div>

                                                            <div class="edit-group-box">
                                                                <div class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="material-icons font-20">&#xE5D4;
                                                                        <!--more vert--></i>
                                                                </div>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenu2">
                                                                    <li>
                                                                        <a class="edit-kpi"
                                                                           @click="open_modal_edit_kpi(kpi);">
                                                                            <i class="material-icons font-16">&#xE3C9;
                                                                                <!--edit--></i>
                                                                            {% trans "Edit KPI" %}
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="remove-kpi"
                                                                           @click="remove_kpi(kpi.kpilib_unique_id)">
                                                                            <i class="material-icons font-16 remove">&#xE872;
                                                                                <!--delete--></i>
                                                                            {% trans "Delete KPI" %}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div v-if="kpi.description != null && kpi.description.trim().length > 0"
                                                                 v-settooltipkpi
                                                                 class="edit-group-box goal-desc-tooltip">
                                                                <span class="tooltip-content">
                                                                    <ul class="infor-kpi">
                                                                        <li><strong>{% trans "Operator" %}</strong> : ${ kpi.operator|trim|prettify_text }$</li>
                                                                        <li><strong>{% trans "Unit" %}</strong> : ${ kpi.unit|trim|prettify_text }$</li>
                                                                        <li><strong>{% trans "Measurement" %}</strong> : ${ kpi.description|trim|prettify_text }$</li>
                                                                    </ul>
                                                                </span>
                                                                <i class="material-icons font-20">&#xE88F;
                                                                    <!--info outline--></i>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                        </draggable>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
    </div>

    <div class="alert alert-success fade-alert update-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{% trans "Successful" %}!</strong> {% trans "The data has been updated" %}.
    </div>

    <div class="alert alert-danger fade-alert update-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{% trans "Error" %}, </strong> {% trans "group's name cannot be empty" %}!.
    </div>


    <div id="add-and-edit-kpi-modal" class="modal fade in mg-t-50" tabindex="-1" role="dialog"
         aria-labelledby="edit-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                        <span class="title"
                              v-if="is_edit_kpi"><strong>{% trans "Edit KPI information" %}</strong></span>
                        <span class="title" v-else><strong>{% trans "Created KPI" %}</strong></span>
                    </div>
                </div>
                <div class="modal-body pd-t-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="mg-bt-5">{% trans "KPI name" %}<span
                                    class="float-right color-blur-white">{% trans "Required" %}</span></p>
                            <input type="text" name="" placeholder="{% trans 'Must not be empty' %}"
                                   class="form-control input-group" @change="check_require()"
                                   v-model=kpi_temp.name>
                        </div>

                        <div class="col-lg-7 pd-r-0 mg-t-10">
                            <p class="mg-bt-5">{% trans "Weighting" %}<span
                                    class="float-right color-blur-white">{% trans "Required is number" %}</span></p>
                            <input type="text" name="" @change="check_require()" placeholder="" class="form-control input-group" onkeypress="check_number(event)"
                                   v-model=kpi_temp.weight>
                        </div>

                        <div class="col-lg-5 mg-t-10">
                            <p class="mg-bt-5">{% trans "Operator" %}</p>
                            <select class="form-control input-group" v-model=kpi_temp.operator>
                            	<option selected="selected"> >= </option>
                                <option> <= </option>
                                <option> = </option>
                            </select>
                        </div>

                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Unit of measure" %}</p>
                            <input type="text" id="id_" name="" placeholder="" class="form-control input-group"
                                   v-model=kpi_temp.unit>
                        </div>
                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Measurement" %}</p>
                            <textarea class="form-control" rows="4" id="comment"
                                      v-model="kpi_temp.current_goal"></textarea>
                        </div>
                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Data sources" %}</p>
                            <input type="text" id="id_" name="" placeholder=""
                                  v-model=kpi_temp.data_source class="form-control input-group">
                        </div>

                    </div>
                </div>

                <div class="modal-footer format">
                    <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-lr-20"
                            data-dismiss="modal"
                            aria-hidden="true"
                            @click="reset_modal()">{% trans "Cancel" %}
                    </button>

                    <button class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" :disabled="!check_require()" @click="edit_kpi()"
                            v-if="is_edit_kpi">
                        <i class="material-icons font-20 pd-r-10">save<!--save--></i>{% trans "Save" %}
                        <input type="hidden" name="category_key" value="None"/>
                    </button>

                    <button :disabled="!check_require()" class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="create_kpi()" v-else>
                        <i class="material-icons font-20 pd-r-10">&#xE145;<!--add--></i>{% trans "Create" %}
                        <input type="hidden" name="category_key" value="None"/>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div id="method-add-kpi-modal" class="modal fade in mg-t-50" tabindex="-1" role="dialog"
         aria-labelledby="method-add-kpi-label"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                        <span class="title"><strong>{% trans "Add KPI" %}</strong></span>
                    </div>
                </div>
                <div class="modal-body pd-t-5">
                    <div class="row mg-bt-15">
                        <div class="col-xs-5 frame-add-kpi">
                            <div class="add-kpi-content" @click="open_modal_add_kpi(category_temp,group_index_temp)">
                                <div class="add-kpi-format">
                                    <i class="material-icons icon">add</i>
                                    <p class="mg-t-10">{% trans "Create new" %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 or">
                            <div class="content">
                                <p>{% trans "Or" %}</p>
                            </div>
                        </div>
                        <div class="col-xs-5 frame-choose-kpi">
                            <div class="choose-kpi-content">
                                <div class="choose-kpi-format">
                                    <i class="material-icons icon">library_books</i>
                                    <p class="mg-t-10">{% trans "From KPI library" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add-and-edit-group-kpi-modal" class="modal fade in mg-t-50" tabindex="-1" role="dialog"
         aria-labelledby="edit-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                        <span class="title" v-if=is_edit_group_kpi><strong>{% trans "Edit target" %}</strong></span>
                        <span class="title" v-else><strong>{% trans "Create Target" %}</strong></span>
                    </div>
                </div>
                <div class="modal-body pd-t-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>{% trans "Target name" %}<span
                                    class="float-right color-blur-white">{% trans "Required" %}</span></p>
                            <textarea class="form-control" rows="4" id="comment" @change="check_require()"
                                      v-model="kpi_temp.group_name"
                                      placeholder="{% trans "Must not be empty" %}"></textarea>
                        </div>
                    </div>
                    <div class="row add-kpi">
                        <div class="col-lg-12">
                            <p class="mg-bt-5">{% trans "KPI name" %}<span
                                    class="float-right color-blur-white">{% trans "Required" %}</span></p>
                            <input type="text" id="id_" name="" placeholder="{% trans 'Must not be empty' %}"
                                   class="form-control input-group" @change="check_require()"
                                   v-model=kpi_temp.name>
                        </div>

                        <div class="col-lg-7 pd-r-0 mg-t-10">
                            <p class="mg-bt-5">{% trans "Weighting" %}<span
                                    class="float-right color-blur-white">{% trans "Required" %}</span></p>
                            <input type="text" id="id_" name="" @change="check_require()" placeholder="" class="form-control input-group" onkeypress="check_number(event)"
                                   v-model=kpi_temp.weight>
                        </div>

                        <div class="col-lg-5 mg-t-10">
                            <p class="mg-bt-5">{% trans "Operator" %}</p>
                            <select class="form-control input-group" v-model=kpi_temp.operator>
                                <option selected="selected"><=</option>
                                <option>>=</option>
                                <option>=</option>
                            </select>
                        </div>

                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Unit of measure" %}</p>
                            <input type="text" id="id_" name="" placeholder="" class="form-control input-group"
                                   v-model=kpi_temp.unit>
                        </div>
                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Measurement" %}</p>
                            <textarea class="form-control" rows="4" id="comment"
                                      v-model="kpi_temp.current_goal"></textarea>
                        </div>
                        <div class="col-lg-12 mg-t-10">
                            <p class="mg-bt-5">{% trans "Data sources" %}</p>
                            <input type="text" id="id_" v-model="kpi_temp.data_source" name="" placeholder="" class="form-control input-group">
                        </div>

                    </div>
                </div>

                <div class="modal-footer format">
                    <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-lr-20"
                            data-dismiss="modal"
                            aria-hidden="true"
                            @click="reset_modal()">{% trans "Cancel" %}
                    </button>

                    <button :disabled="!check_require()" class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="edit_group()"
                            v-if="is_edit_group_kpi">
                        <i class="material-icons font-20 pd-r-10">save<!--save--></i>{% trans "Save" %}
                        <input type="hidden" name="category_key" value="None"/>
                    </button>

                    <button :disabled="!check_require()" class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="add_group()" v-else>
                        <i class="material-icons font-20 pd-r-10">&#xE145;<!--add--></i>{% trans "create" %}
                        <input type="hidden" name="category_key" value="None"/>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div id="edit-group-kpi-modal" class="modal fade in mg-t-50" tabindex="-1" role="dialog"
         aria-labelledby="edit-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content border-rad-3">
                <div class="modal-header border-bt-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                        <span class="title"><strong>{% trans "Edit target" %}</strong></span>
                    </div>
                </div>
                <div class="modal-body pd-t-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>{% trans "Target name" %}<span
                                    class="float-right color-blur-white">{% trans "Required" %}</span></p>
                            <textarea class="form-control" rows="4" id="comment" @change="check_require_edit_group()"
                                      v-model="group_name"
                                      placeholder="{% trans "Must not be empty" %}"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer format">
                    <button class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-lr-20"
                            data-dismiss="modal"
                            aria-hidden="true"
                            @click="reset_modal()">{% trans "Cancel" %}
                    </button>

                    <button :disabled="!check_require_edit_group()" class="btn btn-normal btn-cus-add btn-cus-5-7 pd-lr-10" @click="edit_group_name()">
                        <i class="material-icons font-20 pd-r-10">save<!--save--></i>{% trans "Save" %}
                        <input type="hidden" name="category_key" value="None"/>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('#btn-collapse-group-kpi').click(function () {
            if ($('#main-content').is('.group-collapse')) {
                $('#main-content').removeClass('group-collapse');
                $('#btn-collapse-group-kpi').html('<i class="material-icons font-16">remove</i>'+ gettext('Hide Group'));
            } else {
                $('#main-content').addClass('group-collapse');
                $('#btn-collapse-group-kpi').html('<i class="material-icons font-16">add</i>' + gettext('Show Group'));
            }
        });
    });
</script>

<script type="text/javascript" src="{{ STATIC_URL }}v5/bower_components/Sortable/Sortable.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}bower_components/lodash/vendor/underscore/underscore-min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}v5/bower_components/vue.draggable/dist/vuedraggable.min.js"></script>
<script type="text/javascript">
    // data temp of vue
    const router = new VueRouter();
    var app = new Vue({
        el: '#app-kpi-pos',
        level: 'root',
        router: router,
        data: {
            is_edit_kpi: false,
            is_edit_group_kpi: false,
            position_kpi_id: '',
            category_temp: '',
            bsc_category: '',
            position_title: '',
            group_name: '',
            old_group_name: '',
            kpilib_unique_id: '',
            list_kpi: [],
            is_save: false,
            group_index_temp: '',
            position_id: {{ position }},
            groups: {},
            export_search: false,
            debug: true,
            group_id: '',
            kpi_id: '',
            bsc_category_ready: false,
            s_map: {},
            bsc_groups: {
                "financial": {},
                "customer": {},
                "internal": {},
                "learninggrowth": {}
            },
            bsc_class: {
                'internal': 'internal-process',
                'financial': 'financial',
                'customer': 'customer',
                'learninggrowth': 'learn-growth'
            },
            bsc_order: {
                'financial': 1,
                'customer': 2,
                'internal': 3,
                'learninggrowth': 4
            },
            map_group: {},
            old_group: {},
            kpi_temp: {},
            group_kpi_temp: {},
            unit: {
                'financial': 4,
                'customer': 0,
                'internal': 0,
                'learninggrowth': 0
            },
            smap_hash: "strategymap-DuMpB",

        },
        computed: {
            _bsc_groups: function () {
                var that = this
                var result = {}
                for (var key in that.bsc_order) {
                    result[key] = that.bsc_groups[key];
                    if (that.bsc_groups[key] === undefined) {
                        return false;
                    }
                }
                return result;
            },
            total_weight: function () {
                var _this = this;
                total = 0;
                Object.keys(this.bsc_order).forEach(function (bsc) {
                    total += _this.category_weight(bsc);
                })
                return total;
            }
        },
        watch: {
            'bsc_groups': {
                handler: function () {

                }
            },
            'unit': {
                handler: function (oldVal, newVal) {
                    var that = this;
                    // To check progress of every bsc group, if anygroup is fully loaded, then re order bsc group
                    try {
                        for (var key in that.unit) {
                            if (that.bsc_groups[key].group_kpis.length === that.unit[key]) {
                                that.$emit('reorder_group', key)
                            }
                        }
                    } catch (e) {
                        console.log(e)
                    }

                },
                deep: true
            }
        },
        filters: {
            'prefix_bsc': function (prefix_id) {
                if (prefix_id)
                    return prefix_id[0];
                else return prefix_id;
            },
            'trim': function (description) {
                if (description != null) {
                    return description.trim();
                }
                return description;
            },
            'prettify_text': function (text) {
                var regex = /<br\s*[\/]?>/gi;
                if (text)
                    return text.replace(regex, "\n");
                else return text;
            },
        },
        created: function(){

            this.get_position_kpi();
        },
        delimiters: ['${', '}$'],
        methods:{
            get_position_kpi: function(){
                var that = this;
                cloudjetRequest.ajax({
                    method: 'GET',
                    data: {
                        'position': that.position_id
                    },
                    url: "{% url 'api_v2.get_position_kpi' %}",
                    success: function (data) {
                    	that.position_kpi_id = data.id;
                        that.position_title = data.position_name;
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                    }
                })


            },

            to_percent: function (val, total) {
                if (total == 0) {
                    return "0.00%";
                }
                return (val / total * 100).toFixed(2) + "%";
            },

            reset_modal: function () {
                var that = this;
                $('#add-and-edit-kpi-modal').modal('hide');
                //$('#add-group-kpi-modal').modal('hide');
                $('#edit-modal-kpi').modal('hide');
                that.kpi_temp = {};
            },


            update_kpi_group: function (event) {
                var that = this
                var kpi_id = $(event.item).attr('data-kpi');
                // Important step: building old group mapping
                var new_group_name = $('#id-kpi-' + kpi_id).parent().parent().attr('data-group');
                var category = $('#id-kpi-' + kpi_id).parent().parent().attr('data-category');
                that.list_kpi.forEach(function(kpi){
                   if (kpi.kpilib_unique_id == kpi_id){
                       kpi.group_name = new_group_name;
                       kpi.bsc_category = category;
                   }
                });
                cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpis: that.list_kpi
                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/update/`,
                    success: function (data) {
                    }
                })
            },

            category_name: function (category) {
                switch (category) {
                    case 'financial':
                        return gettext('FINANCIAL').toUpperCase()
                    case 'customer':
                        return gettext('CUSTOMER').toUpperCase()
                    case 'internal':
                        return gettext('INTERNAL PROCESS').toUpperCase()
                    case 'learninggrowth':
                        return gettext('LEARNING & GROWTH').toUpperCase()
                    default:
                        break;
                }
            },
            group_weight: function (bsc_category, group) {
                var that = this;
                //console.log(group)
                try {
                    var _total_group_weight = group.reduce(function (prevValue, elem) {
                        return prevValue + parseFloat(elem.weight);
                    }, parseFloat(0))

                    var total_group_weight = parseFloat(isNaN(_total_group_weight) ? 0 : _total_group_weight);

                } catch (e) {
                    var total_group_weight = parseFloat(0);
                    console.log(e.toString())
                }
                return total_group_weight;
            },
            category_weight: function (bsc_category) {
                var that = this;
                var total_weight = parseFloat(0);
                var bsc_data = that.bsc_groups[bsc_category];
                try {
                    var _total_group_weight = parseFloat(0);
                    Object.keys(bsc_data).forEach(function (group) {
                        _total_group_weight += parseFloat(that.group_weight(bsc_category, bsc_data[group]));
                    });
                    var total_group_weight = parseFloat(isNaN(_total_group_weight) ? 0 : _total_group_weight);
                } catch (e) {
                    var total_group_weight = parseFloat(0);
                    console.log(e.toString())

                }
//                try {
//                    var _total_ungroup_weight = bsc_data.ungroup_kpis.reduce(function (prevValue, group) {
//                        return parseFloat(that.group_weight(bsc_category, group)) + prevValue;
//                    }, parseFloat(0))
//                    var total_ungroup_weight = parseFloat(isNaN(_total_ungroup_weight) ? 0 : _total_ungroup_weight);
//                } catch (e) {
//                    var total_ungroup_weight = parseFloat(0);
//                    console.log(e.toString())
//                }
                total_weight = total_group_weight;
                return total_weight;
            },



            remove_group: function (group_index) {
                //remove group
                var that = this;
                swal({
                    title: gettext('KPI target deleted can not be restored'),
                    text: gettext('Deleting KPI target will cause deleting all KPIs of target. If you want to keep these KPIs, please move KPIs to another target before deleting KPI target'),
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: gettext('Cancel'),
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: gettext('OK'),
                    closeOnConfirm: true
                }, function () {
                    that.list_kpi = _.filter(that.list_kpi, function(kpi){ return kpi.group_name != group_index});

                    cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpis: that.list_kpi
                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/update/`,
                    success: function (data) {
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                    }
                })
                });
            },

            open_modal_method_add_kpi: function (bsc_category, group_index) {
                var that = this;
                that.bsc_category = bsc_category;
                that.kpi_temp.group_name = group_index;
                $('#method-add-kpi-modal').modal('show');
            },
            open_modal_add_kpi: function () {
                this.is_edit_kpi = false;
                this.kpi_temp = {
                    'group_name': this.kpi_temp.group_name,
                    'name': '',
                    'weight': '',
                };
                $('#add-and-edit-kpi-modal').modal('show');
            },
            open_modal_edit_kpi: function (kpi) {
                this.kpi_temp = {
                    'group_name': '',
                    'name': '',
                    'weight': '',
                };
                Object.assign(this.kpi_temp, kpi);
                this.is_edit_kpi = true;
                this.kpilib_unique_id = kpi.kpilib_unique_id;
                this.bsc_category = kpi.bsc_category;
                $('#add-and-edit-kpi-modal').modal('show');
            },
            open_modal_add_group_kpi: function (bsc_category) {
                this.is_edit_group_kpi = false;
                this.kpi_temp = {
                    'group_name': '',
                    'name': '',
                    'weight': '',
                };
                this.bsc_category = bsc_category;

                $('#add-and-edit-group-kpi-modal').modal('show');
            },

            open_modal_edit_group_kpi: function (group_name, bsc_category) {
                this.is_edit_group_kpi = true;
                this.group_name = group_name;
                this.old_group_name = group_name;
                this.bsc_category = bsc_category;
                $('#edit-group-kpi-modal').modal('show');

            },

            check_require: function(){
//                this.is_save = false;
                if (this.kpi_temp.group_name != '' && this.kpi_temp.name != '' && this.kpi_temp.weight != ''){
                    if ($.isNumeric(this.kpi_temp.weight)){
                        return true
                    }
                }
                return false
            },

            check_require_edit_group: function(){
//                this.is_save = false;
                if (this.group_name == ''){
                    return false;
                }
                return true;
            },

            sort_bsc_and_group: function (list_kpi){
                var that = this;
                that.bsc_groups = {
                    "financial": {},
                    "customer": {},
                    "internal": {},
                    "learninggrowth": {}
                };
                bsc = _.groupBy(list_kpi, function(kpi){ return kpi.bsc_category; });
                for (var key in bsc){
                    if (bsc.hasOwnProperty(key)) {
                        group = _.groupBy(bsc[key], function(kpi){ return kpi.group_name; });
                        bsc[key] = group;
                    }
                }
                Object.assign(that.bsc_groups, bsc);
                that.$forceUpdate();
            },

            remove_kpi: function (kpilib_unique_id) {
                var that = this;
                swal({
                    title: gettext('KPI deleted can not be restored'),
                    text: gettext('Are you sure?'),
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: gettext('Cancel'),
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: gettext('OK'),
                    closeOnConfirm: true
                }, function () {
                    cloudjetRequest.ajax({
                        method: 'POST',
                        data: JSON.stringify({
                            kpilib_unique_id: kpilib_unique_id,
                        }),
                        url: `/api/v2/position-kpi/${that.position_kpi_id}/delete/`,
                        success: function (data) {
                            that.list_kpi = data.kpi_json_data.kpis;
                            that.sort_bsc_and_group(that.list_kpi);
                        }
                    });
                });
            },

            add_group: function () {
                var that = this;

                cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpi:
                            {
                                kpilib_unique_id: '',
                                group_name: that.kpi_temp.group_name,
                                bsc_category: that.bsc_category,
                                name: that.kpi_temp.name,
                                weight: that.kpi_temp.weight,
                                description: that.kpi_temp.description,
                                operator: that.kpi_temp.operator,
                                unit: that.kpi_temp.unit,
                                current_goal: that.kpi_temp.current_goal,
                                data_source: that.kpi_temp.data_source
                            }

                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/add/`,
                    success: function (data) {
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                    }
                });
                $('#add-and-edit-group-kpi-modal').modal('hide');

            },
            create_kpi: function () {
                var that = this;
                cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpi:
                            {
                                kpilib_unique_id: '',
                                group_name: that.kpi_temp.group_name,
                                bsc_category: that.bsc_category,
                                name: that.kpi_temp.name,
                                weight: that.kpi_temp.weight,
                                operator: that.kpi_temp.operator,
                                unit: that.kpi_temp.unit,
                                current_goal: that.kpi_temp.current_goal,
                                data_source: that.kpi_temp.data_source
                            }

                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/add/`,
                    success: function (data) {
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                        $('#add-and-edit-kpi-modal').modal('hide');
                    }
                })
            },
            edit_kpi: function(){
                var that = this;
                var kpi_updated = {
                    kpilib_unique_id: that.kpilib_unique_id,
                    group_name: that.kpi_temp.group_name,
                    bsc_category: that.bsc_category,
                    name: that.kpi_temp.name,
                    weight: that.kpi_temp.weight,
                    operator: that.kpi_temp.operator,
                    unit: that.kpi_temp.unit,
                    current_goal: that.kpi_temp.current_goal,
                    data_source: that.kpi_temp.data_source
                };
                that.list_kpi.forEach(function(kpi, index) {
                   if (kpi.kpilib_unique_id == that.kpilib_unique_id){
                       Object.assign(kpi, kpi_updated);
                   }
                });
                cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpis: that.list_kpi

                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/update/`,
                    success: function (data) {
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                        $('#add-and-edit-kpi-modal').modal('hide');
                    }
                })
            },
            edit_group_name: function(){
                var that = this;
                that.list_kpi.forEach(function(kpi, index){
                   if (kpi.group_name == that.old_group_name && kpi.bsc_category == that.bsc_category){
                       kpi.group_name = that.group_name;
                   }
                });
                cloudjetRequest.ajax({
                    method: 'POST',
                    data: JSON.stringify({
                        kpis: that.list_kpi

                    }),
                    url: `/api/v2/position-kpi/${that.position_kpi_id}/update/`,
                    success: function (data) {
                        that.list_kpi = data.kpi_json_data.kpis;
                        that.sort_bsc_and_group(that.list_kpi);
                        $('#edit-group-kpi-modal').modal('hide');
                    }
                })
            },
        }
    });


    Vue.directive('settooltipkpi', function (el) {
        var txt = $(el).children('.tooltip-content').html();
        if (txt != null || txt.length > 0) {
            txt = txt.trim();
        }

        $(el).qtip({
            content: {
                text: txt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
            },
            style: {
                classes: 'qtip-green'
            },
            position: {
                my: 'bottom center',  // Position my top left...
                at: 'top center', // at the bottom right of...
                target: $(el) // my target
            }
        });
    });

    $('#add-and-edit-kpi-modal').on('show.bs.modal', function () {
        $('#method-add-kpi-modal').modal('hide');
    });

    function check_number(e){
            var _number = String.fromCharCode(e.keyCode);
            if ('0123456789'.indexOf(_number) !== -1) {
                return _number;
            }
            e.preventDefault();
            return false;
        }
</script>