{% extends "bsc_base.html" %}
{% load i18n %}
<!--suppress ALL -->
{% block title %}
    {% trans "Team" %}
{% endblock %}
{% block extra_js %}

    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js?v={{ settings.VERSION }}"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}angular-ui-notification-master/angular-ui-notification.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.js"></script>
    <script src="{{ STATIC_URL }}js/async.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}angular-ui-notification-master/angular-ui-notification.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}customize-v5/customize-v5.css?v={{ settings.VERSION }}" type="text/css" media="screen"/>
    <!-- loading bar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}angular-tooltips-master/angular-tooltips.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}v1/css/kpi.css?v={{ settings.VERSION }}" type="text/css"/>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/v5-people.css?v={{ settings.VERSION }}">
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/kpi_editor.css?v={{ settings.VERSION }}"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/team-view.css?v={{ settings.VERSION }}"/>
    <style>

        {% comment %}material icon for this site{% endcomment %}
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
            src: local('Material Icons'),
            local('MaterialIcons-Regular'),
            url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
            url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
            url({{ STATIC_URL }}bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
        }

    </style>

    </head>

    <body ng-app="myTeamApp" ng-controller="teamCtl">

    <!-- add user -->
    <div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title my-title">{% trans 'Add subordinate' %}</h4>
                </div>
                <div id="id-form-member">
                    <div class="modal-body form-horizontal v5-form">
                        <div class="form-group">
                            <label for="id-employee-name-edit" class="col-sm-4 control-label">{% trans "Full name" %} *</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="new_member.name" class="form-control" id="id-employee-name-edit" maxlength="30">
                                <div class="error-msg" id="msg-name">* {% trans "Name field is required" %}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="id-email-employee-edit" class="col-sm-4 control-label">{% trans "Email" %} *</label>
                            <div class="col-sm-8">
                                <input type="email" ng-model="new_member.email" class="form-control" id="id-email-employee-edit" maxlength="100">
                                <div class="error-msg" id="msg-invalid-email">* {% trans "Email field is required or Enter a valid Email address" %}</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="id-employee-phone-edit" class="col-sm-4 control-label">{% trans "Phone" %}</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="new_member.phone" onkeypress="check_number(event)"  class="form-control" id="id-employee-phone-edit" maxlength="80" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-employee-edit" class="col-sm-4 control-label">{% trans "Employee code" %}</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="new_member.employee_code" id='id-employee-edit' type="text" maxlength="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-position-edit" class="col-sm-4 control-label">{% trans "Position" %} *</label>
                            <div class="col-sm-8">
                                <input id='id-position-edit' ng-model="new_member.position" maxlength="100" class="form-control">
                                <div class="error-msg" id="msg-invalid-position">* {% trans "Position field is required" %}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-department-edit" class="col-sm-4 control-label">{% trans "Department" %}:</label>
                            <div class="col-sm-8">
                                <input id='id-department-edit' ng-model="new_member.department" maxlength="100" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="listuc" class="col-sm-4 control-label">{% trans "Unit code" %}:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="listuc" ng-model="unitcode">
                                    <option value="">-------</option>
                                    {% for i in list_uc %}
                                        <option value="'{{ i.code }}'">{{ i.code }} - {{ i.name }} </option>-
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="send_pass" class="col-sm-4 control-label">{% trans "Password" %}:</label>
                            <div class="col-sm-8">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" ng-model="new_member.send_pass" id="id_send_new_pass">
                                    <label for="id_send_new_pass">
                                       {% trans 'Send password to employee' %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <input type="hidden" name="report_to" id="id_report_to" value="{[{ manager.user_id }]}">
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" id='add-save-new-person' ng-click="add_member()" class="btn btn-normal btn-cus-add btn-cus-5-7" >
                            <i class="material-icons font-14">person_add</i> {% trans 'Add employee' %}
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- add user -->

    <!-- edit user -->
    <div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" close="cancel()">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title my-title">{% trans 'Edit information' %}</h4>
                </div>
                <div id="id-form-member">
                    <div class="modal-body form-horizontal v5-form">
                        <div class="form-group">
                            <label for="id-employee-name-edit" class="col-sm-4 control-label">{% trans "Full name" %} *</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="update_data.display_name" class="form-control TEAM_INP_EDIT_NAME" id="id-employee-name-edit" maxlength="30">
                                <div class="error-msg" id="msg-name-up">* {% trans "Name field is required" %}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="id-email-employee-edit" class="col-sm-4 control-label">{% trans "Email" %} *</label>
                            <div class="col-sm-8">
                                <input type="email" ng-model="update_data.email" class="form-control TEAM_INP_EDIT_EMAIL" id="id-email-employee-edit" maxlength="100">
                                <div class="error-msg" id="msg-invalid-email-up">* {% trans "Email field is required or Enter a valid Email address" %}</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="id-employee-phone-edit" class="col-sm-4 control-label">{% trans "Phone" %}</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="update_data.phone" onkeypress="check_number(event)"  class="form-control TEAM_INP_EDIT_PHONE" id="id-employee-phone-edit" maxlength="80" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-employee-edit" class="col-sm-4 control-label">{% trans "Employee code" %}</label>
                            <div class="col-sm-8">
                                <input class="form-control TEAM_INP_EDIT_CODE" ng-model="update_data.employee_code" id='id-employee-edit' type="text" maxlength="80">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-position-edit" class="col-sm-4 control-label">{% trans "Position" %} *</label>
                            <div class="col-sm-8">
                                <input id='id-position-edit' ng-model="update_data.position" maxlength="100" class="form-control TEAM_INP_EDIT_POS">
                                <div class="error-msg" id="msg-invalid-position-edit">* {% trans "Position field is required" %}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-department-edit" class="col-sm-4 control-label">{% trans "Department" %}:</label>
                            <div class="col-sm-8">
                                <input id='id-department-edit' ng-model="update_data.department" maxlength="100" class="form-control TEAM_INP_EDIT_DEPT">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="listuc" class="col-sm-4 control-label">{% trans "Unit code" %}:</label>
                            <div class="col-sm-8">
                                <select class="form-control TEAM_INP_EDIT_UCODE" id="listuc" ng-model="update_data.unitcode">
                                    <option value="">-------</option>
                                    {% for i in list_uc %}
                                        <option value="'{{ i.code }}'">{{ i.code }} - {{ i.name }} </option>-
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" id='add-save-new-person' ng-click="update_user()" class="btn btn-normal btn-cus-add btn-cus-5-7 TEAM_BTN_EDIT_SAVE" >
                            <i class="material-icons font-14 TEAM_BTN_EDIT_SAVE">save</i> {% trans 'Save changes' %}
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- edit user -->

    <div class="row team-panel-width leader-panel">
        <div class="panel panel-default team-panel-bg">
            <div class="panel-body">
                <div class="col-lg-1 col-md-1 leader-avatar-position">
                    <img ng-src="{[{ manager.profile.get_avatar }]}" class="img-circle team-avatar" alt="Team avatar">
                </div>
                <div class="col-lg-3 col-md-3 leader-info-position">
                    <div class="p-b-5">
                        <span class="team-member-name">{[{ manager.profile.display_name }]}</span>
                    </div>
                    <span class="team-member-email">{[{ manager.email }]}</span><br>
                    <span class="team-member-function">{[{ manager.profile.title }]}</span>
                </div>
                <div class="col-lg-3 col-md-3 team-leader">
                    <table class="team-staff-table">
                        <tbody>
                        <tr class="team-staff-info">
                            <td class="team-staff-info-1" width="50%">{% trans "Number of employees" %}:</td>
                            <td class="team-staff-info-2" width="50%"><span ng-bind="member_count"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-3 col-md-3 team-btn-add">
                    <div class="btn-share-position">
                        <a href="javascript:void(0)" class="TEAM_BTN_LG_LINK" ng-click="getLoginLink(manager.user_id)" target="_blank">
                            <div tooltips
                                 tooltip-template="{% trans "Click here for link to log in" %} {[{ manager.profile.display_name }]}{% trans "'s account" %}"
                                 tooltip-side="left"
                                 class="btn btn-normal btn-cus-utility btn-cus-5-9">
                                <span class="material-icons font-20">share</span>
                            </div>
                        </a>
                    </div>
                    <div class="btn-add-staff-position">
                        <a data-toggle="modal" data-target="#add-user" class="btn btn-normal btn-cus-add btn-cus-5-7 TEAM_BTN_ADD_USER">
                            <span class="material-icons font-20">person_add</span>&nbsp; &nbsp; {%  trans "Add employee" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="members != null && members.length > 0" class="row team-panel-width">
        <div class="staff-list-title">
            <span>{% trans "List of employees" %}</span>
        </div>
    </div>

    <div ng-repeat="member in members">
        <!--<div ng-repeat="score in scores">-->
            <!--<div ng-if="member.user == score.user_id">-->
                <div class="row team-panel-width staff-panel">
                    <div class="panel panel-default team-panel-bg">
                        <div class="panel-body p-b-5">
                            <div class="col-lg-1 col-md-1 staff-avatar-position">
                                <img ng-src="{[{ member.avatar }]}" class="img-circle team-avatar team-member-avatar"
                                     alt="Team avatar">
                            </div>
                            <div class="col-lg-3 col-md-3 staff-info-position">
                                <div class="p-b-5">
                                    <span ng-bind="member.display_name" class="team-member-name"></span>
                                </div>
                                <span ng-bind="member.email" class="team-member-email"></span><br>
                                <span ng-bind="member.position" class="team-member-function"></span><br>
                                <div class="btn-feature-staff">
                                    <div class="btn-feature-staff-position TEAM_BTN_VIEW_KPI">
                                        <a ng-href="{[{ member.url }]}" class="TEAM_BTN_VIEW_KPI">
                                            <div tooltips tooltip-template="{% trans "View employee’s KPIs" %}"
                                                 tooltip-side="left" class="btn btn-normal btn-cus-utility btn-cus-5-9">
                                                <span class="material-icons font-20">format_list_bulleted</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="btn-feature-staff-position">
                                        <a ng-href="/performance/team/?user_id={[{ member.user }]}" target="_blank" class="TEAM_BTN_VIEW_TEAM">
                                            <div tooltips tooltip-template="{% trans "View employee’s team member" %}"
                                                 tooltip-side="bottom" class="btn btn-normal btn-cus-utility btn-cus-5-9">
                                                <span class="material-icons font-20">people</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="btn-feature-staff-position">
                                        <a ng-click="get_user(member)" class="TEAM_BTN_EDIT" id="btn-edit-user" data-toggle="modal" data-target="#edit-user">
                                            <div tooltips tooltip-template="{% trans "Edit employee’s information" %}"
                                                 tooltip-side="bottom" class="btn btn-normal btn-cus-utility btn-cus-5-9">
                                                <span class="material-icons font-20">mode_edit</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="btn-feature-staff-position">
                                        <a ng-click="getLoginLink(member.user)" href="javascript:void(0)" target="_blank" class="TEAM_BTN_SUBLG_LINK">
                                            <div tooltips
                                                 tooltip-template="{% trans "Click here for link to log in" %} {[{ member.display_name }]}{% trans "'s account" %}"
                                                 tooltip-side="bottom" class="btn btn-normal btn-cus-utility btn-cus-5-9">
                                                <span class="material-icons font-20">share</span>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 team-staff">
                                <table class="team-staff-table">
                                    <tbody>
                                    <tr class="team-staff-info">
                                        <td class="team-staff-info-1" width="50%">{% trans "Number of KPIs" %}:</td>
                                        <td class="team-staff-info-2" width="50%"><span ng-bind="member.total_kpis"></span></td>
                                    </tr>
                                    <tr class="team-staff-info">
                                        <td class="team-staff-info-1" width="50%">{% trans "Number of employees" %}:</td>
                                        <td class="team-staff-info-2" width="50%"><span ng-bind="member.count_member"></span></td>
                                    </tr>
                                    <tr class="team-staff-info">
                                        <td class="team-staff-info-1" width="50%">{% trans "Last review" %}:</td>
                                        <td class="team-staff-info-2" width="50%"><span ng-bind="format_date(member.last_performance_review)"></span></td>
                                    </tr>
                                    <tr class="team-staff-info">
                                        <td class="team-staff-info-1" width="50%">{% trans 'Last login' %}:</td>
                                        <td class="team-staff-info-2" width="50%"><span ng-bind="format_date(member.last_signin)"></span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-5 col-md-5 point-table-position">
                                <table class="table table-bordered point-table">
                                    <tbody>
                                    <tr>
                                        <td class="table-header point-title">{% trans "Score type" %}</td>
                                        <td class="percent-result table-header"><span ng-bind="quarter.month_1_name"></span></td>
                                        <td class="percent-result table-header"><span ng-bind="quarter.month_2_name"></span></td>
                                        <td class="percent-result table-header"><span ng-bind="quarter.month_3_name"></span></td>
                                        <td class="percent-result table-header">{% trans "Quarter" %}</td>
                                    </tr>
                                    <tr>
                                        <td class="point-title">{% trans "Performance Scores" %}</td>
                                        <td class="percent-result"><span ng-bind="member.score.m1_score"></span>%</td>
                                        <td class="percent-result"><span ng-bind="member.score.m2_score"></span>%</td>
                                        <td class="percent-result"><span ng-bind="member.score.m3_score"></span>%</td>
                                        <td class="percent-result"><span ng-bind="member.score.quarter_score"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td class="point-title">{% trans "Extra Scores" %}</td>
                                        <td class="percent-result"><span ng-bind="(member.score.m1.total == '' || member.score.m1.total == null)? 0: member.score.m1.total"></span>%</td>
                                        <td class="percent-result"><span ng-bind="(member.score.m2.total == '' || member.score.m2.total == null)? 0: member.score.m2.total"></span>%</td>
                                        <td class="percent-result"><span ng-bind="(member.score.m3.total == '' || member.score.m3.total == null)? 0: member.score.m3.total"></span>%</td>
                                        <td class="percent-result"></td>
                                    </tr>
                                    <tr class="table-bg">
                                        <td class="point-title">{% trans "Total point" %}</td>
                                        <td class="percent-result">{[{ (member.score.m1_score + member.score.m1.total) | get_percent }]}%</td>
                                        <td class="percent-result">{[{ (member.score.m2_score + member.score.m2.total) | get_percent }]}%</td>
                                        <td class="percent-result">{[{ (member.score.m3_score + member.score.m3.total) | get_percent }]}%</td>
                                        <td class="percent-result">{[{ member.score.quarter_score | get_percent }]}%</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->
    </div>

    </body>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#msg-name').hide();
            $('#msg-empty-email').hide();
            $('#msg-invalid-email').hide();


            $('.mini-bar .progress-bar').each(function (i, elm) {
                var w = parseInt(($(elm).width() / $(elm).parent('.mini-bar').width()) * 100);
                if (w < 50) {
                    $(elm).addClass('color-50-mini');
                }
                else if (w < 75) {
                    $(elm).addClass('color-75-mini');
                }
                else {
                    $(elm).addClass('color-100-mini');
                }
            });

            $('.team-pfm-02').each(function (i, elm) {
                var x = $('#performance-menu').html();
                if (x < 50) {
                    $(elm).addClass('color-50');
                }
                else if (x < 75) {
                    $(elm).addClass('color-75');
                }
                else {
                    $(elm).addClass('color-100');
                }
            });

            $('.user-kpi-view').each(function (i, elm) {
                var a = parseInt(($(elm).find('.big-bar .progress-bar').width() / $(elm).find('.big-bar').width()) * 100);
                if (a < 50) {
                    $(elm).addClass('color-50-big');
                }
                else if (a < 75) {
                    $(elm).addClass('color-75-big');
                }
                else {
                    $(elm).addClass('color-100-big');
                }
            });


        });
        function check_number(e){
                var _number = String.fromCharCode(e.keyCode);
                if ('0123456789'.indexOf(_number) !== -1) {
                     $("#id-employee-phone-edit").css('border','1px solid #ccc');
                    return _number;
                }
                e.preventDefault();
                return false;
            }
    </script>

    <script type="text/javascript">
        $.urlParam = function (name, url) {
            if (!url) {
                url = window.location.href;
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        };
        Number.prototype.format = function (n, x) {
            var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
        };
        var app = angular.module('myTeamApp', ['angular-loading-bar', 'ui-notification', '720kb.tooltips'])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{');
                $interpolateProvider.endSymbol('}]}');
            })
            .config(function ($httpProvider) {
                $httpProvider.defaults.headers.post['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
            });

        app.controller('teamCtl', function ($scope, $http, Notification) {
            var user_id = {{user.id}};
            $scope.profile_id = {{ profile_id }};
            if ($.urlParam('user_id') != undefined) {
                user_id = $.urlParam('user_id');
            }

            $scope.format_date = function (time) {
                if (time) {
                    return moment(time).format('DD-MM-YYYY');
                } else {
                    return ''
                }
            }

            $scope.getLoginLink = function (user_id) {
                console.log(user_id)
                swal({
                        title: "{% trans "Get link to log in" %}",
                        text: "{% trans "Click ok to get link" %}",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                        confirmButtonText: "{% trans "OK" %}",
                        cancelButtonText: "{% trans "Cancel" %}",
                    },
                    function () {
                        cloudjetRequest.ajax({
                            method: 'GET',
                            url: '/api/v2/user/login-link?user_id=' + user_id,
                            success: function (res) {
                                if (res.status == 'ok') {
                                    swal({
                                        title: "{% trans "Success" %}",
                                        text: '<div style="padding: 5px;word-wrap: break-word;">' + res.message + '</div>',
                                        type: "success",
                                        html: true,
                                        confirmButtonText: "{% trans "OK" %}"
                                    })
                                } else {
                                    swal({
                                        title: "{% trans "Unsuccess" %}",
                                        text: '<div style="padding: 5px; word-wrap: break-word;">' + res.message + '</div>',
                                        type: "error",
                                        html: true
                                    })
                                }
                            },
                            error: function (res) {
                                swal({
                                    title: "{% trans "Error" %}",
                                    {#                                    text: ,#}
                                    type: "error"
                                })
                            }
                        })
                    });

            }
            $scope.new_member = {
                'name':'',
                'email': '',
                'phone': '',
                'employee_code': '',
                'position': '',
                'department':'',
                'send_pass':false,
                'unitcode': '',
                'manager': 'u' + $scope.profile_id
            }
            $scope.user_id = user_id;

            $scope.member_count = 0;
            $scope.user_data = {};



            $scope.add_member = function () {
                var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                var isError = false;
                $(".error-msg").hide();
                if (!pattern.test($scope.new_member.email)) {
                    $('#msg-invalid-email').show();
                    isError = true;
                }

                if ($scope.new_member.name == '') {
                    $('#msg-name').show();
                    isError = true;
                }

                if($scope.new_member.position == ''){
                    $("#msg-invalid-position").show();
                    isError = true;
                }

                if(isError){
                    return false;
                }

                var unit_code = $('#listuc').val();
                if (unit_code == '-------') {
                    unit_code = '';
                }
                data = $scope.new_member;
                $("#add-user #id_saving").show();
                $("#id_btn_add_member").attr('disabled', true);
                cloudjetRequest.ajax({
                    method: 'POST',
                    url: '/performance/people/new/',
                    data: data,
                    success: function (response) {
                        $("#add-user #id_saving").hide();
                        $("#id_btn_add_member").attr('disabled', false);
                        if (typeof response == "object") {
                            $('div.errorlist').hide();
                            $("#add-user").modal("hide");

                            $scope.members.push(response);

                            $scope.new_member = {
                                'name':'',
                                'email': '',
                                'phone': '',
                                'employee_code': '',
                                'position': '',
                                'department':'',
                                'unitcode': '',
                                'send_pass':false,
                                'manager': 'u' + $scope.profile_id
                            };
                            if (!$scope.$$phase) {
                                $scope.$apply();
                                $scope.init_data();
                            }
                            success_requestcenter("{% trans "Successful" %}");
                        } else {
                            $('div.errorlist').show();
                        }
                    },
                    error: function (err) {
                        $("#add-user #id_saving").hide();
                        $("#id_btn_add_member").attr('disabled', false);
                    }
                });

            };

            $scope.init_data = function () {

                // lay id cua quy hien tai
                cloudjetRequest.ajax({
                    method: 'GET',
                    url: '/api/quarter/?get_current_quarter=true',
                    data: {},
                    success: function (res) {
                        $scope.quarter = res;
                        console.log($scope.quarter_id);

                        // TRIGGER AFTER GET QUARTER
                        cloudjetRequest.ajax({
                            method: 'GET',
                            url: '/api/team/?user_id=' + $scope.user_id,
                            data: {},
                            success: function (res) {
                                $scope.members = res;
                                if (res.length) {
                                    $scope.members.sort(function (a, b) {
                                        return a.user - b.user;
                                    });
                                    if (!$scope.$$phase) {
                                        $scope.$apply();
                                    }
                                    console.log($scope.members);
                                    $scope.member_count = res.length;
                                    $scope.scores = [];
                                    var scores = [];
                                    $scope.get_score_person();
                                }
                            }

                        });

                    }
                });


                // Khang fixed and convert into cloudjetRequest this

                cloudjetRequest.ajax({
                    method: 'GET',
                    url: '/api/organization',
                    success: function (res) {
                        $scope.exscore = res.exscore;
                    }
                });


                cloudjetRequest.ajax({
                    method: 'GET',
                    url: '/api/user_kpi/' + $scope.user_id + '/',
                    data: {},
                    success: function (res) {
                        $scope.manager = res;
                        console.log(res);
                        if (!$scope.$$phase) {
                            $scope.$apply();
                        }
                    }
                });
            }
            $scope.get_score_person = function (){
                $scope.members.forEach(function (el){
                    el.score = []
                    var user_id = JSON.stringify({'user_ids' : el.user })
                    setTimeout(function () {
                        cloudjetRequest.ajax({
                            method: 'POST',
                            url: '/api/v2/score/' + $scope.quarter.fields.id + '/',
                            data: user_id,
                            success: function (res) {
                                el.score = res[0];
                                if (!$scope.$$phase) {
                                    $scope.$apply();
                                }
                            }
                        })
                    },200)
                })
            }
            $scope.format_percent = function (n, x) {
                return Number(n).format(x) + '%';
            };

            $scope.user_data = {};


            $scope.update_user = function () {
                var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                var isError = false;
                $(".error-msg").hide();
                if (!pattern.test($scope.update_data.email)) {
                    $('#msg-invalid-email-up').show();
                    isError = true;
                }

                if ($scope.update_data.display_name == '') {
                        $('#msg-name-up').show();
                        isError = true;
                }

                if($scope.update_data.position == ''){
                    $('#msg-invalid-position-edit').show();
                        isError = true;
                }

                if(isError){
                    return false;
                }

                if ($('#listuc1').val() == '-------') {
                    unit_code = '';
                }
                else {
                    unit_code = $('#listuc1').val();
                }
                var user_data_json = JSON.stringify({
                    user_id: $scope.update_data.user_id,
                    display_name: $scope.update_data.display_name,
                    email: $scope.update_data.email,
                    phone: $scope.update_data.phone,
                    employee_code: $scope.update_data.employee_code,
                    position: $scope.update_data.position,
                    department: $scope.update_data.department,
                    unit_code: $scope.update_data.unit_code
                });

                cloudjetRequest.ajax({
                    method: 'POST',
                    url: '/api/profile/',
                    data: user_data_json,
                    success: function (data) {
                        cloudjetRequest.ajax({
                            url: '/api/team/?user_id=' + user_id,
                            method: 'GET',
                            data: {},
                            success: function (res) {
                                $scope.members = res;
                                //  $scope.$apply();
                                $scope.member_count = res.length;
                                Notification('{% trans "Update successful! " %}');
                                $scope.get_score_person();
                                $("#edit-user").modal('hide');
                            }
                        })
                    },
                    error: function (err) {
                        //Notification.error('{% trans "Update failed!" %}');
                    }
                })

            };
            $scope.update_data = {}

            $scope.get_user = function (member) {
                $scope.update_data.display_name = member.display_name;
                $scope.update_data.email = member.email;
                $scope.update_data.phone = member.phone;
                $scope.update_data.employee_code = member.employee_code;
                $scope.update_data.name = member.display_name;
                $scope.update_data.position = member.position;
                $scope.update_data.unit_code = member.unit_code;
                $scope.update_data.user_id = member.user;
                $scope.update_data.department = member.department;
                $('#msg-name-up').hide();
                $('#msg-empty-email-up').hide();
                $('#msg-invalid-email-up').hide();
                $('.error-msg').hide();
            };

            $scope.cancel = function () {
                $scope.user_data = '';
                $scope.$apply();

            };


            $scope.init_data();
        });

        app.config(['tooltipsConfProvider', function configConf(tooltipsConfProvider) {
            tooltipsConfProvider.configure({
                'smart': true,
                'size': 'small',
                'speed': 'slow',
            });
        }])
        app.filter("get_percent", function(){
           return function(n){
              // Your logic
              return Number(n).format(2);
           }
        });
    </script>
{% endblock %}