
{% load i18n %}
<div class="modal fade" id="modal-categories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'Choose category' %}</h4>
                    </div>
                    <div class="modal-body">
                        <select name="target-category" class="form-control">
                            <option value="financial">{% trans 'Financial' %}</option>
                            <option value="customer">{% trans 'Customer' %}</option>
                            <option value="internal">{% trans 'Internal Process' %}</option>
                            <option value="learninggrowth">{% trans 'Learn & Growth' %}</option>
                            <option value="other">{% trans 'Others' %}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-choose-category"
                                class="btn btn-primary">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
