
{% load i18n %}
<div class="modal fade" id="modal-add-kpi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm midle-height-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Add KPI' %}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center padding-top-15">
                    <button class="btn btn-normal btn-cus-add btn-width-190"  data-toggle="modal" data-target="#modal-categories" data-dismiss="modal">
                        <i class="material-icons font-20">&#xE145;<!--add--></i>
                        {% trans "Create new" %}
                    </button>
                </div>
                <div class="text-center padding-bottom-15 padding-top-15">
                    hoặc
                </div>
                <div class="text-center padding-bottom-15">
                    <button class="btn btn-normal btn-cus-add btn-width-190" data-toggle="modal" @click="get_data_kpilib()" data-target="#modal-kpi-lib" data-dismiss="modal">
                        <i class="material-icons font-20">&#xE02F;<!--library books--></i>
                        {% trans "From KPI library" %}
                    </button>
                </div>
            </div>
{#            <div class="modal-footer">#}
{#                <button type="button" id="btn-choose-category"#}
{#                        class="btn btn-primary">{% trans 'OK' %}</button>#}
{#            </div>#}
        </div>
    </div>
</div>
