{% load i18n %}
<div class="modal fade" id="backup-kpi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Backup KPI' %}</h4>
            </div>
            <div class="modal-body">

                <div>
                    <p id="lb-load-backups-list" style="display: None; text-align:center">{% trans "Loading..." %}</p>
                    <table class="table table-striped" style="text-align: center">
                        <thead>
                            <tr>
                                <th>{% trans 'Backup Date' %}</th>
                                <th>{% trans 'Month' %}</th>
                                <th>{% trans 'Performance Score' %}</th>
                                {% if is_superuser %}
                                    <th>{%  trans 'Delete' %}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(index, backup) in backups_list" :disabled="backup_month.length == 3">
                            <td style="text-decoration: underline; cursor:pointer" v-on:click="view_backup_kpis(index)" class="HOME_LINK_BACKUP_MONTH">
                                ${formatTime(backup.created_at)}$
                            </td>
                            <td>${get_backup_month_name(backup.month)}$</td>
                            <td>${backup.result}$ %</td>
                            {% if is_superuser %}
                                <td class="HOME_BTN_DEL_BACKUP" style="text-decoration: underline; cursor:pointer" v-on:click="delete_backup(index)">X
                                </td>
                            {% endif %}
                        </tr>
                        </tbody>

                    </table>
                    <i>{% trans 'Click to Backup Date view KPIs backup' %}</i><br>
                    <i><b>{% trans 'The months that have been backed up will not change the results' %}</b></i><br>
                </div>
            </div>
            <div class="modal-footer">
                <div id="msg-id"></div>
                {% trans 'Choose month backup:' %}
                <select v-model="chosen_backup_month" style="padding: 4px 6px" >
                    <option disabled value="">{% trans 'Month' %}</option>
                    <option value="1"> ${month_1_name}$</option>
                    <option value="2"> ${month_2_name}$</option>
                    <option value="3"> ${month_3_name}$</option>
                    <option value="all">{% trans 'All' %}</option>
                </select>
                <button id="btn-create-backup-kpi" type="button" v-on:click="post_backup_kpis()"
                        class="btn btn-primary"><span class="HOME_LINK_NEW_BACKUP">{% trans 'Create New Backup KPI' %}</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-backup-kpi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Backup KPI' %}</h4>
            </div>
            <div class="modal-body">
<div class="text-alert-review">
                        <button type="button" class="close" aria-label="Close" onclick="$('.text-alert-review').hide()">&times;</button>
				        <p class="margin-bottom-0">- {% blocktrans %}The high light rows is KPI delayed{% endblocktrans %}.</p>
				    </div>
                <div>
                    <p></p>
                    <h5 style="text-align: center"></h5>
                    <p></p>
                    <table class="table table-striped" style="text-align: left">
                        <thead>
                        <tr>
                            <th>{% trans 'KPI ID' %}</th>
                            <th>{% trans 'KPI Name' %}</th>
                            <th>{% trans 'Weight' %}</th>
                            <th>{% trans 'Target' %}</th>
                            <th>{% trans 'Result' %}</th>
                            <th>{% trans 'Performance Score' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(index, kpi) in backup_kpis">
                            <td v-bind:class="{'warningCell': kpi.weight == 0}">${kpi.id}$</td>
                            <td v-bind:class="{'warningCell': kpi.weight == 0}">${kpi.name}$</td>
                            <td v-bind:class="{'warningCell': kpi.weight == 0}">${kpi.weight_percentage|scoreDisplay }$</td>
                            <td v-bind:class="{'warningCell': kpi.weight == 0}">${get_backup_month_target(index)}$</td>
                            <td v-bind:class="{'warningCell': kpi.weight == 0}">${get_backup_month_real(index)}$</td>
                            <td colspan="2" v-bind:class="{'warningCell': kpi.weight == 0}" >${get_backup_month_score(index)}$ %</td>
                        </tr>

                        <tr>
                            <td colspan="5" style="color:#333;font-weight:bold">{% trans "Performance Score" %}</td>
                            <td>${current_backup.result|scoreDisplay}$</td>
                        </tr>
                        </tbody>
                    </table>

                    <p></p>
                </div>
            </div>
            <div class="modal-footer">
                <a v-bind:href="'/performance/report/#/?user_id=' + user_id + '&month=' + current_backup.month + '&quarter_id=' + current_backup.quarter"
                   target="_blank">
                    <button type="button" class="btn btn-primary">{% trans 'Export Excel' %}</button>
                </a>
                <button type="button" class="btn btn-primary" v-on:click="hide_backup_kpi_modal()">{% trans 'Back' %}</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        overflow-y: initial !important
    }
    tbody td{
        text-align: left;
    }
    .modal-body {
        max-height: 450px;
        overflow-y: auto;
    }
</style>
