{% load i18n %}
<div class="modal fade" id="childrenKPIModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {% trans "KPI" %}
                </h4>

            </div>
            <div class="modal-body">
                <div v-if="current_kpi.children.length > 0">
                    <table class="table table-striped">
                        <tr>
                            <td style="width: 100px">{% trans "Weighting score" %}</td>
                            <td>
                                {% trans "Name" %}

                            </td>
                            <td style="width: 100px"></td>
                            {#                            <td></td>#}
                        </tr>
                        <tr v-for="item in current_kpi.children">
                            <td>

                <span><strong>(${ parseFloat(item.weight)*100/get_total_children_weight(current_kpi)| weightDisplay }$)</strong></span>
                </span>
                                <input :disabled="item.weight == 0"  type="number" class="form-control kpi-weight-form"
                                       style="display: inline-block;width: 60px;padding: 2px 3px; text-align: center; font-weight: bold;"
                                       v-model="item.weight"
                                       v-on:change="update_kpi(item)"/>
                                <!--TODO: :disabled="!item.enable_edit"-->
                            </td>
                            <td>
                                <b>${ item.prefix_id }$</b>
                                ${ item.name }$
                            </td>
                            <td>
                                ${ item.assigned_to_email }$
                            </td>
                            {#                            <td>#}
                            {#                                #${ item.id }$#}
                            {#                            </td>#}

                        </tr>

                    </table>
                </div>
                <div v-if="current_kpi.children.length == 0">
                    {% trans "No KPI" %}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="categoryKPIModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {% trans "Change KPI Category" %}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sel-category">{% trans "Select KPI category below" %}:</label>
                    <select class="form-control" id="sel-category" v-model="current_kpi.bsc_category"
                            @change="update_kpi(current_kpi)">
                        <option v-for='category in categories.category'
                                v-bind:selected="categories.selected == category"
                                :value="category">${translate[category]}$
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <h5>{% trans "Transition of KPI category is in process, please reload page after 1 minute" %}.</h5>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans "OK" %}
                </button>
            </div>
        </div>
    </div>
</div>