{% load i18n %}


<!-- Modal -->
<div class="modal fade" id="childrenKPIModal" tabindex="-1" role="dialog" aria-labelledby="performance-level-adjust-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <div id="performance-result-based" class="row adjusting-header">
                    <h4 class="modal-title" style="margin-left: 10px; float: left; line-height:100%" id="performance-level-adjust-label">{% trans "Auto score calculation" %}</h4>

  <ul class="nav nav-pills" style=" margin-bottom: 10px;float:right;margin-right: 20px">
                        <li data-toggle="tooltip"

                            v-bind:class="{  'active' : current_children_data.children_data.parent_score_auto === true }">
                            <a @click="current_children_data.children_data.parent_score_auto = true"  data-toggle="tab"
                               href="#autocal-dashboard">{% trans "On" %}</a></li>

                        <li  data-toggle="tooltip"

                            v-bind:class="{  'active' : current_children_data.children_data.parent_score_auto === false }">
                            <a @click="current_children_data.children_data.parent_score_auto = false" data-toggle="tab"   href="#disable-autocal-dashboard">{% trans "Off" %}</a></li>
                    </ul>

                </div>
            </div>
            <div class="modal-body" style="max-height: 800px">



                <div class="tab-content">
                    <div id="disable-autocal-dashboard" class="tab-pane fade in" v-bind:class="{  'active' : current_children_data.children_data.parent_score_auto === false }">

                        <div class="alert alert-success" style="word-break: break-all;">
                            {% trans "Click 'SAVE' to complete action" %}
                        </div>

                        {#                        <p>Some content.</p>#}
                    </div>
                    <div id="autocal-dashboard" class="tab-pane fade in" v-bind:class="{  'active' : current_children_data.children_data.parent_score_auto === true }">
                        <table class="table table-striped">
                            <tr>
                                <td style="width: 100px">{% trans "Weighting score" %}</td>
                                <td>
                                    {% trans "Name" %}

                                </td>
                                <td style="width: 100px"></td>
                                <td></td>
                            </tr>
                            <tr v-for="item in current_children_data.children_data.children_weights">
                                <td>

                                    <span><strong>(${ parseFloat(item.weight)*100/get_total_children_weight(current_children_data)| weightDisplay }$)</strong></span>
                                    <input :disabled="get_children_refer_by_id(item.kpi_id).weight == 0"  type="number" class="form-control kpi-weight-form"
                                           style="display: inline-block;width: 60px;padding: 2px 3px; text-align: center; font-weight: bold;"
                                           v-model.number="item.weight"
                                            onchange="v.confirm_switching_autocal(false)"
                                    />
                                    <!--TODO: :disabled="!item.enable_edit"-->
                                </td>
                                <td>
                                    <b>${ get_children_refer_by_id(item.kpi_id).prefix_id }$</b>
                                    ${ get_children_refer_by_id(item.kpi_id).name }$
                                </td>
                                <td>
                                    ${ get_children_refer_by_id(item.kpi_id).assigned_to_email }$
                                </td>

                            </tr>

                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div style="float:left; padding-left: 30px">
{#                        <span class="adjuster-unit" style="width: 100%">#}
{#                            KPI: <strong>${ kpi_list[{{ kpi.id }}].name }$</strong>#}
{#                        </span>#}
{#                        <span class="adjuster-unit" style="width: 100%">#}
{##}
{#                            {% trans "Unit" %}: <strong>${ kpi_list[{{ kpi.id }}].unit }$</strong>#}
{#                        </span>#}


                    </div>
                    <div style="float: right; padding-right: 30px;">
                        <button type="button" class="btn btn-default" onclick="v.cancel_switching_autocal();console.log('Press cancel')" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <button

                                type="button" class="btn btn-primary" onclick="v.confirm_switching_autocal();console.log('Press Submit')" >{% trans "Save" %}</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    #childrenKPIModal .disabled {
        pointer-events: none;
        cursor: default;
    }
    #childrenKPIModal .estimated-result-wrapper{
        text-align: left;
        display: block;
        margin-top: 20px
    }
    #childrenKPIModal .adjuster-wrapper #adjuster-estimation{
        text-align: left;
        float: left;
        display: block;
        width: 30%;
    }
    #childrenKPIModal .adjuster-unit{
    {#        width: 131px;#}
        min-height: 17px;
        line-height:100%;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        float:left;
    }
    #childrenKPIModal .performance-score-title{
        width: 74px;
        height: 17px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f5a623;
    }
    #childrenKPIModal .performance-score-title.min{
        color: #f5a623;
    }
    #childrenKPIModal .performance-score-title.target{
        color: #d9534f;
    }
    #childrenKPIModal .performance-score-title.max{
        color: #337ab7;
    }
    #childrenKPIModal .adjuster-wrapper{
        text-align: center;
    }
    #childrenKPIModal .chart-container {
    {#        position: relative;#}
        margin: auto;
    }
    #childrenKPIModal .adjust-input{
        width: 164px;
        height: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #ababab;
        padding: 5px;
        text-align: center;
        margin-bottom: 10px;
    }
    #childrenKPIModal .performance-score{
        width: 33px;
        height: 22px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
    }
    #childrenKPIModal .modal-dialog {
        width: 650px;
    }

</style>
<script>
    $('#childrenKPIModal').on('hidden.bs.modal', function () {
        var kpi_root = v.get_root_kpi_wrapper(v.current_children_data.parent_kpi_id);
        $(kpi_root).reload_kpi_anchor();
        v.cancel_switching_autocal();
    })
</script>


<div class="modal fade" id="categoryKPIModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {% trans "Change KPI Category" %}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sel-category">{% trans "Select KPI category below" %}:</label>
                    <select class="form-control" id="sel-category" v-model="current_kpi.bsc_category"
                            @change="update_kpi(current_kpi)">
                        <option v-for='category in categories.category'
                                v-bind:selected="categories.selected == category"
                                :value="category">${translate[category]}$
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <h5>{% trans "Transition of KPI category is in process, please reload page after 1 minute" %}.</h5>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{% trans "OK" %}
                </button>
            </div>
        </div>
    </div>
</div>
