{% load i18n %}

<div class="modal fade bs-example-modal-lg" id="complate-review-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content complete-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-20" id="myModalLabel">
                    {% trans 'Complete Review Confirmation' %}
                    <span v-if="organization.monthly_review_lock == 1"> - ${month_1_name}$</span>
                    <span v-if="organization.monthly_review_lock == 2"> - ${month_2_name}$</span>
                    <span v-if="organization.monthly_review_lock == 3"> - ${month_3_name}$</span>
                </h4>
            </div>
            <div class="modal-body">
{#                <h3 style="text-align: center">#}
{#                    {% trans "Your performance is" %}#}
{#                            <span style="color: darkcyan">#}
{#                            ${ employee_performance.kpi_percent }$%</span></h3>#}


                <div v-if="total_zero_score_kpis.length > 0">
{#                    <p></p>#}
{#                    <h5 class="text-center">  {% trans "List all KPIs and assessment results" %}</h5>#}
{#                    <p></p>#}
                    <div class="text-alert-review">
                        <button type="button" class="close" aria-label="Close" onclick="$('.text-alert-review').hide()">&times;</button>
                        <p class="margin-bottom-4">- {% blocktrans %}After click <b>Send results</b>, the KPI results will be sent to your manager{% endblocktrans %}</p>
				        <p class="margin-bottom-0">- {% blocktrans %}The high light cells are having no value{% endblocktrans %}</p>
				    </div>
                    <div class="table-fix">
                        <div class="table-scroll">
                            <table class="table">
                                <colgroup>
                                    <col class="col-sm-1">
                                    <col class="col-sm-6">
                                    <col class="col-sm-1">
                                    <col class="col-sm-1">
                                    <col class="col-sm-1">
                                    <col class="col-sm-1">
                                    <col class="col-sm-1">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th ><div class="th-will-fix">ID.</div></th>
                                        <th><div class="th-will-fix">{% trans "Name" %}</div></th>
                                        <th><div class="th-will-fix">{% trans "Weight" %}</div></th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 1}">
                                            <div class="th-will-fix"> ${ month_1_name }$</div>
                                        </th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 2}">
                                            <div class="th-will-fix"> ${ month_2_name }$</div>
                                        </th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 3}">
                                            <div class="th-will-fix"> ${ month_3_name }$</div>
                                        </th>
                                        <th><div class="th-will-fix"> {% trans "Quarter" %}</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in total_zero_score_kpis">

                                        <td>#${ item.id }$</td>
                                        <td>${ item.name }$</td>
                                        <td>${ item.weight_percentage|scoreDisplay }$</td>
                                        <td v-if="item.month_1_score != null" v-bind:class="{ 'active-month': organization.monthly_review_lock == 1 }">${ item.month_1_score|scoreDisplay }$</td>
                                        <td v-else class="warningCell"><span>&nbsp;</span></td>
                                        <td v-if="item.month_2_score != null" v-bind:class="{ 'active-month': organization.monthly_review_lock == 2 }">${ item.month_2_score|scoreDisplay }$</td>
                                        <td v-else class="warningCell"><span>&nbsp;</span></td>
                                        <td v-if="item.month_3_score != null" v-bind:class="{ 'active-month': organization.monthly_review_lock == 3 }">${ item.month_3_score|scoreDisplay }$</td>
                                        <td v-else class="warningCell"><span>&nbsp;</span></td>
                                        <td>${ item.latest_score|scoreDisplay }$</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">
                                            <div class="th-will-fix">{% trans "Personal Performance Score" %}</div>
                                        </th>
                                        <th></th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 1}">
                                            <div class="th-will-fix">${ employee_performance.month_1_score|scoreDisplay }$</div>
                                        </th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 2}">
                                            <div class="th-will-fix">${ employee_performance.month_2_score|scoreDisplay }$</div>
                                        </th>
                                        <th v-bind:class="{'active-month': organization.monthly_review_lock == 3}">
                                            <div class="th-will-fix">${ employee_performance.month_3_score|scoreDisplay }$</div>
                                        </th>
                                        <th><div class="th-will-fix">${ employee_performance.kpi_percent|scoreDisplay }$</div></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <p></p>

                </div>
                <div v-if="total_zero_score_kpis.length == 0">
                </div>
            </div>
            <div class="modal-footer">
                <a class="capture_download_btn HOME_BTN_REVIEWKPI_DL" href="#" @click="capture_and_download()" style="float:left">
                    <i class="material-icons font-20">&#xE2C4;<!--download file--></i> {% trans 'Download file review' %}</a>

                <button class="btn btn-normal but-cus-white" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
                <button type="button" @click="we_complete_review_confirm" class="btn btn-normal btn-cus-add HOME_BTN_REVIEWKPI_SEND">
                    <i class="material-icons font-20 HOME_BTN_REVIEWKPI_SEND">&#xE163;<!--send--></i> {% trans 'Send results' %}
                </button>
            </div>
        </div>
    </div>
</div>
