{% load i18n %}
<div class="modal fade" id="copy-kpi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Copy' %}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <textarea class="form-control" ></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-copy-kpi" type="button" v-on:click="show_copy_kpi_modal()"
                        class="btn btn-primary"><span>{% trans 'Create New Backup KPI' %}</span></button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        max-height: 450px;
        overflow-y: auto;
    }
</style>