{% load i18n %}
<div id="default_real-modal{{ kpi.id }}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Set default result" %}</h4>
            </div>
            <div class="modal-body">
{#                <h3></h3>#}
                <p>
                    <input class="form-control"
                           v-model="kpi_list[{{ kpi.id }}].default_real"
                       placeholder="{% trans "Default result " %}">
                </p>
                <p>
                    <button class="btn btn-success" data-dismiss="modal"  v-on:click="update_kpi_default_real(kpi_list[{{ kpi.id }}])">{% trans "Save" %}</button>
                </p>
            </div>
        </div>
    </div>
</div>
