{% load i18n %}
<div id="kpi360-modal{{ kpi.id }}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ kpi.name }}</h4>
            </div>
            <div class="modal-body">
                <h3>{% trans "360 degree review request" %}</h3>
                <p>
                    <input class="form-control"
                           v-model="kpi_list[{{ kpi.id }}].reviewer_email"
                           placeholder="{% trans "Email " %}">
                </p>
                <p>
                    <button class="btn btn-success" v-on:click="update_kpi(kpi_list[{{ kpi.id }}], true)">{% trans "Save" %}</button>
                </p>
            </div>
        </div>
    </div>
</div>
