
{% load i18n user_tags %}
    <div id="report-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="score-report-form" action="{% url 'report_exporter' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3"
                                   class="col-sm-4 control-label">{% trans 'Quarter period' %}:</label>

                            <div class="col-sm-8">
                                <select name="quarter" class="review_picker" multiple="multiple">
                                    {% for i in quarters %}
                                        <option {% if forloop.last %} selected="selected" {% endif %}
                                                                      value="{{ i.id }}">
                                            {{ i.quarter_name }}
                                            ({{ i.due_date|date:'d-m-Y' }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked name="manager_id" value="{{ manager_id }}"> Chỉ xuất báo cáo cho những nhân viên cấp dưới của [{{ manager|display_name }}]
                                    </label>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="report_type" id="tin-report-type" value=""/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="$('#score-report-form').submit();">{% trans 'Generate' %}</button>
                </div>
            </div>
        </div>
    </div>
<style type="text/css">
    #report-modal .btn-group.bootstrap-select.show-tick.review_picker{
        width: 100%!important;
    }
</style>