{% load i18n %}
<div id="kpiscore-help" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {#                <h4 class="modal-title" id="myModalLabel">Điểm thành tích quý</h4>#}
                <h4 class="modal-title" id="myModalLabel">{% trans "Quarter Achievement" %}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {% trans "Quarter achievement is calculated by the result of each KPI compared to quarter target. It is not the average achievement of 3 months or of the third month. Quarter achievement method to each KPI is calculated as below:" %}

                    {#                    {% blocktrans %}Điểm thành tích quý được tính dựa vào kết quả đánh giá của từng KPI so sánh với mục tiêu quý, không phải là điểm trung bình thành tích của 3 tháng hoặc của tháng thứ 3. Đối với mỗi KPI, phương pháp tính thành tích của quý như sau:{% endblocktrans %}#}
                </p>
                <p>
                <ul>
                    <li>
                        {% trans "<b>Accumulated 3 months</b>: The quarter achievement is equal to the sum of results of 3 months compared to quarter target. In case of not fully completing review, quarter result is calculated by accumulated results of completed review months." %}
                        {#                        {% blocktrans %}<b>Tính theo tổng tích luỹ các tháng</b>: thành tích quý sẽ được tính dựa vào tổng số kết quả của tất cả các tháng so với mục tiêu quý. Trong trường hợp chưa hoàn thành đánh giá đầy đủ các tháng thì kết quả quý vẫn được tính dựa vào những kết quả <b>tích luỹ</b> của những tháng đã có.{% endblocktrans %}#}
                    </li>

                    <li>
                        {% trans "<b>Average of 3 months:</b>: The quarter achievement is equal to the average of results of 3 months. In case of not fully completing review, quarter result is calculated by completed review months." %}
                        {#                        {% blocktrans %}<b>Tính theo trung bình các tháng</b>: thành tích quý sẽ được tính dựa vào trung bình thành tích của các tháng. Trong trường hợp chưa hoàn thành đánh giá đầy đủ các tháng thì kết quả quý vẫn dựa vào những kết quả của những tháng đã có.{% endblocktrans %}#}
                    </li>
                    <li>

                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == 'en' %}
                        <b>Latest month</b>: The quarter achievement is equal to the lastest month result. Example: October achieves 75%, November achieves 85% and December did not review, so the quarter achievement is equal to November result = 85%.
                        {% else %}
                        <b>Tính theo tháng gần nhất</b>: Thành tích quý sẽ được tính bằng với tháng cuối cùng đã được đánh giá trong quý đó. Ví dụ: tháng 10 đạt 75%, tháng 11 đạt 85%, tháng 12 chưa đánh giá thì thành tích quý vẫn được tính là 85%.
                        {% endif %}
                        {#                    {% blocktrans %}<b>Tính theo tháng gần nhất</b>: thành tích quý sẽ được tính bằng với tháng cuối cùng được đánh giá trong quý đó.<br/>Ví dụ: tháng 10 đạt 75%, tháng 11 đạt 85% , tháng 12 chưa đánh giá thì thành tích quý vẫn được tính là 85%.{% endblocktrans %}#}
                    </li>
                </ul>
                </p>

                <p>
                    {#                    <b>Lưu ý, trọng số của KPIs mỗi quý và tháng là bằng nhau. Ví dụ đối với 3 KPIs</b>#}
                        {% trans "<b>Note, the weighting score of each month is equal. Example of 3 KPIs</b>" %}<a
                        href="http://bit.ly/kpi-quarter" target="_blank"><img src="{{ STATIC_URL }}docs/{% trans "kpi-abc-EN.png" %}"
                                                                              style="width: 100%"/>
                </a>
                </p>
                {#                {% blocktrans %}<p>Bạn có thể xuất excel (export) theo định dạng đơn giản điểm để tìm hiểu thêm hoặc <a href="http://help.cjs.vn" target="_blank">bấm vào đây</a> để đặt câu hỏi. </p>{% endblocktrans %}#}
                    <p>{% trans "For more information, you can export the result into excel file in simple format or " %}<a
                            href="http://help.cjs.vn" target="_blank">click {% trans " here</a> to ask." %}</p>
            </div>
        </div>
    </div>
</div>

<div id="kpiscore-backup-help" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% blocktrans %}Backup KPI{% endblocktrans %}</h4>
            </div>
            <div class="modal-body">
                Điểm được lấy từ điểm của bộ KPI đã được backup.
                <a><span class="span" v-on:click="show_backup_kpi"> Xem danh sách KPI đã backup ở bên đây.</span> </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kpiscore-avg-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title bold" id="myModalLabel">{% trans "Quarter Performance - 3 months average" %}</h4>
	      	</div>
      		<div class="modal-body">
        		<p>{% trans "Quarter Performance Score is calculated by 3-months average score. For example:" %}</p>
        		
        		<p class="help-headline"><u>{% trans '1st Case' %}:</u> {% trans 'Full 3 months review' %}</p>
        		<table class="table table-bordered tb-sm">
        			<tbody>
        				<tr>
        					<th>{% trans 'Score Types' %}</th>
        					<th>{% trans 'January' %}</th>
        					<th>{% trans 'February' %}</th>
        					<th>{% trans 'March' %}</th>
        					<th>{% trans 'First Quarter' %}</th>
        				</tr>
        				<tr>
        					<td>{% trans 'Performace Score' %}</td>
        					<td>90%</td>
        					<td>80%</td>
        					<td>85%</td>
        					<td>(90% + 80% + 85%)/3</td>
        				</tr>
        			</tbody>
        		</table>
        		
        		<p class="help-headline"><u>{% trans '2nd Case' %}:</u> {% trans 'Only February and March review' %}</p>
        		<table class="table table-bordered tb-sm">
        			<tbody>
        				<tr>
        					<th>{% trans 'Score Types' %}</th>
        					<th>{% trans 'January' %}</th>
        					<th>{% trans 'February' %}</th>
        					<th>{% trans 'March' %}</th>
        					<th>{% trans 'First Quarter' %}</th>
        				</tr>
        				<tr>
        					<td>{% trans 'Performace Score' %}</td>
        					<td>0%</td>
        					<td>80%</td>
        					<td>85%</td>
        					<td>(80% + 85%)/2</td>
        				</tr>
        			</tbody>
        		</table>
     		</div>
      		<div class="modal-footer">
		        <button style="background-image: none;" type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      		</div>
   		</div>
  	</div>
</div>
