{% load i18n user_tags %}

<div id="report-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="text-align: left;margin:0px auto;left:0;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="score-report-form"
                      action='/performance/score/'
                      method="get">
                    {#                        {% csrf_token %}#}
                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inputEmail3"
                               class="col-sm-3 control-label">{% trans 'Quarter period' %}:</label>

                        <div class="col-sm-8">
                            <select name="quarter_id" class="form-control ELS_DDL_SCHEDULE" id="quarter_name">
                                {% for i in quarters %}
                                    <option v-if="current_quarter_id == {{ i.id }}" selected="selected" value="{{ i.id }}" date="{{ i.due_date|date:'d-m-Y' }}">
                                        {{ i.quarter_name }}
                                        ({{ i.due_date|date:'d-m-Y' }})
                                    </option>
                                    <option v-else value="{{ i.id }}" date="{{ i.due_date|date:'d-m-Y' }}">
                                        {{ i.quarter_name }}
                                        ({{ i.due_date|date:'d-m-Y' }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <div class="checkbox ">
                            	<input type="checkbox" checked name="user_id" style="position:unset;" id="id_check_user_id" class="ELS_CBX_SUB"
                                           value="{{ user_viewed.id }}">
                                <label for="id_check_user_id">
                                    {% trans "Export report for employee of " %} [{{ user_viewed.profile.display_name }}]
                                </label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="report_type" id="tin-report-type" value=""/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary ELS_BTN_CREATE"
                        onclick="$('#score-report-form').submit();">{% trans 'Generate' %}</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #report-modal .review_picker {
        width: 100% !important;
    }
    #report-modal .modal-body{
        overflow-y: inherit !important;
    }
</style>
