{% load i18n %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="monthlyScore" id="monthlyScore">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                </div>
            <div class="modal-body">
                <table class="table table-bordered">

                    <tr>
                        <td>${ month_1_name }$</td>
                        <td>${ employee_performance.month_1_score }$</td>
                    </tr>
                    <tr>
                        <td>${ month_2_name }$</td>
                        <td>${ employee_performance.month_2_score }$</td>
                    </tr>
                    <tr>
                        <td>${ month_3_name }$</td>
                        <td>${ employee_performance.month_3_score }$</td>
                    </tr>


                </table>
            </div>

        </div>
    </div>
</div>
