
{% load i18n %}



<!-- Modal -->
<div class="modal fade" id="performance-level-adjust" tabindex="-1" role="dialog" aria-labelledby="performance-level-adjust-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-calculation-method">
            <div class="modal-header modal-header-ratio">
                {#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <div id="performance-result-based" class="row adjusting-header">
                    <p class="modal-title title-calculation-method" id="performance-level-adjust-label">{% trans "Point calculation methods" %}</p>
                    <ul class="nav nav-pills mg-r-20 float-right">
                        <li @click="adjusting_kpi.achievement_calculation_method = null" v-bind:class="{  'active' : adjusting_kpi.achievement_calculation_method !== 'topbottom' }">
                            <button class="btn btn-normal btn-cus-5-7 btn-ratio pd-l-20 pd-r-20 KPI_TAB_PCAL_RATIO"
                                    data-toggle="tab" href="#ratio-dashboard">{% trans "Ratio Based" %}
                            </button>
                        </li>
                        <li class="no-margin KPI_TAB_PCAL_THRES" @click="adjusting_kpi.achievement_calculation_method = 'topbottom'" v-bind:class="{  'active' : adjusting_kpi.achievement_calculation_method === 'topbottom' }">
                            <button class="btn btn-normal btn-cus-5-7 btn-adjust pd-l-10 pd-r-10 KPI_TAB_PCAL_THRES"
                                    data-toggle="tab" href="#adjusting-dashboard">{% trans "Threshold Based" %}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body body-calculation-method">
                {#                ${ adjusting_kpi.id }$#}
                <div class="tab-content">
                    <div id="ratio-dashboard" class="tab-pane fade in" v-bind:class="{  'active' : adjusting_kpi.achievement_calculation_method !== 'topbottom' }">
                        <h3>{% trans "Click 'SAVE' to complete action" %}</h3>
                        {#                        <p>Some content.</p>#}
                    </div>
                    <div id="adjusting-dashboard" class="tab-pane fade in" v-bind:class="{  'active' : adjusting_kpi.achievement_calculation_method === 'topbottom' }">
                        <ul class="nav nav-tabs-ratio">
                            <li onclick="v.$set('adjusting_kpi.adjusting_month',1); v.update_adjusting_chart();checkConditon(this);" class="active">
                                <a data-toggle="tab" href="#month-1-input">${ month_1_name }$</a>
                            </li>
                            <li onclick="v.$set('adjusting_kpi.adjusting_month',2); v.update_adjusting_chart();checkConditon(this);">
                                <a data-toggle="tab" href="#month-2-input">${ month_2_name }$</a>
                            </li>
                            <li onclick="v.$set('adjusting_kpi.adjusting_month',3); v.update_adjusting_chart();checkConditon(this);">
                                <a data-toggle="tab" href="#month-3-input">${ month_3_name }$</a>
                            </li>
                            <li onclick="v.$set('adjusting_kpi.adjusting_month','quarter'); v.update_adjusting_chart();checkConditon(this);">
                                <a data-toggle="tab" href="#quarter-input" class="pd-l-10 pd-r-10">{% trans "Quarter" %}</a>
                            </li>
                        </ul>
                        <div class="app mg-t-20" id="month-dashboard">
                            {#                            ${ adjusting_kpi.name }$#}
                            <div class="chart-container chart-calculation-method">
                                <canvas id="performance-adjusting-chart"></canvas>
                            </div>

                        </div>
                        <div v-if="adjusting_kpi.operator === '>='" class="row col-sm-12 evaluate-chart" v-bind:id="adjusting_kpi.operator">
                            <div class="tab-content">
                                <div id="month-1-input" class="tab-pane fade in active" > {# This div do the trick, do not remove when you have no idea what you're doing #}

                                    <div class="col-sm-4 adjuster-wrapper">
                                        <!-- nguong day -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               id="input-1"
                                               onchange="checkConditionInput1();"
                                               onkeyup="checkConditionInput1();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_1'].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>

                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['month_1'].bottom) }$%</span>
                                    </div>
                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- nmuc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               id="input-2"
                                               v-model="adjusting_kpi['month_1_target']"/>

                                        <span class="performance-score-title target">{% trans "Target" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_TOP"
                                               id="input-3"
                                               onchange="checkConditionInput3();"
                                               onkeyup="checkConditionInput3();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_1'].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>
                                    </div>
                                </div>

                                <div v-for="month in [2,3]" v-bind:id="'month-' + month +'-input'" class="tab-pane fade" >
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong day -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               id="input-1"
                                               onchange="checkConditionInput1();"
                                               onkeyup="checkConditionInput1();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_' + month].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>

                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['month_' + month].bottom) }$%</span>
                                    </div>
                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- muc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               id="input-2"
                                               v-model="adjusting_kpi['month_'+ month +'_target']"/>

                                        <span  class="performance-score-title target">{% trans "Target:" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_TOP"
                                               id="input-3"
                                               onchange="checkConditionInput3();"
                                               onkeyup="checkConditionInput3();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_' + month].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>
                                    </div>
                                </div>
                                <div id="quarter-input" class="tab-pane fade" > {# This div do the trick, do not remove when you have no idea what you're doing #}
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong day -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['quarter'].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>

                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['quarter'].bottom) }$%</span>
                                    </div>
                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- muc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               v-model="adjusting_kpi['target']"/>

                                        <span class="performance-score-title target">{% trans "Target:" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_TOP"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['quarter'].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="adjusting_kpi.operator === '<='" class="row col-sm-12 evaluate-chart" v-bind:id="adjusting_kpi.operator">
                            <div class="tab-content">
                                <div id="month-1-input" class="tab-pane fade in active" > {# This div do the trick, do not remove when you have no idea what you're doing #}

                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               id="input-1"
                                               onchange="checkConditionInput1();"
                                               onkeyup="checkConditionInput1();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_1'].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>


                                    </div>

                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- muc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               id="input-2"
                                               v-model="adjusting_kpi['month_1_target']"/>

                                        <span class="performance-score-title target">{% trans "Target:" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong day -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               id="input-3"
                                               onchange="checkConditionInput3();"
                                               onkeyup="checkConditionInput3();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_1'].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>
                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['month_1'].bottom) }$%</span>

                                    </div>
                                </div>
                                <div v-for="month in [2,3]" v-bind:id="'month-' + month +'-input'" class="tab-pane fade" >

                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_TOP"
                                               id="input-1"
                                               onchange="checkConditionInput1();"
                                               onkeyup="checkConditionInput1();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_' + month].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>

                                    </div>
                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- muc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               id="input-2"
                                               v-model="adjusting_kpi['month_'+ month +'_target']"/>

                                        <span class="performance-score-title target">{% trans "Target:" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong day -->
                                        <input @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless KPI_INP_PCAL_BT"
                                               id="input-3"
                                               onchange="checkConditionInput3();"
                                               onkeyup="checkConditionInput3();"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['month_' + month].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>
                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['month_' + month].bottom) }$%</span>

                                    </div>
                                </div>
                                <div id="quarter-input" class="tab-pane fade" > {# This div do the trick, do not remove when you have no idea what you're doing #}

                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong tran -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless "
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['quarter'].top"/>

                                        <span class="performance-score-title max">{% trans "Top threshold:" %}</span>
                                        <span class="performance-score">${ organization.max_score.toFixed(2) }$%</span>

                                    </div>
                                    <div  class="col-sm-4 adjuster-wrapper">

                                        <!-- muc tieu -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               v-model="adjusting_kpi['target']"/>

                                        <span class="performance-score-title target">{% trans "Target:" %}</span>

                                        <span class="performance-score">100%</span>

                                    </div>
                                    <div class="col-sm-4 adjuster-wrapper">

                                        <!-- nguong day -->
                                        <input disabled @keyup="update_adjusting_chart"
                                               class="adjust-input form-control borderless"
                                               v-model="adjusting_kpi.achievement_calculation_method_extra['quarter'].bottom"/>

                                        <span class="performance-score-title min">{% trans "Bottom threshold:" %}</span>
                                        <span class="performance-score">${ calculate_score_with_level(adjusting_kpi.achievement_calculation_method_extra['quarter'].bottom) }$%</span>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="margin-top: 80px">
                            <p class="error-input" id="error-input-1" style="display: none">
                                {% trans "*Warning : The above threshold must be greater than 0 and less than the target" %}
                            </p>
                            <p class="error-input" id="error-input-2" style="display: none">
                                {% trans "*Warning : The bottom threshold must be greater than the target" %}
                            </p>

                            <p class="error-input" id="error-input-3" style="display: none">
                                {% trans "*Warning : The bottom threshold must be greater than 0 and less than the target" %}
                            </p>
                            <p class="error-input" id="error-input-4" style="display: none">
                                {% trans "*Warning : The above threshold must be greater than the target" %}
                            </p>
                        </div>


                        <div class="col-sm-12 adjuster-wrapper border-estimated-top no-padding" id="adjuster-estimation" style="display: none;">

                            <div class="estimated-result-wrapper" >
                                <span class="estimated-result-title">{% trans "Estimated result:" %}</span>
                                <span>
                                <input id="estimated-result-input"
                                       @keyup="update_adjusting_chart" class="form-control adjust-input estimated-result-input"
                                       v-model="estimated_result_with_threshold"/>
                                    <strong>&#61 <span style="line-height: 40px">${ calculate_score_with_level(estimated_result_with_threshold) }$%</span></strong></span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-calculation-method">
                <div class="row pd-t-15">
                    <div class="col-md-8 col-sm-7">
                        <div class="float-left">
                            <span class="adjuster-unit adjuster-kpi-name">
                                <strong>${ adjusting_kpi.name }$</strong>
                            </span>
                            <span class="adjuster-unit adjuster-kpi-unit">
                                {% trans "Unit" %}: ${ adjusting_kpi.unit }$
                            </span>

                            <span v-if="adjusting_kpi.achievement_calculation_method === 'topbottom'"
                                  style=" cursor: pointer"
                                  href="javascript:void(0)"
                                  class="adjuster-unit adjuster-kpi-estimate"
                                  @click="toggle_adjusting_estimation()">
                               {% trans "Estimation:" %}
                                <a>
                                    <i class="material-icons chart-icon" style="font-size: 12px">&#xE24B;<!-- icon chart--></i>
                                </a>

                            </span>

                        </div>
                    </div>
                    <div clas="col-md-4 col-sm-5">
                        <div class="adjuster-combobox">
                            <button type="button" class="btn btn-normal btn-cus-white always-on-menu btn-cus-5-7 pd-l-20 pd-r-20"
                                    @click="reset_adjust()"
                                    data-dismiss="modal"> {% trans "Cancel" %}</button>
                            <button type="button" class="btn btn-normal btn-cus-add btn-cus-5-7 pd-l-20 pd-r-20 KPI_BTN_PCAL_SAVE"
                                    onclick="v.confirm_adjust(this)"
                                    data-dismiss="modal">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#performance-level-adjust').on('hidden.bs.modal', function () {
        {#v.reset_adjust();#}
    })
</script>

<script>

    function checkInput1(input_1,target) {
         var id = $('.row.col-sm-12.evaluate-chart').attr('id');
         if(input_1 >= target || input_1 < 0 ) {
            if( id == '<=')
                $('#error-input-1').css('display','');
            else
                $('#error-input-3').css('display','');
        }
        else {
            if( id == '<=')
                $('#error-input-1').css('display','none');
            else
                $('#error-input-3').css('display','none');
        }
    }
    function checkInput3(input_3,target) {
        var id = $('.row.col-sm-12.evaluate-chart').attr('id');
        if(input_3 <= target ) {
            if( id == '<=')
                $('#error-input-2').css('display','');
            else
                $('#error-input-4').css('display','');
        }
        else {
            if( id == '<=')
                $('#error-input-2').css('display','none');
            else
                $('#error-input-4').css('display','none');
        }
    }
    function checkConditionInput1() {
        var current_tab = $('.row.col-sm-12.evaluate-chart').find('.tab-pane.fade.in.active');
        var target = parseFloat(current_tab.find('#input-2').val());
        var input_1 = parseFloat(current_tab.find('#input-1').val());
        checkInput1(input_1,target);
    }
    function checkConditionInput3() {
        var current_tab = $('.row.col-sm-12.evaluate-chart').find('.tab-pane.fade.in.active');
        var target = parseFloat(current_tab.find('#input-2').val());
        var input_3 = parseFloat(current_tab.find('#input-3').val());
        checkInput3(input_3,target);
    }
    function checkConditon(e) {
        $('#error-input-1').css('display','none');
        $('#error-input-2').css('display','none');
        $('#error-input-3').css('display','none');
        $('#error-input-4').css('display','none');
        var id = $(e).find('a').attr('href');
        var input_1 = parseFloat($(id).find('#input-1').val());
        var target = parseFloat($(id).find('#input-2').val());
        var input_3 = parseFloat($(id).find('#input-3').val());
        checkInput1(input_1,target);
        checkInput3(input_3,target);
    }
    function resetErrorWhenShow() {
        $('#error-input-1').css('display','none');
        $('#error-input-2').css('display','none');
        $('#error-input-3').css('display','none');
        $('#error-input-4').css('display','none');
    }
</script>