{#Ankita commented after discussing wih Mr.Khang:#}
{##}
{#{% load i18n %}     <!-- Modal -->#}
{#        <div class="modal fade" id="publicLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                                aria-hidden="true">&times;</span></button>#}
{#                        <h4 class="modal-title" id="myModalLabel">{% blocktrans %}Public Link{% endblocktrans %}</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <iframe frameborder="0" style="width: 100%"></iframe>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}