{% load i18n inplace_edit %}
<div class="modal fade" id="modal-vision-mission" tabindex="-1" role="dialog" aria-labelledby="modalVisionMission">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header padding-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4>{% trans "Company Vision & Mission" %}</h4>
            </div>
            <div class="modal-body">
                {% if map %}
                <div id="company-vision-wrapper">
                    <div class="row rows-table-sm">
                        <div class="row-table">
                            <div class="col-sm-3 col-table-3 text-center vt-top">
                                 <div>
                                    <img alt="{{ target_organization.name }}"
                                         src="{{ target_organization.get_logo }}"
                                         title="{{ target_organization.name }}" class="img-responsive">
                                    <div class="com-name">{{ target_organization.name }}</div>
                                    </div>
                            </div>
                            <div class="col-sm-9 col-table-9">
                                <div id="company-vision-name" >
                                    {% if not is_superuser %}

                                        {{ map.name | safe }}
                                    {% else %}
                                        {% inplace_edit "map.name" edit_empty_value='...', adaptor="tiny" %}
                                    {% endif %}

                                </div>

                                <div>
                                    <div id="company-mission">
                                        {% if not user.profile.is_superuser_org %}

                                            {{ map.description | safe }}
                                        {% else %}
                                            {% inplace_edit "map.description" edit_empty_value='Description ...', adaptor="tiny" %}
                                        {% endif %}
                                    </div>
                                    {% if not editing_vision %}

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% trans "Information's updating ......" %}
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-normal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>