{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/bootstrap3x/css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}js/lib/jquery_csrf.js?v={{ settings.VERSION }}"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>
</head>
<body>

<div>
    <form method="post" id="public_link_form">
        {% csrf_token %}
        {#        <p>{% blocktrans %}Public Link:{% endblocktrans %} <a href="{% url 'kpi_dashboard_emp' year profile.get_hash %}" target="_blank" role="tab">{% blocktrans %}Click here{% endblocktrans %}</a></p>#}
        <p>{% blocktrans %}Public Link:{% endblocktrans %} <a href="{% url 'kpi_editor_emp' profile.get_hash %}"
                                                              target="_blank" role="tab">{% blocktrans %}Click here{% endblocktrans %}</a> {% if user.profile.is_superuser_org %}| {% blocktrans %}KPI Mind Map:{% endblocktrans %} <a
                href="{% url 'kpi_mindmappub'  profile.user_id %}"
                target="_blank" role="tab">{% blocktrans %}Click here{% endblocktrans %}</a>{% endif %}</p>

        <p>{% blocktrans %}Enable Public Link{% endblocktrans %}
            <input type="checkbox" name="public_link" onclick="$('#public_link_form').submit();"
                    {% if profile.allow_public_view %} checked="checked" {% endif %} value="yes">
        </p>

        {% if user.profile.is_superuser_org %}
            <p>
                <a href="#" onclick="$('#delete_all').show(); $(this).hide();">
                    {% trans "Delete all kpis for current user" %}
                </a>

            </p>
            <p id="delete_all" style="display: none;">
                {% trans "Are you sure you want to delete all KPIs for this users" %}?<br/>
                <script>
                    function delete_all_kpis(user_id) {
                        cloudjetRequest.ajax({
                            url: "{% url 'kpi_services' %}",
                            type: 'post',
                            data: {
                                command: 'delele_all_kpis',
                                user_id: user_id
                            },
                            success: function (data) {
                                alert("Success");
                            },
                            error: function () {

                            }
                        });
                        {% comment %}$.post("{% url 'kpi_services' %}", {
                                    command: 'delele_all_kpis',
                                    user_id: user_id

                                },
                                function (data, status) {
                                    alert("Success");
                                });{% endcomment %}
                    }
                </script>
                <a href="#" onclick="delete_all_kpis( {{ profile.user_id }}); $(this).html('{% trans "Deleting" %}');"
                   class="btn btn-danger">{% trans "Delete all KPIs" %}</a>
            </p>
        {% endif %}

    </form>
</div>
</body>
</html>