{% extends 'v5/base_import.html' %}
{% load i18n %}
{% load inplace_edit %}

{% block title %}{{ block.super }}{% endblock %}

{% block extra_css %}


    <!-- handsometable -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/handsontable.full.min.css">
    <script src="{{ STATIC_URL }}js/handsontable.full.min.js"></script>
    <script src="{{ STATIC_URL }}js/async.min.js"></script>
    <script src="{{ STATIC_URL }}js/calculate_achievement.js?v={{ VERSION }}"></script>
{% endblock %}

{% block content %}
    <style>
        .error {
            color: red;
        }
    </style>


    <div class="container-fluid" id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{% trans "Home" %}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Tổng Hợp Kết Quả KPIs</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div>

            <table class="table table-striped">
                <tr>
                    <td style="width: 170px">Tên</td>
                    <td>${ user.profile.display_name }$</td>
                    <!--<td>${ user.profile.display_name }$</td>-->
                     <!--vi user la object rong nen khi khoi tao se khong co field profile -> error -->
                     <!--fix: them field profile de luu profile tra ve -->
                </tr>
                <tr>
                    <td>Vị Trí</td>
                    <td>${ user.profile.title }$</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>${ email }$</td>
                </tr>
                <tr>
                    <td>{% trans "Year" %}
                    </td>
                    <td><input v-model="year" disabled="true"></td>
                </tr>
                <tr>
                    <td>{% trans "Result" %}
                    </td>

                    <td><b style="color:#19AAAA">
                        ${ user.year_score }$ %</b></td>
                </tr>
                <tr>
                    <td>Ghi chú</td>
                    <td>
                        <ul>
                            <li><b>sum</b>: kết quả năm được tính dựa vào <b style="color:#19AAAA ">tổng</b> kết quả các
                                tháng
                            </li>
                            <li><b>average</b>: kết quả năm được tính dựa vào <b style="color:#19AAAA ">trung bình</b>
                                kết quả các tháng
                            </li>
                            <li><b>most_recent</b>: kết quả năm được tính dựa vào <b style="color:#19AAAA "> kết quả
                                tháng gần nhất</b> (tháng 12)
                            </li>
                            <hr>
                            <li>Bạn có thể lấy dữ liệu đánh giá từ các quý trước bằng cách sử dụng tính năng <b
                                    style="color:#19AAAA">"Lấy dữ liệu từ các quý"</b></li>
                        </ul>
                    </td>

                </tr>
            </table>

        </div>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <button id="upload" class="btn btn-success">Lưu dữ liệu</button>
                    <button id="reload" class="btn btn-success">Lấy dữ liệu từ các quý</button>
                </td>
                <td style="text-align: right; vertical-align: middle; padding-bottom: 20px; padding-left: 850px"></td>
            </tr>
        </table>

    </div>


    <center>
        <div id="loading"><img src="{{ STATIC_URL }}owl-carousel/AjaxLoader.gif" alt="">
            <br> Đang tải dữ liệu
        </div>
    </center>
    {# Hong temporary disable        <button id="export" class="btn btn-success">Xuất dữ liệu</button>#}

    <div id="table1" class="hot handsontable htRowHeaders htColumnHeaders"></div>

    </div>

    <script data-jsfiddle="table1">
        var translate = {
            'Full name': '{% trans "Full name" %}',
            'Employee Code': '{% trans "Employee Code" %}',
            'Code KPI': '{% trans "Code KPI" %}',
            'Objectives': '{% trans "Objectives" %}',
            'Weighting score': '{% trans "Weighting score" %}',
            'Weighting ratio': '{% trans "Weighting ratio" %}',
            'KPI': 'KPI',
            'Reason Delay KPI': '{% trans "Reason Delay KPI" %}',
            'Assign to': '{% trans "Assign to" %}',
            'Sub- weighting score': '{% trans "Sub- weighting score" %}',
            'Sub- weighting ratio': '{% trans "Sub- weighting ratio" %}',
            'Unit': '{% trans "Unit" %}',
            'Measurement method': '{% trans "Measurement method" %}',
            'Operator': '{% trans "Operator" %}',
            'Target': '{% trans "Target" %}',
            'Result': '{%trans "Result" %}',
            'Performance': '{% trans "Performance" %}',
            'FULL LIST OF KPIs': '{% trans "FULL LIST OF KPIs" %}',
            'FULL LIST OF BACKUP KPIs': '{% trans "FULL LIST OF BACKUP KPIs" %}',
            'Score': '{% trans "Score" %}',
            'Total': '{% trans "Total" %}',
            'Language': '{% trans "English" %}'
        };

        function render_header_col(month, arr) {
            var header = [];
            for (i = 1; i <= month; i++) {
                arr.map(function (el) {
                    header.push('T' + i + '<small><br>' + el + '</small>');
                })
            }
            return header;
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }


    </script>

    <script>
        const router = new VueRouter();
        var initData = true;


        var app = new Vue({
            el: '#app',
            router: router,
            watch: {},
            data: {

                user_id: {{ request.user.id }},
                year: 2017,
                quarter: [1, 2, 3, 4],
                temp_yearly_data: [],
                yearly_data: [],
                yearly_data_from_quarters: [],
                email: '{{ request.user.email }}',
                user: {profile:[],},
                message: '',
            },
            delimiters: ['${', '}$'],

            created: function () {
                var self = this;
                self.get_user_profile();
                // convert kpi object to array with pattern
                function obj_kpi_to_arr(kpi, parent_unique_key, quarter) {
                    <!--if not kpi return [];-->
                    parent_unique_key = parent_unique_key ? parent_unique_key : null;

                    var year_data = [
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', '',
                        '', ''
                    ];

                    try {
                        year_data = [
                            kpi.year_data['m1_target'], kpi.year_data['m1_result'],
                            kpi.year_data['m2_target'], kpi.year_data['m2_result'],
                            kpi.year_data['m3_target'], kpi.year_data['m3_result'],
                            kpi.year_data['m4_target'], kpi.year_data['m4_result'],
                            kpi.year_data['m5_target'], kpi.year_data['m5_result'],
                            kpi.year_data['m6_target'], kpi.year_data['m6_result'],
                            kpi.year_data['m7_target'], kpi.year_data['m7_result'],
                            kpi.year_data['m8_target'], kpi.year_data['m8_result'],
                            kpi.year_data['m9_target'], kpi.year_data['m9_result'],
                            kpi.year_data['m10_target'], kpi.year_data['m10_result'],
                            kpi.year_data['m11_target'], kpi.year_data['m11_result'],
                            kpi.year_data['m12_target'], kpi.year_data['m12_result']
                        ];

                    } catch (ex) {
                    }
                    var step=0;
                    for (var i=6*(quarter-1); i<6*quarter; i++){
                        if (i%2==0) step++;
                        var target = 'month_'+String(step)+'_target';
                        var score  = 'month_'+String(step);
                        if (i%2==0) year_data[i]=kpi[target];
                        else year_data[i]=kpi[score];
                    }
                    if (parent_unique_key) {
                        year_data = [
                            kpi.id,
                            kpi.prefix_id,
                            '',
                            '',
                            '',
                            kpi.name,
                            kpi.owner_email,
                            '',
                            '',
                            kpi.unit,
                            kpi.operator,
                            kpi.score_calculation_type,
                            kpi.year_target,
                            kpi.year_result,
                            kpi.year_score
                        ]
                            .concat(year_data)
                            .concat([
                                kpi.unique_key,
                                parent_unique_key
                            ])
                    }
                    else {
                        year_data = [
                            kpi.id,
                            kpi.prefix_id,
                            kpi.name,
                            kpi.weight,
                            '',
                            '',
                            kpi.owner_email,
                            '',
                            '',
                            kpi.unit,
                            kpi.operator,
                            kpi.score_calculation_type,
                            kpi.year_target,
                            kpi.year_result, kpi.year_score

                        ]
                            .concat(year_data)
                            .concat([
                                kpi.unique_key,
                                ''
                            ])
                    }


                    year_data = year_data.concat(
                        [
                            kpi.month_1_target, kpi.month_1,
                            kpi.month_2_target, kpi.month_2,
                            kpi.month_3_target, kpi.month_3
                        ]
                    );

                    return year_data;
                }

                // up level child kpi to parent kpi, add in parent_unique_key
                function align_quarter_data(quarter_data, quarter) {
                    var arr_kpi = [];
                    quarter_data.map(function (parent_kpi) {

                        arr_kpi.push(obj_kpi_to_arr(parent_kpi,null,quarter));
                        <!--arr_kpi=obj_kpi_to_arr(parent_kpi,null,quarter);-->
                        var arr_children_kpi = parent_kpi.children.map(function (child) {
                            return obj_kpi_to_arr(child, parent_kpi.unique_key, quarter);
                        });

                        arr_kpi = arr_kpi.concat(arr_children_kpi);
                    });
                    return arr_kpi;
                }

                async.mapSeries([1, 2, 3, 4], function (quarter, cb) {
                    var data = self.get_quarter_data(quarter);

                    data.then(function (_data) {
                        console.log("quarter:"+quarter);
                        return cb(null, align_quarter_data(_data, quarter));
                    }, function (error) {
                        return cb(null, []) // catch case error get data
                    });
                }, function (err, results) {
                    empty_quarter = [];
                    results.forEach(function(el,index){ if (el.length==0) empty_quarter.push(index+1)});
                    if (empty_quarter.length>0){
                        if (empty_quarter.indexOf(4)>0){
                            $('#reload').attr('disabled', true);
                            swal({
                                text: "{% trans "Quarter 4 data is required to create report! " %}",
                                type: "error",
                                button: "Okay"
                            });
                        }
                        else {
                            swal({
                            text: "{% trans "Missing data of quarter "%}"+ empty_quarter,
                            type: "warning",
                            button: "Okay"
                            });
                        }
                    }
                    var quarter_4 = results[3];

                    self.yearly_data = quarter_4;

                    self.render_table(self.yearly_data);
                    //below is to build yearly_data_from_quarters

                    self.yearly_data_from_quarters = quarter_4.map(function (q4_kpi) {

                        var info_row = []
                            .concat
                            .apply([], [q4_kpi.slice(0, 12)]);
                        console.log("info:"+info_row);
                        var q4_data = q4_kpi.slice(33, 39);

                        var unique_key = q4_kpi[39];
                        console.log(unique_key);

                        var quarter_123_data = [1, 2, 3].map(function (quarter, i) {

                            var x = results[quarter - 1].filter(function (q_kpi) {
                                return q_kpi.length && q_kpi[39] === unique_key;
                            });
                            if (x.length) {
                                return x[0].slice(41, 47);}
                            else return ['', '', '', '', '', ''];

                        });
                        console.log("quarter 1,2,3:"+quarter_123_data);
                        quarter_123_data = [].concat.apply([], [
                            '', '', '', //year target, year result, year score
                            quarter_123_data[0], quarter_123_data[1], quarter_123_data[2], q4_data]);
                        console.log("full data:"+quarter_123_data);

                        info_row = info_row.concat(quarter_123_data); // add quarter data

                        info_row = info_row.concat(q4_kpi.slice(39, 41));// add unique_key
                        info_row = info_row.map(function (item) {
                            return item == null ? '' : item;
                        });
                        console.log("yearly_data full:"+info_row);
                        return info_row;
                    });
                });

            },
            methods: {
                get_quarter_data: function (quarter) {
                    self = this;
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            method: "GET",
                            url: "/api/v2/kpi/user/" + self.user_id + "/" + self.year + "/" + quarter + "/",
                            success: function (data) {
                                self.temp_yearly_data = data;
                                resolve(data.data);
                            },
                            error: function (request, status, error) {
                                resolve([]);
                            }
                        })
                    });
                },
                render_table: function (data, rowHeights) {

                    var self = this;

                    function disableRowRenderer(instance, td, row, col, prop, value, cellProperties) {
                        Handsontable.renderers.TextRenderer.apply(this, arguments);
                        td.style.background = '#EEE';
                    }

                    var container = document.getElementById('table1'),
                        options = document.querySelectorAll('.options input'),
                        table,
                        hot;

                    var month_header = render_header_col(12, [translate['Target'], translate['Result']]);
                    console.log(month_header);
                    var header_title = ['ID', 'Mã<br>KPI', translate['Objectives'], translate['Weighting score'], '%<br>Trọng số', 'KPI', translate['Assign to'], 'Trọng số con', '%<br>Trọng số con',
                        translate['Unit'], 'Toán<br>tử', "Phương pháp<br>tổng hợp", self.year + "<br>Mục tiêu", self.year + "<br>Kết quả", self.year + "<br>Thành tích (%)"];
                    header_title = header_title.concat(month_header);
                    header_title = header_title.concat(['unit_key', 'parent_key']);
                    console.log(header_title);
                    hot = new Handsontable(container, {
                        data: data,
                        colHeaders: header_title,
                        {#rowHeaders: true,#}
                        manualColumnResize: true,
                        manualRowResize: true,
                        colWidths: [
                            50, 50, 200,
                            80, 80, 200, 150, 88, 85, 70, 40, 100,
                            60, 60, 100,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            60, 60,
                            100, 100
                        ],
                        hiddenColumns: {
                            columns: [0, 4, 6, 7, 8, 39, 40]
                        },

                        autoRowSize: true,
                        {#width: '1000px',#}
                        columns: [
                            {}, {}, {}, {}, {}, {},
                            {}, {}, {}, {}, {},
                            {
                                type: 'dropdown',
                                source: ['', 'sum', 'average', 'most_recent']
                            },
                            {}, {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {},
                            {}, {}
                        ]
                    });

                    function collectDataForYear(mode, row) {
                        console.log("get data from cell:" +hot.getDataAtCell(0,37));
                        console.log("data table: "+ data);
                        var targetMonthRowRange = [];
                        var realMonthRowRange = [];

                        for (var i = 0; i < 12; i++) {
                            targetMonthRowRange.push(15 + i * 2);
                            realMonthRowRange.push(16 + i * 2);
                        }
                        console.log("month cell:"+targetMonthRowRange);
                        var sumTargetValue = 0;
                        var sumRealValue = 0;
                        var targetYearValue = 0;
                        var realYearValue = 0;
                        var operator = null;
                        var perfValue = 0;
                        targetMonthRowRange.map(function (targetCell) {
                            var _data = hot.getDataAtCell(row, targetCell);
                            if (isNumber(_data)) sumTargetValue += parseFloat(_data);
                        });

                        realMonthRowRange.map(function (realCell) {
                            var _data = hot.getDataAtCell(row, realCell);
                            if (isNumber(_data)) sumRealValue += parseFloat(_data);
                        });


                        switch (mode) {
                            case 'sum':
                                targetYearValue = sumTargetValue;
                                realYearValue = sumRealValue;
                                break;
                            case 'average':
                                targetYearValue = sumTargetValue / 12;
                                realYearValue = sumRealValue / 12;
                                break;
                            case 'most_recent':
                                var targetMonth12 = hot.getDataAtCell(row, 37);
                                var realMonth12 = hot.getDataAtCell(row, 38);

                                targetYearValue = targetMonth12;
                                realYearValue = realMonth12;
                                break;
                            default:
                                targetYearValue = hot.getDataAtCell(row, 12);
                                realYearValue = hot.getDataAtCell(row, 13);
                        }

                        // calculate_achievement(operator, target, real, max_score)
                        operator = hot.getDataAtCell(row, 10);

                        perfValue = calculate_achievement(operator, targetYearValue, realYearValue);

                        hot.setDataAtCell([
                            [row, 12, parseFloat(targetYearValue).toFixed(2)],
                            [row, 13, parseFloat(realYearValue).toFixed(2)],
                            [row, 14, parseFloat(perfValue).toFixed(2)]
                        ]);

                        var parent_unit_key = hot.getDataAtCell(row, 40);
                        if (!parent_unit_key) {
                            for (var k = 0; k <= 40; k++) {
                                hot.setCellMetaObject(row, k, {
                                    'className': 'gray',
                                    'readOnly': true
                                });
                            }
                        }
                    }

                    hot.addHook('afterChange', function (src, changes) {
                        console.log("source:",src);
                        if (!initData && changes!='loadData') {

                            var row = src[0][0];
                            var col = src[0][1];
                            var oldData = src[0][2];
                            var newData = src[0][3];

                            var mode = hot.getDataAtCell(row, 11);

                            var col_range = [];

                            if (oldData !== newData) {
                                setTimeout(function () {
                                    collectDataForYear(mode, row);
                                }, 1)
                            }

                            if (['sum', 'average', 'most_recent'].indexOf(mode) >= 0) {
                                hot.setCellMeta(row, 12, 'readOnly', true);
                                hot.setCellMeta(row, 13, 'readOnly', true);
                                hot.setCellMeta(row, 14, 'readOnly', true);

                                hot.setCellMeta(row, 12, 'className', 'gray');
                                hot.setCellMeta(row, 13, 'className', 'gray');
                                hot.setCellMeta(row, 14, 'className', 'gray');
                            }
                            else if (mode === '') {
                                hot.setCellMeta(row, 12, 'readOnly', false);
                                hot.setCellMeta(row, 13, 'readOnly', false);

                                hot.setCellMeta(row, 12, 'className', 'while');
                                hot.setCellMeta(row, 13, 'className', 'while');
                            }
                        }
                        if (changes=='loadData'){
                            var nRows = hot.countRows();
                            console.log("nRows:",nRows);
                            for (var row=0; row<nRows; row++) {
                                var mode = hot.getDataAtCell(row,11);
                                collectDataForYear(mode,row)
                            }
                        }
                    });

                    $('#export').on('click', function () {
                        exportPlugin.downloadFile('csv', {filename: self.email + ' KQN', columnHeaders: true});
                        console.log(hot.getData());

                    });

                    $('#upload').on('click', function () {

                        $('#upload').prop('disabled', true);

                        var json_data = hot.getData();
                        var data = {};
                        data['kpis'] = json_data;
                        console.log(json_data);
                        cloudjetRequest.ajax({
                            type: 'POST',
                            data: JSON.stringify(data),
                            url: "/api/v2/kpi/user/" + self.user_id + "/" + self.year + "/4/",
                            beforeSend: function () {
                                $("#loading").show();
                            },
                            success: function (data) {
                                $("#loading").hide();
                                $('#upload').prop('disabled', false);

                                var exportPlugin = hot.getPlugin('exportFile');

                                self.user.year_score = data.year_score;
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $("#loading").hide();
                                $('#upload').prop('disabled', false);
                                alert("Quá trình cập nhật bị lỗi. Hãy thử lại");
                            }
                        });

                    });

                    $('#reload').on('click', function () {
                        swal({
                            title: 'Bạn có muốn lấy dữ liệu từ các quý đã đánh giá không?',
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: '{% trans "Cancel" %}',
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: '{% trans "Agree" %}',
                            closeOnConfirm: true
                        }).then(function(isConfirm){
                            if (isConfirm) {
                                hot.loadData(self.yearly_data_from_quarters);
                                hot.render();
                            }
                        });
                    });

                    function worker(i, callback) {
                        var row = i;
                        var mode = hot.getDataAtCell(row, 11);
                        setTimeout(function () {
                            collectDataForYear(mode, row);
                            callback();
                        }, 1)
                    }

                    var concurrency = 1;

                    queue = [];

                    for (var i = 0; i < data.length; i++) {
                        queue.push(i);
                    }

                    async.eachLimit(queue, concurrency, worker, function () {
                        initData = false;
                        $('#loading').hide();
                        $('#export').show();
                        $('#upload').show();
                        $('#reload').show();
                        $('#table1').show();
                        hot.render();
                    });
                },

                get_user_profile: function () {

                    self = this;
                    console.log("get profile!!!");
                    cloudjetRequest.ajax({
                        method: "GET",
                        url: "/api/v2/user_kpi/" + self.user_id + "/",
                        success: function (data) {
                            self.user = data;
                            return data;
                        },
                        error: function (err) {
                            return [];
                        }
                    })
                }
            }

        });
    </script>

    <style>
        body {
            overflow-x: scroll;
        }

        #hot-display-license-info {
            display: none;
        }

        .handsontable .gray {
            background: #f8f8f8;
        }

        .handsontable .while {
            background: #fff;
        }

        .btn {
            display: none;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        #table1 {
            display: none;
        }
    </style>

{% endblock %}
