{% load i18n %}
<style>
    .alert-custom-comp .icon-check-success {
        font-size: 80px !important;
        color: #008b8b !important;
    }

    .alert-custom-comp .content-wrapper {
        padding: 14px;
        background-color: #e1ebf4;
        margin-top: 40px;
        text-align: justify;
    }
    .no-message .el-message__closeBtn.el-icon-close{
        top: 10% !important;
    }

    .alert-custom-comp .content-wrapper .messages {
        color: #337ab7;
    }

    .alert-custom-comp .info-hide {
        margin-top: 8px
    }

</style>

<div id="alert-success-wrap" style="display: none;">
    <div style="display: none;" :id="'alert-custom-content-'+uuid">
        <div class="alert-custom-comp">
            <div class="row">
                <div class="text-center">
                    <i class="material-icons icon-check-success">check</i>
                </div>
                <div class="text-center"><span class="title-alert-change">${ title }$</span></div>
            </div>
            <div class="content-wrapper" v-if="nomessages==false">
                <span class="messages" v-html="messages"></span>
            </div>
            <div class="info-hide text-center" v-if="nomessages==false">
                <span>Hệ thống sẽ tự động quay lại sau ${ duration }$s</span>
            </div>
            <div class="col-xs-12 text-center mg-t-20" v-if="havebutton == true">
                <a :href="hrefbutton" class="btn btn-normal btn-cus-white btn-cus-5-7">${ textbutton }$</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
<script>
    Vue.component('alert-custom', {
        type: 'alert-custom',
        template: $('#alert-success-wrap').html(),
        props: [
            'type',
            'title',
            'messages',
            'nomessages',
            'duration',
            'havebutton',
            'textbutton',
            'hrefbutton',
            'value'
        ],
        data: function () {
            return {
                uuid: makeid(),
            }
        },
        delimiters: ["${", "}$"],
        methods: {
            showMessages: function () {
                var self = this;
                self.$message({
                    dangerouslyUseHTMLString: true,
                    message: $('#alert-custom-content-' + self.uuid).html(),
                    iconClass: 'icon-alert-del-kpi',
                    duration: self.duration * 1000,
                    center: true,
                    showClose: true,
                    customClass: (self.nomessages == true)?'alert-success-cus-el cus-detail no-message':'alert-success-cus-el cus-detail',
                });
                self.$emit('dismiss')
            },
            timeDown: function () {
                var self = this;

            }
        },
        watch: {
            value: {
                handler: function (val, oldVal) {
                    if (val === true) {
                        this.$forceUpdate();

                    } else {
                        this.duration = 0;
                    }
                }
            },
        },
        updated: function () {
            var self = this;
            if (self.value == true) {
                self.showMessages();
            }
        },

        mounted: function () {
            window.alertCustion = this;
        },
    });

</script>