{% load i18n %}
<br/>
<br/>
<a href='javascript:void(0)' onclick='competency_explain(&#123&#123competency.id&#125&#125);' style='color: #888;  text-decoration: none;'>

    <!--<img src='http://cl.ly/image/0c381E2D3u47/Ask-a-Question.png' style='width: 18px;'>-->
[{% trans "Request more explanation" %}]</a>

{#$.post('/performance/competency_explain/&#123&#123competency.id&#125&#125/'); alert('Đã gửi yêu cầu thành công! CJS sẽ trả lời bạn trong thời gian sớm nhất qua email!'); $(this).attr('disabled', 'disabled')#}