{% load i18n l10n %}
<form id="goal-form" style="margin-bottom: 10px">
	<ul id="myTab" class="nav nav-tabs" role="tablist" style="margin-bottom: 8px">
	    <li class="active"><a href="#specific" id="btn-specific" role="tab" data-toggle="tab"><b>S</b>pecific</a></li>
	    <li class=""><a href="#measurable" id="btn-measurable" role="tab" data-toggle="tab"><b>M</b>easurable</a></li>
	    <li class=""><a href="#attainable" id="btn-attainable" role="tab" data-toggle="tab"><b>A</b>ttainable</a></li>
	    <li class=""><a href="#relevant" id="btn-relevant" role="tab" data-toggle="tab"><b>R</b>elevant</a></li>
	    <li class=""><a href="#time-bound" id="btn-time-bound" role="tab" data-toggle="tab"><b>T</b>ime-bound</a></li>
	</ul>
	
	<div id="myTabContent" class="tab-content">
	
	    <div class="tab-pane active" id="specific">
	    	<a onclick="$('#btn-measurable').click();" class="btn btn-info btn-mini nowrap" style="margin-bottom: 5px;float: right;">{% trans 'Next' %} <i class="icon-chevron-right"></i></a>
	        <p>
	        	<div class="errors specific-error"></div>
	            <textarea id="textarea-specific" class="typeahead form-control" name="specific"
	                      style="width: 97%; border: 2px #00a8a9 solid;"
	                      placeholder="{% trans "Hint: To see suggestions from the Goal Library, start typing action or subject key words, such as create, increase, inventory, sales." %}"></textarea>
			</p>
			
			<div class="errors category-error"></div>
			<div class="form-inline">
				<label style="width: 65px">{% trans 'Category' %}: </label>
				<select name="category" ng-options="i.value as i.text for i in bsc_category_list" ng-model="bsc_category"></select>
			</div>
	    </div>
	    <div class="tab-pane fade" id="measurable">	
	    	<a onclick="$('#btn-attainable').click();" class="btn btn-info btn-mini nowrap" style="margin-bottom: 5px;float: right;">{% trans 'Next' %} <i class="icon-chevron-right"></i></a>
	        
	        <h3>{% trans "How will you measure this goal?" %}</h3>
	        <div class="errors measurable-error"></div>
	        
	        {% trans 'Target' %} 
			<select style="width: auto;" name="operator" id="id-operator">
				<option value=""></option>
				<option value=">="> >= </option>
				<option value="<="> <= </option>
				<option value="="> = </option>
			</select>  
			<input type="text" style="width: 140px" placeholder="{% trans 'Target' %}" name="target" id="id-target">
			<input type="text" style="width: 140px" placeholder="{% trans 'Unit' %}" name="unit" id='id-unit'>
	       
	        <hr>			
	        <p>
	            {% blocktrans %}Tips: If you can't measure it, you can't manage it. Choose goals with
			                measurable progress and establish concrete criteria for measuring the success of
			                your goal.{% endblocktrans %}
	        </p>
	
	    </div>
	    <div class="tab-pane fade" id="attainable">	
	    	<a onclick="$('#btn-relevant').click();" class="btn btn-info btn-mini nowrap" style="margin-bottom: 5px;float: right;">{% trans 'Next' %} <i class="icon-chevron-right"></i></a>
	        <h3>
	            {% trans "Is this goal attainable?" %}
	        </h3>
	        <img src="{{ STATIC_URL }}img/smart-goals-law-firm.jpg" style="height: 180px;margin-right: 20px" align="left"/>
			
			<div style="float: left;">
		        <label class="radio">
		          <input type="radio" id="no" name="goal_attainable" value="no"> No
		        </label>
		        
		        <label class="radio" style="margin-top: 20px">
		          <input type="radio" id="Yes" name="goal_attainable" value="yes"> Yes
		        </label>
		    </div>
		    
		    <div class="checkbox">
		        
		    </div>
		    <div class="clearfix"></div>
	        <hr/>
	        <p>
	            {% blocktrans %}Tips: Goals must be within your capacity to reach. If goals are set too
			                far out of your reach, you cannot commit to accomplishing them. Goals need to
			                stretch you slightly so you feel you can do it and it will need a real commitment
			                from you. Success in reaching attainable goals keeps you
			                motivated.{% endblocktrans %}
	        </p>
	    </div>
	    <div class="tab-pane fade" id="relevant">	
	    	<a onclick="$('#btn-time-bound').click();" class="btn btn-info btn-mini nowrap" style="margin-bottom: 5px;float: right;">{% trans 'Next' %} <i class="icon-chevron-right"></i></a>
	        <h3>
	            {% trans "Is this goal relevant?" %}
	        </h3>
	        <img src="{{ STATIC_URL }}img/Problem_solving.jpg" style="height: 180px;margin-right: 20px" align="left"/>
			
			
			<div style="float: left;">
		        <label class="radio">
		          <input type="radio" id="no" name="goal_relevant" value="no"> No
		        </label>
		        
		        <label style="margin-top: 20px" class="radio">
		          <input type="radio" id="Yes" name="goal_relevant" value="yes"> Yes
		        </label>
		    </div>

	        <div class="clearfix"></div>
	        <hr/>
	        <p>
	            {% blocktrans %}Tips: Goals should be relevant. Make sure each goal is consistent with
			                your other goals and aligned with the goals of the company, your manager, or your
			                department.{% endblocktrans %}
	        </p>
	
	    </div>
	    <div class="tab-pane fade in" id="time-bound">
	        <h3>
	            {% trans "What is your timeline?" %}
	        </h3>
	        <p>
	        	<div class="errors deadline-error"></div>
	        	<label style="display: inline-block">{% trans "Deadline" %}:</label> 
	            <input id="id-deadline" name="deadline" type="text" placeholder="dd-mm-yyyy" datepicker>
	        </p>
	
	        <p>
	            {% blocktrans %}Tips: Set a timeframe for the goal: for next week, in three months, end
			                of the quarter. Putting an end point on your goal gives you a clear target to work
			                towards. Without a time limit, there's no urgency to start taking action
			                now.{% endblocktrans %}
	        </p>
	    </div>		    
	</div>
	<div class="form-inline" style="margin-top: 10px">
        <label style="width: 65px">{% trans "KPI parent:" %}</label>
        <select id="id_parent_kpi" name="parent"></select>
    </div>
	<input type="hidden" name="kpi_id" id="id_kpi_id">
    <input type="hidden" name="person_id" id="id_person_id_kpi" value="&#123&#123person.user_id&#125&#125">
</form>