<br/>
{% load i18n %}


{#   aaa#}
<div ng-bind-html-unsafe="person.review_progress_html"></div>

<br/>
<br/>
{#bbb#}
{% if not organization.enable_bsc %}
    <table class="table table-bordered">

        <tr class="info">
            <th colspan="2">
                {% trans 'Confirm KPI between Manager & Employee' %}
            </th>
        </tr>

        <tr>
            <td>
                <div>
                    {% blocktrans %}Please check and confirm KPIs/ Competency of your employee whether they are
                        SMART KPIs or not.
                        In case you have any concerns or need CJS helps, please click
                        <a href="" target="_blank">Help Request</a> at the right corner.
                        <br/>{% endblocktrans %}
                    {% trans 'Our consultant team will support at earliest' %}!
                </div>
                {#            <br/>#}

                {#            <p style="text-align: center;">#}
                {#                <img src=""></p>#}


            </td>

        </tr>
        <tr>
            {#        <td style="text-align: center">#}
            {#            <h3>Manager / Quản Lý</h3>#}
            {#        </td>#}
            {##}
            {#        <td style="text-align: center">#}
            {#            <h3>Employee / Nhân Viên </h3>#}
            {#        </td>#}
        </tr>
        <tr>
            {% if manager %}
                <td style="text-align: center">
                    <div id="manager_approval_box">
                        <br/> <a href="#manager_approval"
                                 onclick="$('#approval_type').val('OK');$('#approval_form').attr('action','/performance/kpi_approval/?view=manager');"
                                 data-toggle="modal" class="btn btn-success {% if employee %}disabled{% endif %}"
                                 href="">
                        {% trans 'Confirm KPIs are rational‏' %}
                    </a>
                        <br/><br/>
                        <a href="#manager_approval"
                           onclick="$('#approval_type').val('NEED_REVISED');$('#approval_form').attr('action','/performance/kpi_approval/?view=manager');"
                           data-toggle="modal" class="btn btn-danger {% if employee %}disabled{% endif %}" href="">
                            {% trans 'KPI this employee need to adjust' %}
                        </a>
                        <br/>
                        <br/>
                    </div>
                    <div class="user-approved" style="display: none;">
                        Manager đã duyệt KPIs.
                    </div>
                </td>
            {% endif %}

            {% if employee %}
                <td style="text-align: center">
                    <div id="employee_approval_box">
                        <br/>
                        <a href="#manager_approval"
                           onclick="$('#approval_type').val('OK');$('#approval_form').attr('action','/performance/kpi_approval/?view=employee');"
                           data-toggle="modal" class="btn btn-success
            {% if manager %}disabled{% endif %}" href="">
                            {% trans 'Confirm KPIs are rational‏' %}
                        </a>

                        <br/><br/>

                        <a href="#manager_approval"
                           onclick="$('#approval_type').val('NEED_REVISED');$('#approval_form').attr('action','/performance/kpi_approval/?view=employee');"
                           data-toggle="modal" class="btn btn-danger {% if manager %}disabled{% endif %}" href="">
                            {% trans 'I need to discuss more with my supervisor' %}
                        </a>
                        <br/>
                        <br/>
                    </div>

                    <div class="user-approved" style="display: none;">
                        Bạn đã xác nhận KPIs.
                    </div>
                </td>

            {% endif %}
        </tr>
    </table>
{% endif %}
<!-- Modal -->
<div id="manager_approval" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans 'Confirm KPI between Manager & Employee' %}</h3>
    </div>

    <div class="modal-body">
        <form method="post" id="approval_form" action="/performance/kpi_approval/?view=manager">
            <p>
                <textarea name="note"
                          placeholder="Chi chú hoặc những thắc mắc, góp ý, đề xuất của bạn! Nếu cần gặp trao đổi, vui lòng ghi rõ thời gian (tốt nhất 2 lựa chọn) để tiến hành trao đổi sớm nhất có thể. "></textarea>
                <input type="hidden" name="employee_id" id="employee_id" value="&#123&#123person.user_id&#125&#125"/>
                <input type="hidden" name="approval_type" id="approval_type" value="OK"/>

            </p></form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <button onclick="approval_form_submit();" class="btn btn-success">{% trans 'Confirm' %}</button>

    </div>
</div>

<style>
    {#Dung code CSS tum lum khap noi nua#}
</style>
<script>
    function approval_form_submit() {
        var employee_id = $("#employee_id").val();
        if (!employee_id) {
            alert("Nhân viên chưa được chọn.");
            return;
        }
        $('#approval_form').ajaxSubmit(function () {
            {% if manager %}
                $('#manager_approval_box').hide();
                $('.user-approved').show();
            {% else %}
                $('#employee_approval_box').hide();
                $('.user-approved').show();
            {% endif %}
        });

        $('#manager_approval').modal('toggle');
    }

    function update_approval_box() {
        if (!$('#employee_id').val()) {
            return;
        }
        cloudjetRequest.ajax({
            url: "/performance/kpi_approval/get/?uid=" + $('#employee_id').val(),
            type: 'get',
            success: function (result) {
                {% if manager %}
                    if (result.manager_status == 'OK') {
                        $('#manager_approval_box').hide();
                        $('.user-approved').show();
                    } else {
                        $('.user-approved').hide();
                        $('#manager_approval_box').show();
                    }
                {% else %}
                    if (result.employee_status == 'OK') {
                        $('#employee_approval_box').hide();
                        $('.user-approved').show();
                    } else {
                        $('.user-approved').hide();
                        $('#employee_approval_box').show();
                    }
                {% endif %}
            },
            error: function () {

            }
        });
        {% comment %}$.get("/performance/kpi_approval/get/?uid=" + $('#employee_id').val(), function (result) {
            {% if manager %}
                if (result.manager_status == 'OK') {
                    $('#manager_approval_box').hide();
                    $('.user-approved').show();
                } else {
                    $('.user-approved').hide();
                    $('#manager_approval_box').show();
                }
            {% else %}
                if (result.employee_status == 'OK') {
                    $('#employee_approval_box').hide();
                    $('.user-approved').show();
                } else {
                    $('.user-approved').hide();
                    $('#employee_approval_box').show();
                }
            {% endif %}
        });{% endcomment %}
    }

    function post_comment(unique_key) {
        var content = $('#kpicommenttext' + unique_key).val();
        content = content.trim();
        var obj = $("#kpi-" + unique_key).val();
        var file_url = $("#uploaded-" + unique_key).val();
        if (content.length < 2 && (obj != '' && file_url != '')) {
            return;
        }
        var data = {
            comment: $('#kpicommenttext' + unique_key).val(),
            obj_id: obj,
            file_url: file_url
        }
        cloudjetRequest.ajax({
            url: '/performance/kpicomment/' + unique_key + '/?id='+obj,
            type: 'post',
            data: data,
            success: function (response) {
                $(response).insertBefore($('#kpicomment' + unique_key + ' > li:first-child'));
                //$('#kpicomment'+unique_key).append(response);
            },
            error: function () {

            }
        });
        {% comment %}$.post('/performance/kpicomment/'+unique_key+'/', data, function( response ) {
            $(response).insertBefore( $('#kpicomment'+unique_key+' > li:first-child'));
            //$('#kpicomment'+unique_key).append(response);

            });{% endcomment %}
        $('#kpicommenttext' + unique_key).val('');
    }
</script>
