{% load i18n %}

<div class="per_item red" ng-repeat="competency in person.competencies" ng-show="person.is_active">
    <div class="per_item_title">
        <a>&#123&#123competency.name&#125&#125</a><a class="btn_help" popover data-html="true" data-content="&#123&#123competency.description&#125&#125  {% include "performance/includes/competency_request.html" %}">?</a>
        {% if organization.enable_to_edit %}
        <span class="dropdown" ng-show="current">
        	<a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
{#                <b class="caret"></b>#}
                <img src="{{ STATIC_URL }}img/icon/icon_gear.png" style="width: 18px;">
            </a>
        	<ul class="dropdown-menu pmenu" role="menu" aria-labelledby="dLabel">
        		<li>
        			<a data-toggle="modal" href="#kpi-modal" ng-click="load_competency(competency.id)"><i class="icon-edit"></i> {% trans "Edit competency" %}</a>
        		</li>
        		<li>
        			<a ng-click="copy_competency_to(person.user_id, competency)"><i class="icon-copy"></i> {% trans "Copy competency" %}</a>
        		</li>
        		<li>
        			<a ng-click="delete_competency(person.user_id, competency, false)"><i class="icon-remove"></i> {% trans "Delete competency" %}</a>
        		</li>
        	</ul>
        </span>
        {% endif %}
    </div>
    <div ng-class="{disabled: !current}">
        <div class="nav_header_box">
            <ul class="nav nav-tabs">
                <li><a href="#tabitem2-comp-&#123&#123competency.id&#125&#125" data-toggle="tab">{% trans "detail" %}</a></li>
                <li class="active"><a href="#tabitem1-comp-&#123&#123competency.id&#125&#125" data-toggle="tab">{% trans "rating" %}</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="tabitem1-comp-&#123&#123competency.id&#125&#125">		                        	
                <div class="per_content_item">
                	<a {% if user.id == c_user.id %}draggable{% endif %} class="person-rate" title="&#123&#123person.name&#125&#125" data-type='comp' data-id='&#123&#123competency.id&#125&#125' ng-style="position(competency.score,6.3,init_pos)">
                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/arrow.png" style="height: 55px;margin-top: -8px;">
{#                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/person.png">#}
{#                		<p class="short_name brief-name">&#123&#123person.brief_name&#125&#125</p>#}
                	</a>
                	<a ng-show="self && person.share_to_manager" style="cursor: default;display: none;z-index: 90;" class="person-rate" title="&#123&#123person.name&#125&#125's self assessment" ng-style="position(competency.self_score,6.3,init_pos)">
                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/icon-self-review.png">
{#                        <img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/arrow.png" style="height: 65px;margin-top: -11px;">#}
                	</a>
                	
                	<a tooltip ng-show="history" ng-repeat="his in competency.histories" style="cursor: default;display: none;z-index: 90;" class="person-rate" title="<div style='text-align:left'>{% trans 'Assessing manager' %}: &#123&#123his.manager&#125&#125</div><div style='text-align:left'>{% trans 'Assessment date' %}: &#123&#123his.quarter_period&#125&#125</div>" ng-style="position(his.score,6.3,init_pos)">
                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/his-person.png">
{#                        <img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/arrow.png" style="height: 65px;margin-top: -11px;">#}
                	</a>
                	<!-- View 360 -->
                	<div class="view-360" ng-show="choice == '2' && p360">
                		<a ng-repeat="s in final_list_score_360(competency)">
                			<i class="person" ng-class="colors[$index]" ng-style="position(s,6.3,45)"></i>
                		</a>
                	</div>
                	
{#                    <div class="head_bg per_table">#}
{#                        <div class="per_line"></div>#}
{#                    </div>#}
                    <div class="per_table" style="padding:0 10px; background:  linear-gradient(#fcfcfc,#dfdfdf)">
                        <div class="box_rating">
                            <div class="content_rating">
                                <span class="float_left">0&#37;</span>
                                <span class="float-right">{% trans "Always" %} (120&#37;)</span>

                                <div class="clear"></div>
                            </div>
                            <div class="on_target">
{#                                <div class="line_hoz"></div>#}
                                {% trans "Sometimes" %} (50&#37;)
                            </div>
                            <div class="on_target" style="left: 42%">
{#                                <div class="line_hoz"></div>#}
                                {% trans "Usually" %} (100&#37;)
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tabitem2-comp-&#123&#123competency.id&#125&#125">
                <div class="per_dt_content">
                	<div class="clearfix" style="padding: 5px 10px;">
                      	{% if organization.enable_to_edit %}
	                    <a ng-show="current" class="btn btn-mini  btn-primary pull-right" style="margin: 4px 0 4px 15px;"
	                       data-toggle="modal" ng-click="add_child_competency(competency)" href="#kpi-modal"><i
	                            class="fa fa-plus"></i> {% trans 'Add competency' %}</a>
	                    
	                    {% endif %}
                    </div>
                    <div class="dt_per_box" ng-repeat="child in competency.children">
                        <div class="detail-content-competency">
                            &#123&#123child.name&#125&#125 
                            
                            {% if organization.enable_to_edit %}
                            <span class="dropdown" ng-show="current">
		                    	<a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
{#                                    <b class="caret"></b>#}
                                      <img src="{{ STATIC_URL }}img/icon/icon_gear.png" style="width: 18px;">
                                </a>
		                    	<ul class="dropdown-menu pmenu" role="menu" aria-labelledby="dLabel">
		                    		<li>
		                    			<a data-toggle="modal" href="#kpi-modal" ng-click="load_competency(child.id, competency.id)"><i class="icon-edit"></i> {% trans "Edit competency" %}</a>
		                    		</li>
		                    		<li>
		                    			<a ng-click="copy_competency_to(person.user_id, child, true)"><i class="icon-copy"></i> {% trans "Copy competency" %}</a>
		                    		</li>
		                    		<li>
		                    			<a ng-click="delete_competency(person.user_id, child, true, competency)"><i class="icon-remove"></i> {% trans "Delete competency" %}</a>
		                    		</li>
		                    	</ul>
		                    </span>
		                    {% endif %}
                        </div>		                                    
						<div class="rate-bar">
                        	<div style="position: relative;">
                        		<a {% if user.id == c_user.id %}draggable{% endif %} class="drag-marker" data-parent="&#123&#123competency.id&#125&#125" data-type='comp' data-id='&#123&#123child.id&#125&#125' ng-style="position(child.score,5.4,65)">
                        			<img src="{{ STATIC_URL }}img/csb/marker.png">
                        		</a>
                        		<a ng-show="self && person.share_to_manager" class="self-drag-marker" title="Self rating" style="cursor: default;display: none;" ng-style="position(child.self_score,5.4,65)">
                        			<img src="{{ STATIC_URL }}img/csb/self-marker.png">
                        		</a>
                        		
                        		<a tooltip ng-show="history" ng-repeat="hischild in child.histories" class="self-drag-marker" title="<div style='text-align:left'>{% trans 'Assessing manager' %}: &#123&#123hischild.manager&#125&#125</div><div style='text-align:left'>{% trans 'Assessment date' %}: &#123&#123hischild.quarter_period&#125&#125</div>" style="cursor: default;display: none;" ng-style="position(hischild.score,5.4,65)">
                        			<img src="{{ STATIC_URL }}img/csb/his-marker.png">
                        		</a>
                        		<!-- View 360 review -->		                                    		
                        		<div class="view-360" ng-show="choice == '2' && p360">
                            		<a ng-repeat="s in child.list_score_360">
                            			<i class="marker" ng-class="colors[$index]" ng-style="position(s,5.4,67)"></i>
                            		</a>
                            	</div>
                            	
                        		<div class="progress-bar">			                                    		
								</div>
								<div style="width: 615px;margin: 0 auto;">
									<span class="not-rate">{% trans "Not rate" %}</span>														
								</div>
								<div>
									<div class="rate-level level-1">
										0&#37;
									</div>														
									<div class="rate-level level-2">
										{% trans "Sometimes" %} (50&#37;)
									</div>														
									<div class="rate-level level-3">
										{% trans "Usually" %} (100&#37;)
									</div>
									<div class="rate-level level-4">
										{% trans "Always" %} (120&#37;)
									</div>
								</div>
                        	</div>                                    	                                        	
                        </div>
                    </div>
                    
                    <div>
                    	<div class="dt_per_box" ng-class="{comment_columns:self && person.share_to_manager}">
                        	<p class="detail-content-competency">
                               	{% trans "Comments and Evidence (manager)" %}
                            </p>		
                            <div>
                                <textarea ng-disabled="!current" autosize ng-model="competency.comment_evidence" class="comment-note" rows="4" style="width: 603px;min-height: 70px" ng-change="update_note(competency.comment_evidence,competency.id, person.user_id,3)" ng-bind="competency.comment_evidence"></textarea>
                            </div>
                        </div>
                        
                        <div class="dt_per_box" style="display: none;margin-right: 0" ng-class="{comment_columns:self && person.share_to_manager}">
                        	<p class="detail-content-competency">
                               	{% trans "Comments and Evidence (self)" %}
                            </p>
                            <div>
                                <textarea style="min-height: 70px" autosize disabled="disabled" class="comment-note" rows="4" style="width: 603px;min-height:70px" ng-bind="competency.comment_evidence_self"></textarea>
                            </div>
                        </div>
                        
                        <div class="dt_per_box" ng-show="choice == '2' && p360">
                        	<p class="detail-content-competency" style="font-weight: bold">{% trans "Comments and Evidence (360&deg;)" %}</p>
                        	<ul style="list-style: disc;">
                        		<li ng-repeat="comment in competency.comment_360" ng-bind="comment">
                        		</li>
                        	</ul>
                        </div>
                    </div>		                                
                </div>
            </div>
        </div>
    </div>
</div>