{% load i18n kpi %}
<div class="per_item red" ng-repeat="kpi in person.kpis|orderBy:['category_order','ordering', 'id']"
     ng-class="{blear: kpi.is_postponed || kpi.weight == 0 }" ng-if="person.is_active">
    <div class="per_item_title">
    	<div>
    		<span>[&nbsp;
	            <strong style="cursor: pointer;" editablecategory data-type="select" data-source="{% url 'update_category' %}" data-value="&#123&#123kpi.category&#125&#125" data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123kpi.id&#125&#125" data-original-title="Category" ng-bind="first_char(kpi.category)"></strong>
	            &nbsp;-&nbsp;
	            <strong style="cursor: pointer;" editableorder data-type="text" data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123kpi.id&#125&#125" data-value="&#123&#123kpi.ordering|number&#125&#125" data-original-title="{% trans 'KPI order' %}" ng-bind="kpi.ordering"></strong>
	            &nbsp;]</span>
	    	&nbsp;
	        <a ng-bind="kpi.name"></a>&nbsp;<i tooltipster data-kpi="&#123&#123kpi.cascaded_from&#125&#125" ng-if="kpi.cascaded_from != null" class="fa fa-level-up fa-lg" style="cursor: pointer;"></i>&nbsp;
	        <a ng-show="kpi.cascaded_from_deleted" class="btn_help" popover data-content="KPI này đã bị xoá ở cấp trên và không còn liên kết. Bạn vui lòng kiểm tra kỹ và điều chỉnh nếu cần thiết!  ">
                <i style="color:orange; " class="fa fa-exclamation-triangle" aria-hidden="true"></i>
</a>

	        {% if organization.enable_to_edit or organization.id == 47 or super_permission %}
	        <span class="dropdown" ng-if="current">
	        	<a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
	{#                <b class="caret"></b>#}
	                  <img src="{{ STATIC_URL }}img/icon/icon_gear.png" style="width: 18px;">
	            </a>
	        	<ul class="dropdown-menu pmenu" role="menu" aria-labelledby="dLabel">
	        		<li>
	                   	<a data-toggle="modal" href="#kpi-wizard" ng-click="init_smart_kpi(kpi.id)"><i class="icon-edit"></i> {% trans "Edit KPI" %}</a>
	        		</li>
	        		<li>
	        			<a ng-click="copy_kpi_to(person.user_id, kpi)"><i class="icon-copy"></i> {% trans "Copy KPI" %}</a>
	        		</li>
	        		<li>
	        			<a ng-click="delete_kpi(person.user_id, kpi, false)"><i class="icon-remove"></i> {% trans "Delete KPI" %}</a>
	        		</li>
{#	        		{% if request.user.id == 11830 or organization.id == 42 or organization.id == 1429 or request.user.is_staff %} {# Han (BMB) hoac VMAX hoac Me Non #}
	        		<li>
	        			<a ng-click="align_up_kpi(person.user_id, kpi)"><i class="fa fa-level-up"></i> {% trans "Align KPI" %}</a>
	        		</li>
{#                    {% endif %}#}
	        		<li>
	        			<a ng-click="assign_kpi_my_team(person.user_id, kpi)"><img src="{{ STATIC_URL }}img/icon/assign_to.png"> {% trans "Assign KPI to all team members" %}</a>
	        		</li>
	        		<li>
	        			<a ng-click="init_transfer_kpi(kpi, person.user_id)"><i class="fa fa-exchange"></i> {% trans "Transfer KPI" %}</a>
	        		</li>
	        	</ul>
	        	
	        </span>
	        {% endif %}
            <span style="color:#fff" ng-bind="kpi.id"></span>
    	</div>
		
		<span style="float: right;">{% trans 'Weighting' %}: <span id="weighting" style="cursor: pointer;"  {% if organization.enable_to_edit or super_permission %}editable{% endif %} data-type="text" data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123kpi.id&#125&#125" data-value="&#123&#123kpi.weight&#125&#125" data-original-title="{% trans 'Edit weighting' %}"  ng-bind="kpi.weight"></span> / <span ng-bind="total_weight() | number"></span> [<span ng-bind="weight_percent(kpi)+'%'"></span>]</span>



    </div>
    <div id="KPI" ng-class="{disabled: !current}">
        <div class="nav_header_box">
            <ul class="nav nav-tabs">
                <li><a class="tabitem2" href="#tabitem2-kpi-&#123&#123kpi.id&#125&#125" data-toggle="tab" ng-click="toggle_show_kpi(kpi, true)">{% trans "detail" %}</a></li>
                <li class="active"><a href="#tabitem1-kpi-&#123&#123kpi.id&#125&#125" data-toggle="tab" ng-click="toggle_show_kpi(kpi, false)">{% trans "rating" %}</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="tab-content">
            <div  class="tab-pane active" id="tabitem1-kpi-&#123&#123kpi.id&#125&#125">
                <div  class="per_content_item">
                	<a {% if organization.enable_drag_review %}{% if user.id == c_user.id %}draggable{% endif %}{% endif %} class="person-rate" title="&#123&#123person.name&#125&#125" data-type='kpi' data-id='&#123&#123kpi.id&#125&#125' ng-style="position(kpi.score,6.3,init_pos)" data-postponed="&#123&#123kpi.is_postponed&#125&#125">
                	<a {% if organization.enable_drag_review %}{% if user.id == c_user.id %}draggable{% endif %}{% endif %} class="person-rate" title="&#123&#123person.name&#125&#125" data-type='kpi' data-id='&#123&#123kpi.id&#125&#125' ng-style="position(kpi.score,6.3,init_pos)" data-postponed="&#123&#123kpi.is_postponed&#125&#125">
{#                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/person.png">#}
                        <img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/arrow.png" style="height:55px; margin-bottom: 8px; margin-right: 3px;  ">
{#                		<p class="short_name brief-name">&#123&#123person.brief_name&#125&#125</p>#}
                	</a>
                	<a ng-if="self && person.share_to_manager" style="cursor: default;display: none;z-index: 90;" class="person-rate" title="&#123&#123person.name&#125&#125's self assessment" ng-style="position(kpi.self_score,6.3,init_pos)">
                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/icon-self-review.png">
                	</a>


                	<a tooltip ng-repeat="his in kpi.histories" ng-if="history" style="cursor: default;display: none;z-index: 90;" class="person-rate" title="<div style='text-align:left'>{% trans 'Assessing manager' %}: &#123&#123his.manager&#125&#125</div><div style='text-align:left'>{% trans 'Assessment date' %}: &#123&#123his.quarter_period&#125&#125</div>" ng-style="position(his.score,6.3,init_pos)">
                		<img id="id-person-rate" alt="" src="{{ STATIC_URL }}img/csb/his-person.png">
                	</a>


{#                    <div class="head_bg per_table">#}
{#                        <div class="per_line"></div>#}
{#                    </div>#}
                    <div  class="per_table" style="padding:0 10px ;  background:  linear-gradient(#fcfcfc,#dfdfdf)">
                        <div class="box_rating">
                            <div class="content_rating">
                                <span class="float_left">
{#                                    {% trans "Below target" %} #}
                                      0%</span>
                                <span class="float-right">
{#                                    {% trans "Exceptional performance" %}#}
                                    >=120%</span>

                                <div class="clear"></div>
                            </div>
                            <div class="on_target">
{#                                <div class="line_hoz"></div>#}
{#                                {% trans "On target" %}#}
                                50%
                            </div>
                            <div class="on_target" style="left: 42%">
{#                                <div class="line_hoz"></div>#}
{#                                {% trans "High performance" %}#}
                                100%
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tabitem2-kpi-&#123&#123kpi.id&#125&#125">
                <div class="per_dt_content" ng-if="kpi.showing">
                	<div style="padding: 0 20px">
                		<div style="margin-top: 15px">
	                        <div class="clearfix" style="margin-bottom: 5px">
{#	                			<div style="float: right;margin-left: 10px" ng-if="kpi.children.length == 0">#}
{#	                   				<button type="button" id="kc&#123&#123kpi.id&#125&#125" ng-if="!kpi.manager_confirmed" style="float: right;" class="btn btn-danger btn-mini" ng-click="confirm_kpi(kpi, 'manager')">{% trans 'Confirm KPI' %}</button>#}
{#	                           		<i title="{% trans 'KPI is confirmed' %}" ng-if="kpi.manager_confirmed" style="float: right;" class="icon-ok"></i>#}
{#	                   			</div>#}

	                   			<a href="javascript:void(0)" class="pull-left" style="margin-right: 20px" ng-if="hide_assigned_kpi" ng-click="show_kpi()" ng-bind="count_hidden_kpi(kpi)"></a>

	                   			{% if organization.enable_to_edit or organization.id == 47 or super_permission %}
	                   			<a ng-if="current" class="btn btn-mini  btn-primary pull-right"
		                        	data-toggle="modal" ng-click="add_child_kpi(kpi)" href="#kpi-wizard">
		                            <i class="fa fa-plus"></i> {% trans 'Add sub KPI' %}</a>

		                        <a style="margin-right: 10px" ng-if="current && kpi.children.length == 0" class="btn btn-mini  btn-primary pull-right"
		                        	 ng-click="assigned_to(person.user_id, kpi)">
		                            <i class="fa fa-plus"></i> {% trans 'Assign to' %}</a>
                               <p ng-if="allow_delay" style="font-weight: 14px;" ng-click="toggle_weight(kpi)">
                                    <span id="kpistatus" style="cursor: pointer;">

{#                                     <span ng-if="kpi.temp_weight > 0" ><i class="fa fa-toggle-off" style="color: darkred;">{% trans 'Deactivate' %}</i></span>#}
{#                                     <span ng-if="!kpi.temp_weight>0"><i class="fa fa-toggle-on"> {% trans 'Activate' %}</i></span>#}

                                     <span ng-if="kpi.temp_weight > 0" ><i class="fa fa-toggle-off" style="color: darkred;">{% trans "Deactive (Click to Activate)" %} </i></span>
                                     <span ng-if="!kpi.temp_weight>0"><i class="fa fa-toggle-on">{% trans "Activate (Click to Deactivate)" %} </i></span>
                                    </span>
                                </p>
		                        {% endif %}
		                   </div>

                   			<div class="clearfix"></div>

                   			<div class="float_left" style="width: 480px;margin-bottom: 10px;">
                               <div class="nav_header_box parent_kpi">
                                   <ul class="nav nav-tabs ">
                                       <li class="active">
                                       	<a href="#tabdetail1-kpi-&#123&#123kpi.id&#125&#125"
                                                             data-toggle="tab">{% trans "Formula or detail explanation" %}</a></li>
                                       <li>
                                       	<a href="#tabdetail2-kpi-&#123&#123kpi.id&#125&#125"
                                              data-toggle="tab">{% trans "Note" %}</a></li>
                                       <div class="clear"></div>
                                   </ul>
                               </div>

                               <div class="tab-content" style="padding: 5px 5px 0px 5px;">

                                   <div class="tab-pane active" id="tabdetail1-kpi-&#123&#123kpi.id&#125&#125">
                                       <textarea ng-disabled="!current" autosize ng-class="{warning_goal : kpi.current_goal =='' || kpi.current_goal == null}"
                                                 ng-change="update_goal(kpi.current_goal,kpi.id, person.user_id,1)" ng-model="kpi.current_goal"
                                                 class="input-goal" ng-bind="kpi.current_goal" ng-model-options="{ updateOn: 'blur'}"></textarea>
                                   </div>

                                   <div class="tab-pane" id="tabdetail2-kpi-&#123&#123kpi.id&#125&#125">
                                       <textarea ng-disabled="!current" autosize ng-model="kpi.future_goal"
                                                 ng-change="update_goal(kpi.future_goal,kpi.id, person.user_id,2)"
                                                 class="input-goal" ng-bind="kpi.future_goal" ng-model-options="{ updateOn: 'blur'}"></textarea>
                                   </div>
                               </div>
                           </div>
                           <div class="clearfix"></div>

						   <div class="clearfix">
	                           <span ng-if="kpi.children.length == 0" class="pull-left">

		                           	<strong>{% trans 'Review' %}</strong>: <span id="Final"  style="cursor: pointer;" editablereview data-type="select"
		                           				data-source="{% url 'update-review-type' %}" data-value="&#123&#123kpi.review_type&#125&#125" 
		                           				data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123kpi.id&#125&#125" 

		                           				data-original-title="Review type" data-url="{% url 'update-review-type' %}"></span>&nbsp;


                                    <strong>{% trans 'Auto result calculation' %}:</strong>&nbsp;
                                                     <span style="color:green;"
                                                           ng-click='change_score_calculation_type(kpi)'><span style="display: none;">{{
                                                         kpi.score_calculation_type || 'N/A'  }}</span>
                                                         <span ng-bind="translate2[kpi.score_calculation_type || 'N/A']" ></span> ({% trans 'Change' %})</span>
                                                    


		                           	<span ng-if="kpi.review_type != '' && kpi.review_type != 'monthly'">( <a target="_blank" href="/performance/kpi/&#123&#123kpi.hash&#125&#125/"><i class="icon-edit"></i>&nbsp;{% trans 'Review details' %}</a>)</span>
	                           </span>
	                           <span ng-if="kpi.deadline" class="pull-right nowrap"><strong>{% trans 'Deadline' %}: </strong> <span ng-bind="kpi.deadline"></span></span>
                           </div>
                            <div ng-if="kpi.review_type== 'monthly'" class="clearfix">
                                <table class="table table-bordered">

                                    <tr style="color: #fff; background: darkcyan;">
                                        <td colspan="3" style="text-align: center">
                                            {% trans 'Monthly results' %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> &#123&#123 month_1 &#125&#125
                                            <input ng-disabled="!current || kpi.children.length > 0 || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#kpi.month_1&#125&#125" ng-model='kpi.month_1'
                                                   ng-change="calculate_score(kpi)" ng-model-options="{ updateOn: 'blur'}">

                                        </td>
                                        <td>&#123&#123 month_2 &#125&#125
                                            <input ng-disabled="!current || kpi.children.length > 0 || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#123kpi.month_2&#125&#125" ng-model='kpi.month_2'
                                                   ng-change="calculate_score(kpi)" ng-model-options="{ updateOn: 'blur'}">
                                        </td>
                                        <td>&#123&#123 month_3 &#125&#125
                                            <input ng-disabled="!current || kpi.children.length > 0 || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#123kpi.month_3&#125&#125" ng-model='kpi.month_3'
                                                   ng-change="calculate_score(kpi)" ng-model-options="{ updateOn: 'blur'}">
                                        </td>
                                    </tr>
                                </table>
                            </div>

	                        <div class="form-inline">
                                {% trans 'Target' %}
                                <select ng-disabled="!current || kpi.children.length > 0 || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" class="input-choice" ng-change="calculate_score(kpi)"
                                        ng-model='kpi.operator'>
                                    <option value=">=" ng-selected="kpi.operator == '>='">>=</option>
                                    <option value="<=" ng-selected="kpi.operator == '<='"><=</option>
                                    <option value="=" ng-selected="kpi.operator == '='">=</option>
                                </select>
                                <input ng-disabled="!current || kpi.children.length > 0 || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" type="text" class="input-mini input-review"
                                       placeholder="{% trans 'Target' %}"
                                       value="&#123&#123kpi.target&#125&#125" ng-model='kpi.target'
                                       ng-change="calculate_score(kpi)" ng-model-options="{ updateOn: 'blur'}" ng-class="{nodata: !kpi.target}">
                                <span tooltip data-title="&#123&#123kpi.unit&#125&#125">
                                    <input ng-disabled="!current || kpi.children.length > 0 || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" type="text" class="input-mini input-review" data-title="&#123&#123kpi.unit&#125&#125" tooltip
                                       placeholder="{% trans 'Unit' %}" value="&#123&#123kpi.unit&#125&#125" style="width: 220px;"
                                       ng-model='kpi.unit' ng-change="calculate_score(kpi)" ng-model-options="{ updateOn: 'blur'}">
                                </span>
                                {% trans 'Actual result' %}
                                <input id="Result" ng-disabled="kpi.review_type== 'monthly' || !current || kpi.children.length > 0 || expired_review" type="text" class="input-mini input-review"
                                                                   value="&#123&#123kpi.real&#125&#125"
                                                                   ng-model='kpi.real'
                                                                   ng-change="calculate_score(kpi)"
                                                                   placeholder="{% trans 'Actual result' %}" ng-model-options="{ updateOn: 'blur'}">

                                <i class="fa fa-floppy-o" style="font-size: 17px; margin:5px;"></i>
                            <i ng-click="calculate_score(kpi)" class="fa fa-refresh kpi-refresh" style="font-size: 17px; margin:5px;"></i>
                                <span> &nbsp;
			            			<img src="{{ STATIC_URL}}img/csb/saving.gif" id="id_saving_kpi_&#123&#123kpi.id&#125&#125" style="display: none;">
									<img src="{{ STATIC_URL}}img/csb/tick.png" id="id_saved_kpi_&#123&#123kpi.id&#125&#125" style="display: none;">
			            		</span>
                                <span class="right">&#123&#123show_score(kpi)&#125&#125</span>
                            </div>

                            <!-- KPI comment parent -->
                            <div ng-controller="UploadFileCtrl">
							    <hr style="margin: 20px 0 10px;"/>
							    <p style="font-weight: bold">{% trans "Notes, comments, reviews, improvements, suggestions ..." %}</p>

							    <ul class="kpi_notes" id="kpicomment&#123&#123kpi.unique_key&#125&#125">
							    	<li class="more-comments" ng-if="kpi.total_notes != kpi.notes.length && kpi.total_notes > 3">
                                   		<a ng-click="load_comments(kpi)" href="javascript:void(0)"><i class="fa fa-comments-o" style="margin: 5px 10px 0"></i> {% trans 'View' %} &#123&#123kpi.total_notes - 3&#125&#125 {% trans 'more comments' %}</a>&nbsp;<img src="{{ STATIC_URL }}img/cjet/loader1.gif" class="hide" id="loader-&#123&#123kpi.id&#125&#125">
                                   	</li>
						            <li ng-repeat="note in kpi.notes|orderBy:['-created_at']">
						                <div style="width: 45px;  float:left;">
						                    <img src="&#123&#123note.get_avatar&#125&#125"/>
						                </div>
						                <div class="note-content">
						                    <p style="color: #006dcc; font-weight: bold;">&#123&#123note.display_name&#125&#125 <span style="color: #bbb;margin-left: 20px;font-weight: normal;" timeago title="&#123&#123note.view_date&#125&#125"></span></p>
						                    <div style="white-space: pre-wrap;">&#123&#123note.content&#125&#125</div>
							                <div ng-if="note.file_url">
							                	<i class="fa fa-paperclip"></i>&nbsp; <a href="&#123&#123note.file_url&#125&#125">&#123&#123note.file_name&#125&#125</a> <a style="margin-left: 20px" href="javascript:void(0)" ng-click="view_doc(note)">{% trans 'View' %}</a>
							                </div>
						                </div>
						                <div class="clearfix"></div>
						            </li>
							    </ul>

							    <div style="margin-left: 25px;max-width: 590px;margin-bottom: 5px">
							        <textarea autosize
							                  id="kpicommenttext&#123&#123kpi.unique_key&#125&#125"
							                  class="comment-note"
							                  style="width: 577px;min-height: 30px" placeholder="{% trans 'Write your comment...' %}"></textarea>

							        <div class="progress progress-striped active" id="progress-&#123&#123kpi.unique_key&#125&#125" style="display: none;height: 10px;margin-bottom: 10px;">
										<div class="bar" style="width: 0%;"></div>
									</div>

									<div class="form-inline">
										<button id="savebtn" ng-click="post_comment(kpi)" class="btn btn-success btn-small" style="margin-right: 10px">{% trans 'Save' %}</button>
										<label style="font-size: 12px;margin-top: -6px" id="confile-&#123&#123kpi.unique_key&#125&#125">
							        		<input type="file" ng-file-select="onFileSelect($files, kpi)" id="file-&#123&#123kpi.unique_key&#125&#125" style="width: 185px;font-size: 12px;margin-top: 6px;"> (< 1MB)
								        </label>
								        <div id="uploaded-file-&#123&#123kpi.unique_key&#125&#125" style="display: inline-block;">
								        </div>
								        <input type="hidden" name="&#123&#123kpi.unique_key&#125&#125" id="kpi-&#123&#123kpi.unique_key&#125&#125">
									</div>

							    </div>
							</div>
							<!-- End comment -->
                        </div>
					</div>

                    <div class="dt_per_box" ng-repeat="child in kpi.children | orderBy:['ordering', 'id']"
                         ng-class="{blear: child.is_postponed || child.weight == 0 }"
                         ng-hide="hide_assigned_kpi && child.assigned_to != null">
                        <div class="detail-content-kpi">
                        	[&nbsp;
                            <strong style="cursor: pointer;" editableorder data-type="text" data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123child.id&#125&#125" data-value="&#123&#123child.ordering&#125&#125" data-original-title="{% trans 'KPI order' %}">&#123&#123child.ordering&#125&#125</strong>
                            &nbsp;]
                            &nbsp;
{#                            &#123&#123child.name&#125&#125 {% if user|is_consultant %} - &#123&#123child.id&#125&#125{% endif %}#}

                            {% if organization.enable_to_edit or super_permission or organization.id == 47 %}
                            <span class="dropdown"
{#                                  {% if not user|is_consultant %}ng-if="current"{% endif %}#}
                            >
		                    	<a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
{#                                    <b class="caret"></b>#}
                                      <img src="{{ STATIC_URL }}img/icon/icon_gear.png" style="width: 18px;">
                                </a>
		                    	<ul class="dropdown-menu pmenu" role="menu" aria-labelledby="dLabel">
		                    		<li>
	                                    <a data-toggle="modal" href="#kpi-wizard" ng-click="init_smart_kpi(child.id,kpi.id)"><i class="icon-edit"></i> {% trans "Edit KPI" %}</a>
		                    		</li>
		                    		<li>
		                    			<a ng-click="copy_kpi_to(person.user_id, child, true)"><i class="icon-copy"></i> {% trans "Copy KPI" %}</a>
		                    		</li>
		                    		<li>
		                    			<a ng-click="delete_kpi(person.user_id, child, true, kpi)"><i class="icon-remove"></i> {% trans "Delete KPI" %}</a>
		                    		</li>
		                    	</ul>
		                    </span>
		                    {% endif %}
                            <span style="color:#fff" ng-bind="child.id"></span>
                        </div>

                        <p ng-if="child_allow_delay" style="font-weight: 14px;margin: 10px 0" ng-click="toggle_weight(child)">

                          <span ng-if="child.temp_weight >0" ><i class="fa fa-toggle-off" style="color: darkred;"> {% trans "Deactive (Click to Activate)" %}</i></span>
                          <span ng-if="!child.temp_weight >0 "><i class="fa fa-toggle-on"> {% trans "Activate (Click to Deactivate)" %}</i></span>

                        </p>

                        <div class="float_left" style="width: 480px">
                            <div class="nav_header_box">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabdetail1-kpi-&#123&#123child.id&#125&#125" data-toggle="tab">{% trans "Formula or detail explanation" %}</a></li>
                                    <li><a href="#tabdetail2-kpi-&#123&#123child.id&#125&#125" data-toggle="tab">{% trans "Note" %}</a></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tabdetail1-kpi-&#123&#123child.id&#125&#125">
                                    <textarea ng-disabled="!current" style="min-height: 70px" autosize ng-model="child.current_goal" ng-class="{warning_goal : child.current_goal =='' || child.current_goal == null}" ng-change="update_goal(child.current_goal,child.id, person.user_id,1)" class="input-goal" ng-bind="child.current_goal" ng-model-options="{ updateOn: 'blur'}"></textarea>
                                </div>

                                <div class="tab-pane" id="tabdetail2-kpi-&#123&#123child.id&#125&#125">
                                    <textarea ng-disabled="!current" style="min-height: 70px" autosize ng-model="child.future_goal" ng-change="update_goal(child.future_goal,child.id, person.user_id,2)" class="input-goal" ng-bind="child.future_goal" ng-model-options="{ updateOn: 'blur'}"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="float_left" style="margin-left: 30px">
{#                        	<button type="button" id="kc&#123&#123child.id&#125&#125" ng-if="!child.manager_confirmed" style="float: right;" class="btn btn-danger btn-mini" ng-click="confirm_kpi(child, 'manager')">{% trans 'Confirm KPI' %}</button>#}
{#                          	<i title="{% trans 'KPI is confirmed' %}" ng-if="child.manager_confirmed" style="float: right;" class="icon-ok"></i>#}
                          	<div class="clearfix"></div>
                            <p>{% trans 'Weighting' %}: <span  style="cursor: pointer;" {% if organization.enable_to_edit or super_permission %}editable{% endif %}  data-type="text" data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123child.id&#125&#125" data-value="&#123&#123child.weight&#125&#125" data-original-title="{% trans 'Edit weighting' %}">&#123&#123child.weight&#125&#125</span></p>
                            <p style="font-size: 10px; color: #8b8b8b"><span ng-bind="child.weight"></span> {% trans 'of total' %} <span ng-bind="kpi.total_weight"></span> [<span ng-bind="convert_percent(child.weight, kpi.total_weight) + '%'"></span>]</p>

                                <span ng-bind="child.temp_weight" style="display: none;"></span>
{#                               <p ng-if="child_allow_delay" style="font-weight: 13px;" ng-click="toggle_weight(child)">#}
{##}
{#                                 <span ng-if="child.temp_weight >0" ><i class="fa fa-toggle-off" style="color: darkred;"> {% blocktrans %}Deactivate{% endblocktrans %}</i></span>#}
{#                                 <span ng-if="!child.temp_weight >0 "><i class="fa fa-toggle-on"> {% blocktrans %}Activate{% endblocktrans %}</i></span>#}
{##}
{#                                </p>#}

                            <div style="margin-top: 10px;display: none;">
                                <input type="button" class="mango_bt" style="height: 25px" value="Copy goal from..." disabled="disabled">
                            </div>


                            <div style="margin-top: 10px">
                            	<div ng-if="!child.assigned_to">
                            		<input ng-disabled="!current" type="button" class="mango_bt" style="height: 25px" ng-click="assigned_to(person.user_id, child)"
                                		value="{% trans 'Assign to' %}">
                            	</div>

                                <div ng-if="child.assigned_to" style="max-width: 140px;margin-top: -10px">
                                	<div>{% trans 'Assigned to:' %} <a href="{% url 'all_kpi' %}?team_id=&#123&#123child.assigned_to.user_id&#125&#125" ng-bind="child.assigned_to.full_name" target="_blank"></a>&nbsp;<i title="Xoá phân công" style="cursor: pointer;" class="icon-remove" ng-click="remove_assigned_to(child)"></i></div>
                                	<div style="margin-top: 5px">
                                 	<input ng-disabled="!current" type="button" class="mango_bt" style="height: 25px" ng-click="assigned_to(person.user_id, child)"
                                 		value="{% trans 'Change assign to' %}">
                                	</div>
                                </div>
                            </div>

                        </div>
                        <div class="clear"></div>
						<div style="margin-top: 15px">

							<div class="clearfix">
                           		<span class="pull-left">
                           			<strong>{% trans 'Review' %}</strong>: <span style="cursor: pointer;" editablereview data-type="select"
                           						data-source="{% url 'update-review-type' %}" data-value="&#123&#123child.review_type&#125&#125"
                           						data-user="&#123&#123person.user_id&#125&#125" data-pk="&#123&#123child.id&#125&#125"
                           						data-original-title="Review type" data-url="{% url 'update-review-type' %}"></span>&nbsp;


                                                <strong>{% trans 'Auto result calculation' %}:</strong>&nbsp;
                                                     <span style="color:green;"
                                                           ng-click='change_score_calculation_type(child)'>&#123&#123
                                                         child.score_calculation_type || 'N/A' &#125&#125 ({% trans 'Change' %})</span>


                           						
                           			<span ng-if="child.review_type != ''">( <a target="_blank" href="/performance/kpi/&#123&#123child.hash&#125&#125/"><i class="icon-edit"></i>&nbsp;{% trans 'Review details' %}</a>)</span>
                           		</span>
                           		<span class="pull-right" ng-if="child.deadline"><strong>{% trans 'Deadline' %}:</strong>&nbsp; <span ng-bind="child.deadline"></span></span>
                           	</div>

                           <div ng-if="child.review_type== 'monthly'" class="clearfix">
                                <table class="table table-bordered">

                                    <tr style="color: #fff; background: darkcyan;">
                                        <td colspan="3" style="text-align: center">
                                            {% trans 'Monthly results' %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> &#123&#123 month_1 &#125&#125
                                            <input ng-disabled="!current || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#123child.month_1&#125&#125" ng-model='child.month_1'
                                                   ng-change="calculate_score(child)" ng-model-options="{ updateOn: 'blur'}">

                                        </td>
                                        <td>&#123&#123 month_2 &#125&#125
                                            <input ng-disabled="!current || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#123child.month_2&#125&#125" ng-model='child.month_2'
                                                   ng-change="calculate_score(child)" ng-model-options="{ updateOn: 'blur'}">
                                        </td>
                                        <td>&#123&#123 month_3 &#125&#125
                                            <input ng-disabled="!current || expired_review" type="text"
                                                   class="input-mini input-review"
                                                   placeholder="{% trans 'Actual result' %}"
                                                   value="&#123&#123child.month_3&#125&#125" ng-model='child.month_3'
                                                   ng-change="calculate_score(child)" ng-model-options="{ updateOn: 'blur'}">
                                        </td>
                                    </tr>
                                </table>
                            </div>


							<div class="form-inline">
								{% trans 'Target' %}
								<select ng-disabled="!current || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" class="input-choice" ng-change="calculate_score(child)" ng-model='child.operator' ng-model-options="{ updateOn: 'blur'}">
									<option value=">=" ng-selected="child.operator == '>='">>=</option>
									<option value="<=" ng-selected="child.operator == '<='"><=</option>
									<option value="=" ng-selected="child.operator == '='">=</option>
								</select>
								<input ng-disabled="!current || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" type="text" class="input-mini input-review" placeholder="{% trans 'Target' %}" value="&#123&#123child.target&#125&#125" ng-model='child.target' ng-change="calculate_score(child)" ng-class="{nodata: !child.target}" ng-model-options="{ updateOn: 'blur'}">
								<input ng-disabled="!current || expired_review {% if organization.id != 47 %}|| !can_edit{% endif %}" type="text" class="input-mini input-review" placeholder="{% trans 'Unit' %}" value="&#123&#123child.unit&#125&#125" ng-model='child.unit' ng-change="calculate_score(child)" ng-model-options="{ updateOn: 'blur'}" style="width: 220px;" data-title="&#123&#123child.unit&#125&#125" tooltip>
								{% trans 'Actual result' %}
                                <input id="result_&#123&#123child.id&#125&#125" ng-disabled="!current || expired_review || child.review_type == 'monthly' || child.assigned_to" type="text" class="input-mini input-review" value="&#123&#123child.real&#125&#125" ng-model='child.real' ng-change="calculate_score(child)" placeholder="{% trans 'Actual result' %}" ng-model-options="{ updateOn: 'blur'}">

                                <i  class="fa fa-floppy-o" style="font-size: 17px; margin:5px;"></i>
                                <i ng-click="calculate_score(child)" class="fa fa-refresh kpi-refresh" style="font-size: 17px; margin:5px;"></i>

								<span tooltip ng-if="child.assigned_to" data-title="KPI đã được phân công nên bạn cần đánh gía tại trang đánh giá của nhân viên."><i class="icon-question-sign"></i></span>
								
								<span> &nbsp;
			            			<img src="{{ STATIC_URL}}img/csb/saving.gif" id="id_saving_kpi_&#123&#123child.id&#125&#125" style="display: none;">
									<img src="{{ STATIC_URL}}img/csb/tick.png" id="id_saved_kpi_&#123&#123child.id&#125&#125" style="display: none;">
			            		</span>

								<span class="right">&#123&#123show_score(child)&#125&#125</span>
							</div>
						</div>
						<div class="rate-bar">
                        	<div style="position: relative;">
                        		<a {% if organization.enable_drag_review %}{% if user.id == c_user.id %}draggable{% endif %}{% endif %} class="drag-marker" data-parent="&#123&#123kpi.id&#125&#125" data-type='kpi' data-id='&#123&#123child.id&#125&#125' ng-style="position(child.score,4.5,65)" data-postponed="&#123&#123kpi.is_postponed&#125&#125">
									<img src="{{ STATIC_URL }}img/csb/marker.png">
                        		</a>
<!--                         		<a ng-if="self && person.share_to_manager" class="drag-marker" style="cursor: default;display: none;z-index: 90;" title="Self rating" ng-style="position(child.self_score,5.4,65)"> -->
<!--                         			<img src="{{ STATIC_URL }}img/csb/self-marker.png"> -->
<!--                         		</a> -->

                        		<a tooltip ng-if="history" ng-repeat="hischild in child.histories" class="drag-marker" style="cursor: default;display: none;z-index: 90;" title="<div style='text-align:left'>{% trans 'Assessing manager' %}: &#123&#123hischild.manager&#125&#125</div><div style='text-align:left'>{% trans 'Assessment date' %}: &#123&#123hischild.quarter_period&#125&#125</div>" ng-style="position(hischild.score,4.5,65)">
                        			<img src="{{ STATIC_URL }}img/csb/his-marker.png">
                        		</a>

                        		<div class="progress-bar">
								</div>
								<div style="width: 615px;margin: 0 auto;">
									<span class="not-rate">{% trans "Not rate" %}</span>
								</div>
								<!--div>
									<div class="rate-level level-1">
{#										{% trans 'Below target' %}#}
                                        0%
									</div>														
									<div class="rate-level level-2">
{#										{% trans 'On target' %}#}
                                        50%
									</div>														
									<div class="rate-level level-3">
{#										{% trans 'High performance' %}#}
                                        100%
									</div>
									<div class="rate-level level-4">
{#										{% trans 'Exceptional performance' %}#}
                                        120%
									</div>
								</div-->
                        	</div>
                        </div>
                        <div class="clear"></div>
                        <div ng-controller="UploadFileCtrl" style="margin-top: 10px;">
							<div>
							    <hr style="margin: 20px 0 10px;"/>
							    <p style="font-weight: bold">{% trans "Notes, comments, reviews, improvements, suggestions ..." %}</p>

							    <ul class="kpi_notes" id="kpicomment&#123&#123child.unique_key&#125&#125">
							    	<li class="more-comments" ng-if="child.total_notes != child.notes.length">
                                   		<a ng-click="load_comments(child)" href="javascript:void(0)"><i class="fa fa-comments-o" style="margin: 5px 10px 0"></i> {% trans 'View' %} &#123&#123child.total_notes - 3&#125&#125 {% trans 'more comments' %}</a>&nbsp;<img src="{{ STATIC_URL }}img/cjet/loader1.gif" class="hide" id="loader-&#123&#123child.id&#125&#125">
                                   	</li>
						            <li ng-repeat="note in child.notes|orderBy:['-created_at']">
						                <div style="width: 45px;  float:left;">
						                    <img src="&#123&#123note.get_avatar&#125&#125"/>
						                </div>
						                <div class="note-content">
						                    <p style="color: #006dcc; font-weight: bold;">&#123&#123note.display_name&#125&#125 <span style="color: #bbb;margin-left: 20px;font-weight: normal;" timeago title="&#123&#123note.view_date&#125&#125"></span></p>
						                    <div style="white-space: pre-wrap;">&#123&#123note.content&#125&#125</div>
							                <div ng-if="note.file_url">
							                	<i class="fa fa-paperclip"></i>&nbsp;<a href="&#123&#123note.file_url&#125&#125">&#123&#123note.file_name&#125&#125</a> <a style="margin-left: 20px" href="javascript:void(0)" ng-click="view_doc(note)">{% trans 'View' %}</a>
							                </div>
						                </div>
						                <div class="clearfix"></div>
						            </li>
							    </ul>

							    <div style="margin-left: 25px;max-width: 590px;">
							        <textarea autosize
							                  id="kpicommenttext&#123&#123child.unique_key&#125&#125"
							                  class="comment-note"
							                  style="width: 577px;min-height: 30px" placeholder="Viết ghi chú của bạn..."></textarea>

							        <div class="progress progress-striped active" id="progress-&#123&#123child.unique_key&#125&#125" style="display: none;height: 10px;margin-bottom: 10px;">
										<div class="bar" style="width: 0%;"></div>
									</div>

									<div class="form-inline">
										<button ng-click="post_comment(child)" class="btn btn-success btn-small" style="margin-right: 10px">{% trans 'Save' %}</button>
										<label style="font-size: 12px;margin-top: -6px" id="confile-&#123&#123child.unique_key&#125&#125">
							        		<input type="file" ng-file-select="onFileSelect($files, child)" id="file-&#123&#123child.unique_key&#125&#125" style="width: 185px;font-size: 12px;margin-top: 6px;"> (< 1MB)
								        </label>
								        <div id="uploaded-file-&#123&#123child.unique_key&#125&#125" style="display: inline-block;">
								        </div>
								        <input type="hidden" name="&#123&#123child.unique_key&#125&#125" id="kpi-&#123&#123child.unique_key&#125&#125">
									</div>

							    </div>
							</div>

{#                        	<div ng-class="{note_columns:self && person.share_to_manager}">#}
{#                        		<p style="font-weight: bold">{% trans "Outcome notes (Manager)" %}</p>		#}
{#                                <div>#}
{#                                    <textarea autosize ng-model="child.outcome_notes" onchange="update_note(this,'&#123&#123child.id&#125&#125', '&#123&#123person.user_id&#125&#125',1)" class="comment-note" style="width: 603px;min-height: 70px">&#123&#123child.outcome_notes&#125&#125</textarea>#}
{#                                </div>#}
{#                        	</div>#}
{#                        	<div ng-class="{note_columns:self && person.share_to_manager}" style="display: none;margin-right: 0">#}
{#                        		<p style="font-weight: bold">{% trans "Outcome notes (Self)" %}</p>		#}
{#                                <div>#}
{#                                    <textarea autosize disabled="disabled" class="comment-note" rows="4" style="width: 603px;min-height: 70px">&#123&#123child.outcome_notes_self&#125&#125</textarea>#}
{#                                </div>#}
{#                        	</div>		                                    	#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        {% if organization.enable_bsc %}#}
        <div class="clearfix">
        	<div style="color: red;font-size: 11px;margin-left: 50px;" class="pull-left" ng-bind="count_kpi_no_review(kpi)"></div>
{#        	<div style="color: red;font-size: 11px" class="pull-right nowrap" ng-if="count_kpi_not_confirm(kpi) > 0"><span ng-bind="count_kpi_not_confirm(kpi)"></span> {% trans 'KPIs unconfirmed' %}</div>#}
        </div>
{#        {% endif %}#}
    </div>
</div>