<!--<p style="position: absolute;margin-top: 22px;color: #fff;font-size: 13px;font-family: 'Arial';width: 70px;text-align: center;">{{ brief_name }}</p> -->
{#<img src='{{ STATIC_URL }}img/csb/{% if active %}person.png{% else %}inactive-person.png{% endif %}' ondblclick="alert('{{ username }}')"><br>#}
<img class="img-circle team-member-avatar" src='{% if active %}{{ avatar }}{% else %}{{ STATIC_URL }}img/people/inactive-person.png{% endif %}' ondblclick="alert('{{ username }}')"><br>
<span style='{% if color %}color: {{ color }};{% else %}color: #000;{% endif %}line-height:15px;{% if not active %}text-decoration: line-through;{% endif %};'>{{ short_name|linebreaksbr }}</span>
