{% extends "performance/bsc/bsc_base.html" %}
{% load i18n kpi user_tags %}
{% block title %}Report{% endblock %}

{% block menubar %}
{% endblock %}

{% block landing %}

{% trans "KPI Statistic" as descTitle %}
{% trans "Data Reporting" as titlePage %}
{% include 'performance/nav_bar.html' with logoLink="img/csb/statisticIcon.png"|get_static %}

<style>
.center {
	text-align: center !important;
	vertical-align: middle !important;
	font-size: 18px;
}
.pane-contain {
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    height: 100%;
    background-color: #e3edf9;
}

.pane-contain {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #CCC;
	background: #fff;
	padding: 8px;
	padding-top: 28px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.75);
	box-shadow: 0 1px 5px rgba(0,0,0,.75);
}
tbody tr td {
	height: 50px;
	vertical-align: middle !important;
	font-size: 16px;
}
</style>
<div class="pane-contain" style="margin: 20px auto">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="center">{% trans 'Assessment review' %}<br> {% trans 'due date' %} {{ quarter_period.due_date|date:'d/m/Y' }}</th>
				<th class="center" style="background-color: rgb(58,165,195);color: #fff">{% trans 'Total KPIs' %}</th>
				<th class="center" style="background-color: rgb(64, 211, 60);color: #fff">{% trans 'Assigned KPIs' %}</th>
				<th class="center" style="background-color: rgb(58,165,195);color: #fff">{% trans 'KPI None-BSC (Others)' %}</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background-color: rgb(229,250,255)">
				<td>{% trans 'Number of KPIs' %}</td>
				<td>{{ kpis_count }}</td>
				<td>{{ assigned_kpis_count }}</td>
				<td>{{ other_kpis_count }}</td>
			</tr>
			<tr style="background-color: rgb(229,250,255)">
				<td>{% trans 'Reviewed KPI' %}</td>
				<td>{{ reviewed_kpis_count }} <strong>({{ reviewed_kpis_count|to_percent:kpis_count|floatformat:1 }}%)</strong></td>
				<td>{{ reviewed_assigned_kpis_count }} <strong>({{ reviewed_assigned_kpis_count|to_percent:assigned_kpis_count|floatformat:1 }}%)</td>
				<td>{{ reviewed_other_kpis_count }} <strong>({{ reviewed_other_kpis_count|to_percent:other_kpis_count|floatformat:1 }}%)</strong></td>
			</tr>
		</tbody>
	</table>
	<p>{% trans "Manager's average KPI" %}: <strong>{{ avg_kpi_manager }} (KPIs)</strong></p>
	<p>{% trans "Employee's average KPI" %}: <strong>{{ avg_kpi_employee }} (KPIs)</strong></p>
</div>
{% endblock %}