{% load i18n user_tags %}

<!DOCTYPE html >
    

<html ng-app="cloudjet">
    <head>   	
		

         <meta name="description" content="Cloudjet Business Solutions" />
         <meta name="keywords" content="Cloudjet Business Solutions " />
         {% include "modules/base_head3.html" %}
        <title>
            {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud{% endblock %}
    	</title>
    	
        <link rel="icon" href="{{ STATIC_URL}}favicon.ico"/>
        
		<script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
		
        {% block extra_css %}
    	{% endblock %}
    	<style type="text/css">
    		.user-thumb{
    			width: 36px;
    			height: 36px;
    			border-radius:50%;
    			border: 1px solid #D2D2D2
    		}
    		#header .nav > li > a .username{
   			  font-size: 14px;
  				font-weight: 300;
    		}
    		#header .navbar-brand>img {
    			height:32px;
			 	display: inline-block;
			}
			
			#container{
				background-color: #F5F5F5;
			}
			#header.navbar-inverse .navbar-nav>li>a{
				color:#fff;
			}
			#header.navbar-inverse .navbar-brand {
				color:#fff;
			}
			
			.dropdown-menu{
				  font-size: 12px;
			}
			#header .nav > li > a {
				color:#fff;
			}
			@media (max-width: 767px){
				.navbar-nav .open .dropdown-menu {
					  position: absolute;
					    float: left;
					      background-color: #fff;
					        border: 1px solid #ccc;
					  border: 1px solid rgba(0,0,0,.15);
					    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
					  box-shadow: 0 6px 12px rgba(0,0,0,.175);
				}
				/*
				.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
					  color: #fff;
					  background-color: #e5e5e5; 
				}
				.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
				  background-color: #e5e5e5;
				}
				*/
			}
   		</style>
    </head>
    
    <body>
    	<div id="container" >
    		<header id="header" class="navbar navbar-inverse navbar-static-top">
    			<div class="navbar-header">
    				<a type="button" id="button-menu" class="pull-left"><i class="fa fa-dedent fa-lg"></i></a>
    				
    				{% block logo %}
                        <a href="/" class="navbar-brand">
                            <img alt="{{ organization.name }}" src="{{ organization.get_logo }}" title="{{ organization.name }}">
                            <span class="hidden-xs hidden-sm">{{ organization.name }}</span>
                         </a>

	                {% endblock %}
	                
    				
		        </div>
    			
    			
    			<ul class="nav  pull-right">
    			
    				{% if user.is_authenticated %}
    				<li>
    					
                       <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                       		<img src="{{ user.get_profile.get_avatar }}" class="user-thumb" alt="{{ user.get_profile.display_name }}"> 
                       		<span class="hidden-xs hidden-sm"><strong class="username">{{ user.get_profile.display_name }}</strong></span>
                       </a>
                       <ul class="dropdown-menu dropdown-menu-right">
				        <li class="dropdown-header"><strong>{{ user.get_profile.display_name }}</strong></li>
		                <li><a href="/account/setting" target="_blank"><i class="fa fa-cog fa-lg"></i>  {% blocktrans %}Account Settings{% endblocktrans %}</a></li>
		                 <li class="divider"></li>
		                <li>
					    	<a href="/logout/">
					    		<i class="fa fa-sign-out fa-lg"></i>	
					    		<span class="">{% trans "Logout" %}</span>
					    	</a>
					    </li>
				      </ul>
                    </li>
                   
                    {% else %}
                    <li>
                    	<a href="/login/"><i class="fa fa-sign-in fa-lg"></i> {% trans "Login" %}</a>
                    </li>
                    {% endif %}
                    
				    
				 </ul>
    		</header>
    		
    		<div id="column-left" >
    			<ul id="menu">
				  <li id="dashboard" class="active open"><a href="#dashboard"><i class="fa fa-dashboard fa-fw"></i> <span>{% trans "Dashboard" %}</span></a></li>
				  <li id="team-KPI"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>{% blocktrans %}Team KPI{% endblocktrans %}</span></a>
				    <ul class="collapse">
				      <li><a href="/performance/current-goals/">{% blocktrans %}Current Goals{% endblocktrans %}</a></li>
				      <li><a href="/performance/strategy-map/2015/">{% blocktrans %}Strategy map{% endblocktrans %} 2015</a></li>
{#	REMOVE TÍNH NĂNG NÀY VÌ ÍT SỬ DỤNG và khó maintain 			      <li><a href="/performance/bsc/report/">{% blocktrans %}Data reporting{% endblocktrans %}</a></li>#}
				     </ul>
				  </li>
				  <li id="admin"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>{% trans "Admin" %}</span></a>
				    <ul class="collapse">
				      <li><a href="/performance/basic/">{% blocktrans %}Basic Setup{% endblocktrans %}</a></li>
{#				      <li><a href="/performance/core-value/">{% blocktrans %}Core Values{% endblocktrans %}</a></li>#}
				      <li><a href="/performance/people/">{% trans "People" %}</a></li>
				      <li><a href="/performance/schedule/">{% trans "Schedule" %}</a></li>
				     </ul>
				  </li>
				  <li id="timeline"><a class="" href="#timeline"><i class="fa fa-tags fa-fw"></i> <span>{% trans "Timeline" %}</span></a>
				    
				  </li>
{#			      <li id="review"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>{% trans "Review" %}</span></a>#}
{#				    <ul class="collapse">#}
{#				      <li><a href="/performance/team-performance/">{% blocktrans %}Team's performance reviews{% endblocktrans %}</a></li>#}
{#				      <li><a href="/performance/own-performance/">{% blocktrans %}Own performance{% endblocktrans %}</a></li>#}
{#				      <li><a href="/performance/360_invite/">{% blocktrans %}Complete 360 degree ratings requests{% endblocktrans %}</a></li>#}
{#				     </ul>#}
{#				  </li>#}
			      <li id="analytics"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>{% trans "Analytics" %}</span></a>
				    <ul class="collapse">
				      <li><a href="/performance/helicopter/">{% blocktrans %}Helicopter View{% endblocktrans %}</a></li>
				     </ul>
				  </li>
				  <li id="reports"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>{% trans "Reports" %}</span></a>
				    <ul class="collapse">
				      <li><a href="#goal-outcome">{% blocktrans %}Goals and Outcomes by person by round{% endblocktrans %}</a></li>
				      <li><a href="#self-assessment">{% blocktrans %}Self Assessment Review Status{% endblocktrans %}</a></li>
				      <li><a href="#list-score">{% blocktrans %}Employee List and Scores{% endblocktrans %}</a></li>
				      <li><a href="#dev-plan">{% blocktrans %}Dev Plan Contents by round{% endblocktrans %}</a></li>
{#				      <li><a href="/performance/activity-report/">{% blocktrans %}Activity report{% endblocktrans %}</a></li>#}
				      <li><a href="/performance/perform-reward/">{% blocktrans %}Perform & Reward{% endblocktrans %}</a></li>
				     </ul>
				  </li>

				</ul>
				<div id="stats">
				  <ul>
				    <li>
				      <div>{% blocktrans %}Orders Completed{% endblocktrans %} <span class="pull-right">9%</span></div>
				      <div class="progress">
				        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: 9%"> <span class="sr-only">9%</span> </div>
				      </div>
				    </li>
				    <li>
				      <div>{% blocktrans %}Orders Processing{% endblocktrans %} <span class="pull-right">0%</span></div>
				      <div class="progress">
				        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span> </div>
				      </div>
				    </li>
				    <li>
				      <div>{% blocktrans %}Other Statuses{% endblocktrans %} <span class="pull-right">91%</span></div>
				      <div class="progress">
				        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%"> <span class="sr-only">91%</span> </div>
				      </div>
				    </li>
				  </ul>
				</div>
    		</div>
    		
    		<div id="content">
    			{% block content %}{% endblock %}
    		</div>
    		
    	</div>
    	

		{% block landing %}{% endblock %}
		
		
          
			{% include "support.html" %}
    </body>
</html>