{% load i18n user_tags %}

<!DOCTYPE html >
    

<html ng-app="cloudjet">
    <head>   	


         <meta name="description" content="Cloudjet Business Solutions" />
         <meta name="keywords" content="Cloudjet Business Solutions " />
         {% include "modules/base_head3.html" %}
        <title>
            {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud{% endblock %}
        </title>

        <link rel="icon" href="{{ STATIC_URL}}favicon.ico"/>
        
        <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
        <!--
        <link rel="stylesheet" href="{{ STATIC_URL }}v1/css/kpi.css?mmm=1" type="text/css" />
         -->

        {% block extra_css %}
        {% endblock %}

    </head>
    
    <body>
        <div id="container" >
            <header id="header" class="navbar navbar-static-top">
                <div class="navbar-header">
                    <a type="button" id="button-menu" class="pull-left"><i class="fa fa-dedent fa-lg"></i></a>
                    <a href="#" class="navbar-brand">
                        <img src="http://mmo-s.com/admin/view/image/logo.png" alt="OpenCart" title="OpenCart">
                    </a>

                </div>


                <ul class="nav pull-right">
                    <li >
                        <a>
                            <i class="fa fa-bell fa-lg"></i>
                        </a>

                    </li>

                    <li><a href="http://mmo-s.com/admin/index.php?route=common/logout&amp;token=addd31b8f846296cbe050d06a3213957"><span class="hidden-xs hidden-sm hidden-md">Logout</span> <i class="fa fa-sign-out fa-lg"></i></a></li>
                  </ul>
            </header>

            <div id="column-left" >
                <ul id="menu">
  <li id="dashboard" class="active open"><a href="http://mmo-s.com/admin/index.php?route=common/dashboard&amp;token=5828da59e30ef2bafce6d4a3fe9756ce"><i class="fa fa-dashboard fa-fw"></i> <span>Dashboard</span></a></li>
  <li id="catalog"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>Catalog</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/category&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Categories</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/product&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Products</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/recurring&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Recurring Profiles</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/filter&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Filters</a></li>
      <li><a class="parent">Attributes</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=catalog/attribute&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Attributes</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=catalog/attribute_group&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Attribute Groups</a></li>
        </ul>
      </li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/option&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Options</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/manufacturer&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Manufacturers</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/download&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Downloads</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/review&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Reviews</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=catalog/information&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Information</a></li>
    </ul>
  </li>
  <li id="extension"><a class="parent"><i class="fa fa-puzzle-piece fa-fw"></i> <span>Extensions</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/installer&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Extension Installer</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/modification&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Modifications</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/module&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Modules</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/shipping&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Shipping</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/payment&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Payments</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/total&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Order Totals</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/feed&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Feeds</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=extension/fraud&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Anti-Fraud</a></li>
          </ul>
  </li>
  <li id="sale"><a class="parent"><i class="fa fa-shopping-cart fa-fw"></i> <span>Sales</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=sale/order&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Orders</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=sale/recurring&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Recurring Orders</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=sale/return&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Returns</a></li>
      <li><a class="parent">Customers</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/customer&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Customers</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/customer_group&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Customer Groups</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/custom_field&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Custom Fields</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/customer_ban_ip&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Banned IP</a></li>
        </ul>
      </li>
      <li><a class="parent">Gift Vouchers</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/voucher&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Gift Vouchers</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=sale/voucher_theme&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Voucher Themes</a></li>
        </ul>
      </li>
      <li><a class="parent">PayPal</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=payment/pp_express/search&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Search</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a class="parent"><i class="fa fa-share-alt fa-fw"></i> <span>Marketing</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=marketing/marketing&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Marketing</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=marketing/affiliate&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Affiliates</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=marketing/coupon&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Coupons</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=marketing/contact&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Mail</a></li>
    </ul>
  </li>
  <li id="system"><a class="parent"><i class="fa fa-cog fa-fw"></i> <span>System</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=setting/store&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Settings</a></li>
      <li><a class="parent">Design</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=design/layout&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Layouts</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=design/banner&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Banners</a></li>
        </ul>
      </li>
      <li><a class="parent">Users</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=user/user&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Users</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=user/user_permission&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">User Groups</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=user/api&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">API</a></li>
        </ul>
      </li>
      <li><a class="parent">Localisation</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/location&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Store Location</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/language&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Languages</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/currency&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Currencies</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/stock_status&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Stock Statuses</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/order_status&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Order Statuses</a></li>
          <li><a class="parent">Returns</a>
            <ul class="collapse">
              <li><a href="http://mmo-s.com/admin/index.php?route=localisation/return_status&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Return Statuses</a></li>
              <li><a href="http://mmo-s.com/admin/index.php?route=localisation/return_action&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Return Actions</a></li>
              <li><a href="http://mmo-s.com/admin/index.php?route=localisation/return_reason&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Return Reasons</a></li>
            </ul>
          </li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/country&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Countries</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/zone&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Zones</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/geo_zone&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Geo Zones</a></li>
          <li><a class="parent">Taxes</a>
            <ul class="collapse">
              <li><a href="http://mmo-s.com/admin/index.php?route=localisation/tax_class&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Tax Classes</a></li>
              <li><a href="http://mmo-s.com/admin/index.php?route=localisation/tax_rate&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Tax Rates</a></li>
            </ul>
          </li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/length_class&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Length Classes</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=localisation/weight_class&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Weight Classes</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="tools"><a class="parent"><i class="fa fa-wrench fa-fw"></i> <span>Tools</span></a>
    <ul class="collapse">
      <li><a href="http://mmo-s.com/admin/index.php?route=tool/upload&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Uploads</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=tool/backup&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Backup / Restore</a></li>
      <li><a href="http://mmo-s.com/admin/index.php?route=tool/error_log&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Error Logs</a></li>
    </ul>
  </li>
  <li id="reports"><a class="parent"><i class="fa fa-bar-chart-o fa-fw"></i> <span>Reports</span></a>
    <ul class="collapse">
      <li><a class="parent">Sales</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=report/sale_order&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Orders</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/sale_tax&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Tax</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/sale_shipping&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Shipping</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/sale_return&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Returns</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/sale_coupon&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Coupons</a></li>
        </ul>
      </li>
      <li><a class="parent">Products</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=report/product_viewed&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Viewed</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/product_purchased&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Purchased</a></li>
        </ul>
      </li>
      <li><a class="parent">Customers</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=report/customer_online&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Customers Online</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/customer_activity&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Customer Activity</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/customer_order&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Orders</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/customer_reward&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Reward Points</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/customer_credit&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Credit</a></li>
        </ul>
      </li>
      <li><a class="parent">Marketing</a>
        <ul class="collapse">
          <li><a href="http://mmo-s.com/admin/index.php?route=report/marketing&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Marketing</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/affiliate&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Affiliates</a></li>
          <li><a href="http://mmo-s.com/admin/index.php?route=report/affiliate_activity&amp;token=5828da59e30ef2bafce6d4a3fe9756ce">Affiliate Activity</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div id="stats">
  <ul>
    <li>
      <div>Orders Completed <span class="pull-right">9%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: 9%"> <span class="sr-only">9%</span> </div>
      </div>
    </li>
    <li>
      <div>Orders Processing <span class="pull-right">0%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span> </div>
      </div>
    </li>
    <li>
      <div>Other Statuses <span class="pull-right">91%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%"> <span class="sr-only">91%</span> </div>
      </div>
    </li>
  </ul>
</div>
            </div>

            <div id="content" style="background-color:yellow;">

            </div>

        </div>
        {% block menubar %}

        <div class="menu-bar">
            <div class="main">
                <div class="sm-menu">
                    <div class="sm-menu-left">
                        {% block logo %}
                                <a href="/"><img alt="{{ organization.name }}" src="{{ organization.get_logo }}"
                                     style="position: absolute;height: 50px;"></a>

                        {% endblock %}
                    </div>

                    <ul class='menu-items'>
                        {% if user.is_authenticated %}
                        <li class="item" style="position: relative;">
                            <a href="#" onclick="dropdownAccount('dropdown-acc');">
                                <img src="{{ user.get_profile.get_avatar }}" align="top" style="width:20px;height:20px">
                                {{ user.get_profile.display_name }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="dropdown-acc">
                                <li>
                                    <a href="/account/setting">Account Settings</a>
                                    <a href="/logout/">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="item" style="position: relative;">
                            <a href="/login/">Đăng nhập</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block landing %}{% endblock %}

        {% block content %}{% endblock %}
          
		{% include "support.html" %}
    </body>
</html>