{% load i18n user_tags %}
{% spaceless %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/html" ng-app="cloudjet">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="google-site-verification" content="3w2kLzj2FKMRGxdAcT114l4MtzqaGyWljVUl6EFxIFs"/>
        <meta property="fb:app_id" content="237235299740898"/>

        {% load tutor_extras %}
        {% show_tracking %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v={{ settings.VERSION }}" type="text/css"/>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css?v={{ settings.VERSION }}"
              type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css?v={{ settings.VERSION }}"
              type="text/css"/>


        {% block js %}

            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->

            <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
            <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-v2/boostrap.min.js?v={{ settings.VERSION }}20140924"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js?v={{ settings.VERSION }}20140924"></script>
            <script src="{{ STATIC_URL }}js/requestcenter.js?version={{ settings.VERSION }}" type="text/javascript"></script>

        {% endblock %}



        <meta name="description" content="Cloudjet Business Solutions"/>

        <meta name="keywords" content="Cloudjet Business Solutions "/>
        <title>
            {% block title %}{{ block.super }} | Cloudjet KPI  - Talent Management & Performance on Cloud{% endblock %}
        </title>
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico"/>
        <script type="text/javascript" src="{% url 'js_info_dict' %}"></script>
        {% block extra_css %}
        {% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}v1/css/kpi.css?version={{ settings.VERSION }}" type="text/css"/>


        {% include "common/pace.html" %}

        {% include "common/js-test.html" %}

    </head>
    <body  class="bg-sm" style="background-color: #e3edf9">

    {% include "fix_style_css.html" %}
    {% block menubar %}
        <div class="menu-bar">
            <div class="main">
                <div class="sm-menu">
                    <div class="sm-menu-left">
                        {% block logo %}
                            <a href="/"><img alt="{{ organization.name }}" src="{{ organization.get_logo }}"
                                             style="position: absolute;height: 50px;"></a>

                        {% endblock %}
                    </div>

                    <ul class='menu-items'>
                        {% if user.is_authenticated %}
                            <li class="item" style="position: relative;">
                                <a href="#" onclick="dropdownAccount('dropdown-acc');">
                                    <img src="{{ user.get_profile.get_avatar }}" align="top"
                                         style="width:20px;height:20px">
                                    {{ user.get_profile.display_name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" id="dropdown-acc">
                                    <li>
                                        <a href="/account/setting">{% blocktrans %}Account
                                            Settings{% endblocktrans %}</a>
                                        <a href="/logout/">{% blocktrans %}Sign Out{% endblocktrans %}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="item" style="position: relative;">
                                <a href="/login/">{% blocktrans %}Sign in{% endblocktrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block landing %}{% endblock %}
    <div class="main main-top" {% block style %}{% endblock %}>
        {% block content %}
        {% endblock %}
    </div>

    {% block master_footer %}
    {% endblock %}


    <!--<script src="{{ STATIC_URL }}videolb/jquery.tools.min.js?v={{ settings.VERSION }}20140417" type="text/javascript"></script>-->


    <script type="text/javascript">
        <!-- for dropdown menu -->
        $(document).mouseup(function (e) {
            var container = $("#dropdown-acc");
            if (container.has(e.target).length === 0) {
                container.hide();
            }
        });
    </script>
    {% include "support.html" %}
    {#    {% include "notifications/toastr.html" %}#}
    </body>
    </html>
{% endspaceless %}
