{% extends "performance/bsc/bsc_base.html" %}
{% load i18n %}
{% load kpi manage_tag %}
{% block title %}Strategy Map{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}easyui/themes/icon.css">
<script type="text/javascript" src="{{ STATIC_URL }}easyui/jquery.easyui.min.js"></script>
{% endblock %}
    	
{% block menubar %}
{% endblock %}

{% block landing %}
<div class="" ng-controller="KpiTreeController">
	<h2>Basic TreeGrid</h2>
    <p>TreeGrid allows you to expand or collapse group rows.</p>
    <div style="margin:20px 0;"></div>
    <table id="kpi-tree" title="KPI tree" class="easyui-treegrid" style="width:100%;height:500px;overflow: auto;">
		<thead frozen="true"> 
			<tr>
				<th field="name" editor="{type:'textbox'}" width="200">KPI</th>
			</tr>
		</thead>
		<thead>        	
        	<tr>
	            <th colspan="5">Q1/2015</th>
	            <th colspan="5">Q2/2015</th>
	            <th colspan="5">Q3/2015</th>
	            <th colspan="5">Q4/2015</th>
	            <th rowspan="2" data-options="field:'result',formatter:formatProgress" editor="{type:'numberbox'}" width="100" align="center">Year result</th>
	        </tr> 
            <tr>
                <th data-options="field:'user__profile__display_name'" width="100" editor="{type:'combobox',options:{valueField:'id',textField:'name',panelHeight:'auto','url': null,method:'post'}}">Assign to</th>
                <th data-options="field:'q1_operator'" width="50" editor="{type:'combobox',options:{valueField:'value',textField:'text',panelHeight:'auto',data: [{'value': '>=', 'text':'>='},{'value': '<=', 'text':'<='},{'value': '=', 'text':'='}]}}"></th>
                <th data-options="field:'q1_goal'" width="50" align="right" editor="{type:'numberbox'}">Goal</th>
                <th data-options="field:'q1_percent'," width="25" align="right" editor="{type:'numberbox'}">%</th>
                <th data-options="field:'q1_result',formatter:formatProgress" width="100" align="center">Result</th>
                
                <th data-options="field:'user__profile__display_name'" width="100">Assign to</th>
                <th data-options="field:'q2_operator'" width="50"></th>
                <th data-options="field:'q2_goal'" width="50" align="right">Goal</th>
                <th data-options="field:'q2_percent'" width="25" align="right">%</th>
                <th data-options="field:'q2_result',formatter:formatProgress" width="100" align="center">Result</th>
                
                <th data-options="field:'user__profile__display_name'" width="100">Assign to</th>
                <th data-options="field:'q3_operator'" width="50"></th>
                <th data-options="field:'q3_goal'" width="50" align="right">Goal</th>
                <th data-options="field:'q3_percent'" width="25" align="right">%</th>
                <th data-options="field:'q3_result',formatter:formatProgress" width="100" align="center">Result</th>
                
                <th data-options="field:'user__profile__display_name'" width="100">Assign to</th>
                <th data-options="field:'q4_operator'" width="50"></th>
                <th data-options="field:'q4_goal'" width="50" align="right">Goal</th>
                <th data-options="field:'q4_percent'" width="25" align="right">%</th>
                <th data-options="field:'q4_result',formatter:formatProgress" width="100" align="center">Result</th>
            </tr>
        </thead>
    </table>
    
    <div id="toolbar">
	    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" ng-click="add_row()">New</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" ng-click="edit_row()">Edit</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" ng-click="remove_row()">Destroy</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" ng-click="save_row()">Save</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" ng-click="cancel_row()">Cancel</a>
	</div>
</div>
<style>
.percent-str {
	position: absolute;
	left: 40%;
}
.combobox-item, .combobox-group {
	padding: 0;
}
</style>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>-->
<script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}v1/js/controllers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}v1/js/modules.js"></script>
<script type="text/javascript">
function formatProgress(value){
    if (value){
        var s = '<div class="progress" style="margin-bottom:0;position: relative;height: 16px;">' +
		        '<div class="bar" style="width: '+value+'%;"></div><span class="percent-str">'+value+'%<span></div>';
        return s;
    } else {
        return '';
    }
}
$('#kpi-tree').treegrid({
    url: "{% url 'kpi-tree' year %}",
    idField:'id',
    animate: true,
    striped: true,
    treeField:'name',
    resizeHandle: 'right',
    autoRowHeight: true,
    toolbar:"#toolbar",
    method: 'post',
    rownumbers: false,
    lines: true,
    singleSelect:true
});
</script>
{% endblock %}